﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12" data-bind="visible: Transaction.Product.Code != 'DB'">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span><br />
                    <b>Branch Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div><br />
            <div class="form-group">
                <div class="col-sm-12">

                    <div id="dataExcelRol" class="widget-box"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="ht_clone_top handsontable" style="position: static; top: 0px; left: 0px; overflow: hidden; width: 1290px; height: auto;">
                        <div id="dataExcelIM" class="wtHolder" style="position: relative; width: 1180px; height: auto;"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="ht_clone_top handsontable" style="position: static; top: 0px; left: 0px; overflow: hidden; width: 1290px; height: auto;">
                        <div id="dataExcelSS" class="wtHolder" style="position: relative; width: 1180px; height: auto;"></div>
                    </div>
                </div>
            </div>
            <div class="padding-4">
                <h3 class="header smaller lighter dark">Attachment</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>File Name</th>
                                <th>Purpose of Docs</th>
                                <th>Type of Docs</th>
                                <th>Modified</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.Documents, visible: $root.Documents().length > 0">
                            <tr>

                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><span data-bind="text: DocumentPath.name"></span></td>
                                <td><span data-bind="text: Purpose.Name"></span></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: moment(DocumentPath.lastModifiedDate).format(config.format.dateTime)"></span></td>
                                <td><a href="#" data-bind="click: $root.RemoveDocument">Remove</a></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.Documents().length == 0">
                            <tr>
                                <td colspan="6" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
            </div>

        </div>
    </div>
    <div class="col-xs-12" data-bind="visible: Transaction.Product.Code == 'DB'">
        <div id="transaction-form2" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-all"></label>

                <label class="col-sm-8 control-label bolder no-padding-right" for="product-code">Check All</label>

                <label class="col-sm-1">
                    <input name="check-all" id="check-all" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.CheckAll(), click: function(data) { $root.CheckAllData('TransactionLoanCheckerUnsettlement'); }" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group no-padding-bottom">
                <label class="col-sm-6 align-center">BranchName</label>
                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Customer.Branch.Name"></span>
                </label>

            </div>

            <div class="space-4"></div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Customer Name</label>

                <label class="col-sm-8">
                    <span data-bind="text: Transaction.Customer.Name"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Customer Name')">
                    <!--Verify()[0]-->
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">CIF</label>

                <label class="col-sm-8">
                    <span data-bind="text: Transaction.Customer.CIF"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('CIF')">
                    <!--Verify()[0]-->
                    <input name="check-chif" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Product</label>

                <label class="col-sm-8">
                    <span data-bind="text: Transaction.Product.Code"></span>
                    (<span data-bind="text: Transaction.Product.Name"></span>)
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Product')">
                    <!--Verify()[0]-->
                    <input name="check-product" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">IBG Segment</label>

                <label class="col-sm-8">
                    <span data-bind="text: Transaction.BizSegment.Description"></span>
                    (<span data-bind="text: Transaction.BizSegment.Name"></span>)
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Biz Segment')">
                    <!--Verify()[0]-->
                    <input name="check-product" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Transaction Currency</label>

                <label class="col-sm-8">
                    <span data-bind="text: Transaction.Currency.Code"></span>
                    (<span data-bind="text: Transaction.Currency.Description"></span>)
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Currency')">
                    <!--Verify()[0]-->
                    <input name="check-product" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Transaction Amount</label>

                <label class="col-sm-8">
                    <span data-bind="text: formatNumber_r(Transaction.Amount)"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Amount')">
                    <!--Verify()[0]-->
                    <input name="check-Amount" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">

                <label class="col-sm-3 control-label bolder no-padding-right">Channel</label>
                <label class="col-sm-8">
                    <span data-bind="text: Transaction.Channel.Name"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Channel')">
                    <!--Verify()[0]-->
                    <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Value Date</label>

                <label class="col-sm-8">
                    <span data-bind="text: $root.LocalDate(Transaction.ValueDate, true)"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Value Date')">
                    <!--Verify()[0]-->
                    <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>
            <!--templatemaster funding-->

            <div class="widget-box ui-sortable-handle">
                <div class="padding-4">
                    <h3 class="header smaller lighter dark">
                        Funding Memo

                    </h3>
                </div>
            </div>
            <div class="widget-box ui-sortable-handle">
                <div class="widget-header">
                    <h4 class="widget-title">I.CUSTOMER DETAILS</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Customer Name</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="CustomerFunding" name="CustomerFunding" data-bind="value: Disbursement.Customer.Name, enable:false" class=" col-sm-15" data-rule-required="true" data-rule-maxlength="50" />
                                    <label class="control-label bolder text-danger" for="Customer">*</label>
                                </div>
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2">
                                    <label>SOL ID</label>
                                </div>
                                <div class="col-md-3" data-rule-required="true" data-rule-maxlength="255">
                                    <input type="text" id="SolID" name="SolID" data-bind="value: Disbursement.SolID, enable:false" class="col-sm-10" data-rule-required="true" data-rule-maxlength="255" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Customer ID</label>
                                </div>
                                <div class="col-md-3" data-rule-required="true" data-rule-maxlength="50">
                                    <input type="text" id="CIF" name="CIF" data-bind="value: Disbursement.Customer.CIF, enable:false" class="col-sm-15" data-rule- maxlength="50" />
                                </div>
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-2">
                                    <label>Segment</label>
                                </div>
                                <div class="col-md-3" data-rule-required="true" data-rule-maxlength="255">
                                    <input type="text" id="BizSegment" name="BizSegment" class="col-sm-15" data-bind="value: Disbursement.BizName, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Customer Category</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="CustomerCategoryID" name="CustomerCategoryID" data-bind="value: Disbursement.CustomerCategoryID, enable:false" class="col-sm-15" data-rule-maxlength="50" />
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                </div>

                                <div class="col-md-3">
                                    <label>Program Type</label>
                                </div>
                                <div class="col-md-2" style="right:100px">
                                    <input type="text" id="CustomerCategoryID" name="CustomerCategoryID" data-bind="value: Disbursement.ProgramTypeName, enable:false" class="col-sm-15" data-rule-maxlength="50" />
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">

                                <div class="col-md-2">
                                    <label>Scheme Code:Finacle</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="CreditingOperative" name="CreditingOperative" class="col-sm-15" data-bind="value: Disbursement.FinacleSchemeCodeName, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Loan Type</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="CreditingOperative" name="CreditingOperative" class="col-sm-15" data-bind="value: Disbursement.LoanTypeName, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="LoanType">*</label>
                                </div>


                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label></label>
                                </div>
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-2">
                                    <label>IsAdhoc</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="checkbox" id="IsAdhoc" name="IsAdhoc" data-bind="value: Disbursement.IsAdhoc, enable:false" class="col-xs-10" data-rule-required="true" data-rule-maxlength="255" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>



            <div class="widget-box ui-sortable-handle">
                <div class="widget-header">
                    <h4 class="widget-title">II.LOAN DETAILS</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Amount Disburse</label>
                                </div>
                                <!--<div class="col-md-1">
                            <select id="AmountDisburseID" name="AmountDisburseID" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlLoanIDs, optionsText: 'AmountDisburseID', optionsValue: 'AmountDisburseID', optionsCaption: 'Please Select...', value: Disbursement.AmountDisburseID" disabled="disabled"></select>
                            <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="Amount">*</label>
                        </div>-->

                                <div class="col-md-4">
                                    <input type="text" id="CreditingOperative" name="CreditingOperative" class="col-sm-15" data-bind="value: Disbursement.transactionAmount, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="amouentdisburse">*</label>
                                </div>

                                <div class="col-md-2">
                                    <label>Crediting Operative/Office A/C ID</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="CreditingOperative" name="CreditingOperative" class="col-sm-15" data-bind="value: Disbursement.creditoperaitv, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label></label>
                                </div>
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-2">
                                    <label>Debiting Operative/office A/C(settlement)</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="DebitingOperative" name="DebitingOperative" class="col-sm-15" data-bind="value: Disbursement.debitingoperative, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="debitingoperative">*</label>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Value Date</label>
                                </div>
                                <div class="col-md-4">
                                    <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="ValueDate" name="ValueDate" data-bind="value: $root.LocalDate(Disbursement.ValueDateFun,true), enable:false" data-rule-required="true" data-rule-value="true" />
                                    <span><i class="icon-calendar bigger-110"></i></span>
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                </div>
                                <div class="col-md-2">
                                    <label>Maturity Date</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="MaturityDate" name="MaturityDate" data-bind="value: $root.LocalDate(Disbursement.MaturityDate,true), enable:false" data-rule-required="true" data-rule-value="true" />
                                    <span><i class="icon-calendar bigger-110"></i></span>
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="widget-box ui-sortable-handle">
                <div class="widget-header">
                    <h4 class="widget-title">III.INTEREST RATE</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Interest rate Code</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="DebitingOperative" name="DebitingOperative" class="col-sm-15" data-bind="value: Disbursement.interestname, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>

                                <div class="col-md-2">
                                    <label>Approve Margin AS Per Credit Memo</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="ApprovedMarginAsPerCM" name="ApprovedMarginAsPerCM" class="col-sm-15" data-bind="value: Disbursement.ApprovedMarginAsPerCM, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Base Rate</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="BaseRate" name="BaseRate" class="col-sm-12" data-bind="value: Disbursement.BaseRate, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="baserate">*</label>
                                </div>

                                <div class="col-md-2">
                                    <label>Special FTP</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="SpecialFTP" name="SpecialFTP" class="col-sm-15" data-bind="value: Disbursement.SpecialFTP, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Acc. Prefencial/Margin</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="AccountPreferencial" name="AccountPreferencial" class="col-sm-15" data-bind="value: Disbursement.AccountPreferencial, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="accountprefencial">*</label>
                                </div>

                                <div class="col-md-2">
                                    <label>Margin</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="Margin" name="Margin" class="col-sm-15" data-bind="value: Disbursement.Margin, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>All In Rate</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="AllInRate" name="AllInRate" class="col-sm-12" data-bind="value: Disbursement.AllInRate, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-2">
                                    <label>All In Special Rate</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="AllInSpecialRate" name="AllInSpecialRate" class="col-sm-12" data-bind="value: Disbursement.AllInSpecialRate, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Repricing Plan</label>
                                </div>
                                <!--<div class="col-md-4">
                            <select id="RepricingPlan" name="RepricingPlan"
                                    data-bind="value: Disbursement.RepricingPlanID,
                                        options: $root.ddlRepricings,
                                        optionsText: function(item) { if(item.RepricingPlanID != null) return item.RepricingPlanID + ' - (' +item.RepricingPlanName + ')'},
                                        optionsValue: 'RepricingPlanID',
                                        optionsCaption: 'Please Select...',
                                        event: { change: function(){ $root.PopulateSelected('CSOTASK', 'RepricingPlan'); } }"></select>
                            <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="RepricingPlan">*</label>
                        </div>-->
                                <div class="col-md-4">
                                    <input type="text" id="CreditingOperative" name="CreditingOperative" class="col-sm-15" data-bind="value: Disbursement.RepricingPlanID, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>


                                <div class="col-md-2">
                                    <label>Pegging Date</label>
                                </div>
                                <div class="col-md-4">
                                    <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="PeggingDate" name="PeggingDate" data-bind="value: $root.LocalDate(Disbursement.PeggingDate,true), enable:false" data-rule-required="true" data-rule-value="true" />
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label></label>
                                </div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-2">
                                    <label>Pegging Frequency</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="CreditingOperative" name="CreditingOperative" class="col-sm-15" data-bind="value: Disbursement.peggingname, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="peggingfrequency">*</label>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="widget-box ui-sortable-handle">
                <div class="widget-header">
                    <h4 class="widget-title">IV.REPAYMENT SCHEDULE</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Principal Start Date</label>
                                </div>
                                <div class="col-md-4">
                                    <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="PrincipalStartDate" name="PrincipalStartDate" data-bind="value: $root.LocalDate(Disbursement.PrincipalStartDate,true), enable:false" data-rule-required="true" data-rule-value="true" />
                                    <span><i class="icon-calendar bigger-110"></i></span>
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                </div>

                                <div class="col-md-2">
                                    <label>Principal Frequency</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="CreditingOperative" name="CreditingOperative" class="col-sm-15" data-bind="value: Disbursement.peggingname, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="principalfrequency">*</label>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Interest Start Date</label>
                                </div>
                                <div class="col-md-4">
                                    <input disabled="disabled" class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="InterestStartDate" name="InterestStartDate" data-bind="value: $root.LocalDate(Disbursement.InterestStartDate,true), enable:false" data-rule-required="true" data-rule-value="true" />
                                    <span><i class="icon-calendar bigger-110"></i></span>
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                </div>

                                <div class="col-md-2">
                                    <label>Interest Frequency</label>
                                </div>
                                <!--<div class="col-md-3">
                            <select id="InterestFrequency" name="InterestFrequency"
                                    data-bind="value: Disbursement.InterestFrequency.InterestFrequencyID,
                                        options: $root.ddlFrequencys,
                                        optionsText: function(item) { if(item.PeggingFrequencyID != null) return item.PeggingFrequencyID + ' - (' +item.PeggingFrequencyName + ')'},
                                        optionsValue: 'PeggingFrequencyID',
                                        optionsCaption: 'Please Select...',

                                        event: { change: function(){ $root.PopulateSelected('CSOTASK', 'Frequency'); } }"></select>

                        </div>-->
                                <div class="col-md-3">
                                    <input type="text" id="NoOfInstallment" name="NoOfInstallment" class="col-xs-10" data-bind="value: Disbursement.InterestFrequencyID, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>No Of Installment</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="NoOfInstallment" name="NoOfInstallment" class="col-xs-10" data-bind="value: Disbursement.NoOfInstallment, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>

                                <div class="col-md-3">

                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="widget-box ui-sortable-handle">
                <div class="widget-header">
                    <h4 class="widget-title">V.LIMIT</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Limit ID in Fin 10</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="LimitIDinFin10" name="LimitIDinFin10" class="col-sm-12" data-bind="value: Disbursement.LimitIDinFin10, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="limitidinfin10">*</label>
                                </div>

                                <div class="col-md-2">
                                    <label>Sanction Limit</label>
                                </div>
                                <!--<div class="col-md-1" style="right:30px">
                            <select id="SanctionLimitCurrID" name="SanctionLimitCurrID"
                                    data-bind="value: $root.Selected().SanctionLimitCurrID,
                                        options: $root.ddlSanctionLimitCurrIDs,
                                        optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' +item.Code + ')'},
                                        optionsValue: 'ID',
                                        optionsCaption: 'Please Select...',
                                        event: { change: function(){ $root.PopulateSelected('CSOTASK', 'SanctionLimitCurrID'); } }"></select>

                        </div>-->
                                <div class="col-md-2">
                                    <input type="text" id="SanctionLimitAmount" name="SanctionLimitAmount" class="col-xs-11" data-bind="value: Disbursement.SanctionLimit, enable:false" data-rule-required="true" data-rule-maxlength="255" />


                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Limit Expire Date</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="LimitExpiryDate" name="LimitExpiryDate" data-bind="value: $root.LocalDate(Disbursement.LimitExpiryDate,true), enable:false" data-rule-required="true" data-rule-value="true" />
                                    <span><i class="icon-calendar bigger-110"></i></span>
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="LimitExpiryDate">*</label>
                                </div>

                                <div class="col-md-2">
                                    <label>Utilisation</label>
                                </div>
                                <!--<div class="col-md-1" style="right:30px">
                            <select id="utilization" name="utilization"
                                    data-bind="value: $root.Selected().utilization,
                                        options: $root.ddlUtilizationCurrIDs,
                                        optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' +item.Code + ')'},
                                        optionsValue: 'ID',
                                        optionsCaption: 'Please Select...',
                                        event: { change: function(){ $root.PopulateSelected('CSOTASK', 'utilization'); } }"></select>
                        </div>-->
                                <div class="col-md-2">
                                    <input type="text" id="utilizationAmount" name="utilizationAmount" class="col-sm-15" data-bind="value: Disbursement.utilization, enable:false" data-rule-required="true" data-rule-maxlength="255" />


                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label></label>
                                </div>
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-2">
                                    <label>Outstanding</label>
                                </div>
                                <!--<div class="col-md-1" style="right:30px">
                            <select id="Outstanding" name="Outstanding"
                                    data-bind="value:  $root.Selected().Outstanding,
                                        options: $root.ddlOutstandingCurrIDs,
                                        optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' +item.Code + ')'},
                                        optionsValue: 'ID',
                                        optionsCaption: 'Please Select...',

                                        event: { change: function(){ $root.PopulateSelected('CSOTASK', 'Outstanding'); } }"></select>

                        </div>-->

                                <div class="col-md-2">
                                    <input type="text" id="OutstandingAmount" name="OutstandingAmount" class="col-sm-15" data-bind="value: Disbursement.Outstanding, enable:false"
                                           data-rule-required="true" data-rule-maxlength="255" />

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="widget-box ui-sortable-handle">
                <div class="widget-header">
                    <h4 class="widget-title">VI.CONTACT DETAIL</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>CSO Name</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="CSOName" name="CSOName" class="col-sm-15" data-bind="value: Disbursement.CSOName, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>
                                <div class="col-md-1" style="right:120px">

                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="widget-box ui-sortable-handle">
                <div class="widget-header">
                    <h4 class="widget-title">VII.Required Approval Based On DOA</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main" style="height: 150px">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="text" id="Employee" name="Employee" data-bind="value: Disbursement.DoaName, enable:false" class="col-sm-15" data-rule-required="true" data-rule-maxlength="255" disabled="disabled" style="width:1110px;height:120px" />
                                </div>
                                <div class="col-md-1" style="right:120px">

                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="space-16"></div>
                <div class="padding-4" data-bind="visible: Transaction.Product.Code != 'DB'">
                    <h4 class=" header smaller lighter dark">
                        Worksheet
                    </h4>
                    <div class="hr hr8 hr-double"></div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div id="dataExcelIM" class="widget-box"></div>
                            <div id="dataExcelRol" class="widget-box"></div>
                            <div id="dataExcelSS" class="widget-box"></div>
                        </div>
                    </div>
                </div>
                <div class="space-16"></div>
                <!-- Attachment -->
                <div class="padding-4">
                    <h3 class="header smaller lighter dark">Worksheet</h3>
                    <div class="dataTables_wrapper" role="grid" data-bind="visible: LoanRollover.length > 0">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th> No</th>
                                    <th> SOL ID</th>
                                    <th> Scheme Code</th>
                                    <th> CIF</th>
                                    <th> Customer Name</th>
                                    <th> Loan Contract No</th>
                                    <th> Due Date</th>
                                    <th> CCY</th>
                                    <th> Amount Due</th>
                                    <th> Limit ID</th>
                                    <th> IBG Segment</th>
                                    <th> RM</th>
                                    <th> CSO</th>
                                    <th> Cashback or SBLC Secured</th>
                                    <th> PLP or Heavy Equipment</th>
                                    <th> Maintenance Type</th>
                                    <th> Amount Roll Over</th>
                                    <th> Next Principal Date</th>
                                    <th> Next Interest Date</th>
                                    <th> Approved Margin As Per Credit Memo</th>
                                    <th> Interest Rate Code</th>
                                    <th> Regular Rate Base Rate</th>
                                    <th> Regular Rate All-In LP</th>
                                    <th> Regular Rate All-In FTP Rate</th>
                                    <th> Regular Rate Acc Pref</th>
                                    <th> Special Rate Spesical FTP</th>
                                    <th> Special Rate Margin</th>
                                    <th> All In Rate</th>
                                    <th> Required Approval Based On DOA</th>
                                    <th> Approved By</th>
                                    <th> Remark</th>
                                    <th> Need Adhoc</th>

                                </tr>
                            </thead>
                            <tbody data-bind="foreach: LoanRollover">
                                <tr>
                                    <td><span data-bind="text: $index() +1"></span></td>
                                    <td><span data-bind="text:  SOLID"></span></td>
                                    <td><span data-bind="text:  SchemeCode"></span></td>
                                    <td><span data-bind="text:  CIF"></span></td>
                                    <td><span data-bind="text:  CustomerName"></span></td>
                                    <td><span data-bind="text:  LoanContractNo"></span></td>
                                    <td><span data-bind="text:  DueDate"></span></td>
                                    <td><span data-bind="text:  Currency"></span></td>
                                    <td><span data-bind="text:  AmountDue"></span></td>
                                    <td><span data-bind="text:  LimitID"></span></td>
                                    <td><span data-bind="text:  BizSegment.Name"></span></td>
                                    <td><span data-bind="text:  RM.EmployeeName"></span></td>
                                    <td><span data-bind="text:  CSO"></span></td>
                                    <td><span data-bind="text:  IsSBLCSecured? 'Yes' : 'No'"></span></td>
                                    <td><span data-bind="text:  IsHeavyEquipment? 'Yes' : 'No'"></span></td>
                                    <td><span data-bind="text:  MaintenanceTypeID"></span></td>
                                    <td><span data-bind="text:  AmountRollover"></span></td>
                                    <td><span data-bind="text:  $root.LocalDate(NextPrincipalDate)"></span></td>
                                    <td><span data-bind="text:  $root.LocalDate(NextInterestDate)"></span></td>
                                    <td><span data-bind="text:  ApprovedMarginAsPerCM"></span></td>
                                    <td><span data-bind="text:  InterestRateCodeID"></span></td>
                                    <td><span data-bind="text:  BaseRate"></span></td>
                                    <td><span data-bind="text:  AllInLP"></span></td>
                                    <td><span data-bind="text:  AllInFTPRate"></span></td>
                                    <td><span data-bind="text:  AccountPreferencial"></span></td>
                                    <td><span data-bind="text:  SpecialFTP"></span></td>
                                    <td><span data-bind="text:  SpecialRateMargin"></span></td>
                                    <td><span data-bind="text:  AllInrate"></span></td>
                                    <td><span data-bind="text:  ApprovalDOA"></span></td>
                                    <td><span data-bind="text:  ApprovedBy"></span></td>
                                    <td><span data-bind="text:  Remarks"></span></td>
                                    <td><span data-bind="text:  IsAdhoc? 'Yes' : 'No'"></span></td>
                                </tr>
                            </tbody>
                            <tbody data-bind="visible: LoanRollover.length == 0">
                                <tr>
                                    <td colspan="13" class="text-center">
                                        No entries available.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="dataTables_wrapper" role="grid" data-bind="visible: LoanIM.length > 0">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>  No</th>
                                    <th>  SOL ID</th>
                                    <th>  Scheme Code</th>
                                    <th>  CIF</th>
                                    <th>  Customer Name</th>
                                    <th>  Loan Contract No</th>
                                    <th>  Due Date</th>
                                    <th>  CCY</th>
                                    <th>  Previous Interest Rate</th>
                                    <th>  Current Interest Rate</th>
                                    <th>  IBG Segment(for IBG 3&4 Only)</th>
                                    <th>  RM</th>
                                    <th>  CSO</th>
                                    <th>  Cashback or SBLC Secured?</th>
                                    <th>  PLP or Heavy Equipment(for IBG 3&4 Only)</th>
                                    <th>  Maintenance Type</th>
                                    <th>  Next Principal Date</th>
                                    <th>  Next Interest Date</th>
                                    <th>  Approved Margin AsPer Credit Memo</th>
                                    <th>  Interest Rate Code</th>
                                    <th>  Regular Base Rate</th>
                                    <th>  Regular All-In LP</th>
                                    <th>  Regular All-In FTP Rate</th>
                                    <th>  Regular Acc Pref</th>
                                    <th>  Special Rate Special FTP</th>
                                    <th>  Special Rate Margin</th>
                                    <th>  All In Rate</th>
                                    <th>  Required Approval Based On DOA</th>
                                    <th>  Approved By</th>
                                    <th>  Remark</th>

                                </tr>
                            </thead>
                            <tbody data-bind="foreach: LoanIM">
                                <tr>
                                    <td><span data-bind="text:  $index() +1"></span></td>
                                    <td><span data-bind="text:  SolID"></span></td>
                                    <td><span data-bind="text:  SchemeCode"></span></td>
                                    <td><span data-bind="text:  CIF"></span></td>
                                    <td><span data-bind="text:  CustomerName"></span></td>
                                    <td><span data-bind="text:  LoanContractNo"></span></td>
                                    <td><span data-bind="text:  DueDate"></span></td>
                                    <td><span data-bind="text:  CurrencyCode"></span></td>
                                    <td><span data-bind="text:  PreviousInterestRate"></span></td>
                                    <td><span data-bind="text:  CurrentInterestRate"></span></td>
                                    <td><span data-bind="text:  BizSegmentName"></span></td>
                                    <td><span data-bind="text:  EmployeeName"></span></td>
                                    <td><span data-bind="text:  CSO"></span></td>
                                    <td><span data-bind="text:  IsSBLCSecured? 'Yes' : 'No'"></span></td>
                                    <td><span data-bind="text:  IsHeavyEquipment? 'Yes' : 'No'"></span></td>
                                    <td><span data-bind="text:  MaintenanceTypeID"></span></td>
                                    <td><span data-bind="text:  $root.LocalDate(NextPrincipalDate)"></span></td>
                                    <td><span data-bind="text:  $root.LocalDate(NextInterestDate)"></span></td>
                                    <td><span data-bind="text:  ApprovedMarginAsPerCM"></span></td>
                                    <td><span data-bind="text:  InterestRateCodeID"></span></td>
                                    <td><span data-bind="text:  BaseRate"></span></td>
                                    <td><span data-bind="text:  AllinRate"></span></td>
                                    <td><span data-bind="text:  AllinFTPRate"></span></td>
                                    <td><span data-bind="text:  AccountPreferencial"></span></td>
                                    <td><span data-bind="text:  SpecialFTP"></span></td>
                                    <td><span data-bind="text:  SpecialRate"></span></td>
                                    <td><span data-bind="text:  AllinLP"></span></td>
                                    <td><span data-bind="text:  ApprovalDOA"></span></td>
                                    <td><span data-bind="text:  ApprovedBy"></span></td>
                                    <td><span data-bind="text:  Remarks"></span></td>

                                </tr>
                            </tbody>
                            <tbody data-bind="visible: LoanIM.length == 0">
                                <tr>
                                    <td colspan="13" class="text-center">
                                        No entries available.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="space-16"></div>
                <!-- Attachment -->
                <div class="padding-4">
                    <h3 class="header smaller lighter dark">Attachment</h3>
                    <div class="dataTables_wrapper" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>File Name</th>
                                    <th>Purpose of Docs</th>
                                    <th>Type of Docs</th>
                                    <th>Modified</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: Transaction.Documents,visible: Transaction.Documents.length > 0">
                                <tr>
                                    <td><span data-bind="text: $index() +1"></span></td>
                                    <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                                    <td><span data-bind="text: Purpose.Name"></span></td>
                                    <td><span data-bind="text: Type.Name"></span></td>
                                    <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                                </tr>
                            </tbody>
                            <tbody data-bind="visible: Transaction.Documents.length == 0">
                                <tr>
                                    <td colspan="13" class="text-center">
                                        No entries available.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--Start Body Funding Memo-->
            <!--End Body Funding Memo-->
        </div>
    </div>
</div>