﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form2" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group no-padding-bottom">
                <label class="col-sm-6 align-center">BranchName</label>
                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Customer.Branch.Name"></span>
                </label>

            </div>

            <div class="space-4"></div>


            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Customer Name</label>
                <label class="col-sm-4">
                    <!--<span data-bind="text: Transaction.Customer.Name,enable: !$root.VerifyColumn('Customer Name')().IsVerified"></span>-->
                    <input type="text" autocomplete="off" class="col-sm-12" name="customer-name" id="customer-name" data-rule-required="true" data-bind="value: Transaction.Customer.Name, enable: !$root.VerifyColumn('Customer Name')().IsVerified" />
                </label>

                <label id="CheckCust" class="col-sm-1" data-bind="with: $root.VerifyColumn('Customer Name')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">CIF</label>

                <label class="col-sm-4">
                    <!--<span data-bind="text: Transaction.Customer.CIF"></span>-->
                    <input type="text" autocomplete="off" class="col-sm-12" name="cif" id="cif" data-rule-required="true" data-bind="value: Transaction.Customer.CIF, enable: !$root.VerifyColumn('CIF')().IsVerified" />
                </label>

                <label id="CheckCIF" class="col-sm-1" data-bind="with: $root.VerifyColumn('CIF')">
                    <input name="check-cif" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">

                <label class="col-sm-3 control-label bolder no-padding-right">Product</label>

                <label class="col-sm-4">
                    <select class="col-sm-11" id="Product" name="Product" class="col-sm-11"
                            data-bind="options: $root.Products,
                                    enable: !$root.VerifyColumn('Product')().IsVerified,
                                    optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().Product,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionCBOFromBranch', 'ProductType'); } }"></select>
                </label>

                <label id="CheckProduct" class="col-sm-1" data-bind="with: $root.VerifyColumn('Product')">
                    <input name="check-product" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">

                <label class="col-sm-3 control-label bolder no-padding-right">Request Type</label>

                <label class="col-sm-4">
                    <select class="col-sm-11" id="RequestType" name="RequestType" class="col-sm-11"
                            data-bind="options: $root.ddlTransactionTypes,
                                    enable: !$root.VerifyColumn('Request Type')().IsVerified,
                                    optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().TransactionType,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionCBOFromBranch', 'RequestType'); } }"></select>
                </label>

                <label id="CheckReqType" class="col-sm-1" data-bind="with: $root.VerifyColumn('Request Type')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>

            <div id="lblmaintenanceid" class="form-group form-line no-margin-bottom no-padding-bottom">

                <label class="col-sm-3 control-label bolder no-padding-right">Maintenance Type</label>

                <label class="col-sm-4">
                    <select class="col-sm-11" id="MaintenanceType" name="MaintenanceType" class="col-sm-11"
                            data-bind="options: $root.ddlMaintenanceTypes,
                                    enable: !$root.VerifyColumn('Maintenance Type')().IsVerified,
                                    optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().MaintenanceType,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionCBOFromBranch', 'MaintenanceType'); } }"></select>
                </label>

                <label id="CheckMaintenanceType" class="col-sm-1" data-bind="with: $root.VerifyColumn('Maintenance Type')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>

            <div id="lblStaffID" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:false">
                <label class="col-sm-3 control-label bolder no-padding-right">Staff ID</label>

                <label class="col-sm-4">
                    <!--<span data-bind="text: Transaction.Customer.POAName"></span>-->
                    <input type="text" autocomplete="off" class="col-sm-12" name="staff" id="staff" data-rule-required="true" data-bind="value: Transaction.Customer.POAName, enable: !$root.VerifyColumn('Staff')().IsVerified" />
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Staff')">
                    <input name="check-cif" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div id="lblBranchID" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:false">
                <label class="col-sm-3 control-label bolder no-padding-right">Branch</label>

                <label class="col-sm-4">
                    <!--<span data-bind="text: Transaction.Customer.Branch.Name"></span>-->
                    <input type="text" autocomplete="off" class="col-sm-12" name="branch" id="branch" data-rule-required="true" data-bind="value: Transaction.Customer.Branch.Name, enable: !$root.VerifyColumn('Branch')().IsVerified" />
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Branch')">
                    <input name="check-cif" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div id="lblReportDate" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:false">
                <label class="col-sm-3 control-label bolder no-padding-right">Report Date</label>

                <label class="col-sm-4">
                    <!--<span data-bind="text: $root.LocalDate(Transaction.ApplicationDate, true)"></span>-->
                    <input type="text" autocomplete="off" class="col-sm-12" name="reportdate" id="reportdate" data-rule-required="true" data-bind="value: Transaction.ApplicationDate, enable: !$root.VerifyColumn('Report Date')().IsVerified" />
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Report Date')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>

            <div id="lblNextReportDate" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:false">
                <label class="col-sm-3 control-label bolder no-padding-right">Next Report Date</label>
                <label class="col-sm-4">
                    <!--<span data-bind="text: $root.LocalDate(Transaction.ApplicationDate, true)"></span>-->
                    <input type="text" autocomplete="off" class="col-sm-12" name="nextrptdate" id="nextrptdate" data-rule-required="true" data-bind="value: $root.LocalDate(Transaction.ApplicationDate, true), enable: !$root.VerifyColumn('Next Report Date')().IsVerified" />
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Next Report Date')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div id="lblATMNumber" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:false">
                <label class="col-sm-3 control-label bolder no-padding-right">ATM Number</label>
                <label class="col-sm-4">
                    <!--<span data-bind="text: Transaction.Account.AccountNumber"></span>-->
                    <input type="text" autocomplete="off" class="col-sm-12" name="nextrptdate" id="nextrptdate" data-rule-required="true" data-bind="value: Transaction.Account.AccountNumber, enable: !$root.VerifyColumn('ATM')().IsVerified" />
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('ATM')">
                    <input name="check-cif" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>


            <div id="lblPengkinianData" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:false">

                <div id="lblInformationType" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">Information Type</label>
                    <label class="col-sm-3">
                        <input type="checkbox" id="isNameMaintenance" name="isNameMaintenance" data-bind="checked:false">Nama</span>
                    </label>

                    <label class="col-sm-3">
                        <input type="checkbox" id="IsIdentityTypeMaintenance" name="IsIdentityTypeMaintenance" data-bind="checked:false">JenisIdentitas</span>
                    </label>
                    <label class="col-sm-2">
                        <input type="checkbox" id="IsNPWPMaintenance" name="IsNPWPMaintenance" data-bind="checked:false">NPWP</span>
                    </label>

                    <label class="col-sm-3"></label>
                    <label class="col-sm-3">
                        <input type="checkbox" id="IsMaritalStatusMaintenance" name="IsMaritalStatusMaintenance" data-bind="checked:false">StatusPerkawinan</span>
                    </label>
                    <label class="col-sm-3">
                        <input type="checkbox" id="IsCorrespondenceMaintenance" name="IsCorrespondenceMaintenance" data-bind="checked:false">Korespondensi</span>
                    </label>
                    <label class="col-sm-2">
                        <input type="checkbox" id="IsIdentityAddressMaintenance" name="IsIdentityAddressMaintenance" data-bind="checked:false">AlamatSesuaiIdentitas</span>
                    </label>

                    <label class="col-sm-3"></label>
                    <label class="col-sm-3">
                        <input type="checkbox" id="IsOfficeAddressMaintenance" name="IsOfficeAddressMaintenance" data-bind="checked:false">AlamatKantor</span>
                    </label>
                    <label class="col-sm-3">
                        <input type="checkbox" id="IsCorrespondenseAddressMaintenance" name="IsCorrespondenseAddressMaintenance" data-bind="checked:false">AlamatSuratMeyurat</span>
                    </label>
                    <label class="col-sm-2">
                        <input type="checkbox" id="IsPhoneFaxEmailMaintenance" name="IsPhoneFaxEmailMaintenance" data-bind="checked:false">No Telp,Fax,Email</span>
                    </label>

                    <label class="col-sm-3"></label>
                    <label class="col-sm-3">
                        <input type="checkbox" id="IsNationalityMaintenance" name="IsNationalityMaintenance" data-bind="checked:false">Kewarganegaraan</span>
                    </label>
                    <label class="col-sm-3">
                        <input type="checkbox" id="IsFundSourceMaintenance" name="IsFundSourceMaintenance" data-bind="checked:false">SumberDana</span>
                    </label>
                    <label class="col-sm-2">
                        <input type="checkbox" id="IsNetAssetMaintenance" name="IsNetAssetMaintenance" data-bind="checked:false">PerkiraanAsetBersih</span>
                    </label>

                    <label class="col-sm-3"></label>
                    <label class="col-sm-3">
                        <input type="checkbox" id="IsMonthlyIncomeMaintenance" name="IsMonthlyIncomeMaintenance" data-bind="checked:false">PendapatanBulanan</span>
                    </label>
                    <label class="col-sm-3">
                        <input type="checkbox" id="IsJobMaintenance" name="IsJobMaintenance" data-bind="checked:false">Pekerjaan</span>
                    </label>
                    <label class="col-sm-2">
                        <input type="checkbox" id="IsAccountPurposeMaintenance" name="IsAccountPurposeMaintenance" data-bind="checked:false">TujuanPembukaanRek</span>
                    </label>

                    <label class="col-sm-3"></label>
                    <label class="col-sm-3">
                        <input type="checkbox" id="MonthlyIncome" name="MonthlyIncome" data-bind="checked:false">PerkiraanTranPerBln</span>
                    </label>
                </div>

                <div id="lblNama" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">Nama</label>
                    <label class="col-sm-4">
                        <!--<span data-bind="text: Transaction.RetailCIFCBO.Name"></span>-->
                        <input type="text" autocomplete="off" class="col-sm-12" name="nama" id="nama" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.Name, enable: !$root.VerifyColumn('Nama')().IsVerified" />

                    </label>
                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Nama')">
                        <input name="check-cif" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>

                <!--<div id="lblIdentityTypeID" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">JenisIdentitas</label>
                    <label class="col-sm-4">
                        <span data-bind="text: Transaction.RetailCIFCBO.IdentityTypeID"></span>
                    </label>
                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('ATM')">
                        <input name="check-cif" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>-->

                <div id="lblNetAsset" class="form-group form-line no-margin-bottom no-padding-bottom">

                    <label class="col-sm-3 control-label bolder no-padding-right">JenisIdentitas</label>

                    <label class="col-sm-4">
                        <select class="col-sm-11" id="CIFJENISIDENTITAS" name="CIFJENISIDENTITAS" class="col-sm-11" disabled="disabled"
                                data-bind="options: $root.ddlCIFJENISIDENTITAS,
                                    optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().CIFJENISIDENTITAS,
                                    optionsCaption: 'Please Select...'"></select>
                    </label>

                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Jenis Identitas')">
                        <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>

                </div>

                <div id="lblIdentityNumber" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">NomorIdentitas</label>
                    <label class="col-sm-4">
                        <!--<span data-bind="text: Transaction.RetailCIFCBO.IdentityNumber"></span>-->
                        <input type="text" autocomplete="off" class="col-sm-12" name="noidentitas" id="noidentitas" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.IdentityNumber, enable: !$root.VerifyColumn('Nomor Identitas')().IsVerified" />
                    </label>
                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Nomor Identitas')">
                        <input name="check-cif" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>

                <div id="lblIdentityStartDate" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:false">
                    <label class="col-sm-3 control-label bolder no-padding-right">Tanggal Dikeluarkan</label>

                    <label class="col-sm-4">
                        <!--<span data-bind="text: $root.LocalDate(Transaction.RetailCIFCBO.IdentityStartDate, true)"></span>-->
                        <input type="text" autocomplete="off" class="col-sm-12" name="tglkeluarkan" id="tglkeluarkan" data-rule-required="true" data-bind="value: $root.LocalDate(Transaction.RetailCIFCBO.IdentityStartDate, true), enable: !$root.VerifyColumn('Tanggal Dikeluarkan')().IsVerified" />
                    </label>
                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Tanggal Dikeluarkan')">
                        <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>

                </div>

                <div id="lblIdentityEndDate" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">Tanggal Berakhir</label>

                    <label class="col-sm-4">
                        <!--<span data-bind="text: $root.LocalDate(Transaction.RetailCIFCBO.IdentityEndDate, true)"></span>-->
                        <input type="text" autocomplete="off" class="col-sm-12" name="tglakhir" id="tglakhir" data-rule-required="true" data-bind="value: $root.LocalDate(Transaction.RetailCIFCBO.IdentityEndDate, true), enable: !$root.VerifyColumn('Tanggal Berakhir')().IsVerified" />
                    </label>
                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Tanggal Berakhir')">
                        <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>

                <div id="lblIdentityAddress" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">Alamat Sesuai Identitas</label>

                    <label class="col-sm-4">
                        <!--<span data-bind="text: Transaction.RetailCIFCBO.IdentityAddress"></span>-->
                        <input type="text" autocomplete="off" class="col-sm-12" name="rptend" id="rptend" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.IdentityAddress, enable: !$root.VerifyColumn('Report Date')().IsVerified" />
                    </label>
                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Report Date')">
                        <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>

                <div id="lblIdentityKelurahan" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <div class="form-group">
                        <label class="col-sm-3 control-label bolder no-padding-right">Kelurahan</label>
                        <div class="col-sm-2">
                            <label class="col-sm-7">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.IdentityKelurahan"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="Kel" id="Kel" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.IdentityKelurahan, enable: !$root.VerifyColumn('Kelurahan')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Kelurahan')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                        <label class="col-sm-3 control-label bolder no-padding-right">Kecamatan</label>
                        <div>
                            <label class="col-sm-1">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.IdentityKecamatan"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="Kec" id="Kec" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.IdentityKecamatan, enable: !$root.VerifyColumn('Kecamatan')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Kecamatan')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="lblIdentityCity" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <div class="form-group">
                        <label class="col-sm-3 control-label bolder no-padding-right">Kota</label>
                        <div class="col-sm-2">
                            <label class="col-sm-7">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.IdentityCity"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="kota" id="kota" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.IdentityCity, enable: !$root.VerifyColumn('kota')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('kota')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                        <label class="col-sm-3 control-label bolder no-padding-right">Provinsi</label>
                        <div>
                            <label class="col-sm-1">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.IdentityProvince"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="Prov" id="Prov" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.IdentityProvince, enable: !$root.VerifyColumn('Provinsi')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Provinsi')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="lblIdentityCountry" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <div class="form-group">
                        <label class="col-sm-3 control-label bolder no-padding-right">Negara</label>
                        <div class="col-sm-2">
                            <label class="col-sm-7">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.IdentityCountry"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="Neg" id="Neg" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.IdentityCountry, enable: !$root.VerifyColumn('Negara')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Negara')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                        <label class="col-sm-3 control-label bolder no-padding-right">KodePos</label>
                        <div>
                            <label class="col-sm-1">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.IdentityPostalCode"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="KP" id="KP" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.IdentityPostalCode, enable: !$root.VerifyColumn('Kode Pos')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Kode Pos')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="lblNPWPNumber" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <div class="form-group">
                        <label class="col-sm-3 control-label bolder no-padding-right">NomorNPWP</label>
                        <div class="col-sm-2">
                            <label class="col-sm-4">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.NPWPNumber"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="KP" id="KP" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.NPWPNumber" />
                            </label>
                            <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Report Date')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>-->
                        </div>
                        <label class="col-sm-3 control-label bolder no-padding-right"></label>
                        <div>
                            <label class="col-sm-4">
                                <input type="checkbox" id="IsNPWPReceived" name="IsNPWPReceived" data-bind="checked:false">NPWPdiserahkan</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="lblMaritalStatusID" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">Status Perkawinan</label>

                    <label class="col-sm-4">
                        <!--<span data-bind="text: Transaction.RetailCIFCBO.MaritalStatusID"></span>-->
                        <input type="text" autocomplete="off" class="col-sm-12" name="SP" id="SP" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.MaritalStatusID, enable: !$root.VerifyColumn('Status Perkawinan')().IsVerified" />
                    </label>
                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Status Perkawinan')">
                        <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>

                <div id="lblSpouseName" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">Nama Pasangan</label>

                    <label class="col-sm-4">
                        <!--<span data-bind="text: Transaction.RetailCIFCBO.SpouseName"></span>-->
                        <input type="text" autocomplete="off" class="col-sm-12" name="NP" id="NP" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.SpouseName, enable: !$root.VerifyColumn('Nama Pasangan')().IsVerified" />
                    </label>
                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Nama Pasangan')">
                        <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>

                <div id="lblIsCorrespondenseToEmail" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">Korespondensi</label>

                    <label class="col-sm-4">
                        <input type="checkbox" id="IsCorrespondenseToEmail" name="IsCorrespondenseToEmail" data-bind="checked:false">LaporanKeuanganBLNdikirimKe Email</span>
                        <span data-bind="text: Transaction.RetailCIFCBO.IsCorrespondenseToEmail"></span>
                    </label>
                    <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Report Date')">
                        <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>-->
                </div>

                <div id="lblCorrespondenseAddress" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">Alamat Surat Meyurat</label>

                    <label class="col-sm-4">
                        <!--<span data-bind="text: Transaction.RetailCIFCBO.CorrespondenseAddress"></span>-->
                        <input type="text" autocomplete="off" class="col-sm-12" name="AlmtSm" id="AlmtSm" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.CorrespondenseAddress" />
                    </label>
                    <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Report Date')">
                        <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>-->
                </div>

                <div id="lblCorrespondenseKelurahan" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <div class="form-group">
                        <label class="col-sm-3 control-label bolder no-padding-right">Kelurahan</label>
                        <div class="col-sm-2">
                            <label class="col-sm-7">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.CorrespondenseKelurahan"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="Kel1" id="kel1" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.CorrespondenseKelurahan, enable: !$root.VerifyColumn('Kelurahan')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Kelurahan')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                        <label class="col-sm-3 control-label bolder no-padding-right">Kecamatan</label>
                        <div>
                            <label class="col-sm-1">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.CorrespondenseKecamatan"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="kec1" id="kec1" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.CorrespondenseKecamatan, enable: !$root.VerifyColumn('Kecamatan')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Kecamatan')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="lblCorrespondenseCity" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <div class="form-group">
                        <label class="col-sm-3 control-label bolder no-padding-right">Kota</label>
                        <div class="col-sm-2">
                            <label class="col-sm-7">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.CorrespondenseCity"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="kec1" id="kec1" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.CorrespondenseCity, enable: !$root.VerifyColumn('kota')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('kota')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                        <label class="col-sm-3 control-label bolder no-padding-right">Provinsi</label>
                        <div>
                            <label class="col-sm-1">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.CorrespondenseProvince"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="Prov1" id="Prov1" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.CorrespondenseProvince, enable: !$root.VerifyColumn('Provinsi')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Provinsi')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="lblCorrespondenseCountry" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <div class="form-group">
                        <label class="col-sm-3 control-label bolder no-padding-right">Negara</label>
                        <div class="col-sm-2">
                            <label class="col-sm-7">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.CorrespondenseCountry"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="Neg1" id="Neg1" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.CorrespondenseCountry, enable: !$root.VerifyColumn('Negara')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Negara')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                        <label class="col-sm-3 control-label bolder no-padding-right">KodePos</label>
                        <div>
                            <label class="col-sm-1">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.CorrespondensePostalCode"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="Kp1" id="Kp1" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.CorrespondensePostalCode, enable: !$root.VerifyColumn('Kode Pos')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Kode Pos')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="lblCellPhoneMethodID" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <div class="form-group">
                        <label class="col-sm-3 control-label bolder no-padding-right">Telepon selular</label>
                        <div class="col-sm-2">
                            <label class="col-sm-4">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.CellPhoneMethodID"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="TlpCel1" id="TlpCel1" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.CellPhoneMethodID" />
                            </label>
                            <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Report Date')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>-->
                        </div>
                        <label class="col-sm-3 control-label bolder no-padding-right"></label>
                        <div>
                            <label class="col-sm-1">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.CellPhone"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="Telpcel2" id="Telpcel2" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.CellPhone, enable: !$root.VerifyColumn('Telepon sellular')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Telepon sellular')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="lblUpdatedCellPhone" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <div class="form-group">
                        <label class="col-sm-3 control-label bolder no-padding-right">Rumah</label>
                        <div class="col-sm-2">
                            <label class="col-sm-4">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.UpdatedCellPhone"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="Rumah2" id="Rumah2" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.UpdatedCellPhone" />
                            </label>
                            <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Report Date')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>-->
                        </div>
                        <label class="col-sm-3 control-label bolder no-padding-right">Di Ubah Ke</label>
                        <div>
                            <label class="col-sm-1">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.HomePhoneMethodID"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="DiUbahKe" id="DiUbahKe" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.HomePhoneMethodID, enable: !$root.VerifyColumn('Rumah')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Rumah')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="lblOfficePhoneMethodID" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <div class="form-group">
                        <label class="col-sm-3 control-label bolder no-padding-right">Kantor</label>
                        <div class="col-sm-2">
                            <label class="col-sm-4">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.OfficePhoneMethodID"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="Kantor" id="Kantor" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.OfficePhoneMethodID" />
                            </label>
                        </div>
                        <label class="col-sm-3 control-label bolder no-padding-right"></label>
                        <div>
                            <label class="col-sm-1">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.OfficePhone"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="Kantor1" id="Kantor1" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.OfficePhone, enable: !$root.VerifyColumn('Kantor')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Kantor')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="lblFaxMethodID" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <div class="form-group">
                        <label class="col-sm-3 control-label bolder no-padding-right">Faximili</label>
                        <div class="col-sm-2">
                            <label class="col-sm-4">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.FaxMethodID"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="Fax" id="Fax" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.FaxMethodID" />
                            </label>
                        </div>
                        <label class="col-sm-3 control-label bolder no-padding-right"></label>
                        <div>
                            <label class="col-sm-1">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.Fax"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="Kantor1" id="Kantor1" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.Fax, enable: !$root.VerifyColumn('Faksimili')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Faksimili')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="lblEmailAddress" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">AlamatEmail</label>

                    <label class="col-sm-4">
                        <!--<span data-bind="text: Transaction.RetailCIFCBO.EmailAddress"></span>-->
                        <input type="text" autocomplete="off" class="col-sm-12" name="Email" id="Email" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.EmailAddress, enable: !$root.VerifyColumn('Alamat Email')().IsVerified" />
                    </label>
                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Alamat Email')">
                        <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>

                <div id="lblOfficeAddress" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">AlamatKantor</label>

                    <label class="col-sm-4">
                        <!--<span data-bind="text: Transaction.RetailCIFCBO.OfficeAddress"></span>-->
                        <input type="text" autocomplete="off" class="col-sm-12" name="AlmtOffice" id="AlmtOffice" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.OfficeAddress, enable: !$root.VerifyColumn('Report Date')().IsVerified" />
                    </label>
                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Report Date')">
                        <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>

                <div id="lblOfficeKelurahan" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <div class="form-group">
                        <label class="col-sm-3 control-label bolder no-padding-right">Kelurahan</label>
                        <div class="col-sm-2">
                            <label class="col-sm-7">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.OfficeKelurahan"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="AlmtOffice" id="AlmtOffice" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.OfficeKelurahan, enable: !$root.VerifyColumn('Kelurahan')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Kelurahan')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                        <label class="col-sm-3 control-label bolder no-padding-right">Kecamatan</label>
                        <div>
                            <label class="col-sm-1">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.OfficeKecamatan"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="Kec2" id="Kec2" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.OfficeKecamatan, enable: !$root.VerifyColumn('Kecamatan')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Kecamatan')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="lblOfficeCity" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <div class="form-group">
                        <label class="col-sm-3 control-label bolder no-padding-right">Kota</label>
                        <div class="col-sm-2">
                            <label class="col-sm-7">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.OfficeCity"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="Kot2" id="Kot2" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.OfficeCity, enable: !$root.VerifyColumn('kota')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('kota')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                        <label class="col-sm-3 control-label bolder no-padding-right">Provinsi</label>
                        <div>
                            <label class="col-sm-1">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.OfficeProvince"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="Prov2" id="Prov2" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.OfficeProvince, enable: !$root.VerifyColumn('Provinsi')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Provinsi')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="lblOfficeCountry" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <div class="form-group">
                        <label class="col-sm-3 control-label bolder no-padding-right">Negara</label>
                        <div class="col-sm-2">
                            <label class="col-sm-7">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.OfficeCountry"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="Neg2" id="Neg2" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.OfficeCountry, enable: !$root.VerifyColumn('Negara')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Negara')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                        <label class="col-sm-3 control-label bolder no-padding-right">KodePos</label>
                        <div>
                            <label class="col-sm-1">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.OfficePostalCode"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="Neg2" id="Neg2" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.OfficePostalCode, enable: !$root.VerifyColumn('Kode Pos')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Kode Pos')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="lblNationality" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">Kewarganegaraan</label>

                    <label class="col-sm-4">
                        <!--<span data-bind="text: Transaction.RetailCIFCBO.Nationality"></span>-->
                        <input type="text" autocomplete="off" class="col-sm-12" name="Kew2" id="Kew2" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.Nationality, enable: !$root.VerifyColumn('Kewarganegaraan')().IsVerified" />
                    </label>
                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Kewarganegaraan')">
                        <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>

                <div id="lblFundSource" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">SumberDana</label>

                    <label class="col-sm-4">
                        <!--<span data-bind="text: Transaction.RetailCIFCBO.FundSource"></span>-->
                        <input type="text" autocomplete="off" class="col-sm-12" name="Kew2" id="Kew2" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.FundSource, enable: !$root.VerifyColumn('Sumber Dana')().IsVerified" />
                    </label>
                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Sumber Dana')">
                        <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>

                <div id="lblUBOName" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <div class="form-group">
                        <label class="col-sm-3 control-label bolder no-padding-right">Data Ultimate Beneficial Owner</label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label bolder no-padding-right">Nama</label>
                        <div class="col-sm-2">
                            <label class="col-sm-7">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.UBOName"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="NameUltimate" id="NameUltimate" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.UBOName, enable: !$root.VerifyColumn('NamaUltimate')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('NamaUltimate')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                        <label class="col-sm-3 control-label bolder no-padding-right">Jenis dan Nomor Identitas</label>
                        <div>
                            <label class="col-sm-1">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.UBOIdentityType"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="JenisNmUltima" id="JenisNmUltima" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.UBOIdentityType, enable: !$root.VerifyColumn('JenisdanNomorUltimate')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('JenisdanNomorUltimate')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="lblUBOPhone" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <div class="form-group">
                        <label class="col-sm-3 control-label bolder no-padding-right">Nomor Telpon</label>
                        <div class="col-sm-2">
                            <label class="col-sm-7">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.UBOPhone"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="NmtlpNmUltima" id="NmtlpNmUltima" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.UBOPhone, enable: !$root.VerifyColumn('NomorTelponUltimate')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('NomorTelponUltimate')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                        <label class="col-sm-3 control-label bolder no-padding-right">Pekerjaan</label>
                        <div>
                            <label class="col-sm-1">
                                <!--<span data-bind="text: Transaction.RetailCIFCBO.UBOJob"></span>-->
                                <input type="text" autocomplete="off" class="col-sm-12" name="JenisNmUltima" id="JenisNmUltima" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.UBOPhone, enable: !$root.VerifyColumn('PekerjaanUltimate')().IsVerified" />
                            </label>
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('PekerjaanUltimate')">
                                <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="lblNetAsset" class="form-group form-line no-margin-bottom no-padding-bottom">

                    <label class="col-sm-3 control-label bolder no-padding-right">PerkiraanAsetBersih</label>

                    <label class="col-sm-4">
                        <select class="col-sm-11" id="CIFASSETBERSIH" name="CIFASSETBERSIH" class="col-sm-11"
                                data-bind="options: $root.ddlCIFASSETBERSIH,
                                    enable: !$root.VerifyColumn('PerkiraanAsetBersih')().IsVerified,
                                    optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().CIFASSETBERSIH,
                                    optionsCaption: 'Please Select...'"></select>
                    </label>

                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('PerkiraanAsetBersih')">
                        <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>

                </div>


                <div id="lblNetAsset" class="form-group form-line no-margin-bottom no-padding-bottom">

                    <label class="col-sm-3 control-label bolder no-padding-right">PendapatanPerbulan</label>

                    <label class="col-sm-4">
                        <select class="col-sm-11" id="CIFPENDPATANBULANAN" name="CIFPENDPATANBULANAN" class="col-sm-11"
                                data-bind="options: $root.ddlCIFPENDPATANBULANAN,
                                    enable: !$root.VerifyColumn('PendapatanPerbulan')().IsVerified,
                                    optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().CIFPENDPATANBULANAN,
                                    optionsCaption: 'Please Select...'"></select>
                    </label>

                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('PendapatanPerbulan')">
                        <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>

                </div>


                <div id="lblNetAsset" class="form-group form-line no-margin-bottom no-padding-bottom">

                    <label class="col-sm-3 control-label bolder no-padding-right">PenghasilanTambahanPerbulan</label>

                    <label class="col-sm-4">
                        <select class="col-sm-11" id="CIFPENGHASILANTAMBAHAN" name="CIFPENGHASILANTAMBAHAN" class="col-sm-11" disabled="disabled"
                                data-bind="options: $root.ddlCIFPENGHASILANTAMBAHAN,
                                    enable: !$root.VerifyColumn('PenghasilanTambahan')().IsVerified,
                                    optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().CIFPENGHASILANTAMBAHAN,
                                    optionsCaption: 'Please Select...'"></select>
                    </label>

                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('PenghasilanTambahan')">
                        <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>

                </div>

                <div id="lblNetAsset" class="form-group form-line no-margin-bottom no-padding-bottom">

                    <label class="col-sm-3 control-label bolder no-padding-right">Pekerjaan</label>

                    <label class="col-sm-4">
                        <select class="col-sm-11" id="CIFPEKERJAAN" name="CIFPEKERJAAN" class="col-sm-11" disabled="disabled"
                                data-bind="options: $root.ddlCIFPEKERJAAN,
                                    enable: !$root.VerifyColumn('Pekerjaan')().IsVerified,
                                    optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().CIFPEKERJAAN,
                                    optionsCaption: 'Please Select...'"></select>
                    </label>

                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Pekerjaan')">
                        <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>

                </div>


                <div id="lblNetAsset" class="form-group form-line no-margin-bottom no-padding-bottom">

                    <label class="col-sm-3 control-label bolder no-padding-right">TujuanPembukaanRekening</label>

                    <label class="col-sm-4">
                        <select class="col-sm-11" id="CIFTUJUANPEMBUKAANREKENING" name="CIFTUJUANPEMBUKAANREKENING" class="col-sm-11" disabled="disabled"
                                data-bind="options: $root.ddlCIFTUJUANPEMBUKAANREKENING,
                                    enable: !$root.VerifyColumn('TujuanPembukaanRekening')().IsVerified,
                                    optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().CIFTUJUANPEMBUKAANREKENING,
                                    optionsCaption: 'Please Select...'"></select>
                    </label>

                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('TujuanPembukaanRekening')">
                        <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>

                </div>


                <div id="lblNetAsset" class="form-group form-line no-margin-bottom no-padding-bottom">

                    <label class="col-sm-3 control-label bolder no-padding-right">PerkiraanDanaMasuk</label>

                    <label class="col-sm-4">
                        <select class="col-sm-11" id="CIFPERKIRAANDANAMASUK" name="CIFPERKIRAANDANAMASUK" class="col-sm-11" disabled="disabled"
                                data-bind="options: $root.ddlCIFPERKIRAANDANAMASUK,
                                    enable: !$root.VerifyColumn('PerkiraanDanaMasuk')().IsVerified,
                                    optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().CIFPERKIRAANDANAMASUK,
                                    optionsCaption: 'Please Select...'"></select>
                    </label>

                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('PerkiraanDanaMasuk')">
                        <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>

                </div>


                <div id="lblNetAsset" class="form-group form-line no-margin-bottom no-padding-bottom">

                    <label class="col-sm-3 control-label bolder no-padding-right">PerkiraanDanaKeluar</label>

                    <label class="col-sm-4">
                        <select class="col-sm-11" id="CIFPERKIRAANDANAKELUAR" name="CIFPERKIRAANDANAKELUAR" class="col-sm-11" disabled="disabled"
                                data-bind="options: $root.ddlCIFPERKIRAANDANAKELUAR,
                                    enable: !$root.VerifyColumn('PerkiraanDanaKeluar')().IsVerified,
                                    optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().CIFPERKIRAANDANAKELUAR,
                                    optionsCaption: 'Please Select...'"></select>
                    </label>

                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('PerkiraanDanaKeluar')">
                        <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>

                </div>


                <div id="lblNetAsset" class="form-group form-line no-margin-bottom no-padding-bottom">

                    <label class="col-sm-3 control-label bolder no-padding-right">PerkiraanTransaksiKeluar</label>

                    <label class="col-sm-4">
                        <select class="col-sm-11" id="CIFPERKIRAANTRANSAKSIKELUAR" name="CIFPERKIRAANTRANSAKSIKELUAR" class="col-sm-11" disabled="disabled"
                                data-bind="options: $root.ddlCIFPERKIRAANTRANSAKSIKELUAR,
                                    enable: !$root.VerifyColumn('PerkiraanTransaksiKeluar')().IsVerified,
                                    optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().CIFPERKIRAANTRANSAKSIKELUAR,
                                    optionsCaption: 'Please Select...'"></select>
                    </label>

                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('PerkiraanTransaksiKeluar')">
                        <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>

                </div>

                <div id="lblCommingPersonally" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">CommingPersonally/PersonalKnow</label>

                    <label class="col-sm-4">
                        <!--<span data-bind="text: Transaction.RetailCIFCBO.TransactionForecast"></span>-->
                        <input type="text" autocomplete="off" class="col-sm-12" name="JenisNmUltima" id="JenisNmUltima" data-rule-required="true" data-bind="value: Transaction.RetailCIFCBO.TransactionForecast, enable: !$root.VerifyColumn('ComingPersonal')().IsVerified" />
                    </label>
                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('ComingPersonal')">
                        <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>

            <!-- Grid Change RM -->
            <div id="lblGridChangeRM" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:false">

                <div id="lblChangeRMS" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">Change RMS</label>
                    <label class="col-sm-4">
                        <input type="checkbox" id="isChangeRMS" name="isChangeRMS" data-bind="checked:false"></span>
                    </label>
                </div>

                <div id="lblSegment" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">Segment</label>
                    <label class="col-sm-4">
                        <input type="checkbox" id="isSegment" name="isSegment" data-bind="checked:false"></span>
                    </label>
                </div>

                <div id="lblSolID" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">SolID</label>
                    <label class="col-sm-4">
                        <input type="checkbox" id="isSolID" name="isSolID" data-bind="checked:false"></span>
                    </label>
                </div>


                <div class="padding-4">
                    <div id="Documents_Upload" class="dataTables_wrapper" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <!--<th></th>-->
                                    <th>No.</th>
                                    <th>CIF</th>
                                    <!--<th>CustomerName</th>-->
                                    <th>ChangeSegmentForm</th>
                                    <th>ChangeSegmentTo</th>
                                    <th>ChangeFromBranchCode</th>
                                    <th>ChangeFromRMCode</th>
                                    <th>ChangeFromBU</th>
                                    <th>ChangeToBranchCode</th>
                                    <th>ChangeToRMCode</th>
                                    <th>ChangeToBU</th>
                                    <th>Account</th>
                                    <th>PCCode</th>
                                    <th>EA/TPB</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>

                            <!--<tbody data-bind="foreach: $root.ChangeRMGrid">-->
                            <tbody data-bind="foreach: Transaction.ChangeRMModel, visible: Transaction.ChangeRMModel.length > 0">
                                <tr>
                                    <!--<td align="center"><input type="checkbox" id="isUtilize" name="isUtilize" /></td>-->
                                    <td><span data-bind="text: $index() + 1"></span></td>
                                    <td><span data-bind="text: CIF"></span></td>
                                    <!--<td><span data-bind="text: Transaction.ChangeRM.CustomerName"></<span></td>-->
                                    <td><span data-bind="text: ChangeSegmentFrom"></span></td>
                                    <td><span data-bind="text: ChangeSegmentTo"></span></td>
                                    <td><span data-bind="text: ChangeFromBranchCode"></span></td>
                                    <td><span data-bind="text: ChangeFromRMCode"></span></td>
                                    <td><span data-bind="text: ChangeFromBU"></span></td>
                                    <td><span data-bind="text: ChangeToBranchCode"></span></td>
                                    <td><span data-bind="text: ChangeToRMCode"></span></td>
                                    <td><span data-bind="text: ChangeToBU"></span></td>
                                    <td><span data-bind="text: Account"></span></td>
                                    <td><span data-bind="text: PCCode"></span></td>
                                    <td><span data-bind="text: EATPB"></span></td>
                                    <td><span data-bind="text: Remarks"></span></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="16" align="center">No entries available.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>













            <!--<div id="lblAccountNumber" class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Account Number</label>
                <label class="col-sm-4">
                    <select class="col-sm-11" id="Currency" name="Currency" class="col-sm-11" disabled="disabled"
                            data-bind="options: $root.ddlMaintenanceTypes,
                                    optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().Account,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionCBOFromBranch', 'Currency'); } }"></select>
                </label>
            </div>-->
            <div id="lblAccountNumberID" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:false">
                <label class="col-sm-3 control-label bolder no-padding-right">Account Number</label>
                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Account.AccountNumber"></span>
                </label>

                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('CIF')">
                    <input name="check-cif" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>
            <div id="lblCurrencyID" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:false">
                <label class="col-sm-3 control-label bolder no-padding-right">Currency</label>
                <label class="col-sm-4">
                    <select class="col-sm-11" id="Currency" name="Currency" class="col-sm-11" disabled="disabled"
                            data-bind="options: $root.Currencies,
                                    optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' + item.Code + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().Currency,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionCBOFromBranch', 'Currency'); } }"></select>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Currency')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>
            <!--AccountNumberGrid-->
            <div id="lblGridAccountNumberID" data-bind="visible:false">
                <div>
                    <label class="col-sm-3 control-label bolder no-padding-right">Account Number</label>
                </div>
                <div class="padding-4">
                    <div class="dataTables_wrapper" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <!--<th style="width:50px">No.</th>-->
                                    <th>Account Number</th>
                                    <th>Currency</th>

                                </tr>
                            </thead>
                            <!--<tbody data-bind="text: Transaction.Account.AccountNumber">-->
                            <tbody>
                                <tr>
                                    <td><a data-bind="text: Transaction.Account.AccountNumber"></a></td>
                                    <td><a data-bind="text: Transaction.Currency.Description "></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--AccountNumberFreezUnFreezGrid-->
            <div id="lblGridAccountNumberFreezUnFreezID" data-bind="visible:false">
                <div>
                    <label class="col-sm-3 control-label bolder no-padding-right">Account Number</label>
                </div>
                <div class="padding-4">
                    <div class="dataTables_wrapper" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <!--<th style="width:50px">No.</th>-->
                                    <th>Account Number</th>
                                    <th>Freeze/UnFreeze</th>

                                </tr>
                            </thead>
                            <!--<tbody data-bind="text: Transaction.Account.AccountNumber">-->
                            <tbody>
                                <tr>
                                    <td><a data-bind="text: Transaction.Account.AccountNumber"></a></td>
                                    <td align="center"><input type="checkbox" id="isCurrency" name="isCurrency" data-bind="checked:false"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--//attachment-->
            <div>
                <label class="col-sm-3 control-label bolder no-padding-right">Attachment</label>
            </div>
            <div class="padding-4">
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>File Name</th>
                                <th>Modified</th>

                            </tr>
                        </thead>
                        <!--<tbody data-bind="foreach: $root.Documents_Funding, visible: $root.Documents_Funding().length > 0">-->
                        <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                            <tr>
                                <!--data-bind="click: $root.EditDocument"-->
                                <td><span data-bind="text: $index() + 1"></span></td>
                                <!--<td><span data-bind="text: Transaction.Documents.FileName"></span></td>-->
                                <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                                <!--<td><span data-bind="text: moment(Transaction.Documents.lastModifiedDate).format(config.format.dateTime)"></span></td>--><!--$root.LocalDate(LastModifiedDate)-->
                                <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            </tr>
                        </tbody>
                        <!--<tbody data-bind="visible: $root.Documents_Funding().length == 0">-->
                        <tbody data-bind="visible: Transaction.Documents.length == 0">
                            <tr>
                                <td colspan="6" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
    <div class="space-16"></div>
</div>