﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form2" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 no-padding-right" style="margin-left:7%">
                    <b><span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span></b><br />
                    <b>Branch Name</b> : <span data-bind="text: Transaction.Customer.Branch.Name"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>
            <div class="space-4"></div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: Transaction.MaintenanceType.ID!=ConsCIFMaintenanceType.ChangeRMCons && $root.IsCheckerCIF()==true">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-all"></label>

                <label class="col-sm-8 control-label bolder no-padding-right" for="product-code">Check All</label>

                <label id="Checkall" class="col-sm-1">
                    <input name="check-all" id="check-all" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.CheckAll(), click: function(data) { $root.CheckAllData('TransactionCBOMaker'); }" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Customer Name</label>
                <label class="col-sm-8">
                    <span class="col-sm-6" data-bind="text: Transaction.Customer.Name" disabled="disabled"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">CIF</label>

                <label class="col-sm-8">
                    <span type="text" class="col-sm-4" data-bind="text: Transaction.Customer.CIF" disabled="disable"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">

                <label class="col-sm-3 control-label bolder no-padding-right">Product</label>

                <label class="col-sm-8">
                    <span class="col-sm-4" class="col-sm-11" disabled="disabled" data-bind="text:Transaction.Product.Name"></span>
                </label>
            </div>

            
            <div class="form-group form-line no-margin-bottom no-padding-bottom">

                <label class="col-sm-3 control-label bolder no-padding-right">Request Type</label>

                <label class="col-sm-8">
                    <span class="col-sm-4" id="RequestType" name="RequestType" class="col-sm-11" disabled="disabled"
                          data-bind="text: Transaction.RetailCIFCBO.RequestTypes"></span>                    
                </label>
            </div>
            <div id="lblSubTypeID" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsRequestTypeStandingInstruction()==true || $root.IsCIFAtmCard()==true">
                <label class="col-sm-3 control-label bolder no-padding-right">Sub Type</label>
                <label class="col-sm-8">
                    <span class="col-sm-4" data-bind="text: Transaction.TransactionSubType.Name" disabled="disabled"></span>                    
                </label>
            </div>
            <div id="lblAccountNumberID" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsRequestTypeStandingInstruction()==true">
                <label class="col-sm-3 control-label bolder no-padding-right">Account Number</label>
                <label class="col-sm-8">
                    <span style="padding:10px;" data-bind="text: Transaction.AccountNumber , visible:$root.IsBranchMakerAfterCBOAccountCIF() == false && Transaction.AccountNumber != null" disabled="disabled"></span>
                    <span data-bind="text: ' (' , visible:$root.IsBranchMakerAfterCBOAccountCIF() == false && Transaction.AccountNumber != null" disabled="disabled"></span>
                    <span data-bind="text: Transaction.Currency.Code , visible:$root.IsBranchMakerAfterCBOAccountCIF() == false && Transaction.AccountNumber != null" disabled="disabled"></span>
                    <span data-bind="text: ') ' , visible:$root.IsBranchMakerAfterCBOAccountCIF() == false && Transaction.AccountNumber != null" disabled="disabled"></span>
                    <select class="col-sm-4" id="AccountNumberCIF" name="AccountNumberCIF"
                            data-bind="options: $root.ParameterCIF().ddlAccountNumber,
                            optionsText: function(item) { if(item.AccountNumber != null) return item.AccountNumber + ' (' + item.Currency.Code + ')' },
                            optionsValue: 'AccountNumber',
                            value: $root.Selected().AccountNumber,
                            optionsCaption: 'Please Select...',
                            event: { change: function() { $root.PopulateSelected('TransactionCIFBranchMaker','AccountNumber'); } },
                            enable: !$root.VerifyColumn('Account Number')().IsVerified, visible:$root.IsBranchMakerAfterCBOAccountCIF() == true"></select>
                </label>
            </div>


            <div id="lblmaintenanceid" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsRequestTypeMaintenance()==true">
                <label class="col-sm-3 control-label bolder no-padding-right">Maintenance Type</label>

                <label class="col-sm-8">
                    <span class="col-sm-4" id="MaintenanceType" name="MaintenanceType" class="col-sm-11" disabled="disabled"
                          data-bind="text: Transaction.RetailCIFCBO.MaintenanceTypes"></span>
                    <!--<select class="col-sm-4" id="MaintenanceType" name="MaintenanceType"
                            data-bind="options: $root.ddlMaintenanceTypes,
                            optionsText: function(item) { if(item.ID != null) return item.Name },
                            optionsValue: 'ID',
                            value: $root.Selected().MaintenanceType,
                            optionsCaption: 'Please Select...',
                            visible:$root.IsBranchMakerAfterCBOAccountCIF() == true,
                            disable: true"></select>
                        -->
                </label>
            </div>
            <div id="lblCurrencyID" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsRequestTypeStandingInstruction()==true || $root.IsCIFAddCurrency() == true">
                <label class="col-sm-3 control-label bolder no-padding-right">Currency</label>
                <!--<label class="col-sm-8">-->
                <div class="col-sm-8">
                    <span class="col-sm-4" data-bind="text: Transaction.Currency.CodeDescription" disabled="disabled"></span>
                    <!--<select id="currencycif" class="col-sm-4" name="currencycif"
                            data-bind="value: $root.Selected().Currency,
                    		 			options:$root.Currencies,
                    		 			optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                    		 			optionsValue:'ID',
                    		 			optionsCaption: 'Please Select...',
                    		 			visible:$root.IsBranchMakerAfterCBOAccountCIF() == true,
                    		 			event: { change: function() { $root.PopulateSelected('TransactionCIFBranchMaker','Currency'); } },
										enable: !$root.VerifyColumn('Currency')().IsVerified"></select>-->
                </div>
                <!--</label>-->
            </div>

            <div id="lblStaffID" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsCIFTagUntagStaff()==true">
                <label class="col-sm-3 control-label bolder no-padding-right">Staff ID</label>

                <div class="col-sm-8">
                    <span class="col-sm-4" data-bind="text: Transaction.StaffID, visible:$root.IsBranchMakerAfterCBOAccountCIF() == false" disabled="disabled"></span>
                    <input type="text" class="col-sm-4" data-bind="value: Transaction.StaffID,visible:$root.IsBranchMakerAfterCBOAccountCIF() == true, enable: !$root.VerifyColumn('Staff ID')().IsVerified" />
                </div>
            </div>
            <div id="lblDispatchMode" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsCIFDispatchMode()==true">
                <label class="col-sm-3 control-label bolder no-padding-right">Dispatch Mode Type</label>

                <label class="col-sm-8">
                    <span class="col-sm-4" data-bind="text: Transaction.RetailCIFCBO.DispatchModeType" disabled="disabled"></span>
                    <!--<select class="col-sm-4" id="DispatchMode" name="DispatchMode"
                            data-bind="options: $root.ParameterCIF().ddlDispatchModeTypes,
                            optionsText: function(item) { if(item.ID != null) return item.Name },
                            optionsValue: 'ID',
                            value: $root.Selected().DispatchModeType,
                            optionsCaption: 'Please Select...',
                            visible:$root.IsBranchMakerAfterCBOAccountCIF() == true,
                            disable: true"></select>
                        -->
                </label>
            </div>

            <div id="lblBranchID" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsCIFRiskRating()==true">
                <label class="col-sm-3 control-label bolder no-padding-right">Branch</label>

                <div class="col-sm-8">
                    <span class="col-sm-4" data-bind="text: Transaction.Customer.Branch.Name,visible:$root.IsBranchMakerAfterCBOAccountCIF() == false" disabled="disabled"></span>
                    <input type="text" class="col-sm-4" data-bind="value: Transaction.Customer.Branch.Name, visible:$root.IsBranchMakerAfterCBOAccountCIF() == true, enable: !$root.VerifyColumn('Branch')().IsVerified" />
                </div>
            </div>

            <div id="lblReportDate" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsCIFRiskRating()==true">
                <label class="col-sm-3 control-label bolder no-padding-right">Report Date</label>

                <div class="col-sm-8">
                    <div class="clearfix col-sm-4 input-group no-padding">
                        <span class="col-sm-10" data-bind="text: $root.LocalDate(Transaction.RetailCIFCBO.RiskRatingReportDate, true), visible:$root.IsBranchMakerAfterCBOAccountCIF() == false" disabled="disabled"></span>
                        <input type="text" class="col-sm-4 form-control date-picker" data-date-format="dd-M-yyyy" data-bind="datepicker:true,value: Transaction.RetailCIFCBO.RiskRatingReportDate,visible:$root.IsBranchMakerAfterCBOAccountCIF() == true, enable: !$root.VerifyColumn('Report Date')().IsVerified" />
                        <span class="input-group-addon" data-bind="visible:$root.IsBranchMakerAfterCBOAccountCIF() == true">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div id="lblNextReportDate" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsCIFRiskRating()==true">
                <label class="col-sm-3 control-label bolder no-padding-right">Next Review Date</label>
                <div class="col-sm-8">
                    <div class="clearfix col-sm-4 input-group no-padding">
                        <span class="col-sm-10" data-bind="text: $root.LocalDate(Transaction.RetailCIFCBO.RiskRatingNextReviewDate, true), visible:$root.IsBranchMakerAfterCBOAccountCIF() == false" disabled="disabled"></span>
                        <input type="text" class="date-picker col-sm-4 form-control date-picker" data-date-format="dd-M-yyyy" data-bind="datepicker:true, value: Transaction.RetailCIFCBO.RiskRatingNextReviewDate, visible:$root.IsBranchMakerAfterCBOAccountCIF() == true, enable: !$root.VerifyColumn('Next Review Date')().IsVerified" />
                        <span class="input-group-addon" data-bind="visible:$root.IsBranchMakerAfterCBOAccountCIF() == true">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div id="lblRiskRatingResult" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsCIFRiskRating()==true">
                <label class="col-sm-3 control-label bolder no-padding-right">Risk Rating Result</label>
                <div class="col-sm-8">
                    <span class="col-sm-4" data-bind="text: Transaction.RetailCIFCBO.RiskRatingResult, visible:$root.IsBranchMakerAfterCBOAccountCIF() == false" disabled="disabled"></span>
                    <select class="col-sm-4" id="RiskRatingResult" name="RiskRatingResult"
                            data-bind="options: $root.ParameterCIF().ddlRiskRatingResults,
                            optionsText: function(item) { if(item.ID != null) return item.Name },
                            optionsValue: 'ID',
                            value: $root.Selected().RiskRatingResult,
                            optionsCaption: 'Please Select...',
                            visible:$root.IsBranchMakerAfterCBOAccountCIF() == true,
                            event: { change: function() { $root.PopulateSelected('TransactionCIFBranchMaker','RiskRatingResult'); } },
                            enable: !$root.VerifyColumn('Risk Rating Result')().IsVerified"></select>
                </div>
            </div>

            <div id="lblATMNumberClosure" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsCIFATMClosure()==true">
                <label class="col-sm-3 control-label bolder no-padding-right">ATM Number</label>
                <div class="col-sm-8">
                    <span class="col-sm-4" data-bind="text: Transaction.RetailCIFCBO.AtmNumber" disabled="disabled"></span>
                </div>
            </div>
            <div id="lblATMNumber" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsCIFAtmCard()==true">
                <label class="col-sm-3 control-label bolder no-padding-right">ATM Number</label>
                <div class="col-sm-8">
                    <span class="col-sm-4" data-bind="text: Transaction.AtmNumber" disabled="disabled"></span>
                </div>
            </div>
            <!--//attachment-->
            <div class="padding-4">
                <h3 class="header smaller lighter dark">
                    Attachment
                    <!--<button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocumentCIF, visible: $root.IsBranchMakerAfterCBOAccountCIF()==true">
                        <i class="icon-plus"></i>
                        Attach
                    </button>-->
                </h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>File Name</th>
                                <th>Document Type</th>
                                <th>Modified</th>
                                <!--<th data-bind="visible:$root.IsBranchMakerAfterCBOAccountCIF()==true">Action</th>-->
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0 && $root.IsBranchMakerAfterCBOAccountCIF() == false">
                            <tr>
                                <td><span data-bind="text: $index() + 1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="foreach: $root.MakerDocuments, visible: $root.MakerDocuments().length > 0 && $root.IsBranchMakerAfterCBOAccountCIF() == true">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td>
                                    <div data-bind="if:IsNewDocument">
                                        <span data-bind="text: FileName"></span>
                                    </div>
                                    <div data-bind="ifnot:IsNewDocument">
                                        <a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a>
                                    </div>
                                </td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                                <!--<td><a href="#" data-bind="click: $root.RemoveDocumentDataCIF">Remove</a></td>-->
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: Transaction.Documents.length == 0 && $root.IsBranchMakerAfterCBOAccountCIF() == false">
                            <tr>
                                <td colspan="6" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.MakerDocuments().length == 0 && $root.IsBranchMakerAfterCBOAccountCIF() == true">
                            <tr>
                                <td colspan="7" align="center">No entries available.</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>

    </div>
    <div class="space-16"></div>
</div>