﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <div class="col-sm-6">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-12" name="customer-name" id="customer-name" data-rule-required="true" data-bind="value: Transaction.Customer.Name, enable: false" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-3" name="cif" id="cif" disabled="disabled" data-bind="value: Transaction.Customer.CIF,enable: false" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="product" name="product" data-rule-required="true" disabled="disabled" data-bind="options: $root.Products, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Product.ID, enable: false"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="channel" name="channel" data-rule-required="true" data-bind="options: $root.Channels, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Channel.ID, enable: !$root.VerifyColumn('Channel')().IsVerified"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency-code">Currency</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="currency-code" name="currency-code" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Currencies, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Currency.ID, enable: !$root.VerifyColumn('Currency')().IsVerified"></select>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="amounttmo">Amount</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input id="amounttmo" name="amounttmo" class="col-sm-3 align-right" data-in="" data-rule-required="true" data-rule-number="true" data-bind="value: formatNumber(Transaction.Amount), enable: !$root.VerifyColumn('Amount')().IsVerified" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="deal-number">Deal Number</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input id="deal-number" name="deal-number" data-rule-required="true" data-bind="value: Transaction.DealNumber, enable: !$root.VerifyColumn('Deal Number')().IsVerified" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Value Date</label>

                <div class="col-sm-9">
                    <div class="clearfix input-group col-sm-3 no-padding">
                        <input type="text" id="value-date" name="value-date" data-rule-required="true" class="form-control date-picker" autocomplete="off" data-bind="datepicker: $root.LocalDate(Transaction.ValueDate,true,false),value: $root.LocalDate(Transaction.ValueDate,true,false), event: {change: $root.OnChangeValueDate} , enable: !$root.VerifyColumn('Value Date')().IsVerified" data-date-format="dd-M-yyyy" data-rule-value="true" />
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Remarks</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <textarea class="col-sm-12" name="purpose-detail" id="purpose-detail" rows="6" data-rule-required="false" data-bind="value: Transaction.Remarks"></textarea>
                    </div>
                </div>
            </div>

        </div>             

        <div class="space-16"></div>

        <div class="padding-4">
            <h3 class="header smaller lighter dark">Attachment</h3>            
            <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocument">
                <i class="icon-plus"></i>
                Attach
            </button>
            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Document Type</th>
                            <th>Modified</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: $root.MakerDocuments, visible: $root.MakerDocuments().length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td>
                                <div data-bind="if:IsNewDocument">
                                    <span data-bind="text: FileName"></span>
                                </div>
                                <div data-bind="ifnot:IsNewDocument">
                                    <a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a>
                                </div>
                            </td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            <td><a href="#" data-bind="click: $root.RemoveDocumentData">Remove</a></td>
                        </tr>
                    </tbody>
                    <!--<tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                    <tr>
                        <td><span data-bind="text: $index() +1"></span></td>
                        <td><a data-bind="attr: { href: DocumentPath }, text: FileName"></a></td>
                        <td><span data-bind="text: Purpose.Name"></span></td>
                        <td><span data-bind="text: Type.Name"></span></td>
                        <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                        <td><a href="#" data-bind="click: $root.RemoveDocumentData">Remove</a></td>
                    </tr>
                    </tbody>-->
                    <tbody data-bind="visible: $root.MakerDocuments().length == 0">
                        <tr>
                            <td colspan="13" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



    </div>
</div>

<div id="modal-form-upload" class="modal fade center" tabindex="-1" role="dialog">
    <!--data-backdrop="static" data-keyboard="false"-->
    <div class="modal-dialog">
        <div class="modal-content">
            dsadasdsa
        </div>
    </div>
</div>
