﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form2" class="form-horizontal" role="form">
            <div class="form-group" data-bind="ifnot:Transaction.Customer.Branch == null">
                <label class="col-sm-3 no-padding-right" style="margin-left:7%">
                    <b><span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span></b><br />
                    <b>Branch Name</b> : <span data-bind="text: Transaction.Customer.Branch.Name"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>
            <div class="space-4"></div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: Transaction.MaintenanceType.ID!=ConsCIFMaintenanceType.ChangeRMCons && $root.IsCheckerCIF()==true">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-all"></label>

                <label class="col-sm-8 control-label bolder no-padding-right" for="product-code">Check All</label>

                <label id="Checkall" class="col-sm-1">
                    <input name="check-all" id="check-all" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.CheckAll(), click: function(data) { $root.CheckAllData('TransactionCBOMaker'); }" />
                    <span class="lbl"></span>
                </label>
            </div>


            <div class="form-group form-line no-margin-bottom no-padding-bottom">

                <label class="col-sm-3 control-label bolder no-padding-right">Product</label>

                <label class="col-sm-8">
                    <span class="col-sm-4" class="col-sm-11" disabled="disabled" data-bind="text:Transaction.Product.Name, visible:$root.IsBranchMakerAfterCBOAccountCIF() == false"></span>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">

                <label class="col-sm-3 control-label bolder no-padding-right">Request Type</label>

                <label class="col-sm-8">
                    <span class="col-sm-4" id="RequestType" name="RequestType" class="col-sm-11" disabled="disabled"
                          data-bind="text: Transaction.RetailCIFCBO.RequestTypes, visible:$root.IsBranchMakerAfterCBOAccountCIF() == false"></span>
                </label>
            </div>

            <div id="lblmaintenanceid" class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Maintenance Type</label>
                <label class="col-sm-8">
                    <span class="col-sm-4" id="MaintenanceType" name="MaintenanceType" class="col-sm-11" disabled="disabled">Dispatch Mode</span>
                </label>

            </div>
            <div id="lblDispatchMode" class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Dispatch Mode Type</label>
                <label class="col-sm-8">
                    <span class="col-sm-4" data-bind="text: Transaction.RetailCIFCBO.DispatchModeType, visible:$root.IsBranchMakerAfterCBOAccountCIF() == false" disabled></span>
                </label>

            </div>

            <div id="lblDispatchMode" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:Transaction.RetailCIFCBO.DispatchModeOther != ''">
                <label class="col-sm-3 control-label bolder no-padding-right">Other</label>
                <label class="col-sm-8">
                    <span class="col-sm-4" data-bind="text: Transaction.RetailCIFCBO.DispatchModeOther, visible:$root.IsBranchMakerAfterCBOAccountCIF() == false" disabled></span>
                </label>
            </div>
            <!--//attachment-->
            <div class="padding-4">
                <h3 class="header smaller lighter dark">Attachment</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>File Name</th>
                                <th>Document Type</th>
                                <th>Modified</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Transaction.Documents, visible: (Transaction.Documents != null && (Transaction.Documents != null ? (Transaction.Documents.length > 0) : false))">
                            <tr>
                                <td><span data-bind="text: $index() + 1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: (Transaction.Documents == null || Transaction.Documents.length == 0 )">
                            <tr>
                                <td colspan="4" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
    <div class="space-16"></div>
</div>