﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <!-- Tanggal Pembuatan Transaction -->
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>
                <!-- No Application dan Nama User -->
                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>




            <!-- Customer Name -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>
                <label class="col-sm-8">
                    <span name="customer-name" id="customer-name" data-bind="text: Transaction.Customer.Name"></span>
                    <span class="label label-warning arrowed" data-bind="if: Transaction.IsNewCustomer">
                        <i class="icon-warning-sign bigger-120"></i>
                        New Customer
                    </span>
                </label>

            </div>

            <!-- CIF -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>
                <label class="col-sm-8">
                    <span name="cif" id="cif" data-bind="text: Transaction.Customer.CIF"></span>
                </label>

            </div>

            <!-- Product -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>
                <label class="col-sm-8">
                    <span id="product-code" name="product" data-bind="text: Transaction.Product.Code"></span>
                    (<span id="product-name" name="product" data-bind="text: Transaction.Product.Name"></span>)
                </label>

            </div>

            <!-- Channel -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>
                <label class="col-sm-8">
                    <span id="channel" name="channel" data-bind="text: Transaction.Channel.Name"></span>
                </label>

            </div>

            <!--Source-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>
                <label class="col-sm-8">
                    <span id="source" name="source" data-bind="text: $root.SourceName()"></span>
                </label>
            </div>

            <!-- Transaction Type-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="transaction-type"> Transaction Type</label>
                <label class="col-sm-8">
                    <span id="transaction-type" name="transaction-type" data-bind="text: Transaction.TransactionType.TransactionTypeName"></span>
                </label>

            </div>

            <!-- FD Acc Number -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="fd-acc-number">FD Acc Number</label>
                <label class="col-sm-8">
                    <span id="fd-acc-number" for="fd-acc-number" data-bind="text: Transaction.FDAccNumber"></span>
                </label>

            </div>

            <!-- Currency-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency-code">Currency</label>

                <label class="col-sm-8">
                    <span id="currency-code" name="currency" data-bind="text: Transaction.Currency.Code"></span>
                    (<span id="currency-desc" name="currency" data-bind="text: Transaction.Currency.Description"></span>)
                </label>

            </div>

            <!-- Amount-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="amount">Amount</label>
                <label class="col-sm-8">
                    <span name="amount" id="amount" data-bind="text: formatNumber(Transaction.Amount)"></span>
                </label>

            </div>

            <!-- Debit Account Number -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsChangeOfInstruction()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-number">Debit Account Number</label>
                <label class="col-sm-8">
                    <span id="debit-acc-number" name="debit-acc-number" data-bind="text: Transaction.DebitAccNumber"></span>
                </label>

            </div>

            <!-- Credit Acc Number -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="credit-acc-number">Credit Acc Number</label>
                <label class="col-sm-8">
                    <span id="credit-acc-number" for="credit-acc-number" data-bind="text: Transaction.CreditAccNumber"></span>
                </label>

            </div>           

            <!-- Tenor -->
            <!--<div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsFDMaintenance()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="tenor">Tenor</label>
                <label class="col-sm-8">
                    <span id="tenor" name="tenor" data-bind="text: Transaction.Tenor"></span>
                </label>

            </div>-->

            <!-- Value Date-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Value Date</label>
                <label class="col-sm-8">
                    <span id="value-date" name="value-date" data-bind="text: $root.LocalDate(Transaction.ValueDate, true, true)"></span>
                </label>

            </div>

            <!-- maturity date-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="maturity-date">Maturity Date</label>
                <label class="col-sm-8">
                    <span id="maturity-date" name="maturity-date" data-bind="text: $root.LocalDate(Transaction.MaturityDate, true, true)"></span>
                </label>

            </div>

            <!-- Transaction Remarks-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="transaction-remarks">Transaction Remarks</label>
                <label class="col-sm-8">
                    <span id="transaction-remarks" name="transaction-remarks" data-bind="text: Transaction.TransactionRemarks"></span>
                </label>

            </div>

            <!-- Bank Name & Acc No-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-name-acc-no">Bank Name & Acc No</label>
                <label class="col-sm-8">
                    <span id="bank-name-acc-no" name="bank-name-acc-no" data-bind="text: Transaction.BankNameAccNumber"></span>
                </label>

            </div>

            <!-- Attachement Remarks--><!-- New Placement-Branch-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="attachment-remarks">Attachment Remarks</label>
                <label class="col-sm-8">
                    <span id="attachment-remarks" name="attachment-remarks" data-bind="text:Transaction.AttachmentRemarks"></span>
                </label>

            </div>

            <!-- Docs Complete-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="docs-complete-fd">Docs Complete</label>
                <label class="col-sm-8">
                    <input type="checkbox" id="docs-complete-fd" data-bind="checked:Transaction.DocsComplete" disabled="disabled" />
                </label>

            </div>

            <!-- All In Rate-->
            <!--<div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="all-in-rate">All In Rate</label>
                <label class="col-sm-8">
                    <span id="all-in-rate" data-bind="text:Transaction.AllInRate"></span>
                </label>
            </div>-->

            <!-- Intersert Rate-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="interest-rate">Interest Rate</label>
                <label class="col-sm-8">
                    <span id="interest-rate" name="interest-rate" data-bind="text: formatNumberInterestRateFD(Transaction.InterestRate)"></span>
                </label>

            </div>

            <!-- Tenor -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="tenor-fd">Tenor</label>
                <label class="col-sm-8">
                    <span id="tenor-fd" data-bind="text:Transaction.Tenor"></span>
                </label>

            </div>

            <!-- FTP Rate-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ftp-rate-fd">FTP Rate</label>
                <label class="col-sm-8">
                    <span id="ftp-rate-fd" data-bind="text:Transaction.FTPRate"></span>
                </label>

            </div>

            <!--callback-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Callback is Required</label>

                <label class="col-sm-1">
                    <input id="check-callback-isrequired" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Transaction.IsCallbackRequired" disabled="disabled" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!--Signature Verification-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Signature Verification</label>

                <label class="col-sm-1">
                    <input id="check-signature-verification" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Transaction.IsSignatureVerified" disabled="disabled" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!--Dormat Account-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Dormat Account</label>

                <label class="col-sm-1">
                    <input id="check-dormant-account" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Transaction.IsDormantAccount" disabled="disabled" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!--Freeze Account-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Freeze Account</label>

                <label class="col-sm-1">
                    <input id="check-freeze-account" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Transaction.IsFrezeAccount" disabled="disabled" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!--Document Completeness -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Document Completeness</label>

                <label class="col-sm-1">
                    <input id="check-document-completeness" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Transaction.DocumentComplete" disabled="disabled" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!--<div data-bind="if:callbackDetail.Callbacks != null">-->
            <div data-bind="if:Callbacks != null">


                <h3 class="header smaller lighter dark">Callback Time</h3>

                <div class="table-responsive">
                    <div class="table-responsive" role="grid">
                        <table id="customerContacted-table" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center">Contacted Name</th>
                                    <th class="center">Call Back Time</th>
                                    <th class="center">Remark</th>
                                    <th class="center">Is UTC</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: Callbacks">
                                <tr>
                                    <td><span data-bind="text: Contact.Name"></span></td>
                                    <td><span data-bind="text: $root.LocalDate(Time)"></span></td>
                                    <!--<td>
                                <div class="input-group bootstrap-timepicker">
                                    <input type="text" class="form-control time-picker" data-bind="timepicker: true, text: Time" />
                                    <span class="input-group-addon">
                                        <i class="icon-time bigger-110"></i>
                                    </span>
                                </div>
                            </td>-->
                                    <td><span data-bind="text: Remark"></span></td>
                                    <td class="center">
                                        <label>
                                            <input type="checkbox" class="ace ace-switch ace-switch-6" data-bind="checked: IsUTC" disabled="disabled" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

          

        </div>
        <div class="space-16"></div>
        <div class="padding-4">
            <h3 class="header smaller lighter dark">Required Approval Based on DOA</h3>
            <div class="col-xs-12">
                <div id="transaction-form" class="form-horizontal" role="form">
                    <div class="form-group form-line no-margin-bottom no-padding-bottom">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-8">
                            <div class="clearfix">
                                <span id="ftp-rate-fd" data-bind="text:$root.ApprovalRole"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-line no-margin-bottom no-padding-bottom">
                        <label class="col-sm-3 control-label bolder no-padding-right" for="approval-name">Approval Name</label>
                        <div class="col-sm-8">
                            <div class="clearfix">
                                <span id="ftp-rate-fd" data-bind="text:$root.ApprovalName"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-16"></div>
        <!-- Attachment -->
        <div class="padding-4">
            <h3 class="header smaller lighter dark">Attachment</h3>
            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Transaction.Documents,visible: Transaction.Documents.length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: Transaction.Documents.length == 0">
                        <tr>
                            <td colspan="13" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    

</div>


