﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form2" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>
            <div class="form-group no-padding-bottom">
                <label class="col-sm-6 align-center">BranchName</label>
                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Customer.Branch.Name"></span>
                </label>

            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-all"></label>

                <label class="col-sm-8 control-label bolder no-padding-right" for="product-code">Check All</label>

                <label class="col-sm-1">
                    <input name="check-all" id="check-all" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.CheckAll(), click: function(data) { $root.CheckAllData('TransactionLoanCheckerUnsettlement'); }" />
                    <span class="lbl"></span>
                </label>
            </div>


            <div class="space-4"></div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Customer Name</label>

                <label class="col-sm-8">
                    <span data-bind="text: Transaction.Customer.Name"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Customer Name')">
                    <!--Verify()[0]-->
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">CIF</label>

                <label class="col-sm-8">
                    <span data-bind="text: Transaction.Customer.CIF"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('CIF')">
                    <!--Verify()[0]-->
                    <input name="check-chif" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Product</label>

                <label class="col-sm-8">
                    <span data-bind="text: Transaction.Product.Code"></span>
                    (<span data-bind="text: Transaction.Product.Name"></span>)
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Product')">
                    <!--Verify()[0]-->
                    <input name="check-product" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">IBG Segment</label>

                <label class="col-sm-8">
                    <span data-bind="text: Transaction.BizSegment.Description"></span>
                    (<span data-bind="text: Transaction.BizSegment.Name"></span>)
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Biz Segment')">
                    <!--Verify()[0]-->
                    <input name="check-product" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Transaction Currency</label>

                <label class="col-sm-8">
                    <span data-bind="text: Transaction.Currency.Code"></span>
                    (<span data-bind="text: Transaction.Currency.Description"></span>)
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Currency')">
                    <!--Verify()[0]-->
                    <input name="check-product" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Transaction Amount</label>

                <label class="col-sm-8">
                    <span data-bind="text: formatNumber_r(Transaction.Amount)"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Trxn Amount')">
                    <!--Verify()[0]-->
                    <input name="check-Amount" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">

                <label class="col-sm-3 control-label bolder no-padding-right">Channel</label>
                <label class="col-sm-8">
                    <span data-bind="text: Transaction.Channel.Name"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Channel')">
                    <!--Verify()[0]-->
                    <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsPPURole()">

                <label class="col-sm-3 control-label bolder no-padding-right">Source</label>
                <label class="col-sm-8">
                    <span data-bind="text: $root.SourceName()"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Source')">
                    <!--Verify()[0]-->
                    <input name="check-source" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Value Date</label>

                <label class="col-sm-8">
                    <span data-bind="text: $root.LocalDate(Transaction.ValueDate, true)"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Value Date')">
                    <!--Verify()[0]-->
                    <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Loan Contract</label>

                <label class="col-sm-8">
                    <span data-bind="text: Transaction.LoanContractNo"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('LoanContract')">
                    <!--Verify()[0]-->
                    <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label">Tran ID</label>


                <div class="col-sm-2">
                    <div class="clearfix">
                        <input type="text" id="TranId" name="TranId" data-bind="value: Transaction.LoanTransID" class=" col-sm-15" data-rule-required="true" data-rule-maxlength="50" />
                        <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                    </div>
                </div>
            </div>

            <!--templatemaster funding-->
            <div class="modal-body overflow-visible">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="customer-form" class="form-horizontal" role="form">
                            <div class="widget-box ui-sortable-handle">

                            </div>
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header">
                                    <h4 class="widget-title">I.CUSTOMER DETAILS</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Customer Name</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" id="CustomerFunding" name="CustomerFunding" data-bind="value: Transaction.FundingMemo.CustomerName" class=" col-sm-15" disabled="disabled" data-rule-required="true" data-rule-maxlength="50" />

                                                </div>
                                                <div class="col-md-1">
                                                </div>
                                                <div class="col-md-2">
                                                    <label>SOL ID</label>
                                                </div>
                                                <div class="col-md-3" data-rule-required="true" data-rule-maxlength="255">
                                                    <input type="text" id="SolID" name="SolID" data-bind="value: Transaction.FundingMemo.SolID" class="col-sm-10" data-rule-required="true" disabled="disabled" data-rule-maxlength="255" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Customer ID</label>
                                                </div>
                                                <div class="col-md-3" data-rule-required="true" data-rule-maxlength="50">
                                                    <input disabled="disabled" type="text" id="CIF" name="CIF" data-bind="value: Transaction.FundingMemo.CIF" class="col-sm-15" data-rule- maxlength="50" />
                                                </div>
                                                <div class="col-md-1">

                                                </div>
                                                <div class="col-md-2">
                                                    <label>Segment</label>
                                                </div>
                                                <div class="col-md-3" data-rule-required="true" data-rule-maxlength="255">
                                                    <input type="text" id="BizSegment" name="BizSegment" class="col-sm-15" data-bind="value: Transaction.FundingMemo.BizSegmentName"
                                                           data-rule-required="true" data-rule-maxlength="255" disabled="disabled" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Customer Category</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="text" id="CustomerCategoryID" disabled="disabled" name="CustomerCategoryID" data-bind="value: Transaction.FundingMemo.CustomerCategoryName" class="col-sm-15" data-rule-maxlength="50" />
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                                </div>
                                                <div class="col-md-2" style="left:37px">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('CustomerCategory')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Program Type</label>
                                                </div>
                                                <div class="col-md-2" style="right:100px">
                                                    <select id="ProgramType" name="ProgramType" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlProgramTypes, optionsText: 'ProgramTypeName', optionsValue: 'ProgramTypeID', optionsCaption: 'Please Select...', value: Transaction.FundingMemo.ProgramTypeID" disabled="disabled"></select>
                                                    <!--<label class="control-label bolder text-danger" for="Customer">*</label>-->
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" style="right:50px" data-bind="with: $root.VerifyColumn('ProgramType')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Loan Type</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <select id="LoanID" name="LoanID" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlLoanIDs, optionsText: 'LoanTypeName', optionsValue: 'LoanTypeID', optionsCaption: 'Please Select...', value: Transaction.FundingMemo.LoanTypeID" disabled="disabled"></select>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="LoanType">*</label>
                                                </div>
                                                <label class="col-sm-2" style="left:50px" data-bind="with: $root.VerifyColumn('LoanType')">
                                                    <!--Verify()[0]-->
                                                    <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                    <span class="lbl"></span>
                                                </label>
                                                <div class="col-md-2">
                                                    <label>Scheme Code:Finaclee</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <select style="width:150px" id="FinacleScheme" name="FinacleScheme" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlFinacleSchemes, optionsText: 'FinacleSchemeCodeName', optionsValue: 'FinacleSchemeCodeID', optionsCaption: 'Please Select...', value: Transaction.FundingMemo.FinacleSchemeCodeID" disabled="disabled"></select>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="LoanType">*</label>
                                                </div>
                                                <label class="col-sm-1" style="left:40px" data-bind="with: $root.VerifyColumn('FinacleScheme')">
                                                    <!--Verify()[0]-->
                                                    <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">

                                                </div>
                                                <div class="col-md-3">

                                                </div>
                                                <label class="col-sm-1" style="left:50px" data-bind="with: $root.VerifyColumn('LoanType')">

                                                </label>

                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label></label>
                                                </div>
                                                <div class="col-md-4">

                                                </div>
                                                <div class="col-md-2">
                                                    <label>IsAdhoc</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="checkbox" id="IsAdhoc" name="IsAdhoc" data-bind="value: Transaction.FundingMemo.IsAdhoc,enable: !$root.VerifyColumn('IsAdhoc')().IsVerified" class="col-xs-10" data-rule-required="true" data-rule-maxlength="255" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>



                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header">
                                    <h4 class="widget-title">II.LOAN DETAILS</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Amount Disburse</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <input disabled="disabled" type="text" id="AmountDisburse" name="AmountDisburse" data-bind="value: Transaction.FundingMemo.CodeAmount" class=" col-sm-12" data-rule-required="true" data-rule-maxlength="50" />

                                                </div>

                                                <div class="col-md-2">
                                                    <input disabled="disabled" type="text" id="AmountDisburse" name="AmountDisburse" data-bind="value: Transaction.FundingMemo.AmountDisburse" class=" col-sm-15" data-rule-required="true" data-rule-maxlength="50" />
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="amouentdisburse">*</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('AmountDisburse')">
                                                        <!--Verify()[0]-->
                                                        <input name=" check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Crediting Operative/Office A/C ID</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" id="CreditingOperative" name="CreditingOperative" class="col-sm-15" data-bind="value: Transaction.FundingMemo.CreditingOperative" data-rule-required="true" data-rule-maxlength="255" disabled="disabled" />
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('CreditingOperative')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label></label>
                                                </div>
                                                <div class="col-md-4">

                                                </div>
                                                <div class="col-md-2">
                                                    <label>Debiting Operative/office A/C(settlement)</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" id="DebitingOperative" name="DebitingOperative" class="col-sm-15" data-bind="value: Transaction.FundingMemo.DebitingOperative" disabled="disabled" data-rule-required="true" data-rule-maxlength="255" />
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="debitingoperative">*</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('DebitingOperative')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Value Date</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="ValueDate" name="ValueDate" data-bind="value: $root.LocalDate(Transaction.FundingMemo.ValueDateFun,true,false)" disabled="disabled" data-rule-required="true" data-rule-value="true" />
                                                    <span><i class="icon-calendar bigger-110"></i></span>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Maturity Date</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="MaturityDate" name="MaturityDate" data-bind="value: $root.LocalDate(Transaction.FundingMemo.MaturityDate,true)" disabled="disabled" data-rule-required="true" data-rule-value="true" />
                                                    <span><i class="icon-calendar bigger-110"></i></span>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('MaturityDate')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header">
                                    <h4 class="widget-title">III.INTEREST RATE</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Interest rate Code</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <select id="Interest" name="Interest"
                                                            data-bind="value: Transaction.FundingMemo.InterestCodeID,
                                    options: $root.ddlInterests,
                                    optionsText:function(item) { if(item.InterestID != null) return item.InterestCodeName},
                                    optionsValue: 'InterestID',
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('CSOTASK', 'Interest'); } }" disabled="disabled"></select>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="ddlinterest">*</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="col-sm-1" style="left:50px" data-bind="with: $root.VerifyColumn('FundingInterestRateCodeID')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Approve Margin AS Per Credit Memo</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" id="ApprovedMarginAsPerCM" disabled="disabled" name="ApprovedMarginAsPerCM" class="col-sm-15" data-bind="value: Transaction.FundingMemo.ApprovedMarginAsPerCM" data-rule-required="true" data-rule-maxlength="255" />
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('ApprovedMarginAsPerCM')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Base Rate</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" id="BaseRate" name="BaseRate" class="col-sm-12" disabled="disabled" data-bind="value: Transaction.FundingMemo.BaseRate" data-rule-required="true" data-rule-maxlength="255" />
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="baserate">*</label>
                                                </div>

                                                <div class="col-md-2">
                                                    <label>Special FTP</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" id="SpecialFTP" disabled="disabled" name="SpecialFTP" class="col-sm-15" data-bind="value: Transaction.FundingMemo.SpecialFTP" data-rule-required="true" data-rule-maxlength="255" />
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('SpecialFTP')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Acc. Prefencial/Margin</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="text" id="AccountPreferencial" disabled="disabled" name="AccountPreferencial" class="col-sm-15" data-bind="value: Transaction.FundingMemo.AccountPreferencial" data-rule-required="true" data-rule-maxlength="255" />
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="accountprefencial">*</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="col-sm-1" style="left:50px" data-bind="with: $root.VerifyColumn('AccountPreferencial')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Margin</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input disabled="disabled" type="text" id="Margin" name="Margin" class="col-sm-15" data-bind="value: Transaction.FundingMemo.Margin" data-rule-required="true" data-rule-maxlength="255" />
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Margin')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>All In Rate</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <input disabled="disabled" type="text" id="AllInRate" name="AllInRate" class="col-sm-12" data-bind="value: Transaction.FundingMemo.AllInRate" data-rule-required="true" data-rule-maxlength="255" />
                                                </div>
                                                <div class="col-md-2">
                                                </div>
                                                <div class="col-md-2">
                                                    <label>All In Special Rate</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <input disabled="disabled" type="text" id="AllInSpecialRate" name="AllInSpecialRate" class="col-sm-12" data-bind="value: Transaction.FundingMemo.AllInSpecialRate" data-rule-required="true" data-rule-maxlength="255" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Repricing Plan</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <select style="width:160px" disabled="disabled" id="RepricingPlan" name="RepricingPlan"
                                                            data-bind="value: Transaction.FundingMemo.RepricingPlanID,
                                                options: $root.ddlRepricings,
                                                optionsText: function(item) { if(item.RepricingPlanID != null) return item.RepricingPlanName},
                                                optionsValue: 'RepricingPlanID',
                                                optionsCaption: 'Please Select...',
                                                event: { change: function(){ $root.PopulateSelected('CSOTASK', 'RepricingPlan'); } }"></select>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="RepricingPlan">*</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="col-sm-1" style="left:50px" data-bind="with: $root.VerifyColumn('RepricingPlan')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Pegging Date</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <input disabled="disabled" class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="PeggingDate" name="PeggingDate" data-bind="value: $root.LocalDate(Transaction.FundingMemo.PeggingDate,true)" data-rule-required="true" data-rule-value="true" />
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="Amount">*</label>
                                                </div>
                                                <div class="col-md-2" style="left:50px">
                                                    <label class="col-sm-1" style="left:50px" data-bind="with: $root.VerifyColumn('PeggingDate') ">
                                                        <!--Verify()[0]-->
                                                        <input name="check-PeggingDate" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label></label>
                                                </div>
                                                <div class="col-md-4">
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Pegging Frequency</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <select id="PeggingFrequency" name="PeggingFrequency" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlFrequencys, optionsText: 'PeggingFrequencyName', optionsValue: 'PeggingFrequencyID', optionsCaption: 'Please Select...', value: Transaction.FundingMemo.PeggingFrequencyID" disabled="disabled"></select>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="peggingfrequency">*</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('PeggingFrequency')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-PeggingFrequency" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-box ui-sortable-handle" data-bind="visible:Transaction.FundingMemo.FinacleSchemeCodeID=='107' ||Transaction.FundingMemo.FinacleSchemeCodeID=='109'">
                                <div class="widget-header">
                                    <h4 class="widget-title">IV.REPAYMENT SCHEDULE</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Principal Start Date</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="PrincipalStartDate" name="PrincipalStartDate" data-bind="value: $root.LocalDate(Transaction.FundingMemo.PrincipalStartDate,true)" data-rule-required="true" data-rule-value="true" disabled="disabled" />
                                                    <span><i class="icon-calendar bigger-110"></i></span>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('PrincipalStartDate')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-PeggingDate" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Principal Frequency</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <select id="PrincipalFrequency" name="PrincipalFrequency" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlFrequencys, optionsText: 'PeggingFrequencyName', optionsValue: 'PeggingFrequencyID', optionsCaption: 'Please Select...', value: Transaction.FundingMemo.PrincipalFrequencyID" disabled="disabled"></select>

                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="principalfrequency">*</label>
                                                </div>
                                                <div>
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('PrincipalFrequency')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-PrincipalFrequency" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Interest Start Date</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input disabled="disabled" class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="InterestStartDate" name="InterestStartDate" data-bind="value: $root.LocalDate(Transaction.FundingMemo.InterestStartDate,true)" data-rule-required="true" data-rule-value="true" />
                                                    <span><i class="icon-calendar bigger-110"></i></span>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('InterestStartDate')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-InterestStartDate" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Interest Frequency</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <select id="InterestFrequency" name="InterestFrequency" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlFrequencys, optionsText: 'PeggingFrequencyName', optionsValue: 'PeggingFrequencyID', optionsCaption: 'Please Select...', value: Transaction.FundingMemo.PrincipalFrequencyID" disabled="disabled"></select>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="Amount">*</label>

                                                </div>
                                                <div class="col-md-1" style="right:10px">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('InterestFrequency')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-InterestFrequency" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>No Of Installment</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" id="NoOfInstallment" name="NoOfInstallment" class="col-xs-10" data-bind="value: Transaction.FundingMemo.NoOfInstallment,enable: !$root.VerifyColumn('NoOfInstallment')().IsVerified" data-rule-required="true" data-rule-maxlength="255" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('NoOfInstallment')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-NoOfInstallment" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-3">

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header">
                                    <h4 class="widget-title">V.LIMIT</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Limit ID in Fin 10</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" id="LimitIDinFin10" name="LimitIDinFin10" class="col-sm-12" data-bind="value: Transaction.FundingMemo.LimitIDinFin10" data-rule-required="true" data-rule-maxlength="255" disabled="disabled" />
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="limitidinfin10">*</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('LimitIDinFin10')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-LimitIDinFin10" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Sanction Limit</label>
                                                </div>
                                                <div class="col-md-1" style="right:30px">
                                                    <select id="SanctionLimitCurrID" name="SanctionLimitCurrID" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlSanctionLimitCurrIDs, optionsText: 'Code', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.FundingMemo.SanctionLimitCurrID" disabled="disabled"></select>

                                                </div>
                                                <div class="col-md-2">
                                                    <input disabled="disabled" type="text" id="SanctionLimitAmount" name="SanctionLimitAmount" class="col-xs-10" data-bind="value: Transaction.FundingMemo.sactionlimit"
                                                           data-rule-required="true" data-rule-maxlength="255" />
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="Amount">*</label>


                                                </div>
                                                <div class="col-md-1" style="right:30px">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('SanctionLimitCurrID')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-SanctionLimitCurrID" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Limit Expire Date</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input disabled="disabled" class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="LimitExpiryDate" name="LimitExpiryDate" data-bind="value: $root.LocalDate(Transaction.FundingMemo.LimitExpiryDate,true)" data-rule-required="true" data-rule-value="true" />
                                                    <span><i class="icon-calendar bigger-110"></i></span>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="LimitExpiryDate">*</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('LimitExpiryDate')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-SanctionLimitCurrID" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Utilisation</label>
                                                </div>
                                                <div class="col-md-1" style="right:30px">
                                                    <select id="utilization" name="utilization" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlUtilizationCurrIDs, optionsText: 'Code', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.FundingMemo.UtilizationCurrID" disabled="disabled"></select>

                                                </div>
                                                <div class="col-md-2">
                                                    <input disabled="disabled" type="text" id="utilizationAmount" name="utilizationAmount" class="col-sm-15" data-bind="value: Transaction.FundingMemo.utilazition"
                                                           data-rule-required="true" data-rule-maxlength="255" />


                                                </div>
                                                <div class="col-md-1" style="right:30px">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('utilization')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-utilization" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label></label>
                                                </div>
                                                <div class="col-md-4">
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Outstanding</label>
                                                </div>
                                                <div class="col-md-1" style="right:30px">
                                                    <select id="Outstanding" name="Outstanding" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlOutstandingCurrIDs, optionsText: 'Code', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.FundingMemo.OutstandingCurrID" disabled="disabled"></select>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Outstanding')">

                                                    </label>
                                                </div>
                                                <div class="col-md-3" style="bottom:6px">
                                                    <input disabled="disabled" type="text" id="OutstandingAmount" name="OutstandingAmount" class="col-sm-15" data-bind="value: Transaction.FundingMemo.outstanding"
                                                           data-rule-required="true" data-rule-maxlength="255" />


                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header">
                                    <h4 class="widget-title">VI.CONTACT DETAIL</h4>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>CSO Name</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input disabled="disabled" type="text" style="width:900px; height:100px;" id="CSOName" name="CSOName" class="col-sm-15" data-bind="value: Transaction.FundingMemo.CSOName" data-rule-required="true" data-rule-maxlength="255" />
                                                </div>
                                                <div class="col-md-1" style="right:120px">

                                                </div>
                                                <div class="col-md-3">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header">
                                    <h4 class="widget-title">VII.Required Approval Based On DOA</h4>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main" style="height: 150px">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <input type="text" id="Employee" name="Employee" data-bind="value: Transaction.FundingMemo.DoaName" class="col-sm-15" data-rule-required="true" data-rule-maxlength="255" disabled="disabled" style="width:1100px;height:120px" />
                                                </div>
                                                <div class="col-md-1" style="right:120px">

                                                </div>
                                                <div class="col-md-3">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="padding-4">
                                    <h3 class="header smaller lighter dark">Attachment</h3>

                                    <div class="dataTables_wrapper" role="grid">
                                        <table class="table table-striped table-bordered table-hover dataTable">
                                            <thead>
                                                <tr>
                                                    <th>No.</th>
                                                    <th>File Name</th>
                                                    <th>Purpose of Docs</th>
                                                    <th>Type of Docs</th>
                                                    <th>Modified</th>

                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: $root.MakerDocuments, visible: $root.MakerDocuments().length > 0">
                                                <tr>
                                                    <td><span data-bind="text: $index() +1"></span></td>
                                                    <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                                                    <td><span data-bind="text: Purpose.Name"></span></td>
                                                    <td><span data-bind="text: Type.Name"></span></td>
                                                    <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                                                </tr>
                                            </tbody>

                                            <tbody data-bind="visible: $root.MakerDocuments().length == 0">
                                                <tr>
                                                    <td colspan="13" class="text-center">
                                                        No entries available.
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="space-16 form-line"></div>
                        <!--page attachment-->



                    </div>
                    <!--Start Body Funding Memo-->
                    <!--End Body Funding Memo-->



                </div>
            </div>


            <!--Start Body Funding Memo-->
            <!--End Body Funding Memo-->



        </div>
    </div>

</div>
  