﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <!-- Tanggal Pembuatan Transaction -->
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>
                <!-- No Application dan Nama User -->
                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>
            <!-- Customer Name -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>
                <label class="col-sm-8">
                    <span name="customer-name" id="customer-name" data-bind="text: Transaction.Customer.Name"></span>
                    <span class="label label-warning arrowed" data-bind="if: Transaction.IsNewCustomer">
                        <i class="icon-warning-sign bigger-120"></i>
                        New Customer
                    </span>
                </label>
            </div>

            <!-- CIF -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>
                <label class="col-sm-8">
                    <span name="cif" id="cif" data-bind="text: Transaction.Customer.CIF"></span>
                </label>
            </div>

            <!-- Product -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>
                <label class="col-sm-8">
                    <span id="product-code" name="product" data-bind="text: Transaction.Product.Code"></span>
                    (<span id="product-name" name="product" data-bind="text: Transaction.Product.Name"></span>)
                </label>
            </div>

            <!-- Segment -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="biz-segment">IBG Segment</label>
                <label class="col-sm-8">
                    <span id="biz-segment" name="biz-segment" data-bind="text: Transaction.BizSegment.Description"></span>
                </label>
            </div>

            <!-- Transaction Currency -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.ProductID() != ConsProductID.LoanIMProductIDCons, visible: $root.ProductID() != ConsProductID.LoanIMProductIDCons">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency">Transaction Currency</label>
                <label class="col-sm-8">
                    <span id="currency-code" name="currency" data-bind="text: Transaction.Currency.Code"></span>
                    (<span id="currency-desc" name="currency" data-bind="text: Transaction.Currency.Description"></span>)
                </label>
            </div>

            <!-- Transaction Amount -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.ProductID() != ConsProductID.LoanIMProductIDCons, visible: $root.ProductID() != ConsProductID.LoanIMProductIDCons">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trxn-amount">Transaction Amount</label>
                <label class="col-sm-8">
                    <span id="trxn-amount" for="trxn-amount" data-bind="text: formatNumber(Transaction.Amount)"></span>
                </label>
            </div>

            <!-- Channel -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.ProductID() != ConsProductID.LoanIMProductIDCons, visible: $root.ProductID() != ConsProductID.LoanIMProductIDCons">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <label class="col-sm-8">
                    <span id="channel" for="channel" data-bind="text: Transaction.Channel.Name"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsPPURole() && $root.ProductID() != ConsProductID.LoanIMProductIDCons, visible: $root.IsPPURole() && $root.ProductID() != ConsProductID.LoanIMProductIDCons">
                <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>

                <label class="col-sm-8">
                    <span id="source" for="source" data-bind="text: $root.SourceName()"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.ProductID() != ConsProductID.LoanIMProductIDCons, visible: $root.ProductID() != ConsProductID.LoanIMProductIDCons">
                <label class="col-sm-3 control-label bolder no-padding-right" for="attachment-remarks">Attachment Remarks</label>
                <label class="col-sm-8">
                    <span id="attachment-remarks" name="attachment-remarks" data-bind="text:Transaction.AttachmentRemarks"></span>
                </label>
            </div>

            <!--Add data Callback by adi-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: !$root.IsCSO()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-callback-required">Callback is Required</label>

                <label class="col-sm-1">
                    <input id="check-callback-required" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Transaction.IsCallbackRequired" disabled="disabled" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: !$root.IsCSO()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Signature Verification</label>

                <label class="col-sm-1">
                    <input id="check-signature-verification" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Transaction.IsSignatureVerified" disabled="disabled" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: !$root.IsCSO()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-dormant-account">Dormant Account</label>

                <label class="col-sm-1">
                    <input id="check-dormant-account" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Transaction.IsDormantAccount" disabled="disabled" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: !$root.IsCSO()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-freeze-account">Freeze Account</label>

                <label class="col-sm-1">
                    <input id="check-freeze-account" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Transaction.IsFreezeAccount" disabled="disabled" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind=" visible: !$root.IsCSO()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-loi-available">Letter of Indemnity Available</label>

                <label class="col-sm-1">
                    <input id="check-loi-available" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Transaction.IsLOIAvailable" disabled="disabled" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: !$root.IsCSO()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-completeness">Document Completeness</label>
                <label class="col-sm-1">
                    <input id="check-document-completeness" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Transaction.IsDocumentComplete" disabled="disabled" />
                    <span class="lbl"></span>
                </label>
            </div>
            <!--End-->
        </div>
               
        <div class="padding-4" data-bind="if: Transaction.Product.Code == 'DB', visible: Transaction.Product.Code == 'DB'">
            <div class="space-16"></div>

            <div class="widget-box ui-sortable-handle">
                <div class="padding-4">
                    <h3 class="header smaller lighter dark">
                        Funding Memo
                    </h3>
                </div>
            </div>
            <div class="widget-box ui-sortable-handle">
                <div class="widget-header">
                    <h4 class="widget-title">I.CUSTOMER DETAILS</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Customer Name</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="CustomerFunding" name="CustomerFunding" data-bind="value: Disbursement.Customer.Name, enable:false" class=" col-sm-15" data-rule-required="true" data-rule-maxlength="50" />
                                    <label class="control-label bolder text-danger" for="Customer">*</label>
                                </div>
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2">
                                    <label>SOL ID</label>
                                </div>
                                <div class="col-md-3" data-rule-required="true" data-rule-maxlength="255">
                                    <input type="text" id="SolID" name="SolID" data-bind="value: Disbursement.SolID, enable:false" class="col-sm-10" data-rule-required="true" data-rule-maxlength="255" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Customer ID</label>
                                </div>
                                <div class="col-md-3" data-rule-required="true" data-rule-maxlength="50">
                                    <input type="text" id="CIF" name="CIF" data-bind="value: Disbursement.Customer.CIF, enable:false" class="col-sm-15" data-rule- maxlength="50" />
                                </div>
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-2">
                                    <label>Segment</label>
                                </div>
                                <div class="col-md-3" data-rule-required="true" data-rule-maxlength="255">
                                    <input type="text" id="BizSegment" name="BizSegment" class="col-sm-15" data-bind="value: Disbursement.BizName, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Customer Category</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="CustomerCategoryID" name="CustomerCategoryID" data-bind="value: Disbursement.CustomerCategoryName, enable:false" class="col-sm-15" data-rule-maxlength="50" />
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                </div>

                                <div class="col-md-3">
                                    <label>Program Type</label>
                                </div>
                                <div class="col-md-2" style="right:100px">
                                    <input type="text" id="CustomerCategoryID" name="CustomerCategoryID" data-bind="value: Disbursement.ProgramTypeName, enable:false" class="col-sm-15" data-rule-maxlength="50" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Scheme Code:Finacle</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="CreditingOperative" name="CreditingOperative" class="col-sm-15" data-bind="value: Disbursement.FinacleSchemeCodeName, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Loan Type</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="CreditingOperative" name="CreditingOperative" class="col-sm-15" data-bind="value: Disbursement.LoanTypeName, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="LoanType">*</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label></label>
                                </div>
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-2">
                                    <label>IsAdhoc</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="checkbox" id="IsAdhoc" name="IsAdhoc" data-bind="value: Disbursement.IsAdhoc, enable:false" class="col-xs-10" data-rule-required="true" data-rule-maxlength="255" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="widget-box ui-sortable-handle">
                <div class="widget-header">
                    <h4 class="widget-title">II.LOAN DETAILS</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Amount Disburse</label>
                                </div>
                                <!--<div class="col-md-1">
                                <select id="AmountDisburseID" name="AmountDisburseID" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlLoanIDs, optionsText: 'AmountDisburseID', optionsValue: 'AmountDisburseID', optionsCaption: 'Please Select...', value: Disbursement.AmountDisburseID" disabled="disabled"></select>
                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="Amount">*</label>
                            </div>-->

                                <div class="col-md-4">
                                    <input type="text" id="CreditingOperative" name="CreditingOperative" class="col-sm-15" data-bind="value: formatNumber(Disbursement.transactionAmount), enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="amouentdisburse">*</label>
                                </div>

                                <div class="col-md-2">
                                    <label>Crediting Operative/Office A/C ID</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="CreditingOperative" name="CreditingOperative" class="col-sm-15" data-bind="value: Disbursement.creditoperaitv, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label></label>
                                </div>
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-2">
                                    <label>Debiting Operative/office A/C(settlement)</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="DebitingOperative" name="DebitingOperative" class="col-sm-15" data-bind="value: Disbursement.debitingoperative, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="debitingoperative">*</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Value Date</label>
                                </div>
                                <div class="col-md-4">
                                    <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="ValueDate" name="ValueDate" data-bind="value: $root.LocalDate(Disbursement.ValueDateFun,true), enable:false" data-rule-required="true" data-rule-value="true" />
                                    <span><i class="icon-calendar bigger-110"></i></span>
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                </div>
                                <div class="col-md-2">
                                    <label>Maturity Date</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="MaturityDate" name="MaturityDate" data-bind="value: $root.LocalDate(Disbursement.MaturityDate,true), enable:false" data-rule-required="true" data-rule-value="true" />
                                    <span><i class="icon-calendar bigger-110"></i></span>
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="widget-box ui-sortable-handle">
                <div class="widget-header">
                    <h4 class="widget-title">III.INTEREST RATE</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Interest rate Code</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="DebitingOperative" name="DebitingOperative" class="col-sm-15" data-bind="value: Disbursement.interestname, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>

                                <div class="col-md-2">
                                    <label>Approve Margin AS Per Credit Memo</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="ApprovedMarginAsPerCM" name="ApprovedMarginAsPerCM" class="col-sm-15" data-bind="value: Disbursement.ApprovedMarginAsPerCM, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Base Rate</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="BaseRate" name="BaseRate" class="col-sm-12" data-bind="value: Disbursement.BaseRate, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="baserate">*</label>
                                </div>

                                <div class="col-md-2">
                                    <label>Special FTP</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="SpecialFTP" name="SpecialFTP" class="col-sm-15" data-bind="value: Disbursement.SpecialFTP, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Acc. Prefencial/Margin</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="AccountPreferencial" name="AccountPreferencial" class="col-sm-15" data-bind="value: Disbursement.AccountPreferencial, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="accountprefencial">*</label>
                                </div>

                                <div class="col-md-2">
                                    <label>Margin</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="Margin" name="Margin" class="col-sm-15" data-bind="value: Disbursement.Margin, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>All In Rate</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="AllInRate" name="AllInRate" class="col-sm-12" data-bind="value: Disbursement.AllInRate, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-2">
                                    <label>All In Special Rate</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="AllInSpecialRate" name="AllInSpecialRate" class="col-sm-12" data-bind="value: Disbursement.AllInSpecialRate, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Repricing Plan</label>
                                </div>
                                <!--<div class="col-md-4">
                                <select id="RepricingPlan" name="RepricingPlan"
                                        data-bind="value: Disbursement.RepricingPlanID,
                                            options: $root.ddlRepricings,
                                            optionsText: function(item) { if(item.RepricingPlanID != null) return item.RepricingPlanID + ' - (' +item.RepricingPlanName + ')'},
                                            optionsValue: 'RepricingPlanID',
                                            optionsCaption: 'Please Select...',
                                            event: { change: function(){ $root.PopulateSelected('CSOTASK', 'RepricingPlan'); } }"></select>
                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="RepricingPlan">*</label>
                            </div>-->
                                <div class="col-md-4">
                                    <input type="text" id="CreditingOperative" name="CreditingOperative" class="col-sm-15" data-bind="value: Disbursement.RepricingPlanName, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>

                                <div class="col-md-2">
                                    <label>Pegging Date</label>
                                </div>
                                <div class="col-md-4">
                                    <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="PeggingDate" name="PeggingDate" data-bind="value: $root.LocalDate(Disbursement.PeggingDate,true), enable:false" data-rule-required="true" data-rule-value="true" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label></label>
                                </div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-2">
                                    <label>Pegging Frequency</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="CreditingOperative" name="CreditingOperative" class="col-sm-15" data-bind="value: Disbursement.peggingname, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="peggingfrequency">*</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="widget-box ui-sortable-handle" data-bind="visible: $root.ShortTerm()">
                <div class="widget-header">
                    <h4 class="widget-title">IV.REPAYMENT SCHEDULE</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Principal Start Date</label>
                                </div>
                                <div class="col-md-4">
                                    <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="PrincipalStartDate" name="PrincipalStartDate" data-bind="value: $root.LocalDate(Disbursement.PrincipalStartDate,true), enable:false" data-rule-required="true" data-rule-value="true" />
                                    <span><i class="icon-calendar bigger-110"></i></span>
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                </div>

                                <div class="col-md-2">
                                    <label>Principal Frequency</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="CreditingOperative" name="CreditingOperative" class="col-sm-15" data-bind="value: Disbursement.peggingname, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="principalfrequency">*</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Interest Start Date</label>
                                </div>
                                <div class="col-md-4">
                                    <input disabled="disabled" class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="InterestStartDate" name="InterestStartDate" data-bind="value: $root.LocalDate(Disbursement.InterestStartDate,true), enable:false" data-rule-required="true" data-rule-value="true" />
                                    <span><i class="icon-calendar bigger-110"></i></span>
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                </div>

                                <div class="col-md-2">
                                    <label>Interest Frequency</label>
                                </div>
                                <!--<div class="col-md-3">
                                <select id="InterestFrequency" name="InterestFrequency"
                                        data-bind="value: Disbursement.InterestFrequency.InterestFrequencyID,
                                            options: $root.ddlFrequencys,
                                            optionsText: function(item) { if(item.PeggingFrequencyID != null) return item.PeggingFrequencyID + ' - (' +item.PeggingFrequencyName + ')'},
                                            optionsValue: 'PeggingFrequencyID',
                                            optionsCaption: 'Please Select...',

                                            event: { change: function(){ $root.PopulateSelected('CSOTASK', 'Frequency'); } }"></select>

                            </div>-->
                                <div class="col-md-3">
                                    <input type="text" id="NoOfInstallment" name="NoOfInstallment" class="col-xs-10" data-bind="value: Disbursement.InterestFrequencyID, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>No Of Installment</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="NoOfInstallment" name="NoOfInstallment" class="col-xs-10" data-bind="value: Disbursement.NoOfInstallment, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>

                                <div class="col-md-3">

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="widget-box ui-sortable-handle">
                <div class="widget-header">
                    <h4 class="widget-title">V.LIMIT</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Limit ID in Fin 10</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="LimitIDinFin10" name="LimitIDinFin10" class="col-sm-12" data-bind="value: Disbursement.LimitIDinFin10, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="limitidinfin10">*</label>
                                </div>

                                <div class="col-md-2">
                                    <label>Sanction Limit</label>
                                </div>
                                <!--<div class="col-md-1" style="right:30px">
                                <select id="SanctionLimitCurrID" name="SanctionLimitCurrID"
                                        data-bind="value: $root.Selected().SanctionLimitCurrID,
                                            options: $root.ddlSanctionLimitCurrIDs,
                                            optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' +item.Code + ')'},
                                            optionsValue: 'ID',
                                            optionsCaption: 'Please Select...',
                                            event: { change: function(){ $root.PopulateSelected('CSOTASK', 'SanctionLimitCurrID'); } }"></select>

                            </div>-->
                                <div class="col-md-2">
                                    <input type="text" id="SanctionLimitAmount" name="SanctionLimitAmount" class="col-xs-11" data-bind="value: Disbursement.SanctionLimit, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Limit Expire Date</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="LimitExpiryDate" name="LimitExpiryDate" data-bind="value: $root.LocalDate(Disbursement.LimitExpiryDate,true), enable:false" data-rule-required="true" data-rule-value="true" />
                                    <span><i class="icon-calendar bigger-110"></i></span>
                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="LimitExpiryDate">*</label>
                                </div>

                                <div class="col-md-2">
                                    <label>Utilisation</label>
                                </div>
                                <!--<div class="col-md-1" style="right:30px">
                                <select id="utilization" name="utilization"
                                        data-bind="value: $root.Selected().utilization,
                                            options: $root.ddlUtilizationCurrIDs,
                                            optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' +item.Code + ')'},
                                            optionsValue: 'ID',
                                            optionsCaption: 'Please Select...',
                                            event: { change: function(){ $root.PopulateSelected('CSOTASK', 'utilization'); } }"></select>
                            </div>-->
                                <div class="col-md-2">
                                    <input type="text" id="utilizationAmount" name="utilizationAmount" class="col-sm-15" data-bind="value: Disbursement.utilization, enable:false" data-rule-required="true" data-rule-maxlength="255" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label></label>
                                </div>
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-2">
                                    <label>Outstanding</label>
                                </div>
                                <!--<div class="col-md-1" style="right:30px">
                                <select id="Outstanding" name="Outstanding"
                                        data-bind="value:  $root.Selected().Outstanding,
                                            options: $root.ddlOutstandingCurrIDs,
                                            optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' +item.Code + ')'},
                                            optionsValue: 'ID',
                                            optionsCaption: 'Please Select...',

                                            event: { change: function(){ $root.PopulateSelected('CSOTASK', 'Outstanding'); } }"></select>

                            </div>-->

                                <div class="col-md-2">
                                    <input type="text" id="OutstandingAmount" name="OutstandingAmount" class="col-sm-15" data-bind="value: Disbursement.Outstanding, enable:false"
                                            data-rule-required="true" data-rule-maxlength="255" />

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="widget-box ui-sortable-handle">
                <div class="widget-header">
                    <h4 class="widget-title">VI.CONTACT DETAIL</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>CSO Name</label>
                                </div>
                                <div class="col-md-3">
                                    <textarea disabled="disabled" class="col-sm-8" style="width:750px" id="CSOName" name="CSOName" data-bind="value: Disbursement.CSOName" data-rule-required="true" data-rule-maxlength="255" />
                                </div>
                                <div class="col-md-1" style="right:120px">

                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="widget-box ui-sortable-handle">
                <div class="widget-header">
                    <h4 class="widget-title">VII.Required Approval Based On DOA</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main" style="height: 150px">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="text" id="Employee" name="Employee" data-bind="value: Disbursement.DoaName, enable:false" class="col-sm-15" data-rule-required="true" data-rule-maxlength="255" disabled="disabled" style="width:1110px;height:120px" />
                                </div>
                                <div class="col-md-1" style="right:120px">

                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="padding-4">
            <div class="space-16"></div>

            <h3 class="header smaller lighter dark">Worksheet</h3>
            <div class="dataTables_wrapper" style="overflow-x: auto" role="grid" data-bind="if:LoanRollover.length > 0, visible: LoanRollover.length > 0">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th> No</th>
                            <th> SOL ID</th>
                            <th> Scheme Code</th>
                            <th> CIF</th>
                            <th> Customer Name</th>
                            <th> Loan Contract No</th>
                            <th> Due Date</th>
                            <th> CCY</th>
                            <th> Amount Due</th>
                            <th> Limit ID</th>
                            <th> IBG Segment</th>
                            <th> RM</th>
                            <th> CSO</th>
                            <th> Cashback or SBLC Secured</th>
                            <th> PLP or Heavy Equipment</th>
                            <th> Maintenance Type</th>
                            <th> Amount Roll Over</th>
                            <th> Next Principal Date</th>
                            <th> Next Interest Date</th>
                            <th> Approved Margin As Per Credit Memo</th>
                            <th> Interest Rate Code</th>
                            <th> Regular Rate Base Rate</th>
                            <th> Regular Rate All-In LP</th>
                            <th> Regular Rate All-In FTP Rate</th>
                            <th> Regular Rate Acc Pref</th>
                            <th> Special Rate Spesical FTP</th>
                            <th> Special Rate Margin</th>
                            <th> All In Rate</th>
                            <th> Required Approval Based On DOA</th>
                            <th> Approved By</th>
                            <th> Remark</th>
                            <th> Need Adhoc</th>

                        </tr>
                    </thead>
                    <tbody data-bind="foreach: LoanRollover">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><span data-bind="text:  SOLID"></span></td>
                            <td><span data-bind="text:  SchemeCode"></span></td>
                            <td><span data-bind="text:  CIF"></span></td>
                            <td><span data-bind="text:  CustomerName"></span></td>
                            <td><span data-bind="text:  LoanContractNo"></span></td>
                            <td><span data-bind="text:  DueDate"></span></td>
                            <td><span data-bind="text:  Currency.Code"></span></td>
                            <td><span data-bind="text:  AmountDue"></span></td>
                            <td><span data-bind="text:  LimitID"></span></td>
                            <td><span data-bind="text:  BizSegment.Name"></span></td>
                            <td><span data-bind="text:  RM.EmployeeName"></span></td>
                            <td><span data-bind="text:  CSO"></span></td>
                            <td><span data-bind="text:  IsSBLCSecured? 'Yes' : 'No'"></span></td>
                            <td><span data-bind="text:  IsHeavyEquipment? 'Yes' : 'No'"></span></td>
                            <td><span data-bind="text:  MaintenanceTypeName"></span></td>
                            <td><span data-bind="text:  AmountRollover"></span></td>
                            <td><span data-bind="text:  $root.LocalDate(NextPrincipalDate)"></span></td>
                            <td><span data-bind="text:  $root.LocalDate(NextInterestDate)"></span></td>
                            <td><span data-bind="text:  ApprovedMarginAsPerCM"></span></td>
                            <td><span data-bind="text:  InterestRateCodeName"></span></td>
                            <td><span data-bind="text:  BaseRate"></span></td>
                            <td><span data-bind="text:  AllInLP"></span></td>
                            <td><span data-bind="text:  AllInFTPRate"></span></td>
                            <td><span data-bind="text:  AccountPreferencial"></span></td>
                            <td><span data-bind="text:  SpecialFTP"></span></td>
                            <td><span data-bind="text:  SpecialRateMargin"></span></td>
                            <td><span data-bind="text:  AllInrate"></span></td>
                            <td><span data-bind="text:  ApprovalDOA"></span></td>
                            <td><span data-bind="text:  ApprovedBy"></span></td>
                            <td><span data-bind="text:  Remarks"></span></td>
                            <td><span data-bind="text:  IsAdhoc? 'Yes' : 'No'"></span></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: LoanRollover.length == 0">
                        <tr>
                            <td colspan="32" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="dataTables_wrapper" style="overflow-x: auto" role="grid" data-bind="if:LoanIM.length > 0, visible: LoanIM.length > 0">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>  No</th>
                            <th>  SOL ID</th>
                            <th>  Scheme Code</th>
                            <th>  CIF</th>
                            <th>  Customer Name</th>
                            <th>  Loan Contract No</th>
                            <th>  Due Date</th>
                            <th>  CCY</th>
                            <th>  Previous Interest Rate</th>
                            <th>  Current Interest Rate</th>
                            <th>  IBG Segment (for IBG 3&4 Only)</th>
                            <th>  RM</th>
                            <th>  CSO</th>
                            <th>  Cashback or SBLC Secured?</th>
                            <th>  PLP or Heavy Equipment (for IBG 3&4 Only)</th>
                            <th>  Value Date</th>
                            <th>  Next Principal Date</th>
                            <th>  Next Interest Date</th>
                            <th>  Approved Margin As Per Credit Memo</th>
                            <th>  Interest Rate Code</th>
                            <th>  Regular Base Rate</th>
                            <th>  Regular Account Preferencial</th>
                            <th>  Special Rate Special FTP</th>
                            <th>  Special Rate Margin</th>
                            <th>  All In Rate</th>
                            <th>  Required Approval Based on DOA</th>
                            <th>  Approved By</th>
                            <th>  Pegging Review Date</th>
                            <th>  Remark</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: LoanIM">
                        <tr>
                            <td><span data-bind="text:  $index() +1"></span></td>
                            <td><span data-bind="text:  SolID"></span></td>
                            <td><span data-bind="text:  SchemeCode"></span></td>
                            <td><span data-bind="text:  CIF"></span></td>
                            <td><span data-bind="text:  CustomerName"></span></td>
                            <td><span data-bind="text:  LoanContractNo"></span></td>
                            <td><span data-bind="text:  $root.LocalDate(DueDate, true)"></span></td>
                            <td><span data-bind="text:  CurrencyCode"></span></td>
                            <td><span data-bind="text:  PreviousInterestRate"></span></td>
                            <td><span data-bind="text:  CurrentInterestRate"></span></td>
                            <td><span data-bind="text:  BizSegmentName"></span></td>
                            <td><span data-bind="text:  EmployeeName"></span></td>
                            <td><span data-bind="text:  CSO"></span></td>
                            <td><span data-bind="text:  IsSBLCSecured? 'Yes' : 'No'"></span></td>
                            <td><span data-bind="text:  IsHeavyEquipment? 'Yes' : 'No'"></span></td>
                            <td><span data-bind="text:  $root.LocalDate(ValueDate, true)"></span></td>
                            <td><span data-bind="text:  $root.LocalDate(NextPrincipalDate, true)"></span></td>
                            <td><span data-bind="text:  $root.LocalDate(NextInterestDate, true)"></span></td>
                            <td><span data-bind="text:  ApprovedMarginAsPerCM"></span></td>
                            <td><span data-bind="text:  InterestRateCodeName"></span></td>
                            <td><span data-bind="text:  BaseRate"></span></td>
                            <td><span data-bind="text:  AccountPreferencial"></span></td>
                            <td><span data-bind="text:  SpecialFTP"></span></td>
                            <td><span data-bind="text:  SpecialRate"></span></td>
                            <td><span data-bind="text:  AllinRate"></span></td>
                            <td><span data-bind="text:  ApprovalDOA"></span></td>
                            <td><span data-bind="text:  ApprovedBy"></span></td>
                            <td><span data-bind="text:  $root.LocalDate(PeggingReviewDate, true)"></span></td>
                            <td><span data-bind="text:  Remarks"></span></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: LoanIM.length == 0">
                        <tr>
                            <td colspan="29" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="padding-4">
            <!--Gird Callback Time-->
            <div class="space-16"></div>
            
            <h3 class="header smaller lighter dark">Callback Time</h3>
            <div class="table-responsive">
                <div class="table-responsive" role="grid">
                    <table id="customerContacted-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">Contacted Name</th>
                                <th class="center">Call Back Time</th>
                                <th class="center">Remark</th>
                                <th class="center">Is UTC</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Callbacks, visible: Callbacks.length > 0">
                            <tr>
                                <td><span data-bind="text: Contact.Name"></span></td>
                                <td><span data-bind="text: $root.LocalDate(Time)"></span></td>

                                <td><span data-bind="text: Remark"></span></td>
                                <td class="center">
                                    <label>
                                        <input type="checkbox" class="ace ace-switch ace-switch-6" data-bind="checked: IsUTC" disabled="disabled" />
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: Callbacks.length == 0">
                            <tr>
                                <td colspan="4" class="text-center">
                                    No entries available.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="space-16"></div>
            <!-- Attachment -->
            <div class="padding-4">
                <h3 class="header smaller lighter dark">Attachment</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>File Name</th>
                                <th>Purpose of Docs</th>
                                <th>Type of Docs</th>
                                <th>Modified</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                                <td><span data-bind="text: Purpose.Name"></span></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: Transaction.Documents.length == 0">
                            <tr>
                                <td colspan="5" class="text-center">
                                    No entries available.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
