﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-all"></label>

                <label class="col-sm-8 control-label bolder no-padding-right" for="product-code">Check All</label>

                <label class="col-sm-1">
                    <input name="check-all" id="check-all" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.CheckAll(), click: function(data) { $root.CheckAllData('TransactionLoanCheckerUnsettlement'); }" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="space-4"></div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <label class="col-sm-8">
                    <span name="customer-name" id="customer-name" data-bind="text: Transaction.Customer.Name"></span>
                    <span class="label label-warning arrowed" data-bind="if: Transaction.IsNewCustomer">
                        <i class="icon-warning-sign bigger-120"></i>
                        New Customer
                    </span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Customer Name')">
                    <!--Verify()[0]-->
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <label class="col-sm-8">
                    <span name="cif" id="cif" data-bind="text: Transaction.Customer.CIF"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('CIF')">
                    <!--Verify()[0]-->
                    <input name="check-cif" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>

                <label class="col-sm-8">
                    <span id="product-code" name="product" data-bind="text: Transaction.Product.Code"></span>
                    (<span id="product-name" name="product" data-bind="text: Transaction.Product.Name"></span>)
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Product')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="biz-segment-code">Biz Segment</label>

                <label class="col-sm-8">
                    <span id="biz-segment-code" name="biz-segment" data-bind="text: Transaction.BizSegment.Description"></span>
                    (<span id="biz-segment-desc" name="biz-segment" data-bind="text: Transaction.BizSegment.Name"></span>)
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Biz Segment')">
                    <!--Verify()[0]-->
                    <input name="check-BizSegment" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency-code">Transaction Currency</label>

                <label class="col-sm-8">
                    <span id="currency-code" name="currency" data-bind="text: Transaction.Currency.Code"></span>
                    (<span id="currency-desc" name="currency" data-bind="text: Transaction.Currency.Description"></span>)
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Currency')">
                    <!--Verify()[1]-->
                    <input name="check-currency" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trxn-amount">Transaction Amount</label>

                <label class="col-sm-8">
                    <span name="trxn-amount" id="trxn-amount" data-bind="text: formatNumber(Transaction.Amount)"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Trxn Amount')">
                    <!--Verify()[2]-->
                    <input name="check-trx-amount" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 2-->
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <label class="col-sm-8">
                    <span id="channel" name="channel" data-bind="text: Transaction.Channel.Name"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Channel')">
                    <!--Verify()[4]-->
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 4-->
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsPPURole()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>

                <label class="col-sm-8">
                    <span id="source" name="source" data-bind="text: $root.SourceName()"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Source')">
                    <!--Verify()[4]-->
                    <input name="check-source" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 4-->
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Value Date</label>

                <label class="col-sm-8">
                    <span data-bind="text: $root.LocalDate(Transaction.ValueDate, true)"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Value Date')">
                    <!--Verify()[0]-->
                    <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Loan Contract</label>

                <label class="col-sm-8">
                    <span data-bind="text: Transaction.LoanContractNo"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Loan Contract')">
                    <!--Verify()[0]-->
                    <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="LoanTransID">Tran ID</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" data-bind="value: Transaction.LoanTransID" name="LoanTransID" id="LoanTransID" />
                    </div>
                </div>
            </div>
            <div class="space-6"></div>

            <div class="padding-4">
                <h3 class="header smaller lighter dark">Attachment</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>File Name</th>
                                <th>Document Type</th>
                                <th>Modified</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.TransactionLoanCheckerUnsettlement().Transaction.Documents">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>
                                <td><span data-bind="text: Purpose.Name"></span></td>
                                <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.TransactionLoanCheckerUnsettlement().Transaction.Documents.length == 0">
                            <tr>
                                <td colspan="13" class="text-center">
                                    No entries available.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>


    </div>
</div>
