﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form2" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>
            <div class="form-group no-padding-bottom">
                <label class="col-sm-6 align-center">BranchName</label>
                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Customer.Branch.Name"></span>
                </label>

            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-all"></label>

                <label class="col-sm-8 control-label bolder no-padding-right" for="product-code">Check All</label>

                <label class="col-sm-1">
                    <input name="check-all" id="check-all" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.CheckAll()" onchange="checkAllLoan(this)" />
                    <span class="lbl"></span>
                </label>
            </div>


            <div class="space-4"></div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Customer Name</label>

                <label class="col-sm-8">
                    <span data-bind="text: Transaction.Customer.Name"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Customer Name')">
                    <!--Verify()[0]-->
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">CIF</label>

                <label class="col-sm-8">
                    <span data-bind="text: Transaction.Customer.CIF"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('CIF')">
                    <!--Verify()[0]-->
                    <input name="check-chif" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Product</label>

                <label class="col-sm-8">
                    <span data-bind="text: Transaction.Product.Code"></span>
                    (<span data-bind="text: Transaction.Product.Name"></span>)
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Product')">
                    <!--Verify()[0]-->
                    <input name="check-product" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">IBG Segment</label>

                <label class="col-sm-8">
                    <span data-bind="text: Transaction.BizSegment.Description"></span>
                    (<span data-bind="text: Transaction.BizSegment.Name"></span>)
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Biz Segment')">
                    <input name="check-product" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Transaction Currency</label>

                <label class="col-sm-8">
                    <span data-bind="text: Transaction.Currency.Code"></span>
                    (<span data-bind="text: Transaction.Currency.Description"></span>)
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Currency')">
                    <!--Verify()[0]-->
                    <input name="check-product" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Transaction Amount</label>

                <label class="col-sm-8">
                    <span data-bind="text: formatNumber(Transaction.Amount)"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Trxn Amount')">
                    <!--Verify()[0]-->
                    <input name="check-Amount" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">

                <label class="col-sm-3 control-label bolder no-padding-right">Channel</label>
                <label class="col-sm-8">
                    <span data-bind="text: Transaction.Channel.Name"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Channel')">
                    <!--Verify()[0]-->
                    <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsPPURole()">

                <label class="col-sm-3 control-label bolder no-padding-right">Source</label>
                <label class="col-sm-8">
                    <span data-bind="text: $root.SourceName()"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Source')">
                    <!--Verify()[0]-->
                    <input name="check-source" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Value Date</label>

                <label class="col-sm-8">
                    <input class="col-xs-15 date-picker" disabled="disabled" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="FundingValueDate" name="ValueDate" data-bind="datepicker: true,value: $root.LocalDate(Transaction.ValueDate, true,false),enable: !$root.VerifyColumn('Value Date')().IsVerified,event:{ change: $root.ChangeValueDateLoanMaker }" data-rule-required="true" data-rule-value="true" />
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Value Date')">
                    <!--Verify()[0]-->
                    <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Loan Contract</label>
                <label class="col-sm-8">
                    <input  type="text" autocomplete="off" id="LoanContractNo" name="LoanContractNo" data-bind="value: Transaction.LoanContractNo,enable: $root.LoanContractEdit(),visible: !$root.IsPrint()" />
                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                </label>
                <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                    <span id="loanContractPrint" data-bind="text:Transaction.LoanContractNo">
                    </span>
                </label>
            </div>
            <div class="modal-body overflow-visible">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="customer-form" class="form-horizontal" role="form">
                            <div class="widget-box ui-sortable-handle">

                            </div>
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header">
                                    <h4 class="widget-title">I.CUSTOMER DETAILS</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Customer Name</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" id="CustomerFunding" name="CustomerFunding" data-bind="value: Transaction.FundingMemo.CustomerName,visible: !$root.IsPrint()" class=" col-sm-15" disabled="disabled" data-rule-required="true" data-rule-maxlength="50" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.CustomerName">
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="col-md-1">
                                                </div>
                                                <div class="col-md-2">
                                                    <label>SOL ID</label>
                                                </div>
                                                <div class="col-md-3" data-rule-required="true" data-rule-maxlength="255">
                                                    <input type="text" id="SolID" name="SolID" data-bind="value: Transaction.FundingMemo.SolID,visible: !$root.IsPrint()" class="col-sm-10" data-rule-required="true" disabled="disabled" data-rule-maxlength="255" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.SolID">
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Customer ID</label>
                                                </div>
                                                <div class="col-md-3" data-rule-required="true" data-rule-maxlength="50">
                                                    <input disabled="disabled" type="text" id="CIF" name="CIF" data-bind="value: Transaction.FundingMemo.CIF,visible: !$root.IsPrint()" class="col-sm-15" data-rule- maxlength="50" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.CIF">
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="col-md-1">

                                                </div>
                                                <div class="col-md-2">
                                                    <label>Segment</label>
                                                </div>
                                                <div class="col-md-3" data-rule-required="true" data-rule-maxlength="255">
                                                    <input type="text" id="BizSegment" name="BizSegment" class="col-sm-15" data-bind="value: Transaction.FundingMemo.BizSegmentName,visible: !$root.IsPrint()"
                                                           data-rule-required="true" data-rule-maxlength="255" disabled="disabled" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.BizSegmentName">
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Customer Category</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="text" id="CustomerCategoryID" disabled="disabled" name="CustomerCategoryID" data-bind="value: Transaction.FundingMemo.CustomerCategoryName,enable: $root.CustomerCategoryVisible(),visible: !$root.IsPrint()" class="col-sm-15" data-rule-maxlength="50" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.CustomerCategoryName">
                                                        </span>
                                                    </label>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('CustomerCategory')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Program Type</label>
                                                </div>
                                                <div class="col-md-2" style="right:100px">
                                                    <select id="ProgramType" name="ProgramType" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlProgramTypes, optionsText: 'ProgramTypeName', optionsValue: 'ProgramTypeID', optionsCaption: 'Please Select...', value: Transaction.FundingMemo.ProgramTypeID,enable: $root.ProgramTypeEdit(),visible: !$root.IsPrint()" disabled="disabled"></select>
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.ProgramTypeName">
                                                        </span>
                                                    </label>
                                                    <!--<label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>-->
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" style="right:65px" data-bind="with: $root.VerifyColumn('ProgramType')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Loan Type</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <select id="LoanID" name="LoanID" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlLoanIDs, optionsText: 'LoanTypeName', optionsValue: 'LoanTypeID', optionsCaption: 'Please Select...', value: Transaction.FundingMemo.LoanTypeID,enable: $root.LoanTypeEdit(),visible: !$root.IsPrint()" disabled="disabled"></select>
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.LoanTypeName">
                                                        </span>
                                                    </label>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="LoanType">*</label>
                                                </div>
                                                <label class="col-sm-2" data-bind="with: $root.VerifyColumn('LoanType')" style="left:10px">
                                                    <!--Verify()[0]-->
                                                    <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                    <span class="lbl"></span>
                                                </label>
                                                <div class="col-md-2">
                                                    <label>Scheme Code:Finacle</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <select style="width:150px" id="FinacleScheme" name="FinacleScheme" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlFinacleSchemes, optionsText: 'FinacleSchemeCodeName', optionsValue: 'FinacleSchemeCodeID', optionsCaption: 'Please Select...', value: Transaction.FundingMemo.FinacleSchemeCodeID,enable: $root.FinacleSchemeEdit(), event: { change: function () { $root.IshiddenFinacleLoanMaker() }},visible: !$root.IsPrint()" disabled="disabled"></select>
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.FinacleSchemeCodeName">
                                                        </span>
                                                    </label>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="interestfinacle">*</label>
                                                </div>
                                                <label class="col-sm-1" style="left:40px" data-bind="with: $root.VerifyColumn('FinacleScheme')">
                                                    <!--Verify()[0]-->
                                                    <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">

                                                </div>
                                                <div class="col-md-3">

                                                </div>
                                                <label class="col-sm-1" style="left:50px" data-bind="with: $root.VerifyColumn('LoanType')">

                                                </label>

                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label></label>
                                                </div>
                                                <div class="col-md-4">

                                                </div>
                                                <div class="col-md-2">
                                                    <label>IsAdhoc</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="checkbox" id="IsAdhoc" name="IsAdhoc" data-bind="value: Transaction.FundingMemo.IsAdhoc,visible: !$root.IsPrint()" disabled="disabled" class="col-xs-10" data-rule-required="true" data-rule-maxlength="255" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.IsAdhoc">
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>



                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header">
                                    <h4 class="widget-title">II.LOAN DETAILS</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Amount Disburse</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <!--<input disabled="disabled" type="text" id="AmountDisburse" name="AmountDisburse" data-bind="value: Transaction.FundingMemo.CodeAmount,enable: $root.VerifyColumn('AmountDisburse')().IsVerified" class=" col-sm-12" data-rule-required="true" data-rule-maxlength="50" /></div>-->
                                                    <select id="AmountDisburse" name="AmountDisburse" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlUtilizationCurrIDs, optionsText: 'Code', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.FundingMemo.AmountDisburseID,enable: $root.AmountDisburseEdit,visible: !$root.IsPrint()" style="width:90px"></select>
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.CodeAmount">
                                                        </span>
                                                    </label>
                                                </div>

                                                <div class="col-md-2">
                                                    <input type="text" data-in="" id="AmountDisburse" name="AmountDisburseAmount" data-bind="value: formatNumber(Transaction.FundingMemo.AmountDisburse),enable: $root.AmountDisburseEdit,visible: !$root.IsPrint()" class=" col-sm-15" data-rule-required="true" data-rule-maxlength="50" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.AmountDisburse">
                                                        </span>
                                                    </label>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="amouentdisburse">*</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('AmountDisburse')">
                                                        <!--Verify()[0]-->
                                                        <input name=" check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Crediting Operative/Office A/C ID</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" id="CreditingOperative" name="CreditingOperative" class="col-sm-15" data-bind="value: Transaction.FundingMemo.CreditingOperative,enable: $root.CreditOperativeEdit,visible: !$root.IsPrint()" data-rule-required="true" data-rule-maxlength="255" disabled="disabled" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.CreditingOperative">
                                                        </span>
                                                    </label>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('CreditingOperative')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label></label>
                                                </div>
                                                <div class="col-md-4">

                                                </div>
                                                <div class="col-md-2">
                                                    <label>Debiting Operative/office A/C(settlement)</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" id="DebitingOperative" name="DebitingOperative" class="col-sm-15" data-bind="value: Transaction.FundingMemo.DebitingOperative,enable: $root.DebitingOperativeEdit,visible: !$root.IsPrint()" disabled="disabled" data-rule-required="true" data-rule-maxlength="255" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.DebitingOperative">
                                                        </span>
                                                    </label>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="debitingoperative">*</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('DebitingOperative')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Value Date</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="ValueDate" name="ValueDate" data-bind="value:  $root.LocalDate(Transaction.FundingMemo.ValueDateFun,true,false),visible: !$root.IsPrint()" disabled="disabled" data-rule-required="true" data-rule-value="true" />
                                                    <span><i class="icon-calendar bigger-110"></i></span>
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.ValueDateFun">
                                                        </span>
                                                    </label>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Maturity Date</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="MaturityDate" name="MaturityDate" data-bind="datepicker: true,value: $root.LocalDate(Transaction.FundingMemo.MaturityDate,true),enable: $root.MaturityDateEdit,visible: !$root.IsPrint()" disabled="disabled" data-rule-required="true" data-rule-value="true" />
                                                    <span><i class="icon-calendar bigger-110"></i></span>
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:$root.LocalDate(Transaction.FundingMemo.MaturityDate,true)">
                                                        </span>
                                                    </label>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('MaturityDate')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header">
                                    <h4 class="widget-title">III.INTEREST RATE</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Interest rate Code</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <select id="Interest" name="Interest"
                                                            data-bind="value: Transaction.FundingMemo.InterestCodeID,enable: $root.InterestRateCodeEdit,visible: !$root.IsPrint(),
                                    options: $root.ddlInterests,
                                    optionsText:function(item) { if(item.InterestID != null) return item.InterestCodeName },
                                    optionsValue: 'InterestID',
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('CSOTASK', 'Interest'); } }" disabled="disabled"></select>
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.InterestCodeID">
                                                        </span>
                                                    </label>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="ddlinterest">*</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="col-sm-1" style="left:50px" data-bind="with: $root.VerifyColumn('FundingInterestRateCodeID')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Approve Margin AS Per Credit Memo</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" id="ApprovedMarginAsPerCM" disabled="disabled" name="ApprovedMarginAsPerCM" class="col-sm-15" data-bind="value: Transaction.FundingMemo.ApprovedMarginAsPerCM,enable: $root.MarginAsPerCreditMemoEdit,visible: !$root.IsPrint()" data-rule-required="true" data-rule-maxlength="255" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.ApprovedMarginAsPerCM">
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('ApprovedMarginAsPerCM')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Base Rate</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="text" id="BaseRate" name="BaseRate" class="col-sm-12" disabled="disabled" data-bind="value: Transaction.FundingMemo.BaseRate,visible: !$root.IsPrint()" data-rule-required="true" data-rule-maxlength="255" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.BaseRate">
                                                        </span>
                                                    </label>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="baserate">*</label>
                                                </div>
                                                <div class="col-md-2">

                                                </div>
                                                <div class="col-md-2">
                                                    <label>Special FTP</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" id="SpecialFTP" disabled="disabled" name="SpecialFTP" class="col-sm-15" data-bind="value: Transaction.FundingMemo.SpecialFTP,enable: $root.SpecialFTPEdit,visible: !$root.IsPrint()" data-rule-required="true" data-rule-maxlength="255" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.SpecialFTP">
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('SpecialFTP')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Acc. Prefencial/Margin</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="text" id="AccountPreferencial" disabled="disabled" name="AccountPreferencial" class="col-sm-15" data-bind="value: Transaction.FundingMemo.AccountPreferencial,enable: $root.AccPrefencialMarginEdit,visible: !$root.IsPrint()" data-rule-required="true" data-rule-maxlength="255" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.AccountPreferencial">
                                                        </span>
                                                    </label>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="accountprefencial">*</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="col-sm-1" style="left:50px" data-bind="with: $root.VerifyColumn('AccountPreferencial')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Margin</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input disabled="disabled" type="text" id="Margin" name="Margin" class="col-sm-15" data-bind="value: Transaction.FundingMemo.Margin,enable: $root.MarginEdit,visible: !$root.IsPrint()" data-rule-required="true" data-rule-maxlength="255" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.Margin">
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Margin')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>All In Rate</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <input disabled="disabled" type="text" id="AllInRate" name="AllInRate" class="col-sm-12" data-bind="value: Transaction.FundingMemo.AllInRate,visible: !$root.IsPrint()" data-rule-required="true" data-rule-maxlength="255" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.AllInRate">
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                </div>
                                                <div class="col-md-2">
                                                    <label>All In Special Rate</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <input disabled="disabled" type="text" id="AllInSpecialRate" name="AllInSpecialRate" class="col-sm-12" data-bind="value: Transaction.FundingMemo.AllInSpecialRate,visible: !$root.IsPrint()" data-rule-required="true" data-rule-maxlength="255" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.AllInSpecialRate">
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Repricing Plan</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <select disabled="disabled" id="RepricingPlan" name="RepricingPlan"
                                                            data-bind="value: Transaction.FundingMemo.RepricingPlanID,enable: $root.RepricingPlanEdit,visible: !$root.IsPrint(),
                                                options: $root.ddlRepricings,
                                                optionsText: function(item) { if(item.RepricingPlanID != null) return item.RepricingPlanName},
                                                optionsValue: 'RepricingPlanID',
                                                optionsCaption: 'Please Select...',
                                                event: { change: function(){ $root.PopulateSelected('CSOTASK', 'RepricingPlan'); } }"></select>
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.RepricingPlanID">
                                                        </span>
                                                    </label>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="RepricingPlan">*</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="col-sm-1" style="left:50px" data-bind="with: $root.VerifyColumn('RepricingPlan')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Pegging Date</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <input disabled="disabled" class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="PeggingDate" name="PeggingDate" data-bind="datepicker: true,value: $root.LocalDate(Transaction.FundingMemo.PeggingDate,true),enable: $root.PeggingDateEdit,visible: !$root.IsPrint()" data-rule-required="true" data-rule-value="true" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:$root.LocalDate(Transaction.FundingMemo.PeggingDate,true)">
                                                        </span>
                                                    </label>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="ddlinterest">*</label>
                                                </div>
                                                <div class="col-md-2" style="left:50px">
                                                    <label class="col-sm-1" style="left:50px" data-bind="with: $root.VerifyColumn('PeggingDate') ">
                                                        <!--Verify()[0]-->
                                                        <input name="check-PeggingDate" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label></label>
                                                </div>
                                                <div class="col-md-4">
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Pegging Frequency</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <select id="PeggingFrequency" name="PeggingFrequency" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlFrequencys, optionsText: 'PeggingFrequencyName', optionsValue: 'PeggingFrequencyID', optionsCaption: 'Please Select...', value: Transaction.FundingMemo.PeggingFrequencyID,enable: $root.PeggingFrequencyEdit,visible: !$root.IsPrint()" disabled="disabled"></select>
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.PeggingFrequencyID">
                                                        </span>
                                                    </label>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="peggingfrequency">*</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('PeggingFrequency')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-PeggingFrequency" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-box ui-sortable-handle" data-bind="visible: $root.ShortTerm()">
                                <div class="widget-header">
                                    <h4 class="widget-title">IV.REPAYMENT SCHEDULE</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Principal Start Date</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="PrincipalStartDate" name="PrincipalStartDate" data-bind="datepicker: true,value: $root.LocalDate(Transaction.FundingMemo.PrincipalStartDate, true),enable: $root.PrincipialDateEdit,visible: !$root.IsPrint()" data-rule-required="true" data-rule-value="true" />
                                                    <span><i class="icon-calendar bigger-110"></i></span>
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:$root.LocalDate(Transaction.FundingMemo.PrincipalStartDate,true)">
                                                        </span>
                                                    </label>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('PrincipalStartDate')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-PeggingDate" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Principal Frequency</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <select id="PrincipalFrequency" name="PrincipalFrequency" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlFrequencys, optionsText: 'PeggingFrequencyName', optionsValue: 'PeggingFrequencyID', optionsCaption: 'Please Select...', value: Transaction.FundingMemo.PrincipalFrequencyID,enable: $root.PrincipialFrequencyEdit,visible: !$root.IsPrint()" disabled="disabled"></select>
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.PrincipalFrequencyName">
                                                        </span>
                                                    </label>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="principalfrequency">*</label>
                                                </div>
                                                <div>
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('PrincipalFrequency')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-PrincipalFrequency" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Interest Start Date</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input disabled="disabled" class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="InterestStartDate" name="InterestStartDate" data-bind="datepicker: true,value: $root.LocalDate(Transaction.FundingMemo.InterestStartDate, true),enable: $root.InterestStartDateEdit,visible: !$root.IsPrint()" data-rule-required="true" data-rule-value="true" />
                                                    <span><i class="icon-calendar bigger-110"></i></span>
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:$root.LocalDate(Transaction.FundingMemo.InterestStartDate,true)">
                                                        </span>
                                                    </label>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('InterestStartDate')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-InterestStartDate" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Interest Frequency</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <select id="InterestFrequency" name="InterestFrequency" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlFrequencys, optionsText: 'PeggingFrequencyName', optionsValue: 'PeggingFrequencyID', optionsCaption: 'Please Select...', value: Transaction.FundingMemo.InterestFrequencyID,enable: $root.InterestFrequencyEdit,visible: !$root.IsPrint()" disabled="disabled"></select>


                                                </div>
                                                <div class="col-md-1" style="right:10px">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('InterestFrequency')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-InterestFrequency" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>No Of Installment</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" id="NoOfInstallment" name="NoOfInstallment" class="col-xs-10" data-bind="value: Transaction.FundingMemo.NoOfInstallment,enable: $root.NoOfInstalments,visible: !$root.IsPrint()" data-rule-required="true" data-rule-maxlength="255" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.NoOfInstallment">
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('NoOfInstallment')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-NoOfInstallment" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-3">

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header">
                                    <h4 class="widget-title">V.LIMIT</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Limit ID in Fin 10</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" id="LimitIDinFin10" name="LimitIDinFin10" class="col-sm-12" data-bind="value: Transaction.FundingMemo.LimitIDinFin10,enable: $root.LimitIdFin10Edit,visible: !$root.IsPrint()" data-rule-required="true" data-rule-maxlength="255" disabled="disabled" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.LimitIDinFin10">
                                                        </span>
                                                    </label>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="limitidinfin10">*</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('LimitIDinFin10')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-LimitIDinFin10" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Sanction Limit</label>
                                                </div>
                                                <div class="col-md-1" style="right:30px">
                                                    <select id="SanctionLimitCurrID" name="SanctionLimitCurrID" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlSanctionLimitCurrIDs, optionsText: 'Code', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.FundingMemo.SanctionLimitCurrID,enable: $root.SanctionLimitEdit,visible: !$root.IsPrint()" disabled="disabled"></select>
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.SanctionLimitCurrCode">
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <input disabled="disabled" type="text" id="SanctionLimitAmount" name="SanctionLimitAmount" class="col-xs-10" data-bind="value: formatNumber(Transaction.FundingMemo.sactionlimit),enable: $root.SanctionLimitEdit,visible: !$root.IsPrint()"
                                                           data-rule-required="true" data-rule-maxlength="255" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.sactionlimit">
                                                        </span>
                                                    </label>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="Amount">*</label>

                                                </div>
                                                <div class="col-md-1" style="right:30px">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('SanctionLimitCurrID')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-SanctionLimitCurrID" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Limit Expire Date</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="LimitExpiryDate" name="LimitExpiryDate" data-bind="datepicker: true,value: $root.LocalDate(Transaction.FundingMemo.LimitExpiryDate,true),enable: $root.LimitExpireDateEdit,visible: !$root.IsPrint()" data-rule-required="true" data-rule-value="true" />
                                                    <span><i class="icon-calendar bigger-110"></i></span>
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:$root.LocalDate(Transaction.FundingMemo.LimitExpiryDate,true)">
                                                        </span>
                                                    </label>
                                                    <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="LimitExpiryDate">*</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('LimitExpiryDate')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-SanctionLimitCurrID" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Utilisation</label>
                                                </div>
                                                <div class="col-md-1" style="right:30px">
                                                    <select id="utilization" name="utilization" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlUtilizationCurrIDs, optionsText: 'Code', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.FundingMemo.UtilizationCurrID,enable: $root.UtilizationEdit,visible: !$root.IsPrint()"></select>
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.UtilizationCurrCode">
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <input disabled="disabled" type="text" id="utilizationAmount" data-in="" name="utilizationAmount" class="col-sm-15" data-bind="value: formatNumber(Transaction.FundingMemo.utilazition),enable: $root.UtilizationEdit(),visible: !$root.IsPrint()"
                                                           data-rule-required="true" data-rule-maxlength="255" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.utilazition">
                                                        </span>
                                                    </label>

                                                </div>
                                                <div class="col-md-1" style="right:30px">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('utilization')">
                                                        <!--Verify()[0]-->
                                                        <input name="check-utilization" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label></label>
                                                </div>
                                                <div class="col-md-4">
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Outstanding</label>
                                                </div>
                                                <div class="col-md-1" style="right:30px">
                                                    <select id="Outstanding" name="Outstanding" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlOutstandingCurrIDs, optionsText: 'Code', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.FundingMemo.OutstandingCurrID,enable: $root.OutStandingEdit,visible: !$root.IsPrint()"></select>
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.OutstandingCurrCode">
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Outstanding')">

                                                    </label>
                                                </div>
                                                <div class="col-md-3" style="right:90px;width:40px">
                                                    <input type="text" data-in="" id="OutstandingAmount" name="OutstandingAmount" class="col-sm-15" data-bind="value: formatNumber(Transaction.FundingMemo.outstanding),enable: $root.OutStandingEdit,visible: !$root.IsPrint()"
                                                           data-rule-required="true" data-rule-maxlength="255" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.outstanding">
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Outstanding')" style="left:20px">
                                                        <!--Verify()[0]-->
                                                        <input name="check-Channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header">
                                    <h4 class="widget-title">VI.CONTACT DETAIL</h4>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>CSO Name</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" id="CSOName" style="width:900px" name="CSOName" class="col-sm-15" data-bind="value: Transaction.FundingMemo.CSOName,visible: !$root.IsPrint()" data-rule-required="true" disabled="disabled" data-rule-maxlength="255" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.CSOName">
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="col-md-1" style="right:120px">

                                                </div>
                                                <div class="col-md-3">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header">
                                    <h4 class="widget-title">VII.Required Approval Based On DOA</h4>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main" style="height: 150px">
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <input type="text" id="Employee" name="Employee" data-bind="value: Transaction.FundingMemo.DoaName,visible: !$root.IsPrint()" class="col-sm-15" data-rule-required="true" data-rule-maxlength="255" disabled="disabled" style="width:1100px;height:120px" />
                                                    <label class="col-sm-8" data-bind="visible:$root.IsPrint()">
                                                        <span data-bind="text:Transaction.FundingMemo.DoaName">
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="col-md-1" style="right:120px">

                                                </div>
                                                <div class="col-md-3">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="padding-4">
                                    <h3 class="header smaller lighter dark">Attachment</h3>

                                    <div class="dataTables_wrapper" role="grid">
                                        <table class="table table-striped table-bordered table-hover dataTable">
                                            <thead>
                                                <tr>
                                                    <th>No.</th>
                                                    <th>File Name</th>
                                                    <th>Purpose of Docs</th>
                                                    <th>Type of Docs</th>
                                                    <th>Modified</th>
                                                    <!--<th>Action</th>-->
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: $root.MakerDocuments, visible: $root.MakerDocuments().length > 0">
                                                <tr>
                                                    <td><span data-bind="text: $index() +1"></span></td>
                                                    <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                                                    <td><span data-bind="text: Purpose.Name"></span></td>
                                                    <td><span data-bind="text: Type.Name"></span></td>
                                                    <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                                                    <!--<td><a href="#" data-bind="click: $root.RemoveDocumentData">Remove</a></td>-->
                                                </tr>
                                            </tbody>

                                            <tbody data-bind="visible: $root.MakerDocuments().length == 0">
                                                <tr>
                                                    <td colspan="13" class="text-center">
                                                        No entries available.
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="space-16 form-line"></div>
                        <!--page attachment-->



                    </div>
                    <!--Start Body Funding Memo-->
                    <!--End Body Funding Memo-->



                </div>
            </div>

        </div>
    </div>
</div>