﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">

        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Payment.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Payment.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: $root.IsTopUrgent() ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-1 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: $root.IsTopUrgentChain() ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>

                <label class="col-sm-1 control-label bolder no-padding-right" for="normal">Normal</label>

                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: $root.IsNormal() ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <label class="col-sm-9">
                    <span data-bind="text: Payment.Customer.Name"></span>
                    <span class="label label-warning arrowed" data-bind="if: Payment.IsNewCustomer">New Customer</span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <label class="col-sm-9">
                    <span id="cif" data-bind="text: Payment.Customer.CIF"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>

                <label class="col-sm-9">
                    <span id="product-code" data-bind="text: Payment.Product.Code"></span>
                    (<span id="product-name" data-bind="text: Payment.Product.Name"></span>)
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="channel" name="channel" disabled="disabled" data-rule-required="true" data-bind="options: $root.Channels, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Payment.Channel.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsPPURole()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="source" name="source" disabled="disabled" data-rule-required="true" data-bind="options: $root.Sources, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Payment.SourceID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Remarks</label>
                <label class="col-sm-8">
                    <textarea class="col-lg-10" id="remarks" rows="6" data-bind="value: Payment.Remarks,disable:true"></textarea>
                </label>
            </div>
            <!--start azam-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-callback-required">Callback is Required</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Checker.IsCallbackRequired? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Signature Verification</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Checker.IsSignatureVerified? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-dormant-account">Dormant Account</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Checker.IsDormantAccount? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-freeze-account">Freeze Account</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Checker.IsFreezeAccount ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: Payment.Channel.Name == 'Fax'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-loi-available">Letter of Indemnity Available</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css:Checker.IsLOIAvailable ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-statement-Letter-copy">Statement Letter Copy</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Checker.IsStatementLetterCopy ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="others">Others</label>

                <!--<label class="col-sm-8">
                    <span name="others" id="others" data-bind="text: Transaction.Others"></span>
                </label>-->

                <div class="col-sm-8">
                    <div class="clearfix">
                        <div class="space-4"></div>
                        <!--
                                                <textarea class="col-sm-12" name="others" id="others" rows="6" data-bind="value: Checker.Others" ></textarea>
                        -->
                        <textarea class="col-sm-12" name="others" id="others" rows="6" data-bind="value: Checker.Others"></textarea>
                    </div>
                    <div class="space-4"></div>
                </div>

                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Others')">
                    <input name="check-others" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>
            <!--end azam-->

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="FileName">SKN Bulk</label>


                <!--<label class="col-sm-3"> <!-- data-bind="if: typeof $root.DocumentSKNBulk != 'function'"-->
                <!--data-bind="if: Payment.Documents.length > 0-->
                <!--<span id="FileName" data-bind="text: $root.DocumentSKNBulk.FileName"></span>-->
                <!--</label>-->

                <div class="col-sm-7">
                    <div class="clearfix">
                        <input type="file" id="document-path-upload-sknbulk" name="document-path-upload-sknbulk" data-bind="file: $root.DocumentPath_a" class="col-xs-7" /><!---->
                    </div>
                </div>

                <button class="btn btn-sm btn-primary" data-bind="click: $root.UploadExcelSKNBulk">
                    <!--, disable: typeof $root.DocumentSKNBulk == 'function' -->
                    <i class="icon-save"></i>
                    Upload
                </button>

            </div>
            <!--<label class="control-label bolder text-danger">*</label>-->

            <div class="space-4"></div>

            <div>
                <h3 class="header smaller lighter dark">SKN Bulk Worksheet</h3>

                <div id="SKNBulkWorksheetTable" style="width: 100%; height: 400px;"></div>

                <!--<div class="slim-scroll" data-height="400">
                    <div class="content">
                        <div class="table-responsive">
                            <div class="dataTables_wrapper" role="grid">
                                <table id="SKNBulkWorksheetTable" class="table table-striped table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Debit Account No</th>
                                            <th>Customer Name</th>
                                            <th>Value Date</th>
                                            <th>Payment Amount</th>
                                            <th>Beneficiary Name</th>
                                            <th>Beneficiary Account Number</th>
                                            <th style="background-color:yellow">Bank Code</th>
                                            <th style="background-color:yellow">Branch Code</th>
                                            <th>Citizen</th>
                                            <th>Resident</th>
                                            <th>Payment Details</th>
                                            <th>Charges</th>
                                            <th>Type</th>
                                            <th>Beneficiary Customer</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: $root.TransactionSKNBulks()">
                                        <tr>
                                            <td><span data-bind="text: $index() +1"></span></td>
                                            <td><span data-bind="text: AccountNumber"></span></td>
                                            <td><span data-bind="text: CustomerName"></span></td>
                                            <td><span data-bind="text: ValueDate"></span></td>
                                            <td><span data-bind="text: PaymentAmount"></span></td>
                                            <td><span data-bind="text: BeneficiaryName"></span></td>
                                            <td><span data-bind="text: BeneficiaryAccountNumber"></span></td>
                                            <td style="background-color:yellow"><span contenteditable data-bind="editableText: BankCode"></span></td>
                                            <td style="background-color:yellow"><span contenteditable data-bind="editableText: BranchCode"></span></td>
                                            <td><span data-bind="text: Citizen"></span></td>
                                            <td><span data-bind="text: Resident"></span></td>
                                            <td><span data-bind="text: PaymentDetails"></span></td>
                                            <td><span data-bind="text: Charges"></span></td>
                                            <td><span data-bind="text: Type"></span></td>
                                            <td><span data-bind="text: BeneficiaryCustomer"></span></td>
                                        </tr>
                                    </tbody>-->

                                    <!--<tbody data-bind="visible: Payment.TransactionSKNBulk == undefined || Payment.TransactionSKNBulk == null">
                                        <tr>
                                            <td colspan="12" class="text-center">
                                                No entries available.
                                            </td>
                                        </tr>
                                    </tbody>-->

                                <!--</table>
                            </div>
                        </div>
                    </div>
                </div>-->

            </div>

            <div class="space-16"></div>

            <div class="padding-4">
                <h3 class="header smaller lighter dark">Attachment</h3>

                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>File Name</th>
                                <th>Purpose of Docs</th>
                                <th>Type of Docs</th>
                                <th>Modified</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Payment.Documents, visible: Payment.Documents.length > 0">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>
                                <td><span data-bind="text: Purpose.Name"></span></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: Payment.Documents.length == 0">
                            <tr>
                                <td colspan="13" class="text-center">
                                    No entries available.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>



</div>
