﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">

        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Payment.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Payment.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Payment.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-1 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Payment.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>

                <label class="col-sm-1 control-label bolder no-padding-right" for="normal">Normal</label>

                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: Payment.IsNormal ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <label class="col-sm-9">
                    <span data-bind="text: Payment.Customer.Name"></span>
                    <span class="label label-warning arrowed" data-bind="if: Payment.IsNewCustomer">New Customer</span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <label class="col-sm-9">
                    <span id="cif" data-bind="text: Payment.Customer.CIF"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>

                <label class="col-sm-9">
                    <span id="product-code" data-bind="text: Payment.Product.Code"></span>
                    (<span id="product-name" data-bind="text: Payment.Product.Name"></span>)
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="channel" name="channel" disabled="disabled" data-rule-required="true" data-bind="options: $root.Channels, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Payment.Channel.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="if: $root.IsPPURole()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="source" name="source" disabled="disabled" data-rule-required="true" data-bind="options: $root.Sources, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Payment.SourceID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="FileName">SKN Bulk</label>


                <label class="col-sm-3" data-bind="if: typeof $root.DocumentSKNBulk != 'function'">
                    <!--data-bind="if: Payment.Documents.length > 0-->
                    <span id="FileName" data-bind="text: $root.DocumentSKNBulk.FileName"></span>
                </label>
                <button class="btn btn-sm btn-primary" data-bind="click: $root.UploadExcelSknBulk, disable: typeof $root.DocumentSKNBulk == 'function' ">
                    <i class="icon-save"></i>
                    Get Data
                </button>

            </div>
            <!--<label class="control-label bolder text-danger">*</label>-->

            <div class="space-4"></div>

            <div>
                <h3 class="header smaller lighter dark">SKN Bulk Worksheet</h3>

                <div class="slim-scroll" data-height="400">
                    <div class="content">
                        <div class="table-responsive">
                            <div class="dataTables_wrapper" role="grid">
                                <table class="table table-striped table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Debit Account No</th>
                                            <th>Customer Name</th>
                                            <th>Value Date</th>
                                            <th>Payment Amount</th>
                                            <th>Beneficiary Name</th>
                                            <th>Beneficiary Account Number</th>
                                            <th>Bank Code</th>
                                            <th>Branch Code</th>
                                            <th>Citizen</th>
                                            <th>Resident</th>
                                            <th>Payment Details</th>
                                            <th>Charges</th>
                                            <th>Type</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: $root.TransactionSKNBulks()">
                                        <tr>
                                            <td><span data-bind="text: $index() +1"></span></td>
                                            <td><span data-bind="text: AccountNumber"></span></td>
                                            <td><span data-bind="text: CustomerName"></span></td>
                                            <td><span data-bind="text: ValueDate"></span></td>
                                            <td><span data-bind="text: PaymentAmount"></span></td>
                                            <td><span data-bind="text: BeneficiaryName"></span></td>
                                            <td><span data-bind="text: BeneficiaryAccountNumber"></span></td>
                                            <td><span contenteditable data-bind="editableText: BankCode"></span></td>
                                            <td><span contenteditable data-bind="editableText: BranchCode"></span></td>
                                            <td><span data-bind="text: Citizen"></span></td>
                                            <td><span data-bind="text: Resident"></span></td>
                                            <td><span data-bind="text: PaymentDetails"></span></td>
                                            <td><span data-bind="text: Charges"></span></td>
                                            <td><span data-bind="text: Type"></span></td>
                                        </tr>
                                    </tbody>

                                    <!--<tbody data-bind="visible: Payment.TransactionSKNBulk == undefined || Payment.TransactionSKNBulk == null">
                                        <tr>
                                            <td colspan="12" class="text-center">
                                                No entries available.
                                            </td>
                                        </tr>
                                    </tbody>-->

                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="space-16"></div>

            <div class="padding-4">
                <h3 class="header smaller lighter dark">Attachment</h3>

                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>File Name</th>
                                <th>Purpose of Docs</th>
                                <th>Type of Docs</th>
                                <th>Modified</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Payment.Documents, visible: Payment.Documents.length > 0">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>
                                <td><span data-bind="text: Purpose.Name"></span></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: Payment.Documents.length == 0">
                            <tr>
                                <td colspan="13" class="text-center">
                                    No entries available.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>





</div>