﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Payment.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Payment.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-all"></label>

                <label class="col-sm-8 control-label bolder no-padding-right" for="product-code">Check All</label>

                <label class="col-sm-1">
                    <input name="check-all" id="check-all" class="ace ace-switch ace-switch-6" type="checkbox" onchange="checkAllPaymentChecker(this)" data-bind="checked: $root.CheckAll()" /> <!-- data-bind="checked: $root.CheckAll(), click: function(data) { $root.CheckAllData('PaymentChecker'); }" -->
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: $root.IsTopUrgent() ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-1 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: $root.IsTopUrgentChain() ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-1 control-label bolder no-padding-right">Normal</label>
                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: $root.IsNormal() ? 'icon-check green' : 'icon-check-empty' "></i>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Top Urgent')">
                    <input name="check-bank-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <label class="col-sm-8">
                    <span name="customer-name" id="customer-name" data-bind="text: Payment.Customer.Name"></span>
                    <span class="label label-warning arrowed" data-bind="if: Payment.IsNewCustomer">New Customer</span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Customer Name')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <label class="col-sm-9">
                    <span name="cif" id="cif" data-bind="text: Payment.Customer.CIF"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>

                <label class="col-sm-9">
                    <span id="product-code" name="product-code" data-bind="text: Payment.Product.Code"></span>
                    (<span id="product-name" name="product-name" data-bind="text: Payment.Product.Name"></span>)
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <label class="col-sm-8">
                    <span id="channel" name="channel" data-bind="text: Payment.Channel.Name"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Channel')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsPPURole()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>

                <label class="col-sm-8">
                    <span id="source" name="source" data-bind="text: $root.SourceName()"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Source')">
                    <input name="check-source" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Remarks</label>
                <label class="col-sm-8">
                    <textarea class="col-lg-10" id="remarks" rows="6" data-bind="value: Payment.Remarks,disable:true"></textarea>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Attachment Remarks')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 4-->
                    <span class="lbl"></span>
                </label>
            </div>
        </div>

        <div class="space-4"></div>
        <div>

            <h3 class="header smaller lighter dark">SKN Bulk Work Sheet</h3>

            <div id="SKNBulkWorksheetTable" style="width: 100%; height: 400px;"></div>

            <!--<div class="slim-scroll" data-height="400">
                <div class="content">
                    <div class="table-responsive">
                        <div class="dataTables_wrapper" role="grid">
                            <table id="SKNBulkWorksheetTableChecker" class="table table-striped table-bordered table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Debit Account No</th>
                                        <th>Customer Name</th>
                                        <th>Value Date</th>
                                        <th>Payment Amount</th>
                                        <th>Beneficiary Name</th>
                                        <th>Beneficiary Account Number</th>
                                        <th style="background-color:yellow">Bank Code</th>
                                        <th style="background-color:yellow">Branch Code</th>
                                        <th>Citizen</th>
                                        <th>Resident</th>
                                        <th>Payment Details</th>
                                        <th>Charges</th>
                                        <th>Type</th>
                                        <th>Beneficiary Customer</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: $root.TransactionSKNBulks()">
                                    <tr>
                                        <td><span data-bind="text: $index() +1"></span></td>
                                        <td><span data-bind="text: AccountNumber"></span></td>
                                        <td><span data-bind="text: CustomerName"></span></td>
                                        <td><span data-bind="text: ValueDate"></span></td>
                                        <td><span data-bind="text: PaymentAmount"></span></td>
                                        <td><span data-bind="text: BeneficiaryName"></span></td>
                                        <td><span data-bind="text: BeneficiaryAccountNumber"></span></td>
                                        <td style="background-color:yellow"><span data-bind="text: BankCode"></span></td>
                                        <td style="background-color:yellow"><span data-bind="text: BranchCode"></span></td>
                                        <td><span data-bind="text: Citizen"></span></td>
                                        <td><span data-bind="text: Resident"></span></td>
                                        <td><span data-bind="text: PaymentDetails"></span></td>
                                        <td><span data-bind="text: Charges"></span></td>
                                        <td><span data-bind="text: Type"></span></td>
                                        <td><span data-bind="text: BeneficiaryCustomer"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>

        <div class="space-4"></div>

        <div>
            <h3 class="header smaller lighter dark">Original</h3>
            <div id="SKNBulkWorksheetTableOriginal" style="width: 100%; height: 400px;"></div>
            <!--<div class="slim-scroll" data-height="400">
                <div class="content">
                    <div class="table-responsive">
                        <div class="dataTables_wrapper" role="grid">
                            <table id="SKNBulkWorksheetTableCheckerOriginal" class="table table-striped table-bordered table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Debit Account No</th>
                                        <th>Customer Name</th>
                                        <th>Value Date</th>
                                        <th>Payment Amount</th>
                                        <th>Beneficiary Name</th>
                                        <th>Beneficiary Account Number</th>
                                        <th style="background-color:yellow">Bank Code</th>
                                        <th style="background-color:yellow">Branch Code</th>
                                        <th>Citizen</th>
                                        <th>Resident</th>
                                        <th>Payment Details</th>
                                        <th>Charges</th>
                                        <th>Type</th>
                                        <th>Beneficiary Customer</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: $root.TransactionSKNBulksOriginal()">
                                    <tr>
                                        <td><span data-bind="text: $index() +1"></span></td>
                                        <td><span data-bind="text: AccountNumber"></span></td>
                                        <td><span data-bind="text: CustomerName"></span></td>
                                        <td><span data-bind="text: ValueDate"></span></td>
                                        <td><span data-bind="text: PaymentAmount"></span></td>
                                        <td><span data-bind="text: BeneficiaryName"></span></td>
                                        <td><span data-bind="text: BeneficiaryAccountNumber"></span></td>
                                        <td style="background-color:yellow"><span data-bind="text: BankCode"></span></td>
                                        <td style="background-color:yellow"><span data-bind="text: BranchCode"></span></td>
                                        <td><span data-bind="text: Citizen"></span></td>
                                        <td><span data-bind="text: Resident"></span></td>
                                        <td><span data-bind="text: PaymentDetails"></span></td>
                                        <td><span data-bind="text: Charges"></span></td>
                                        <td><span data-bind="text: Type"></span></td>
                                        <td><span data-bind="text: BeneficiaryCustomer"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>




        <div class="space-4"></div>
        <div class="padding-4" data-bind="visible: Payment.Product.Code == 'RT' || Payment.Product.Code == 'OV' || Payment.Product.Code == 'SK' ||  Payment.Product.Code == 'SB'">
            <h3 class="header smaller lighter dark">
                Instruction Form and Docs
            </h3>
            <!--data-bind="visible:!$root.IsUnderlyingMode()" -->
            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th style="width:50px">No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                            <!--<th>Action</th>-->
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: viewModel.PaymentChecker().Payment.Documents, visible: viewModel.PaymentChecker().Payment.Documents.length > 0">
                        <tr>
                            <!--data-bind="click: $root.EditDocument"-->
                            <td><span data-bind="text: $index() +1"></span></td>
                            <!-- Change By fandi for Link Downlaod -->
                            <!--<td><span data-bind="text: DocumentPath.name"></span></td>-->
                            <td>
                                <div data-bind="ifnot:$root.IsNewDocument">
                                    <!--<span data-bind="text: FileName"></span>-->
                                    <a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a>
                                </div>
                                <div data-bind="if:$root.IsNewDocument">
                                    <a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a>
                                    <!--<a data-bind="attr: { href: DocumentPath.DocPath, target:'_blank' }, text: FileName"></a>-->
                                </div>

                            </td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: moment(DocumentPath.lastModifiedDate).format(config.format.dateTime)"></span></td><!--$root.LocalDate(LastModifiedDate)-->
                            <!--<td><a href="#" data-bind="click: $root.RemoveDocument">Remove</a></td>-->
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: viewModel.PaymentChecker().Payment.Documents.length == 0">
                        <tr>
                            <td colspan="6" align="center">No entries available.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!--- Grid Underlying Proforma Start -->
            <!-- widget header start -->
            <div class="space-10"></div>
            <!-- <div data-bind="if: (Currency().Code != 'IDR' && (Account().Currency.Code == 'IDR' || DebitCurrency().Code == 'IDR'))">--> <!-- ?FXCONDITION YES -->



        </div>


        <!--  <div class="padding-4" data-bind="visible: Payment.Product.Code == 'OT'">
            <h3 class="header smaller lighter dark">Attachment</h3>

            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: viewModel.PaymentChecker().Payment.Documents, visible: viewModel.PaymentChecker().Payment.Documents.length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: viewModel.PaymentChecker().Payment.Documents.length == 0">
                        <tr>
                            <td colspan="13" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->
    </div>
</div>


