﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>

                <label class="col-sm-1 control-label bolder no-padding-right" for="normal">Normal</label>

                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: Transaction.IsNormal ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <label class="col-sm-8">
                    <span name="customer-name" id="customer-name" data-bind="text: Transaction.Customer.Name"></span>
                    <span class="label label-warning arrowed" data-bind="if: Transaction.IsNewCustomer">
                        <i class="icon-warning-sign bigger-120"></i>
                        New Customer
                    </span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <label class="col-sm-9">
                    <span name="cif" id="cif" data-bind="text: Transaction.Customer.CIF"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>

                <label class="col-sm-9">
                    <span id="product-code" name="product" data-bind="text: Transaction.Product.Code"></span>
                    (<span id="product-name" name="product" data-bind="text: Transaction.Product.Name"></span>)
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <label class="col-sm-8">
                    <span id="channel" name="channel" data-bind="text: Transaction.Channel.Name"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Remarks</label>
                <label class="col-sm-8">
                    <textarea class="col-lg-10" id="remarks" rows="6" data-bind="value: Transaction.Remarks,disable:true"></textarea>
                </label>
            </div>
        </div>
        <div class="space-4"></div>

        <div>
            <h3 class="header smaller lighter dark">SKN Bulk Worksheet</h3>

            <div class="slim-scroll" data-height="400">
                <div class="content">
                    <div class="table-responsive">
                        <div class="dataTables_wrapper" role="grid">
                            <table id="SKNBulkWorksheetTable" class="table table-striped table-bordered table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Debit Account No</th>
                                        <th>Customer Name</th>
                                        <th>Value Date</th>
                                        <th>Payment Amount</th>
                                        <th>Beneficiary Name</th>
                                        <th>Beneficiary Account Number</th>
                                        <th style="background-color:yellow">Bank Code</th>
                                        <th style="background-color:yellow">Branch Code</th>
                                        <th>Citizen</th>
                                        <th>Resident</th>
                                        <th>Payment Details</th>
                                        <th>Charges</th>
                                        <th>Type</th>
                                        <th>Beneficiary Customer</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: $root.TransactionSKNBulks()">
                                    <tr>
                                        <td><span data-bind="text: $index() +1"></span></td>
                                        <td><span data-bind="text: AccountNumber"></span></td>
                                        <td><span data-bind="text: CustomerName"></span></td>
                                        <td><span data-bind="text: ValueDate"></span></td>
                                        <td><span data-bind="text: PaymentAmount"></span></td>
                                        <td><span data-bind="text: BeneficiaryName"></span></td>
                                        <td><span data-bind="text: BeneficiaryAccountNumber"></span></td>
                                        <td style="background-color:yellow"><span contenteditable data-bind="editableText: BankCode"></span></td>
                                        <td style="background-color:yellow"><span contenteditable data-bind="editableText: BranchCode"></span></td>
                                        <td><span data-bind="text: Citizen"></span></td>
                                        <td><span data-bind="text: Resident"></span></td>
                                        <td><span data-bind="text: PaymentDetails"></span></td>
                                        <td><span data-bind="text: Charges"></span></td>
                                        <td><span data-bind="text: Type"></span></td>
                                        <td><span data-bind="text: BeneficiaryCustomer"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="space-16"></div>

        <div class="padding-4">
            <h3 class="header smaller lighter dark">Attachment</h3>

            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: Transaction.Documents.length == 0">
                        <tr>
                            <td colspan="13" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>