﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Payment.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Payment.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-all"></label>

                <label class="col-sm-8 control-label bolder no-padding-right" for="product-code">Check All</label>

                <label class="col-sm-1">
                    <input name="check-all" id="check-all" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.CheckAll(), click: function(data) { $root.CheckAllData('PaymentChecker'); }" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Payment.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Payment.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <label class="col-sm-8">
                    <span name="customer-name" id="customer-name" data-bind="text: Payment.Customer.Name"></span>
                    <span class="label label-warning arrowed" data-bind="if: Payment.IsNewCustomer">New Customer</span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Customer Name')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <label class="col-sm-9">
                    <span name="cif" id="cif" data-bind="text: Payment.Customer.CIF"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>

                <label class="col-sm-9">
                    <span id="product-code" name="product-code" data-bind="text: Payment.Product.Code"></span>
                    (<span id="product-name" name="product-name" data-bind="text: Payment.Product.Name"></span>)
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Generated Files</label>
                <div class="col-sm-8">
                    <div class="dataTables_wrapper" role="grid">
                        <table style="margin:5px;">
                            <tbody data-bind="foreach: $root.GenerateFileNames">
                                <tr>
                                    <td><a data-bind="event: { click: $root.DownloadFile }, text: FileNameView" target="_blank"></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency-code">Currency</label>

                <label class="col-sm-8">
                    <span id="currency-code" name="currency" data-bind="text: Payment.Currency.Code"></span>
                    (<span id="currency-desc" name="currency" data-bind="text: Payment.Currency.Description"></span>)
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Currency')">
                    <input name="check-currency" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trxn-amount">Trxn Amount</label>

                <label class="col-sm-8">
                    <span name="trxn-amount" id="trxn-amount" data-bind="text: formatNumber(Payment.Amount)"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Trxn Amount')">
                    <input name="check-trx-amount" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="rate">Rate</label>

                <label class="col-sm-9">
                    <span name="rate" id="rate" data-bind="text: formatNumber_r(Payment.Rate)"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="eqv-usd">Eqv. USD</label>

                <label class="col-sm-8">
                    <span name="eqv-usd" id="eqv-usd" data-bind="text: formatNumber_r(Payment.AmountUSD)"></span>
                </label>

                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Eqv Usd')">
                    <input name="check-equiv-usd" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <label class="col-sm-8">
                    <span id="channel" name="channel" data-bind="text: Payment.Channel.Name"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Channel')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!--<div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-number">Debit Acc Number</label>

                <label class="col-sm-8">
                    <span id="debit-acc-number" name="debit-acc-number" data-bind="text: Payment.Account.AccountNumber"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Debit Acc Number')">
                    <input name="check-debit-acc-number" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-number">Debit Acc Number</label>

                <label class="col-sm-8">
                    <span id="debit-acc-number" data-bind="text: Payment.Account.AccountNumber"></span>
                    <span data-bind="ifnot:Payment.Account.CustomerName==null">
                        <span id="debit-acc-customer" data-bind="text: ' - ' + Payment.Account.CustomerName"></span>
                    </span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Debit Acc Number')">
                    <!--Verify()[5]-->
                    <input name="check-debit-acc-number" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 5-->
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-ccy-code">Debit Acc CCY</label>

                <label class="col-sm-9">
                    <span id="debit-acc-ccy-code" data-bind="text: Payment.DebitCurrency.Code"></span>
                    (<span id="debit-acc-ccy-desc" data-bind="text: Payment.DebitCurrency.Description"></span>)
                </label>
            </div>

            <!-- Add Nostro Sundry by fandi -->
            <div data-bind="visible: Payment.Product.Name == 'OTT', attr: { class: 'form-group form-line no-margin-bottom no-padding-bottom' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="Debit Sundry">Debit Sundry</label>

                <label data-bind="if:Payment.Sundry !=null" class="col-sm-8">
                    <span id="Debit Sundry" data-bind="text: Payment.Sundry.OABAccNo"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Debit Sundry')">
                    <input name="check-Debit-Sundry" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div data-bind="visible:Payment.Product.Name == 'OTT', attr: { class: 'form-group form-line no-margin-bottom no-padding-bottom' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="Nostro">Nostro</label>

                <label data-bind="if:Payment.Nostro !=null" class="col-sm-8">
                    <span name="Nostro" id="Nostro" data-bind="text: Payment.Nostro.NostroUsed"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Nostro')">
                    <input name="check-Nostro" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <!-- END -->

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="application-date">Application Date</label>

                <label class="col-sm-8">
                    <span id="application-date" name="application-date" data-bind="text: $root.LocalDate(Payment.ApplicationDate, true)"></span>
                </label>

                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Application Date')">
                    <input name="check-biz-segment" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="biz-segment-name">Biz Segment</label>

                <label class="col-sm-8">
                    <span id="biz-segment-name" name="biz-segment" data-bind="text: Payment.BizSegment.Name"></span>
                    (<span id="biz-segment-desc" name="biz-segment" data-bind="text: Payment.BizSegment.Description"></span>)
                </label>

                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Biz Segment')">
                    <input name="check-biz-segment" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: ($root.t_IsFxTransaction() || $root.t_IsFxTransactionToIDR())&& $root.ProductID() == ConsProductID.OTTProductIDCons">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-type-name">Product Type</label>
                <div data-bind="ifnot:Payment.ProductType == null">
                    <label class="col-sm-8">
                        <span id="product-type-name" name="product-type" data-bind="text: Payment.ProductType.Code"></span>
                    </label>
                </div>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Product Type')">
                    <input name="check-product-type" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-name">Bene Name</label>

                <label class="col-sm-8">
                    <span id="bene-name" data-bind="text: Payment.BeneName"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bene Name')">
                    <input name="check-bene-name" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-bank">Bene Bank</label>

                <label class="col-sm-8">
                    <span id="bene-bank" name="bene-bank" data-bind="text: Payment.Bank.Description"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bene Bank')">
                    <input name="check-bene-bank" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-code">Swift Code/Bank Code</label>

                <label class="col-sm-8">
                    <span id="bank-code" data-bind="text: Payment.Bank.SwiftCode"></span>
                </label>

                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Swift Code/Bank Code')">
                    <input name="check-bank-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-acc-number">Bene Acc Number</label>

                <label class="col-sm-8">
                    <span id="bene-acc-number" data-bind="text: formatAccount(Payment.BeneAccNumber)"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bene Acc Number')">
                    <input name="check-bene-acc-number" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div data-bind="visible: Payment.BankCharges != null && (Payment.Product.Name == 'OTT' || Payment.Product.Name == 'RTGS' || Payment.Product.Name == 'SKN'), attr: { class: 'form-group form-line no-margin-bottom no-padding-bottom' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-charges">Bank Charges</label>

                <label class="col-sm-8">
                    <span id="bank-charges" data-bind="text: Payment.BankCharges.Code"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bank Charges')">
                    <input name="check-bank-charges" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div data-bind="visible: Payment.AgentCharges != null && Payment.Product.Name == 'RTGS', attr: { class: 'form-group form-line no-margin-bottom no-padding-bottom' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="agent-charges">Agent Charges</label>

                <label class="col-sm-8">
                    <span id="agent-charges" data-bind="text: Payment.AgentCharges.Code"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Agen Charges')">
                    <input name="check-agent-charges" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div data-bind="visible: Payment.Product.Name == 'SKN', attr: { class: 'form-group form-line no-margin-bottom no-padding-bottom' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="type">Type</label>

                <label class="col-sm-9">
                    <span id="type" data-bind="text: Payment.Type"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="type">Citizen</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Payment.IsCitizen ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Citizen')">
                    <input name="check-citizen" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="type">Resident</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Payment.IsResident ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Resident')">
                    <input name="check-resident" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:Payment.Product.Name == 'SKN'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="type">Beneficiary Resident</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Payment.IsBeneficiaryResident ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:Payment.Product.Name == 'SKN'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="beneficiary-code">Beneficiary Business Type</label>

                <label class="col-sm-8" data-bind="if: Payment.BeneficiaryBusines != null">
                    <label class="col-sm-9">
                        <span id="beneficiary-code" data-bind="text: Payment.BeneficiaryBusines.Code"></span>
                        (<span id="beneficiary-desc" data-bind="text: Payment.BeneficiaryBusines.Description"></span>)
                    </label>
                </label>

            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="lld-code">LLD Code</label>

                <label class="col-sm-8" data-bind="if: Payment.LLD != null">
                    <label class="col-sm-9">
                        <span id="lld-code" data-bind="text: Payment.LLD.Code"></span>
                        (<span id="lld-desc" data-bind="text: Payment.LLD.Description"></span>)
                    </label>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('LLD Code')">
                    <input name="check-lld-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Payment Details</label>

                <label class="col-sm-8">
                    <span name="purpose-detail" id="purpose-detail" data-bind="text: Payment.PaymentDetails"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Payment Detail')">
                    <input name="check-purpose-detail" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
        </div>

        <div class="space-4"></div>

        <div data-bind="if: (($root.t_IsFxTransaction() ||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue())) && $root.ProductID() == ConsProductID.OTTProductIDCons)">
            <h3 class="header smaller lighter dark">Un-utilize Underlying Documents</h3>

            <div class="table-responsive">
                <div class="dataTables_wrapper" role="grid" data-bind="with: Payment.Customer">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Statement Letter</th>
                                <th>Underlying</th>
                                <th>Type of Docs</th>
                                <th>Currency</th>
                                <th>Amount</th>
                                <th>Available Amount in USD</th>
                                <th>Date</th>
                                <th>Supllier Name</th>
                                <th>Ref. Number</th>
                                <th style="width:50px">Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Underlyings">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><span data-bind="text: StatementLetter.Name"></span></td>
                                <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                <td><span data-bind="text: DocumentType.Name"></span></td>
                                <td><span data-bind="text: Currency.Code"></span></td>
                                <td><span data-bind="text: Amount"></span></td>
                                <td><span data-bind="text: AvailableAmount"></span></td>
                                <td><span data-bind="text: $root.LocalDate(ExpiredDate)"></span></td>
                                <!--<td><span data-bind="text: moment(ExpiredDate).format('DD-M-YYYY')"></span></td>-->
                                <td><span data-bind="text: SupplierName"></span></td>
                                <td><span data-bind="text: ReferenceNumber"></span></td>
                                <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: $root.GetUnderlyingSelectedRow">View</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="space-10"></div>

            <div class="form-horizontal" role="form">
                <!-- <div class="form-group" >
                <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-code">Underlying Code</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="underlying-code" name="underlying-code" data-rule-required="true" disabled="disabled"
                                data-bind="options: $root.UnderlyingDocs,
                                optionsText: function(item) { if(item.ID != null) return item.Code + ' (' + item.Name + ')'} ,
                                optionsValue: 'ID',
                                value: Payment.UnderlyingDoc.ID">
                        </select>
                    </div>
                </div>
            </div> -->
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-code">Underlying Code</label>
                    <div data-bind="ifnot:Payment.UnderlyingDoc==null">
                        <label class="col-sm-8">
                            <span id="underlying-code" name="underlying-code" data-bind="text: Payment.UnderlyingDoc.Code"></span>
                            (<span id="underlying-code1" name="underlying-code" data-bind="text: Payment.UnderlyingDoc.Name"></span>)
                        </label>
                    </div>
                </div>

                <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.isNewUnderlying()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-desc">Other Underlying</label>

                    <div class="col-xs-9 align-left">
                        <div class="clearfix">
                            <textarea class="col-lg-5" id="underlying-desc" rows="4" data-rule-required="true" data-bind="value: Payment.OtherUnderlyingDoc"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="total-utilization">Total Utilization</label>
                    <label class="col-sm-8">
                        <span id="total-utilization" name="total-utilization" data-bind="text:formatNumber_r($root.AmountModel().TotalPPUUtilization())"></span>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="total-utilization">Total IDR->FCY Transaction in USD</label>
                    <label class="col-sm-8">
                        <span id="total-idr-fcy" name="total-idr-fcy" data-bind="text:formatNumber_r($root.AmountModel().TotalPPUAmountsUSD())"></span>
                    </label>
                </div>

                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="tz-number">TZ Number</label>

                    <label class="col-sm-8">
                        <span id="tz-number" name="tz-number" data-bind="text:  Payment.TZNumber"></span>
                    </label>
                </div>


                <!--<div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Utilization Amount</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="utilization-amount" id="utilization-amount" data-rule-required="false" disabled="disabled" data-rule-number="true" data-bind="value : $root.FormatNumber(Payment.AmountUSD)"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="tz-number">TZ Number</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-6" name="tz-number" id="tz-number" data-bind="value: Payment.TZNumber, disable: true"/>
                    </div>
                </div>
            </div>-->
            </div>

        </div>


        <div class="padding-4">
            <h3 class="header smaller lighter dark">Attachment</h3>

            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Payment.Documents, visible: Payment.Documents.length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: Payment.Documents.length == 0">
                        <tr>
                            <td colspan="13" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>