﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Payment.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Payment.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-all"></label>

                <label class="col-sm-8 control-label bolder no-padding-right" for="product-code">Check All</label>

                <label class="col-sm-1">
                    <input name="check-all" id="check-all" class="ace ace-switch ace-switch-6" type="checkbox" onchange="checkAllPaymentChecker(this)" data-bind="checked: $root.CheckAll()" /> <!-- data-bind="checked: $root.CheckAll(), click: function(data) { $root.CheckAllData('PaymentChecker'); }" -->
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: $root.IsTopUrgent() ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-1 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: $root.IsTopUrgentChain() ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-1 control-label bolder no-padding-right">Normal</label>
                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: $root.IsNormal() ? 'icon-check green' : 'icon-check-empty' "></i>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Top Urgent')">
                    <input name="check-bank-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <label class="col-sm-8">
                    <span name="customer-name" id="customer-name" data-bind="text: Payment.Customer.Name"></span>
                    <span class="label label-warning arrowed" data-bind="if: Payment.IsNewCustomer">New Customer</span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Customer Name')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <label class="col-sm-9">
                    <span name="cif" id="cif" data-bind="text: Payment.Customer.CIF"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>

                <label class="col-sm-9">
                    <span id="product-code" name="product-code" data-bind="text: Payment.Product.Code"></span>
                    (<span id="product-name" name="product-name" data-bind="text: Payment.Product.Name"></span>)
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Generated Files</label>
                <div class="col-sm-8">
                    <div class="dataTables_wrapper" role="grid">
                        <table style="margin:5px;">
                            <tbody data-bind="foreach: $root.GenerateFileNames">
                                <tr>
                                    <td><a data-bind="event: { click: $root.DownloadFile }, text: FileNameView" target="_blank"></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency-code">Currency</label>

                <label class="col-sm-8">
                    <span id="currency-code" name="currency" data-bind="text: Payment.Currency.Code"></span>
                    (<span id="currency-desc" name="currency" data-bind="text: Payment.Currency.Description"></span>)
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Currency')">
                    <input name="check-currency" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trxn-amount">Trxn Amount</label>

                <!--<label class="col-sm-8">
                    <span name="trxn-amount" id="trxn-amount" data-bind="text: formatNumber(Payment.Amount)"></span>
                </label>-->

                <div class="col-sm-8">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="trxn-amount" id="trxn-amount" data-in="" onkeyup="OnKeyUp('PaymentChecker')" data-rule-required="true" data-rule-number="true" data-bind="value: formatNumber(Payment.Amount)" />
                        <label class="control-label bolder text-danger" for="bene-name">*</label>
                    </div>
                </div>

                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Trxn Amount')">
                    <input name="check-trx-amount" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="rate">IDR Mid Rate (BI Mid-Rate)</label>

                <label class="col-sm-9">
                    <span name="rate" id="rate" data-bind="text: formatNumber_r(Payment.Rate)"></span>
                </label>
            </div>
            <!--Permintaan User
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trxrate">Transaction Rate</label>

                <label class="col-sm-8">
                    <span name="trxrate" id="trxrate" data-bind="text: Payment.TrxRate"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Transaction Rate')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            End-->

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="eqv-usd">Eqv. USD</label>

                <label class="col-sm-8">
                    <span name="eqv-usd" id="eqv-usd" data-bind="text: formatNumber_r(Payment.AmountUSD)"></span>
                </label>

                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Eqv Usd')">
                    <input name="check-equiv-usd" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="eqv-usd">TZ Number</label>

                <div class="col-sm-8">
                    <div class="clearfix">
                        <span id="tznumber" data-bind="text: Payment.TZNumber"></span>
                    </div>
                </div>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('TZ Number')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <label class="col-sm-8">
                    <span id="channel" name="channel" data-bind="text: Payment.Channel.Name"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Channel')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsPPURole()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>

                <label class="col-sm-8">
                    <span id="source" name="source" data-bind="text: $root.SourceName()"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Channel')">
                    <input name="check-source" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!--<div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-number">Debit Acc Number</label>

                <label class="col-sm-8">
                    <span id="debit-acc-number" name="debit-acc-number" data-bind="text: Payment.Account.AccountNumber"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Debit Acc Number')">
                    <input name="check-debit-acc-number" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>-->

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-number">Debit Acc Number</label>
                <label class="col-sm-8">
                    <label data-bind=" visible: viewModel.PaymentChecker().Payment.IsJointAccount == true">
                        <span data-bind="if: Payment.IsJointAccount">
                            <span id="book-join-join" data-bind="text: viewModel.CIFJointAccounts()[1].Name"></span>
                        </span>
                    </label>
                    <label data-bind="visible: viewModel.PaymentChecker().Payment.IsJointAccount == false">
                        <span data-bind="if: !Payment.IsJointAccount">
                            <span id="book-join-single" data-bind="text: viewModel.CIFJointAccounts()[0].Name"></span>
                        </span>
                    </label>
                    <div data-bind="ifnot: Payment.Account == null">
                        <span id="debit-acc-number" data-bind="text: ' - ' + Payment.Account.AccountNumber"></span>
                    </div>
                </label>
                <label class="col-sm-1"></label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Debit Acc Number')">
                    <!--Verify()[5]-->
                    <input name="check-debit-acc-number" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 5-->
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-ccy-code">Debit Acc CCY</label>

                <label class="col-sm-9">
                    <span id="debit-acc-ccy-code" data-bind="text: Payment.DebitCurrency.Code"></span>
                    (<span id="debit-acc-ccy-desc" data-bind="text: Payment.DebitCurrency.Description"></span>)
                </label>
            </div>

            <!-- Add Nostro Sundry by fandi -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="Debit Sundry">Debit Sundry</label>

                <label data-bind="if:Payment.Sundry !=null" class="col-sm-8">
                    <span id="DebitSundry" data-bind="text: Payment.Sundry.OABAccNo"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Debit Sundry')">
                    <input name="check-Debit-Sundry" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <!--Permintaan User
            <div data-bind="visible:Payment.Product.Name == 'OTT' && Payment.Currency.Code !='IDR', attr: { class: 'form-group form-line no-margin-bottom no-padding-bottom' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="Nostro">Nostro</label>

                <label data-bind="if:Payment.Nostro !=null" class="col-sm-8">
                    <span name="Nostro" id="Nostro" data-bind="text: Payment.Nostro.NostroUsed"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Nostro')">
                    <input name="check-Nostro" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            END -->

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="application-date">Application Date</label>

                <label class="col-sm-3">
                    <span id="application-date" name="application-date" data-bind="text: $root.LocalDate(Payment.ApplicationDate, true)"></span>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right" data-bind="if: Payment.Product.Name == 'OTT' || Payment.Product.Code == 'OV'">
                    Credit Value Date
                </label>
                <label class="col-sm-3" data-bind="if: Payment.Product.Name == 'OTT' || Payment.Product.Code == 'OV'">
                    <span data-bind="text: $root.LocalDate(Payment.ExecutionDate, true)" id="application-execution"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Application Date')">
                    <input name="check-biz-segment" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="biz-segment-name">Biz Segment</label>

                <label class="col-sm-8">
                    <span id="biz-segment-name" name="biz-segment" data-bind="text: Payment.BizSegment.Name"></span>
                    (<span id="biz-segment-desc" name="biz-segment" data-bind="text: Payment.BizSegment.Description"></span>)
                </label>

                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Biz Segment')">
                    <input name="check-biz-segment" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>
            <div data-bind="visible: Payment.IsIPETMO">
                <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: ($root.t_IsFxTransaction() || $root.t_IsFxTransactionToIDR())&& ($root.ProductID() == ConsProductID.OTTProductIDCons || Payment.Product.Code == 'OV' ||  Payment.Product.Code == 'RT')">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="product-type-name">Product Type</label>
                    <div data-bind="ifnot:Payment.ProductType == null">
                        <label class="col-sm-8">
                            <span id="product-type-name" name="product-type" data-bind="text: Payment.ProductType.Code"></span>
                        </label>
                    </div>
                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Product Type')">
                        <input name="check-product-type" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>
            <div data-bind="visible: Payment.IsIPETMO != true">
                <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: ($root.t_IsFxTransaction() || $root.t_IsFxTransactionToIDR())&& ($root.ProductID() == ConsProductID.OTTProductIDCons || Payment.Product.Code == 'OV')">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="product-type-name">Product Type</label>
                    <div data-bind="ifnot:Payment.ProductType == null">
                        <label class="col-sm-8">
                            <span id="product-type-name" name="product-type" data-bind="text: Payment.ProductType.Code"></span>
                        </label>
                    </div>
                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Product Type')">
                        <input name="check-product-type" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-name">Bene Name</label>

                <div class="col-sm-6">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-11" id="bene-name" name="bene-name" data-rule-required="true" data-rule-value="true" data-bind="value: Payment.BeneName" /> <!--, event: { keypress: enforceMaxlength }-->
                        <label class="control-label bolder text-danger" for="bene-name">*</label>
                    </div>
                </div>

                <!--<label class="col-sm-8">
                    <span id="bene-name" data-bind="text: Payment.BeneName"></span>
                </label>-->
                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bene Name')">
                    <input name="check-bene-name" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-bank">Bene Bank</label>

                <div class="col-sm-6">
                    <div class="clearfix">
                        <div>
                            <input type="text" autocomplete="off" class="col-sm-11" name="bank-bank" id="bank-bank" data-rule-required="true" data-rule-value="true" data-bind="value: Payment.Bank.Description, event: { change: $root.OnChangeBank, blur: $root.OnBlurBank } " /> <!--aridya 20160927  enable: !($root.ProductID() == ConsProductID.OverbookingProductIDCons),-->
                            <label class="control-label bolder text-danger" for="bank-name">*</label>
                        </div>
                        <!--<div data-bind="ifnot: $root.IsPPUHOMaker, visible: !$root.IsPPUHOMaker()">
                            <input type="text" autocomplete="off" class="col-sm-11" name="bank-bank" id="bank-bank" data-bind="value: Payment.Bank.Description, enable: !($root.ProductID() == ConsProductID.OverbookingProductIDCons)" />
                        </div>-->
                    </div>
                </div>

                <!--<label class="col-sm-8">
                    <span id="bene-bank" name="bene-bank" data-bind="text: Payment.Bank.Description"></span>
                </label>-->
                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bene Bank')">
                    <input name="check-bene-bank" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-code">Swift Code/Bank Code</label>
                <!--add henggar IPE-->
                <label class="col-sm-1">
                    <!--<span id="bank-code" data-bind="text: Payment.Bank.SwiftCode"></span>-->
                    <input type="text" autocomplete="off" class="col-sm-12" id="bank-code" name="bank-code" data-rule-required="true" data-rule-value="true" id="bene-name" data-bind="value: Payment.Bank.SwiftCode, enable: !$root.IsOtherBank()" />
                </label>
                <label class="col-sm-1 control-label bolder no-padding-right" for="bank-branch-code">Branch Code</label>
                <!--add aridya 20160920 change to editable-->
                <div class="col-sm-2">
                    <input type="text" autocomplete="off" class="col-sm-12" name="bank-branch-code" id="bank-branch-code" data-bind="valueUpdate: 'afterkeydown', event:{ 'keyup': $root.OnChangeBankBranch }" />
                </div>
                <!--<label class="col-sm-2" data-bind="if: Payment.Branch != null">
                    <span id="bank-branch-code" data-bind="text: Payment.Branch.Code"></span>
                    <span id="bank-branch-name" data-bind="text: ' - '+  Payment.Branch.Name"></span>
                </label>-->
                <label class="col-sm-1 control-label bolder no-padding-right" for="bank-city-code">City Code</label>
                <label class="col-sm-3">
                    <span id="bank-city-code"></span>
                    <span id="bank-city-description"></span>
                </label>
                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Branch Code')">
                    <input name="check-bank-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-acc-number">Bene Acc Number</label>

                <div class="col-sm-8">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-6" name="bene-acc-number" data-rule-required="true" id="bene-acc-number" onkeyup="formatMakerAccount('PaymentChecker')" data-bind="value: $root.BeneAccNumberMask()" />
                        <label class="control-label bolder text-danger">*</label>
                    </div>
                </div>

                <!--<label class="col-sm-8">
                    <span id="bene-acc-number" data-bind="text: formatAccount(Payment.BeneAccNumber)"></span>
                </label>-->
                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bene Acc Number')">
                    <input name="check-bene-acc-number" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div data-bind="visible: Payment.BankCharges != null && (Payment.Product.Name == 'OTT' || Payment.Product.Name == 'RTGS' || Payment.Product.Name == 'SKN'), attr: { class: 'form-group form-line no-margin-bottom no-padding-bottom' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-charges">Bank Charges</label>

                <label class="col-sm-8">
                    <span id="bank-charges" data-bind="text: Payment.BankCharges.Code"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bank Charges')">
                    <input name="check-bank-charges" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: Payment.Product.Name == 'OTT'">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="agent-charges">
                    Agent Charges
                </label>

                <label class="col-sm-8" data-bind="if: Payment.AgentCharges != null">
                    <span id=" agent-charges" data-bind="text: Payment.AgentCharges.Code">
                    </span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Agen Charges')">
                    <input name="check-agent-charges" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div data-bind="visible: Payment.Product.Name == 'SKN', attr: { class: 'form-group form-line no-margin-bottom no-padding-bottom' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="type">Type</label>

                <label class="col-sm-9">
                    <span id="type" data-bind="text: Payment.Type"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="type">Citizen</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Payment.IsCitizen ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Citizen')">
                    <input name="check-citizen" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="type">Resident</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Payment.IsResident ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Resident')">
                    <input name="check-resident" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:Payment.Product.Code == 'SK' || Payment.Product.Code == 'OT' || Payment.Product.Code == 'OV' || Payment.Product.Code == 'RT'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="type">Beneficiary Resident</label>

                <label class="col-sm-8">
                    <label data-bind=" visible: viewModel.PaymentChecker().Payment.IsBeneficiaryResident == true">
                        <span id="IsbeneTrue">Resident</span>
                    </label>
                    <label data-bind="visible: viewModel.PaymentChecker().Payment.IsBeneficiaryResident == false">
                        <span id="IsbeneFalse">Non Resident</span>
                    </label>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Beneficiary Resident')">
                    <input name="check-beneficiary-country-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <!--add henggar IPE-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="type">
                    Beneficiary Country Code
                </label>
                <label class="col-sm-8" data-bind="if: Payment.BeneficiaryCountry != null">
                    <span id="beneficiary-country-code" data-bind="text: Payment.BeneficiaryCountry.Code"></span>
                    <span id="beneficiary-country-desc" data-bind="text: ' - '+  Payment.BeneficiaryCountry.Description"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Beneficiary Country Code')">
                    <input name="check-beneficiary-country-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ChAccName">Charging Account Name</label>
                <label class="col-sm-8">
                    <span id="ChAccName" data-bind="text: Payment.ChargingAccountName"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Charging Account Name')">
                    <input name="check-charging-acc-name" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ChAccBank">Charging Account Bank</label>
                <label class="col-sm-8">
                    <span id="ChAccBank" data-bind="text: Payment.ChargingAccountBank"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Charging Account Bank')">
                    <input name="check-charging-acc-bank" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ChAccount">Charging Account</label>
                <label class="col-sm-3">
                    <span id="ChAccount" data-bind="text: Payment.ChargingACCNumber "></span>
                </label>
                <label class="col-sm-3 control-label bolder no-padding-right">CCY</label>
                <label class="col-sm-2">
                    <span id="ChAccountCCY" data-bind="text: Payment.ChargingAccountCurrency"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Charging Account')">
                    <input name="check-charging-account" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!--end henggar IPE-->

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="beneficiary-code">Beneficiary Business Type</label>

                <label class="col-sm-8" data-bind="if: Payment.BeneficiaryBusines != null">
                    <label class="col-sm-8">
                        <span id="beneficiary-code" data-bind="text: Payment.BeneficiaryBusines.Code"></span>
                        (<span id="beneficiary-desc" data-bind="text: Payment.BeneficiaryBusines.Description"></span>)
                    </label>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Beneficiary Business Type')">
                    <input name="check-beneciary-address" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <!--add henggar IPE-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="beneficiary-addr">Beneficiary Address</label>
                <div data-bind="ifnot: Payment.BeneficiaryAddress == '' ">
                    <div data-bind="if: Payment.BeneficiaryAddress != ''">
                        <label class="col-sm-8">
                            <span id="beneficiary-addr" data-bind="text: Payment.BeneficiaryAddress"></span>
                        </label>
                    </div>
                    <div data-bind="if: Payment.BeneficiaryAddress != ''">
                        <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Beneficiary Address')">
                            <input name="check-beneciary-address" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                            <span class="lbl"></span>
                        </label>
                    </div>
                </div>
            </div>
            <!--end henggar IPE-->

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="type">
                    Transaction Relationship
                </label>
                <label class="col-sm-8" data-bind="if: Payment.TransactionRelationship != null">
                    <span id="trrelation" data-bind="text: Payment.TransactionRelationship.Code"></span>
                    <span id="trrelation-desc" data-bind="text: ' - '+  Payment.TransactionRelationship.Description"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Transaction Relationship')">
                    <input name="check-trrelation" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-code">Underlying Code</label>
                <div data-bind="ifnot:Payment.UnderlyingDoc==null">
                    <label class="col-sm-8">
                        <span id="underlying-code" name="underlying-code" data-bind="text: Payment.UnderlyingDoc.Code"></span>
                        (<span id="underlying-code1" name="underlying-code" data-bind="text: Payment.UnderlyingDoc.Name"></span>)
                    </label>
                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Underlying Code')">
                        <input name="check-lld-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: Payment.OtherUnderlyingDoc != null">
                <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-desc">Other Underlying</label>

                <div class="col-xs-8 align-left">
                    <div class="clearfix">
                        <textarea class="col-lg-5" id="underlying-desc" rows="4" data-rule-required="true" data-bind="value: Payment.OtherUnderlyingDoc"></textarea>
                    </div>
                </div>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Other Underlying')">
                    <input name="check-lld-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="lld-code">LLD Code</label>

                <label class="col-sm-8" data-bind="if: Payment.LLD != null">
                    <label class="col-sm-9">
                        <span id="lld-code" data-bind="text: Payment.LLD.Code"></span>
                        (<span id="lld-desc" data-bind="text: Payment.LLD.Description"></span>)
                    </label>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('LLD Code')">
                    <input name="check-lld-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!--add CR field-->
            <div data-bind="if: $root.IsLimit">
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="lld-doc">LLD Document</label>

                    <label class="col-sm-8" data-bind="if: Payment.LLDDocument != null">
                        <label class="col-sm-9">
                            <span id="lld-doc" data-bind="text: Payment.LLDDocument.LLDDocumentCode"></span>
                            (<span id="lld-doc-desc" data-bind="text: Payment.LLDDocument.Description"></span>)
                        </label>
                    </label>
                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('LLD Document')">
                        <input name="check-lld-doc" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>

            <div data-bind="if: $root.IsLimit">
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="lld-amount">LLD Underlying Amount</label>
                    <label class="col-sm-8" data-bind="if: Payment.LLDUnderlyingAmount != null">
                        <label class="col-sm-8">
                            <span name="lld-amount" id="lld-amount" data-bind="text: formatNumber_l(Payment.LLDUnderlyingAmount)"></span>
                        </label>
                    </label>
                    </label>
                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('LLD Underlying Amount')">
                        <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>
            <!--end-->
            <!--add henggar IPE-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ComCode">Compliance Code</label>
                <label class="col-sm-8" data-bind="if: Payment.Compliance != null">
                    <span id="ComCode-name" data-bind="text: Payment.Compliance.Name"></span>
                    <span id="ComCode-description" data-bind="text: ' - ' + Payment.Compliance.Description"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Compliance Code')">
                    <input name="check-compliance-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <!--end-->

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Payment Details</label>

                <label class="col-sm-8">
                    <span name="purpose-detail" id="purpose-detail" data-bind="text: Payment.PaymentDetails"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Payment Detail')">
                    <input name="check-purpose-detail" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: Payment.Product.Name == 'SKN' || Payment.Product.Name == 'RTGS' || Payment.Product.Name == 'OTT'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Waive Charges Options</label>
                <label class="col-sm-2 control-label bolder no-padding-right" for="purpose-detail">CBG Customer</label>
                <label class="col-sm-2" data-bind="if: Payment.CBGCustomer != null">
                    <span id="purpose-detail" data-bind="text: Payment.CBGCustomer.Code"></span>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right" for="purpose-detail">Transaction Using Debit Sundry</label>
                <label class="col-sm-2">
                    <span id="purpose-detail" data-bind="text: Payment.TransactionUsingDebitSundry.Code"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Waive Charges Options')">
                    <input name="check-purpose-detail" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div data-bind="visible: Payment.IsIPETMO">
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="type">Instruction</label>

                    <label class="col-sm-8">
                        <i class="bigger-170" data-bind="css: Payment.Instruction ? 'icon-check green' : 'icon-check-empty'"></i>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="type">Statement Letter</label>

                    <label class="col-sm-8">
                        <i class="bigger-170" data-bind="css: Payment.StatementLetter ? 'icon-check green' : 'icon-check-empty'"></i>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="type">Underlying</label>

                    <label class="col-sm-8">
                        <i class="bigger-170" data-bind="css: Payment.Underlying ? 'icon-check green' : 'icon-check-empty'"></i>
                    </label>
                </div>
            </div>

            <div class="space-4"></div>

            <div data-bind="if: Payment.Customer.Underlyings != '' && Payment.Customer.Underlyings != null">
                <h3 class="header smaller lighter dark">Un-utilize Underlying Documents</h3>
                <div data-bind="visible: Payment.IsIPETMO">
                    <div class="table-responsive">
                        <div class="dataTables_wrapper" role="grid" data-bind="with: Payment.Customer">
                            <table class="table table-striped table-bordered table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Statement Letter</th>
                                        <th>Underlying</th>
                                        <th>Type of Docs</th>
                                        <th>Currency</th>
                                        <th>Amount</th>
                                        <th>Available Amount in USD</th>
                                        <th>Utilize Amount Deal</th>
                                        <th>Date</th>
                                        <th>Supllier Name</th>
                                        <th>Ref. Number</th>
                                        <th>Created By</th>
                                        <th>Last Modified By</th>
                                        <th style="width:50px">Action</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: Underlyings">
                                    <tr>
                                        <td><span data-bind="text: $index() +1"></span></td>
                                        <td><span data-bind="text: StatementLetter.Name"></span></td>
                                        <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                        <td><span data-bind="text: DocumentType.Name"></span></td>
                                        <td><span data-bind="text: Currency.Code"></span></td>
                                        <td align="right"><span data-bind="text: formatNumber_r(Amount)"></span></td>
                                        <td align="right"><span data-bind="text: formatNumber_r(AvailableAmount)"></span></td>
                                        <td align="right"><span data-bind="text: formatNumber_r(UtilizeAmountDeal)"></span></td>
                                        <td><span data-bind="text: $root.LocalDate(ExpiredDate, true, false)"></span></td>
                                        <td><span data-bind="text: SupplierName"></span></td>
                                        <td><span data-bind="text: ReferenceNumber"></span></td>
                                        <td><span data-bind="text: CreatedBy"></span></td>
                                        <td><span data-bind="text: LastModifiedBy"></span></td>
                                        <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: $root.GetUnderlyingSelectedEditRow">View</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div data-bind="visible: Payment.IsIPETMO != true">
                    <div class="table-responsive">
                        <div class="dataTables_wrapper" role="grid" data-bind="with: Payment.Customer">
                            <table class="table table-striped table-bordered table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Statement Letter</th>
                                        <th>Underlying</th>
                                        <th>Type of Docs</th>
                                        <th>Currency</th>
                                        <th>Amount</th>
                                        <th>Available Amount in USD</th>
                                        <th>Date</th>
                                        <th>Supllier Name</th>
                                        <th>Ref. Number</th>
                                        <th style="width:50px">Action</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: Underlyings">
                                    <tr>
                                        <td><span data-bind="text: $index() +1"></span></td>
                                        <td><span data-bind="text: StatementLetter.Name"></span></td>
                                        <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                        <td><span data-bind="text: DocumentType.Name"></span></td>
                                        <td><span data-bind="text: Currency.Code"></span></td>
                                        <td><span data-bind="text: Amount"></span></td>
                                        <td><span data-bind="text: AvailableAmount"></span></td>
                                        <td><span data-bind="text: $root.LocalDate(ExpiredDate)"></span></td>
                                        <!--<td><span data-bind="text: moment(ExpiredDate).format('DD-M-YYYY')"></span></td>-->
                                        <td><span data-bind="text: SupplierName"></span></td>
                                        <td><span data-bind="text: ReferenceNumber"></span></td>
                                        <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: $root.GetUnderlyingSelectedRow">View</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="space-10"></div>

                <div class="form-horizontal" role="form">
                    <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.isNewUnderlying()">
                        <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-desc">Other Underlying</label>

                        <div class="col-xs-9 align-left">
                            <div class="clearfix">
                                <textarea class="col-lg-5" id="underlying-desc" rows="4" data-rule-required="true" disabled="disabled" data-bind="value: Payment.OtherUnderlyingDoc"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-line no-margin-bottom no-padding-bottom">
                        <label class="col-sm-3 control-label bolder no-padding-right" for="total-utilization">Total Utilization</label>
                        <label class="col-sm-8">
                            <span id="total-utilization" name="total-utilization" data-bind="text:formatNumber_r($root.AmountModel().TotalPPUUtilization())"></span>
                        </label>
                    </div>
                    <div class="form-group form-line no-margin-bottom no-padding-bottom">
                        <label class="col-sm-3 control-label bolder no-padding-right" for="total-utilization">Total IDR->FCY Transaction in USD</label>
                        <label class="col-sm-8">
                            <span id="total-idr-fcy" name="total-idr-fcy" data-bind="text:formatNumber_r($root.AmountModel().TotalPPUAmountsUSD())"></span>
                        </label>
                    </div>
                </div>

            </div>

            <div class="space-4"></div>
            <div class="padding-4" data-bind="visible: Payment.Product.Code == 'RT' || Payment.Product.Code == 'SK'">
                <h3 class="header smaller lighter dark">
                    Instruction Form and Docs
                </h3>
                <!--data-bind="visible:!$root.IsUnderlyingMode()" -->
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>File Name</th>
                                <th>Purpose of Docs</th>
                                <th>Type of Docs</th>
                                <th>Modified</th>
                                <!--<th>Action</th>-->
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: viewModel.PaymentChecker().Payment.Documents, visible: viewModel.PaymentChecker().Payment.Documents.length > 0">
                            <tr>
                                <!--data-bind="click: $root.EditDocument"-->
                                <td><span data-bind="text: $index() +1"></span></td>
                                <!-- Change By fandi for Link Downlaod -->
                                <!--<td><span data-bind="text: DocumentPath.name"></span></td>-->
                                <td>
                                    <div data-bind="ifnot:$root.IsNewDocument">
                                        <!--<span data-bind="text: FileName"></span>-->
                                        <a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a>
                                    </div>
                                    <div data-bind="if:$root.IsNewDocument">
                                        <a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a>
                                        <!--<a data-bind="attr: { href: DocumentPath.DocPath, target:'_blank' }, text: FileName"></a>-->
                                    </div>

                                </td>
                                <td><span data-bind="text: Purpose.Name"></span></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: moment(DocumentPath.lastModifiedDate).format(config.format.dateTime)"></span></td><!--$root.LocalDate(LastModifiedDate)-->
                                <!--<td><a href="#" data-bind="click: $root.RemoveDocument">Remove</a></td>-->
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: viewModel.PaymentChecker().Payment.Documents.length == 0">
                            <tr>
                                <td colspan="6" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <!--attachment show when product is OTT henggar IPE-->
            <div class="padding-4" data-bind="visible: Payment.Product.Code == 'OT' || Payment.Product.Code == 'OV'">
                <h3 class="header smaller lighter dark">Attachment</h3>

                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>File Name</th>
                                <th>Purpose of Docs</th>
                                <th>Type of Docs</th>
                                <th>Modified</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: viewModel.PaymentChecker().Payment.Documents, visible: viewModel.PaymentChecker().Payment.Documents.length > 0">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>
                                <td><span data-bind="text: Purpose.Name"></span></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: viewModel.PaymentChecker().Payment.Documents.length == 0">
                            <tr>
                                <td colspan="13" class="text-center">
                                    No entries available.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--add aridya 20160923 for popup pembanding-->
    <div id="messageApprover" align="center" style="width:90%" class="modal fade" tabindex="-1" data-keyboard="false">
        <!--<div id="messageApprover" align="center" style="display: none">--><br />
        <div class="modal-header no-padding">
            <div class="table-header">
                <span data-bind="html: $root.OriginalValue().PaymentConfirmationTitle"></span>
            </div>
        </div>
        <div class="modal-body no-padding" data-bind="ifnot: $data == null">
            <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Original Value</th>
                        <th>Current Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-bind="visible:$root.OriginalValue().AmountOri().Status()">
                        <td>Trxn Amount</td>
                        <td><label data-bind="text: formatNumber_r($root.OriginalValue().AmountOri().Value())"></label></td>
                        <td><label data-bind="text: formatNumber($root.Amounttmp())"></label></td>
                    </tr>
                    <!--<tr data-bind="visible:$root.OriginalValue().RateOri().Status">
                        <td>Rate</td>
                        <td><label data-bind="text: formatNumber_r($root.OriginalValue().RateOri().Value())"></label></td>
                        <td><label data-bind="text: formatNumber_r(Payment.Rate)" for="rate"></label></td>
                    </tr>-->
                    <tr data-bind="visible:$root.OriginalValue().AmountUSDOri().Status()">
                        <td>Eqv. USD</td>
                        <td><label data-bind="text: formatNumber_r($root.OriginalValue().AmountUSDOri().Value())"></label></td>
                        <td><label data-bind="text: formatNumber_r($root.AmountUSDtmp())"></label></td>
                    </tr>

                    <tr data-bind="visible:$root.OriginalValue().BeneNameOri().Status()">
                        <td>Bene Name</td>
                        <td><label data-bind="text: $root.OriginalValue().BeneNameOri().Value"></label></td>
                        <td><label data-bind="text: $root.BeneNametmp()"></label></td>
                    </tr>
                    <tr data-bind="visible:$root.OriginalValue().BanksOri().Status()">
                        <td>Bene Bank</td>
                        <td><label data-bind="text: $root.OriginalValue().BanksOri().Value"></label></td>
                        <td><label data-bind="text: $root.BeneBanktmp()"></label></td>
                        <!--<td><label data-bind="text: $root.PaymentMaker().Payment.Bank.Description"></label></td>-->
                    </tr>
                    <tr data-bind="visible:$root.OriginalValue().SwiftCodeOri().Status()">
                        <td>Swift Code/Bank Code</td>
                        <td><label data-bind="text: $root.OriginalValue().SwiftCodeOri().Value"></label></td>
                        <td><label data-bind="text: $root.SwiftCodetmp()"></label></td>
                        <!--<td><label data-bind="text:$root.PaymentMaker().Payment.Bank.SwiftCode"></label></td>-->
                    </tr>
                    <tr data-bind="visible:$root.OriginalValue().BranchOri().Status()">
                        <td>Branch Code</td>
                        <td><label data-bind="text: $root.OriginalValue().BranchOri().Value"></label></td>
                        <td><label data-bind="text: $root.Branchtmp()"></label></td>
                        <!--<td><label data-bind="text:$root.PaymentMaker().Payment.Bank.SwiftCode"></label></td>-->
                    </tr>
                    <tr data-bind="visible:$root.OriginalValue().CityOri().Status()">
                        <td>City Code</td>
                        <td><label data-bind="text: $root.OriginalValue().CityOri().Value"></label></td>
                        <td><label data-bind="text: $root.Citytmp()"></label></td>
                        <!--<td><label data-bind="text:$root.PaymentMaker().Payment.Bank.SwiftCode"></label></td>-->
                    </tr>

                    <tr data-bind="visible:$root.OriginalValue().BeneAccNumberOri().Status()">
                        <td>Bene Acc Number</td>
                        <td><label data-bind="text: $root.OriginalValue().BeneAccNumberOri().Value"></label></td>
                        <td><label data-bind="text: $root.AccNumbertmp()"></label></td>
                        <!--<td><label data-bind="text: $root.PaymentMaker().Payment.BeneAccNumber"></label></td-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
