﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <!-- Tanggal Pembuatan Transaction -->
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>
                <!-- No Application dan Nama User -->
                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <!-- Urgency -->
            <div class="form-group no-margin-bottom no-padding-bottom" id="urgent">
                <label class="col-sm-3 control-label bolder no-padding-right">Urgency</label>
                <div class="col-sm-8">
                    <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>
                    <label class="col-sm-1">
                        <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                    </label>
                    <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent Chain</label>
                    <label class="col-sm-1">
                        <i class="bigger-170" data-bind="css: Transaction.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                    </label>
                </div>
            </div>

            <!-- Customer Name -->
            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-11" name="customer-nameFD" id="customer-nameFD" data-rule-required="true" data-bind="value: Transaction.Customer.Name, disable: true" />
                        <label class="control-label bolder text-danger" for="customer-name">*</label>
                    </div>
                </div>
            </div>

            <!-- CIF -->
            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cifFD">CIF</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-3" name="cif" id="cif" data-bind="value: Transaction.Customer.CIF, disable:true" />
                    </div>
                </div>
            </div>

            <!-- Product -->
            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="product-code" name="product-code" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Products, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Product.ID, disable:true"></select>
                        <label class="control-label bolder text-danger" for="product">*</label>
                    </div>
                </div>
            </div>

            <!-- Channel -->
            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="channel" name="channel" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Channels, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Channel.ID, enable: !$root.VerifyColumn('Channel')().IsVerified"></select>
                        <label class="control-label bolder text-danger" for="channel">*</label>
                    </div>
                </div>
            </div>

            <!--Source-->
            <div class="form-group no-margin-bottom no-padding-bottom" data-bind="if: $root.IsPPURole()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="source" name="source" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Sources, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.SourceID, enable: !$root.VerifyColumn('Source')().IsVerified"></select>
                        <label class="control-label bolder text-danger" for="source">*</label>
                    </div>
                </div>
            </div>

            <!-- Transaction Type-->
            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="transaction-type"> Transaction Type</label>
                <label class="col-sm-8">
                    <span id="transaction-type" name="transaction-type" data-bind="text: Transaction.TransactionType.TransactionTypeName"></span>
                </label>
            </div>

            <!-- FD Acc Number -->
            <div class="form-group no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="fd-acc-number">FD Acc Number</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="fd-acc-number" id="fd-acc-number" data-in="" data-rule-required="true" data-rule-number="true" data-bind="value: Transaction.FDAccNumber, enable: !$root.VerifyColumn('FD Acc Number')().IsVerified" />
                        <label class="control-label bolder text-danger" for="fdaccno">*</label>
                    </div>
                </div>
            </div>

            <!-- Currency-->
            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency-code">Currency</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="currency-code" name="currency-code" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Currencies, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Currency.ID, enable: !$root.VerifyColumn('Currency')().IsVerified"></select>
                        <label class="control-label bolder text-danger" for="currency">*</label>
                    </div>
                </div>
            </div>

            <!-- Amount-->
            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="amount">Amount</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="amount" id="amount-ppumaker-update" data-in="" data-rule-required="true" data-rule-number="true" data-bind="value: Transaction.Amount, enable: !$root.VerifyColumn('Amount')().IsVerified, visible: !$root.VerifyColumn('Amount')().IsVerified" />
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="amount" id="amount" data-in="" data-rule-required="true" data-rule-number="true" data-bind="value: formatNumber(Transaction.Amount), enable: !$root.VerifyColumn('Amount')().IsVerified, visible: $root.VerifyColumn('Amount')().IsVerified" />
                        <label class="control-label bolder text-danger" for="trxn-amount">*</label>
                    </div>
                </div>
            </div>

            <!-- Debit Account Number -->
            <div class="form-group no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsChangeOfInstruction()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-number">Debit Account Number</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="debit-acc-number" id="debit-acc-number" data-in="" data-rule-required="false" data-rule-number="true" data-bind="value: Transaction.DebitAccNumber, enable: !$root.VerifyColumn('Debit Acc Number')().IsVerified" />
                    </div>
                </div>
            </div>

            <!-- Credit Acc Number -->
            <div class="form-group no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="credit-acc-number">Credit Acc Number</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="credit-acc-number" id="credit-acc-number" data-in="" data-rule-required="false" data-rule-number="true" data-bind="value: Transaction.CreditAccNumber, enable: !$root.VerifyColumn('Credit Acc Number')().IsVerified" />
                    </div>
                </div>
            </div>           

            <!-- Tenor -->
            <!--<div class="form-group no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsFDMaintenance()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="tenor">Tenor</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="tenor" id="tenor" data-in="" data-rule-required="false" data-rule-number="true" data-bind="value: Transaction.Tenor, enable: !$root.VerifyColumn('Tenor')().IsVerified" />
                    </div>
                </div>
            </div>-->

            <!-- Value Date-->
            <div class="form-group no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Value Date</label>
                <div class="col-sm-9">
                    <div class="clearfix input-group col-sm-3 no-padding">
                        <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="value-date" name="value-date" data-rule-required="false" data-rule-value="true" data-bind="datepicker:Transaction.ValueDate ,value:$root.LocalDate(Transaction.ValueDate,true,false), enable: !$root.VerifyColumn('Value Date')().IsVerified" />
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>

            <!-- maturity date-->
            <div class="form-group no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="maturity-date">Maturity Date</label>
                <div class="col-sm-9">
                    <div class="clearfix input-group col-sm-3 no-padding">
                        <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="maturity-date" name="maturity-date" data-rule-required="false" data-rule-value="true" data-bind="datepicker:Transaction.MaturityDate ,value: $root.LocalDate(Transaction.MaturityDate,true,false), enable: !$root.VerifyColumn('Maturity Date')().IsVerified" />
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Transaction Remarks-->
            <div class="form-group no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="transaction-remarks">Transaction Remarks</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="transaction-remarks" name="transaction-remarks"  data-rule-value="true" data-bind="options: $root.ddlFDRemarks, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Remarks.ID, enable: !$root.VerifyColumn('Transaction Remarks')().IsVerified"></select>
                    </div>
                </div>
            </div>

            <!-- Bank Name & Acc No-->
            <div class="form-group no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-name-acc-no">Bank Name & Acc No</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <textarea class="col-sm-12" name="bank-name-acc-no" id="bank-name-acc-no" rows="6" data-rule-required="false" data-bind="value: Transaction.BankNameAccNumber, enable: !$root.VerifyColumn('Bank Name And Acc No')().IsVerified"></textarea>
                    </div>
                </div>
            </div>

            <!-- Attachement Remarks--><!-- New Placement-Branch-->
            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="attachment-remarks">Attachment Remarks</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <textarea class="col-sm-12" name="attachment-remarks" id="attachment-remarks" rows="6" data-rule-required="false" data-bind="value: Transaction.AttachmentRemarks, enable: !$root.VerifyColumn('Attachment Remarks')().IsVerified"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="docs-complete-fd">Docs Complete</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="checkbox" name="docs-complete-fd" class="col-sm-1" id="docs-complete-fd" data-bind="checked: $root.IsDocsComplete, enable: !$root.VerifyColumn('DocsCompleteFD')().IsVerified, event: {change: $root.OnChangeDocsComplete}" />
                    </div>
                </div>
            </div>

            <!--<div class="form-group no-margin-bottom no-padding-bottom" data-bind="visible:!$root.IsDocsComplete()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="all-in-rate-fd">All In Rate</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" class="col-sm-3 align-right" name="all-in-rate-fd" id="all-in-rate-fd" data-rule-required="true" data-rule-number="true" data-bind="value: Transaction.AllInRate, enable: !$root.VerifyColumn('AllInRateFD')().IsVerified" />
                        <label class="control-label bolder text-danger" for="all-in-rate-fd">*</label>
                    </div>
                </div>
            </div>-->
            <!-- Intersert Rate-->
            <div class="form-group no-margin-bottom no-padding-bottom" data-bind="visible: !$root.IsDocsComplete()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="interest-rate">Interest Rate</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="interest-rate" id="interest-rate" data-in="" data-rule-required="true" data-rule-number="true" data-bind="value: Transaction.InterestRate, enable: (!$root.VerifyColumn('Interest Rate')().IsVerified || !$root.VerifyColumn('DocsCompleteFD')().IsVerified)" />
                        <label class="control-label bolder text-danger" for="intereset-rate">*</label>
                    </div>
                </div>
            </div>

            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="tenor-fd">Tenor</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="tenor-fd" name="tenor-fd" data-bind="options: $root.TenorFDs, optionsText: 'Tenor', optionsValue: 'IQuoteID', optionsCaption: 'Please Select...', value: $root.SelectedTenorFD, enable: (!$root.VerifyColumn('Tenor')().IsVerified || !$root.VerifyColumn('DocsCompleteFD')().IsVerified), event: { click: OnChangeTenorFD }"></select>
                        <label class="control-label bolder text-danger" for="tenor-fd" data-bind="visible: $root.IsDocsComplete()">*</label>
                    </div>
                </div>
            </div>

            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ftp-rate-fd">FTP Rate</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" class="col-sm-12" name="ftp-rate-fd" id="ftp-rate-fd" data-bind="value: $root.FTPRateFD, enable: false" />
                    </div>
                </div>
            </div>

        </div>
        <div class="space-16"></div>
        <!-- Attachment -->
        <div class="padding-4">
            <h3 class="header smaller lighter dark">
                Attachment
                <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocumentResubmitFD">
                    <i class="icon-plus"></i>
                    Attach
                </button>
            </h3>
            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th style="width:50px">No.</th>
                            <th>File Name</th>
                            <th>Document Type</th>
                            <th>Modified</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: $root.Documents(), visible: $root.Documents().length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: moment(LastModifiedDate).format(config.format.dateTime)"></span></td>
                            <td>
                                <a href="#" data-bind="click: $root.RemoveDocumentResubmitFD">Remove</a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: $root.Documents().length == 0">
                        <tr>
                            <td colspan="6" align="center">No entries available.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>