﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group" data-bind="visible: $root.IsIN_() || $root.IsSP_() || $root.IsUTP_()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>
                <div class="col-sm-6">
                    <input type="text" id="customer-name" name="customer-name" data-bind="value: Transaction.Customer.Name" disabled="disabled" class="col-sm-4" />
                </div>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Customer Name')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" disabled="disabled" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group" data-bind="visible: $root.IsIN_() || $root.IsSP_()|| $root.IsUTP_()">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>
                <div class="col-sm-6">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-3" name="cif" id="cif" disabled="disabled" data-bind="value: Transaction.Customer.CIF" />
                    </div>
                </div>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('CIF')">
                    <input name="check-cif" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" disabled="disabled" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group" data-bind="visible: $root.IsIN_() || $root.IsSP_()|| $root.IsUTP_()">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="product-code">
                    Product
                </label>
                <div class="col-sm-6">
                    <select id="product-code" name="product-code" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Products, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Product.ID" disabled="disabled"></select>
                    <label class="control-label bolder text-danger" for="product">*</label>
                </div>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Product')">
                    <input name="check-cif" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" disabled="disabled" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group" data-bind="visible: $root.IsIN_()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">Function Type</label>
                <div class="col-sm-6">
                    <select id="functiontype" name="functiontype" disabled="disabled" data-bind="options: $root.FunctionTypes, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.SelectFunctionType" class="col-sm-6" data-rule-required="true"></select>
                </div>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('FunctionType')">
                    <input name="check-func-type" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" disabled="disabled" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group" data-bind="visible: $root.IsSP_()|| $root.IsUTP_() || $root.IsIN_() && Transaction.InvestmentID != ' '">
                <label class="col-sm-3 control-label bolder no-padding-right" for="InvestmentID">Investment ID</label>
                <div class="col-sm-3">
                    <input type="text" id="investmentid" data-rule-required="true" name="invesment" data-bind="value: Transaction.InvestmentID, enable: !$root.VerifyColumn('InvestmentID')().IsVerified" class="col-sm-8" /> <!--!$root.VerifyColumn('InvestmentID')().IsVerified-->
                    <label data-bind="visible: viewModel.IsInvestmentID()" class="control-label bolder text-danger" for="investmentid">*</label>
                </div>
                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('InvestmentID')">
                    <input name="check-investmentid" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" disabled="disabled" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group" data-bind="visible: $root.IsIN_()">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="cif">
                    Account Type
                </label>
                <div class="col-sm-6">
                    <select id="accounttype" name="accounttype"
                            data-bind="options: $root.AccountTypes,
                            optionsText: 'Name',
                            optionsValue: 'ID',
                            optionsCaption: 'Please Select...',
                            value: $root.SelectAccountType" class="col-sm-6" data-rule-required="true" disabled="disabled" />

                    <!--value: $root.SelectAccountType, enable: !$root.VerifyColumn('AccountType')().IsVerified" class="col-sm-6" data-rule-required="true" />-->
                </div>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('AccountType')">
                    <input name="check-acc-type" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" disabled="disabled" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group" data-bind="visible: $root.IsSP_()|| $root.IsUTP_()">

                <label class="col-sm-3 control-label bolder no-padding-right">Transaction Type</label>

                <div class="col-sm-6">
                    <!--<select id="TransType-code" name="TransType-code" data-rule-required="true" data-rule-value="true" data-bind="options: $root.TransactionTypes, optionsText: 'TransactionTypeName', optionsValue: 'TransTypeID', optionsCaption: 'Please Select...', value: $root.SelectTransaction_Type,enable: !$root.VerifyColumn('Transaction Type')().IsVerified" class="col-sm-3"></select>-->
                    <select id="TransType-code" name="TransType-code" data-rule-required="true" data-rule-value="true" data-bind="options: $root.TransactionTypes, optionsText: 'TransactionTypeName', optionsValue: 'TransTypeID', optionsCaption: 'Please Select...', value: $root.SelectTransaction_Type,enable: false" class="col-sm-3"></select>
                </div>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Transaction Type')">
                    <input name="check-AccountType" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" disabled="disabled" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group" data-bind="visible: $root.IsIN_()">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="fnacore">
                    FNA Core
                </label>
                <div class="col-sm-6">
                    <select id="fnacore"
                            data-bind="options: $root.FNACores,
                            optionsText: 'Name',
                            optionsValue: 'ID',
                            optionsCaption: 'Please Select...',
                            value: $root.SelectFNACore" class="col-sm-6" data-rule-required="true" disabled="disabled" />
                    <!--value: $root.SelectFNACore,enable: !$root.VerifyColumn('IsFNACore')().IsVerified" class="col-sm-6" data-rule-required="true" />-->
                </div>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('IsFNACore')">
                    <input name="check-fna-core" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" disabled="disabled" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group" data-bind="visible: $root.IsRemarks()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="AttacmentRemarks">Attacment Remarks </label>
                <div class="col-sm-6">
                    <textarea id="AttachmentRemarks" name="AttachmentRemarks" class="form-control" data-bind="value: Transaction.AttachmentRemarks, enable: !$root.VerifyColumn('Attachment Remarks')().IsVerified"></textarea>
                </div>
                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Attachment Remarks')">
                    <input name="check-remarks" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" disabled="disabled" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group" data-bind="visible: $root.IsIN_()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="SolID">SolID</label>
                <div class="col-sm-6">
                    <input type="text" id="solidut" name="solidut" data-rule-number="true" data-bind="value: Transaction.SolID,enable: !$root.VerifyColumn('SolID')().IsVerified" class="col-sm-3" />
                </div>
                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('SolID')">
                    <input name="check-sol-id" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" disabled="disabled" />
                    <span class="lbl"></span>
                </label>-->
            </div>
            <div class="form-group" data-bind="visible: ($root.IsIN_() && !$root.IsNOFNA_())">
                <label class="col-sm-3 control-label bolder no-padding-right" for="CRiskEfectiveDate">Customer Risk Effective Date</label>
                <div class="col-sm-6">
                    <div class="clearfix input-group col-sm-3 no-padding">
                        <input type="text" id="customerriskeffectivedate" name="customerriskeffectivedate" class="form-control date-picker" autocomplete="off" data-bind="datepicker:$root.LocalDate(Transaction.CRiskEfectiveDate,true,false),value:  $root.LocalDate(Transaction.CRiskEfectiveDate,true,false),enable: !$root.VerifyColumn('CRiskEfectiveDate')().IsVerified" data-date-format="dd-M-yyyy" data-rule-value="true" />
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('CRiskEfectiveDate')">
                    <input name="check-crisk" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" disabled="disabled" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group" data-bind="visible: ($root.IsIN_() && !$root.IsNOFNA_())">
                <label class="col-sm-3 control-label bolder no-padding-right" for="RiskProfileExpiryDate">Risk Profile Expiry Date</label>

                <div class="col-sm-6">
                    <div class="clearfix input-group col-sm-3 no-padding">
                        <input type="text" id="riskprofileexpirydate" name="riskprofileexpirydate" class="form-control date-picker" autocomplete="off" data-bind="datepicker:$root.LocalDate(Transaction.RiskProfileExpiryDate,true,false),value:  $root.LocalDate(Transaction.RiskProfileExpiryDate,true,false),enable: !$root.VerifyColumn('RiskProfileExpiryDate')().IsVerified" data-date-format="dd-M-yyyy" data-rule-value="true" />
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('RiskProfileExpiryDate')">
                    <input name="check-risk-profile" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" disabled="disabled" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group" data-bind="visible: ($root.IsIN_() && !$root.IsNOFNA_())">
                <label class="col-sm-3 control-label bolder no-padding-right" for="RiskScore">Risk Score</label>

                <div class="col-sm-6">
                    <input type="text" id="riskscore" name="riskscore" data-rule-number="true" data-bind="value: Transaction.RiskScore,enable: !$root.VerifyColumn('RiskScore')().IsVerified" class="col-sm-3" />
                </div>
                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('RiskScore')">
                    <input name="check-risk-score" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" disabled="disabled" />
                    <span class="lbl"></span>
                </label>-->

            </div>
            <div class="form-group" data-bind="visible: $root.IsIN_()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="OperativeAccount">Operative Account</label>
                <div class="col-sm-6">
                    <input type="text" id="operativeaccount" name="operativeaccount" data-rule-number="true" data-bind="value: Transaction.OperativeAccount,enable: !$root.VerifyColumn('OperativeAccount')().IsVerified" class="col-sm-3" />

                </div>
                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('OperativeAccount')">
                    <input name="check-operative-acc" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" disabled="disabled" />
                    <span class="lbl"></span>
                </label>-->
            </div>
            <!-- table join fna core-->
            <div class="padding-4" data-bind="visible: ($root.IsIN_() && $root.IsJoin_() && !$root.IsNOFNA_())">
                <h3 class="header smaller lighter dark">
                    Join Accounts
                    <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.AddJoin">
                        <i class="icon-plus"></i>
                        Add
                    </button>
                </h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>Join</th>
                                <th>Join Type</th>
                                <th>Customer Name</th>
                                <th>CIF</th>
                                <th>Customer Risk Effective Date</th>
                                <th>Risk Score</th>
                                <th>Risk Profile Expiry Date </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: JoinAccount">
                            <tr data-bind="enable: !IsVerified">
                                <td><span data-bind="text: JoinOrder"></span></td>
                                <td><span data-bind="text: Join.Name"></span></td>
                                <td><span data-bind="text: CustomerJoin.Name"></span></td>
                                <td><span data-bind="text: CustomerJoin.CIF"></span></td>
                                <td><span data-bind="text: $root.LocalDate(CustomerRiskEffectiveDateJoin,true,false)"></span></td>
                                <td><span data-bind="text: RiskScoreJoin"></span></td>
                                <td><span data-bind="text: $root.LocalDate(RiskProfileExpiryDateJoin,true,false)"></span></td>
                                <td align="center">
                                    <div data-bind="visible: IsVerified == false">
                                        <a href="#" data-bind="click:function(data){$root.GetSelectedRowUTFna($index(),$data)}">Edit</a>
                                        <a href="#" data-bind="click:$root.RemoveJoinFNA">Remove</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: JoinAccount.length == 0">
                            <tr>
                                <td colspan="7" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="padding-4" data-bind="visible: ($root.IsIN_() && $root.IsJoin_() && $root.IsNOFNA_())">
                <h3 class="header smaller lighter dark">
                    Join Accounts
                    <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.AddJoin">
                        <i class="icon-plus"></i>
                        Add
                    </button>
                </h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>Join</th>
                                <th>Join Type</th>
                                <th>Customer Name</th>
                                <th>CIF</th>
                                <th>Sol ID</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: JoinAccount">
                            <tr data-bind="enable: !IsVerified">
                                <td><span data-bind="text: JoinOrder"></span></td>
                                <td><span data-bind="text: Join.Name"></span></td>
                                <td><span data-bind="text: CustomerJoin.Name"></span></td>
                                <td><span data-bind="text: CustomerJoin.CIF"></span></td>
                                <td><span data-bind="text: SolIDJoin"></span></td>
                                <td align="center">
                                    <div data-bind="visible: IsVerified == false">
                                        <a href="#" data-bind="click:function(data){$root.GetSelectedRowUTNonFna($index(),$data)}">Edit</a>
                                        <a href="#" data-bind="click:$root.RemoveJoinNONFNA">Remove</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: JoinAccount.length == 0">
                            <tr>
                                <td colspan="4" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="padding-4">
                <!--add start-->
                <h3 class="header smaller lighter dark" data-bind="visible: $root.IsSP_() || $root.IsUTP_()">
                    Mutual Fund
                    <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.MutualFundAdd">
                        <!-- , visible: !$root.IsRedemption_() && !$root.IsSwitching_()"> -->
                        <i class="icon-plus"></i>
                        Add
                    </button>
                </h3>
                <!-- add end-->
                <!-- SP -->
                <div data-bind="visible: !$root.IsUTDBNumber()">
                    <div class="dataTables_wrapper" role="grid" data-bind="visible: $root.IsSP_()">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <!-- <th style="width:50px">Select</th> -->
                                    <th>No</th>
                                    <th>Mutual Fund Name</th>
                                    <th>Mutual Fund Code</th>
                                    <th>Currency</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <!-- masih belum bindingnya salah-->
                            <tbody data-bind="foreach: MutualFund, visible: MutualFund.length > 0">
                                <tr data-bind="enable: !IsVerified">
                                    <td><span data-bind="text: $index() + 1"></span></td>
                                    <td><span data-bind="text: MutualFundList.FundName"></span></td>
                                    <td><span data-bind="text: MutualFundList.FundCode"></span></td>
                                    <td><span data-bind="text: MutualCurrency.Code"></span></td>
                                    <td><span data-bind="text: formatNumber(MutualAmount)"></span></td>
                                    <td align="center">
                                        <div data-bind="visible: IsVerified == false">
                                            <button class="btn-link" data-bind="click: function(data){ $root.GetSelectedRowUTSP($index(),$data)}, disable: IsVerified">
                                                <i class="icon-edit"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <!--END-->
                            <tbody data-bind="visible: MutualFund.length == 0">
                                <tr>
                                    <td colspan="6" class="text-center">
                                        No entries available.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div data-bind="visible: $root.IsUTDBNumber()">
                    <div class="dataTables_wrapper" role="grid" data-bind="visible: $root.IsSP_()">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <!-- <th style="width:50px">Select</th> -->
                                    <th>No</th>
                                    <th>Mutual Fund Name</th>
                                    <th>Mutual Fund Code</th>
                                    <th>Currency</th>
                                    <th>Amount</th>
                                    <th>DB Number</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <!-- masih belum bindingnya salah-->
                            <tbody data-bind="foreach: MutualFund, visible: MutualFund.length > 0">
                                <tr data-bind="enable: !IsVerified">
                                    <td><span data-bind="text: $index() + 1"></span></td>
                                    <td><span data-bind="text: MutualFundList.FundName"></span></td>
                                    <td><span data-bind="text: MutualFundList.FundCode"></span></td>
                                    <td><span data-bind="text: MutualCurrency.Code"></span></td>
                                    <td><span data-bind="text: formatNumber(MutualAmount)"></span></td>
                                    <td><span data-bind="text: DBNumber"></span></td>
                                    <td align="center">
                                        <div data-bind="visible: IsVerified == false">
                                            <button class="btn-link" data-bind="click: function(data){ $root.GetSelectedRowUTSP($index(),$data)}, disable: IsVerified">
                                                <i class="icon-edit"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <!--END-->
                            <tbody data-bind="visible: MutualFund.length == 0">
                                <tr>
                                    <td colspan="6" class="text-center">
                                        No entries available.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End -->
                <!--sub-->
                <div data-bind="visible: !$root.IsUTDBNumber()">
                    <div class="dataTables_wrapper" role="grid" data-bind="visible: $root.IsSubscription_()">

                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <!-- <th style="width:50px">Select</th> -->
                                    <th>No</th>
                                    <th>Mutual Fund Name</th>
                                    <th>Fund Code</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <!-- masih belum bindingnya salah-->
                            <tbody data-bind="foreach: MutualFund, visible: MutualFund.length > 0">
                                <tr data-bind="enable: !IsVerified">
                                    <td><span data-bind="text: $index() + 1"></span></td>
                                    <td><span data-bind="text: MutualFundList.FundName"></span></td>
                                    <td><span data-bind="text: MutualFundList.FundCode"></span></td>
                                    <td><span data-bind="text: formatNumber(MutualAmount)"></span></td>
                                    <td align="center">
                                        <div data-bind="visible: IsVerified == false">
                                            <button class="btn-link" data-bind="click: function(data){ $root.GetSelectedRowUTSubc($index(),$data)}, disable: IsVerified">
                                                <i class="icon-edit"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <!--END-->
                            <tbody data-bind="visible: MutualFund.length == 0">
                                <tr>
                                    <td colspan="5" class="text-center">
                                        No entries available.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div data-bind="visible: $root.IsUTDBNumber()">
                    <div class="dataTables_wrapper" role="grid" data-bind="visible: $root.IsSubscription_()">

                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <!-- <th style="width:50px">Select</th> -->
                                    <th>No</th>
                                    <th>Mutual Fund Name</th>
                                    <th>Fund Code</th>
                                    <th>Amount</th>
                                    <th>UT Number</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <!-- masih belum bindingnya salah-->
                            <tbody data-bind="foreach: MutualFund, visible: MutualFund.length > 0">
                                <tr data-bind="enable: !IsVerified">
                                    <td><span data-bind="text: $index() + 1"></span></td>
                                    <td><span data-bind="text: MutualFundList.FundName"></span></td>
                                    <td><span data-bind="text: MutualFundList.FundCode"></span></td>
                                    <td><span data-bind="text: formatNumber(MutualAmount)"></span></td>
                                    <td><span data-bind="text: UTNumber"></span></td>
                                    <td align="center">
                                        <div data-bind="visible: IsVerified == false">
                                            <button class="btn-link" data-bind="click: function(data){ $root.GetSelectedRowUTSubc($index(),$data)}, disable: IsVerified">
                                                <i class="icon-edit"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <!--END-->
                            <tbody data-bind="visible: MutualFund.length == 0">
                                <tr>
                                    <td colspan="5" class="text-center">
                                        No entries available.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--red-->
                <div data-bind="visible: !$root.IsUTDBNumber()">
                    <div class="dataTables_wrapper" role="grid" data-bind="visible: $root.IsRedemption_()">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <!-- <th style="width:50px">Select</th> -->
                                    <th>No</th>
                                    <th>Select</th>
                                    <th>Mutual Fund Name</th>
                                    <th>Fund Code</th>
                                    <th>Partial/Full</th>
                                    <th>Number of Unit</th>
                                    <th>UT number</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: MutualFund, visible: MutualFund.length > 0">
                                <tr data-bind="enable: !IsVerified">
                                    <td><span data-bind="text: $index() + 1"></span></td>
                                    <td align="center">
                                        <div data-bind="visible: IsVerified == false">
                                            <input type="checkbox" id="IsSelect" name="IsSelect" data-bind="checked: MutualSelected" />
                                        </div>
                                    </td>
                                    <td><span data-bind="text: MutualFundList.FundName"></span></td>
                                    <td><span data-bind="text: MutualFundList.FundCode"></span></td>
                                    <td><span data-bind="text: $root.SetPartial(MutualPartial)"></span></td>
                                    <td><span data-bind="text: $root.NumberUnitFormater(MutualUnitNumber)"></span></td>
                                    <td><span data-bind="text: UTNumber"></span></td>
                                    <td align="center">
                                        <div data-bind="visible: IsVerified == false">
                                            <button class="btn-link" data-bind="click: function(data){ $root.GetSelectedRowUTRedempt($index(),$data)}, disable: IsVerified">
                                                <i class="icon-edit"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <!--END-->
                            <tbody data-bind="visible: MutualFund.length == 0">
                                <tr>
                                    <td colspan="7" class="text-center">
                                        No entries available.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div data-bind="visible: $root.IsUTDBNumber()">
                    <div class="dataTables_wrapper" role="grid" data-bind="visible: $root.IsRedemption_()">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <!-- <th style="width:50px">Select</th> -->
                                    <th>No</th>
                                    <th>Select</th>
                                    <th>Mutual Fund Name</th>
                                    <th>Fund Code</th>
                                    <th>Partial/Full</th>
                                    <th>Number of Unit</th>
                                    <th>UT number</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: MutualFund, visible: MutualFund.length > 0">
                                <tr data-bind="enable: !IsVerified">
                                    <td><span data-bind="text: $index() + 1"></span></td>
                                    <td align="center">
                                        <div data-bind="visible: IsVerified == false">
                                            <input type="checkbox" id="IsSelect" name="IsSelect" data-bind="checked: MutualSelected" />
                                        </div>
                                    </td>
                                    <td><span data-bind="text: MutualFundList.FundName"></span></td>
                                    <td><span data-bind="text: MutualFundList.FundCode"></span></td>
                                    <td><span data-bind="text: $root.SetPartial(MutualPartial)"></span></td>
                                    <td><span data-bind="text: $root.NumberUnitFormater(MutualUnitNumber)"></span></td>
                                    <td><span data-bind="text: UTNumber"></span></td>
                                    <td align="center">
                                        <div data-bind="visible: IsVerified == false">
                                            <button class="btn-link" data-bind="click: function(data){ $root.GetSelectedRowUTRedempt($index(),$data)}, disable: IsVerified">
                                                <i class="icon-edit"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <!--END-->
                            <tbody data-bind="visible: MutualFund.length == 0">
                                <tr>
                                    <td colspan="7" class="text-center">
                                        No entries available.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--swi-->
                <div data-bind="visible: !$root.IsUTDBNumber()">
                    <div class="dataTables_wrapper" role="grid" data-bind="visible: $root.IsSwitching_()">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <!-- <th style="width:50px">Select</th> -->
                                    <th>No</th>
                                    <th>Select</th>
                                    <th>Switch from Mutual Fund</th>
                                    <th>Switch from Mutual Fund Code</th>
                                    <th>Switch to Mutual Fund</th>
                                    <th>Switch to Fund Code</th>
                                    <th>Partial/Full</th>
                                    <th>Number of Unit</th>
                                    <th>UT Number</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: MutualFund, visible: MutualFund.length > 0">
                                <tr data-bind="enable: !IsVerified">
                                    <td><span data-bind="text: $index() + 1"></span></td>
                                    <td>
                                        <div data-bind="visible: IsVerified == false">
                                            <input type="checkbox" id="IsSelect" name="IsSelect" data-bind="checked: MutualSelected" />
                                        </div>
                                    </td>
                                    <td><span data-bind="text: MutualFundSwitchFrom.FundName"></span></td>
                                    <td><span data-bind="text: MutualFundSwitchFrom.FundCode"></span></td>
                                    <td><span data-bind="text: MutualFundSwitchTo.FundName"></span></td>
                                    <td><span data-bind="text: MutualFundSwitchTo.FundCode"></span></td>
                                    <td><span data-bind="text: $root.SetPartial(MutualPartial)"></span></td>
                                    <td><span data-bind="text: $root.NumberUnitFormater(MutualUnitNumber)"></span></td>
                                    <td><span data-bind="text: UTNumber"></span></td>
                                    <td align="center">
                                        <div data-bind="visible: IsVerified == false">
                                            <button class="btn-link" data-bind="click: function(data){ $root.GetSelectedRowUTSwitch($index(),$data)}, disable: IsVerified">
                                                <i class="icon-edit"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <!--END-->
                            <tbody data-bind="visible: MutualFund.length == 0">
                                <tr>
                                    <td colspan="9" class="text-center">
                                        No entries available.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div data-bind="visible: $root.IsUTDBNumber()">
                    <div class="dataTables_wrapper" role="grid" data-bind="visible: $root.IsSwitching_()">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <!-- <th style="width:50px">Select</th> -->
                                    <th>No</th>
                                    <th>Select</th>
                                    <th>Switch from Mutual Fund</th>
                                    <th>Switch from Mutual Fund Code</th>
                                    <th>Switch to Mutual Fund</th>
                                    <th>Switch to Fund Code</th>
                                    <th>Partial/Full</th>
                                    <th>Number of Unit</th>
                                    <th>UT Number</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: MutualFund, visible: MutualFund.length > 0">
                                <tr data-bind="enable: !IsVerified">
                                    <td><span data-bind="text: $index() + 1"></span></td>
                                    <td>
                                        <div data-bind="visible: IsVerified == false">
                                            <input type="checkbox" id="IsSelect" name="IsSelect" data-bind="checked: MutualSelected" />
                                        </div>
                                    </td>
                                    <td><span data-bind="text: MutualFundSwitchFrom.FundName"></span></td>
                                    <td><span data-bind="text: MutualFundSwitchFrom.FundCode"></span></td>
                                    <td><span data-bind="text: MutualFundSwitchTo.FundName"></span></td>
                                    <td><span data-bind="text: MutualFundSwitchTo.FundCode"></span></td>
                                    <td><span data-bind="text: $root.SetPartial(MutualPartial)"></span></td>
                                    <td><span data-bind="text: $root.NumberUnitFormater(MutualUnitNumber)"></span></td>
                                    <td><span data-bind="text: UTNumber"></span></td>
                                    <td align="center">
                                        <div data-bind="visible: IsVerified == false">
                                            <button class="btn-link" data-bind="click: function(data){ $root.GetSelectedRowUTSwitch($index(),$data)}, disable: IsVerified">
                                                <i class="icon-edit"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <!--END-->
                            <tbody data-bind="visible: MutualFund.length == 0">
                                <tr>
                                    <td colspan="9" class="text-center">
                                        No entries available.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="space-16 form-line"></div>
            <div class="padding-4">
                <h3 class="header smaller lighter dark">
                    Attachment
                    <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocumentResubmitUT">
                        <i class="icon-plus"></i>
                        Attach
                    </button>
                </h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>File Name</th>
                                <th>Document Type</th>
                                <th>Modified</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.Documents(), visible: $root.Documents().length > 0">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: moment(LastModifiedDate).format(config.format.dateTime)"></span></td>
                                <td>
                                    <a href="#" data-bind="click: $root.RemoveDocumentResubmitUT">Remove</a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.Documents().length == 0">
                            <tr>
                                <td colspan="6" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
