﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <!-- Application ID and User Name -->
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-all"></label>

                <label class="col-sm-8 control-label bolder no-padding-right" for="product-code">Check All</label>

                <label class="col-sm-1">
                    <input name="check-all" id="check-all" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.CheckAll(), click: function(data) { $root.CheckAllData('CBOUTMakerAfterUTChecker'); }" />
                    <span class="lbl"></span>
                </label>
            </div>
            <!-- Customer Name-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <label class="col-sm-8">
                    <span id="customer-name" data-bind="text: Transaction.Customer.Name"></span>
                    <span class="label label-warning arrowed" data-bind="if: Transaction.IsNewCustomer">
                        <i class="icon-warning-sign bigger-120"></i>
                        New Customer
                    </span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Customer Name')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified"/>
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- CIF -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <label class="col-sm-8">
                    <span id="cif" data-bind="text: Transaction.Customer.CIF"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('CIF')">
                    <input name="check-cif" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified"/>
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Product -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="Product">Product</label>

                <label class="col-sm-8">
                    <span id="cif" data-bind="text: Transaction.Product.Name"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Product')">
                    <input name="check-cif" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified"/>
                    <span class="lbl"></span>
                </label>
            </div>
            <!-- Function Type -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsFunctionType()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="function-type">Function Type</label>

                <label class="col-sm-8">
                    <span id="function-type" data-bind="text: Transaction.strfunctionType"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('FunctionType')">
                    <input name="check-func-type" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified"/>
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Investment ID-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="Investment">Investment ID</label>
                <div class="col-sm-8" data-bind="visible: $root.IsInvestmentNew()">
                    <input type="text" id="Investment" name="Investment" data-rule-required="true" data-bind="value: Transaction.InvestmentID, enable: !$root.VerifyColumn('InvestmentID')().IsVerified" />
                    <label class="control-label bolder text-danger" for="Investment">*</label>
                </div>
                <div class="col-sm-8" data-bind="visible: $root.IsInvestmentID()">
                    <span id="Investment" data-bind="text: Transaction.InvestmentID"></span>
                </div>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('InvestmentID')">
                    <input name="check-investmentid" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified"/>
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Account Type -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsAccoutType()">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="account-type">
                    Account Type
                </label>

                <label class="col-sm-8">
                    <span id="account-type" data-bind="text: Transaction.strAccountType"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('AccountType')">
                    <input name="check-acc-type" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified"/>
                    <span class="lbl"></span>
                </label>
            </div>

            <!--Transaction Type-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsTransactionType()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="transaction-type">Transaction Type</label>

                <label class="col-sm-8">
                    <span id="transaction-type" data-bind="text: Transaction.strTransactiontype"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Transaction Type')">
                    <input name="check-AccountType" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified"/>
                    <span class="lbl"></span>
                </label>
            </div>

            <!--add by henggar DBNumber-->
            <!--<div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsDBNumberType()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="dbnum">DB Number</label>

                <label class="col-sm-8">
                    <input type="text" id="DBNumber" name="DBNumber" data-rule-required="true" data-bind="value: Transaction.DBNumber,enable: !$root.VerifyColumn('DB Number')().IsVerified">
                    <label class="control-label bolder text-danger" for="dbnum">*</label>
                </label>
            </div>-->
            <!--add by henggar DBNumber-->
            <!--<div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsUTNumberType()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="utnum">UT Number</label>

                <label class="col-sm-8">
                    <input type="text" id="UTNumber" name="UTNumber" data-rule-required="true" data-bind="value: Transaction.UTNumber,enable: !$root.VerifyColumn('UT Number')().IsVerified">
                    <label class="control-label bolder text-danger" for="utnum">*</label>
                </label>
            </div>-->
            <!--end henggar-->

            <!-- Attachment Remarks-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsRemarks()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="AttachmentRemarks">Attachment Remarks</label>
                <div class="col-sm-8">
                    <textarea id="AttachmentRemarks" name="AttachmentRemarks" class="form-control" data-bind="value: Transaction.AttachmentRemarks, enable: !$root.VerifyColumn('Attachment Remarks')().IsVerified"></textarea>
                </div>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Attachment Remarks')">
                    <input name="check-remarks" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified"/>
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- FNA Core -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsFnaCore()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="fna-core">FNA Core</label>

                <label class="col-sm-8">
                    <span id="fna-core" data-bind="text: Transaction.strFNACore"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('IsFNACore')">
                    <input name="check-fna-core" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified"/>
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Sol ID -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsSolId()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="SolID">SolID</label>

                <label class="col-sm-8">
                    <span id="SolID" data-bind="text: Transaction.SolID"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('SolID')">
                    <input name="check-sol-id" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified"/>
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Customer Risk Effective Date -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.csriskefecDate()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="CRiskEfectiveDate">Customer Risk Effective Date</label>

                <label class="col-sm-8">
                    <span id="CRiskEfectiveDate" data-bind="text: $root.LocalDate(Transaction.CRiskEfectiveDate, true)"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('CRiskEfectiveDate')">
                    <input name="check-crisk" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified"/>
                    <span class="lbl"></span>
                </label>
            </div>
            
            <!-- Risk Profile Expiry Date -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.ProfileExpDate()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="RiskProfileExpiryDate">Risk Profile Expiry Date</label>

                <label class="col-sm-8">
                    <span id="RiskProfileExpiryDate" data-bind="text: $root.LocalDate(Transaction.RiskProfileExpiryDate, true)"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('RiskProfileExpiryDate')">
                    <input name="check-risk-profile" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified"/>
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Risk Score -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.RiskScore()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="RiskScore">Risk Score</label>

                <label class="col-sm-8">
                    <span id="RiskScore" data-bind="text: Transaction.RiskScore"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('RiskScore')">
                    <input name="check-risk-score" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified"/>
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Operative Account-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.Account()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="OperativeAccount">Operative Account</label>

                <label class="col-sm-8">
                    <span id="OperativeAccount" data-bind="text: Transaction.OperativeAccount"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('OperativeAccount')">
                    <input name="check-operative-acc" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified"/>
                    <span class="lbl"></span>
                </label>
            </div>


            <!-- Table FNA - Join Account -->
            <div class="padding-4" data-bind="visible: $root.IsAccount()">
                <h3 class="header smaller lighter dark">Join Accounts</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>Join</th>
                                <th>Join Type</th>
                                <th>Customer Name</th>
                                <th>CIF</th>
                                <th>Customer Risk Effective Date</th>
                                <th>Risk Score</th>
                                <th>Risk Profile Expiry Date </th>
                                <!--<th>Action</th>-->

                            </tr>
                        </thead>
                        <tbody data-bind="foreach: JoinAccount, visible: JoinAccount.length > 0">
                            <tr>
                                <td><span data-bind="text: $index() + 1"></span></td>
                                <td><span data-bind="text: Join.Name"></span></td>
                                <td><span data-bind="text: CustomerJoin.Name"></span></td>
                                <td><span data-bind="text: CustomerJoin.CIF"></span></td>
                                <td><span data-bind="text: $root.LocalDate(CustomerRiskEffectiveDateJoin, true)"></span></td>
                                <td><span data-bind="text: RiskScoreJoin"></span></td>
                                <td><span data-bind="text: $root.LocalDate(RiskProfileExpiryDateJoin, true)"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: JoinAccount.length == 0">
                            <tr>
                                <td colspan="6" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- No FNA Core - Join Account-->
            <div class="padding-4" data-bind="visible: $root.IsAccountFNANO()">
                <h3 class="header smaller lighter dark">Join Accounts</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>Join</th>
                                <th>Join Type</th>
                                <th>Customer Name</th>
                                <th>CIF</th>
                                <!--<th>Action</th>-->

                            </tr>
                        </thead>
                        <tbody data-bind="foreach: JoinAccount, visible: JoinAccount.length > 0">
                            <tr>
                                <td><span data-bind="text: $index() + 1"></span></td>
                                <td><span data-bind="text: Join.Name"></span></td>
                                <td><span data-bind="text: CustomerJoin.Name"></span></td>
                                <td><span data-bind="text: CustomerJoin.CIF"></span></td>

                            </tr>
                        </tbody>
                        <tbody data-bind="visible: JoinAccount.length == 0">
                            <tr>
                                <td colspan="16" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Save Plan-->
            <div class="padding-4" data-bind="visible: $root.MutualFundSavePlan()">
                <h3 class="header smaller lighter dark">Mutual Funds</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <!-- <th style="width:50px">Select</th> -->
                                <th>No</th>
                                <th>Mutual Fund Name</th>
                                <th>Mutual Fund Code</th>
                                <th>Currency</th>
                                <th>Amount</th>
                                <th>DB Number</th>
                                <th>Action</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: MutualFund, visible: MutualFund.length > 0">
                            <tr>
                                <td><span data-bind="text: $index() + 1"></span></td>
                                <td><span data-bind="text: MutualFundName"></span></td>
                                <td><span data-bind="text: FromCodeswitchmutualfund"></span></td>
                                <td><span data-bind="text: Currency"></span></td>
                                <td><span data-bind="text: formatNumber(Amount)"></span></td>
                                <td><span data-bind="text: DBNumber"></span></td>
                                <td align="center">
                                    <div>
                                        <button class="btn-link" data-bind="click: function(data){ $root.MutualFundSP($index(),$data)}, disable: IsVerified">
                                            <i class="icon-edit"></i>
                                        </button>
                                    </div>
                                </td>
                                <td align="center">
                                    <label class="col-sm-1">
                                        <input name="check-MutualFund" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: VerifiedMutualFund" />
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                        <!--END-->
                        <tbody data-bind="visible: MutualFund.length == 0">
                            <tr>
                                <td colspan="5" class="text-center">
                                    No entries available.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Mutual Fund Subscription-->
            <div class="padding-4" data-bind="visible: $root.MutualFundSubcription()">
                <h3 class="header smaller lighter dark">Mutual Funds</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <!-- <th style="width:50px">Select</th> -->
                                <th>No</th>
                                <th>Mutual Fund Name</th>
                                <th>Fund Code</th>
                                <th>Amount</th>
                                <th>UT Number</th>
                                <th>Action</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <!-- masih belum bindingnya salah-->
                        <tbody data-bind="foreach: MutualFund, visible: MutualFund.length > 0">
                            <tr>
                                <td><span data-bind="text: $index() + 1"></span></td>
                                <td><span data-bind="text: MutualFundName"></span></td>
                                <td><span data-bind="text: FromCodeswitchmutualfund"></span></td>
                                <td><span data-bind="text: formatNumber(Amount)"></span></td>
                                <td><span data-bind="text: UTNumber"></span></td>
                                <td align="center">
                                    <div>
                                        <button class="btn-link" data-bind="click: function(data){ $root.MutualFundSub($index(),$data)}, disable: IsVerified">
                                            <i class="icon-edit"></i>
                                        </button>
                                    </div>
                                </td>
                                <td align="center">
                                    <label class="col-sm-1">
                                        <input name="check-MutualFund" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: VerifiedMutualFund" />
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                        <!--END-->
                        <tbody data-bind="visible: MutualFund.length == 0">
                            <tr>
                                <td colspan="4" class="text-center">
                                    No entries available.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Mutual Fund Redemation-->
            <div class="padding-4" data-bind="visible: $root.MutualFundRedemtion()">
                <h3 class="header smaller lighter dark">Mutual Funds</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <!-- <th style="width:50px">Select</th> -->
                                <th>No</th>
                                <th>Mutual Fund Name</th>
                                <th>Mutual Fund Code</th>
                                <th>Partial/Full</th>
                                <th>Number Of Unit</th>
                                <th>UT Number</th>
                                <th>Action</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <!-- masih belum bindingnya salah-->
                        <tbody data-bind="foreach: MutualFund, visible: MutualFund.length > 0">
                            <tr>
                                <td><span data-bind="text: $index() + 1"></span></td>
                                <td><span data-bind="text: MutualFundName"></span></td>
                                <td><span data-bind="text: FromCodeswitchmutualfund"></span></td>
                                <td><span data-bind="text: $root.SetPartial(partial),visible: $root.IsPartial()"></span></td>
                                <td><span data-bind="text: $root.NumberUnitFormater(NumberofUnit),visible: $root.IsNumberOfUnit()"></span></td>
                                <td><span data-bind="text: UTNumber"></span></td>
                                <td align="center">
                                    <div>
                                        <button class="btn-link" data-bind="click: function(data){ $root.MutualFundRed($index(),$data)}, disable: IsVerified">
                                            <i class="icon-edit"></i>
                                        </button>
                                    </div>
                                </td>
                                <td align="center">
                                    <label class="col-sm-1">
                                        <input name="check-MutualFund" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: VerifiedMutualFund" />
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                        <!--END-->
                        <tbody data-bind="visible: MutualFund.length == 0">
                            <tr>
                                <td colspan="5" class="text-center">
                                    No entries available.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- End -->
            </div>

            <!-- Mutual fund Switching-->
            <div class="padding-4" data-bind="visible: $root.MutualFund()">
                <h3 class="header smaller lighter dark">Mutual Funds</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <!-- <th style="width:50px">Select</th> -->
                                <th>No</th>
                                <th>Switch From Mutual Fund</th>
                                <th>Switch From Mutual Fund Code</th>
                                <th>Switch To Mutual Fund</th>
                                <th>Switch To Fund Code</th>
                                <th>Partial/Full</th>
                                <th>Number Of Unit</th>
                                <th>UT Number</th>
                                <th>Action</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: MutualFund, visible: MutualFund.length > 0">
                            <tr>
                                <td><span data-bind="text: $index() + 1"></span></td>
                                <td><span data-bind="text: FromStrswitchmutualFund"></span></td>
                                <td><span data-bind="text: FromCodeswitchmutualfund"></span></td>
                                <td><span data-bind="text: TOStrswitchmutualFund"></span></td>
                                <td><span data-bind="text: TOCodeswitchmutualfund"></span></td>
                                <td><span data-bind="text: $root.SetPartial(partial)"></span></td>
                                <td><span data-bind="text: $root.NumberUnitFormater(NumberofUnit)"></span></td>
                                <td><span data-bind="text: UTNumber"></span></td>
                                <td align="center">
                                    <div>
                                        <button class="btn-link" data-bind="click: function(data){ $root.MutualFundSwit($index(),$data)}, disable: IsVerified">
                                            <i class="icon-edit"></i>
                                        </button>
                                    </div>
                                </td>
                                <td align="center">
                                    <label class="col-sm-1">
                                        <input name="check-MutualFund" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: VerifiedMutualFund" />
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                        <!--END-->
                        <tbody data-bind="visible: MutualFund.length == 0">
                            <tr>
                                <td colspan="7" class="text-center">
                                    No entries available.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--End Andri switching-->
            </div>

            <!-- Attchment-->
            <div class="padding-4">
                <h3 class="header smaller lighter dark">Attachment</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>File Name</th>
                                <th>Document Type</th>
                                <th>Modified</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: moment(LastModifiedDate).format(config.format.dateTime)"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: Transaction.Documents.length == 0">
                            <tr>
                                <td colspan="6" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>