﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-10">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Name">
                    Name
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="Name" name="Name" data-bind="value: RoleView().Name,disable:RoleView().Readonly()" class="col-xs-9" data-rule-required="true" data-rule-maxlength="50" />
                    </div>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="description">
                    Description
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="description" name="description" data-bind="value: RoleView().Description,disable:RoleView().Readonly()" class="col-xs-9" data-rule-maxlength="255" />
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h4>Choose Navigations</h4>
            </div>
            <div class="widget-body slim-scroll" data-height="400">
                <div class="dd" id="nestable"></div>
            </div>
        </div>
        <!-- modal body form end -->
    </div>
</div>
