﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <!-- Tanggal Saat ini -->
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Date.now(), true, true)"></span>
                </label>
                <!-- ID Application dan Nama User -->
                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>
            <div class="space-4">
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>
            <!-- Customer Name -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>
                <label class="col-sm-9">
                    <span name="customer-name" id="customer-name" data-bind="text: Transaction.Customer.Name"></span>
                    <span class="label label-warning arrowed" data-bind="if: Transaction.IsNewCustomer">
                        <i class="icon-warning-sign bigger-120"></i>
                        New Customer
                    </span>
                </label>
            </div>

            <!-- CIF -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>
                <label class="col-sm-9">
                    <span name="cif" id="cif" data-bind="text: Transaction.Customer.CIF"></span>
                </label>
            </div>

            <!-- Product -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>
                <label class="col-sm-9">
                    <span id="product-code" name="product" data-bind="text: Transaction.Product.Code"></span>
                    (<span id="product-name" name="product" data-bind="text: Transaction.Product.Name"></span>)
                </label>
            </div>
            <!-- IGB Segment -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="igb-segment">IBG Segment</label>
                <label class="col-sm-9">
                    <span data-bind="text: Transaction.BizSegment.Description"></span>
                    (<span data-bind="text: Transaction.BizSegment.Name"></span>)
                    <!--<span id="igb-segment" name="igb-segment" data-bind="text: Transaction.BizSegment.Name"></span>-->
                </label>
            </div>
            <!-- Currency-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency-code">Transaction Currency</label>
                <label class="col-sm-9">
                    <span id="currency-code" name="currency" data-bind="text: Transaction.Currency.Code"></span>
                    (<span id="currency-desc" name="currency" data-bind="text: Transaction.Currency.Description"></span>)
                </label>
            </div>
            <!-- Amount-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="amount">Amount</label>
                <label class="col-sm-9">
                    <span name="amount" id="amount" data-bind="text: formatNumber(Transaction.Amount)"></span>
                </label>
            </div>
            <!-- Channel -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>
                <label class="col-sm-9">
                    <span id="channel" name="channel" data-bind="text: Transaction.Channel.Name"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>
                <label class="col-sm-9">
                    <span id="source" name="source" data-bind="text: $root.SourceName()"></span>
                </label>
            </div>

            <!-- Value Date-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Value Date</label>
                <div class="col-sm-9">
                    <div class="clearfix input-group col-sm-3 no-padding" data-bind="disable: false">
                        <input type="text" id="value-date" name="value-date" class="form-control date-picker" data-bind="datepicker: Transaction.ValuDate,value: Transaction.ValueDate" data-date-format="dd-M-yyyy" data-rule-value="true" data-rule-required="true" />
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                        <label class="control-label bolder text-danger" for="loan-contract-number">*</label>
                    </div>
                </div>
            </div>

            <!-- Loan Contract Number-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="loan-contract-number">Loan Contract Number</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input id="loan-contract-number" name="loan-contract-number" type="text" data-bind="value: Transaction.LoanContractNo" class="col-sm-3" data-rule-required="true" />
                        <label class="control-label bolder text-danger" for="loan-contract-number">*</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-16"></div>
        <!-- Attachment -->
        <div class="padding-4">
            <h3 class="header smaller lighter dark">Attachment</h3>
            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Transaction.Documents,visible: Transaction.Documents.length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: Transaction.Documents.length == 0">
                        <tr>
                            <td colspan="13" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>