﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form2" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <!-- <div class="form-group no-padding-bottom">
                <label class="col-sm-6 align-center">BranchName</label>
                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Customer.Branch.Name"></span>
                </label>

            </div>-->

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Customer Name</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Customer.Name"></span>
                </label>

                <label class="col-sm-4">
                    <!--<span data-bind="text: Callback.Customer.Name" ></span>-->
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">CIF</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Customer.CIF"></span>
                </label>

                <label class="col-sm-4">
                    <!--<span data-bind="text: Callback.Customer.CIF" ></span>-->
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Product</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Product.Code"></span>
                    (<span data-bind="text: Transaction.Product.Name"></span>)
                </label>

                <label class="col-sm-4">
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">IBG Segment</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.BizSegment.Description"></span>
                    (<span data-bind="text: Transaction.BizSegment.Name"></span>)
                </label>

                <label class="col-sm-4">
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Transaction Currency</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Currency.Code"></span>
                    (<span data-bind="text: Transaction.Currency.Description"></span>)
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Transaction Amount</label>

                <label class="col-sm-4">
                    <span data-bind="text: formatNumber_r(Transaction.Amount)"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Channel</label>
                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Channel.Name"></span>
                </label>
            </div>


            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsPPURole()">
                <label class=" col-sm-3 control-label bolder no-padding-right">
                Source</label>
                <label class="col-sm-4">
                    <span data-bind="text: $root.SourceName()"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Value Date</label>

                <div class="col-sm-2">
                    <div class="input-group">
                        <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="ValueDate" name="ValueDate" data-bind="datepicker: true, value: $root.LocalDate(Transaction.ValueDate,true,false),event:{ change: $root.ChangeValueDate }" data-rule-required="true" data-rule-value="true" />
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                        <label class="control-label bolder text-danger starremove starremovefirefox" style="position:absolute;" for="ValueDate">*</label>
                    </div>
                </div>
                <!--<label class="col-sm-4">
                    <span data-bind="text: $root.LocalDate(Transaction.ApplicationDate, true)"></span>
                </label>-->

            </div>
            <!--Template-->
            <div class="modal-body overflow-visible">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- modal body form start -->
                        <div id="customer-form" class="form-horizontal" role="form" data-bind="visible:Transaction.Product.Code=='DB'">
                            <div class="widget-box ui-sortable-handle">
                                <div class="padding-4">
                                    <h3 class="header smaller lighter dark">
                                        Funding Memo
                                        <button class="btn btn-sm btn-primary pull-right" data-bind="click:$root.ChooseFundingData,visible:Transaction.Product.Code=='DB' && $root.ActivityTitle()=='CSO Task'">
                                            <i class="icon-plus"></i>
                                            Choose Funding Memo
                                        </button>
                                    </h3>
                                </div>
                            </div>
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header">
                                    <h4 class="widget-title">I.CUSTOMER DETAILS</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <!--<form class="form-inline">-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Customer Name</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" id="CustomerFunding" name="CustomerFunding" data-bind="value: $root.FundingCustomerName, enable: !$root.VerifyColumn('CSOName')().IsVerified" class=" col-sm-15" data-rule-required="true" data-rule-maxlength="50" />
                                                <label class="control-label bolder text-danger" for="Customer">*</label>
                                            </div>
                                            <div class="col-md-1">
                                            </div>
                                            <div class="col-md-2">
                                                <label>SOL ID</label>
                                            </div>
                                            <div class="col-md-3" data-rule-required="true" data-rule-maxlength="255">
                                                <input type="text" id="solidut" name="SolID" data-bind="value: $root.SolIDName, enable: !$root.VerifyColumn('SolID')().IsVerified, click: $root.SetSOLIDAutoCompleteCSO" class="col-sm-10" data-rule-required="true" data-rule-maxlength="255" />
                                            </div>
                                        </div>
                                        <!--</form>-->
                                    </div>
                                    <div class="widget-main">
                                        <!--<form class="form-inline">-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Customer ID</label>
                                            </div>
                                            <div class="col-md-3" data-rule-required="true" data-rule-maxlength="50">
                                                <input type="text" disabled="disabled" id="CIF" name="CIF" data-bind="value: $root.FundingCIF" class="col-sm-15" data-rule- maxlength="50" />
                                            </div>
                                            <div class="col-md-1">

                                            </div>
                                            <div class="col-md-2">
                                                <label>Segment</label>
                                            </div>
                                            <div class="col-md-3" data-rule-required="true" data-rule-maxlength="255">
                                                <input disabled="disabled" type="text" id="BizSegmentDesc" name="BizSegment" class="col-sm-15" data-bind="value: $root.FundingSegment" data-rule-required="true" data-rule-maxlength="255" />
                                            </div>
                                        </div>
                                        <!--</form>-->
                                    </div>
                                    <div class="widget-main">
                                        <!--<form class="form-inline">-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Customer Category</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" id="CustomerCategoryID" name="CustomerCategoryID" data-bind="value: $root.FundingCustomerCategory" disabled="disabled" class="col-sm-15" data-rule-maxlength="50" />

                                            </div>

                                            <div class="col-md-3">
                                                <label>Program Type</label>
                                            </div>
                                            <div class="col-md-2" style="right:100px">
                                                <select id="ProgramType" name="ProgramType"
                                                        data-bind="options: $root.ddlProgramTypes,enable: !$root.VerifyColumn('ProgramType')().IsVerified,
                                                                optionsText: function(item) { if(item.ProgramTypeID != null) return  item.ProgramTypeName},
                                                                optionsValue: 'ProgramTypeID',
                                                                value :$root.Selected().ProgramType,
                                                                optionsCaption: 'Please Select...',enable: !$root.VerifyColumn('ProgramType')().IsVerified,
                                                                event: { change: function(){ $root.PopulateSelected('CSOTASK', 'ProgramType'); } }"></select>
                                                <!--<label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>-->
                                            </div>

                                        </div>
                                        <!--</form>-->
                                    </div>

                                    <div class="widget-main">
                                        <!--<form class="form-inline">-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Scheme Code:Finacle</label>
                                            </div>
                                            <div class="col-md-4">
                                                <select id="FinacleScheme" name="FinacleScheme"
                                                        data-bind="value: $root.Selected().FinacleScheme,options: $root.ddlFinacleSchemes,
                                                            optionsText: function(item) { if(item.FinacleSchemeCodeID != null) return item.FinacleSchemeCodeName },
                                                            optionsValue: 'FinacleSchemeCodeID',
                                                            value : $root.Selected().FinacleScheme,
                                                            optionsCaption: 'Please Select...',enable: !$root.VerifyColumn('FinacleScheme')().IsVerified,
                                                            event: { change: function () { $root.IshiddenCSO() } }"></select>
                                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="FinacleScheme">*</label>
                                            </div>
                                            <div class="col-md-2">
                                                <label>Loan Type</label>
                                            </div>
                                            <div class="col-md-3">
                                                <select id="LoanID" name="LoanID"
                                                        data-bind="value : $root.Selected().LoanID,
                                                            options: $root.ddlLoanIDs,
                                                            optionsText: function(item) { if(item.LoanTypeID != null) return item.LoanTypeName},
                                                            optionsValue: 'LoanTypeID',

                                                            optionsCaption: 'Please Select...',enable: !$root.VerifyColumn('LoanType')().IsVerified,
                                                            event: { change: function(){ $root.PopulateSelected('CSOTASK', 'LoanID'); } }"></select>
                                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="LoanType">*</label>
                                            </div>


                                        </div>
                                        <!--</form>-->
                                    </div>
                                    <div class="widget-main">
                                        <!--<form class="form-inline">-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label></label>
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-md-2">
                                                <label>IsAdhoc</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="checkbox" id="IsAdhoc" name="IsAdhoc" data-bind="value: $root.FundingIsAdhoc,event:{ change: $root.IsAdhocCSO }" class="col-xs-10" data-rule-required="true" disabled="disabled" data-rule-maxlength="255" />
                                            </div>
                                        </div>
                                        <!--</form>-->
                                    </div>
                                </div>

                            </div>



                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header">
                                    <h4 class="widget-title">II.LOAN DETAILS</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <!--<form class="form-inline">-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>
                                                    Amount Disburse

                                                </label>
                                            </div>
                                            <!--<div class="col-md-1">
                                                <select id="AmountDisburseID" name="AmountDisburseID" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlLoanIDs, optionsText: 'AmountDisburseID', optionsValue: 'AmountDisburseID', optionsCaption: 'Please Select...', value: Transaction.FundingMemo.AmountDisburseID" disabled="disabled"></select>
                                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="Amount">*</label>
                                            </div>-->

                                            <div class="col-md-1">
                                                <select style="width:90px" id="AmountDisburseID" name="AmountDisburseID"
                                                        data-bind="value:$root.Selected().AmountDisburseID,
                                                options:$root.ddlAmountDisburseIDs,
                                                optionsText: function(item) { if(item.ID != null) return item.Code+ ' ('+item.Description+')'},
                                                optionsValue: 'ID',
                                                optionsCaption: 'Please Select...',
                                                enable: !$root.VerifyColumn('AmountDisburse')().IsVerified,
                                                event: { change: function(){ $root.PopulateSelected('CSOTASK', 'AmountDisburseID'); } }"></select>

                                            </div>

                                            <div class="col-md-3">
                                                <input type="text" id="AmountDisburse" data-in="" name="AmountDisburse" data-bind="value: $root.FundingAmountDisburse,
                                                enable: !$root.VerifyColumn('AmountDisburse')().IsVerified,
                                                event: { change: function () { $root.ChangeValueDate() } }" class="col-sm-15" data-rule-maxlength="50" />
                                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="amouentdisburse">*</label>
                                            </div>
                                            <div class="col-md-2">
                                                <label>Crediting Operative/Office A/C ID</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" id="CreditingOperative" name="CreditingOperative" class="col-sm-15" data-bind="value: $root.FundingCreditOperative,enable: !$root.VerifyColumn('CreditingOperative')().IsVerified" data-rule-required="true" data-rule-maxlength="255" />
                                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                            </div>

                                        </div>
                                        <!--</form>-->
                                    </div>
                                    <div class="widget-main">
                                        <!--<form class="form-inline">-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label></label>
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-md-2">
                                                <label>Debiting Operative/office A/C(settlement)</label>

                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" id="DebitingOperative" name="DebitingOperative" class="col-sm-15" data-bind="value: $root.FundingDebitingOperaitve,enable: !$root.VerifyColumn('DebitingOperative')().IsVerified" data-rule-required="true" data-rule-maxlength="255" />
                                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="debitingoperative">*</label>
                                            </div>

                                        </div>
                                        <!--</form>-->
                                    </div>
                                    <div class="widget-main">
                                        <!--<form class="form-inline">-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Value Date</label>

                                            </div>
                                            <div class="col-md-4">
                                                <input class="col-xs-15 date-picker" disabled="disabled" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="FundingValueDate" name="ValueDate" data-bind="datepicker: true,value: $root.LocalDate($root.FundingValueDate,true)" data-rule-required="true" data-rule-value="true" />

                                                <span><i class="icon-calendar bigger-110"></i></span>
                                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                            </div>
                                            <div class="col-md-2">
                                                <label>Maturity Date</label>

                                            </div>
                                            <div class="col-md-3">
                                                <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="MaturityDate" name="MaturityDate" data-bind="datepicker: true,value: $root.LocalDate($root.FundingMaturityDate(),true),enable: !$root.VerifyColumn('MaturityDate')().IsVerified" data-rule-required="true" data-rule-value="true" />
                                                <span><i class="icon-calendar bigger-110"></i></span>
                                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="amouentdisburse">*</label>
                                            </div>

                                        </div>
                                        <!--</form>-->
                                    </div>
                                </div>
                            </div>
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header">
                                    <h4 class="widget-title">III.INTEREST RATE</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <!--<form class="form-inline">-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Interest rate Code</label>
                                            </div>
                                            <div class="col-md-4">
                                                <select id="Interest" name="Interest"
                                                        data-bind="value: $root.FundingInterestRateCode,
                                    options: $root.ddlInterests,
                                    optionsText:function(item) { if(item.InterestCodeName != null) return item.InterestCodeName},
                                    optionsValue: 'InterestID',
                                    optionsCaption: 'Please Select...',
                                    enable: !$root.VerifyColumn('FundingInterestRateCodeID')().IsVerified,
                                    event: { change: function(){ $root.PopulateSelected('CSOTASK', 'Interest'); } }"></select>
                                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="ddlinterest">*</label>
                                            </div>

                                            <div class="col-md-2">
                                                <label>Approve Margin AS Per Credit Memo</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" id="ApprovedMarginAsPerCM" name="ApprovedMarginAsPerCM" class="col-sm-15" data-bind="value: $root.FundingApprovMargin,enable: !$root.VerifyColumn('ApprovedMarginAsPerCM')().IsVerified" data-rule-required="true" data-rule-maxlength="255" />
                                            </div>

                                        </div>
                                        <!--</form>-->
                                    </div>
                                    <div class="widget-main">
                                        <!--<form class="form-inline">-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Base Rate</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" disabled="disabled" id="BaseRate" name="BaseRate" class="col-sm-8" data-bind="value: $root.FundingBaseRate" data-rule-required="true" data-rule-maxlength="255" />
                                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="baserate">*</label>
                                                <button class="btn btn-sm btn-primary" style="left:20px" data-bind="click: $root.GetBaseRate">
                                                    Calculate
                                                </button>
                                            </div>

                                            <div class="col-md-2">
                                                <label>Special FTP</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" id="SpecialFTP" name="SpecialFTP" class="col-sm-15" data-bind="value: $root.FundingSpecialFTP,enable: !$root.VerifyColumn('SpecialFTP')().IsVerified" data-rule-required="true" data-rule-maxlength="255" />
                                            </div>

                                        </div>
                                        <!--</form>-->
                                    </div>
                                    <div class="widget-main">
                                        <!--<form class="form-inline">-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Acc. Prefencial/Margin</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" id="AccountPreferencial" name="AccountPreferencial" class="col-sm-15" data-bind="value: $root.FundingAccPrefencial,enable: !$root.VerifyColumn('AccountPreferencial')().IsVerified" data-rule-required="true" data-rule-maxlength="255" />
                                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="accountprefencial">*</label>
                                            </div>

                                            <div class="col-md-2">
                                                <label>Margin</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" id="Margin" name="Margin" class="col-sm-15" data-bind="value: $root.FundingMargin,enable: !$root.VerifyColumn('Margin')().IsVerified" data-rule-required="true" data-rule-maxlength="255" />
                                            </div>

                                        </div>
                                        <!--</form>-->
                                    </div>
                                    <div class="widget-main">
                                        <!--<form class="form-inline">-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>All In Rate</label>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" disabled="disabled" id="AllInRate" name="AllInRate" class="col-sm-12" data-bind="value: $root.FundingAllInRate" data-rule-required="true" data-rule-maxlength="255" />

                                            </div>
                                            <div class="col-md-2">
                                            </div>
                                            <div class="col-md-2">
                                                <label>All In Special Rate</label>
                                            </div>
                                            <div class="col-md-2">
                                                <input disabled="disabled" type="text" id="AllInSpecialRate" name="AllInSpecialRate" class="col-sm-12" data-bind="value: $root.FundingAllInSpecialRate" data-rule-required="true" data-rule-maxlength="255" />
                                            </div>
                                            <div class="col-md-1">
                                                <button class="btn btn-sm btn-primary" data-bind="click: $root.GetAllInRate">
                                                    Calculate
                                                </button>
                                            </div>
                                        </div>
                                        <!--</form>-->
                                    </div>
                                    <div class="widget-main">
                                        <!--<form class="form-inline">-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Repricing Plan</label>
                                            </div>
                                            <div class="col-md-4">
                                                <select id="RepricingPlan" name="RepricingPlan"
                                                        data-bind="value: $root.Selected().RepricingPlan,
                                                options: $root.ddlRepricings,
                                                optionsText: function(item) { if(item.RepricingPlanID != null) return item.RepricingPlanName},
                                                optionsValue: 'RepricingPlanID',
                                                optionsCaption: 'Please Select...',enable: !$root.VerifyColumn('RepricingPlan')().IsVerified,
                                                event: { change: function(){ $root.PopulateSelected('CSOTASK', 'RepricingPlan'); } }"></select>
                                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="RepricingPlan">*</label>
                                            </div>

                                            <div class="col-md-2">
                                                <label>Pegging Date</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="PeggingDate" name="PeggingDate" data-bind="datepicker: true,value: $root.LocalDate($root.FundingPeggingDate(),true),enable: !$root.VerifyColumn('PeggingDate')().IsVerified" data-rule-required="true" data-rule-value="true" />
                                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="RepricingPlan">*</label>
                                            </div>

                                        </div>
                                        <!--</form>-->
                                    </div>
                                    <div class="widget-main">
                                        <!--<form class="form-inline">-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label></label>
                                            </div>
                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-md-2">
                                                <label>Pegging Frequency</label>
                                            </div>
                                            <div class="col-md-3">
                                                <select id="PeggingFrequency" name="PeggingFrequency" data-rule-required="true" data-rule-value="true" data-bind="options: $root.ddlFrequencys, optionsText: 'PeggingFrequencyName', optionsValue: 'PeggingFrequencyID', optionsCaption: 'Please Select...', value: $root.FundingpeggingFrequency,enable: !$root.VerifyColumn('PeggingFrequency')().IsVerified"></select>
                                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="peggingfrequency">*</label>
                                            </div>

                                        </div>
                                        <!--</form>-->
                                    </div>
                                </div>
                            </div>
                            <div class="widget-box ui-sortable-handle" data-bind="visible: $root.ShortTerm()">
                                <div class="widget-header">
                                    <h4 class="widget-title">IV.REPAYMENT SCHEDULE</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <!--<form class="form-inline">-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Principal Start Date</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="PrincipalStartDate" name="PrincipalStartDate" data-bind="datepicker: true,value: $root.LocalDate($root.FundingPrincipialStartDate(),true),enable: !$root.VerifyColumn('PrincipalStartDate')().IsVerified" data-rule-required="true" data-rule-value="true" />
                                                <span><i class="icon-calendar bigger-110"></i></span>
                                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                            </div>

                                            <div class="col-md-2">
                                                <label>Principal Frequency</label>
                                            </div>
                                            <div class="col-md-3">
                                                <select id="PrincipalFrequency" name="PrincipalFrequency"
                                                        data-bind="value: $root.Selected().Frequency,
                                                options: $root.ddlFrequencys,
                                                optionsText: function(item) { if(item.PeggingFrequencyID != null) return item.PeggingFrequencyName },
                                                optionsValue: 'PeggingFrequencyID',
                                                optionsCaption: 'Please Select...',enable: !$root.VerifyColumn('PrincipalFrequency')().IsVerified,
                                                event: { change: function(){ $root.PopulateSelected('CSOTASK', 'Frequency'); } }"></select>
                                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="principalfrequency">*</label>
                                            </div>

                                        </div>
                                        <!--</form>-->
                                    </div>
                                    <div class="widget-main">
                                        <!--<form class="form-inline">-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Interest Start Date</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="InterestStartDate" name="InterestStartDate" data-bind="datepicker: true,value: $root.LocalDate($root.FundingIntererstStartDate(),true),enable: !$root.VerifyColumn('InterestStartDate')().IsVerified" data-rule-required="true" data-rule-value="true" />
                                                <span><i class="icon-calendar bigger-110"></i></span>
                                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>
                                            </div>

                                            <div class="col-md-2">
                                                <label>Interest Frequency</label>
                                            </div>
                                            <div class="col-md-3">
                                                <select id="InterestFrequency" name="InterestFrequency"
                                                        data-bind="value: $root.Selected().Interest,
                                                options: $root.ddlFrequencys,
                                                optionsText: function(item) { if(item.PeggingFrequencyID != null) return item.PeggingFrequencyName},
                                                optionsValue: 'PeggingFrequencyID',
                                                optionsCaption: 'Please Select...',
                                                enable: !$root.VerifyColumn('InterestFrequency')().IsVerified,
                                                event: { change: function(){ $root.PopulateSelected('CSOTASK', 'Frequency'); } }"></select>
                                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="InterestStartDate">*</label>

                                            </div>

                                        </div>
                                        <!--</form>-->
                                    </div>
                                    <div class="widget-main">
                                        <!--<form class="form-inline">-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>No Of Installment</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" id="NoOfInstallment" name="NoOfInstallment" class="col-xs-10" data-bind="value: $root.FundingNoOfInstalment,enable: !$root.VerifyColumn('NoOfInstallment')().IsVerified" data-rule-required="true" data-rule-maxlength="255" />
                                            </div>

                                            <div class="col-md-3">

                                            </div>
                                        </div>
                                        <!--</form>-->
                                    </div>
                                </div>

                            </div>
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header">
                                    <h4 class="widget-title">V.LIMIT</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <!--<form class="form-inline">-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Limit ID in Fin 10</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" id="LimitIDinFin10" name="LimitIDinFin10" class="col-sm-12" data-bind="value: $root.FundingLimitIDInFin10,enable: !$root.VerifyColumn('LimitIDinFin10')().IsVerified" data-rule-required="true" data-rule-maxlength="255" />
                                                <!--//,enable: !$root.VerifyColumn('LimitIDinFin10')().IsVerified-->
                                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="limitidinfin10">*</label>
                                            </div>

                                            <div class="col-md-2">
                                                <label>Sanction Limit</label>
                                            </div>
                                            <div class="col-md-1" style="right:30px">
                                                <select style="width:120px" id="SanctionLimitCurrID" name="SanctionLimitCurrID"
                                                        data-bind="value: $root.Selected().SanctionLimitCurrID,
                                                options: $root.ddlSanctionLimitCurrIDs,
                                                optionsText: function(item) { if(item.ID != null) return item.Code+'('+item.Description+')'},
                                                optionsValue: 'ID',
                                                optionsCaption: 'Please Select...',enable: !$root.VerifyColumn('SanctionLimitCurrID')().IsVerified,
                                                event: { change: function(){ $root.PopulateSelected('CSOTASK', 'SanctionLimitCurrID'); } }"></select>

                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" id="SanctionLimitAmount" data-in="" name="SanctionLimitAmount" class="col-xs-11" data-bind="value: $root.FundingSanctionLimit,enable: !$root.VerifyColumn('SanctionLimitCurrID')().IsVerified" data-rule-required="true" data-rule-maxlength="255" />
                                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="limitidinfin10">*</label>

                                            </div>

                                        </div>
                                        <!--</form>-->
                                    </div>
                                    <div class="widget-main">
                                        <!--<form class="form-inline">-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Limit Expire Date</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="LimitExpiryDate" name="LimitExpiryDate" data-bind="datepicker: true,value: $root.LocalDate($root.FundingLimitExpireDate(),true),enable: !$root.VerifyColumn('LimitExpiryDate')().IsVerified" data-rule-required="true" data-rule-value="true" />
                                                <!--//enable: !$root.VerifyColumn('LimitExpiryDate')().IsVerified-->
                                                <span><i class="icon-calendar bigger-110"></i></span>
                                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position: absolute;" for="LimitExpiryDate">*</label>
                                            </div>

                                            <div class="col-md-2">
                                                <label>Utilisation</label>
                                            </div>
                                            <div class="col-md-1" style="right:30px">
                                                <select style="width:120px" id="utilization" name="utilization"
                                                        data-bind="value: $root.Selected().utilization,
                                                options: $root.ddlUtilizationCurrIDs,
                                                optionsText: function(item) { if(item.ID != null) return item.Code+'('+item.Description+')'},
                                                optionsValue: 'ID',
                                                optionsCaption: 'Please Select...',enable: !$root.VerifyColumn('utilization')().IsVerified,
                                                event: { change: function(){ $root.PopulateSelected('CSOTASK', 'utilization'); } }"></select>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" id="utilizationAmount" data-in="" name="utilizationAmount" class="col-sm-15" data-bind="value: $root.utilization,enable: !$root.VerifyColumn('utilization')().IsVerified" data-rule-required="true" data-rule-maxlength="255" />


                                            </div>

                                        </div>
                                        <!--</form>-->
                                    </div>
                                    <div class="widget-main">
                                        <!--<form class="form-inline">-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label></label>
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-2">
                                                <label>Outstanding</label>
                                            </div>
                                            <div class="col-md-1" style="right:30px">
                                                <select id="Outstanding" name="Outstanding" style="width:120px"
                                                        data-bind="value:  $root.Selected().Outstanding,
                                                options: $root.ddlOutstandingCurrIDs,
                                                optionsText: function(item) { if(item.ID != null) return item.Code+'('+item.Description+')'},
                                                optionsValue: 'ID',
                                                optionsCaption: 'Please Select...',
                                                enable: !$root.VerifyColumn('Outstanding')().IsVerified,
                                                event: { change: function(){ $root.PopulateSelected('CSOTASK', 'Outstanding'); } }"></select>

                                            </div>

                                            <div class="col-md-2">
                                                <input type="text" id="OutstandingAmount" data-in="" name="OutstandingAmount" class="col-sm-15" data-bind="value: $root.FundingOutStanding,enable: !$root.VerifyColumn('Outstanding')().IsVerified" data-rule-required="true" data-rule-maxlength="255" />
                                                <!--//enable: !$root.VerifyColumn('Outstanding')().IsVerified-->
                                            </div>
                                        </div>
                                        <!--</form>-->
                                    </div>
                                </div>
                            </div>
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header">
                                    <h4 class="widget-title">VI.CONTACT DETAIL</h4>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main">
                                        <!--<form class="form-inline">-->
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>CSO Name</label>
                                            </div>
                                            <div class="col-md-3">
                                                <textarea disabled="disabled" class="col-sm-8" style="width:750px" id="CSOName" name="CSOName" data-bind="value: $root.FundingCSOName()" data-rule-required="true" data-rule-maxlength="255" />

                                            </div>
                                            <div class="col-md-3">
                                                <button class="btn btn-primary" id="GetCSOName" style="left:500px" data-bind="click: $root.GetCSOName">
                                                    <i class="icon-edit"></i>
                                                    Get CSO
                                                </button>
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                        </div>
                                        <!--</form>-->
                                    </div>
                                </div>
                            </div>
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header">
                                    <h4 class="widget-title">VII.Required Approval Based On DOA</h4>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main" style="height: 150px">
                                        <!--<form class="form-inline">-->
                                        <div class="row">
                                            <div class="col-md-3">
                                                <textarea style="width:1000px" class="col-sm-12" id="DOAName" name="DOAName" data-bind="value: $root.FundingDoAName()" data-rule-required="true" data-rule-maxlength="255" disabled="disabled" rows="6" />
                                            </div>
                                            <div class="col-md-1" style="right: 190px">
                                                <button style="left:920px" class="btn btn-sm btn-primary" data-bind="click: $root.GetDOA">
                                                    <i class="icon-edit"></i>
                                                    Get DOA
                                                </button>
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                        </div>
                                        <!--</form>-->
                                    </div>
                                </div>
                                <div class="padding-4">
                                    <h3 class="header smaller lighter dark">Attachment</h3>

                                    <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocument">
                                        <i class="icon-plus"></i>
                                        Attach
                                    </button>

                                    <div class="dataTables_wrapper" role="grid">
                                        <table class="table table-striped table-bordered table-hover dataTable">
                                            <thead>
                                                <tr>
                                                    <th>No.</th>
                                                    <th>File Name</th>
                                                    <th>Purpose of Docs</th>
                                                    <th>Type of Docs</th>
                                                    <th>Modified</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: $root.MakerDocumentsCSO, visible: $root.MakerDocumentsCSO().length > 0">
                                                <tr>
                                                    <td><span data-bind="text: $index() +1"></span></td>
                                                    <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                                                    <td><span data-bind="text: Purpose.Name"></span></td>
                                                    <td><span data-bind="text: Type.Name"></span></td>
                                                    <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                                                    <td><a href="#" data-bind="click: $root.RemoveDocumentCSO">Remove</a></td>
                                                </tr>
                                            </tbody>

                                            <tbody data-bind="visible: $root.MakerDocumentsCSO().length == 0">
                                                <tr>
                                                    <td colspan="13" class="text-center">
                                                        No entries available.
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--END-->


            <div id="modal-form-upload" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="0" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body overflow-visible">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div id="customer-form" class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="document-path">Document</label>
                                            <div class="col-sm-8">
                                                <div class="clearfix">
                                                    <input type="file" id="document-path" name="document-path" data-bind="file: $root.DocumentPath" />
                                                </div>
                                            </div>
                                            <label class="control-label bolder text-danger">*</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-sm btn-primary" data-bind="click: $root.AddDocumentFunding">
                                <i class="icon-save"></i>
                                Save
                            </button>
                            <button class="btn btn-sm" data-bind="click: $root.cancel_fundingmemo">
                                <i class="icon-remove"></i>
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="modal-form-List-funding" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="0" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content" style="width:800px;top:400px">
                        <div class="modal-body overflow-visible">
                            <div class="table-responsive">
                                <div class="dataTables_wrapper" role="grid">
                                    <table class="table table-striped table-bordered table-hover dataTable">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Customer Name</th>
                                                <th>Customer ID</th>
                                                <th>Customer Category</th>
                                                <th>Loan Type</th>
                                                <th>SOL ID</th>
                                                <th>Segment</th>
                                                <th>Program Type</th>
                                                <th>Scheme Code</th>
                                                <th>Adhoc</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: $root.ChooseFiles">
                                            <tr data-bind="click: $root.onSelectionChoseeFile">
                                                <td><span data-bind="text: $index() +1"></span></td>
                                                <td><span data-bind="text: Customer.Name"></span></td>
                                                <td><span data-bind="text: Customer.CIF"></span></td>
                                                <td><span data-bind="text: CustomerCategoryName"></span></td>
                                                <td><span data-bind="text: LoanID.LoanTypeName"></span></td>
                                                <td><span data-bind="text: SolID"></span></td>
                                                <td><span data-bind="text: BizName"></span></td>
                                                <td><span data-bind="text: ProgramType.ProgramTypeName"></span></td>
                                                <td><span data-bind="text: FinacleScheme.FinacleSchemeCodeName"></span></td>
                                                <td><span data-bind="text: IsAdhoc"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer" style="width:100%">
                                    <button class="btn btn-sm" data-bind="click: $root.cancel_fundingmemo">
                                        <i class="icon-remove"></i>
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-16"></div>
    <!--Start Body Funding Memo-->
    <!--End Body Funding Memo-->
</div>
