﻿<div id="timeline-2">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="timeline-container timeline-style2">
                <!--<span class="timeline-label">
                    <b>Today</b>
                </span>-->

                <div class="timeline-items" data-bind="foreach: Timelines">
                    <div class="timeline-item clearfix">
                        <div class="timeline-info">
                            <span class="timeline-date" data-bind="text: $root.LocalDate(Time)"></span>

                            <i class="timeline-indicator btn btn-info no-hover"></i>
                        </div>

                        <div class="widget-box transparent">
                            <div class="widget-body">
                                <div class="widget-main no-padding">
                                    <span class="bigger-110">
                                        <span class="blue bolder" data-bind="text: DisplayName"></span>
                                        <!-- ko if: IsGroup -->
                                        (<span data-bind="text: UserOrGroup"></span>)
                                        <!-- /ko -->
                                    </span>

                                    <span class="bolder" data-bind="text: Outcome"></span>
                                    <span data-bind="text: Activity"></span>

                                    <!-- ko ifnot: ApproverID == 0 -->
                                    <br />
                                    <i class="icon-comments-alt bigger-110 blue"></i>
                                    <span data-bind="text: Comment"></span>
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>