﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">Customer Name</label>

                <label class="col-sm-9">
                    <span data-bind="text: Transaction.Customer.Name"></span>
                    <!--<span class="label label-warning arrowed" data-bind="if: Payment.IsNewCustomer">New Customer</span>-->
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">CIF</label>

                <label class="col-sm-9">
                    <span data-bind="text: Transaction.Customer.CIF"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">Product</label>

                <label class="col-sm-9">
                    <span data-bind="text: Transaction.Product.Code"></span>
                    (<span data-bind="text: Transaction.Product.Name"></span>)
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <label class="col-sm-9">
                    <span data-bind="text: Transaction.Channel.Name"></span>
                </label>
            </div>
            <div class="form-group" data-bind="visible: $root.IsCSO()">
                <label class="col-sm-3 control-label bolder no-padding-right">Currency</label>
                <label class="col-sm-9">
                    <span data-bind="text:Transaction.Currency.CodeDescription"></span>
                </label>
            </div>
            <div class="form-group" data-bind="visible: $root.IsCSO()">
                <label class="col-sm-3 control-label bolder no-padding-right">Amount</label>
                <label class="col-sm-9">
                    <span data-bind="text: formatNumber(Transaction.Amount)"></span>
                </label>
            </div>
            <div class="form-group" data-bind="visible: $root.IsCSO()">
                <label class="col-sm-3 control-label bolder no-padding-right">Deal Number</label>
                <label class="col-sm-9">
                    <span data-bind="text:Transaction.DealNumber"></span>
                </label>
            </div>
            <div class="form-group" data-bind="visible: $root.IsCSO()">
                <label class="col-sm-3 control-label bolder no-padding-right">Value Date</label>
                <label class="col-sm-9">
                    <span data-bind="text:$root.LocalDate(Transaction.ValueDate,true,false)"></span>
                </label>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">Remarks</label>
                <label class="col-sm-9">
                    <span data-bind="text:Transaction.Remarks"></span>
                </label>
            </div>
            
            <div class="space-4"></div>

            <div>
                <h3 class="header smaller lighter dark">Attachment</h3>

                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>File Name</th>
                                <th>Document Type</th>
                                <th>Modified</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                            <tr>
                                <td><span data-bind="text: $index() + 1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: Transaction.Documents.length == 0">
                            <tr>
                                <td colspan="13" class="text-center">
                                    No entries available.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
