﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form2" class="form-horizontal" role="form">

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group no-padding-bottom">
                <label class="col-sm-6 align-center">PPU Maker</label>

                <label class="col-sm-6 align-center">PPU/Branch Caller</label>
            </div>

            <div class="space-4"></div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: $root.IsTopUrgent() ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: $root.IsTopUrgentChain() ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>

                <label class="col-sm-1 control-label bolder no-padding-right" for="normal">Normal</label>

                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: $root.IsNormal() ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Customer Name</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Customer.Name"></span>
                </label>

                <label class="col-sm-4">
                    <!--<span data-bind="text: Callback.Customer.Name" ></span>-->
                </label>

                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Customer Name')">
            <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
            <span class="lbl"></span>
        </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">CIF</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Customer.CIF"></span>
                </label>

                <label class="col-sm-4">
                    <!--<span data-bind="text: Callback.Customer.CIF" ></span>-->
                </label>

                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('CIF')">
            <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
            <span class="lbl"></span>
        </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Product</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Product.Code"></span>
                    (<span data-bind="text: Transaction.Product.Name"></span>)
                </label>

                <label class="col-sm-4">
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Channel</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Channel.Name"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsPPURole()">
                <label class="col-sm-3 control-label bolder no-padding-right">Source</label>

                <label class="col-sm-4">
                    <span data-bind="text: $root.SourceName()"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Remarks</label>
                <label class="col-sm-8">
                    <textarea class="col-lg-10" id="remarks" rows="6" data-bind="value: Transaction.Remarks,disable:true"></textarea>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Signature Verification</label>

                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: Callback!=null && Callback.IsSignatureVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Dormant Account</label>

                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css:  Callback!=null && Callback.IsDormantAccount ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Freeze Account</label>

                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css:  Callback!=null && Callback.IsFreezeAccount ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: Transaction.Channel.Name == 'Fax'">
                <label class="col-sm-3 control-label bolder no-padding-right">Letter of Indemnity Available</label>

                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: Checker.IsLOIAvailable ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Statement Letter Copy</label>

                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: Checker.IsStatementLetterCopy ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Others</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Others"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-completeness">Document Completeness</label>

                <label class="col-sm-4" data-bind="with: $root.VerifyColumn('Document Completeness')">
                    <i class="bigger-170" data-bind="css: IsVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

        </div>

        <div class="space-16"></div>

        <div class="padding-4">
            <h3 class="header smaller lighter dark">Attachment</h3>
            <!-- add by fadi for exception handler -->
            <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocument, visible: Transaction.IsExceptionHandling || (Callback != null && Callback.DetailCompliance == 'UTC')">
                <i class="icon-plus"></i>
                Attach
            </button>
            <!-- end -->
            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <!-- change by fandi  -->
                    <!--<tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">-->
                    <tbody data-bind="foreach: $root.MakerDocuments, visible: $root.MakerDocuments().length > 0">
                        <!-- end by fandi -->
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td>
                                <div data-bind="if:IsNewDocument">
                                    <span data-bind="text: FileName"></span>
                                </div>
                                <div data-bind="ifnot:IsNewDocument">
                                    <a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a>
                                </div>
                            </td>
                            <!--<td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>-->
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            <td><a href="#" data-bind="click: $root.RemoveDocumentData, visible:IsNewDocument">Remove</a></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: $root.MakerDocuments().length == 0">
                        <tr>
                            <td colspan="13" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>