﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-1 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>

                <label class="col-sm-1 control-label bolder no-padding-right">Normal</label>

                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: Transaction.IsNormal ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <div class="col-sm-6">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-12" name="customer-name" id="customer-name" disabled="disabled" data-rule-required="true" data-bind="value: Transaction.Customer.Name" />
                    </div>
                </div>

                <label class="col-sm-2">
                    <span class="label label-warning arrowed" data-bind="if: Transaction.IsNewCustomer">
                        <i class="icon-warning-sign bigger-120"></i>
                        New Customer
                    </span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-3" name="cif" id="cif" disabled="disabled" data-bind="value: Transaction.Customer.CIF" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="product" name="product" data-rule-required="true" disabled="disabled"
                                data-bind="options: $root.Products,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.Product.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency">Currency</label>

                <!--bangkit-->
                <label class="col-sm-9">
                    <span data-bind="text: Transaction.Currency.Code"></span>
                    (<span data-bind="text: Transaction.Currency.Description"></span>)
                </label>

                <!--<div class="col-sm-9">
                    <div class="clearfix">
                        <select id="currency" name="currency" data-rule-required="true"
                                data-bind="options: $root.Currencies,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.Currency.ID">
                        </select>
                    </div>
                </div>-->
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trxn-amount">Trxn Amount</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" disabled="disabled" name="trxn-amount" id="trxn-amount" data-in="" onkeyup="OnKeyUp('TransactionCaller')" data-rule-required="true" data-rule-number="true" data-bind="value: $root.FormatNumber(Transaction.Amount)" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="rate">IDR Mid Rate (BI Mid-Rate)</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="rate" id="rate" data-in="" disabled="disabled" data-rule-number="true" data-bind="value: formatNumber_r(Transaction.Rate)" />
                    </div>
                </div>
            </div>
            <!--Permintaan User
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="rate">Transaction Rate</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="rate" id="rate" data-in="" disabled="disabled" data-rule-number="true" data-bind="value: Transaction.TrxRate" />
                    </div>
                </div>
            </div>
            END-->
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="eqv-usd">Eqv. USD</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="eqv-usd" id="eqv-usd" disabled="disabled" data-rule-required="true" data-rule-number="true" data-bind="value: formatNumber_r(Transaction.AmountUSD), event:{change:  $root.RefreshAutoComplete('TransactionCaller')}" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="eqv-usd">TZ Number</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="eqv-usd" id="eqv-usd" disabled="disabled" data-rule-required="true" data-rule-number="true" data-bind="value: Transaction.TZNumber" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="channel" name="channel" disabled="disabled" data-rule-required="true" data-bind="options: $root.Channels, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Channel.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="if: $root.IsPPURole()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="source" name="source" disabled="disabled" data-rule-required="true" data-bind="options: $root.Sources, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.SourceID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-number">Debit Acc Number</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="book-joinAcc" name="book-statement" data-bind="value: Transaction.IsJointAccount,
                                        options:$root.CIFJointAccounts,
                                        optionsText:'Name',
                                        optionsValue: 'ID',
                                        event:{ change: $root.OnChangeJointAcc },disable:true" class="col-xs-3"></select>
                        <select id="debit-acc-number" name="debit-acc-number" disabled="disabled" data-rule-required="true" data-bind="options: $root.DynamicAccounts,optionsText: function(item) { if(item.AccountNumber != '-'  ){ if(item.CustomerName!=null){return item.AccountNumber+' ('+  item.Currency.Code+') - '+ item.CustomerName } return item.AccountNumber+' ('+  item.Currency.Code+')'} return item.AccountNumber}, optionsValue: 'AccountNumber', optionsCaption: 'Please Select...', value: $root.Selected().Account,event:{ change: $root.CheckEmptyAccountNumber }" class="col-xs-5"></select>
                        <label class="control-label bolder text-danger" for="debit-acc-number" data-bind="if: $root.IsDebit">*</label>
                        <input type="text" autocomplete="off" name="debit-acc-number-empty" disabled="disabled" id="debit-acc-number-empty" data-rule-required="true" data-bind="value: Transaction.OtherAccountNumber,visible: $root.IsEmptyAccountNumber()" />
                        <label class="control-label bolder text-danger" for="debit-acc-number" data-bind="visible: $root.IsEmptyAccountNumber()">*</label>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="ifnot: $root.IsOtherAccountNumber">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-ccy">Debit Acc CCY</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-1" name="debit-acc-ccy" id="debit-acc-ccy" disabled="disabled" data-bind="value: Transaction.DebitCurrency.Code" />
                    </div>
                </div>
            </div>

            <!--Henggar data Transaction detail Sundry-->
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-sundry">Debit Sundry</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="debit-sundry" name="debit-sundry" class="col-xs-3" disabled="disabled"
                                data-bind="options: $root.Sundry,
                                    optionsText: 'OABAccNo',
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().Sundry
                                    "></select>
                    </div>
                </div>
            </div>
            <!--Permintaan User
            <div class="form-group" data-bind="visible: Transaction.Product.Name == 'OTT'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="nostro">Nostro</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="nostro" name="nostro" data-rule-required="true" data-rule-value="true" disabled="disabled"
                                data-bind="options: $root.Nostro,
                                    optionsText: 'NostroUsed',
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().Nostro" class=" col-xs-3"></select>
                        <label class="control-label bolder text-danger" for="nostro">*</label>
                    </div>
                </div>
            </div>
            -->

            <div class="form-group" data-bind="if: $root.IsOtherAccountNumber">
                <label class="col-sm-3 control-label bolder no-padding-right" for="othercurrency">Debit Acc CCY</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="othercurrency" name="othercurrency" data-rule-required="true"
                                data-bind="options: $root.Currencies,
                                    enable: false,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().DebitCurrency,
                                    event: { change: function(){ $root.PopulateSelected('TransactionCaller', 'DebitCurrency'); } }"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="application-date">Application Date</label>
                <div class="col-sm-2">
                    <div class="clearfix input-group col-sm-12 no-padding">
                        <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" disabled="disabled" id="application-date" name="application-date" data-rule-required="true" data-rule-value="true" data-bind="datepicker: true, value: $root.LocalDate(Transaction.ApplicationDate, true)">
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                        <label class="control-label bolder text-danger starremove starremovefirefox" style="position:absolute;" for="application-date">*</label>
                    </div>
                </div>
                <div data-bind="if: Transaction.Product.Name == 'OTT' || Transaction.Product.Code == 'OV'">
                    <label class="col-sm-2 control-label bolder no-padding-right" for="application-execution">Credit Value Date</label>
                    <div class="col-sm-2">
                        <div class="clearfix input-group col-sm-12 no-padding">
                            <input class="form-control date-picker" type="text" autocomplete="off" disabled="disabled" data-date-format="dd-M-yyyy" id="application-execution" name="application-execution" data-rule-required="true" data-rule-value="true" data-bind="datepicker: true, value: $root.LocalDate(Transaction.ExecutionDate, true)">
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                            <label class="control-label bolder text-danger starremove starremovefirefox" style="position:absolute;" for="application-date">*</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="biz-segment">Biz Segment</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="biz-segment" name="biz-segment" disabled="disabled" data-rule-required="true" data-rule-value="true"
                                data-bind="options: $root.BizSegments,
                                    optionsText: function(item){ if(item.Name != null) return item.Name +' ('+ item.Description +')'; },
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.BizSegment.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="if:($root.t_IsFxTransaction() || $root.t_IsFxTransactionToIDR()) && ($root.ProductID() == ConsProductID.OTTProductIDCons || Transaction.Product.Code == 'OV')">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product Type</label>

                <div class="col-sm-9">
                    <div class="clearfix" data-bind="if:Transaction.ProductType!=null">
                        <select id="product-type" name="product-type" data-rule-required="true" class="col-xs-3" disabled="disabled"
                                data-bind="options: $root.ProductTypes,
                                    optionsText: 'Code',
                                    optionsValue: 'ID',
                                    value: Transaction.ProductType.ID"></select>
                        <!--event: { change: function(){ $root.PopulateSelected('TransactionCaller', 'ProductType'); } } -->
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-name">Bene Name</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-6" name="bene-name" id="bene-name" data-rule-required="true" disabled="disabled" data-bind="event: { keypress: enforceMaxlength }, value: Transaction.BeneName" size="35" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-bank">Bene Bank</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-6" name="bank-bank" id="bank-bank" disabled="disabled" data-bind="value: Transaction.Bank.Description" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-code">Swift Code/Bank Code</label>

                <div class="col-sm-1">
                    <input type="text" autocomplete="off" class="col-sm-12" name="bank-code" id="bank-code" disabled="disabled" data-bind="value: Transaction.Bank.SwiftCode" />
                </div>
                <label class="col-sm-1 control-label bolder no-padding-right" for="bank-branch-code">Branch Code</label>
                <div class="col-sm-2" data-bind="if: Transaction.Branch != null">
                    <input type="text" autocomplete="off" class="col-sm-12" name="bank-branch-code" id="bank-branch-code" disabled="disabled" data-bind="value: Transaction.Branch.Code +' - '+  Transaction.Branch.Name" />
                </div>
                <label class="col-sm-1 control-label bolder no-padding-right" for="bank-city-codelbl">City Code</label>
                <div class="col-sm-2" data-bind="if: Transaction.City != null">
                    <input type="text" autocomplete="off" class="col-sm-12" name="bank-city-code" id="bank-city-code" disabled="disabled" data-bind="value: Transaction.City.CityCode +' - '+ Transaction.City.Description" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-acc-number">Bene Acc Number</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-6" name="bene-acc-number" disabled="disabled" onkeyup="formatMakerAccount('TransactionCaller')" id="bene-acc-number" data-bind="value: formatAccount($root.BeneAccNumberMask())" />
                    </div>
                </div>
            </div>

            <div data-bind="if: Transaction.BankCharges != null, visible: Transaction.Product.Code == 'OT' || Transaction.Product.Code == 'RT' || Transaction.Product.Code == 'SK', attr: { class: 'form-group' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-charges">Bank Charges</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="bank-charges" name="bank-charges" data-rule-required="true"
                                data-bind="options: $root.BankCharges,
                                    enable: false,
                                    optionsText: 'Code', optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.BankCharges.ID"></select>
                    </div>
                </div>
            </div>

            <div data-bind="if: Transaction.AgentCharges != null, visible: Transaction.Product.Code == 'OT', attr: { class: 'form-group' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="agent-charges">Agent Charges</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="agent-charges" name="agent-charges" data-rule-required="true"
                                data-bind="options: $root.AgentCharges,
                                    enable: false,
                                    optionsText: 'Code', optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.AgentCharges.ID"></select>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="citizen">Citizen</label>

                <label class="col-sm-1">
                    <input id="citizen" name="citizen" class="ace ace-switch ace-switch-2" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsCitizen" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Resident</label>
                <label class="col-sm-1">
                    <input id="resident" disabled="disabled" name="resident" class="ace ace-switch ace-switch-2" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsResident" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Beneficiary Resident</label>
                <div class="col-xs-3">
                    <label>
                        <select id="residentBene" name="residentBene" data-rule-required="true" data-rule-value="true" disabled
                                data-bind="options: self.options,
                                    optionsText: 'name',
                                    optionsValue: 'id',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.IsBeneficiaryResident,
                                    event: { change: $root.OnChangeModeName }"></select>
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Beneficiary Country Code</label>
                <div class="col-sm-9" data-bind="if:Transaction.BeneficiaryCountry != null">
                    <div class="clearfix">
                        <select id="benecountrycode" name="benecountrycode" data-bind="options:$root.BeneficiaryCountry,
                            optionsText: function(item) { if(item.ID != null) return item.Code + ' (' + item.Description + ')'} ,
                            optionsValue: 'ID',
                            optionsCaption: 'Please Select...',
                            value: Transaction.BeneficiaryCountry.ID" class="col-xs-3" disabled="disabled" data-rule-required="true" data-rule-value="true"></select>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="visible: Transaction.Product.Code == 'SK' || Transaction.Product.Code == 'OV' || Transaction.Product.Code == 'OT' || Transaction.Product.Code =='RT'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ChAccName">Charging Account Name</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-6" name="ChAccName" disabled="disabled" id="ChAccName" data-rule-required="true" data-bind="value: Transaction.ChargingAccountName" />
                        <label class="control-label bolder text-danger">*</label>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="visible: Transaction.Product.Code == 'SK' || Transaction.Product.Code == 'OV' || Transaction.Product.Code == 'OT' || Transaction.Product.Code =='RT'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ChAccBank">Charging Account Bank</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-6" name="ChAccBank" id="ChAccBank" disabled="disabled" data-rule-required="true" data-bind="value: Transaction.ChargingAccountBank" />
                        <label class="control-label bolder text-danger">*</label>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="visible: Transaction.Product.Code == 'SK' || Transaction.Product.Code == 'OV' || Transaction.Product.Code == 'OT' || Transaction.Product.Code =='RT'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ChAccount">Charging Account</label>

                <div class="col-sm-2">
                    <input type="text" autocomplete="off" class="col-sm-12" name="ChAccount" id="ChAccount" disabled="disabled" data-rule-required="true" data-bind="value: Transaction.ChargingACCNumber" />
                </div>

                <label class="col-sm-1 control-label bolder no-padding-right" for="ChAccountCCY">CCY  </label>
                <div class="col-sm-1" data-bind="if: $root.ChargingAccCurrency() != null">
                    <input type="text" autocomplete="off" class="col-sm-12" name="ChAccountCCY" id="ChAccountCCY" disabled="disabled" data-rule-required="true" data-bind="value: $root.ChargingAccCurrency().Code" />
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="Beneficiary">Beneficiary Business Type</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="Beneficiary" disabled="disabled" name="Beneficiary"
                                data-bind="options: $root.BeneficiaryBusiness,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().BeneficiaryBusines"></select>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="visible: Transaction.Product.Code == 'SK' || Transaction.Product.Code == 'OV' || Transaction.Product.Code == 'OT' || Transaction.Product.Code =='RT'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="BeneAddrs">Beneficiary Address</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-6" name="BeneAddrs" id="BeneAddrs" disabled="disabled" data-rule-required="true" data-bind="value: Transaction.BeneficiaryAddress" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Transaction Relationship</label>
                <div class="col-sm-9" data-bind="if:Transaction.TransactionRelationship != null">
                    <div class="clearfix">
                        <select id="transactionrelationship" name="transactionrelationship" data-bind="options:$root.TransactionRelationship,
                            optionsText: function(item) { if(item.ID != null) return item.Code + ' (' + item.Description + ')'} ,
                            optionsValue: 'ID',
                            optionsCaption: 'Please Select...',
                            value: Transaction.TransactionRelationship.ID" class="col-xs-3" disabled="disabled" data-rule-value="true"></select>
                        <!--<label class="control-label bolder text-danger" for="transactionrelationship">*</label>-->
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="lldcode">LLD Code</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="lldcode" name="lldcode" disabled="disabled"
                                data-bind="options: $root.LLDs,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().LLD,
                                    event: { change: function(){ $root.PopulateSelected('TransactionCaller', 'LLD'); } }"></select>
                        <label data-bind="if: $root.IsLLD" class="control-label bolder text-danger">*</label>
                    </div>
                </div>
            </div>

            <div data-bind="if: $root.IsLimit">
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="lld-doc">LLD Document</label>

                    <div class="col-sm-9" data-bind="if:Transaction.LLDDocument != null">
                        <div class="clearfix">
                            <select id="lld-doc" name="lld-doc" disabled="disabled" data-bind="options:$root.LLDDocuments,
                            optionsText: function(item) { if(item.LLDDocumentID != null) return item.LLDDocumentCode + ' (' + item.Description + ')'} ,
                            optionsValue: 'LLDDocumentID',
                            optionsCaption: 'Please Select...',
                            value: $root.Selected().LLDDocument,
                            event: { change: function(){ $root.PopulateSelected('TransactionCaller', 'LLDDocument'); } }"></select>
                            <label data-bind="if: $root.IsLLDUndelyingDocument" class="control-label bolder text-danger">*</label>
                        </div>
                    </div>
                </div>
            </div>

            <div data-bind="if: $root.IsLimit">
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="lld-underlying-amount">LLD Underlying Amount</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" name="lld-underlying-amount" id="lld-underlying-amount" data-in="" disabled="disabled" data-rule-number="true" data-bind="value: formatNumberLLD(Transaction.LLDUnderlyingAmount)" />
                            <label data-bind="if: $root.IsLLDUndelyingAmount" class="control-label bolder text-danger">*</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-code">Underlying Code</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="underlying-code" name="underlying-code" data-rule-required="true" disabled="disabled"
                                data-bind="options: $root.UnderlyingDocs,
                                    optionsText: function(item) { if(item.ID != null) return item.Code + ' (' + item.Name + ')'} ,
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().UnderlyingDoc,
                                    event: { change: function(){ $root.PopulateSelected('TransactionCaller', 'UnderlyingDoc'); } }"></select>
                        <label data-bind="if: $root.IsUnderlying" class="control-label bolder text-danger">*</label>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="visible: Transaction.OtherUnderlyingDoc != null">
                <label class="col-sm-3 control-label bolder no-padding-right" for="others">Others Underlying Code</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <textarea class="col-sm-12" name="others" id="others" rows="6" disabled="disabled" data-bind="value: Transaction.OtherUnderlyingDoc"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ComCode">Compliance Code</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select class="col-sm-6" id="ComCode" name="ComCode" data-rule-required="false" disabled="disabled"
                                data-bind="options: $root.FXCompliances,
                                           optionsText: function(item){if (item.ID !=null) return item.ID + ' (' + item.Name +'. '+ item.Description+ ')' },
                                           optionsValue: 'ID',
                                           optionsCaption: 'Please Select...',
                                           value: $root.Selected().FXCompliance,
                                           event: { change: function() {$root.PopulateSelected('TransactionCaller', 'FXCompliance'); } }"></select>
                        <label data-bind="if: $root.IsCompliance" class="control-label bolder text-danger">*</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Signature Verification</label>

                <label class="col-sm-1">
                    <input id="check-signature-verification" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsSignatureVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-dormant-account">Dormant Account</label>

                <label class="col-sm-1">
                    <input id="check-dormant-account" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsDormantAccount" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-freeze-account">Freeze Account</label>

                <label class="col-sm-1">
                    <input id="check-freeze-account" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsFreezeAccount" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Payment Details</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <textarea class="col-sm-12" name="purpose-detail" id="purpose-detail" rows="6" disabled="disabled" data-bind="value: Transaction.PaymentDetails"></textarea>
                    </div>
                </div>
            </div>

            <div class="widget-box ui-sortable-handle" data-bind="visible: Transaction.Product.Name  == 'SKN' || Transaction.Product.Name == 'RTGS' || Transaction.Product.Name == 'OTT'">
                <div class="widget-header">
                    <h4 class="widget-title">Waive Charges Options</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">
                            <label class="col-sm-3 control-label bolder no-padding-right" for="resident">CBG Customer</label>
                            <div class="col-sm-3" data-bind="if: Transaction.CBGCustomer != null">
                                <select id="cbgcustomer" name="cbgcustomer" data-bind="options:$root.CBGCustomer,
                            optionsText:'Code',optionsValue: 'ID',
                            optionsCaption: 'Please Select...',
                            value: Transaction.CBGCustomer.ID" class="col-sm-9" disabled="disabled"></select>
                            </div>

                            <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Transaction Using Debit Sundry</label>
                            <div class="col-sm-3" data-bind="if: Transaction.TransactionUsingDebitSundry != null">
                                <select id="transactionusingdebitsundry" name="transactionusingdebitsundry" data-bind="options:$root.TransactionUsingDebitSundry,
                            optionsText:'Code',optionsValue: 'ID',
                            optionsCaption: 'Please Select...',
                            value: Transaction.TransactionUsingDebitSundry.ID" class="col-sm-9" disabled="disabled"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="others">Others Exceptional Handling</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <textarea class="col-sm-12" name="others" id="others" rows="6" disabled="disabled" data-bind="value: Transaction.Others"></textarea>
                    </div>
                </div>
            </div>

            <div data-bind="visible: Transaction.IsIPETMO">
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="type">Instruction</label>
                    <label class="col-sm-8">
                        <input id="citizen" name="citizen" class="ace ace-switch ace-switch-2" type="checkbox" disabled="disabled" data-bind="checked: Transaction.Instruction" />
                        <span class="lbl"></span>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="type">Statement Letter</label>
                    <label class="col-sm-8">
                        <input id="citizen" name="citizen" class="ace ace-switch ace-switch-2" type="checkbox" disabled="disabled" data-bind="checked: Transaction.StatementLetter" />
                        <span class="lbl"></span>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="type">Underlying</label>
                    <label class="col-sm-8">
                        <input id="citizen" name="citizen" class="ace ace-switch ace-switch-2" type="checkbox" disabled="disabled" data-bind="checked: Transaction.Underlying" />
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="space-4"></div>

        <!-- transaction callbacks start -->
        <div id="transaction-callback" class="form-horizontal">
            <h3 class="header smaller lighter dark">Callback</h3>

            <div class="table-responsive">
                <div class="table-responsive" role="grid">
                    <table id="customerContact-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">Contacted Name</th>
                                <th class="center">Phone No</th>
                                <th class="center">DOB</th>
                                <!--<th class="center">Address</th>-->
                                <th class="center">ID Number</th>
                                <th class="center">POA Function</th>
                                <th class="center">Occupation ID</th>
                                <th class="center">Place of Birth</th>
                                <th class="center">Effective Date</th>
                                <th class="center">Cancellation Date</th>
                                <!--<th class="center">Select</th>-->
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Transaction.Customer.Contacts">
                            <tr data-bind="click: $root.SelectedContacts">
                                <td><span data-bind="text: Name"></span></td>
                                <td><span data-bind="text: PhoneNumber"></span></td>
                                <td><span data-bind="text: $root.LocalDate(DateOfBirth, true, false)"></span></td>
                                <td><span data-bind="text: IDNumber"></span></td>
                                <td><span data-bind="text: POAFunctionVW"></span></td>
                                <td><span data-bind="text: OccupationInID"></span></td>
                                <td><span data-bind="text: PlaceOfBirth"></span></td>
                                <td><span data-bind="text: $root.LocalDate(EffectiveDate, true, false)"></span></td>
                                <td><span data-bind="text: $root.LocalDate(CancellationDate, true, false)"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="space-4"></div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11">
                    Transaction Information Verification
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Hubungan Keuangan')">
                    <input type="checkbox" class="ace ace-switch ace-switch-6" data-bind="checked: IsVerified" /><!--data-bind="checked: TransactorRelationship" -->
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" for="DestinationCode">
                    Sandi Tujuan Transaksi LLD / Destination Code
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Sandi Tujuan')">
                    <input id="DestinationCode" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--data-bind="checked: DestinationCode" -->
                    <span class="lbl"></span>
                </label>
            </div>
        </div>
        <!-- transaction callbacks end -->

        <div class="space-16"></div>

        <h3 class="header smaller lighter dark">
            Callback Time
            <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.LoadCustomerCallback">
                <i class="icon-plus"></i>
                Load Customer Callback
            </button>
        </h3>

        <div class="table-responsive">
            <div class="table-responsive" role="grid">
                <table id="customerContacted-table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="center">Contacted Name</th>
                            <th class="center">Call Back Time</th>
                            <th class="center">Remark</th>
                            <th class="center">Is UTC</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Callbacks">
                        <tr>
                            <td><span data-bind="text: Contact.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(Time)"></span></td>
                            <!--<td>
                                <div class="input-group bootstrap-timepicker">
                                    <input type="text" class="form-control time-picker" data-bind="timepicker: true, text: Time" />
                                    <span class="input-group-addon">
                                        <i class="icon-time bigger-110"></i>
                                    </span>
                                </div>
                            </td>-->
                            <td><span data-bind="text: Remark"></span></td>
                            <td class="center">
                                <label>
                                    <input type="checkbox" class="ace ace-switch ace-switch-6" data-bind="checked: IsUTC" disabled="disabled" />
                                    <span class="lbl"></span>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: Callbacks !=null && Callbacks.length == 0">
                        <tr>
                            <td colspan="4" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-horizontal" role="form">
            <div class="form-group" data-bind="visible:false">
                <label class="col-sm-3 control-label">
                    Remarks
                </label>

                <div class="col-sm-9">
                    <textarea name="remarks" id="remarks" class="col-sm-12" rows="5" data-bind="event: { change: $root.OnRemarkChanges }"></textarea>
                </div>
            </div>
        </div>

        <div class="space-4"></div>

        <div class="space-10"></div>

        <div data-bind="if:(Transaction.Customer.Underlyings != null && ($root.ProductID() == ConsProductID.OTTProductIDCons || Transaction.Product.Code == 'OV'))">
            <h3 class="header smaller lighter dark">Un-utilize Underlying Documents</h3>
            <div data-bind="visible: Transaction.IsIPETMO">
                <div class="table-responsive">
                    <div class="dataTables_wrapper" role="grid" data-bind="with: Transaction.Customer">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Statement Letter</th>
                                    <th>Underlying</th>
                                    <th>Type of Docs</th>
                                    <th>Currency</th>
                                    <th>Amount</th>
                                    <th>Available Amount in USD</th>
                                    <th>Utilize Amount Deal</th>
                                    <th>Date</th>
                                    <th>Supllier Name</th>
                                    <th>Ref. Number</th>
                                    <th style="width:50px">Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: Underlyings">
                                <tr>
                                    <td><span data-bind="text: $index() +1"></span></td>
                                    <td><span data-bind="text: StatementLetter.Name"></span></td>
                                    <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                    <td><span data-bind="text: DocumentType.Name"></span></td>
                                    <td><span data-bind="text: Currency.Code"></span></td>
                                    <td align="right"><span data-bind="text: formatNumber_r(Amount)"></span></td>
                                    <td align="right"><span data-bind="text: formatNumber_r(AvailableAmount)"></span></td>
                                    <td align="right"><span data-bind="text: formatNumber_r(UtilizeAmountDeal)"></span></td>
                                    <td><span data-bind="text: $root.LocalDate(ExpiredDate, true, false)"></span></td>
                                    <td><span data-bind="text: SupplierName"></span></td>
                                    <td><span data-bind="text: ReferenceNumber"></span></td>
                                    <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: $root.GetUnderlyingSelectedEditRow">View</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div data-bind="visible: Transaction.IsIPETMO != true">
                <div class="table-responsive">
                    <div class="dataTables_wrapper" role="grid" data-bind="with: Transaction.Customer">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Statement Letter</th>
                                    <th>Underlying</th>
                                    <th>Type of Docs</th>
                                    <th>Currency</th>
                                    <th>Amount</th>
                                    <th>Available Amount in USD</th>
                                    <th>Date</th>
                                    <th>Supllier Name</th>
                                    <th>Ref. Number</th>
                                    <th style="width:50px">Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: Underlyings">
                                <tr>
                                    <td><span data-bind="text: $index() +1"></span></td>
                                    <td><span data-bind="text: StatementLetter.Name"></span></td>
                                    <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                    <td><span data-bind="text: DocumentType.Name"></span></td>
                                    <td><span data-bind="text: Currency.Code"></span></td>
                                    <td align="right"><span data-bind="text: formatNumber_r(Amount)"></span></td>
                                    <td align="right"><span data-bind="text: formatNumber_r(AvailableAmount)"></span></td>
                                    <td><span data-bind="text: $root.LocalDate(ExpiredDate, true, false)"></span></td>
                                    <td><span data-bind="text: SupplierName"></span></td>
                                    <td><span data-bind="text: ReferenceNumber"></span></td>
                                    <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: $root.GetUnderlyingSelectedRow">View</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="space-10"></div>


            <div id="transaction-form3" class="form-horizontal" role="form">

                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="total-utilization">Total Utilization</label>
                    <label class="col-sm-8">
                        <span id="total-utilization" name="total-utilization" data-bind="text:formatNumber_r($root.AmountModel().TotalPPUUtilization())"></span>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="total-utilization">Total IDR->FCY Transaction in USD</label>
                    <label class="col-sm-8">
                        <span id="total-idr-fcy" name="total-idr-fcy" data-bind="text:formatNumber_r($root.AmountModel().TotalPPUAmountsUSD())"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="space-6"></div>

        <div class="padding-4">
            <h3 class="header smaller lighter dark">Attachment</h3>
            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: Transaction.Documents !=null && Transaction.Documents.length == 0">
                        <tr>
                            <td colspan="5" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
    <!--[if gte mso 9]><xml>
    <mso:CustomDocumentProperties>
    <mso:PublishingIsFurlPage msdt:dt="string">0</mso:PublishingIsFurlPage>
    <mso:PublishingContactPicture msdt:dt="string"></mso:PublishingContactPicture>
    <mso:PublishingRollupImage msdt:dt="string"></mso:PublishingRollupImage>
    <mso:Audience msdt:dt="string"></mso:Audience>
    <mso:PublishingContactName msdt:dt="string"></mso:PublishingContactName>
    <mso:Comments msdt:dt="string"></mso:Comments>
    <mso:PublishingContactEmail msdt:dt="string"></mso:PublishingContactEmail>
    </mso:CustomDocumentProperties>
    </xml><![endif]-->
    <title></title>
</head>
