﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>

                <label class="col-sm-1 control-label bolder no-padding-right">Normal</label>

                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: Transaction.IsNormal ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <div class="col-sm-6">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-12" name="customer-name" id="customer-name" disabled="disabled" data-rule-required="true" data-bind="value: Transaction.Customer.Name" />
                    </div>
                </div>

                <label class="col-sm-2">
                    <span class="label label-warning arrowed" data-bind="if: Transaction.IsNewCustomer">
                        <i class="icon-warning-sign bigger-120"></i>
                        New Customer
                    </span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-3" name="cif" id="cif" disabled="disabled" data-bind="value: Transaction.Customer.CIF" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="product" name="product" data-rule-required="true" disabled="disabled"
                                data-bind="options: $root.Products,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.Product.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="channel" name="channel" disabled="disabled" data-rule-required="true" data-bind="options: $root.Channels, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Channel.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="if: $root.IsPPURole()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="source" name="source" disabled="disabled" data-rule-required="true" data-bind="options: $root.Sources, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.SourceID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Remarks</label>
                <label class="col-sm-8">
                    <textarea class="col-lg-10" id="remarks" rows="6" data-bind="value: Transaction.Remarks,disable:true"></textarea>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Signature Verification</label>

                <label class="col-sm-1">
                    <input id="check-signature-verification" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsSignatureVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-dormant-account">Dormant Account</label>

                <label class="col-sm-1">
                    <input id="check-dormant-account" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsDormantAccount" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-freeze-account">Freeze Account</label>

                <label class="col-sm-1">
                    <input id="check-freeze-account" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsFreezeAccount" />

                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: Transaction.Channel.Name == 'Fax'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-loi-available">Letter of Indemnity Available</label>

                <label class="col-sm-1">
                    <input id="check-loi-available" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsLOIAvailable" />

                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-statement-Letter-copy">Statement Letter Copy</label>

                <label class="col-sm-1">
                    <input id="check-statement-Letter-copy" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsStatementLetterCopy" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="others">Others Exceptional Handling</label>
                <div class="col-sm-8">
                    <div class="clearfix">
                        <div class="space-4"></div>
                        <textarea class="col-sm-12" name="others" id="others" rows="6" disabled="disabled" data-bind="value: Transaction.Others"></textarea>
                    </div>
                    <div class="space-4"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-completeness">Document Completeness</label>

                <label class="col-sm-9" data-bind="with: $root.VerifyColumn('Document Completeness')">
                    <input id="check-document-completeness" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: IsVerified, click: IsDocumentCompleteCheck()" />
                    <span class="lbl"></span>
                </label>
            </div>
        </div>

        <div class="space-4"></div>

        <!-- transaction callbacks start -->
        <div id="transaction-callback">
            <h3 class="header smaller lighter dark">Callback</h3>

            <div class="table-responsive">
                <div class="table-responsive" role="grid">
                    <table id="customerContact-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">Contacted Name</th>
                                <th class="center">Phone No</th>
                                <th class="center">DOB</th>
                                <!--<th class="center">Address</th>-->
                                <th class="center">ID Number</th>
                                <th class="center">POA Function</th>
                                <th class="center">Occupation ID</th>
                                <th class="center">Place of Birth</th>
                                <th class="center">Effective Date</th>
                                <th class="center">Cancellation Date</th>
                                <!--<th class="center">Select</th>-->
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Transaction.Customer.Contacts">
                            <tr data-bind="click: $root.SelectedContacts">
                                <td><span data-bind="text: Name"></span></td>
                                <td><span data-bind="text: PhoneNumber"></span></td>
                                <td><span data-bind="text: $root.LocalDate(DateOfBirth, true, false)"></span></td>
                                <!--<td><span data-bind="text: moment(DateOfBirth).format('MM-DD-YYYY')"></span></td>-->
                                <!--<td><span data-bind="text: Address "></span></td>-->
                                <td><span data-bind="text: IDNumber"></span></td>
                                <td><span data-bind="text: POAFunctionVW"></span></td>
                                <td><span data-bind="text: OccupationInID"></span></td>
                                <td><span data-bind="text: PlaceOfBirth"></span></td>
                                <td><span data-bind="text: $root.LocalDate(EffectiveDate, true, false)"></span></td>
                                <td><span data-bind="text: $root.LocalDate(CancellationDate, true, false)"></span></td>
                                <!--<td><span data-bind="text: moment(EffectiveDate).format('MM-DD-YYYY')"></span></td>
                                <td><span data-bind="text: moment(CancellationDate).format('MM-DD-YYYY')"></span></td>-->
                                <!--<td class="center">
                                    <label>
                                        <input type="checkbox" class="ace ace-switch ace-switch-6" data-bind="value:ID, event:{change: $root.SelectedContacts}, attr: { id: 'checkbox'+$index()+'' }"/>
                                        <span class="lbl"></span>
                                    </label>
                                </td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--<div class="space-4"></div>

            <div class="row">
                <div class="col-sm-12">
                    <pre data-bind="text: JSON.stringify(ko.toJS($root.TransactionCallback), null, 2)"></pre>
                </div>
            </div>-->

            <div class="space-4"></div>

            <!-- <div id="transaction-callback-form" class="form-horizontal" role="form">
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11">
                    Sumber Dana Pengiriman Uang / Remittance Source of Funds
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Sumber Dana')">
                    <input name="Remittance" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div> -->
            <!--<div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" for="PaymentDetail">
                    Detail Pembayaran (Berita Untuk Penerima) / Payment Detail (Message for Beneficiary)
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Detail Pembayaran')">
                    <input id="PaymentDetail" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash;data-bind="checked: PaymentDetail" &ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-12 bolder">
                    STATUS / STATUS
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" for="Residence">
                    A. Penduduk / Residence
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Penduduk')">
                    <input id="Residence" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash;data-bind="checked: Residence" &ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" style="padding-left: 30px" for="CountryCodeResidence">
                    Kode Negara / Country Code
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Kode Negara')">
                    <input id="CountryCodeResidence" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash;data-bind="checked: CountryCodeResidence" &ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" for="NonResidence">
                    B. Bukan Penduduk / Non Residence
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bukan Penduduk')">
                    <input id="NonResidence" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash;data-bind="checked: NonResidence"&ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" style="padding-left: 30px" for="CountryCodeNonResidence">
                    Kode Negara / Country Code
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Kode Negara Bukan Penduduk')">
                    <input id="CountryCodeNonResidence" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash;data-bind="checked: CountryCodeNonResidence" &ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-12 bolder">
                    KATEGORI / CATEGORY
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" for="Beneficiary">
                    A. Penerima Sama dengan Pengirim / Beneficiary is Remitter
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Penerima Sama')">
                    <input id="Beneficiary" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash;data-bind="checked: Beneficiary" &ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" for="Individual">
                    B. Perorangan / Individual
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Perorangan')">
                    <input id="Individual" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash;data-bind="checked: Individual" &ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" for="Goverment">
                    C. Pemerintah / Government
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Pemerintah')">
                    <input id="Goverment" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash; data-bind="checked: Goverment"&ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" for="Bank">
                    D. Bank
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bank')">
                    <input id="Bank" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash; data-bind="checked: Bank" &ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" style="padding-left: 30px" for="CentralBank">
                    - Bank Sentral / Central Bank
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bank Sentral')">
                    <input id="CentralBank" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash;data-bind="checked: CentralBank"&ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <div class="col-sm-11" style="padding-left: 30px">
                    <label class="control-label" for="ReportingBank">
                        - Bank Pelapor / Reporting Bank
                    </label>
                </div>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bank Pelapor')">
                    <input id="ReportingBank" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash; data-bind="checked: ReportingBank"&ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" style="padding-left: 30px" for="Branch">
                    - KC / KP di LN / Branch / Head Office Abroad
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('KC / KP di LN')">
                    <input id="Branch" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash; data-bind="checked: Branch"&ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" style="padding-left: 30px" for="OtherBank">
                    - Bank Lainnya / Other Bank
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bank Lainnya')">
                    <input id="OtherBank" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash;data-bind="checked: OtherBank" &ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" for="NonBank">
                    E. Lembaga Keuangan Non Bank / Non Bank Financial Institution
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Lembaga Keuangan Non Bank')">
                    <input id="NonBank" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash; data-bind="checked: NonBank"&ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" for="Enterprise">
                    F. Perusahaan / Enterprise
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Perusahaan')">
                    <input id="Enterprise" class="ace ace-switch ace-switch-6" type="checkbox"  data-bind="checked: IsVerified" />&lt;!&ndash; data-bind="checked: Enterprise"&ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" for="Other">
                    G. Lainnya / Others
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Lainnya')">
                    <input id="Other" class="ace ace-switch ace-switch-6" type="checkbox"  data-bind="checked: IsVerified" />&lt;!&ndash;data-bind="checked: Other" &ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>-->

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11">
                    Transaction Information Verification
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Hubungan Keuangan')">
                    <input type="checkbox" class="ace ace-switch ace-switch-6" data-bind="checked: IsVerified" /><!--data-bind="checked: TransactorRelationship" -->
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-11" for="DestinationCode">
                    Sandi Tujuan Transaksi LLD / Destination Code
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Sandi Tujuan')">
                    <input id="DestinationCode" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--data-bind="checked: DestinationCode" -->
                    <span class="lbl"></span>
                </label>
            </div>
        </div>
        <!-- transaction callbacks end -->

        <div class="space-4"></div>
        <h3 class="header smaller lighter dark">Callback Time</h3>

        <div class="table-responsive">
            <div class="table-responsive" role="grid">
                <table id="customerContacted-table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="center">Contacted Name</th>
                            <th class="center">Call Back Time</th>
                            <th class="center">Remark</th>
                            <th class="center">Is UTC</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Callbacks">
                        <tr>
                            <td><span data-bind="text: Contact.Name"></span></td>
                            <td><span data-bind="text: $root.TimeFormat(Time)"></span></td>
                            <!--<td>
                                <div class="input-group bootstrap-timepicker">
                                    <input type="text" class="form-control time-picker" data-bind="timepicker: true, text: Time" />
                                    <span class="input-group-addon">
                                        <i class="icon-time bigger-110"></i>
                                    </span>
                                </div>
                            </td>-->
                            <td><span data-bind="text: Remark"></span></td>
                            <td class="center">
                                <label>
                                    <input type="checkbox" class="ace ace-switch ace-switch-6" data-bind="checked: IsUTC" disabled="disabled" />
                                    <span class="lbl"></span>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: Callbacks !=null && Callbacks.length == 0">
                        <tr>
                            <td colspan="4" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-horizontal" role="form">
            <!--<div data-bind="foreach: Callbacks">
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Call back time :
                    </label>

                    <div class="col-sm-2">
                        <div class="clearfix">
                            <div class="input-group bootstrap-timepicker">
                                <input type="text" autocomplete="off" class="form-control time-picker"  data-bind="timepicker: true, value: Time, attr: { id: 'timepicker'+$index()+'' }" />
                                <span class="input-group-addon">
                                    <i class="icon-time bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-4"></div>
            </div>-->

            <div class="form-group" data-bind="visible:false">
                <label class="col-sm-3 control-label">
                    Remarks
                </label>

                <div class="col-sm-9">
                    <textarea name="remarks" id="remarks" class="col-sm-12" rows="5" data-bind="event: { change: $root.OnRemarkChanges }"></textarea>
                </div>
            </div>
        </div>

        <div class="space-4"></div>

        <div class="space-16"></div>

        <div class="padding-4">
            <h3 class="header smaller lighter dark">Attachment</h3>

            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: Transaction.Documents.length == 0">
                        <tr>
                            <td colspan="13" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
