﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <label class="col-sm-8">
                    <span name="customer-name" id="customer-name" data-bind="text: Transaction.Customer.Name"></span>
                    <span class="label label-warning arrowed" data-bind="if: Transaction.IsNewCustomer">
                        <i class="icon-warning-sign bigger-120"></i>
                        New Customer
                    </span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <label class="col-sm-9">
                    <span name="cif" id="cif" data-bind="text: Transaction.Customer.CIF"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>

                <label class="col-sm-9">
                    <span id="product-code" name="product" data-bind="text: Transaction.Product.Code"></span>
                    (<span id="product-name" name="product" data-bind="text: Transaction.Product.Name"></span>)
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency-code">Currency</label>

                <label class="col-sm-8">
                    <span id="currency-code" name="currency" data-bind="text: Transaction.Currency.Code"></span>
                    (<span id="currency-desc" name="currency" data-bind="text: Transaction.Currency.Description"></span>)
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trxn-amount">Trxn Amount</label>

                <label class="col-sm-8">
                    <span name="trxn-amount" id="trxn-amount" data-bind="text: formatNumber(Transaction.Amount)"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="rate">Rate</label>

                <label class="col-sm-9">
                    <span name="rate" id="rate" data-bind="text: formatNumber_r(Transaction.Rate)"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="eqv-usd">Eqv. USD</label>

                <label class="col-sm-8">
                    <span name="eqv-usd" id="eqv-usd" data-bind="text: formatNumber_r(Transaction.AmountUSD)"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <label class="col-sm-8">
                    <span id="channel" name="channel" data-bind="text: Transaction.Channel.Name"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-number">Debit Acc Number</label>

                <label class="col-sm-8">
                    <span id="debit-acc-number" name="debit-acc-number" data-bind="text: Transaction.Account.AccountNumber"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-ccy-code">Debit Acc CCY</label>

                <label class="col-sm-9" data-bind="with: Transaction">
                    <span name="debit-acc-ccy" id="debit-acc-ccy-code" data-bind="text: DebitCurrency.Code"></span>
                    (<span name="debit-acc-ccy" id="debit-acc-ccy-desc" data-bind="text: DebitCurrency.Description"></span>)
                </label>
            </div>

            <!--add data sundry detail henggar-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: Transaction.Product.Name ='OTT'">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="debit-sundry">Debit Sundry</label>

                <label class="col-sm-9" data-bind="if: Transaction.Sundry !=null">
                    <span id="debit-sundry" name="debit-sundry" data-bind="text: Transaction.Sundry.OABAccNo"></span>
                </label>
            </div>
            <!--end-->

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="application-date">Application Date</label>

                <label class="col-sm-9">
                    <span id="application-date" name="application-date" data-bind="text: $root.LocalDate(Transaction.ApplicationDate, true)"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="biz-segment-code">Biz Segment</label>

                <label class="col-sm-8">
                    <span id="biz-segment-code" name="biz-segment" data-bind="text: Transaction.BizSegment.Description"></span>
                    (<span id="biz-segment-desc" name="biz-segment" data-bind="text: Transaction.BizSegment.Name"></span>)
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: ($root.t_IsFxTransaction() || $root.t_IsFxTransactionToIDR())&&$root.ProductID() == ConsProductID.OTTProductIDCons">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-type-name">Product Type</label>
                <div data-bind="ifnot:Transaction.ProductType==null">
                    <label class="col-sm-8">
                        <span id="product-type-name" name="product-type" data-bind="text: Transaction.ProductType.Code"></span>
                    </label>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-name">Bene Name</label>

                <label class="col-sm-8">
                    <span name="bene-name" id="bene-name" data-bind="text: Transaction.BeneName"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-bank">Bene Bank</label>

                <label class="col-sm-8">
                    <span id="bene-bank" name="bene-bank" data-bind="text: Transaction.Bank.Description"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-code">Swift Code/Bank Code</label>

                <label class="col-sm-8">
                    <span name="bank-code" id="bank-code" data-bind="text: Transaction.Bank.SwiftCode"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-acc-number">Bene Acc Number</label>

                <label class="col-sm-8">
                    <span name="bene-acc-number" id="bene-acc-number" data-bind="text: formatAccount(Transaction.BeneAccNumber)"></span>
                </label>
            </div>

            <div data-bind="if: Transaction.BankCharges != null && (Transaction.Product.Name == 'OTT' || Transaction.Product.Name == 'RTGS' || Transaction.Product.Name == 'SKN'), attr: { class: 'form-group form-line no-margin-bottom no-padding-bottom' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-charges">Bank Charges</label>

                <label class="col-sm-8">
                    <span name="bank-chages" id="bank-charges" data-bind="text: Transaction.BankCharges.Code"></span>
                </label>
            </div>

            <div data-bind="visible: Transaction.AgentCharges != null && (Transaction.Product.Name == 'RTGS'), attr: { class: 'form-group form-line no-margin-bottom no-padding-bottom' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="agent-charges">Agent Charges</label>

                <label class="col-sm-9">
                    <span name="agent-charges" id="agent-charges" data-bind="text: Transaction.AgentCharges.Code"></span>
                </label>
            </div>

            <div data-bind="visible: Transaction.Product.Name == 'SKN', attr: { class: 'form-group form-line no-margin-bottom no-padding-bottom' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="type">Type</label>

                <label class="col-sm-9">
                    <span name="type" id="type" data-bind="text: Transaction.Type"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="type">Citizen</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Transaction.IsCitizen ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="type">Resident</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Transaction.IsResident ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: Transaction.Product.Code == 'SK'">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="type">
                    Beneficiary Resident
                </label>
                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Transaction.IsBeneficiaryResident ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div data-bind="visible: Transaction.Product.Code == 'SK', attr: { class: 'form-group form-line no-margin-bottom no-padding-bottom' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="agent-charges">Beneficiary Business Type</label>
                <label class="col-sm-9" data-bind="if:Transaction.BeneficiaryBusines !=null">
                    <span id="agent-charges" data-bind="text: Transaction.BeneficiaryBusines.Code+' ('+ Transaction.BeneficiaryBusines.Name+')'"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <div class="space-4"></div>
                <label class="col-sm-3 control-label bolder no-padding-right" for="lld-code">LLD Code</label>

                <label class="col-sm-9" data-bind="if:Transaction.LLD != null">
                    <span name="agent-charges" id="lld" data-bind="text: Transaction.LLD.Code + ' (' + Transaction.LLD.Description + ')'"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Payment Details</label>

                <label class="col-sm-8">
                    <span name="purpose-detail" id="purpose-detail" data-bind="text: Transaction.PaymentDetails"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-callback-required">Callback is Required</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Checker.IsCallbackRequired ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Signature Verification</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Checker.IsSignatureVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-dormant-account">Dormant Account</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Checker.IsDormantAccount ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-freeze-account">Freeze Account</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Checker.IsFreezeAccount ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: Transaction.Channel.Name == 'Fax'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-loi-available">Letter of Indemnity Available</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Checker.IsLOIAvailable ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-statement-Letter-copy">Statement Letter Copy</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Checker.IsStatementLetterCopy ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="others">Others</label>

                <!--<label class="col-sm-8">
                    <span name="others" id="others" data-bind="text: Transaction.Others"></span>
                </label>-->

                <div class="col-sm-8">
                    <div class="clearfix">
                        <div class="space-4"></div>
                        <!--
                                                <textarea class="col-sm-12" name="others" id="others" rows="6" data-bind="value: Checker.Others" ></textarea>
                        -->
                        <textarea class="col-sm-12" name="others" id="others" rows="6" data-bind="value: Checker.Others"></textarea>
                    </div>
                    <div class="space-4"></div>
                </div>

                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Others')">
                    <input name="check-others" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-completeness">Document Completeness</label>


                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Transaction.IsDocumentComplete ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>

                <!--<label class="col-sm-9" >
                    <input id="check-document-completeness" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Transaction.IsDocumentComplete " />
                    <span class="lbl"></span>
                </label>-->
            </div>
        </div>

        <div class="space-16"></div>

        <!-- <div data-bind="if: Transaction.Currency.Code != 'IDR' && Transaction.Account.Currency.Code == 'IDR'">
         <span data-bind="text:Transaction.Currency.Code"></span> -->
        <div data-bind="if: (($root.t_IsFxTransaction() ||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue())) && $root.ProductID() == ConsProductID.OTTProductIDCons)">

            <h3 class="header smaller lighter dark">Un-utilize Underlying Documents</h3>

            <div class="table-responsive">
                <div class="dataTables_wrapper" role="grid" data-bind="with: Transaction.Customer">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Statement Letter</th>
                                <th>Underlying</th>
                                <th>Type of Docs</th>
                                <th>Currency</th>
                                <th>Amount</th>
                                <th>Available Amount in USD</th>
                                <th>Date</th>
                                <th>Supllier Name</th>
                                <th>Ref. Number</th>
                                <th style="width:50px">Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Underlyings">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><span data-bind="text: StatementLetter.Name"></span></td>
                                <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                <td><span data-bind="text: DocumentType.Name"></span></td>
                                <td><span data-bind="text: Currency.Code"></span></td>
                                <td align="right"><span data-bind="text: formatNumber_r(Amount)"></span></td>
                                <td align="right"><span data-bind="text: formatNumber_r(AvailableAmount)"></span></td>
                                <td><span data-bind="text: $root.LocalDate(ExpiredDate, true, false)"></span></td>
                                <!--<td><span data-bind="text: moment(ExpiredDate).format('YYYY/MM/DD')"></span></td>-->
                                <td><span data-bind="text: SupplierName"></span></td>
                                <td><span data-bind="text: ReferenceNumber"></span></td>
                                <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: $root.GetUnderlyingSelectedRow">View</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="space-10"></div>

            <div id="transaction-form1" class="form-horizontal" role="form">

                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-code">Underlying Code</label>
                    <div data-bind="ifnot:Transaction.UnderlyingDoc==null">
                        <label class="col-sm-8">
                            <span id="underlying-code2" name="underlying-code" data-bind="text: Transaction.UnderlyingDoc.Code"></span>
                            (<span id="underlying-code3" name="underlying-code" data-bind="text: Transaction.UnderlyingDoc.Name"></span>)
                        </label>
                    </div>
                </div>
                <!--
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Total Underlying Utilization Amount</label>

                    <label class="col-sm-8">
                        <span id="utilization-amount" name="utilization-amount" data-bind="text:  formatNumber_r(Transaction.AmountUSD)"></span>
                    </label>
                </div> -->

                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="total-utilization">Total Utilization</label>
                    <label class="col-sm-8">
                        <span id="total-utilization" name="total-utilization" data-bind="text:formatNumber_r($root.AmountModel().TotalPPUUtilization())"></span>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="total-utilization">Total IDR->FCY Transaction in USD</label>
                    <label class="col-sm-8">
                        <span id="total-idr-fcy" name="total-idr-fcy" data-bind="text:formatNumber_r($root.AmountModel().TotalPPUAmountsUSD())"></span>
                    </label>
                </div>

                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="tz-number">TZ Number</label>

                    <label class="col-sm-8">
                        <span id="tz-number" name="tz-number" data-bind="text:  Transaction.TZNumber"></span>
                    </label>
                </div>

            </div>

        </div>

        <div class="space-16"></div>

        <div class="padding-4">
            <h3 class="header smaller lighter dark">
                Attachment
                <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocument">
                    <i class="icon-plus"></i>
                    Attach
                </button>
            </h3>

            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: $root.MakerDocuments, visible: $root.MakerDocuments().length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><a data-bind="text: FileName"></a></td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            <td align="center">
                                <a href="#" data-bind="visible: ($root.IsDeleteAllowed(ID) || IsDormant), event: { click: $root.RemoveDocumentData }" class="tooltip-info" data-rel="tooltip" data-placement="right" title="Clear Filters">
                                    <i class="green icon-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: $root.MakerDocuments().length == 0">
                        <tr>
                            <td colspan="6" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
