﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form2" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 no-padding-right" style="margin-left:7%">
                    <b><span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span></b><br />
                    <b>Branch Name</b> : <span data-bind="text: Transaction.Customer.Branch.Name"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>
            <div class="space-4"></div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsCheckerCIF()==true">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-all"></label>

                <label class="col-sm-8 control-label bolder no-padding-right" for="product-code">Check All</label>

                <label id="Checkall" class="col-sm-1">
                    <input name="check-all" id="check-all" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.CheckAll()" onchange="checkAllPPUCheckerCIF(this)" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Product</label>
                <label class="col-sm-8">
                    <span class="col-sm-4" class="col-sm-11" disabled="disabled" data-bind="text:Transaction.Product.Name, visible:$root.IsBranchMakerAfterCBOAccountCIF() == false"></span>
                    <select class="col-sm-4" id="Product" name="Product"
                            data-bind="options: $root.Products,
                                    optionsText: function(item) { if(item.ID != null) return item.Code + ' (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().Product,
                                    optionsCaption: 'Please Select...',visible:$root.IsBranchMakerAfterCBOAccountCIF() == true,disable:true"></select>
                    <label class="control-label bolder text-danger" for="education" data-bind="visible:$root.IsBranchMakerAfterCBOAccountCIF() == true">*</label>


                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Request Type</label>
                <label class="col-sm-8">
                    <span class="col-sm-4" id="RequestType" name="RequestType" class="col-sm-11" disabled="disabled"
                          data-bind="text: Transaction.TransactionType.Name, visible:$root.IsBranchMakerAfterCBOAccountCIF() == false"></span>
                    <select class="col-sm-4" id="RequestType" name="RequestType"
                            data-bind="
                            options: $root.ddlTransactionTypesCIF,
                            optionsText: function(item) { if(item.TransTypeID != null) return item.TransactionTypeName },
                            optionsValue: 'TransTypeID',
                            optionsCaption: 'Please Select...',
                            value: $root.Selected().TransactionType,
                            disable:true, visible:$root.IsBranchMakerAfterCBOAccountCIF() == true"></select>
                    <label class="control-label bolder text-danger" for="education" data-bind="visible:$root.IsBranchMakerAfterCBOAccountCIF() == true">*</label>
                </label>

            </div>

            <div id="lblmaintenanceid" class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Maintenance Type</label>
                <label class="col-sm-8">
                    <span class="col-sm-4" id="MaintenanceType" name="MaintenanceType" class="col-sm-11" disabled="disabled"
                          data-bind="text: Transaction.MaintenanceType.Name, visible:$root.IsBranchMakerAfterCBOAccountCIF() == false"></span>
                    <select class="col-sm-4" id="MaintenanceType" name="MaintenanceType"
                            data-bind="options: $root.ddlMaintenanceTypes,
                            optionsText: function(item) { if(item.ID != null) return item.Name },
                            optionsValue: 'ID',
                            value: $root.Selected().MaintenanceType,
                            optionsCaption: 'Please Select...',
                            visible:$root.IsBranchMakerAfterCBOAccountCIF() == true,
                            disable: true"></select>
                    <label class="control-label bolder text-danger" for="education" data-bind="visible:$root.IsBranchMakerAfterCBOAccountCIF() == true">*</label>
                </label>

            </div>

            <div id="lblDispatchMode" class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Dispatch Mode Type</label>

                <label class="col-sm-8">
                    <span class="col-sm-4" data-bind="text: Transaction.RetailCIFCBO.DispatchModeType, visible:$root.IsBranchMakerAfterCBOAccountCIF() == false" disabled="disabled"></span>
                    <select class="col-sm-4" id="DispatchMode" name="DispatchMode"
                            data-bind="options: $root.ParameterCIF().ddlDispatchModeTypes,
                            optionsText: function(item) { if(item.ID != null) return item.Name },
                            optionsValue: 'ID',
                            value: $root.Selected().DispatchModeType,
                            optionsCaption: 'Please Select...',
                            visible:$root.IsBranchMakerAfterCBOAccountCIF() == true,
                            enable: !$root.VerifyColumn('Dispatch Mode')().IsVerified"></select>
                    <label class="control-label bolder text-danger" for="education" data-bind="visible:$root.IsBranchMakerAfterCBOAccountCIF() == true">*</label>

                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Dispatch Mode'), visible: $root.IsCheckerCIF()==true">
                    <input name="check-dispatch-mode" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div id="lblDispatchMode" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsDispatchModeOther() == 9">
                <label class="col-sm-3 control-label bolder no-padding-right">Other</label>
                <label class="col-sm-8">
                    <span class="col-sm-4" data-bind="text: Transaction.RetailCIFCBO.DispatchModeOther, visible:$root.IsBranchMakerAfterCBOAccountCIF() == false" disabled></span>
                    <input id="DispatchModeOther" type="text" data-bind="value:Transaction.RetailCIFCBO.DispatchModeOther,visible:$root.IsBranchMakerAfterCBOAccountCIF() == true,enable: !$root.VerifyColumn('Dispatch Mode Other')().IsVerified" class="col-sm-11" />
                    <label class="control-label bolder text-danger" for="education" data-bind="visible:$root.IsBranchMakerAfterCBOAccountCIF() == true">*</label>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Dispatch Mode Other'), visible: $root.IsCheckerCIF()==true">
                    <input name="check-dispatch-mode" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!--attachment utc-->
            <div class="padding-4">
                <h3 class="header smaller lighter dark">
                    Attachment
                    <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocumentCIF, visible: ($root.IsBranchMakerAfterCBOAccountCIF()==true || $root.UTCApprovalAttach() == true)">
                        <i class="icon-plus"></i>
                        Attach
                    </button>
                </h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>File Name</th>
                                <th>Document Type</th>
                                <th>Modified</th>
                                <th data-bind="visible:($root.IsBranchMakerAfterCBOAccountCIF()==true || $root.UTCApprovalAttach() == true)">Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Transaction.Documents, visible: (Transaction.Documents != null && (Transaction.Documents != null ? (Transaction.Documents.length > 0) : false)) && ($root.IsBranchMakerAfterCBOAccountCIF() == false && $root.UTCApprovalAttach() == false)">
                            <tr>
                                <td><span data-bind="text: $index() + 1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="foreach: $root.MakerDocuments, visible: $root.MakerDocuments != null && ($root.IsBranchMakerAfterCBOAccountCIF() == true || $root.UTCApprovalAttach() == true)">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td>
                                    <div data-bind="if:IsNewDocument">
                                        <span data-bind="text: FileName"></span>
                                    </div>
                                    <div data-bind="ifnot:IsNewDocument">
                                        <a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a>
                                    </div>
                                </td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                                <td><a href="#" data-bind="click: $root.RemoveDocumentDataCIF">Remove</a></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible:(Transaction.Documents == null || (Transaction.Documents != null ? Transaction.Documents.length == 0 : true) ) && ($root.IsBranchMakerAfterCBOAccountCIF() == false && $root.UTCApprovalAttach() == false)">
                            <tr>
                                <td colspan="6" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.MakerDocuments().length == 0 && ($root.IsBranchMakerAfterCBOAccountCIF() == true || $root.UTCApprovalAttach() == true)">
                            <tr>
                                <td colspan="7" align="center">No entries available.</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <!--end attachment utc-->

        </div>
    </div>
</div>
<div class="space-16"></div>
