﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <!-- Tanggal Pembuatan Transaction -->
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>
                <!-- No Application dan Nama User -->
                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <!-- Urgency -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" id="urgent">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <!-- Customer Name -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>
                <div class="col-sm-6">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-11" name="customer-nameFD" id="customer-nameFD" data-rule-required="true" data-bind="value: Transaction.Customer.Name, disable:true" />
                        <label class="control-label bolder text-danger" for="customer-name">*</label>
                    </div>
                </div>
            </div>

            <!-- CIF -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>
                <div class="col-sm-6">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-3" disabled="disabled" name="cifFD" id="cifFD" data-bind="value: Transaction.Customer.CIF" />
                    </div>
                </div>
            </div>

            <!-- Product -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>
                <div class="col-sm-6">
                    <div class="clearfix">
                        <select id="product" name="product" data-rule-required="true" disabled="disabled" data-bind="options: $root.Products, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Product.ID, enable: !$root.VerifyColumn('Product')"></select>
                    </div>
                </div>
            </div>

            <!-- Channel -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="channel" name="channel" data-rule-required="true" data-bind="options: $root.Channels, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Channel.ID, enable: !$root.VerifyColumn('Channel')"></select>
                    </div>
                </div>
            </div>

            <!--Source-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: viewModel.IsPPURole()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="source" name="source" data-rule-required="true" data-bind="options: $root.Sources, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.SourceID, enable: !$root.VerifyColumn('Source')"></select>
                    </div>
                </div>
            </div>

            <!-- Transaction Type-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="transaction-type"> Transaction Type</label>
                <label class="col-sm-8">
                    <span id="transaction-type" name="transaction-type" data-bind="text: Transaction.TransactionType.TransactionTypeName"></span>
                </label>
            </div>

            <!-- FD Acc Number -->
            <div data-bind="if: Transaction.TransactionType != null,visible: Transaction.TransactionType.TransTypeID != ConsTransactionType.fdNewPlacement , attr: { class: 'form-group form-line no-margin-bottom no-padding-bottom' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="fd-acc-number">FD Acc Number</label>
                <div class="col-sm-4">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-11" name="fd-acc-number" id="fd-acc-number" data-rule-required="true" data-bind="value: Transaction.FDAccNumber, enable: !$root.VerifyColumn('FD Acc Number')" />
                    </div>
                </div>
            </div>

            <!-- Currency-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency-code">Currency</label>

                <label class="col-sm-8">
                    <span id="currency-code" name="currency" data-bind="text: Transaction.Currency.Code"></span>
                    (<span id="currency-desc" name="currency" data-bind="text: Transaction.Currency.Description"></span>)
                </label>
            </div>

            <!-- Amount-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="amount">Amount</label>
                <div class="col-sm-4">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-11 align-right" name="amount" id="amount" data-rule-required="true" data-bind="value: formatNumber(Transaction.Amount), enable: !$root.VerifyColumn('Amount')" />
                    </div>
                </div>
            </div>

            <!-- Debit Account Number -->
            <div data-bind="if: Transaction.TransactionType != null,visible: Transaction.TransactionType.TransTypeID != ConsTransactionType.fdNewPlacement && Transaction.TransactionType.TransTypeID != ConsTransactionType.fdPrematurebreak, attr: { class: 'form-group form-line no-margin-bottom no-padding-bottom' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-number">Debit Account Number</label>
                <div class="col-sm-4">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-11" name="debit-acc-number" id="debit-acc-number" data-rule-required="true" data-bind="value: Transaction.DebitAccNumber" /><!-- , enable: !$root.VerifyColumn('Debit Acc Number') -->
                    </div>
                </div>
            </div>

            <!-- Credit Acc Number -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="credit-acc-number">Credit Acc Number</label>
                <label class="col-sm-8">
                    <span id="credit-acc-number" for="credit-acc-number" data-bind="text: Transaction.CreditAccNumber"></span>
                </label>
            </div>

            <!-- Intersert Rate-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="interest-rate">Interest Rate</label>
                <label class="col-sm-8">
                    <span id="interest-rate" name="interest-rate" data-bind="text: formatNumberInterestRateFD(Transaction.InterestRate)"></span>
                </label>
            </div>

            <!-- Tenor -->
            <!--<div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsFDMaintenance()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="tenor">Tenor</label>
                <label class="col-sm-8">
                    <span id="tenor" name="tenor" data-bind="text: Transaction.Tenor"></span>
                </label>
            </div>-->

            <!-- Value Date-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Value Date</label>
                <label class="col-sm-8">
                    <span id="value-date" name="value-date" data-bind="text: $root.LocalDate(Transaction.ValueDate, true, true)"></span>
                </label>
            </div>

            <!-- maturity date-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="maturity-date">Maturity Date</label>
                <label class="col-sm-8">
                    <span id="maturity-date" name="maturity-date" data-bind="text: $root.LocalDate(Transaction.MaturityDate, true, true)"></span>
                </label>
            </div>

            <!-- Transaction Remarks-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="transaction-remarks">Transaction Remarks</label>
                <label class="col-sm-8">
                    <span id="transaction-remarks" name="transaction-remarks" data-bind="text: Transaction.TransactionRemarks"></span>
                </label>
            </div>

            <!-- Bank Name & Acc No-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-name-acc-no">Bank Name & Acc No</label>
                <label class="col-sm-8">
                    <span id="bank-name-acc-no" name="bank-name-acc-no" data-bind="text: Transaction.BankNameAccNumber"></span>
                </label>
            </div>

            <!-- Attachement Remarks--><!-- New Placement-Branch-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak() || $root.IsNewPlacement()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="attachment-remarks">Attachment Remarks</label>
                <label class="col-sm-8">
                    <span id="attachment-remarks" name="attachment-remarks" data-bind="text:Transaction.AttachmentRemarks"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="docs-complete-fd">Docs Complete</label>
                <label class="col-sm-8">
                    <input type="checkbox" id="docs-complete-fd" data-bind="checked:Transaction.DocsComplete" disabled="disabled" />
                </label>
            </div>

            <!--<div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: !$root.IsDocsComplete()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="all-in-rate-fd">All In Rate</label>
                <label class="col-sm-8">
                    <span id="all-in-rate-fd" data-bind="text:Transaction.AllInRate"></span>
                </label>
            </div>-->
            <!-- Intersert Rate-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: !$root.IsDocsComplete()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="interest-rate">Interest Rate</label>
                <label class="col-sm-8">
                    <span id="interest-rate" name="interest-rate" data-bind="text: formatNumberInterestRateFD(Transaction.InterestRate)"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="tenor-fd">Tenor</label>
                <label class="col-sm-8">
                    <span id="all-in-rate-fd" data-bind="text:Transaction.Tenor"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ftp-rate-fd">FTP Rate</label>
                <label class="col-sm-8">
                    <span id="ftp-rate-fd" data-bind="text:Transaction.FTPRate"></span>
                </label>
            </div>

        </div>
        <div class="space-16"></div>
        <!-- Attachment -->
        <div class="padding-4">
            <h3 class="header smaller lighter dark">Attachment</h3>
            <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocument">
                <i class="icon-plus"></i>
                Attach
            </button>
            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: $root.MakerDocuments(), visible: $root.MakerDocuments().length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: moment(LastModifiedDate).format(config.format.dateTime)"></span></td>
                            <td>
                                <a href="#" data-bind="click: $root.RemoveDocumentFDPPUMakerAfterCheckerCaller">Remove</a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: $root.MakerDocuments().length == 0">
                        <tr>
                            <td colspan="6" align="center">No entries available.</td>
                        </tr>
                    </tbody>                    
                </table>
            </div>
        </div>
    </div>
</div>