<div class="row" data-bind="ifnot: $data == null">
    <div class="row">
        <div class="col-xs-12">
            <div id="customerut-form" class="form-horizontal" role="form">

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right">
                        <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                    </label>

                    <label class="col-sm-4 pull-right">
                        <b>UT</b>
                        <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                        <!--<b>User Name</b> : <span data-bind="text: $root.SPUser().DisplayName"></span>-->
                    </label>
                </div>

                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="check-all"></label>

                    <label class="col-sm-8 control-label bolder no-padding-right" for="product-code">Check All</label>

                    <label class="col-sm-1">
                        <input name="check-all" id="check-all" class="ace ace-switch ace-switch-6" type="checkbox" />
                        <span class="lbl"></span>
                    </label>
                </div>

                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="customerut">Customer Name</label>
                    <div class="col-sm-8">
                        <div class="clearfix">
                            <!--<input type="text" autocomplete="off" class="col-sm-6 autocomplete" name="customerut" data-bind="value: Transaction.Customer().Name" id="customerut" data-rule-required="true" />-->
                            <label class="control-label bolder text-danger" for="customerut">*</label>
                        </div>
                    </div>
                    <label class="col-sm-1" >
                        <!--Verify()[1]-->
                        <input name="check-customername" class="ace ace-switch ace-switch-6" type="checkbox" />
                        <span class="lbl"></span>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="cifut">CIF</label>
                    <label class="col-sm-9">
                        <span name="cifut" id="cifut" data-bind="text: Transaction.Customer.CIF"></span>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>

                    <label class="col-sm-9">
                        <span id="product-code" name="product" data-bind="text: Transaction.Product.Code"></span>
                        (<span id="product-name" name="product" data-bind="text: Transaction.Product.Name"></span>)
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="fnacore">FNA Core</label>
                    <label class="col-sm-8">
                        <span name="fnacore" id="fnacore" ></span>
                    </label>
                    <label class="col-sm-1">
                        <!--Verify()[1]-->
                        <input name="check-customername" class="ace ace-switch ace-switch-6" type="checkbox" />
                        <span class="lbl"></span>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="functiontype">Funtion Type</label>
                    <label class="col-sm-8">
                        <span name="funtiontype" id="fnacore"></span>
                    </label>
                    <label class="col-sm-1">
                        <!--Verify()[1]-->
                        <input name="check-customername" class="ace ace-switch ace-switch-6" type="checkbox" />
                        <span class="lbl"></span>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="accounttype">Account Type</label>
                    <label class="col-sm-8">
                        <span name="accounttype" id="accounttype"></span>
                    </label>
                    <label class="col-sm-1">
                        <!--Verify()[1]-->
                        <input name="check-customername" class="ace ace-switch ace-switch-6" type="checkbox" />
                        <span class="lbl"></span>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="solid">SOL ID</label>
                    <label class="col-sm-8">
                        <span name="solid" id="solid"></span>
                    </label>
                    <label class="col-sm-1">
                        <!--Verify()[1]-->
                        <input name="check-customername" class="ace ace-switch ace-switch-6" type="checkbox" />
                        <span class="lbl"></span>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="customerriskeffectivedate">Customer Risk Effective Date</label>
                    <label class="col-sm-8">
                        <span name="customerriskeffectivedate" id="customerriskeffectivedate"></span>
                    </label>
                    <label class="col-sm-1">
                        <!--Verify()[1]-->
                        <input name="check-customername" class="ace ace-switch ace-switch-6" type="checkbox" />
                        <span class="lbl"></span>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="riskprofileexpirydate">Risk Profile Expiry Date</label>
                    <label class="col-sm-8">
                        <span name="riskprofileexpirydate" id="riskprofileexpirydate"></span>
                    </label>
                    <label class="col-sm-1">
                        <!--Verify()[1]-->
                        <input name="check-customername" class="ace ace-switch ace-switch-6" type="checkbox" />
                        <span class="lbl"></span>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="riskscore">Risk Score</label>
                    <label class="col-sm-8">
                        <span name="riskscore" id="siskscore"></span>
                    </label>
                    <label class="col-sm-1">
                        <!--Verify()[1]-->
                        <input name="check-customername" class="ace ace-switch ace-switch-6" type="checkbox" />
                        <span class="lbl"></span>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="operativeaccount">Operative Account</label>
                    <label class="col-sm-8">
                        <span name="operativeaccount" id="operativeaccount"></span>
                    </label>
                    <label class="col-sm-1">
                        <!--Verify()[1]-->
                        <input name="check-customername" class="ace ace-switch ace-switch-6" type="checkbox" />
                        <span class="lbl"></span>
                    </label>
                </div>

                <div class="space-16"></div>
                <div class="padding-4">
                    <h3 class="header smaller lighter dark">Attachment</h3>
                    <div class="dataTables_wrapper" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th style="width:50px">No.</th>
                                    <th>File Name</th>
                                    <th>Purpose of Docs</th>
                                    <th>Type of Docs</th>
                                    <th>Modified</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: $root.Documents, visible: $root.Documents().length > 0">
                                <tr>

                                    <td><span data-bind="text: $index() +1"></span></td>
                                    <td><span data-bind="text: DocumentPath.name"></span></td>
                                    <td><span data-bind="text: Purpose.Name"></span></td>
                                    <td><span data-bind="text: Type.Name"></span></td>
                                    <td><span data-bind="text: moment(DocumentPath.lastModifiedDate).format(config.format.dateTime)"></span></td>
                                    <td><a href="#" data-bind="click: $root.RemoveDocument">Remove</a></td>
                                </tr>
                            </tbody>
                            <tbody data-bind="visible: $root.Documents().length == 0">
                                <tr>
                                    <td colspan="6" align="center">No entries available.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>


