﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="top-urgent">Top Urgent</label>

                <label class="col-sm-1">
                    <input id="top-urgent" name="top-urgent" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: $root.IsTopUrgent()" />
                    <span class="lbl"></span>
                </label>

                <label class="col-sm-1 control-label bolder no-padding-right" for="top-urgent">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <input id="top-urgent" name="top-urgent" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: $root.IsTopUrgentChain()" />
                    <span class="lbl"></span>
                </label>

                <label class="col-sm-1 control-label bolder no-padding-right" for="isNormal">Normal</label>

                <label class="col-sm-1">
                    <input id="isNormal" name="isNormal" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: $root.IsNormal()" />
                    <span class="lbl"></span>
                </label>

            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <div class="col-sm-6">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-12" name="customer-name" id="customer-name" data-rule-required="true" disabled="disabled" data-bind="value: Transaction.Customer.Name" />
                    </div>
                </div>

                <label class="col-sm-3">
                    <input id="is-new-customer" name="is-new-customer" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsNewCustomer" />
                    <span class="lbl">&nbsp; <b>New Customer</b></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-3" name="cif" id="cif" disabled="disabled" data-bind="value: Transaction.Customer.CIF" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="product" name="product" data-rule-required="true" disabled="disabled" data-bind="options: $root.Products, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Product.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency">Currency</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="currency" name="currency" data-rule-required="true" disabled="disabled"
                                data-bind="options: $root.Currencies,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().Currency,
                                    event: { change: function(){ $root.PopulateSelected('TransactionMakerAfterCaller', 'Currency'); } }"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trxn-amount">Trxn Amount</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="trxn-amount" disabled="disabled" id="trxn-amount" data-in="" onkeyup="OnKeyUp('TransactionMakerAfterCaller')" data-rule-required="true" data-rule-number="true" data-bind="value: formatNumber(Transaction.Amount)" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="rate">IDM Mid Rate (BI Mid-Rate)</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="rate" id="rate" data-rule-number="true" disabled="disabled" data-bind="value: formatNumber_r(Transaction.Rate)" />
                    </div>
                </div>
            </div>
            <!--Permintaan User
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="rate">Transaction Rate</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="rate" id="rate" data-rule-number="true" disabled="disabled" data-bind="value: Transaction.TrxRate" />
                    </div>
                </div>
            </div>
            End-->
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="eqv-usd">Eqv. USD</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="eqv-usd" id="eqv-usd" disabled="disabled" data-rule-required="true" data-rule-number="true" data-bind="value: formatNumber_r(Transaction.AmountUSD)" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="tz-number">TZ Number</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4" name="tz-number" data-bind="value: Transaction.TZNumber" disabled="disabled" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="channel" name="channel" data-rule-required="true" disabled="disabled" data-bind="options: $root.Channels, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Channel.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="if: $root.IsPPURole()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="source" name="source" data-rule-required="true" disabled="disabled" data-bind="options: $root.Sources, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.SourceID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-number">Debit Acc Number</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="book-joinAcc" name="book-statement" data-bind="value: Transaction.IsJointAccount,
                                        options:$root.CIFJointAccounts,
                                        optionsText:'Name',
                                        optionsValue: 'ID',
                                        event:{ change: $root.OnChangeJointAcc },disable:true" class="col-xs-3"></select><!--,enable: !$root.VerifyColumn('Debit Acc Number')().IsVerified-->
                        <select id="debit-acc-number" name="debit-acc-number" data-rule-required="true" data-bind="options: $root.DynamicAccounts,optionsText: function(item) { if(item.AccountNumber != '-'  ){ if(item.CustomerName!=null){return item.AccountNumber+' ('+  item.Currency.Code+') - '+ item.CustomerName } return item.AccountNumber+' ('+  item.Currency.Code+')'} return item.AccountNumber}, optionsValue: 'AccountNumber', optionsCaption: 'Please Select...', value: $root.Selected().Account,event:{ change: $root.CheckEmptyAccountNumber }" disabled="disabled" class="col-xs-5"></select>
                        <label class="control-label bolder text-danger" for="debit-acc-number" data-bind="if: $root.IsDebit">*</label>
                        <input type="text" autocomplete="off" name="debit-acc-number-empty" id="debit-acc-number-empty" disabled="disabled" data-rule-required="true" data-bind="value: Transaction.OtherAccountNumber,visible: $root.IsEmptyAccountNumber()" />
                        <label class="control-label bolder text-danger" for="debit-acc-number" data-bind="visible: $root.IsEmptyAccountNumber()">*</label>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="ifnot: $root.IsOtherAccountNumber">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-ccy">Debit Acc CCY</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-1" name="debit-acc-ccy" id="debit-acc-ccy" disabled="disabled" data-bind="value: Transaction.DebitCurrency.Code" />
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="if: $root.IsOtherAccountNumber">
                <label class="col-sm-3 control-label bolder no-padding-right" for="othercurrency">Debit Acc CCY</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="othercurrency" name="othercurrency" data-rule-required="true" disabled="disabled"
                                data-bind="options: $root.Currencies,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',

                                    value: $root.Selected().DebitCurrency,
                                    event: { change: function(){ $root.PopulateSelected('TransactionMaker', 'DebitCurrency'); } }"></select>
                    </div>
                </div>
            </div>

            <!--add by henggar detail sundry ppu maker after checker and caller-->
            <div class="form-group">
                <!--aridya 20161001 debit sundry muncul tanpa kondisi  data-bind="if: Transaction.Product.Name == 'OTT' && Transaction.Currency.Code !='IDR'"-->
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-sundry">Debit Sundry</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="debit-sundry" name="debit-sundry" disabled="disabled"
                                data-bind="options: $root.Sundry,
                                    optionsText: 'OABAccNo',
                                    optionsValue: 'ID',
                                    value: $root.Selected().Sundry,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function() { $root.PopulateSelected('TransactionMaker', 'Sundry'); } }"></select>
                    </div>
                </div>
            </div>
            <!--end-->
            <!--Permintaan User
            <div class="form-group" data-bind="if: $root.ProductID() == ConsProductID.OTTProductIDCons">
                <label class="col-sm-3 control-label bolder no-padding-right" for="nostro">Nostro</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="nostro" name="nostro" data-rule-required="true" data-rule-value="true" disabled="disabled"
                                data-bind="options: $root.DynamicNostro,
                                    optionsText: 'NostroUsed',
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().Nostro,
                                    event: { change: function() { $root.PopulateSelected('TransactionMaker', 'Nostro'); } }"></select>
                        <label class="control-label bolder text-danger" for="nostro">*</label>
                    </div>
                </div>
            </div>
            End-->

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="application-date">Application Date</label>

                <div class="col-sm-2">
                    <div class="clearfix input-group col-sm-12 no-padding">
                        <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="application-date" name="application-date" data-rule-required="true" data-rule-date="true" disabled="disabled" data-bind="datepicker: true, value: $root.LocalDate(Transaction.ApplicationDate, true)">
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>

                <label data-bind="visible: Transaction.Product.Name == 'OTT' || $root.ProductID() == ConsProductID.OverbookingProductIDCons" class="col-sm-3 control-label bolder no-padding-right" for="application-date">Credit Value Date</label>

                <div class="col-sm-3" data-bind="visible: Transaction.Product.Name == 'OTT' || $root.ProductID() == ConsProductID.OverbookingProductIDCons">
                    <div class="clearfix input-group col-sm-9 no-padding">
                        <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="application-execution" disabled="disabled" name="application-execution" data-rule-required="true" data-rule-date="true" data-bind="datepicker: true, value: $root.LocalDate(Transaction.ExecutionDate, true)">
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="biz-segment">Biz Segment</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="biz-segment" disabled="disabled" name="biz-segment" data-rule-required="true"
                                data-bind="options: $root.BizSegments,
                                    optionsText: function(item){ if(item.Name != null) return item.Name +' ('+ item.Description +')'; },
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.BizSegment.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="if: ($root.t_IsFxTransaction() || $root.t_IsFxTransactionToIDR()) && ($root.ProductID() == ConsProductID.OTTProductIDCons || $root.ProductID() == ConsProductID.OverbookingProductIDCons)">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product Type</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="product-type" name="product-type" data-rule-required="true" class="col-xs-3" disabled="disabled"
                                data-bind="options: $root.ProductTypes,
                                    optionsText: 'Code',
                                    optionsValue: 'ID',
                                    value: $root.Selected().ProductType,
                                    event: { change: function(){ $root.PopulateSelected('TransactionMakerAfterCaller', 'ProductType'); } }"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-name">Bene Name</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-6" name="bene-name" id="bene-name" disabled="disabled" data-bind="value: Transaction.BeneName" /> <!--event: { keypress: enforceMaxlength }, -->
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-bank">Bene Bank</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <div data-bind="if: $root.IsPPUHOMaker, visible: $root.IsPPUHOMaker">
                            <input type="text" autocomplete="off" class="col-sm-11" name="bank-bank" disabled="disabled" id="bank-bank" data-rule-required="true" data-rule-value="true" data-bind="value: Transaction.Bank.Description" />
                            <label class="control-label bolder text-danger" for="bank-name">*</label>
                        </div>
                        <div data-bind="ifnot: $root.IsPPUHOMaker, visible: !$root.IsPPUHOMaker()">
                            <input type="text" autocomplete="off" class="col-sm-11" name="bank-bank" id="bank-bank" data-bind="value: Transaction.Bank.Description" disabled="disabled" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-code">Swift Code/Bank Code</label>

                <label class="col-sm-1">
                    <span id="bank-code" data-bind="text: Transaction.Bank.SwiftCode"></span>
                </label>

                <label class="col-sm-1 control-label bolder no-padding-right" for="bank-branch-code">Branch Code</label>

                <label class="col-sm-2" data-bind="if: Transaction.Branch != null">
                    <span id=" bank-branch-code" data-bind="text: Transaction.Branch.Code">
                    </span>
                    <span id="bank-branch-name" data-bind="text: ' - '+  Transaction.Branch.Name"></span>
                </label>

                <label class="col-sm-1 control-label bolder no-padding-right" for="bank-city-code">City Code</label>

                <label class="col-sm-4" data-bind="if: Transaction.City !=null">
                    <span id="bank-city-code" data-bind="text: Transaction.City.CityCode"></span>
                    <span id="bank-city-description" data-bind="text: ' - '+ Transaction.City.Description"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-acc-number">Bene Acc Number</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-6" disabled="disabled" name="bene-acc-number" id="bene-acc-number" data-rule-required="true" data-rule-value="true" onkeyup="formatMakerAccount('TransactionMaker')" data-bind="value: $root.BeneAccNumberMask()" />
                        <label class="control-label bolder text-danger" for="bene-acc-number">*</label>
                    </div>
                </div>
            </div>

            <div data-bind="if: Transaction.BankCharges != null, visible: Transaction.Product.Code == 'OT' || Transaction.Product.Code == 'RT' || Transaction.Product.Code == 'SK', attr: { class: 'form-group' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-charges">Bank Charges</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="bank-charges" name="bank-charges" data-rule-required="true" disabled="disabled" data-bind="options: $root.BankCharges, optionsText: 'Code', optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().BankCharges"></select>
                    </div>
                </div>
            </div>

            <div data-bind="if: Transaction.AgentCharges != null, visible: Transaction.Product.Code == 'OT', attr: { class: 'form-group' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="agent-charges">Agent Charges</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="agent-charges" name="agent-charges" data-rule-required="true" disabled="disabled" data-bind="options: $root.AgentCharges, optionsText: 'Code', optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().AgentCharges"></select>
                    </div>
                </div>
            </div>

            <div data-bind="if: Transaction.Product.Name == 'SKN', attr: { class: 'form-group' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="type">Type</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4" id="type" name="type" data-rule-required="true" data-rule-number="true" disabled="disabled" data-bind="value: Transaction.Type" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="citizen">Citizen</label>

                <label class="col-sm-1">
                    <input id="citizen" name="citizen" class="ace ace-switch ace-switch-2" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsCitizen" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Resident</label>

                <label class="col-sm-1">
                    <input id="resident" name="resident" class="ace ace-switch ace-switch-2" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsResident" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group" data-bind="if: $root.ProductID() != ConsProductID.SKNProductIDCons">
                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Beneficiary Resident</label>

                <div class="col-xs-3">
                    <label>
                        <select id="residentBene" name="residentBene" data-rule-required="true" data-rule-value="true" disabled="disabled"
                                data-bind="options: self.options,
                                    optionsText: 'name',
                                    optionsValue: 'id',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.IsBeneficiaryResident,
                                    event: { change: $root.OnChangeModeName }"></select>
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>

            <!--aridya 20170130 untuk skn mandatory asterisk-->
            <div class="form-group" data-bind="if: $root.ProductID() == ConsProductID.SKNProductIDCons">
                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Beneficiary Resident</label>

                <div class="col-xs-3">
                    <label>
                        <select id="residentBene" name="residentBene" data-rule-required="true" data-rule-value="true" disabled="disabled"
                                data-bind="options: self.options,
                                    optionsText: 'name',
                                    optionsValue: 'id',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.IsBeneficiaryResident,
                                    event: { change: $root.OnChangeModeName }"></select>
                        <label class="control-label bolder text-danger" for="residentBene">*</label>
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>
            <!--end aridya-->

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Beneficiary Country Code</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="benecountrycode" name="benecountrycode" disabled="disabled" data-bind="options:$root.BeneficiaryCountry,
                            optionsText: function(item) { if(item.ID != null) return item.Code + ' (' + item.Description + ')'} ,
                            optionsValue: 'ID',
                            optionsCaption: 'Please Select...',
                            value: Transaction.BeneficiaryCountry.ID"
                                class="col-xs-3"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ChAccName">Charging Account Name</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input class="ace ace-switch ace-switch-6 col-sm-11" disabled="disabled" name="ChAccName" id="ChAccName" data-rule-required="true" type="text" data-bind="value: Transaction.ChargingAccountName">
                        <label class="control-label bolder text-danger">*</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ChAccountBank">Charging Account Bank</label>

                <div class="col-sm-9">
                    <input type="text" autocomplete="off" class="col-sm-6" name="ChAccBank" id="ChAccBank" data-rule-required="true" data-rule-value="true" disabled="disabled" data-bind="value: Transaction.ChargingAccountBank" />
                    <label class="control-label bolder text-danger" for="ChAccBank">*</label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ChAccount">Charging Account</label>

                <div class="col-sm-2">
                    <input type="text" autocomplete="off" class="col-sm-12" disabled="disabled" name="ChAccount" id="ChAccount" data-rule-required="true" data-bind="value: Transaction.ChargingACCNumber" />
                </div>

                <label class="col-sm-1 control-label bolder no-padding-right" for="ChAccountCCY">CCY  </label>
                <div class="col-sm-3">
                    <input type="text" autocomplete="off" disabled="disabled" class="col-sm-3" name="ChAccount-ccy" id="ChAccount-ccy" data-rule-required="true" data-bind="value: $root.ChargingAccCurrency().Code" /> <!--, enable: !$root.EnableCCY()-->
                    <label class="control-label bolder text-danger">*</label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="Beneficiary">Beneficiary Business Type</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="Beneficiary" data-rule-required="true" name="Beneficiary" disabled="disabled"
                                data-bind="options: $root.BeneficiaryBusiness,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().BeneficiaryBusines,
                                    event: { change: $root.OnChangeBeneficiary }"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="BeneAddrs">Beneficiary Address</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-11" disabled="disabled" name="BeneAddrs" id="BeneAddrs" data-bind="value: Transaction.BeneficiaryAddress" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Transaction Relationship</label>
                <div class="col-sm-9" data-bind="if:Transaction.TransactionRelationship != null">
                    <div class="clearfix">
                        <select id="transactionrelationship" name="transactionrelationship" data-bind="options:$root.TransactionRelationship,
                            optionsText: function(item) { if(item.ID != null) return item.Code + ' (' + item.Description + ')'} ,
                            optionsValue: 'ID',
                            optionsCaption: 'Please Select...',
                            value: Transaction.TransactionRelationship.ID"
                                class="col-xs-3" disabled="disabled"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="lldcode">LLD Code</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="lldcode" name="lldcode" disabled="disabled"
                                data-bind="options: $root.LLDs,
									enable: !$root.VerifyColumn('LLD Code')().IsVerified,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' - (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().LLD,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionMakerAfterCaller', 'LLD'); } }"></select>
                        <label data-bind="if: $root.IsLLD" class="control-label bolder text-danger">*</label>
                    </div>
                </div>

            </div>

            <div data-bind="if: $root.IsLimit">
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="lld-code">LLD Document</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="lld-code" name="lld-code" disabled="disabled"
                                    data-bind="options: $root.LLDDocuments,
                                    optionsText: function(item) { if(item.LLDDocumentCode != null) return item.LLDDocumentCode + ' - (' + item.Description + ')'},
                                    optionsValue: 'LLDDocumentID',
                                    value: $root.Selected().LLDDocument,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionMakerAfterCaller', 'LLDDocument'); } }"></select>
                            <label data-bind="if: $root.IsLLDUndelyingDocument" class="control-label bolder text-danger">*</label>
                        </div>
                    </div>
                </div>
            </div>

            <div data-bind="if: $root.IsLimit">
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="lld-underlying-amount">LLD Underlying Amount</label>

                    <div class="col-sm-6">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-5 align-right" name="lld-underlying-amount" id="lld-underlying-amount" disabled="disabled" data-in="" onkeyup="OnKeyUp('TransactionMakerAfterCaller')" data-rule-number="true" data-bind="value: formatNumber($root.LLDUnderlyingAmount)" />
                            <label data-bind="if: $root.IsLLDUndelyingAmount" class="control-label bolder text-danger">*</label>
                        </div>
                    </div>
                </div>
            </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-code">Underlying Code</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="underlying-code" name="underlying-code" disabled="disabled"
                                    data-bind="options: $root.UnderlyingDocs,
                                    optionsText: function(item) { if(item.ID != null) return item.Code + ' (' + item.Name + ')'} ,
                                    optionsValue: 'ID',
                                    value: $root.Selected().UnderlyingDoc,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionMaker', 'UnderlyingDoc'); } }"></select>
                            <label data-bind="if: $root.IsUnderlying" class="control-label bolder text-danger">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="if: $root.ProductID() != ConsProductID.OTTProductIDCons">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="ComCode">Compliance Code</label>

                    <!--aridya 20160928 add untuk mandatory compliance code jika debit currency = valas-->
                    <div class="col-sm-9" data-bind="if: Transaction.DebitCurrency.Code != 'IDR'">
                        <div class="clearfix">
                            <select class="col-sm-11" id="ComCode" name="ComCode" data-rule-required="true" disabled="disabled"
                                    data-bind="options: $root.FXCompliances,
                                    optionsText: function(item){if (item.ID !=null) return item.ID + ' (' + item.Name +'. '+ item.Description+ ')' },
                                    optionsValue: 'ID',
                                    value: $root.Selected().FXCompliance,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionMaker', 'FXCompliance'); } }"></select>
                            <label data-bind="if: $root.IsCompliance" class="control-label bolder text-danger">*</label>
                        </div>
                    </div>
                    <div class="col-sm-9" data-bind="if: Transaction.DebitCurrency.Code == 'IDR'">
                        <div class="clearfix">
                            <select class="col-sm-11" id="ComCode" name="ComCode" disabled="disabled"
                                    data-bind="options: $root.FXCompliances,
                                    optionsText: function(item){if (item.ID !=null) return item.ID + ' (' + item.Name +'. '+ item.Description+ ')' },
                                    optionsValue: 'ID',
                                    value: $root.Selected().FXCompliance,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionMaker', 'FXCompliance'); } }"></select>
                            <label data-bind="if: $root.IsCompliance" class="control-label bolder text-danger">*</label>
                        </div>
                    </div>
                    <!--end add aridya-->
                </div>

                <!--add aridya 20160930 add for OTT validation-->
                <div class="form-group" data-bind="if: $root.ProductID() == ConsProductID.OTTProductIDCons">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="ComCode">Compliance Code</label>

                    <!--aridya 20160928 add untuk mandatory compliance code jika debit currency = valas-->
                    <div class="col-sm-9" data-bind="if: $root.Selected().Currency() != $root.TransactionMaker().Transaction.DebitCurrency.ID">
                        <div class="clearfix">
                            <select class="col-sm-11" id="ComCode" name="ComCode" data-rule-required="true" disabled="disabled"
                                    data-bind="options: $root.FXCompliances,
                                    optionsText: function(item){if (item.ID !=null) return item.ID + ' (' + item.Name +'. '+ item.Description+ ')' },
                                    optionsValue: 'ID',
                                    value: $root.Selected().FXCompliance,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionMaker', 'FXCompliance'); } }"></select>
                        </div>
                    </div>
                    <div class="col-sm-9" data-bind="if: $root.Selected().Currency() == $root.TransactionMaker().Transaction.DebitCurrency.ID">
                        <div class="clearfix">
                            <select class="col-sm-11" id="ComCode" name="ComCode" disabled="disabled"
                                    data-bind="options: $root.FXCompliances,
                                    optionsText: function(item){if (item.ID !=null) return item.ID + ' (' + item.Name +'. '+ item.Description+ ')' },
                                    optionsValue: 'ID',
                                    value: $root.Selected().FXCompliance,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionMaker', 'FXCompliance'); } }"></select>
                        </div>
                    </div>
                    <!--end add aridya-->
                </div>
                <!--end add-->

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Signature Verification</label>

                    <label class="col-sm-1">
                        <input id="check-signature-verification" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsSignatureVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="check-dormant-account">Dormant Account</label>

                    <label class="col-sm-1">
                        <input id="check-dormant-account" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsDormantAccount" />
                        <span class="lbl"></span>
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="check-freeze-account">Freeze Account</label>

                    <label class="col-sm-1">
                        <input id="check-freeze-account" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsFreezeAccount" />
                        <span class="lbl"></span>
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Payment Details</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <div data-bind="if: $root.IsPPUHOMaker, visible: $root.IsPPUHOMaker">
                                <textarea class="col-sm-12" name="payment-detail" id="payment-detail" rows="6" disabled="disabled" data-rule-required="false" data-bind="value: Transaction.PaymentDetails"></textarea>
                            </div>
                            <div data-bind="ifnot: $root.IsPPUHOMaker, visible: !$root.IsPPUHOMaker()">
                                <textarea class="col-sm-11" name="payment-detail" id="payment-detail" rows="6" disabled="disabled" data-bind="value: Transaction.PaymentDetails"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="others">Others</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <textarea class="col-sm-12" name="others" id="others" rows="6" data-rule-required="false" disabled="disabled" data-bind="value: Transaction.Others"></textarea>
                        </div>
                    </div>
                </div>
            </div>

        <div class="space-4"></div>

        <div class="space-16"></div>

        <div data-bind="if:(($root.t_IsFxTransaction() ||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue())) && ($root.ProductID() == ConsProductID.OTTProductIDCons || $root.ProductID() == ConsProductID.OverbookingProductIDCons))">
            <h3 class="header smaller lighter dark">Un-utilize Underlying Documents</h3>

            <div class="table-responsive">
                <!--<div class="dataTables_wrapper" role="grid" data-bind="with: Transaction.Customer">-->
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Utilize</th>
                            <th>Statement Letter</th>
                            <th>Underlying</th>
                            <th>Type of Docs</th>
                            <th>Currency</th>
                            <th>Amount</th>
                            <th>Available Amount in USD</th>
                            <th>Date</th>
                            <th>Supllier Name</th>
                            <th>Ref. Number</th>
                            <th style="width:50px">Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: $root.CustomerUnderlyings">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td align="center"><input type="checkbox" id="isUtilize" name="isUtilize" data-bind="checked:IsEnable,event: {change:function(data){$root.onSelectionUtilize($index(),$data)}}" /></td>
                            <td><span data-bind="text: StatementLetter.Name"></span></td>
                            <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                            <td><span data-bind="text: DocumentType.Name"></span></td>
                            <td><span data-bind="text: Currency.Code"></span></td>
                            <td align="right"><span data-bind="text: $root.FormatNumber(Amount)"></span></td>
                            <td align="right"><span data-bind="text: $root.FormatNumber(AvailableAmount)"></span></td>
                            <!--<td><span data-bind="text: moment(ExpiredDate).format('YYYY/MM/DD')"></span></td>-->
                            <td><span data-bind="text: $root.LocalDate(ExpiredDate, true, false)"></span></td>
                            <td><span data-bind="text: SupplierName"></span></td>
                            <td><span data-bind="text: ReferenceNumber"></span></td>
                            <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: function (data) {$root.GetUnderlyingSelectedMakerRow($index(),$data)},text:IsUtilize?' view ':' Update '"></span></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: $root.CustomerUnderlyings().length == 0">
                        <tr>
                            <td colspan="12" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- </div>-->
            </div>

            <div class="space-10"></div>


            <div id="transaction-form1" class="form-horizontal" role="form">

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-code">Underlying Code</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="underlying-code" name="underlying-code" disabled="disabled"
                                    data-bind="options: $root.UnderlyingDocs,
                                    optionsText: function(item) { if(item.ID != null) return item.Code + ' (' + item.Name + ')'} ,
                                    optionsValue: 'ID',
                                    value: $root.Selected().UnderlyingDoc,
                                    event: { change: function(){ $root.PopulateSelected('TransactionMakerAfterCaller', 'UnderlyingDoc'); } }"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Total Underlying</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" class="col-sm-4 align-right" name="utilization-amount" id="utilization-amount" disabled="disabled" data-rule-number="true" data-bind="value: $root.FormatNumber($root.UtilizationAmount())" />
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="visible: $root.isNewUnderlying()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Other Underlying</label>

                    <label class="col-sm-8">
                        <textarea class="col-lg-5" id="underlying-desc" rows="4" data-bind="value: Transaction.OtherUnderlyingDoc" disabled="disabled"></textarea>
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Utilization Amount</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" id="utilization-amount1" name="utilization-amount" data-bind="value: $root.FormatNumber($root.TotalUtilization())" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="totalTrx">Total IDR->FCY Transaction in USD</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" name="totalTrx" id="totalTrx" disabled="disabled" data-bind="value:$root.FormatNumber($root.TotalTransFX())" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="space-16"></div>

        <div class="padding-4">
            <h3 class="header smaller lighter dark">Instruction Form and Docs</h3>
            <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocumentUnderlying, visible: (($root.t_IsFxTransaction() ||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue())) && ($root.ProductID() == ConsProductID.OTTProductIDCons || $root.ProductID() == ConsProductID.OverbookingProductIDCons))">
                <i class="icon-plus"></i>
                Attach
            </button>
            <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocument, visible: !(($root.t_IsFxTransaction() ||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue())) && ($root.ProductID() == ConsProductID.OTTProductIDCons || $root.ProductID() == ConsProductID.OverbookingProductIDCons))">
                <i class="icon-plus"></i>
                Attach
            </button>
            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: $root.MakerDocuments, visible: $root.MakerDocuments().length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td>
                                <div data-bind="if:IsNewDocument">
                                    <span data-bind="text: FileName"></span>
                                </div>
                                <div data-bind="ifnot:IsNewDocument">
                                    <a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a>
                                </div>
                            </td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            <td><a href="#" data-bind="click: $root.RemoveDocumentData">Remove</a></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: $root.MakerDocuments().length == 0">
                        <tr>
                            <td colspan="6" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
