﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="top-urgent">Top Urgent</label>

                <label class="col-sm-1">
                    <input id="top-urgent" name="top-urgent" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsTopUrgent" />
                    <span class="lbl"></span>
                </label>

                <label class="col-sm-2 control-label bolder no-padding-right" for="top-urgent">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <input id="top-urgent" name="top-urgent" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsTopUrgentChain," />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <div class="col-sm-6">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" disabled="disabled" class="col-sm-12" name="customer-name" id="customer-name" data-rule-required="true" data-bind="value: Transaction.Customer.Name" />
                    </div>
                </div>

                <label class="col-sm-3">
                    <input id="is-new-customer" name="is-new-customer" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsNewCustomer" />
                    <span class="lbl">&nbsp; <b>New Customer</b></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-3" name="cif" id="cif" disabled="disabled" data-bind="value: Transaction.Customer.CIF" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="product" disabled="disabled" name="product" data-rule-required="true" data-bind="options: $root.Products, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Product.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="biz-segment">IBG Segment</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="biz-segment" name="biz-segment" disabled="disabled" data-rule-required="true"
                                data-bind="options: $root.BizSegments,
                                    optionsText: function(item){ if(item.Name != null) return item.Name +' ('+ item.Description +')'; },
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.BizSegment.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency">Transaction Currency</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="currency" name="currency" data-rule-required="true"
                                data-bind="options: $root.Currencies,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().Currency,
                                    event: { change: function(){ $root.PopulateSelected('TransactionMakerLoan', 'Currency'); } },enable: !$root.VerifyColumn('Currency')().IsVerified"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trxn-amount">Transaction Amount</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="trxn-amount" id="trxn-amount" data-rule-required="true" data-rule-number="true" data-bind="value: Transaction.Amount, enable: !$root.VerifyColumn('Trxn Amount')().IsVerified" />
                    </div>
                </div>
            </div>



            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="channel" name="channel" data-rule-required="true" data-bind="options: $root.Channels, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Channel.ID, enable: !$root.VerifyColumn('Channel')().IsVerified"></select>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="if: $root.IsPPURole()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="source" name="source" data-rule-required="true" data-bind="options: $root.Sources, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.SourceID, enable: !$root.VerifyColumn('Source')().IsVerified"></select>
                    </div>
                </div>
            </div>

            <div class="space-16"></div>

            <div class="padding-4">
                <h3 class="header smaller lighter dark">Attachment</h3>

                <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocument">
                    <i class="icon-plus"></i>
                    Attach
                </button>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>File Name</th>
                                <th>Purpose of Docs</th>
                                <th>Type of Docs</th>
                                <th>Modified</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.MakerDocuments, visible: $root.MakerDocuments().length > 0">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td>
                                    <div data-bind="if:IsNewDocument">
                                        <span data-bind="text: FileName"></span>
                                    </div>
                                    <div data-bind="ifnot:IsNewDocument">
                                        <a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a>
                                    </div>
                                </td>
                                <td><span data-bind="text: Purpose.Name"></span></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                                <td><a href="#" data-bind="click: $root.RemoveDocumentData">Remove</a></td>
                            </tr>
                        </tbody>

                        <tbody data-bind="visible: $root.MakerDocuments().length == 0">
                            <tr>
                                <td colspan="13" class="text-center">
                                    No entries available.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



        </div>
    </div>

    <div id="modal-form-upload" class="modal fade center" tabindex="-1" role="dialog">
        <!--data-backdrop="static" data-keyboard="false"-->
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
