﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12" data-bind="with:Transaction">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group" data-bind="visible:$root.IsSwapTransaction() || $root.IsNettingTransaction()">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    &nbsp;
                </label>
                <label class="col-sm-4 pull-right">
                    <span class="label label-warning">
                        <i class="icon-info-sign bigger-120"></i>
                        <span data-bind="text:$root.MessageTransactionType() + ', Booking Reference :' + $root.Swap_NettingDFNumber()"></span>
                    </span>
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(CreateDate(), true, true)"></span>
                </label>
                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span><br />
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">
                    Customer Name
                </label>
                <label class="col-sm-8">                 
                    <span id="cusname" data-bind="text: Customer.Name"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">
                    CIF
                </label>
                <label class="col-sm-9">
                    <span id="cif" data-bind="text: Customer.CIF"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="tz-reference">
                    Booking Reference
                </label>
                <label class="col-sm-9">
                    <span id="bookingrefl" data-bind="text: TZReference"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trade-date">
                    Trade Date
                </label>
                <div class="col-sm-9">
                    <label class="clearfix input-group col-sm-3 no-padding">                       
                        <span id="tradedatel" data-bind="text: $root.LocalDate(TradeDate,true,false)"></span>
                    </label>
                </div>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">
                    Value Date
                </label>
                <div class="col-sm-9">
                    <label class="clearfix input-group col-sm-3 no-padding">                        
                        <span id="valuedate1" data-bind="text: $root.LocalDate(ValueDate,true,false)"></span>
                    </label>
                </div>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="Statement">
                    Statement Letter
                </label>
                <label class="col-sm-9">                    
                    <span id="statementletter1" data-bind="text:StatementLetter.Name"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-type-name">Product Type</label>
                <div data-bind="ifnot:ProductType==null">
                    <label class="col-sm-8">
                        <span id="product-type-name" data-bind="text: ProductType.Code"></span>
                    </label>
                </div>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency">
                    Buy Currency
                </label>
                <label class="col-sm-3">                   
                    <span id="buycurrency" data-bind="text:BuyCurrency.Description"></span>
                </label>
                <label class="col-sm-1 control-label bolder no-padding-right" for="eqv-usd">
                    Buy Amount
                </label>
                <label class="col-sm-3">                   
                    <span id="buyAmount" data-bind="text:$root.FormatNumber(BuyAmount)"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency">
                    Sell Currency
                </label>
                <label class="col-sm-3">                   
                    <span id="sellcurrency" data-bind="text: SellCurrency.Description"></span>
                </label>
                <label class="col-sm-1 control-label bolder no-padding-right" for="eqv-usd">
                    Sell Amount
                </label>
                <label class="col-sm-3">                   
                    <span id="sellAmount" data-bind="text:$root.FormatNumber(SellAmount)"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-number">Debit Acc Number</label>

                <label class="col-sm-8">
                    <span id="debit-acc-number" data-bind="text: Account.AccountNumber() !=null ? Account.AccountNumber : OtherAccountNumber"></span>
                    <span data-bind="ifnot:Account.CustomerName()==null">
                        <span id="debit-acc-customer" data-bind="text: ' - ' + Account.CustomerName()"></span>
                    </span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="rate">
                    Rate
                </label>
                <label class="col-sm-9">
                    <span id="sellAmount" data-bind="text:$root.FormatNumber(Rate)"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="eqv-usd">
                    EQV USD
                </label>
                <label class="col-sm-9">                   
                    <span id="sellAmount" data-bind="text:$root.FormatNumber(AmountUSD)"></span>
                </label>
            </div>            
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="remaining-underlying">
                    Remaining Underlying Balance
                </label>
                <label class="col-sm-9">                   
                    <span id="idrFCY" data-bind="text:$root.FormatNumber($root.AmountModel().RemainingBalance)"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-code">
                    Underlying Code
                </label>
                <div class="col-sm-8">
                    <div class="clearfix">
                        <select id="book-underlying-code" name="book-underlying-code" data-bind="value: UnderlyingCodeID, options: $root.UnderlyingDocs, optionsText: 'Name',optionsValue: 'ID',optionsCaption: 'Please Select...', disable: true" data-rule-required="true" data-rule-value="true" class="col-xs-7"></select>                        
                    </div>
                </div>                
            </div>
            <div class="form-group" data-bind="visible: $root.isNewUnderlying()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-desc">
                    Other Underlying
                </label>
                <div class="col-xs-9 align-left">
                    <div class="clearfix">
                        <textarea class="col-lg-5" id="book-underlying-desc" rows="4" data-rule-required="true" data-bind="value: OtherUnderlying, enable: $root.isNewUnderlying"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trade-date">
                    Actual Submission Date Statement Letter
                </label>
                <label class="col-sm-8">                    
                    <span id="idrFCY" data-bind="text:$root.LocalDate(SubmissionDateSL,true,false)"></span>
                </label>                
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">
                    Is Underlying Completed
                </label>
                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: IsUnderlyingCompleted() ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>                                
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-resident">
                    Resident
                </label>
                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: IsResident() ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Remarks</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <textarea class="col-sm-12" name="purpose-detail" disabled="disabled" id="purpose-detail" rows="6" data-rule-required="false" data-bind="value: Remarks"></textarea>
                    </div>
                </div>
            </div>
            <div data-bind="if: ($root.t_IsFxTransaction()||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue()))">
                <h3 class="header smaller lighter dark">Un-Utilize Underlying Documents</h3>

                <div class="table-responsive">
                    <div class="dataTables_wrapper" role="grid" data-bind="with: Customer">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Statement Letter</th>
                                    <th>Underlying</th>
                                    <th>Type of Docs</th>
                                    <th>Currency</th>
                                    <th>Amount</th>
                                    <th>Available Amount in USD</th>
                                    <th>Date</th>
                                    <th>Supllier Name</th>
                                    <th>Ref. Number</th>
                                    <th style="width:50px">Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: Underlyings">
                                <tr>
                                    <td><span data-bind="text: $index() +1"></span></td>
                                    <td><span data-bind="text: StatementLetter.Name"></span></td>
                                    <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                    <td><span data-bind="text: DocumentType.Name"></span></td>
                                    <td><span data-bind="text: Currency.Code"></span></td>
                                    <td align="right"><span data-bind="text: $root.FormatNumber(Amount)"></span></td>
                                    <td align="right"><span data-bind="text: $root.FormatNumber(AvailableAmount)"></span></td>
                                    <td><span data-bind="text: $root.LocalDate(ExpiredDate, true, false)"></span></td>
                                    <td><span data-bind="text: SupplierName"></span></td>
                                    <td><span data-bind="text: ReferenceNumber"></span></td>
                                    <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: $root.GetUnderlyingSelectedRow">View</span></td>
                                </tr>
                            </tbody>
                            <tbody data-bind="visible: Underlyings() != null && Underlyings().length == 0">
                                <tr>
                                    <td colspan="11" align="center">No entries available.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="space-10"></div>            

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Total Utilization</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" class="col-sm-4 align-right" name="utilization-amount" id="utilization-amount" data-rule-required="false" disabled="disabled" data-rule-number="true" data-bind="value : formatNumber_r($root.AmountModel().TotalDealUtilization())" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Total Transaction Amount in USD</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" class="col-sm-4 align-right" name="utilization-amount" id="TotalAmountTrx" data-rule-required="false" disabled="disabled" data-rule-number="true" data-bind="value : formatNumber_r($root.AmountModel().TotalDealAmountsUSD())" />
                        </div>
                    </div>
                </div>

            </div>
                <div class="space-4"></div>
                <h3 class="header smaller lighter dark">Instruction Form and Docs</h3>
                <div id="attachFile" class="padding-4" data-bind="ifnot:Documents==null">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>File Name</th>
                                <th>Purpose of Docs</th>
                                <th>Type of Docs</th>
                                <th>Modified</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Documents, visible: Documents().length > 0">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>
                                <td><span data-bind="text: Purpose.Name"></span></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: moment(DocumentPath.lastModifiedDate).format(config.format.dateTime)"></span></td><!--$root.LocalDate(LastModifiedDate)-->
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: Documents().length == 0">
                            <tr>
                                <td colspan="6" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <!--</div>-->

        </div>
    </div>

    <!--<div data-bind="visible:$root.IsViewTransaction()">
        <div data-bind="if: $root.t_IsFxTransaction() || $root.t_IsFxTransactionToIDRB()">-->
 

    <div id="modal-form-upload" class="modal fade center" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                blank
            </div>
        </div>
    </div>
</div>
