﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="top-urgent">Top Urgent</label>

                <label class="col-sm-1">
                    <input id="top-urgent" name="top-urgent" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsTopUrgent" />
                    <span class="lbl"></span>
                </label>

                <label class="col-sm-2 control-label bolder no-padding-right" for="top-urgent">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <input id="top-urgent" name="top-urgent" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsTopUrgentChain" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <div class="col-sm-6">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-12" name="customer-name" id="customer-name" data-rule-required="true" data-bind="value: Transaction.Customer.Name, enable: false" />
                    </div>
                </div>

                <label class="col-sm-3">
                    <input id="is-new-customer" name="is-new-customer" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsNewCustomer" />
                    <span class="lbl">&nbsp; <b>New Customer</b></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-3" name="cif" id="cif" disabled="disabled" data-bind="value: Transaction.Customer.CIF" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="product" name="product" data-rule-required="true" disabled="disabled" data-bind="options: $root.Products, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Product.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency">Currency</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="currency" name="currency" data-rule-required="true"
                                data-bind="options: $root.Currencies,
                                    enable: !$root.VerifyColumn('Currency')().IsVerified,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().Currency,
                                    event: { change: function(){ $root.PopulateSelected('TransactionMaker', 'Currency'); } }"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trxn-amount">Trxn Amount</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="trxn-amount" id="trxn-amount" data-in="" onkeyup="OnKeyUp('TransactionMaker')" data-rule-required="true" data-rule-number="true" data-bind="value: $root.Amount, enable: !$root.VerifyColumn('Trxn Amount')().IsVerified" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="rate">Rate</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="rate" id="rate" disabled="disabled" data-rule-number="true" data-bind="value: formatNumber_r($root.Rate)" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="eqv-usd">Eqv. USD</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="eqv-usd" id="eqv-usd" disabled="disabled" data-rule-required="true" data-rule-number="true" data-bind="value: $root.AmountUSD_r(), event:{change:  $root.RefreshAutoComplete('TransactionMaker')}" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="channel" name="channel" data-rule-required="true" data-bind="options: $root.Channels, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Channel.ID, enable: !$root.VerifyColumn('Channel')().IsVerified"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-number">Debit Acc Number</label>
                
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="book-joinAcc" name="book-statement" data-bind="value: Transaction.IsJointAccount,
                                        options:$root.CIFJointAccounts,
                                        optionsText:'Name',
                                        optionsValue: 'ID',
                                        event:{ change: $root.OnChangeJointAcc }, enable: (!$root.VerifyColumn('Debit Acc Number')().IsVerified) && ($root.IsJointAccount())" class="col-xs-3"></select>
                        <select id="debit-acc-number" name="debit-acc-number" data-rule-required="true" data-bind="options: $root.DynamicAccounts,optionsText: function(item) { if(item.AccountNumber != '-'  ){ if(item.CustomerName!=null){return item.AccountNumber+' ('+  item.Currency.Code+') - '+ item.CustomerName } return item.AccountNumber+' ('+  item.Currency.Code+')'} return item.AccountNumber}, optionsValue: 'AccountNumber', optionsCaption: 'Please Select...', value: $root.Selected().Account,event:{ change: $root.CheckEmptyAccountNumber },enable: !$root.VerifyColumn('Debit Acc Number')().IsVerified" class="col-xs-5"></select>
                        <label class="control-label bolder text-danger" for="debit-acc-number">*</label>
                        <input type="text" autocomplete="off" name="debit-acc-number-empty" id="debit-acc-number-empty" data-rule-required="true" data-bind="value: Transaction.OtherAccountNumber,visible: $root.IsEmptyAccountNumber(),enable: !$root.VerifyColumn('Debit Acc Number')().IsVerified" />
                        <label class="control-label bolder text-danger" for="debit-acc-number" data-bind="visible: $root.IsEmptyAccountNumber()">*</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-ccy">Debit Acc CCY</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-1" name="debit-acc-ccy" id="debit-acc-ccy" disabled="disabled" data-bind="value: Transaction.DebitCurrency.Code, visible: !$root.IsEmptyAccountNumber()" />

                        <select id="othercurrency" name="othercurrency" data-rule-required="true"
                                data-bind="options: $root.DebitCurrencies, visible: $root.IsEmptyAccountNumber,
                                    enable: !$root.VerifyColumn('Debit Acc Number')().IsVerified,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().DebitCurrency,
                                    event: { change: function(){ $root.PopulateSelected('TransactionMaker', 'DebitCurrency'); } }"></select>
                    </div>
                </div>
            </div>

            <!--add henggar Transaction Maker detail-->
            <div class="form-group" data-bind="visible: Transaction.Product.Name == 'OTT'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-sundry">Debit Sundry</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="debit-sundry" name="debit-sundry" class="col-xs-3" disabled="disabled"
                                data-bind="options: $root.Sundry,
                                    optionsText: 'OABAccNo',
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().Sundry,
                                    event: { change: function(){ $root.PopulateSelected('TransactionMaker', 'Sundry'); } }"></select>
                    </div>
                </div>
            </div>
            <!--end-->

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="application-date">Application Date</label>

                <div class="col-sm-9">
                    <div class="clearfix input-group col-sm-3 no-padding">
                        <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="application-date" disabled="disabled" name="application-date" data-rule-required="true" data-rule-date="true" data-bind="datepicker: true, value: $root.LocalDate(Transaction.ApplicationDate, true)">
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="biz-segment">Biz Segment</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="biz-segment" disabled="disabled" name="biz-segment" data-rule-required="true"
                                data-bind="options: $root.BizSegments,
                                    optionsText: function(item){ if(item.Name != null) return item.Name +' ('+ item.Description +')'; },
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.BizSegment.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="if: (($root.t_IsFxTransaction() || $root.t_IsFxTransactionToIDR()) && $root.ProductID() == ConsProductID.OTTProductIDCons)">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product Type</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="product-type" name="product-type" data-rule-required="true" class="col-xs-3" disabled="disabled"
                                data-bind="options: $root.ProductTypes,
                                    optionsText: 'Code',
                                    optionsValue: 'ID',
                                    value: $root.Selected().ProductType,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionMaker', 'ProductType'); } }"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-name">Bene Name</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <div data-bind="if: $root.IsPPUHOMaker, visible: $root.IsPPUHOMaker">
                            <input type="text" autocomplete="off" class="col-sm-11" name="bene-name" data-rule-required="true" data-rule-value="true" id="bene-name" data-bind="value: Transaction.BeneName, enable: !$root.VerifyColumn('Bene Name')().IsVerified, event: { keypress: enforceMaxlength }" />
                            <label class="control-label bolder text-danger" for="bene-name">*</label>
                        </div>
                        <div data-bind="ifnot: $root.IsPPUHOMaker, visible: !$root.IsPPUHOMaker()">
                            <input type="text" autocomplete="off" class="col-sm-11" name="bene-name" id="bene-name" data-bind="value: Transaction.BeneName, enable: !$root.VerifyColumn('Bene Name')().IsVerified, event: { keypress: enforceMaxlength }" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-bank">Bene Bank</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <div data-bind="if: $root.IsPPUHOMaker, visible: $root.IsPPUHOMaker">
                            <input type="text" autocomplete="off" class="col-sm-11" name="bank-bank" id="bank-bank" data-rule-required="true" data-rule-value="true" data-bind="value: Transaction.Bank.Description, enable: !$root.VerifyColumn('Bene Bank')().IsVerified && !($root.ProductID() == ConsProductID.OverbookingProductIDCons) " />
                            <label class="control-label bolder text-danger" for="bank-name">*</label>
                        </div>
                        <div data-bind="ifnot: $root.IsPPUHOMaker, visible: !$root.IsPPUHOMaker()">
                            <input type="text" autocomplete="off" class="col-sm-11" name="bank-bank" id="bank-bank" data-bind="value: Transaction.Bank.Description, enable: !$root.VerifyColumn('Bene Bank')().IsVerified && !($root.ProductID() == ConsProductID.OverbookingProductIDCons)" />
                        </div>                        
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-code">Swift Code/Bank Code</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-2" name="bank-code" id="bank-code" disabled="disabled" data-bind="value: Transaction.Bank.SwiftCode" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-acc-number">Bene Acc Number</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <div data-bind="if: $root.IsPPUHOMaker, visible: $root.IsPPUHOMaker">
                            <input type="text" autocomplete="off" class="col-sm-6" name="bene-acc-number" id="bene-acc-number" data-rule-required="true" data-rule-value="true" onkeyup="formatMakerAccount('TransactionMaker')" data-bind="value: $root.BeneAccNumberMask(), enable: !$root.VerifyColumn('Bene Acc Number')().IsVerified" />
                            <label class="control-label bolder text-danger" for="bene-acc-number">*</label>
                        </div>
                        <div data-bind="ifnot: $root.IsPPUHOMaker, visible: !$root.IsPPUHOMaker()">
                            <input type="text" autocomplete="off" class="col-sm-6" name="bene-acc-number" id="bene-acc-number" onkeyup="formatMakerAccount('TransactionMaker')" data-bind="value: $root.BeneAccNumberMask(), enable: !$root.VerifyColumn('Bene Acc Number')().IsVerified" />
                        </div>
                    </div>
                </div>
            </div>

            <div data-bind="if: Transaction.BankCharges != null, visible: Transaction.Product.Code == 'OT' || Transaction.Product.Code == 'RT' || Transaction.Product.Code == 'SK', attr: { class: 'form-group' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-charges">Bank Charges</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="bank-charges" name="bank-charges" data-rule-required="true"
                                data-bind="options: $root.BankCharges,
                                    enable: !$root.VerifyColumn('Bank Charges')().IsVerified,
                                    optionsText: 'Code', optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.BankCharges.ID"></select>
                    </div>
                </div>
            </div>

            <div data-bind="if: Transaction.AgentCharges != null, visible: Transaction.Product.Code == 'RT', attr: { class: 'form-group' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="agent-charges">Agent Charges</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="agent-charges" name="agent-charges" data-rule-required="true"
                                data-bind="options: $root.AgentCharges,
                                    enable: !$root.VerifyColumn('Agen Charges')().IsVerified,
                                    optionsText: 'Code', optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.AgentCharges.ID"></select>
                    </div>
                </div>
            </div>

            <div data-bind="visible: Transaction.Product.Name == 'SKN', attr: { class: 'form-group' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="type">Type</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4" id="type" name="type" data-rule-required="true" data-rule-number="true" data-bind="value: Transaction.Type" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="citizen">Citizen</label>

                <label class="col-sm-1">
                    <input id="citizen" name="citizen" class="ace ace-switch ace-switch-2" type="checkbox" data-bind="checked: Transaction.IsCitizen, enable: !$root.VerifyColumn('Citizen')().IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Resident</label>

                <label class="col-sm-1">
                    <input id="resident" name="resident" class="ace ace-switch ace-switch-2" type="checkbox" data-bind="checked: Transaction.IsResident, enable: !$root.VerifyColumn('Resident')().IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group" data-bind="visible: Transaction.Product.Name == 'SKN'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Beneficiary Resident</label>

                <label class="col-sm-1">
                    <input id="Beneficiaryresident" class="ace ace-switch ace-switch-2" type="checkbox" data-bind="checked: Transaction.IsBeneficiaryResident"  />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group" data-bind="visible: Transaction.Product.Name == 'SKN'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="Beneficiary">Beneficiary Business Type</label>

                <div class="col-sm-3">
                    <div class="clearfix">
                        <select id="beneficiary" class="col-sm-12" data-rule-required="true" data-bind="options: $root.BeneficiaryBusiness,
                                                optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'},
                                                optionsValue: 'ID',
                                                optionsCaption: 'Please Select...',
                                                value: $root.Selected().BeneficiaryBusines,
                                                event: { change: $root.OnChangeBeneficiary }"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="lld-code">LLD Code</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="lld-code" name="lld-code"
                                data-bind="options: $root.LLDs,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' - (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().LLD,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionMaker', 'LLD'); } }"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Signature Verification</label>

                <label class="col-sm-1">
                    <input id="check-signature-verification" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsSignatureVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-dormant-account">Dormant Account</label>

                <label class="col-sm-1">
                    <input id="check-dormant-account" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsDormantAccount" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-freeze-account">Freeze Account</label>

                <label class="col-sm-1">
                    <input id="check-freeze-account" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsFreezeAccount" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Payment Details</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <div data-bind="if: $root.IsPPUHOMaker, visible: $root.IsPPUHOMaker">
                            <textarea class="col-sm-12" name="payment-detail" id="payment-detail" rows="6" data-rule-required="false" data-bind="value: Transaction.PaymentDetails, enable: !$root.VerifyColumn('Payment Detail')().IsVerified"></textarea>
                        </div>
                        <div data-bind="ifnot: $root.IsPPUHOMaker, visible: !$root.IsPPUHOMaker()">
                            <textarea class="col-sm-11" name="payment-detail" id="payment-detail" rows="6" data-rule-required="true" data-bind="value: Transaction.PaymentDetails, enable: !$root.VerifyColumn('Payment Detail')().IsVerified"></textarea>
                            <label class="control-label bolder text-danger" for="payment-detail">*</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="others">Others</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <textarea class="col-sm-12" name="others" id="others" rows="6" data-rule-required="false" disabled="disabled" data-bind="value: Transaction.Others"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-4"></div>

        <div class="space-16"></div>

        <div data-bind="if:(($root.t_IsFxTransaction() ||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue())) && $root.ProductID() == ConsProductID.OTTProductIDCons)">
            <h3 class="header smaller lighter dark">Un-utilize Underlying Documents</h3>

            <div class="table-responsive">
                <!--<div class="dataTables_wrapper" role="grid" data-bind="with: Transaction.Customer">-->
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Utilize</th>
                                <th>Statement Letter</th>
                                <th>Underlying</th>
                                <th>Type of Docs</th>
                                <th>Currency</th>
                                <th>Amount</th>
                                <th>Available Amount in USD</th>
                                <th>Date</th>
                                <th>Supllier Name</th>
                                <th>Ref. Number</th>
                                <th style="width:50px">Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.CustomerUnderlyings">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td align="center"><input type="checkbox" id="isUtilize" name="isUtilize" data-bind="checked:IsEnable,event: {change:function(data){$root.onSelectionUtilize($index(),$data)}}" /></td>
                                <td><span data-bind="text: StatementLetter.Name"></span></td>
                                <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                <td><span data-bind="text: DocumentType.Name"></span></td>
                                <td><span data-bind="text: Currency.Code"></span></td>
                                <td align="right"><span data-bind="text: $root.FormatNumber(Amount)"></span></td>
                                <td align="right"><span data-bind="text: $root.FormatNumber(AvailableAmount)"></span></td>
                                <td><span data-bind="text: $root.LocalDate(ExpiredDate, true, false)"></span></td>
                                <!--<td><span data-bind="text: moment(ExpiredDate).format('YYYY/MM/DD')"></span></td>-->
                                <td><span data-bind="text: SupplierName"></span></td>
                                <td><span data-bind="text: ReferenceNumber"></span></td>
                                <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: $root.GetUnderlyingSelectedRow,text:IsUtilize?' view ':' Update '"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.CustomerUnderlyings().length == 0">
                            <tr>
                                <td colspan="12" class="text-center">
                                    No entries available.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="space-10"></div>


            <div id="transaction-form1" class="form-horizontal" role="form">

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-code">Underlying Code</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="underlying-code" name="underlying-code" disabled="disabled"
                                    data-bind="options: $root.UnderlyingDocs,
                                    optionsText: function(item) { if(item.ID != null) return item.Code + ' (' + item.Name + ')'} ,
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().UnderlyingDoc,
                                    event: { change: function(){ $root.PopulateSelected('TransactionMaker', 'UnderlyingDoc'); } }"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Total Underlying</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" class="col-sm-4 align-right" name="utilization-amount" id="utilization-amount" disabled="disabled" data-rule-number="true" data-bind="value: formatNumber_r($root.UtilizationAmount())" />
                            <label class="col-sm-5 control-label bolder align-left" for="total-utilization">
                                Rounding Amount: <span data-bind="text: formatNumber_r($root.Rounding())"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="visible: $root.isNewUnderlying()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Other Underlying</label>

                    <label class="col-sm-8">
                        <textarea class="col-lg-5" id="underlying-desc" rows="4" data-bind="value: Transaction.OtherUnderlyingDoc" disabled="disabled"></textarea>
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Utilization Amount</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" id="utilization-amount1" name="utilization-amount" data-bind="value: formatNumber_r($root.TotalUtilization())" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="totalTrx">Total IDR->FCY Transaction in USD</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" name="totalTrx" id="totalTrx" disabled="disabled" data-bind="value:formatNumber_r($root.TotalTransFX())" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="tz-number">TZ Number</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4" name="tz-number" data-bind="value: Transaction.TZNumber" disabled="disabled" />
                            <span style="margin-top:5px;margin-left:15px;" class="label label-yellow arrowed-in-right arrowed" data-bind="if: $root.IsTZCanceled()">Invalid TZ Number</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="space-16"></div>

        <div class="padding-4">
            <h3 class="header smaller lighter dark">Instruction Form and Docs</h3>
            <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocumentUnderlying, visible: (($root.t_IsFxTransaction() ||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue())) && $root.ProductID() == ConsProductID.OTTProductIDCons)">
                <i class="icon-plus"></i>
                Attach
            </button>
            <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocument, visible: !(($root.t_IsFxTransaction() ||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue())) && $root.ProductID() == ConsProductID.OTTProductIDCons)">
                <i class="icon-plus"></i>
                Attach
            </button>
            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: $root.MakerDocuments, visible: $root.MakerDocuments().length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td>
                                <div data-bind="if:IsNewDocument">
                                    <span data-bind="text: FileName"></span>
                                </div>
                                <div data-bind="ifnot:IsNewDocument">
                                    <a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a>
                                </div>
                            </td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            <td><a href="#" data-bind="click: $root.RemoveDocumentData">Remove</a></td>
                        </tr>
                    </tbody>
                    <!--<tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                    <tr>
                        <td><span data-bind="text: $index() +1"></span></td>
                        <td><a data-bind="attr: { href: DocumentPath }, text: FileName"></a></td>
                        <td><span data-bind="text: Purpose.Name"></span></td>
                        <td><span data-bind="text: Type.Name"></span></td>
                        <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                        <td><a href="#" data-bind="click: $root.RemoveDocumentData">Remove</a></td>
                    </tr>
                    </tbody>-->
                    <tbody data-bind="visible: $root.MakerDocuments().length == 0">
                        <tr>
                            <td colspan="6" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<div id="modal-form-upload" class="modal fade center" tabindex="-1" role="dialog">
    <!--data-backdrop="static" data-keyboard="false"-->
    <div class="modal-dialog">
        <div class="modal-content">
            dsadasdsa
        </div>
    </div>
</div>
