﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <label class="col-sm-8">
                    <span name="customer-name" id="customer-name" data-bind="text: Transaction.Customer.Name"></span>
                    <span class="label label-warning arrowed" data-bind="if: Transaction.IsNewCustomer">
                        <i class="icon-warning-sign bigger-120"></i>
                        New Customer
                    </span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <label class="col-sm-9">
                    <span name="cif" id="cif" data-bind="text: Transaction.Customer.CIF"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>

                <label class="col-sm-9">
                    <span id="product-code" name="product" data-bind="text: Transaction.Product.Code"></span>
                    (<span id="product-name" name="product" data-bind="text: Transaction.Product.Name"></span>)
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <label class="col-sm-8">
                    <span id="channel" name="channel" data-bind="text: Transaction.Channel.Name"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Remarks</label>

                <label class="col-sm-8">
                    <span name="purpose-detail" id="purpose-detail" data-bind="text: Transaction.Remarks"></span>
                </label>
            </div>
                <!--<div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="check-callback-required">Callback is Required</label>

                    <label class="col-sm-1">
                        <input id="check-callback-required" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsCallbackRequired" />
                        <span class="lbl"></span>
                    </label>
                </div>-->

                <!--<div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Signature Verification</label>

                    <label class="col-sm-1">
                        <! --
                                    <input id="check-signature-verification" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Checker.IsSignatureVerified" />
                -- >
                        <input id="check-signature-verification" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsSignatureVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>-->

                <!--<div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="check-dormant-account">Dormant Account</label>

                    <label class="col-sm-1">
                        <! --
                                    <input id="check-dormant-account" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Checker.IsDormantAccount" />
                -- >
                        <input id="check-dormant-account" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsDormantAccount" />

                        <span class="lbl"></span>
                    </label>
                </div>-->

                <!--<div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="check-freeze-account">Freeze Account</label>

                    <label class="col-sm-1">
                        <! --
                                    <input id="check-freeze-account" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Checker.IsFreezeAccount" />
                -- >
                        <input id="check-freeze-account" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsFreezeAccount" />
                        <span class="lbl"></span>
                    </label>
                </div>-->

                <!--<div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: TMO.Channel.Name == 'Fax'">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="check-loi-available">Letter of Indemnity Available</label>

                    <label class="col-sm-1">
                        <! --
                                    <input id="check-loi-available" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Checker.IsLOIAvailable" />
                -- >
                        <input id="check-loi-available" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsLOIAvailable" />

                        <span class="lbl"></span>
                    </label>
                </div>-->


                <!--<div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-completeness">Document Completeness</label>
                    <label class="col-sm-1">
                        <input id="check-IsDocumentComplete" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: TMO.IsDocumentComplete" />
                        <span class="lbl"></span>
                    </label>
                </div>-->
            

        <div class="space-16"></div>

        <div class="space-10"></div>

        <div class="padding-4">
            <h3 class="header smaller lighter dark">Attachment</h3>

            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: Transaction.Documents.length == 0">
                        <tr>
                            <td colspan="13" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
    <!--[if gte mso 9]><xml>
    <mso:CustomDocumentProperties>
    <mso:PublishingIsFurlPage msdt:dt="string">0</mso:PublishingIsFurlPage>
    <mso:PublishingContactPicture msdt:dt="string"></mso:PublishingContactPicture>
    <mso:PublishingRollupImage msdt:dt="string"></mso:PublishingRollupImage>
    <mso:Audience msdt:dt="string"></mso:Audience>
    <mso:PublishingContactName msdt:dt="string"></mso:PublishingContactName>
    <mso:Comments msdt:dt="string"></mso:Comments>
    <mso:PublishingContactEmail msdt:dt="string"></mso:PublishingContactEmail>
    </mso:CustomDocumentProperties>
    </xml><![endif]-->
    <title></title>
</head>
