﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12" data-bind="with:Transaction">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group" data-bind="visible:$root.IsSwapTransaction() || $root.IsNettingTransaction()">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    &nbsp;
                </label>
                <label class="col-sm-4 pull-right">
                    <span class="label label-warning">
                        <i class="icon-info-sign bigger-120"></i> <!--Swap transaction, Booking Reference :-->
                        <span data-bind="text:$root.MessageTransactionType() + ', Booking Reference :' + $root.Swap_NettingDFNumber()"></span>
                    </span>
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(CreateDate(), true, true)"></span>
                </label>
                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span><br />
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">
                    Customer Name
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" class="col-xs-12 col-sm-5" name="book-customer-name" id="book-customer-name" data-rule-required="true" data-bind="value: Customer.Name, disable: true" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">
                    CIF
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="book-cif" name="book-cif" data-bind="value: Customer.CIF, disable: true" class="col-xs-10 col-sm-2" data-rule-required="true" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="tz-reference">
                    Booking Reference
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="book-tz-reference" name="book-tz-reference" class="col-xs-12 col-sm-5" data-rule-required="true" data-bind="value: TZReference, disable: true" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trade-date">
                    Trade Date
                </label>
                <div class="col-sm-9">
                    <div class="clearfix input-group col-sm-3 no-padding">
                        <input class="form-control date-picker" type="text" id="book-application-date" name="book-application-date" data-bind="value: $root.LocalDate(TradeDate,true,false), disable: true">
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">
                    Value Date
                </label>
                <div class="col-sm-9">
                    <div class="clearfix input-group col-sm-3 no-padding">
                        <input class="form-control date-picker" type="text" id="book-application-value-date" name="book-application-value-date" data-bind="value: $root.LocalDate(ValueDate,true,false), disable: true">
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="Statement">
                    Statement Letter
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="book-statement" name="book-statement" data-bind="options:$root.StatementLetter, optionsText:'Name',optionsValue: 'ID', value: StatementLetter.ID,event:{ change: $root.OnChangeStatement },disable: true" data-rule-required="true" data-rule-value="true" class="col-xs-3"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="productType">
                    Product Type
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="book-product-type" name="book-product-type" disabled="disabled" data-bind="options:$root.ProductTypes, optionsText:'Code',optionsValue: 'ID',value: ProductType.ID" data-rule-required="true" data-rule-value="true" class="col-xs-3"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency">
                    Buy Currency
                </label>
                <div class="col-sm-3">
                    <div class="clearfix">
                        <select id="book-currency" name="buy-currency" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Currencies, optionsText: function(item) { if(item.Code() != null) return item.Code() + ' (' + item.Description() + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: BuyCurrency.ID, disable: true" class="col-xs-12"></select>
                    </div>
                </div>
                <label class="col-sm-1 control-label bolder no-padding-right" for="eqv-usd">
                    Buy Amount
                </label>
                <div class="col-sm-3">
                    <div class="clearfix">
                        <input type="text" class="col-sm-9 align-right" disabled="disabled" name="book-eqv-usd" id="book-eqv-usd" data-rule-required="true" data-rule-number="true" data-bind="value: formatNumber(BuyAmount()), disable: true">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency">
                    Sell Currency
                </label>
                <div class="col-sm-3">
                    <div class="clearfix">
                        <select id="book-currency" name="sell-currency" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Currencies, optionsText: function(item) { if(item.Code() != null) return item.Code() + ' (' + item.Description() + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: SellCurrency.ID, disable: true" class="col-xs-12"></select>
                    </div>
                </div>
                <label class="col-sm-1 control-label bolder no-padding-right" for="eqv-usd">
                    Sell Amount
                </label>
                <div class="col-sm-3">
                    <div class="clearfix">
                        <input type="text" class="col-sm-9 align-right" disabled="disabled" name="book-eqv-usd" id="book-eqv-usd" data-rule-required="true" data-rule-number="true" data-bind="value: formatNumber(SellAmount()), disable: true">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="productType">
                    Debit Acc Number
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="book-joinAcc" name="book-statement" data-bind="value: IsJointAccount,
                                        options:$root.CIFJointAccounts,
                                        optionsText:'Name',
                                        optionsValue: 'ID',
                                        event:{ change: $root.OnChangeJointAcc },disable:!$root.IsJointAccount()" disabled="disabled" class="col-xs-3"></select>
                        <select id="debit-acc-number" name="debit-acc-number" data-rule-required="true" data-bind="options: $root.DynamicAccounts,optionsText: function(item) { if(item.AccountNumber() != '-'  ){ if(item.CustomerName()!=null){return item.AccountNumber()+' ('+  item.Currency.Code()+') - '+ item.CustomerName() } return item.AccountNumber()+' ('+  item.Currency.Code()+')'} return item.AccountNumber()}, optionsValue: 'AccountNumber', optionsCaption: 'Please Select...', value: $root.Selected().Account,event:{ change: $root.CheckEmptyAccountNumber }" class="col-xs-5"></select>
                        <label class="control-label bolder text-danger" for="debit-acc-number">*</label>
                        <input type="text" autocomplete="off" name="debit-acc-number-empty" id="debit-acc-number-empty" data-rule-required="true" data-bind="value: OtherAccountNumber,visible: $root.IsEmptyAccountNumber()" />
                        <label class="control-label bolder text-danger" for="debit-acc-number" data-bind="visible: $root.IsEmptyAccountNumber()">*</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="rate">
                    Rate
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" class="col-sm-3 align-right" name="book-rate" id="book-rate" data-in="" data-rule-number="true" data-bind="value: $root.FormatNumber(Rate), disable: true" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="eqv-usd">
                    EQV USD
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" class="col-sm-3 align-right" disabled="disabled" name="book-eqv-usd" id="book-eqv-usd" data-rule-required="true" data-rule-number="true" data-bind="value:  $root.FormatNumber(AmountUSD), disable: true" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="amount-usd">
                    IDR-&gt;FCY USD Total Amount Trx
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="book-usd-amount" name="book-usd-amount" data-bind="value:  $root.FormatNumber($root.AmountModel().TotalAmountsUSD()), disable: true" class="col-xs-12 col-sm-3 align-right" data-rule-required="true" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="remaining-underlying">
                    Remaining Underlying Balance
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="book-remaining-underlying" name="book-remaining-underlying" data-bind="value: formatNumber($root.AmountModel().RemainingBalance()), disable: true" class="col-xs-12 col-sm-3 align-right" data-rule-required="true" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-code">
                    Underlying Code
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="book-underlying-code" name="book-underlying-code" data-bind="value: UnderlyingCodeID, options: $root.UnderlyingDocumens, optionsText: function(item) { if(item.ID() != null) return item.Code() + ' - (' + item.Name() + ')'},optionsValue: 'ID',optionsCaption: 'Please Select...',event:{ change: $root.OnChangeUndrlyingDoc },enable: !$root.VerifyColumn('UnderlyingCode')().IsVerified()" data-rule-required="true" class="col-xs-7"></select>
                    </div>
                </div>
            </div>
            <div class="form-group" data-bind="visible: $root.isNewUnderlying()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-desc">
                    Other Underlying
                </label>
                <div class="col-xs-9 align-left">
                    <div class="clearfix">
                        <textarea class="col-lg-5" id="book-underlying-desc" rows="4" data-rule-required="true" data-bind="value: OtherUnderlying, enable: $root.isNewUnderlying() && !$root.VerifyColumn('UnderlyingCode')().IsVerified()"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trade-date">
                    Actual Submission Date Statement Letter
                </label>
                <div class="col-sm-9">
                    <div class="clearfix input-group col-sm-3 no-padding">
                        <input type="text" autocomplete="off" id="ActualSubmissionDateSL" data-date-format="dd-M-yyyy" name="ActualSubmissionDateSL" data-bind="value:SubmissionDateSL,datepicker:SubmissionDateSL, enable: !$root.VerifyColumn('ActualSubmissionDateSL')().IsVerified()" class="form-control date-picker col-xs-6" />
                        <span class="input-group-addon"><i class="icon-calendar bigger-110"></i></span>
                        <!--<label data-bind="visible:!IsUnderlyingCompleted()" class="control-label bolder text-danger" for="account">*</label>-->
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trade-date">
                    Actual Submission Instruction
                </label>
                <div class="col-sm-9">
                    <div class="clearfix input-group col-sm-3 no-padding">
                        <input type="text" autocomplete="off" id="ActualSubmissionDateInstruction" data-date-format="dd-M-yyyy" name="ActualSubmissionDateInstruction" data-bind="value:SubmissionDateInstruction,datepicker:SubmissionDateInstruction,  enable: !$root.VerifyColumn('ActualSubmissionDateInstruction')().IsVerified()" class="form-control date-picker col-xs-6" />
                        <span class="input-group-addon"><i class="icon-calendar bigger-110"></i></span>
                        <!--<label data-bind="visible:!IsUnderlyingCompleted()" class="control-label bolder text-danger" for="account">*</label>-->
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trade-date">
                    Actual Submission Date Underlying
                </label>
                <div class="col-sm-9">
                    <div class="clearfix input-group col-sm-3 no-padding">
                        <input type="text" autocomplete="off" id="ActualSubmissionDateUnderlying" data-date-format="dd-M-yyyy" name="ActualSubmissionDateUnderlying" data-bind="value:SubmissionDateUnderlying,datepicker:SubmissionDateUnderlying,  enable: !$root.VerifyColumn('ActualSubmissionDateUnderlying')().IsVerified()" class="form-control date-picker col-xs-6" />
                        <span class="input-group-addon"><i class="icon-calendar bigger-110"></i></span>
                        <!--<label data-bind="visible:!IsUnderlyingCompleted()" class="control-label bolder text-danger" for="account">*</label>-->
                    </div>
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">
                    Is Underlying Completed
                </label>
                <label class="col-sm-1">
                    <input id="check-signature-verification" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsUnderlyingCompleted, enable: !$root.VerifyColumn('UnderlyingComplete')().IsVerified()" />
                    <span class="lbl"></span>
                </label>
            </div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="IsResident">
                    Resident
                </label>
                <div class="col-xs-3">
                    <label>
                        <input class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsResident,disable: true">
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Remarks</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <textarea class="col-sm-12" name="purpose-detail" id="purpose-detail" rows="6" data-rule-required="false" data-bind="value: Remarks"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" data-bind="with:Transaction">
        <div class="padding-4" data-bind="if : ($root.t_IsFxTransaction()||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue()))">
            <h3 class="header smaller lighter dark">
                Un-utilize Underlying Documents
                <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.NewDataUnderlying">
                    <i class="icon-plus"></i>
                    Add Underlying
                </button>
            </h3>
            <!-- widget box start -->
            <div id="widget-box" class="widget-box">
                <!-- widget header start -->
                <div class="widget-header widget-hea1der-small header-color-dark">
                    <h6>Underlying Table</h6>
                    <div class="widget-toolbar">
                        <label class="tooltip-info" data-rel="tooltip" data-placement="top" title="Allow Filter">
                            <i class="blue icon-filter"></i>
                            <input type="checkbox" class="ace ace-switch ace-switch-3" data-bind="checked: $root.UnderlyingGridProperties().AllowFilter" />
                            <span class="lbl"></span>
                        </label>
                        <a href="#" data-bind="click: $root.GetDataUnderlying" class="tooltip-info" data-rel="tooltip" data-placement="top" title="Reload Content">
                            <i class="blue icon-refresh"></i>
                        </a>
                    </div>
                </div>
                <!-- widget header end -->
                <!-- widget body start -->
                <div class="widget-body">
                    <!-- widget main start -->
                    <div class="widget-main padding-0">
                        <!-- widget slim control start -->
                        <div class="slim-scroll" data-height="200">
                            <!-- widget content start -->
                            <div class="content">

                                <!-- table responsive start -->
                                <div class="table-responsive">
                                    <div class="dataTables_wrapper" role="grid">
                                        <table id="Customer Underlying-table" class="table table-striped table-bordered table-hover dataTable">
                                            <thead>
                                                <tr data-bind="with: $root.UnderlyingGridProperties">
                                                    <th style="width:50px">
                                                        No.
                                                    </th>
                                                    <th style="width:50px">
                                                        Utilize
                                                    </th>
                                                    <th data-bind="click: function () { Sorting('StatementLetter'); }, css: GetSortedColumn('StatementLetter')">
                                                        Statement
                                                        Letter
                                                    </th>
                                                    <th data-bind="click: function () { Sorting('UnderlyingDocument'); }, css: GetSortedColumn('UnderlyingDocument')">
                                                        Underlying
                                                        Document
                                                    </th>
                                                    <th data-bind="click: function () { Sorting('DocumentType'); }, css: GetSortedColumn('DocumentType')">
                                                        Type of Doc
                                                    </th>
                                                    <th data-bind="click: function () { Sorting('Currency'); }, css: GetSortedColumn('Currency')">
                                                        Currency
                                                    </th>
                                                    <th data-bind="click: function () { Sorting('Amount'); }, css: GetSortedColumn('Amount')">
                                                        Amount
                                                    </th>
                                                    <th data-bind="click: function () { Sorting('AvailableAmount'); }, css: GetSortedColumn('AvailableAmount')">
                                                        Available
                                                        Amount Underlying in
                                                        USD
                                                    </th>
                                                    <th data-bind="click: function () { Sorting('AvailableAmount'); }, css: GetSortedColumn('AvailableAmount')">
                                                        Utilize Amount Deal
                                                    </th>
                                                    <th data-bind="click: function () { Sorting('DateOfUnderlying'); }, css: GetSortedColumn('DateOfUnderlying')">
                                                        Date
                                                    </th>
                                                    <th data-bind="click: function () { Sorting('SupplierName'); }, css: GetSortedColumn('SupplierName')">
                                                        Supplier
                                                        Name
                                                    </th>
                                                    <th data-bind="click: function () { Sorting('InvoiceNumber'); }, css: GetSortedColumn('InvoiceNumber')">
                                                        Invoice
                                                        Number
                                                    </th>
                                                    <th data-bind="click: function () { Sorting('AttachmentNo'); }, css: GetSortedColumn('AttachmentNo')">
                                                        Attachment
                                                        No
                                                    </th>
                                                    <th data-bind="click: function () { Sorting('AttachmentNo'); }, css: GetSortedColumn('AttachmentNo')">
                                                        Created By
                                                    </th>
                                                    <th data-bind="click: function () { Sorting('AttachmentNo'); }, css: GetSortedColumn('AttachmentNo')">
                                                        Last Modified By
                                                    </th>
                                                    <!--<th data-bind="click: function () { Sorting('ReferenceNumber'); }, css: GetSortedColumn('ReferenceNumber')">Reference Number</th>-->
                                                    <th style="width:50px">
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <thead data-bind="visible: $root.UnderlyingGridProperties().AllowFilter" class="table-filter">
                                                <tr>
                                                    <th class="clear-filter">
                                                        <a href="#" data-bind="click: $root.UnderlyingClearFilters" class="tooltip-info" data-rel="tooltip" data-placement="right" title="Clear Filters">
                                                            <i class="green icon-trash"></i>
                                                        </a>
                                                    </th>
                                                    <th class="clear-filter"></th>
                                                    <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterStatementLetter, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                    <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterUnderlyingDocument, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                    <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterDocumentType, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                    <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterCurrency, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                    <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterAmount, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                    <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterAvailableAmount, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                    <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterAvailableAmount, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                    <th><input type="text" class="input-sm col-xs-12 date-picker" data-date-format="yyyy/mm/dd" data-bind="value: $root.UnderlyingFilterDateOfUnderlying, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                    <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterSupplierName, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                    <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterInvoiceNumber, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                    <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterAttachmentNo, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                    <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterAttachmentNo, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                    <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterAttachmentNo, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                    <!--<th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterReferenceNumber, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>-->
                                                    <th class="clear-filter"></th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: $root.CustomerUnderlyings, visible: $root.CustomerUnderlyings().length > 0">
                                                <tr>
                                                    <td><span data-bind="text: RowID"></span></td>
                                                    <!--<td><span data-bind="text: $index() +1"></span></td>-->
                                                    <td align="center"><input type="checkbox" id="isUtilize" name="isUtilize" data-bind="checked:IsEnable,event: {change:function(data){$root.onSelectionUtilize($index(),$data)}}" /></td>
                                                    <td><span data-bind="text: StatementLetter.Name"></span></td>
                                                    <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                                    <td><span data-bind="text: DocumentType.Name"></span></td>
                                                    <td><span data-bind="text: Currency.Code"></span></td>
                                                    <td align="right"><span data-bind="text:  $root.FormatNumber(Amount)"></span></td>
                                                    <td align="right"><span data-bind="text:  $root.FormatNumber(AvailableAmount)"></span></td>
                                                    <td align="right"><input type="text" class="input-sm col-xs-15" data-bind="value: UtilizeAmountDeal,attr: { id: 'Position'+$index(), name: 'Position'+$index()}, event:{ 'keyup': $root.onChangeUtilizeAmountDeal }" /></td>
                                                    <td><span data-bind="text: $root.LocalDate(DateOfUnderlying,true,false)"></span></td>
                                                    <td><span data-bind="text: SupplierName"></span></td>
                                                    <td><span data-bind="text: InvoiceNumber"></span></td>
                                                    <td><span data-bind="text: AttachmentNo"></span></td>
                                                    <td><span data-bind="text: LastModifiedBy"></span></td>
                                                    <td><span data-bind="text: LastModifiedBy"></span></td>
                                                    <!--<td><span data-bind="text: ReferenceNumber"></span></td>-->
                                                    <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: $root.GetUnderlyingSelectedRow,text:IsUtilize?'view':'Update'"></span></td>
                                                </tr>
                                            </tbody>
                                            <tbody data-bind="visible: $root.CustomerUnderlyings().length == 0">
                                                <tr>
                                                    <td colspan="16" class="text-center">
                                                        No
                                                        entries
                                                        available.
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- table responsive end -->
                            </div>
                            <!-- widget content end -->
                        </div>
                        <!-- widget slim control end -->
                        <!-- widget footer start -->

                        <div class="widget-toolbox padding-8 clearfix">
                            <div class="row" data-bind="with: $root.UnderlyingGridProperties">
                                <!-- pagination size start -->
                                <div class="col-sm-6">
                                    <div class="dataTables_paginate paging_bootstrap pull-left">
                                        Showing <select data-bind="options: AvailableSizes, selectedOptions: Size, event: { change: OnPageSizeChange }" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="Showing Page Entries"></select>
                                        rows of <span data-bind="text: Total"></span>
                                        entries
                                    </div>
                                </div>
                                <!-- pagination size end -->
                                <!-- pagination page jump start -->
                                <div class="col-sm-3">
                                    <div class="dataTables_paginate paging_bootstrap">
                                        Page <input type="text" data-bind="value: Page, event: { change: OnPageChange }" style="width:50px" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="Jump to Page" />
                                        of <span data-bind="text: TotalPages"></span>
                                    </div>
                                </div>
                                <!-- pagination page jump end -->
                                <!-- pagination navigation start -->
                                <div class="col-sm-3">
                                    <div class="dataTables_paginate paging_bootstrap">
                                        <ul class="pagination">
                                            <li data-bind="click: FirstPage, attr: { class : Page() > 1 ? '' : 'disabled' }">
                                                <a href="#" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="First Page">
                                                    <i class="icon-double-angle-left"></i>
                                                </a>
                                            </li>
                                            <li data-bind="click: PreviousPage, attr: { class : Page() > 1 ? '' : 'disabled' }">
                                                <a href="#" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="Previous Page">
                                                    <i class="icon-angle-left"></i>
                                                </a>
                                            </li>
                                            <li data-bind="click: NextPage, attr: { class : Page() < TotalPages() ? '' : 'disabled' }">
                                                <a href="#" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="Next Page">
                                                    <i class="icon-angle-right"></i>
                                                </a>
                                            </li>
                                            <li data-bind="click: LastPage, attr: { class : Page() < TotalPages() ? '' : 'disabled' }">
                                                <a href="#" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="Last Page">
                                                    <i class="icon-double-angle-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- pagination navigation end -->
                            </div>
                        </div>
                        <!-- widget footer end -->
                    </div>
                    <!-- widget main end -->
                </div>
                <!-- widget body end -->
            </div>
            <!-- widget box end -->
        </div>
        <!--- Added form custome Customer Underlying End -->

        <div class="space-4"></div>
        <div data-bind="if:($root.t_IsFxTransaction()||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue()))">
            <div class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="totalutilization">
                        Total Underlying
                    </label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" class="col-sm-4 align-right" name="totalutilization" id="totalunderlying" data-rule-required="true" disabled="disabled" data-rule-number="true" data-bind="value:  $root.FormatNumber($root.utilizationAmount)" />
                            <label class="col-sm-3 control-label bolder align-left" for="total-utilization">
                                Rounding Amount: <span data-bind="text: formatNumber($root.Rounding())"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="total-utilization">
                        Total Utilization
                    </label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" class="col-sm-4 align-right" name="total-utilization" id="total-utilization" data-rule-required="true" disabled="disabled" data-rule-number="true" data-bind="value:  $root.FormatNumber($root.AmountModel().TotalUtilization)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-4"></div>

        <div class="padding-4">
            <h3 class="header smaller lighter dark">
                Instruction Form and Docs
                <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocumentUnderlying, visible:($root.t_IsFxTransaction()||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue()))">
                    <i class="icon-plus"></i>
                    Attach
                </button>
                <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocument, visible:!($root.t_IsFxTransaction()||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue()))">
                    <i class="icon-plus"></i>
                    Attach
                </button>
            </h3>

            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: $root.MakerDocuments, visible: $root.MakerDocuments().length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td>
                                <div data-bind="if:IsNewDocument">
                                    <span data-bind="text: FileName"></span>
                                </div>
                                <div data-bind="ifnot:IsNewDocument">
                                    <a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a>
                                </div>
                            </td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            <td><a href="#" data-bind="click: $root.RemoveDocumentData">Remove</a></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: $root.MakerDocuments().length == 0">
                        <tr>
                            <td colspan="13" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>