﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-all"></label>

                <label class="col-sm-8 control-label bolder no-padding-right" for="product-code">Check All</label>

                <label class="col-sm-1">
                    <input name="check-all" id="check-all" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.CheckAll(), click: function(data) { $root.CheckAllData('TransactionChecker'); }" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-1 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>

                <label class="col-sm-1 control-label bolder no-padding-right" for="normal">Normal</label>

                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: Transaction.IsNormal ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Top Urgent')">
                    <input name="check-bank-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <label class="col-sm-8">
                    <span id="customer-name" data-bind="text: Transaction.Customer.Name"></span>
                    <span class="label label-warning arrowed" data-bind="if: Transaction.IsNewCustomer">
                        <i class="icon-warning-sign bigger-120"></i>
                        New Customer
                    </span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Customer Name')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <label class="col-sm-9">
                    <span id="cif" data-bind="text: Transaction.Customer.CIF"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>

                <label class="col-sm-9">
                    <span id="product-code" data-bind="text: Transaction.Product.Code"></span>
                    (<span id="product-name" data-bind="text: Transaction.Product.Name"></span>)
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <label class="col-sm-8">
                    <span id="channel" data-bind="text: Transaction.Channel.Name"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Channel')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 4-->
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsPPURole()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>

                <label class="col-sm-8">
                    <span id="source" data-bind="text: $root.SourceName()"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Source')">
                    <input name="check-source" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 4-->
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Remarks</label>
                <label class="col-sm-8">
                    <textarea class="col-lg-10" id="remarks" rows="6" data-bind="value: Transaction.Remarks,disable:true"></textarea>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Attachment Remarks')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 4-->
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-callback-required">Callback is Required</label>

                <label class="col-sm-1">
                    <input id="check-callback-required" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsCallbackRequired" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Signature Verification</label>

                <label class="col-sm-1">
                    <input id="check-signature-verification" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsSignatureVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-dormant-account">Dormant Account</label>

                <label class="col-sm-1">
                    <input id="check-dormant-account" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsDormantAccount" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-freeze-account">Freeze Account</label>

                <label class="col-sm-1">
                    <input id="check-freeze-account" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsFreezeAccount" />

                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: Transaction.Channel.Name == 'Fax'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-loi-available">Letter of Indemnity Available</label>

                <label class="col-sm-1">
                    <input id="check-loi-available" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsLOIAvailable" />

                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-statement-Letter-copy">Statement Letter Copy</label>

                <label class="col-sm-1">
                    <input id="check-statement-Letter-copy" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsStatementLetterCopy" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="others">Others Exceptional Handling</label>
                <div class="col-sm-8">
                    <div class="clearfix">
                        <div class="space-4"></div>
                        <textarea class="col-sm-12" name="others" id="others" rows="6" data-bind="value: Checker.Others"></textarea>
                    </div>
                    <div class="space-4"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-completeness">Document Completeness</label>

                <label class="col-sm-9" data-bind="with: $root.VerifyColumn('Document Completeness')">
                    <input id="check-document-completeness" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified, click: IsDocumentCompleteCheck()" />
                    <span class="lbl"></span>
                </label>
            </div>
        </div>

        <div class="space-16"></div>

        <div class="padding-4">
            <h3 class="header smaller lighter dark">Attachment</h3>

            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: Transaction.Documents.length == 0">
                        <tr>
                            <td colspan="13" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
