﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group" data-bind="visible:$root.IsSwapTransaction() || $root.IsNettingTransaction()">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    &nbsp;
                </label>
                <label class="col-sm-4 pull-right">
                    <span class="label label-warning">
                        <i class="icon-info-sign bigger-120"></i> <!--Swap transaction, Booking Reference :-->
                        <span data-bind="text:$root.MessageTransactionType() + ', Booking Reference :' + $root.Swap_NettingDFNumber()"></span>
                    </span>
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>


            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>
                <label class="col-sm-8">
                    <span id="ustomer-name" data-bind="text: Transaction.Customer.Name"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>
                <label class="col-sm-8">
                    <span id="cif" data-bind="text: Transaction.Customer.CIF"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="tzreference">Booking Reference</label>
                <label class="col-sm-8">
                    <span id="tzreference" data-bind="text: Transaction.TZNumber"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trade-date">Trade Date</label>
                <label class="col-sm-8">
                    <span id="trade-date" data-bind="text: $root.LocalDate(Transaction.TradeDate, true)"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Value Date</label>
                <label class="col-sm-8">
                    <span id="value-date" data-bind="text: $root.LocalDate(Transaction.ValueDate, true)"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="ifnot:Transaction.IsOtherAccountNumber">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Account</label>
                <label class="col-sm-8">
                    <span id="account1" data-bind="text: Transaction.Account.AccountNumber + ' (' + Transaction.Account.Currency.Code + ')'"></span> <span id="accCustomerName" data-bind="text:' -'+ Transaction.Account.CustomerName,visible:Transaction.Account.IsJointAccount != null && Transaction.Account.IsJointAccount == true"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:Transaction.IsOtherAccountNumber">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Account</label>
                <label class="col-sm-8">
                    <span id="account" data-bind="text: Transaction.OtherAccountNumber + ' (' + Transaction.AccountCurrencyCode + ')'"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="statement-letter">Statement Letter</label>
                <label class="col-sm-8">
                    <span id="statement-letter" data-bind="text: Transaction.StatementLetter.Name"></span>
                </label>
            </div>

            <!--<div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if:(($root.t_IsFxTransaction()||($root.t_IsFxTransactionToIDR() && $root.IsHitThreshold())) && !$root.IsAnnualStatement())">-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if:($root.t_IsFxTransaction()||$root.t_IsFxTransactionToIDR())">
                <label class="col-sm-3 control-label bolder no-padding-right" for="rate-type">Product Type</label>

                <label class="col-sm-8">
                    <span id="rate-type" data-bind="text: Transaction.ProductType.Code"></span>
                </label>
            </div>


            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency-code">Currency</label>
                <label class="col-sm-8">
                    <span id="currency-code" data-bind="text: Transaction.Currency.Code"></span>
                    (<span id="currency-desc" data-bind="text: Transaction.Currency.Description"></span>)
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="rate">FCY Amount</label>

                <label class="col-sm-8">
                    <span id="amount" data-bind="text: $root.FormatNumber(Transaction.Amount)"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="rate">Rate (BI Mid-Rate)</label>

                <label class="col-sm-8">
                    <span id="rate" data-bind="text: $root.FormatNumber(Transaction.Rate)"></span>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="amount-usd">EQV USD</label>

                <label class="col-sm-8">
                    <span id="amount-usd" data-bind="text: $root.FormatNumber(Transaction.AmountUSD)"></span>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="amount-remaining">Remaining Underlying Balance</label>

                <label class="col-sm-8">
                    <span id="amount-remaining" data-bind="text: formatNumber($root.AmountModel().RemainingBalance())"></span>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-code">Underlying Code</label>

                <label class="col-sm-8">
                    <span id="underlying-code" data-bind="text: Transaction.bookunderlyingdoccode "></span>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-code">Underlying Description</label>

                <label class="col-sm-8">
                    <span id="other-underlying" data-bind="text: $root.DealUnderlying.Description "></span>
                </label>

            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="isResident">Resident</label>
                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsResident ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>
            <div class="space-30"></div>
                <!--<div id="un-utilize" class="padding-4"> -->               
            <!--<div data-bind="if: (($root.t_IsFxTransaction()||($root.t_IsFxTransactionToIDR() && $root.IsHitThreshold())) && !$root.IsAnnualStatement())">-->               
            <div data-bind="if: ($root.t_IsFxTransaction()||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue()))">
                <h3 class="header smaller lighter dark">Un-Utilize Underlying Documents</h3>

                <div class="table-responsive">
                    <div class="dataTables_wrapper" role="grid" data-bind="with: Transaction.Customer">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Statement Letter</th>
                                    <th>Underlying</th>
                                    <th>Type of Docs</th>
                                    <th>Currency</th>
                                    <th>Amount</th>
                                    <th>Available Amount in USD</th>
                                    <th>Date</th>
                                    <th>Supllier Name</th>
                                    <th>Ref. Number</th>
                                    <th style="width:50px">Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: Underlyings">
                                <tr>
                                    <td><span data-bind="text: $index() +1"></span></td>
                                    <td><span data-bind="text: StatementLetter.Name"></span></td>
                                    <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                    <td><span data-bind="text: DocumentType.Name"></span></td>
                                    <td><span data-bind="text: Currency.Code"></span></td>
                                    <td align="right"><span data-bind="text: $root.FormatNumber(Amount)"></span></td>
                                    <td align="right"><span data-bind="text: $root.FormatNumber(AvailableAmount)"></span></td>
                                    <td><span data-bind="text: $root.LocalDate(ExpiredDate, true, false)"></span></td>
                                    <td><span data-bind="text: SupplierName"></span></td>
                                    <td><span data-bind="text: ReferenceNumber"></span></td>
                                    <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: $root.GetUnderlyingSelectedRow">View</span></td>
                                </tr>
                            </tbody>

                            <tbody data-bind="visible: (Underlyings!=null && Underlyings.length == 0)||Underlyings==null">
                                <tr>
                                    <td colspan="11" align="center">No entries available.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="space-10"></div>

                <!--<div>
            <div class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Utilization Amount</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" class="col-sm-4 align-right" name="utilization-amount" id="utilization-amount" data-bind="value: $root.FormatNumber($root.UtilizationAmounts()), disable: true" rule-required="true" data-rule-number="true" />
                        </div>
                    </div>
                </div>

            </div>
        </div>-->

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Total Utilization</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" class="col-sm-4 align-right" name="utilization-amount" id="utilization-amount" data-rule-required="false" disabled="disabled" data-rule-number="true" data-bind="value : formatNumber_r($root.AmountModel().TotalDealUtilization())" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Total Transaction Amount in USD</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" class="col-sm-4 align-right" name="utilization-amount" id="TotalAmountTrx" data-rule-required="false" disabled="disabled" data-rule-number="true" data-bind="value : formatNumber_r($root.AmountModel().TotalDealAmountsUSD())" />
                        </div>
                    </div>
                </div>

            </div>

                <div class="space-4"></div>

                <h3 class="header smaller lighter dark">Instruction Form and Docs</h3>

                <!--data-bind="visible:!$root.IsUnderlyingMode()" -->
                <div id="attachFile" class="padding-4">
                    <!-- <div class="dataTables_wrapper" role="grid" data-bind="if: !(($root.t_IsFxTransaction())||($root.t_IsFxTransactionToIDR() && $root.TransactionDeal().Transaction.ProductType.IsFlowValas==true && $root.TransactionDeal().Transaction.AmountUSD>=1000000))"> -->

                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>File Name</th>
                                <th>Purpose of Docs</th>
                                <th>Type of Docs</th>
                                <th>Modified</th>
                            </tr>
                        </thead>
                        <!--<tbody data-bind="foreach: $root.TransactionDeal().Transaction.Documents, visible: $root.TransactionDeal().Transaction.Documents.length > 0">-->
                        <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                            <tr>
                                <!--data-bind="click: $root.EditDocument"-->
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>
                                <!-- <td><span data-bind="text: FileName"></span></td>-->
                                <td><span data-bind="text: Purpose.Name"></span></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: moment(DocumentPath.lastModifiedDate).format(config.format.dateTime)"></span></td><!--$root.LocalDate(LastModifiedDate)-->
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: Transaction.Documents.length == 0">
                            <tr>
                                <td colspan="6" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!--- Grid Underlying Proforma Start -->
                <!-- widget header start -->
                <!--  <div data-bind="if: ($root.t_IsFxTransaction())||($root.t_IsFxTransactionToIDR() && $root.TransactionDeal().Transaction.ProductType.IsFlowValas==true && $root.TransactionDeal().Transaction.AmountUSD>=1000000)">

            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Document Purpose</th>
                            <th>Update</th>
                            <th>Document Ref Number</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: $root.CustomerUnderlyingFiles">
                        <tr>
                            <td><span data-bind="text: RowID"></span></td>
                            <td><a data-bind="attr: { href: DocumentPath }, text: FileName"></a></td>
                            <td><span data-bind="text: DocumentPurpose.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate,false,false)"></span></td>
                            <td><span data-bind="text: DocumentRefNumber"></span></td>
                            <td style="width:0px;display: none"><span data-bind="text: DocumentPath"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            &lt;!&ndash; widget header end &ndash;&gt;
        </div>-->

</div><!-- widget body end -->
        <!--- Grid Underlying Proforma End -->
    </div>

</div>
