<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">

        <h3 class="header smaller no-margin-top lighter dark">Customer Information</h3>

        <div id="customer-form" class="form-horizontal" role="form">
            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">CIF</label>

                <label class="col-sm-9">
                    <span data-bind="text: Transaction.Customer.CIF"></span>
                </label>
            </div>

            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Customer Name</label>

                <label class="col-sm-9">
                    <span data-bind="text: Transaction.Customer.Name"></span>
                </label>
            </div>

            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Branch</label>

                <label class="col-sm-9"><div data-bind="ifnot: Transaction.Customer.Branch == null">
                    <span data-bind="text: Transaction.Customer.Branch.Name"></span> </div>
                </label>

            </div>

            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Biz Segment</label>

                <label class="col-sm-9">
                    <span data-bind="text: Transaction.Customer.BizSegment.Name"></span>
                    (<span data-bind="text: Transaction.Customer.BizSegment.Description"></span>)
                </label>
            </div>
        </div>

        <div class="space-4"></div>

        <h3 class="header smaller lighter dark">Customer Contacts</h3>
        <div class="table-responsive">
            <div class="table-responsive" role="grid">
                <table id="customerContact-table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Contact Name</th>
                            <th>Phone No</th>
                            <th>Date of Birth</th>
                            <th>ID Number</th>
                            <th>POA Function</th>
							<th>OccupationIn ID</th>
							<th>Place of Birth</th>
							<th>Effective Date</th>
							<th>Cancellation Date</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Contacts, visible: Contacts != null && (Contacts != null ? Contacts.length > 0 : false)">
                        <tr data-bind="click: $root.GetSelectedContactRow">
                            <td><span data-bind="text: $index() + 1"></span></td>
                            <td><span data-bind="text: Name"></span></td>
                            <td><span data-bind="text: PhoneNumber"></span></td>
                            <td><span data-bind="text: $root.LocalDate(DateOfBirth,true,false)"></span></td>
                            <!--<td><span data-bind="text: moment(DateOfBirth).format('MM-DD-YYYY')"></span></td>-->
                            <!--<td><span data-bind="text: Address"></span></td>-->
                            <td><span data-bind="text: IDNumber"></span></td>
                            <td><span data-bind="text: POAFunction.Description"></span></td>
                            <!--<td><span data-bind="text: POAFunction.Name"></span> (<span data-bind="text: POAFunction.Description"></span>)</td>-->
                            <td><span data-bind="text: OccupationInID"></span></td>
                            <td><span data-bind="text: PlaceOfBirth"></span></td>
                            <td><span data-bind="text: $root.LocalDate(EffectiveDate,true,false)"></span></td>
                            <td><span data-bind="text: $root.LocalDate(CancellationDate,true,false)"></span></td>
                            <!--<td><a href="#" data-bind="click: $root.RemoveContact">Remove</a></td>-->
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: (Contacts == null || Contacts.length == 0)">
                        <tr>
                            <td colspan="10" style="text-align: center">No contact(s) available</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--<div data-bind="visible: $root.IsNewContact">
            <h3 class="header smaller no-margin-top lighter dark">New Contact</h3>

            <div id="contact-form" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="Name">Contact Name</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input class="col-sm-8" type="text" name="Name" id="Name" data-bind="value: $root.ContactName" data-rule-required="true" data-rule-value="true" data-rule-minlength="2" data-rule-maxlength="255" />
                        </div>
                    </div>
                </div>

                <div class="space-2"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="PhoneNumber">Phone Number</label>

                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon-phone"></i>
                            </span>
                            <input class="col-sm-3" type="text" name="PhoneNumber" id="PhoneNumber" data-bind="value: $root.ContactPhone" data-rule-required="true" />
                        </div>
                    </div>
                </div>

                <div class="space-2"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="DateOfBirth">Date of Birth</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input class="date-picker" type="text" data-date-format="dd-M-yyyy" name="DateOfBirth" id="DateOfBirth" data-bind="datepicker: true, value: $root.ContactDOB" data-rule-required="true" />
                        </div>
                    </div>
                </div>

                <div class="space-2"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="Address">Address</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <textarea class="col-sm-12" name="Address" id="Address" data-bind="value: $root.ContactAddress" data-rule-required="true" ></textarea>
                        </div>
                    </div>
                </div>

                <div class="space-2"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="IDNumber">ID Number</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input class="col-sm-5" type="text" name="IDNumber" id="IDNumber" data-bind="value: $root.ContactIDNumber" data-rule-required="true" data-rule-minlength="2" data-rule-maxlength="50" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="poa-function">POA Function</label>

                    <div class="col-sm-5">
                        <div class="clearfix">
                            <select id="poa-function" name="poa-function" data-rule-required="true" data-rule-value="true"
                                    data-bind="options: $root.POAFunctions,
                                    optionsText: function(item) { if(item.Name != null) return item.Name + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().POAFunction,
                                    event: { change: function(){ $root.PopulateSelected('TransactionContactMaker', 'POAFunction'); } }">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="pull-right">
            <button id="btnAddNewContact" class="btn btn-sm btn-primary" data-bind="click: $root.AddContact" >
                <i class="icon-plus"></i>
                Add New Contact
            </button>

            <!--<button class="btn btn-sm btn-primary" data-bind="click: $root.SaveContact, visible: $root.IsNewContact">
                <i class="icon-save"></i>
                Save Contact
            </button>-->
        </div>
    </div>
</div>