﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="top-urgent">Top Urgent</label>

                <label class="col-sm-1">
                    <input id="top-urgent" name="top-urgent" class="ace ace-switch ace-switch-6" type="checkbox" onclick="SetTopUrgent()" disabled="disabled" data-bind="    checked: $root.IsTopUrgent(), enable: !$root.VerifyColumn('Top Urgent')().IsVerified" />
                    <span class="lbl"></span>
                </label>

                <label class="col-sm-1 control-label bolder no-padding-right" for="top-urgent">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <input id="top-urgent" name="top-urgent" class="ace ace-switch ace-switch-6" type="checkbox" onclick="SetTopUrgentChain()" disabled="disabled" data-bind="    checked: $root.IsTopUrgentChain(), enable: !$root.VerifyColumn('Top Urgent')().IsVerified" />
                    <span class="lbl"></span>
                </label>

                <label class="col-sm-1 control-label bolder no-padding-right" for="normal">Normal</label>

                <label class="col-sm-1">
                    <input id="normal" name="normal" class="ace ace-switch ace-switch-6" type="checkbox" onclick="SetTopUrgentNormal()" data-bind="    checked: $root.IsNormal(), enable: !$root.VerifyColumn('Top Urgent')().IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <div class="col-sm-6">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-12" name="customer-name" id="customer-name" data-rule-required="true" data-bind="value: Transaction.Customer.Name, enable: false" />
                    </div>
                </div>

                <label class="col-sm-3">
                    <input id="is-new-customer" name="is-new-customer" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsNewCustomer" />
                    <span class="lbl">&nbsp; <b>New Customer</b></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-3" name="cif" id="cif" disabled="disabled" data-bind="value: Transaction.Customer.CIF" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="product" name="product" data-rule-required="true" disabled="disabled" data-bind="options: $root.Products, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Product.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency">Currency</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="currency" name="currency" data-rule-required="true"
                                data-bind="options: $root.Currencies,
                                    enable: !$root.VerifyColumn('Currency')().IsVerified,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().Currency,
                                    onkeyup: OnKeyUp('TransactionMaker'),
                                    event: { change: function(){ $root.PopulateSelected('TransactionMaker', 'Currency'); } }"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trxn-amount">Trxn Amount</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="trxn-amount" id="trxn-amount" data-in="" onkeyup="OnKeyUp('TransactionMaker')" data-rule-required="true" data-rule-number="true" data-bind="value: $root.Amount, enable: !$root.VerifyColumn('Trxn Amount')().IsVerified" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="rate">IDR Mid Rate (BI Mid-Rate)</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="rate" id="rate" data-in="" disabled="disabled" onkeyup="OnKeyUp('TransactionMaker')" data-rule-number="true" data-bind="value: formatNumber_r($root.Rate)" />
                    </div>
                </div>
            </div>
            <!--Permintaan User
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trxrate">Transaction Rate</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="trxrate" id="trxrate" data-in="" onkeyup="OnKeyUp('TransactionMaker')" data-rule-number="true" data-bind="value: formatNumber_r($root.TrxRate), enable: !$root.VerifyColumn('Transaction Rate')().IsVerified" />
                    </div>
                </div>
            </div>
            END-->
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="eqv-usd">Eqv. USD</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="eqv-usd" id="eqv-usd" disabled="disabled" data-rule-required="true" data-rule-number="true" data-bind="value: $root.AmountUSD_r(), event:{change:  $root.RefreshAutoComplete('TransactionMaker')}" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="eqv-usd">TZ Number</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="tznumber" id="tznumber" data-bind="value: Transaction.TZNumber, enable: !$root.VerifyColumn('TZ Number')().IsVerified" />
                        <label data-bind="if:$root.IsTZNumber" class="control-label bolder text-danger" for="tznumber">*</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="channel" name="channel" data-rule-required="true" data-bind="options: $root.Channels, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Channel.ID, enable: !$root.VerifyColumn('Channel')().IsVerified"></select>
                        <label class="control-label bolder text-danger" for="channel">*</label>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="if: $root.IsPPURole()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="source" name="source" data-rule-required="true" data-bind="options: $root.Sources, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.SourceID, enable: !$root.VerifyColumn('Source')().IsVerified"></select>
                        <label class="control-label bolder text-danger" for="source">*</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-number">Debit Acc Number</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="book-joinAcc" name="book-statement" data-bind="value: Transaction.IsJointAccount,
                                        options:$root.CIFJointAccounts,
                                        optionsText:'Name',
                                        optionsValue: 'ID',
                                        event:{ change: $root.OnChangeJointAcc },
                                        enable: ((!$root.VerifyColumn('Debit Acc Number')().IsVerified)) && ($root.IsJointAccount())" class="col-xs-3"></select>
                        <select id="debit-acc-number" name="debit-acc-number" data-rule-required="true" data-bind="options: $root.DynamicAccounts,
                                        optionsText: function(item) { if(item.AccountNumber != '-'  ){ if(item.CustomerName!=null){return item.AccountNumber+' ('+  item.Currency.Code+') - '+ item.CustomerName } return item.AccountNumber+' ('+  item.Currency.Code+')'} return item.AccountNumber},
                                        optionsValue: 'AccountNumber',
                                        optionsCaption: 'Please Select...',
                                        value: $root.Selected().Account,
                                        event:{ change: $root.CheckEmptyAccountNumber },
                                        enable: ((!$root.VerifyColumn('Debit Acc Number')().IsVerified) || ($root.IsDebitAccNumber()))" class="col-xs-5"></select>
                        <label data-bind="if: $root.IsDebit" class="control-label bolder text-danger" for="debit-acc-number">*</label>
                        <input type="text" autocomplete="off" name="debit-acc-number-empty" id="debit-acc-number-empty" data-rule-required="true" data-bind="value: Transaction.OtherAccountNumber,visible: $root.IsEmptyAccountNumber(),enable: !$root.VerifyColumn('Debit Acc Number')().IsVerified" />
                        <label class="control-label bolder text-danger" for="debit-acc-number" data-bind="visible: $root.IsEmptyAccountNumber()">*</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-ccy">Debit Acc CCY</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-1" name="debit-acc-ccy" id="debit-acc-ccy" disabled="disabled" data-bind="value: Transaction.DebitCurrency.Code, visible: !$root.IsEmptyAccountNumber()" />

                        <select id="othercurrency" name="othercurrency" data-rule-required="true"
                                data-bind="options: $root.DebitCurrencies, visible: $root.IsEmptyAccountNumber,
                                    enable: !$root.VerifyColumn('Debit Acc CCY')().IsVerified,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().DebitCurrency,
                                    event: { change: function(){ $root.PopulateSelected('TransactionMaker', 'DebitCurrency'); } }"></select>
                    </div>
                </div>
            </div>

            <!--add henggar Transaction Maker detail-->
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-sundry">Debit Sundry</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="debit-sundry" name="debit-sundry" class="col-xs-3"
                                data-bind="options: $root.Sundry,
                                    enable: !$root.VerifyColumn('Debit Sundry')().IsVerified,
                                    optionsText: 'OABAccNo',
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().Sundry,
                                    event: { change: function(){ $root.PopulateSelected('TransactionMaker', 'Sundry'); } }" onclick="OnChangeSundry()"></select> <!--, change: $root.OnChangeSundry }"></select>-->
                    </div>
                </div>
            </div>
            <!--Permintaan User
            <div class="form-group" data-bind="visible: Transaction.Product.Code =='OT'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="nostro">Nostro</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="nostro" name="nostro" data-rule-value="true" data-rule-required="true"
                                data-bind="options: $root.DynamicNostro,
                                    enable: !$root.VerifyColumn('Nostro')().IsVerified,
                                    optionsText: 'NostroUsed',
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().Nostro,
                                    event: { change: function() { $root.PopulateSelected('TransactionMaker', 'Nostro'); } }"></select>
                        <label class="control-label bolder text-danger" for="nostro">*</label>
                    </div>
                </div>
            </div>
            END-->

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="application-date">Application Date</label>
                <div class="col-sm-2">
                    <div class="clearfix input-group col-sm-12 no-padding">
                        <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" onchange="formatMakerDateApplication('TransactionMaker')" id="application-date" name="application-date" data-rule-required="true" data-rule-date="true" data-bind="    datepicker: true, value: $root.ApplicationDateMask(), enable: !$root.VerifyColumn('Application Date')().IsVerified">
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
                <div class="col-sm-2 control-label bolder no-padding-right" data-bind="if: Transaction.Product.Name == 'OTT' || Transaction.Product.Code == 'OV'">Credit Value Date</div>
                <div class="col-sm-2" data-bind="if:Transaction.Product.Code =='OT' || Transaction.Product.Code == 'OV'">
                    <div class="clearfix input-group col-sm-12 no-padding">
                        <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" onchange="formatMakerDateExecution('TransactionMaker')" id="credit-value-date" name="credit-value-date" data-rule-required="true" data-rule-date="true" data-bind="datepicker: true, value: $root.ExecutionDateMask(), enable: !$root.VerifyColumn('Credit Value Date')().IsVerified">
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="biz-segment">Biz Segment</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="biz-segment" disabled="disabled" name="biz-segment" data-rule-required="true"
                                data-bind="options: $root.BizSegments,
                                    optionsText: function(item){ if(item.Name != null) return item.Name +' ('+ item.Description +')'; },
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.BizSegment.ID"></select>
                    </div>
                </div>
            </div>
            <div data-bind="visible: Transaction.IsIPETMO">
                <div class="form-group" data-bind="if: (($root.t_IsFxTransaction() || $root.t_IsFxTransactionToIDR()) && ($root.ProductID() == ConsProductID.OTTProductIDCons || $root.ProductID() == ConsProductID.OverbookingProductIDCons || Transaction.Product.Code == 'RT'))">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product Type</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="product-type" name="product-type" data-rule-required="true" class="col-xs-3"
                                    data-bind="options: $root.ProductTypes,
                                    optionsText: 'Code',
                                    optionsValue: 'ID',
                                    value: $root.Selected().ProductType,
                                    optionsCaption: 'Please Select...',
                                    enable: !$root.VerifyColumn('Product Type')().IsVerified,
                                    event: { change: function(){ $root.PopulateSelected('TransactionMaker', 'ProductType'); } }"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div data-bind="visible: Transaction.IsIPETMO != true">
                <div class="form-group" data-bind="if: (($root.t_IsFxTransaction() || $root.t_IsFxTransactionToIDR()) && ($root.ProductID() == ConsProductID.OTTProductIDCons || $root.ProductID() == ConsProductID.OverbookingProductIDCons))">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product Type</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="product-type" name="product-type" data-rule-required="true" class="col-xs-3"
                                    data-bind="options: $root.ProductTypes,
                                    optionsText: 'Code',
                                    optionsValue: 'ID',
                                    value: $root.Selected().ProductType,
                                    optionsCaption: 'Please Select...',
                                    enable: !$root.VerifyColumn('Product Type')().IsVerified,
                                    event: { change: function(){ $root.PopulateSelected('TransactionMaker', 'ProductType'); } }"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-name">Bene Name</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <div data-bind="if: $root.IsPPUHOMaker, visible: $root.IsPPUHOMaker">
                            <input type="text" autocomplete="off" class="col-sm-11" name="bene-name" data-rule-required="true" data-rule-value="true" id="bene-name" data-bind="value: Transaction.BeneName, enable: !$root.VerifyColumn('Bene Name')().IsVerified" /> <!--, event: { keypress: enforceMaxlength }-->
                            <label class="control-label bolder text-danger" for="bene-name">*</label>
                        </div>
                        <div data-bind="ifnot: $root.IsPPUHOMaker, visible: !$root.IsPPUHOMaker()">
                            <input type="text" autocomplete="off" class="col-sm-11" name="bene-name" id="bene-name" data-bind="value: Transaction.BeneName, enable: !$root.VerifyColumn('Bene Name')().IsVerified" /> <!--, event: { keypress: enforceMaxlength }-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-bank">Bene Bank</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <div data-bind="if: $root.IsPPUHOMaker, visible: $root.IsPPUHOMaker">
                            <input type="text" autocomplete="off" class="col-sm-11" name="bank-bank" id="bank-bank" data-rule-required="true" data-rule-value="true" data-bind="value: Transaction.Bank.Description, enable: !$root.VerifyColumn('Bene Bank')().IsVerified && !($root.ProductID() == ConsProductID.OverbookingProductIDCons), event: { change: $root.OnChangeBank, blur: $root.OnBlurBank } " />
                            <label class="control-label bolder text-danger" for="bank-name">*</label>
                        </div>
                        <div data-bind="ifnot: $root.IsPPUHOMaker, visible: !$root.IsPPUHOMaker()">
                            <input type="text" autocomplete="off" class="col-sm-11" name="bank-bank" id="bank-bank" data-bind="value: Transaction.Bank.Description, enable: !$root.VerifyColumn('Bene Bank')().IsVerified && !($root.ProductID() == ConsProductID.OverbookingProductIDCons)" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-code">Swift Code/Bank Code</label>

                <div class="col-sm-2">
                    <input type="text" autocomplete="off" class="col-sm-9" name="bank-code" id="bank-code" data-rule-required="true" disabled="disabled" data-bind="value: Transaction.Bank.SwiftCode, enable: !$root.IsOtherBank()" />
                </div>

                <label class="col-sm-1 control-label bolder no-padding-right" for="bank-branch-code">Branch Code</label>

                <div class="col-sm-2" data-bind="if: Transaction.Branch != null">
                    <input type="text" autocomplete="off" class="col-sm-12" name="bank-branch-code" id="bank-branch-code" data-bind="value: Transaction.Branch.Code + '-' + '(' + Transaction.Branch.Name +')', enable: !$root.VerifyColumn('Branch')().IsVerified, valueUpdate: 'afterkeydown', event:{ 'keyup': $root.OnChangeBankBranch }" />
                </div>

                <label class="col-sm-1 control-label bolder no-padding-right" for="bank-city-codelbl">City Code</label>
                <div class="col-sm-2" data-bind="if: Transaction.City != null">
                    <input type="text" autocomplete="off" class="col-sm-9" name="bank-city-code" id="bank-city-code" disabled="disabled" data-bind="value: Transaction.City.CityCode + '-' +'(' + Transaction.City.Description +')' " />
                    <label class="control-label bolder text-danger" data-bind="if: $root.IsBranchCode" for="bank-city-code">*</label>
                </div>

            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-acc-number">Bene Acc Number</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-6" name="bene-acc-number" data-rule-required="true" id="bene-acc-number" onkeyup="formatMakerAccount('TransactionMaker')" data-bind="value: $root.BeneAccNumberMask(), enable: !$root.VerifyColumn('Bene Acc Number')().IsVerified" />
                        <label data-bind="if: $root.IsBeneAccNumber" class="control-label bolder text-danger" for="bene-acc-number">*</label>
                    </div>
                </div>
            </div>

            <div data-bind="if: Transaction.BankCharges != null, visible: Transaction.Product.Code == 'OT' || Transaction.Product.Code == 'RT' || Transaction.Product.Code == 'SK', attr: { class: 'form-group' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-charges">Bank Charges</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="bank-charges" name="bank-charges" data-rule-required="true"
                                data-bind="options: $root.BankCharges,
                                    enable: !$root.VerifyColumn('Bank Charges')().IsVerified,
                                    optionsText: 'Code', optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.BankCharges.ID"></select>
                    </div>
                </div>
            </div>

            <div data-bind="if: Transaction.AgentCharges != null, visible: Transaction.Product.Code == 'OT', attr: { class: 'form-group' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="agent-charges">Agent Charges</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="agent-charges" name="agent-charges" data-rule-required="true"
                                data-bind="options: $root.AgentCharges,
                                    enable: !$root.VerifyColumn('Agent Charges')().IsVerified,
                                    optionsText: 'Code', optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.AgentCharges.ID"></select>
                    </div>
                </div>
            </div>

            <div data-bind="visible: Transaction.Product.Name == 'SKN', attr: { class: 'form-group' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="type">Type</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4" id="type" name="type" data-rule-required="true" data-rule-number="true" data-bind="value: Transaction.Type" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="citizen">Citizen</label>

                <label class="col-sm-1">
                    <input id="citizen" name="citizen" class="ace ace-switch ace-switch-2" type="checkbox" data-bind="checked: Transaction.IsCitizen, enable: false" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Resident</label>

                <label class="col-sm-1">
                    <input id="resident" name="resident" class="ace ace-switch ace-switch-2" type="checkbox" data-bind="checked: Transaction.IsResident, enable: false" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group" data-bind="visible: Transaction.Product.Name == 'SKN'|| Transaction.Product.Name == 'OTT' || Transaction.Product.Name == 'RTGS' || $root.ProductID() == ConsProductID.OverbookingProductIDCons">
                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Beneficiary Resident</label>
                <div class="col-xs-3">
                    <label>
                        <select id="residentBene" name="residentBene" data-rule-value="true"
                                data-bind="options: self.options,
                                    optionsText: 'name',
                                    optionsValue: 'id',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.IsBeneficiaryResident,
                                    enable: !$root.VerifyColumn('Beneficiary Resident')().IsVerified,
                                    event: { change: $root.OnChangeModeName }"></select>
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Beneficiary Country Code</label>
                <div class="col-sm-9" data-bind="if:Transaction.BeneficiaryCountry != null">
                    <div class="clearfix">
                        <select id="benecountrycode" name="benecountrycode" data-bind="options:$root.BeneficiaryCountry,
                            optionsText: function(item) { if(item.ID != null) return item.Code + ' (' + item.Description + ')'} ,
                            optionsValue: 'ID',
                            optionsCaption: 'Please Select...',
                            value: Transaction.BeneficiaryCountry.ID,
                            enable: !$root.VerifyColumn('Beneficiary Country Code')().IsVerified"
                                class="col-xs-3"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ChAccName">Charging Account Name</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input class="ace ace-switch ace-switch-6 col-sm-11" name="ChAccName" id="ChAccName" data-rule-required="true" type="text"
                               data-bind="value: Transaction.ChargingAccountName, enable: !$root.VerifyColumn('Charging Account Name')().IsVerified">
                        <label data-bind="if:$root.IsChargingMandotary" class="control-label bolder text-danger" for="rate">*</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ChAccountBank">Charging Account Bank</label>

                <div class="col-sm-9">
                    <input type="text" autocomplete="off" class="col-sm-6" name="ChAccBank" id="ChAccBank" data-rule-required="true" data-rule-value="true" data-bind="value: Transaction.ChargingAccountBank, enable: !$root.VerifyColumn('Charging Account Bank')().IsVerified" />
                    <label data-bind="if:$root.IsChargingMandotary" class="control-label bolder text-danger" for="rate">*</label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ChAccount">Charging Account</label>

                <div class="col-sm-2">
                    <input type="text" autocomplete="off" class="col-sm-11" name="ChAccount" id="ChAccount" data-rule-required="true" data-bind="value: Transaction.ChargingACCNumber,
                    enable: !$root.VerifyColumn('Charging Account')().IsVerified" />
                    <label data-bind="if:$root.IsChargingMandotary" class="control-label bolder text-danger" for="rate">*</label>
                </div>

                <label class="col-sm-1 control-label bolder no-padding-right" for="ChAccountCCY">CCY  </label>
                <div class="col-sm-3">
                    <select id="ChAccount-ccy" name="ChAccount-ccy" data-rule-required="true" data-rule-value="true"
                            data-bind="options: $root.Currencies,
                                       optionsText: function(item) { if(item.Code != null) return item.Code},
                                       optionsValue: 'ID',
                                       optionsCaption: 'Please Select...',
                                       value: Transaction.ChargingAccountCurrency,
                                       enable: !$root.VerifyColumn('Charging Account')().IsVerified"></select>
                    <label data-bind="if:$root.IsChargingMandotary" class="control-label bolder text-danger" for="rate">*</label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="Beneficiary">Beneficiary Business Type</label>

                <div class="col-sm-3">
                    <div class="clearfix">
                        <select id="beneficiary" class="col-sm-10" data-bind="options: $root.BeneficiaryBusiness,
                                                optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'},
                                                optionsValue: 'ID',
                                                optionsCaption: 'Please Select...',
                                                value: $root.Selected().BeneficiaryBusines,
                                                enable: !$root.VerifyColumn('Beneficiary Business Type')().IsVerified,
                                                event: { change: $root.OnChangeBeneficiary }"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="BeneAddrs">Beneficiary Address</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-11" name="BeneAddrs" id="BeneAddrs" data-bind="value: Transaction.BeneficiaryAddress, enable: !$root.VerifyColumn('Beneficiary Address')().IsVerified" />
                        <!--<label data-bind="if: $root.BeneAccNumberFilled" class="control-label bolder text-danger">*</label>-->
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Transaction Relationship</label>
                <div class="col-sm-9" data-bind="if:Transaction.TransactionRelationship != null">
                    <div class="clearfix">
                        <select id="transactionrelationship" name="transactionrelationship" data-bind="options:$root.TransactionRelationship,
                            optionsText: function(item) { if(item.ID != null) return item.Code + ' (' + item.Description + ')'} ,
                            optionsValue: 'ID',
                            optionsCaption: 'Please Select...',
                            value: Transaction.TransactionRelationship.ID,
                            enable: !$root.VerifyColumn('Transaction Relationship')().IsVerified"
                                class="col-xs-3"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="lldcode">LLD Code</label>

                <div class="col-sm-8">
                    <select class="col-sm-11" id="lldcode" name="lldcode"
                            data-bind="options: $root.LLDs,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' - (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    enable: !$root.VerifyColumn('LLD Code')().IsVerified,
                                    value: $root.Selected().LLD,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionMaker', 'LLD'); } }"></select>
                    <label data-bind="if: $root.IsLLD" class="control-label bolder text-danger">*</label>
                </div>
            </div>

            <div data-bind="if: $root.IsLimit">
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="lld-doc">LLD Document</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select class="col-sm-4" id="lld-doc" name="lld-doc" data-rule-required="false"
                                    data-bind="options: $root.LLDDocuments,
                                    optionsText: function(item) { if(item.LLDDocumentCode != null) return item.LLDDocumentCode + ' - (' + item.Description + ')'},
                                    optionsValue: 'LLDDocumentID',
                                    enable: !$root.VerifyColumn('LLD Document')().IsVerified,
                                    value: $root.Selected().LLDDocument,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionMaker', 'LLDDocument'); } }"></select>
                            <label data-bind="if: $root.IsLLDUndelyingDocument" class="control-label bolder text-danger">*</label>
                        </div>
                    </div>
                </div>
            </div>

            <div data-bind="if: $root.IsLimit">
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="lld-underlying">LLD Underlying Amount</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" name="lld-underlying-amount" id="lld-underlying-amount" data-rule-required="false" data-in="" onkeyup="OnKeyUp('TransactionMaker')" data-bind="value: formatNumberLLD($root.LLDUnderlyingAmount), enable: !$root.VerifyColumn('LLD Underlying Amount')().IsVerified" />
                            <label data-bind="if: $root.IsLLDUndelyingAmount" class="control-label bolder text-danger">*</label>
                            <label class="control-label bolder align-left" for="total-utilize" data-bind="if: $root.IsRoundingLLD">
                                Rounding LLD Amount: <span data-bind="text: formatNumber($root.RoundingValue())"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-code">Underlying Code</label>
                <div class="col-sm-8">
                    <select class="col-sm-11" id="underlying-code" name="underlying-code"
                            data-bind="options: $root.UnderlyingDocs,
                                    enable: $root.IsDefaultUnderlaying() ? false : !$root.VerifyColumn('Underlying Code')().IsVerified,
                                    optionsText: function(item) { if(item.ID != null) return item.Code + ' (' + item.Name + ')'} ,
                                    optionsValue: 'ID',
                                    value: $root.Selected().UnderlyingDoc,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionMaker', 'UnderlyingDoc'); } }"></select>
                    <label data-bind="if: $root.IsUnderlying" class="control-label bolder text-danger">*</label>
                </div>
            </div>

            <div class="form-group" data-bind="visible: $root.isNewUnderlying()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Other Underlying</label>

                <label class="col-sm-8">
                    <textarea class="col-lg-5" id="underlying-desc" rows="4" data-bind="value: Transaction.OtherUnderlyingDoc, enable: !$root.VerifyColumn('Other Underlying')().IsVerified"></textarea>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ComCode">Compliance Code</label>

                <div class="col-sm-8">
                    <div class="clearfix">
                        <select class="col-sm-11" id="ComCode" name="ComCode"
                                data-bind="options: $root.FXCompliances,
                                    optionsText: function(item){if (item.ID !=null) return item.ID + ' (' + item.Name +'. '+ item.Description+ ')' },
                                    optionsValue: 'ID',
                                    enable: !$root.VerifyColumn('Compliance Code')().IsVerified,
                                    value: $root.Selected().FXCompliance,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionMaker', 'FXCompliance'); } }"></select>
                        <label data-bind="if: $root.IsCompliance" class="control-label bolder text-danger">*</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Signature Verification</label>

                <label class="col-sm-1">
                    <input id="check-signature-verification" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsSignatureVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-dormant-account">Dormant Account</label>

                <label class="col-sm-1">
                    <input id="check-dormant-account" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsDormantAccount" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-freeze-account">Freeze Account</label>

                <label class="col-sm-1">
                    <input id="check-freeze-account" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsFreezeAccount" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Payment Details</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <div>
                            <textarea class="col-sm-12" name="payment-detail" id="payment-detail" rows="6" data-bind="value: Transaction.PaymentDetails, enable: !$root.VerifyColumn('Payment Detail')().IsVerified"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="widget-box ui-sortable-handle" data-bind="visible: Transaction.Product.Name  == 'SKN' || Transaction.Product.Name == 'RTGS' || Transaction.Product.Name == 'OTT'">
                <div class="widget-header">
                    <h4 class="widget-title">Waive Charges Options</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">
                            <label class="col-sm-3 control-label bolder no-padding-right" for="resident">CBG Customer</label>
                            <div class="col-sm-3" data-bind="if: Transaction.CBGCustomer != null">
                                <select id="cbgcustomer" name="cbgcustomer" data-bind="options:$root.CBGCustomer,
                            optionsText:'Code',optionsValue: 'ID',
                            optionsCaption: 'Please Select...',
                            value: Transaction.CBGCustomer.ID,
                            enable: $root.IsCBGCustomer" class="col-sm-9"></select>
                            </div>

                            <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Transaction Using Debit Sundry</label>
                            <div class="col-sm-3" data-bind="if: Transaction.TransactionUsingDebitSundry != null">
                                <select id="transactionusingdebitsundry" name="transactionusingdebitsundry" data-bind="options:$root.TransactionUsingDebitSundry,
                            optionsText:'Code',optionsValue: 'ID',
                            optionsCaption: 'Please Select...',
                            value: Transaction.TransactionUsingDebitSundry.ID,
                            enable: $root.IsTransactionUsingDebitSundry" class="col-sm-9"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-bind="visible: Transaction.IsIPETMO">
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="StatementLetter">Statement Letter</label>

                    <label class="col-sm-1">
                        <input id="check-StatementLetter" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.StatementLetter" />
                        <span class="lbl"></span>
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="Instruction">Instruction</label>

                    <label class="col-sm-1">
                        <input id="check-Instruction" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.Instruction" />
                        <span class="lbl"></span>
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="Underlying">Underlying</label>

                    <label class="col-sm-1">
                        <input id="check-Underlying" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.Underlying" />
                        <span class="lbl"></span>
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="df-amount">DF Amount</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" name="df-amount" id="df-amount" data-in="" data-rule-required="true" data-rule-number="true" data-bind="value: formatNumber(Transaction.DFAmount), enable:false" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="space-4"></div>

        <div class="space-16"></div>

        <div data-bind="if:(($root.t_IsFxTransaction() ||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue())) && ($root.ProductID() == ConsProductID.OTTProductIDCons || $root.ProductID() == ConsProductID.OverbookingProductIDCons || Transaction.Product.Name == 'RTGS'))">
            <h3 class="header smaller lighter dark">
                Un-utilize Underlying Documents
                <!--<button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.NewDataUnderlyingTMO, visible: IsIPETMOPartial, disable: !$root.IsEditable()">
                    <i class="icon-plus"></i>
                    Add Underlying
                </button>-->
                <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UpdateDataUnderlyingTMO, visible: Transaction.IsIPETMO && Transaction.IsIPETMOPartial != true">
                    <i class="icon-plus"></i>
                    Update Underlying
                </button>
            </h3>
            <div data-bind="visible: Transaction.IsIPETMO">
                <div class="table-responsive">
                    <!--<div class="dataTables_wrapper" role="grid" data-bind="with: Transaction.Customer">-->
                    <div class="dataTables_wrapper" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Utilize</th>
                                    <th>Statement Letter</th>
                                    <th>Underlying</th>
                                    <th>Type of Docs</th>
                                    <th>Currency</th>
                                    <th>Amount</th>
                                    <th>Available Amount in USD</th>
                                    <th>Utilize Amount Deal</th>
                                    <th>Date</th>
                                    <th>Supllier Name</th>
                                    <th>Ref. Number</th>
                                    <th>Created By</th>
                                    <th>Last Modified By</th>
                                    <th style="width:50px">Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: $root.CustomerUnderlyings">
                                <tr>
                                    <td><span data-bind="text: $index() +1"></span></td>
                                    <td align="center"><input type="checkbox" id="isUtilize" name="isUtilize" data-bind="checked:IsEnable,event: {change:function(data){$root.onSelectionUtilize($index(),$data)}}" /></td>
                                    <td><span data-bind="text: StatementLetter.Name"></span></td>
                                    <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                    <td><span data-bind="text: DocumentType.Name"></span></td>
                                    <td><span data-bind="text: Currency.Code"></span></td>
                                    <td align="right"><span data-bind="text: $root.FormatNumber(Amount)"></span></td>
                                    <td align="right"><span data-bind="text: $root.FormatNumber(AvailableAmount)"></span></td>
                                    <td align="right"><input type="text" class="input-sm col-xs-15" data-bind="value: UtilizeAmountDeal,attr: { id: 'Position'+$index(), name: 'Position'+$index()}, event:{ 'keyup': $root.onChangeUtilizeAmountDeal }" /></td>
                                    <td><span data-bind="text: $root.LocalDate(ExpiredDate, true, false)"></span></td>
                                    <!--<td><span data-bind="text: moment(ExpiredDate).format('YYYY/MM/DD')"></span></td>-->
                                    <td><span data-bind="text: SupplierName"></span></td>
                                    <td><span data-bind="text: ReferenceNumber"></span></td>
                                    <td><span data-bind="text: CreatedBy"></span></td>
                                    <td><span data-bind="text: LastModifiedBy"></span></td>
                                    <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: function (data) {$root.GetUnderlyingSelectedMakerRow($index(),$data)},text:IsUtilize?' view ':' Update '"></span></td>
                                </tr>
                            </tbody>
                            <tbody data-bind="visible: $root.CustomerUnderlyings().length == 0">
                                <tr>
                                    <td colspan="12" class="text-center">
                                        No entries available.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div data-bind="visible: Transaction.IsIPETMO != true">
                <div class="table-responsive">
                    <!--<div class="dataTables_wrapper" role="grid" data-bind="with: Transaction.Customer">-->
                    <div class="dataTables_wrapper" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Utilize</th>
                                    <th>Statement Letter</th>
                                    <th>Underlying</th>
                                    <th>Type of Docs</th>
                                    <th>Currency</th>
                                    <th>Amount</th>
                                    <th>Available Amount in USD</th>
                                    <th>Date</th>
                                    <th>Supllier Name</th>
                                    <th>Ref. Number</th>
                                    <th style="width:50px">Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: $root.CustomerUnderlyings">
                                <tr>
                                    <td><span data-bind="text: $index() +1"></span></td>
                                    <td align="center"><input type="checkbox" id="isUtilize" name="isUtilize" data-bind="checked:IsEnable,event: {change:function(data){$root.onSelectionUtilize($index(),$data)}}" /></td>
                                    <td><span data-bind="text: StatementLetter.Name"></span></td>
                                    <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                    <td><span data-bind="text: DocumentType.Name"></span></td>
                                    <td><span data-bind="text: Currency.Code"></span></td>
                                    <td align="right"><span data-bind="text: $root.FormatNumber(Amount)"></span></td>
                                    <td align="right"><span data-bind="text: $root.FormatNumber(AvailableAmount)"></span></td>
                                    <td><span data-bind="text: $root.LocalDate(ExpiredDate, true, false)"></span></td>
                                    <!--<td><span data-bind="text: moment(ExpiredDate).format('YYYY/MM/DD')"></span></td>-->
                                    <td><span data-bind="text: SupplierName"></span></td>
                                    <td><span data-bind="text: ReferenceNumber"></span></td>
                                    <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: function (data) {$root.GetUnderlyingSelectedMakerRow($index(),$data)},text:IsUtilize?' view ':' Update '"></span></td>
                                </tr>
                            </tbody>
                            <tbody data-bind="visible: $root.CustomerUnderlyings().length == 0">
                                <tr>
                                    <td colspan="12" class="text-center">
                                        No entries available.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="space-10"></div>
            <div id="transaction-form1" class="form-horizontal" role="form">

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Total Underlying</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" class="col-sm-4 align-right" name="utilization-amount" id="utilization-amount" disabled="disabled" data-rule-number="true" data-bind="value: formatNumber_r($root.UtilizationAmount())" />
                            <label class="col-sm-5 control-label bolder align-left" for="total-utilization">
                                Rounding Amount: <span data-bind="text: formatNumber_r($root.Rounding())"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Utilization Amount</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" id="utilization-amount1" name="utilization-amount" data-bind="value: formatNumber_r($root.TotalUtilization())" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="totalTrx">Total IDR->FCY Transaction in USD</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" name="totalTrx" id="totalTrx" disabled="disabled" data-bind="value:formatNumber_r($root.TotalTransFX())" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-16"></div>

        <div class="padding-4">
            <h3 class="header smaller lighter dark">Instruction Form and Docs</h3>
            <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocumentUnderlying, visible: (($root.t_IsFxTransaction() ||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue())) && ($root.ProductID() == ConsProductID.OTTProductIDCons || $root.ProductID() == ConsProductID.OverbookingProductIDCons))">
                <i class="icon-plus"></i>
                Attach
            </button>
            <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocument, visible: !(($root.t_IsFxTransaction() ||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue())) && ($root.ProductID() == ConsProductID.OTTProductIDCons || $root.ProductID() == ConsProductID.OverbookingProductIDCons))">
                <i class="icon-plus"></i>
                Attach
            </button>
            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: $root.MakerDocuments, visible: $root.MakerDocuments().length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td>
                                <div data-bind="if:IsNewDocument">
                                    <span data-bind="text: FileName"></span>
                                </div>
                                <div data-bind="ifnot:IsNewDocument">
                                    <a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a>
                                </div>
                            </td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            <td><a href="#" data-bind="click: $root.RemoveDocumentData">Remove</a></td>
                        </tr>
                    </tbody>
                    <!--<tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                    <tr>
                        <td><span data-bind="text: $index() +1"></span></td>
                        <td><a data-bind="attr: { href: DocumentPath }, text: FileName"></a></td>
                        <td><span data-bind="text: Purpose.Name"></span></td>
                        <td><span data-bind="text: Type.Name"></span></td>
                        <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                        <td><a href="#" data-bind="click: $root.RemoveDocumentData">Remove</a></td>
                    </tr>
                    </tbody>-->
                    <tbody data-bind="visible: $root.MakerDocuments().length == 0">
                        <tr>
                            <td colspan="6" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<div id="modal-form-upload" class="modal fade center" tabindex="-1" role="dialog">
    <!--data-backdrop="static" data-keyboard="false"-->
    <div class="modal-dialog">
        <div class="modal-content">
            dsadasdsa
        </div>
    </div>
</div>
