﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form2" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group no-padding-bottom">
                <label class="col-sm-6 align-center">BranchName</label>
                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Customer.Branch.Name"></span>
                </label>

            </div>

            <div class="space-4"></div>

            <div class="modal-body overflow-visible">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- modal body form start -->
                        <div id="customer-form" class="form-horizontal" role="form">

                            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                                <label class="col-sm-3 control-label bolder no-padding-right">Product</label>
                                <label class="col-sm-4">
                                    <select class="col-sm-11" id="Product" name="Product" class="col-sm-11" disabled="disabled"
                                            data-bind="options: $root.Products,
                                    optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().Product,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionCBOFromBranch', 'ProductType'); } }"></select>
                                </label>
                            </div>
                            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                                <label class="col-sm-3 control-label bolder no-padding-right">Request Type</label>
                                <label class="col-sm-4">
                                    <select class="col-sm-11" id="RequestType" name="RequestType" class="col-sm-11" disabled="disabled"
                                            data-bind="options: $root.ddlTransactionTypes,
                                    optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().TransactionType,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionCBOFromBranch', 'RequestType'); } }"></select>
                                </label>
                            </div>
                            <div id="lblmaintenanceid" class="form-group form-line no-margin-bottom no-padding-bottom">
                                <label class="col-sm-3 control-label bolder no-padding-right">Maintenance Type</label>
                                <label class="col-sm-4">
                                    <select class="col-sm-11" id="MaintenanceType" name="MaintenanceType" class="col-sm-11" disabled="disabled"
                                            data-bind="options: $root.ddlMaintenanceTypes,
                                    optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().MaintenanceType,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionCBOFromBranch', 'MaintenanceType'); } }"></select>
                                </label>
                            </div>

                            <div id="lblStaffID" class="form-group form-line no-margin-bottom no-padding-bottom">
                                <label class="col-sm-3 control-label bolder no-padding-right">Change RMS</label>
                                <label class="col-sm-4">
                                    <input type="checkbox" id="isChangeRMS" name="isChangeRMS" data-bind="checked:false" disabled="disabled"></span>
                                </label>
                            </div>

                            <div id="lblStaffID" class="form-group form-line no-margin-bottom no-padding-bottom">
                                <label class="col-sm-3 control-label bolder no-padding-right">Segment</label>
                                <label class="col-sm-4">
                                    <input type="checkbox" id="isSegment" name="isSegment" data-bind="checked:false" disabled="disabled"></span>
                                </label>
                            </div>

                            <div id="lblStaffID" class="form-group form-line no-margin-bottom no-padding-bottom">
                                <label class="col-sm-3 control-label bolder no-padding-right">SolID</label>
                                <label class="col-sm-4">
                                    <input type="checkbox" id="isSolID" name="isSolID" data-bind="checked:false" disabled="disabled"></span>
                                </label>
                            </div>
                            <br />
                            <br />
                            <div>
                                <div class="padding-4">
                                    <div id="Documents_Upload" class="dataTables_wrapper" role="grid">
                                        <table class="table table-striped table-bordered table-hover dataTable">
                                            <thead>
                                                <tr>
                                                    <!--<th></th>-->
                                                    <th>No.</th>
                                                    <th>CIF</th>
                                                    <!--<th>CustomerName</th>-->
                                                    <th>ChangeSegmentForm</th>
                                                    <th>ChangeSegmentTo</th>
                                                    <th>ChangeFromBranchCode</th>
                                                    <th>ChangeFromRMCode</th>
                                                    <th>ChangeFromBU</th>
                                                    <th>ChangeToBranchCode</th>
                                                    <th>ChangeToRMCode</th>
                                                    <th>ChangeToBU</th>
                                                    <th>Account</th>
                                                    <th>PCCode</th>
                                                    <th>EA/TPB</th>
                                                    <th>Remarks</th>
                                                </tr>
                                            </thead>

                                            <!--<tbody data-bind="foreach: $root.ChangeRMGrid">-->
                                            <tbody data-bind="foreach: Transaction.ChangeRMModel, visible: Transaction.ChangeRMModel.length > 0">
                                                <tr>
                                                    <!--<td align="center"><input type="checkbox" id="isUtilize" name="isUtilize" /></td>-->
                                                    <td><span data-bind="text: $index() + 1"></span></td>
                                                    <td><span data-bind="text: CIF"></span></td>
                                                    <!--<td><span data-bind="text: Transaction.ChangeRM.CustomerName"></<span></td>-->
                                                    <td><span data-bind="text: ChangeSegmentFrom"></span></td>
                                                    <td><span data-bind="text: ChangeSegmentTo"></span></td>
                                                    <td><span data-bind="text: ChangeFromBranchCode"></span></td>
                                                    <td><span data-bind="text: ChangeFromRMCode"></span></td>
                                                    <td><span data-bind="text: ChangeFromBU"></span></td>
                                                    <td><span data-bind="text: ChangeToBranchCode"></span></td>
                                                    <td><span data-bind="text: ChangeToRMCode"></span></td>
                                                    <td><span data-bind="text: ChangeToBU"></span></td>
                                                    <td><span data-bind="text: Account"></span></td>
                                                    <td><span data-bind="text: PCCode"></span></td>
                                                    <td><span data-bind="text: EATPB"></span></td>
                                                    <td><span data-bind="text: Remarks"></span></td>
                                                </tr>
                                            </tbody>
                                            <tbody">
                                                <tr>
                                                    <td colspan="16" align="center">No entries available.</td>
                                                </tr>
                                                </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="padding-4">
                                <div class="dataTables_wrapper" role="grid">
                                    <table class="table table-striped table-bordered table-hover dataTable">
                                        <thead>
                                            <tr>
                                                <th style="width:50px">No.</th>
                                                <th>File Name</th>
                                                <th>Modified</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                                            <tr>
                                                <td><span data-bind="text: $index() + 1"></span></td>
                                                <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                                                <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                                            </tr>
                                        </tbody>
                                        <tbody data-bind="visible: $root.Documents_Funding().length == 0">
                                            <tr>
                                                <td colspan="6" align="center">No entries available.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal body end -->
                <!-- modal footer start -->
                <!-- modal footer end -->
            </div>
        </div>

    </div>
    <div class="space-16"></div>
    <!--Start Body Funding Memo-->
    <!--End Body Funding Memo-->



</div>
