﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-all"></label>

                <label class="col-sm-8 control-label bolder no-padding-right" for="product-code">Check All</label>

                <label class="col-sm-1">
                    <input name="check-all" id="check-all" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.CheckAll()" onchange="checkAllPPUCheckerIPE(this)" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-1 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>

                <label class="col-sm-1 control-label bolder no-padding-right" for="normal">Normal</label>

                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: Transaction.IsNormal ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Top Urgent')">
                    <input name="check-bank-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <label class="col-sm-8">
                    <span id="customer-name" data-bind="text: Transaction.Customer.Name"></span>
                    <span class="label label-warning arrowed" data-bind="if: Transaction.IsNewCustomer">
                        <i class="icon-warning-sign bigger-120"></i>
                        New Customer
                    </span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Customer Name')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <label class="col-sm-9">
                    <span id="cif" data-bind="text: Transaction.Customer.CIF"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>

                <label class="col-sm-9">
                    <span id="product-code" data-bind="text: Transaction.Product.Code"></span>
                    (<span id="product-name" data-bind="text: Transaction.Product.Name"></span>)
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency-code">Currency</label>

                <label class="col-sm-8">
                    <span id="currency-code" data-bind="text: Transaction.Currency.Code"></span>
                    (<span id="currency-desc" data-bind="text: Transaction.Currency.Description"></span>)
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Currency')">
                    <input name="check-currency" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trxn-amount">Trxn Amount</label>

                <label class="col-sm-8">
                    <span name="trxn-amount" id="trxn-amount" data-bind="text: formatNumber(Transaction.Amount)"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Trxn Amount')">
                    <input name="check-trx-amount" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 2-->
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="rate">IDR Mid Rate (BI Mid-Rate)</label>

                <label class="col-sm-9">
                    <span id="rate" data-bind="text: formatNumber_r(Transaction.Rate)"></span>
                </label>
            </div>
            <!--Permintaan User
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trxrate">Transaction Rate</label>

                <label class="col-sm-8">
                    <span id="trxrate" data-bind="text: formatNumber_r(Transaction.TrxRate)"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Transaction Rate')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="eqv-usd">Eqv. USD</label>

                <label class="col-sm-8">
                    <span id="eqv-usd" data-bind="text: formatNumber_r(Transaction.AmountUSD)"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-ccy-code">TZ Number</label>

                <label class="col-sm-8">
                    <span id="tznumber" data-bind="text: Transaction.TZNumber"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('TZ Number')">
                    <input name="check-tznumber" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 4-->
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <label class="col-sm-8">
                    <span id="channel" data-bind="text: Transaction.Channel.Name"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Channel')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 4-->
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsPPURole()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>

                <label class="col-sm-8">
                    <span id="source" data-bind="text: $root.SourceName()"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Source')">
                    <input name="check-source" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 4-->
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-number">Debit Acc Number</label>
                <label class="col-sm-8">
                    <label data-bind=" visible: viewModel.TransactionChecker().Transaction.IsJointAccount == true">
                        <span data-bind="if: Transaction.IsJointAccount">
                            <span id="book-join-join" data-bind="text: viewModel.CIFJointAccounts()[1].Name"></span>
                        </span>
                    </label>
                    <label data-bind="visible: viewModel.TransactionChecker().Transaction.IsJointAccount == false">
                        <span data-bind="if: !Transaction.IsJointAccount">
                            <span id="book-join-single" data-bind="text: viewModel.CIFJointAccounts()[0].Name"></span>
                        </span>
                    </label>
                    <div data-bind="ifnot:Transaction.Account==null">
                        <span id="debit-acc-number" data-bind="text: ' - ' + Transaction.Account.AccountNumber"></span>
                    </div>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Debit Acc Number')">
                    <input name="check-debit-acc-number" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 5-->
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-ccy-code">Debit Acc CCY</label>

                <label class="col-sm-8" data-bind="with: Transaction">
                    <span id="debit-acc-ccy-code" data-bind="text: DebitCurrency.Code"></span>
                    (<span id="debit-acc-ccy-desc" data-bind="text: DebitCurrency.Description"></span>)
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Debit Acc CCY'), visible: $root.IsEmptyAccountNumber">
                    <input name="check-debit-acc-number" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 5-->
                    <span class="lbl"></span>
                </label>
            </div>

            <!--add by henggar-->
            <div class="form-group form-line no-margin-bottom no-margin-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="Debit Sundry">Debit Sundry</label>

                <label class="col-sm-8" data-bind="if: Transaction.Sundry != null">
                    <span id="Debit Sundry" data-bind="text: Transaction.Sundry.OABAccNo"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Debit Sundry')">
                    <input name="check-Debit-Sundry" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <!--end-->
            <!--Permintaan User
            <div data-bind="visible: Transaction.Product.Name == 'OTT'">
                <div class="form-group form-line no-margin-bottom no-margin-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="Nostro">Nostro</label>

                    <label class="col-sm-8" data-bind="if: Transaction.Nostro != null">
                        <span id="DebitNostro" data-bind="text: Transaction.Nostro.NostroUsed"></span>
                    </label>
                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Nostro')">
                        <input name="check-Nostro" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>
            -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="application-date">Application Date</label>
                <div class="col-sm-2">
                    <label>
                        <span id="application-date" data-bind="text: $root.LocalDate(Transaction.ApplicationDate, true)"></span>
                    </label>
                </div>
                <div data-bind="if: Transaction.Product.Code == 'OT' || Transaction.Product.Code == 'OV'" class="col-sm-1">
                    <label data-bind="with: $root.VerifyColumn('Application Date')">
                        <input name="check-biz-segment" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>
                <label class="col-sm-3 control-label bolder no-padding-right" data-bind="if: Transaction.Product.Name == 'OTT' || Transaction.Product.Code == 'OV'">Credit Value Date</label>
                <div class="col-sm-2">
                    <label data-bind="visible: Transaction.Product.Name == 'OTT' || Transaction.Product.Code == 'OV'">
                        <span data-bind="text: $root.LocalDate(Transaction.ExecutionDate, true)" id="application-execution"></span>
                    </label>
                </div>
                <div class="col-sm-1">
                    <div data-bind="visible: Transaction.Product.Name == 'OTT' || Transaction.Product.Code == 'OV'">
                        <label data-bind="with: $root.VerifyColumn('Credit Value Date')">
                            <input name="check-biz-segment" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                            <span class="lbl"></span>
                        </label>
                    </div>

                    <div data-bind="visible: Transaction.Product.Code == 'RT' || Transaction.Product.Code == 'SK'">
                        <label data-bind="with: $root.VerifyColumn('Application Date')">
                            <input name="check-biz-segment" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                            <span class="lbl"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="biz-segment-code">Biz Segment</label>

                <label class="col-sm-8">
                    <span id="biz-segment-code" data-bind="text: Transaction.BizSegment.Description"></span>
                    (<span id="biz-segment-desc" data-bind="text: Transaction.BizSegment.Name"></span>)
                </label>
            </div>
            <div data-bind="visible: Transaction.IsIPETMO">
                <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: ($root.t_IsFxTransaction() || $root.t_IsFxTransactionToIDR()) && ($root.ProductID() == ConsProductID.OTTProductIDCons || Transaction.Product.Code == 'OV' || Transaction.Product.Code == 'RT')">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="product-type-name">Product Type</label>
                    <div data-bind="ifnot:Transaction.ProductType==null">
                        <label class="col-sm-8">
                            <span id="product-type-name" data-bind="text: Transaction.ProductType.Code"></span>
                        </label>
                        <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Product Type')">
                            <input name="check-bene-name" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 7-->
                            <span class="lbl"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div data-bind="visible: Transaction.IsIPETMO != true">
                <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: ($root.t_IsFxTransaction() || $root.t_IsFxTransactionToIDR()) && ($root.ProductID() == ConsProductID.OTTProductIDCons || Transaction.Product.Code == 'OV')">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="product-type-name">Product Type</label>
                    <div data-bind="ifnot:Transaction.ProductType==null">
                        <label class="col-sm-8">
                            <span id="product-type-name" data-bind="text: Transaction.ProductType.Code"></span>
                        </label>
                        <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Product Type')">
                            <input name="check-bene-name" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 7-->
                            <span class="lbl"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-name">Bene Name</label>

                <label class="col-sm-8">
                    <span id="bene-name" data-bind="text: Transaction.BeneName"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bene Name')">
                    <input name="check-bene-name" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 7-->
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-bank">Bene Bank</label>

                <label class="col-sm-8">
                    <span id="bene-bank" data-bind="text: Transaction.Bank.Description"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bene Bank')">
                    <input name="check-bene-bank" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 8-->
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-code">Swift Code/Bank Code</label>

                <label class="col-sm-1">
                    <span id="bank-code" data-bind="text: Transaction.Bank.SwiftCode"></span>
                </label>

                <label class="col-sm-1 control-label bolder no-padding-right" for="bank-branch-code">Branch Code</label>

                <label class="col-sm-2" data-bind="if: Transaction.Branch != null">
                    <span id="bank-branch-code" data-bind="text: Transaction.Branch.Code"></span>
                    <span id="bank-branch-name" data-bind="text: ' - '+  Transaction.Branch.Name"></span>
                </label>

                <label class="col-sm-1 control-label bolder no-padding-right" for="bank-city-code">City Code</label>

                <label class="col-sm-3" data-bind="if: Transaction.City != null">
                    <span id=" bank-city-code" data-bind="text: Transaction.City.CityCode">
                    </span>
                    <span id="bank-city-description" data-bind="text: ' - '+ Transaction.City.Description"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Branch')">
                    <input name="check-bank-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-acc-number">Bene Acc Number</label>

                <label class="col-sm-8">
                    <span id="bene-acc-number" data-bind="text: formatAccount(Transaction.BeneAccNumber)"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bene Acc Number')">
                    <!--Verify()[10]-->
                    <input name="check-bene-acc-number" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 10-->
                    <span class="lbl"></span>
                </label>
            </div>

            <div data-bind="if: Transaction.BankCharges != null, visible: Transaction.Product.Code == 'OT' || Transaction.Product.Code == 'RT' || Transaction.Product.Code == 'SK', attr: { class: 'form-group form-line no-margin-bottom no-padding-bottom' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-charges">Bank Charges</label>

                <label class="col-sm-8">
                    <span id="bank-charges" data-bind="text: Transaction.BankCharges.Code"></span>
                </label>

                <!--aridya 20170106 tambah bank charges tick-->
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bank Charges')">
                    <input name="check-bank-charges" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 10-->
                    <span class="lbl"></span>
                </label>
                <!--end add aridya-->
            </div>

            <div class='form-group form-line no-margin-bottom no-padding-bottom' data-bind="visible: Transaction.Product.Name == 'OTT'">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="agent-charges">
                    Agent Charges
                </label>

                <label class="col-sm-8" data-bind="if: Transaction.AgentCharges != null">
                    <span id="agent-charges" data-bind="text: Transaction.AgentCharges.Code"></span>
                </label>

                <!--aridya 20170106 tambah agent charges tick-->
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Agent Charges')">
                    <input name="check-agent-charges" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 10-->
                    <span class="lbl"></span>
                </label>
                <!--end add aridya-->
            </div>

            <div data-bind="visible: Transaction.Product.Name == 'SKN', attr: { class: 'form-group form-line no-margin-bottom no-padding-bottom' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="type">Type</label>

                <label class="col-sm-9">
                    <span id="type" data-bind="text: Transaction.Type"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="type">Citizen</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Transaction.IsCitizen ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="type">Resident</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Transaction.IsResident ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: Transaction.Product.Code == 'SK' || Transaction.Product.Code == 'OT' || Transaction.Product.Code== 'OV' || Transaction.Product.Code== 'RT'">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="type">
                    Beneficiary Resident
                </label>
                <label class="col-sm-8">
                    <label data-bind=" visible: viewModel.TransactionChecker().Transaction.IsBeneficiaryResident == true">
                        <span id="IsbeneTrue">Resident</span>
                    </label>
                    <label data-bind="visible: viewModel.TransactionChecker().Transaction.IsBeneficiaryResident == false">
                        <span id="IsbeneFalse">Non Resident</span>
                    </label>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Beneficiary Resident')">
                    <input name="check-beneficiary-resident" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="type">
                    Beneficiary Country Code
                </label>
                <label class="col-sm-8" data-bind="if: Transaction.BeneficiaryCountry != null">
                    <span id=" beneficiary-country-code" data-bind="text: Transaction.BeneficiaryCountry.Code"></span>
                    <span id="beneficiary-country-desc" data-bind="text: ' - '+  Transaction.BeneficiaryCountry.Description"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Beneficiary Country Code')">
                    <input name="check-beneficiary-country-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!--IPE-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ChAccName">Charging Account Name</label>
                <label class="col-sm-8">
                    <span id="ChAccName" data-bind="text: Transaction.ChargingAccountName"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Charging Account Name')">
                    <input name="check-charging-acc-name" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ChAccBank">Charging Account Bank</label>
                <label class="col-sm-8">
                    <span id="ChAccBank" data-bind="text: Transaction.ChargingAccountBank"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Charging Account Bank')">
                    <input name="check-charging-acc-bank" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ChAccount">Charging Account</label>
                <label class="col-sm-2">
                    <span id="ChAccount" data-bind="text: Transaction.ChargingACCNumber "></span>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right">CCY</label>
                <label data-bind="if: $root.ChargingAccCurrency() != null" class="col-sm-3">
                    <span id="ChAccountCCY" data-bind="text: $root.ChargingAccCurrency().Code"></span>
                </label>
                <label class="col-sm-1 control-label bolder no-padding-right"></label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Charging Account')">
                    <input name="check-charging-account" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <!--end IPE-->

            <div data-bind="attr: { class: 'form-group form-line no-margin-bottom no-padding-bottom' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="agent-charges">Beneficiary Business Type</label>
                <label class="col-sm-8" data-bind="if:Transaction.BeneficiaryBusines !=null">
                    <span id="agent-charges" data-bind="text: Transaction.BeneficiaryBusines.Code+' ('+ Transaction.BeneficiaryBusines.Name+')'"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Beneficiary Business Type')">
                    <input name="check-beneciary-address" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!--add henggar IPE-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="beneficiary-addr">Beneficiary Address</label>
                <label class="col-sm-8">
                    <span id="beneficiary-addr" data-bind="text: Transaction.BeneficiaryAddress"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Beneficiary Address')">
                    <input name="check-beneciary-address" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <!--end henggar IPE-->

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="type">
                    Transaction Relationship
                </label>
                <label class="col-sm-8" data-bind="if: Transaction.TransactionRelationship != null">
                    <span id="trrelation" data-bind="text: Transaction.TransactionRelationship.Code"></span>
                    <span id="trrelation-desc" data-bind="text: ' - '+  Transaction.TransactionRelationship.Description"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Transaction Relationship')">
                    <input name="check-trrelation" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="lld-code">LLD Code</label>
                <label class="col-sm-8" data-bind="if: Transaction.LLD != null">
                    <span id="trrelation" data-bind="text: Transaction.LLD.Code"></span>
                    <span id="trrelation-desc" data-bind="text: '('+  Transaction.LLD.Description + ')'"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('LLD Code')">
                    <input name="check-trrelation" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsLimit">
                <label class="col-sm-3 control-label bolder no-padding-right" for="llddoc">LLD Document</label>
                <label class="col-sm-8" data-bind="if: Transaction.LLDDocument != null">
                    <span id="txtCodelld" data-bind="text: Transaction.LLDDocument.LLDDocumentCode"></span>
                    <span id="txtDescriptionlld" data-bind="text:'(' + Transaction.LLDDocument.Description + ')'"></span>
                    <span></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('LLD Document')">
                    <input name="check-trrelation" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsLimit">
                <label class="col-sm-3 control-label bolder no-padding-right" for="lldunderlyingamount">LLD Underlying Amount</label>
                <label class="col-sm-8">
                    <span id="txtlldunderlyingamount" data-bind="text: formatNumber_l(Transaction.LLDUnderlyingAmount)"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('LLD Underlying Amount')">
                    <input name="check-trrelation" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-code">Underlying Code</label>

                <div data-bind="if: Transaction.UnderlyingDoc != null" class="col-sm-8">
                    <label>
                        <span id="underlying-code" data-bind="text: Transaction.UnderlyingDoc.Code"></span>
                        (<span id="underlying-name" data-bind="text: Transaction.UnderlyingDoc.Name"></span>)
                    </label>
                </div>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Underlying Code')">
                    <input name="check-lld-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: Transaction.OtherUnderlyingDoc != null">
                <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-code">Other Underlying Doc</label>
                <div data-bind="if: Transaction.OtherUnderlyingDoc != null" class="col-sm-8">
                    <label>
                        <span id="othersunderlyingdoc" data-bind="text: Transaction.OtherUnderlyingDoc"></span>
                    </label>
                </div>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Other Underlying')">
                    <input name="check-lld-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ComCode">Compliance Code</label>
                <div data-bind="if: Transaction.Compliance != null" class="col-sm-8">
                    <label>
                        <span id="ComCode-name" data-bind="text: Transaction.Compliance.Name"></span>
                        <span id="ComCode-description" data-bind="text: ' - ' + Transaction.Compliance.Description"></span>
                    </label>
                </div>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Compliance Code')">
                    <input name="check-compliance-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <!--end IPE-->

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Payment Details</label>

                <label class="col-sm-8">
                    <span id="purpose-detail" data-bind="text: Transaction.PaymentDetails"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Payment Detail')">
                    <input name="check-purpose-detail" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 13-->
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: Transaction.Product.Name == 'SKN' || Transaction.Product.Name == 'RTGS' || Transaction.Product.Name == 'OTT'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Waive Charges Options</label>
                <label class="col-sm-2 control-label bolder no-padding-right" for="purpose-detail">CBG Customer</label>
                <label class="col-sm-2" data-bind="if: Transaction.CBGCustomer !=null">
                    <span id="purpose-detail" data-bind="text: Transaction.CBGCustomer.Code"></span>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right" for="purpose-detail">Transaction Using Debit Sundry</label>
                <label class="col-sm-2" data-bind="if: Transaction.TransactionUsingDebitSundry != null">
                    <span id=" purpose-detail" data-bind="text: Transaction.TransactionUsingDebitSundry.Code">
                    </span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Waive Charges Options')">
                    <input name="check-purpose-detail" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div data-bind="visible: Transaction.IsIPETMO">
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="type">Instruction</label>

                    <label class="col-sm-8">
                        <i class="bigger-170" data-bind="css: Transaction.Instruction ? 'icon-check green' : 'icon-check-empty'"></i>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="type">Statement Letter</label>

                    <label class="col-sm-8">
                        <i class="bigger-170" data-bind="css: Transaction.StatementLetter ? 'icon-check green' : 'icon-check-empty'"></i>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="type">Underlying</label>

                    <label class="col-sm-8">
                        <i class="bigger-170" data-bind="css: Transaction.Underlying ? 'icon-check green' : 'icon-check-empty'"></i>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="df-amount">DF Amount</label>

                    <label class="col-sm-8">
                        <span name="df-amount" id="df-amount" data-bind="text: formatNumber(Transaction.DFAmount)"></span>
                    </label>
                </div>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: Transaction.IsIPETMO != true">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-callback-required">Callback is Required</label>

                <label class="col-sm-1">
                    <input id="check-callback-required" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsCallbackRequired" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Signature Verification</label>

                <label class="col-sm-1">
                    <input id="check-signature-verification" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsSignatureVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-dormant-account">Dormant Account</label>

                <label class="col-sm-1">
                    <input id="check-dormant-account" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsDormantAccount" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-freeze-account">Freeze Account</label>

                <label class="col-sm-1">
                    <input id="check-freeze-account" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsFreezeAccount" />

                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: Transaction.Channel.Name == 'Fax'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-loi-available">Letter of Indemnity Available</label>

                <label class="col-sm-1">
                    <!--
                                        <input id="check-loi-available" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsLOIAvailable" />
                    -->
                    <input id="check-loi-available" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsLOIAvailable" />

                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-statement-Letter-copy">Statement Letter Copy</label>

                <label class="col-sm-1">
                    <input id="check-statement-Letter-copy" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsStatementLetterCopy" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="others">Others Exceptional Handling</label>
                <div class="col-sm-8">
                    <div class="clearfix">
                        <div class="space-4"></div>
                        <textarea class="col-sm-12" name="others" id="others" rows="6" data-bind="value: Checker.Others"></textarea>
                    </div>
                    <div class="space-4"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-completeness">Document Completeness</label>

                <label class="col-sm-9" data-bind="with: $root.VerifyColumn('Document Completeness')">
                    <input id="check-document-completeness" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified, click: IsDocumentCompleteCheck()" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!--New Req TBO-->
            <!--Author : Henggar Wicaksana-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-tobeobtained">To Be Obtained</label>

                <label class="col-sm-9" data-bind="with: $root.VerifyColumn('ToBeObtained')">
                    <input id="check-document-tobeobtained" class="ace ace-switch ace-switch-6" type="checkbox" onclick="SetTopUrgentTBO()" data-bind="checked: $root.ToBeObtained()" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsToBeObtained()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-copystletter">Copy Statement Letter</label>

                <label class="col-sm-1">
                    <input id="check-document-copystletter" class="ace ace-switch ace-switch-6" type="checkbox" onclick="SetTopUrgentTBO()" data-bind="checked: $root.CopyStatementLetter()" />
                    <span class="lbl"></span>
                </label>
                <div data-bind="if: $root.IsCopyStatementLetter()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="expected-submisiondate-copystletter">Expected Submission Date</label>

                    <div class="col-sm-2">
                        <div class="clearfix input-group col-sm-12 no-padding">
                            <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" onchange="formatCheckerDateApplicationTBO('CopyStatementLetter')" id="application-date-copystatementletter" name="application-date-copystatementletter" data-rule-required="true" data-rule-date="true" data-bind="    datepicker: true, value: $root.ApplicationDateMask()">
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsToBeObtained()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-noloi">No LOI</label>

                <label class="col-sm-1">
                    <input id="check-document-noloi" class="ace ace-switch ace-switch-6" type="checkbox" onclick="SetTopUrgentTBO()" data-bind="checked: $root.NoLOI()" />
                    <span class="lbl"></span>
                </label>

                <div data-bind="if: $root.IsNoLOI()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="expected-submisiondate-copystletter">Expected Submission Date</label>

                    <div class="col-sm-2">
                        <div class="clearfix input-group col-sm-12 no-padding">
                            <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" onchange="formatCheckerDateApplicationTBO('NoLOI')" id="application-date-noloi" name="application-date-noloi" data-rule-required="true" data-rule-date="true" data-bind="    datepicker: true, value: $root.ApplicationDateMask()">
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsToBeObtained()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-lackofsignature">Lack Of Signature</label>

                <label class="col-sm-1">
                    <input id="check-document-lackofsignature" class="ace ace-switch ace-switch-6" type="checkbox" onclick="SetTopUrgentTBO()" data-bind="checked: $root.LackOfSignature()" />
                    <span class="lbl"></span>
                </label>

                <div data-bind="if: $root.IsLackOfSignature()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="expected-submisiondate-copystletter">Expected Submission Date</label>

                    <div class="col-sm-2">
                        <div class="clearfix input-group col-sm-12 no-padding">
                            <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" onchange="formatCheckerDateApplicationTBO('LackOfSignature')" id="application-date-lackofsignature" name="application-date-lackofsignature" data-rule-required="true" data-rule-date="true" data-bind="    datepicker: true, value: $root.ApplicationDateMask()">
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsToBeObtained()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-mt103int">MT 103 Internal</label>

                <label class="col-sm-1">
                    <input id="check-document-mt103int" class="ace ace-switch ace-switch-6" type="checkbox" onclick="SetTopUrgentTBO()" data-bind="checked: $root.MT103int()" />
                    <span class="lbl"></span>
                </label>

                <div data-bind="if: $root.IsMT103int()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="expected-submisiondate-copystletter">Expected Submission Date</label>

                    <div class="col-sm-2">
                        <div class="clearfix input-group col-sm-12 no-padding">
                            <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" onchange="formatCheckerDateApplicationTBO('MT103int')" id="application-date-mt103int" name="application-date-mt103int" data-rule-required="true" data-rule-date="true" data-bind="    datepicker: true, value: $root.ApplicationDateMask()">
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsToBeObtained()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-mt103ext">MT 103 External</label>

                <label class="col-sm-1">
                    <input id="check-document-mt103ext" class="ace ace-switch ace-switch-6" type="checkbox" onclick="SetTopUrgentTBO()" data-bind="checked: $root.MT103ext()" />
                    <span class="lbl"></span>
                </label>

                <div data-bind="if: $root.IsMT103ext()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="expected-submisiondate-copystletter">Expected Submission Date</label>

                    <div class="col-sm-2">
                        <div class="clearfix input-group col-sm-12 no-padding">
                            <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" onchange="formatCheckerDateApplicationTBO('MT103ext')" id="application-date-mt103ext" name="application-date-mt103ext" data-rule-required="true" data-rule-date="true" data-bind="    datepicker: true, value: $root.ApplicationDateMask()">
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsToBeObtained()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-lackofunderlying">Lack Of Underlying</label>

                <label class="col-sm-1">
                    <input id="check-document-lackofunderlying" class="ace ace-switch ace-switch-6" type="checkbox" onclick="SetTopUrgentTBO()" data-bind="checked: $root.LackOfUnderlying()" />
                    <span class="lbl"></span>
                </label>

                <div data-bind="if: $root.IsLackOfUnderlying()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="expected-submisiondate-copystletter">Expected Submission Date</label>

                    <div class="col-sm-2">
                        <div class="clearfix input-group col-sm-12 no-padding">
                            <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" onchange="formatCheckerDateApplicationTBO('LackOfUnderlying')" id="application-date-lackofunderlying" name="application-date-lackofunderlying" data-rule-required="true" data-rule-date="true" data-bind="    datepicker: true, value: $root.ApplicationDateMask()">
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsToBeObtained()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-insurance">Insurance</label>

                <label class="col-sm-1">
                    <input id="check-document-insurance" class="ace ace-switch ace-switch-6" type="checkbox" onclick="SetTopUrgentTBO()" data-bind="checked: $root.Insurance()" />
                    <span class="lbl"></span>
                </label>

                <div data-bind="if: $root.IsInsurance()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="expected-submisiondate-copystletter">Expected Submission Date</label>

                    <div class="col-sm-2">
                        <div class="clearfix input-group col-sm-12 no-padding">
                            <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" onchange="formatCheckerDateApplicationTBO('Insurance')" id="application-date-insurance" name="application-date-insurance" data-rule-required="true" data-rule-date="true" data-bind="    datepicker: true, value: $root.ApplicationDateMask()">
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsToBeObtained()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-transportdocument">Transport Document</label>

                <label class="col-sm-1">
                    <input id="check-document-transportdocument" class="ace ace-switch ace-switch-6" type="checkbox" onclick="SetTopUrgentTBO()" data-bind="checked: $root.TransportDocument()" />
                    <span class="lbl"></span>
                </label>

                <div data-bind="if: $root.IsTransportDocument()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="expected-submisiondate-copystletter">Expected Submission Date</label>

                    <div class="col-sm-2">
                        <div class="clearfix input-group col-sm-12 no-padding">
                            <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" onchange="formatCheckerDateApplicationTBO('TransportDocument')" id="application-date-transportdocument" name="application-date-transportdocument" data-rule-required="true" data-rule-date="true" data-bind="    datepicker: true, value: $root.ApplicationDateMask()">
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsToBeObtained()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-invoice">Invoice</label>

                <label class="col-sm-1">
                    <input id="check-document-invoice" class="ace ace-switch ace-switch-6" type="checkbox" onclick="SetTopUrgentTBO()" data-bind="checked: $root.Invoice()" />
                    <span class="lbl"></span>
                </label>

                <div data-bind="if: $root.IsInvoice()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="expected-submisiondate-copystletter">Expected Submission Date</label>

                    <div class="col-sm-2">
                        <div class="clearfix input-group col-sm-12 no-padding">
                            <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" onchange="formatCheckerDateApplicationTBO('Invoice')" id="application-date-invoice" name="application-date-invoice" data-rule-required="true" data-rule-date="true" data-bind="    datepicker: true, value: $root.ApplicationDateMask()">
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsToBeObtained()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-incorrectinformation">Incorrect Information</label>

                <label class="col-sm-1">
                    <input id="check-document-incorrectinformation" class="ace ace-switch ace-switch-6" type="checkbox" onclick="SetTopUrgentTBO()" data-bind="checked: $root.IncorrectInformation()" />
                    <span class="lbl"></span>
                </label>

                <div data-bind="if: $root.IsIncorrectInformation()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="expected-submisiondate-copystletter">Expected Submission Date</label>

                    <div class="col-sm-2">
                        <div class="clearfix input-group col-sm-12 no-padding">
                            <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" onchange="formatCheckerDateApplicationTBO('IncorrectInformation')" id="application-date-incorrectinformation" name="application-date-incorrectinformation" data-rule-required="true" data-rule-date="true" data-bind="    datepicker: true, value: $root.ApplicationDateMask()">
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsToBeObtained()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-otherdocument">Other Document</label>

                <label class="col-sm-1">
                    <input id="check-document-otherdocument" class="ace ace-switch ace-switch-6" type="checkbox" onclick="SetTopUrgentTBO()" data-bind="checked: $root.OtherDocument()" />
                    <span class="lbl"></span>
                </label>

                <div data-bind="if: $root.IsOtherDocument()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="expected-submisiondate-copystletter">Expected Submission Date</label>

                    <div class="col-sm-2">
                        <div class="clearfix input-group col-sm-12 no-padding">
                            <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" onchange="formatCheckerDateApplicationTBO('OtherDocument')" id="application-date-otherdocument" name="application-date-otherdocument" data-rule-required="true" data-rule-date="true" data-bind="    datepicker: true, value: $root.ApplicationDateMask()">
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group no-margin-bottom no-padding-bottom" data-bind="if: $root.IsOtherDocument()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="othersdocremaks">Others Document Remaks</label>
                <div class="col-sm-8">
                    <div class="clearfix">
                        <div class="space-4"></div>
                        <textarea class="col-sm-12" name="othersdocremaks" id="othersdocremaks" rows="6" data-bind="value: $root.OtherDocumentRemaks()"></textarea>
                    </div>
                    <div class="space-4"></div>
                </div>
            </div>
            <!--End-->
        </div>

        <div class="space-16"></div>

        <div data-bind="if: Transaction.Customer.Underlyings != '' && Transaction.Customer.Underlyings != null">

            <h3 class="header smaller lighter dark">Un-utilize Underlying Documents</h3>

            <div data-bind="visible: Transaction.IsIPETMO">
                <div class="table-responsive">
                    <div class="dataTables_wrapper" role="grid" data-bind="with: Transaction.Customer">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Statement Letter</th>
                                    <th>Underlying</th>
                                    <th>Type of Docs</th>
                                    <th>Currency</th>
                                    <th>Amount</th>
                                    <th>Available Amount in USD</th>
                                    <th>Utilize Amount Deal</th>
                                    <th>Date</th>
                                    <th>Supllier Name</th>
                                    <th>Ref. Number</th>
                                    <th>Created By</th>
                                    <th>Last Modified By</th>
                                    <th style="width:50px">Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: Underlyings">
                                <tr>
                                    <td><span data-bind="text: $index() +1"></span></td>
                                    <td><span data-bind="text: StatementLetter.Name"></span></td>
                                    <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                    <td><span data-bind="text: DocumentType.Name"></span></td>
                                    <td><span data-bind="text: Currency.Code"></span></td>
                                    <td align="right"><span data-bind="text: formatNumber_r(Amount)"></span></td>
                                    <td align="right"><span data-bind="text: formatNumber_r(AvailableAmount)"></span></td>
                                    <td align="right"><span data-bind="text: formatNumber_r(UtilizeAmountDeal)"></span></td>
                                    <td><span data-bind="text: $root.LocalDate(ExpiredDate, true, false)"></span></td>
                                    <td><span data-bind="text: SupplierName"></span></td>
                                    <td><span data-bind="text: ReferenceNumber"></span></td>
                                    <td><span data-bind="text: CreatedBy"></span></td>
                                    <td><span data-bind="text: LastModifiedBy"></span></td>
                                    <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: $root.GetUnderlyingSelectedEditRow">View</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div data-bind="visible: Transaction.IsIPETMO != true">
                <div class="table-responsive">
                    <div class="dataTables_wrapper" role="grid" data-bind="with: Transaction.Customer">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Statement Letter</th>
                                    <th>Underlying</th>
                                    <th>Type of Docs</th>
                                    <th>Currency</th>
                                    <th>Amount</th>
                                    <th>Available Amount in USD</th>
                                    <th>Date</th>
                                    <th>Supllier Name</th>
                                    <th>Ref. Number</th>
                                    <th style="width:50px">Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: Underlyings">
                                <tr>
                                    <td><span data-bind="text: $index() +1"></span></td>
                                    <td><span data-bind="text: StatementLetter.Name"></span></td>
                                    <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                    <td><span data-bind="text: DocumentType.Name"></span></td>
                                    <td><span data-bind="text: Currency.Code"></span></td>
                                    <td align="right"><span data-bind="text: formatNumber_r(Amount)"></span></td>
                                    <td align="right"><span data-bind="text: formatNumber_r(AvailableAmount)"></span></td>
                                    <td><span data-bind="text: $root.LocalDate(ExpiredDate, true, false)"></span></td>
                                    <td><span data-bind="text: SupplierName"></span></td>
                                    <td><span data-bind="text: ReferenceNumber"></span></td>
                                    <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: $root.GetUnderlyingSelectedEditRow">View</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="space-10"></div>

            <div id="transaction-form1" class="form-horizontal" role="form">
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="total-utilization">Total Utilization</label>
                    <label class="col-sm-8">
                        <span id="total-utilization" data-bind="text:formatNumber_r($root.AmountModel().TotalPPUUtilization())"></span>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="total-utilization">Total IDR->FCY Transaction in USD</label>
                    <label class="col-sm-8">
                        <span id="total-idr-fcy" data-bind="text:formatNumber_r($root.AmountModel().TotalPPUAmountsUSD())"></span>
                    </label>
                </div>
            </div>

        </div>

        <div class="space-16"></div>

        <div class="padding-4">
            <h3 class="header smaller lighter dark">Attachment
                <label class="col-sm-12 control-label bolder no-padding-right" data-bind="if: $root.IsToBeObtained()">
                    <button class=" btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocumentChecker">
                        <i class="icon-plus"></i>
                        Attach
                    </button>
                </label>
            </h3>

            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            <td><a href="#" data-bind="click: $root.RemoveDocumentChecker">Remove</a></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: Transaction.Documents.length == 0">
                        <tr>
                            <td colspan="13" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
