﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <div class="col-sm-6">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-12" name="customer-name" id="customer-name" disabled="disabled" data-rule-required="true" data-bind="value: Transaction.Customer.Name" />
                    </div>
                </div>

                <label class="col-sm-2">
                    <span class="label label-warning arrowed" data-bind="if: Transaction.IsNewCustomer">
                        <i class="icon-warning-sign bigger-120"></i>
                        New Customer
                    </span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-3" name="cif" id="cif" disabled="disabled" data-bind="value: Transaction.Customer.CIF" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="product" name="product" data-rule-required="true" disabled="disabled"
                                data-bind="options: $root.Products,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.Product.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency">Currency</label>

                <!--bangkit-->
                <label class="col-sm-9">
                    <span data-bind="text: Transaction.Currency.Code"></span>
                    (<span data-bind="text: Transaction.Currency.Description"></span>)
                </label>

                <!--<div class="col-sm-9">
                    <div class="clearfix">
                        <select id="currency" name="currency" data-rule-required="true"
                                data-bind="options: $root.Currencies,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.Currency.ID">
                        </select>
                    </div>
                </div>-->
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trxn-amount">Trxn Amount</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="trxn-amount" id="trxn-amount" data-in="" onkeyup="OnKeyUp('TransactionCaller')" data-rule-required="true" data-rule-number="true" data-bind="value: $root.FormatNumber(Transaction.Amount)" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="rate">Rate</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="rate" id="rate" data-in="" disabled="disabled" data-rule-number="true" data-bind="value: formatNumber_r(Transaction.Rate)" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="eqv-usd">Eqv. USD</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="eqv-usd" id="eqv-usd" disabled="disabled" data-rule-required="true" data-rule-number="true" data-bind="value: formatNumber_r(Transaction.AmountUSD), event:{change:  $root.RefreshAutoComplete('TransactionCaller')}" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="channel" name="channel" disabled="disabled" data-rule-required="true" data-bind="options: $root.Channels, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Channel.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-number">Debit Acc Number</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="book-joinAcc" name="book-statement" data-bind="value: Transaction.IsJointAccount,
                                        options:$root.CIFJointAccounts,
                                        optionsText:'Name',
                                        optionsValue: 'ID',
                                        event:{ change: $root.OnChangeJointAcc },disable:true" class="col-xs-3"></select>
                        <select id="debit-acc-number" name="debit-acc-number" data-rule-required="true" data-bind="options: $root.DynamicAccounts,optionsText: function(item) { if(item.AccountNumber != '-'  ){ if(item.CustomerName!=null){return item.AccountNumber+' ('+  item.Currency.Code+') - '+ item.CustomerName } return item.AccountNumber+' ('+  item.Currency.Code+')'} return item.AccountNumber}, optionsValue: 'AccountNumber', optionsCaption: 'Please Select...', value: $root.Selected().Account,event:{ change: $root.CheckEmptyAccountNumber },enable: !$root.VerifyColumn('Debit Acc Number')().IsVerified" class="col-xs-5"></select>
                        <label class="control-label bolder text-danger" for="debit-acc-number">*</label>
                        <input type="text" autocomplete="off" name="debit-acc-number-empty" id="debit-acc-number-empty" data-rule-required="true" data-bind="value: Transaction.OtherAccountNumber,visible: $root.IsEmptyAccountNumber(),enable: !$root.VerifyColumn('Debit Acc Number')().IsVerified" />
                        <label class="control-label bolder text-danger" for="debit-acc-number" data-bind="visible: $root.IsEmptyAccountNumber()">*</label>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="ifnot: $root.IsOtherAccountNumber">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-ccy">Debit Acc CCY</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-1" name="debit-acc-ccy" id="debit-acc-ccy" disabled="disabled" data-bind="value: Transaction.DebitCurrency.Code" />
                    </div>
                </div>
            </div>

            <!--Henggar data Transaction detail Sundry-->
            <div class="form-group" data-bind="visible: Transaction.Product.Name == 'OTT'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-sundry">Debit Sundry</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="debit-sundry" name="debit-sundry" data-rule-required="true" class="col-xs-3" disabled="disabled"
                                data-bind="options: $root.Sundry,
                                    optionsText: 'OABAccNo',
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().Sundry
                                    "></select>
                    </div>
                </div>
            </div>
            <!--end henggar-->

            <div class="form-group" data-bind="if: $root.IsOtherAccountNumber">
                <label class="col-sm-3 control-label bolder no-padding-right" for="othercurrency">Debit Acc CCY</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="othercurrency" name="othercurrency" data-rule-required="true"
                                data-bind="options: $root.Currencies,
                                    enable: false,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().DebitCurrency,
                                    event: { change: function(){ $root.PopulateSelected('TransactionCaller', 'DebitCurrency'); } }"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="application-date">Application Date</label>

                <div class="col-sm-9">
                    <div class="clearfix input-group col-sm-3 no-padding">
                        <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="application-date" name="application-date" disabled="disabled" data-rule-required="true" data-rule-date="true" data-bind="datepicker: true, value: $root.LocalDate(Transaction.ApplicationDate, true)">
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="biz-segment">Biz Segment</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="biz-segment" name="biz-segment" disabled="disabled" data-rule-required="true" data-rule-value="true"
                                data-bind="options: $root.BizSegments,
                                    optionsText: function(item){ if(item.Name != null) return item.Name +' ('+ item.Description +')'; },
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.BizSegment.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="if:($root.t_IsFxTransaction() || $root.t_IsFxTransactionToIDR()) && $root.ProductID() == ConsProductID.OTTProductIDCons">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product Type</label>

                <div class="col-sm-9">
                    <div class="clearfix" data-bind="if:Transaction.ProductType!=null">
                        <select id="product-type" name="product-type" data-rule-required="true" class="col-xs-3" disabled="disabled"
                                data-bind="options: $root.ProductTypes,
                                    optionsText: 'Code',
                                    optionsValue: 'ID',
                                    value: Transaction.ProductType.ID"></select>
                        <!--event: { change: function(){ $root.PopulateSelected('TransactionCaller', 'ProductType'); } } -->
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-name">Bene Name</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-6" name="bene-name" id="bene-name" data-rule-required="true" disabled="disabled" data-bind="event: { keypress: enforceMaxlength }, value: Transaction.BeneName" size="35" />
                    </div>
                </div>
            </div>

            <!--<div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-bank">Bene Bank</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="bene-bank" name="bene-bank" data-rule-required="true" data-bind="options: $root.Banks, optionsText: 'Description', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Bank.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-code">Swift Code/Bank Code</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-2" name="bank-code" id="bank-code" disabled="disabled" data-bind="value: Transaction.Bank.SwiftCode"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-acc-number">Bene Acc Number</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-6" name="bene-acc-number" id="bene-acc-number" disabled="disabled" data-bind="value: Transaction.Bank.BankAccount"/>
                    </div>
                </div>
            </div>-->

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-bank">Bene Bank</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-6" name="bank-bank" id="bank-bank" data-bind="value: Transaction.Bank.Description,enable: !($root.ProductID() == ConsProductID.OverbookingProductIDCons)" />
                        <!--
                                                <select id="bene-bank" name="bene-bank" data-rule-required="true" data-bind="options: $root.Banks, optionsText: 'Description', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Bank.ID, enable: !$root.VerifyColumn('Bene Bank')().IsVerified"></select>
                        -->
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-code">Swift Code/Bank Code</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-2" name="bank-code" id="bank-code" disabled="disabled" data-bind="value: Transaction.Bank.SwiftCode, enable: !$root.IsOtherBank() && !($root.ProductID() == ConsProductID.OverbookingProductIDCons)" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-acc-number">Bene Acc Number</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-6" name="bene-acc-number" onkeyup="formatMakerAccount('TransactionCaller')" id="bene-acc-number" data-bind="value: formatAccount($root.BeneAccNumberMask())" />
                    </div>
                </div>
            </div>

            <div data-bind="if: Transaction.BankCharges != null, visible: Transaction.Product.Code == 'OT' || Transaction.Product.Code == 'RT' || Transaction.Product.Code == 'SK', attr: { class: 'form-group' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-charges">Bank Charges</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="bank-charges" name="bank-charges" data-rule-required="true"
                                data-bind="options: $root.BankCharges,
                                    enable: false,
                                    optionsText: 'Code', optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.BankCharges.ID"></select>
                    </div>
                </div>
            </div>

            <div data-bind="if: Transaction.AgentCharges != null, visible: Transaction.Product.Code == 'SK' || Transaction.Product.Code == 'RT', attr: { class: 'form-group' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="agent-charges">Agent Charges</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="agent-charges" name="agent-charges" data-rule-required="true"
                                data-bind="options: $root.AgentCharges,
                                    enable: false,
                                    optionsText: 'Code', optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.AgentCharges.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Resident</label>
                <label class="col-sm-1">
                    <input id="resident" disabled="disabled" name="resident" class="ace ace-switch ace-switch-2" type="checkbox" data-bind="checked: Transaction.IsResident" />
                    <span class="lbl"></span>
                </label>                
            </div>

            <div class="form-group" data-bind="visible:Transaction.Product.Name == 'SKN'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Beneficiary Resident</label>
                <label class="col-sm-1">
                    <input id="beneficiaryresident" name="resident" class="ace ace-switch ace-switch-2" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsBeneficiaryResident" />
                    <span class="lbl"></span>
                </label>
            </div> 

            <div class="form-group" data-bind="visible:Transaction.Product.Name == 'SKN'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="Beneficiary">Beneficiary Business Type</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="lld-code" disabled="disabled" name="Beneficiary"
                                data-bind="options: $root.BeneficiaryBusiness,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().BeneficiaryBusines"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="lld-code">LLD Code</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="lld-code" name="lld-code"
                                data-bind="options: $root.LLDs,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().LLD,
                                    event: { change: function(){ $root.PopulateSelected('TransactionCaller', 'LLD'); } }"></select>                        
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Signature Verification</label>

                <label class="col-sm-1">
                    <input id="check-signature-verification" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsSignatureVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-dormant-account">Dormant Account</label>

                <label class="col-sm-1">
                    <input id="check-dormant-account" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsDormantAccount" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-freeze-account">Freeze Account</label>

                <label class="col-sm-1">
                    <input id="check-freeze-account" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsFreezeAccount" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Payment Details</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <textarea class="col-sm-12" name="purpose-detail" id="purpose-detail" rows="6" data-bind="value: Transaction.PaymentDetails"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="others">Others</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <textarea class="col-sm-12" name="others" id="others" rows="6" disabled="disabled" data-bind="value: Transaction.Others"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-4"></div>

        <!-- transaction callbacks start -->
        <div id="transaction-callback">
            <h3 class="header smaller lighter dark">Callback</h3>

            <div class="table-responsive">
                <div class="table-responsive" role="grid">
                    <table id="customerContact-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">Contacted Name</th>
                                <th class="center">Phone No</th>
                                <th class="center">DOB</th>
                                <!--<th class="center">Address</th>-->
                                <th class="center">ID Number</th>
                                <th class="center">POA Function</th>
                                <th class="center">Occupation ID</th>
                                <th class="center">Place of Birth</th>
                                <th class="center">Effective Date</th>
                                <th class="center">Cancellation Date</th>
                                <!--<th class="center">Select</th>-->
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Transaction.Customer.Contacts">
                            <tr data-bind="click: $root.SelectedContacts">
                                <td><span data-bind="text: Name"></span></td>
                                <td><span data-bind="text: PhoneNumber"></span></td>
                                <td><span data-bind="text: $root.LocalDate(DateOfBirth, true, false)"></span></td>
                                <!--<td><span data-bind="text: moment(DateOfBirth).format('MM-DD-YYYY')"></span></td>-->
                                <!--<td><span data-bind="text: Address "></span></td>-->
                                <td><span data-bind="text: IDNumber"></span></td>
                                <td><span data-bind="text: POAFunctionVW"></span></td>
                                <td><span data-bind="text: OccupationInID"></span></td>
                                <td><span data-bind="text: PlaceOfBirth"></span></td>
                                <td><span data-bind="text: $root.LocalDate(EffectiveDate, true, false)"></span></td>
                                <td><span data-bind="text: $root.LocalDate(CancellationDate, true, false)"></span></td>
                                <!--<td><span data-bind="text: moment(EffectiveDate).format('MM-DD-YYYY')"></span></td>
                                <td><span data-bind="text: moment(CancellationDate).format('MM-DD-YYYY')"></span></td>-->
                                <!--<td class="center">
                                    <label>
                                        <input type="checkbox" class="ace ace-switch ace-switch-6" data-bind="value:ID, event:{change: $root.SelectedContacts}, attr: { id: 'checkbox'+$index()+'' }"/>
                                        <span class="lbl"></span>
                                    </label>
                                </td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--<div class="space-4"></div>

            <div class="row">
                <div class="col-sm-12">
                    <pre data-bind="text: JSON.stringify(ko.toJS($root.TransactionCallback), null, 2)"></pre>
                </div>
            </div>-->

            <div class="space-4"></div>

            <!-- <div id="transaction-callback-form" class="form-horizontal" role="form">
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-11">
                        Sumber Dana Pengiriman Uang / Remittance Source of Funds
                    </label>

                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Sumber Dana')">
                        <input name="Remittance" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div> -->
            <!--<div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" for="PaymentDetail">
                    Detail Pembayaran (Berita Untuk Penerima) / Payment Detail (Message for Beneficiary)
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Detail Pembayaran')">
                    <input id="PaymentDetail" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash;data-bind="checked: PaymentDetail" &ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-12 bolder">
                    STATUS / STATUS
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" for="Residence">
                    A. Penduduk / Residence
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Penduduk')">
                    <input id="Residence" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash;data-bind="checked: Residence" &ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" style="padding-left: 30px" for="CountryCodeResidence">
                    Kode Negara / Country Code
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Kode Negara')">
                    <input id="CountryCodeResidence" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash;data-bind="checked: CountryCodeResidence" &ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" for="NonResidence">
                    B. Bukan Penduduk / Non Residence
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bukan Penduduk')">
                    <input id="NonResidence" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash;data-bind="checked: NonResidence"&ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" style="padding-left: 30px" for="CountryCodeNonResidence">
                    Kode Negara / Country Code
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Kode Negara Bukan Penduduk')">
                    <input id="CountryCodeNonResidence" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash;data-bind="checked: CountryCodeNonResidence" &ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-12 bolder">
                    KATEGORI / CATEGORY
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" for="Beneficiary">
                    A. Penerima Sama dengan Pengirim / Beneficiary is Remitter
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Penerima Sama')">
                    <input id="Beneficiary" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash;data-bind="checked: Beneficiary" &ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" for="Individual">
                    B. Perorangan / Individual
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Perorangan')">
                    <input id="Individual" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash;data-bind="checked: Individual" &ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" for="Goverment">
                    C. Pemerintah / Government
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Pemerintah')">
                    <input id="Goverment" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash; data-bind="checked: Goverment"&ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" for="Bank">
                    D. Bank
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bank')">
                    <input id="Bank" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash; data-bind="checked: Bank" &ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" style="padding-left: 30px" for="CentralBank">
                    - Bank Sentral / Central Bank
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bank Sentral')">
                    <input id="CentralBank" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash;data-bind="checked: CentralBank"&ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <div class="col-sm-11" style="padding-left: 30px">
                    <label class="control-label" for="ReportingBank">
                        - Bank Pelapor / Reporting Bank
                    </label>
                </div>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bank Pelapor')">
                    <input id="ReportingBank" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash; data-bind="checked: ReportingBank"&ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" style="padding-left: 30px" for="Branch">
                    - KC / KP di LN / Branch / Head Office Abroad
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('KC / KP di LN')">
                    <input id="Branch" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash; data-bind="checked: Branch"&ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" style="padding-left: 30px" for="OtherBank">
                    - Bank Lainnya / Other Bank
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bank Lainnya')">
                    <input id="OtherBank" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash;data-bind="checked: OtherBank" &ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" for="NonBank">
                    E. Lembaga Keuangan Non Bank / Non Bank Financial Institution
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Lembaga Keuangan Non Bank')">
                    <input id="NonBank" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />&lt;!&ndash; data-bind="checked: NonBank"&ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" for="Enterprise">
                    F. Perusahaan / Enterprise
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Perusahaan')">
                    <input id="Enterprise" class="ace ace-switch ace-switch-6" type="checkbox"  data-bind="checked: IsVerified" />&lt;!&ndash; data-bind="checked: Enterprise"&ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11" for="Other">
                    G. Lainnya / Others
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Lainnya')">
                    <input id="Other" class="ace ace-switch ace-switch-6" type="checkbox"  data-bind="checked: IsVerified" />&lt;!&ndash;data-bind="checked: Other" &ndash;&gt;
                    <span class="lbl"></span>
                </label>
            </div>-->

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-11">
                    Transaction Information Verification
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Hubungan Keuangan')">
                    <input type="checkbox" class="ace ace-switch ace-switch-6" data-bind="checked: IsVerified" /><!--data-bind="checked: TransactorRelationship" -->
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-11" for="DestinationCode">
                    Sandi Tujuan Transaksi LLD / Destination Code
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Sandi Tujuan')">
                    <input id="DestinationCode" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--data-bind="checked: DestinationCode" -->
                    <span class="lbl"></span>
                </label>
            </div>
        </div>
        <!-- transaction callbacks end -->

        <div class="space-4"></div>
        <h3 class="header smaller lighter dark">Callback Time</h3>

        <div class="table-responsive">
            <div class="table-responsive" role="grid">
                <table id="customerContacted-table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="center">Contacted Name</th>
                            <th class="center">Call Back Time</th>
                            <th class="center">Remark</th>
                            <th class="center">Is UTC</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Callbacks">
                        <tr>
                            <td><span data-bind="text: Contact.Name"></span></td>
                            <td><span data-bind="text: $root.TimeFormat(Time)"></span></td>
                            <!--<td>
                                <div class="input-group bootstrap-timepicker">
                                    <input type="text" class="form-control time-picker" data-bind="timepicker: true, text: Time" />
                                    <span class="input-group-addon">
                                        <i class="icon-time bigger-110"></i>
                                    </span>
                                </div>
                            </td>-->
                            <td><span data-bind="text: Remark"></span></td>
                            <td class="center">
                                <label>
                                    <input type="checkbox" class="ace ace-switch ace-switch-6" data-bind="checked: IsUTC" disabled="disabled" />
                                    <span class="lbl"></span>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: Callbacks !=null && Callbacks.length == 0">
                        <tr>
                            <td colspan="4" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-horizontal" role="form">
            <!--<div data-bind="foreach: Callbacks">
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Call back time :
                    </label>

                    <div class="col-sm-2">
                        <div class="clearfix">
                            <div class="input-group bootstrap-timepicker">
                                <input type="text" autocomplete="off" class="form-control time-picker"  data-bind="timepicker: true, value: Time, attr: { id: 'timepicker'+$index()+'' }" />
                                <span class="input-group-addon">
                                    <i class="icon-time bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-4"></div>
            </div>-->

            <div class="form-group" data-bind="visible:false">
                <label class="col-sm-3 control-label">
                    Remarks
                </label>

                <div class="col-sm-9">
                    <textarea name="remarks" id="remarks" class="col-sm-12" rows="5" data-bind="event: { change: $root.OnRemarkChanges }"></textarea>
                </div>
            </div>
        </div>

        <div class="space-4"></div>

        <div class="space-10"></div>

        <div data-bind="if:(($root.t_IsFxTransaction() ||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue())) && $root.ProductID() == ConsProductID.OTTProductIDCons)">
            <h3 class="header smaller lighter dark">Un-utilize Underlying Documents</h3>

            <div class="table-responsive">
                <div class="dataTables_wrapper" role="grid" data-bind="with: Transaction.Customer">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Statement Letter</th>
                                <th>Underlying</th>
                                <th>Type of Docs</th>
                                <th>Currency</th>
                                <th>Amount</th>
                                <th>Available Amount in USD</th>
                                <th>Date</th>
                                <th>Supllier Name</th>
                                <th>Ref. Number</th>
                                <th style="width:50px">Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Underlyings">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><span data-bind="text: StatementLetter.Name"></span></td>
                                <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                <td><span data-bind="text: DocumentType.Name"></span></td>
                                <td><span data-bind="text: Currency.Code"></span></td>
                                <td align="right"><span data-bind="text: formatNumber_r(Amount)"></span></td>
                                <td align="right"><span data-bind="text: formatNumber_r(AvailableAmount)"></span></td>
                                <td><span data-bind="text: $root.LocalDate(ExpiredDate, true, false)"></span></td>
                                <!--<td><span data-bind="text: moment(ExpiredDate).format('YYYY/MM/DD')"></span></td>-->
                                <td><span data-bind="text: SupplierName"></span></td>
                                <td><span data-bind="text: ReferenceNumber"></span></td>
                                <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: $root.GetUnderlyingSelectedRow">View</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="space-10"></div>


            <div id="transaction-form3" class="form-horizontal" role="form">

                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-code">Underlying Code</label>
                    <div data-bind="ifnot:Transaction.UnderlyingDoc==null">
                        <label class="col-sm-8">
                            <span id="underlying-code1" name="underlying-code1" data-bind="text: Transaction.UnderlyingDoc.Code"></span>
                            (<span id="underlying-code" name="underlying-code" data-bind="text: Transaction.UnderlyingDoc.Name"></span>)
                        </label>
                    </div>
                </div>

                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="total-utilization">Total Utilization</label>
                    <label class="col-sm-8">
                        <span id="total-utilization" name="total-utilization" data-bind="text:formatNumber_r($root.AmountModel().TotalPPUUtilization())"></span>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="total-utilization">Total IDR->FCY Transaction in USD</label>
                    <label class="col-sm-8">
                        <span id="total-idr-fcy" name="total-idr-fcy" data-bind="text:formatNumber_r($root.AmountModel().TotalPPUAmountsUSD())"></span>
                    </label>
                </div>

                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="tz-number">TZ Number</label>

                    <label class="col-sm-8">
                        <span id="tz-number" name="tz-number" data-bind="text:  Transaction.TZNumber"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="space-6"></div>

        <div class="padding-4">
            <h3 class="header smaller lighter dark">Attachment</h3>
            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: Transaction.Documents !=null && Transaction.Documents.length == 0">
                        <tr>
                            <td colspan="5" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
    <!--[if gte mso 9]><xml>
    <mso:CustomDocumentProperties>
    <mso:PublishingIsFurlPage msdt:dt="string">0</mso:PublishingIsFurlPage>
    <mso:PublishingContactPicture msdt:dt="string"></mso:PublishingContactPicture>
    <mso:PublishingRollupImage msdt:dt="string"></mso:PublishingRollupImage>
    <mso:Audience msdt:dt="string"></mso:Audience>
    <mso:PublishingContactName msdt:dt="string"></mso:PublishingContactName>
    <mso:Comments msdt:dt="string"></mso:Comments>
    <mso:PublishingContactEmail msdt:dt="string"></mso:PublishingContactEmail>
    </mso:CustomDocumentProperties>
    </xml><![endif]-->
    <title></title>
</head>
