﻿<div class="row" data-bind="ifnot: $data == null">
<div class="col-xs-12">
<div id="transaction-form" class="form-horizontal" role="form">
<div class="form-group">
    <label class="col-sm-3 control-label bolder no-padding-right">
        <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
    </label>

    <label class="col-sm-4 pull-right">
        <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br/>
        <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
    </label>
</div>

<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

    <label class="col-sm-1">
        <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
    </label>
    <label class="col-sm-2 control-label bolder no-padding-right">Top Urgent Chain</label>

    <label class="col-sm-1">
        <i class="bigger-170" data-bind="css: Transaction.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
    </label>
</div>

<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

    <label class="col-sm-8">
        <span name="customer-name" id="customer-name" data-bind="text: Transaction.Customer.Name" ></span>
                    <span class="label label-warning arrowed" data-bind="if: Transaction.IsNewCustomer">
                        <i class="icon-warning-sign bigger-120"></i>
                        New Customer
                    </span>
    </label>
</div>

<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

    <label class="col-sm-9">
        <span name="cif" id="cif" data-bind="text: Transaction.Customer.CIF" ></span>
    </label>
</div>

<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>

    <label class="col-sm-9">
        <span id="product-code" name="product" data-bind="text: Transaction.Product.Code" ></span>
        (<span id="product-name" name="product" data-bind="text: Transaction.Product.Name" ></span>)
    </label>
</div>

<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="currency-code">Currency</label>

    <label class="col-sm-8">
        <span id="currency-code" name="currency" data-bind="text: Transaction.Currency.Code" ></span>
        (<span id="currency-desc" name="currency" data-bind="text: Transaction.Currency.Description" ></span>)
    </label>
</div>

<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="trxn-amount">Trxn Amount</label>

    <label class="col-sm-8">
        <span name="trxn-amount" id="trxn-amount" data-bind="text: formatNumber(Transaction.Amount)" ></span>
    </label>
</div>

<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="rate">Rate</label>

    <label class="col-sm-9">
        <span name="rate" id="rate" data-bind="text: formatNumber(Transaction.Rate)" ></span>
    </label>
</div>

<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="eqv-usd">Eqv. USD</label>

    <label class="col-sm-8">
        <span name="eqv-usd" id="eqv-usd" data-bind="text: formatNumber(Transaction.AmountUSD)" ></span>
    </label>
</div>

<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

    <label class="col-sm-8">
        <span id="channel" name="channel" data-bind="text: Transaction.Channel.Name"></span>
    </label>
</div>

<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-number">Debit Acc Number</label>

    <label class="col-sm-8">
        <span id="debit-acc-number" name="debit-acc-number" data-bind="text: Transaction.Account.AccountNumber"></span>
    </label>
</div>

<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-ccy-code">Debit Acc CCY</label>

    <label class="col-sm-9" data-bind="with: Transaction">
        <span name="debit-acc-ccy" id="debit-acc-ccy-code" data-bind="text: DebitCurrency.Code"></span>
        (<span name="debit-acc-ccy" id="debit-acc-ccy-desc" data-bind="text: DebitCurrency.Description"></span>)
    </label>
</div>

<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="application-date">Application Date</label>

    <label class="col-sm-9">
        <span id="application-date" name="application-date" data-bind="text: $root.LocalDate(Transaction.ApplicationDate, true)" ></span>
    </label>
</div>

<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="biz-segment-code">Biz Segment</label>

    <label class="col-sm-8">
        <span id="biz-segment-code" name="biz-segment" data-bind="text: Transaction.BizSegment.Description"></span>
        (<span id="biz-segment-desc" name="biz-segment" data-bind="text: Transaction.BizSegment.Name"></span>)
    </label>
</div>

    <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: ($root.t_IsFxTransaction() || $root.t_IsFxTransactionToIDR()) && $root.ProductID() == ConsProductID.OTTProductIDCons">
        <label class="col-sm-3 control-label bolder no-padding-right" for="product-type-name">Product Type</label>
        <div data-bind="ifnot:Transaction.ProductType==null">
            <label class="col-sm-8">
                <span id="product-type-name" name="product-type" data-bind="text: Transaction.ProductType.Code"></span>
            </label>
        </div>
    </div>

<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="bene-name">Bene Name</label>

    <label class="col-sm-8">
        <span name="bene-name" id="bene-name" data-bind="text: Transaction.BeneName" ></span>
    </label>
</div>

<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="bene-bank">Bene Bank</label>

    <label class="col-sm-8">
        <span id="bene-bank" name="bene-bank" data-bind="text: Transaction.Bank.Description"></span>
    </label>
</div>

<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="bank-code">Swift Code/Bank Code</label>

    <label class="col-sm-8">
        <span name="bank-code" id="bank-code" data-bind="text: Transaction.Bank.SwiftCode" ></span>
    </label>
</div>

<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="bene-acc-number">Bene Acc Number</label>

    <label class="col-sm-8">
        <span name="bene-acc-number" id="bene-acc-number" data-bind="text: formatAccount(Transaction.BeneAccNumber)" ></span>
    </label>
</div>


<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <div class="space-4"></div>
    <label class="col-sm-3 control-label bolder no-padding-right" for="lld-code">LLD Code</label>

    <label class="col-sm-8" data-bind="ifnot:Transaction.LLD==null">
        <span id="lld-desc" name="lld" data-bind="text: Transaction.LLD.Code"></span>
        (<span id="lld-name" name="lld" data-bind="text: Transaction.LLD.Description"></span>)
    </label>
</div>

<!--<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Purpose Detail of Compliance</label>

    <label class="col-sm-8">
        <span name="purpose-detail" id="purpose-detail" data-bind="text: Transaction.DetailCompliance"></span>
    </label>
</div>-->

<!--<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="check-callback-required">Callback is Required</label>

    <label class="col-sm-1">
        <input id="check-callback-required" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsCallbackRequired" />
        <span class="lbl"></span>
    </label>
</div>-->

<!--<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Signature Verification</label>

    <label class="col-sm-1">
        <input id="check-signature-verification" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsSignatureVerified" />
        <span class="lbl"></span>
    </label>
</div>-->

<!--<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="check-dormant-account">Dormant Account</label>

    &lt;!&ndash;<label class="col-sm-1">
        <input id="check-dormant-account" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsDormantAccount" />
        <span class="lbl"></span>
    </label>&ndash;&gt;
</div>-->

<!--<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="check-freeze-account">Freeze Account</label>

    &lt;!&ndash;<label class="col-sm-1">
        <input id="check-freeze-account" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsFreezeAccount" />
        <span class="lbl"></span>
    </label>&ndash;&gt;
</div>-->

<!--<div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: Transaction.Channel.Name == 'Fax'">
    <label class="col-sm-3 control-label bolder no-padding-right" for="check-loi-available">Letter of Indemnity Available</label>

    &lt;!&ndash;<label class="col-sm-1">
        <input id="check-loi-available" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsLOIAvailable" />
        <span class="lbl"></span>
    </label>&ndash;&gt;
</div>-->

<!--<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="check-statement-Letter-copy">Statement Letter Copy</label>

    &lt;!&ndash;<label class="col-sm-1">
        <input id="check-statement-Letter-copy" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsStatementLetterCopy" />
        <span class="lbl"></span>
    </label>&ndash;&gt;
</div>-->

<!--<div class="form-group form-line no-margin-bottom no-padding-bottom">
    <label class="col-sm-3 control-label bolder no-padding-right" for="others">Others</label>

    <label class="col-sm-8">
        <span name="others" id="others" data-bind="text: Transaction.Others"></span>
    </label>

    <div class="col-sm-8">
        <div class="clearfix">
            <div class="space-4"></div>
            <textarea class="col-sm-12" name="others" id="others" rows="6" data-bind="value: Checker.Others" ></textarea>
        </div>
        <div class="space-4"></div>
    </div>

    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Others')">
        <input name="check-others" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
        <span class="lbl"></span>
    </label>
</div>-->

<!--<div class="form-group">
    <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-completeness">Document Completeness</label>
    <label class="col-sm-1">
        <input id="check-document-completeness" class="ace ace-switch ace-switch-6" type="checkbox" rule-required="true" />
        <span class="lbl"></span>
    </label>

</div>-->

<div class="form-group">

    <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-completeness">Document Completeness</label>


    <label class="col-sm-1">
        <input id="check-document-completeness" class="ace ace-switch ace-switch-6" type="checkbox" rule-required="true" />
        <span class="lbl"></span>
    </label>
</div>

</div>

<div class="space-16"></div>

<!-- <div data-bind="if: Transaction.Currency.Code != 'IDR' && Transaction.Account.Currency.Code == 'IDR'">
 <span data-bind="text:Transaction.Currency.Code"></span> -->
    <div data-bind="if: (($root.t_IsFxTransaction() ||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue())) && $root.ProductID() == ConsProductID.OTTProductIDCons)">

        <h3 class="header smaller lighter dark">Un-utilize Underlying Documents</h3>

        <div class="table-responsive">
            <div class="dataTables_wrapper" role="grid" data-bind="with: Transaction.Customer">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Statement Letter</th>
                            <th>Underlying</th>
                            <th>Type of Docs</th>
                            <th>Currency</th>
                            <th>Amount</th>
                            <th>Available Amount in USD</th>
                            <th>Date</th>
                            <th>Supllier Name</th>
                            <th>Ref. Number</th>
                            <th style="width:50px">Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Underlyings">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><span data-bind="text: StatementLetter.Name"></span></td>
                            <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                            <td><span data-bind="text: DocumentType.Name"></span></td>
                            <td><span data-bind="text: Currency.Code"></span></td>
                            <td align="right"><span data-bind="text: $root.FormatNumber(Amount)"></span></td>
                            <td align="right"><span data-bind="text: $root.FormatNumber(AvailableAmount)"></span></td>
                            <td><span data-bind="text: $root.LocalDate(ExpiredDate, true, false)"></span></td>
                            <!--<td><span data-bind="text: moment(ExpiredDate).format('YYYY/MM/DD')"></span></td>-->
                            <td><span data-bind="text: SupplierName"></span></td>
                            <td><span data-bind="text: ReferenceNumber"></span></td>
                            <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: $root.GetUnderlyingSelectedRow">View</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="space-10"></div>

        <div id="transaction-form1" class="form-horizontal" role="form">

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-code">Underlying Code</label>
                <div data-bind="ifnot:Transaction.UnderlyingDoc==null">
                    <label class="col-sm-8">
                        <span id="underlying-code2" name="underlying-code" data-bind="text: Transaction.UnderlyingDoc.Code"></span>
                        (<span id="underlying-code3" name="underlying-code" data-bind="text: Transaction.UnderlyingDoc.Name"></span>)
                    </label>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Utilization Amount</label>

                <label class="col-sm-8">
                    <span id="utilization-amount" name="utilization-amount" data-bind="text:  $root.FormatNumber(Transaction.AmountUSD)"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="tz-number">TZ Number</label>

                <label class="col-sm-8">
                    <span id="tz-number" name="tz-number" data-bind="text:  Transaction.TZNumber"></span>
                </label>
            </div>

        </div>

    </div>

<div class="space-16"></div>

<div class="padding-4">
    <h3 class="header smaller lighter dark">Attachment</h3>

    <div class="dataTables_wrapper" role="grid">
        <table class="table table-striped table-bordered table-hover dataTable">
            <thead>
            <tr>
                <th>No.</th>
                <th>File Name</th>
                <th>Purpose of Docs</th>
                <th>Type of Docs</th>
                <th>Modified</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
            <tr>
                <td><span data-bind="text: $index() +1"></span></td>
                <td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>
                <td><span data-bind="text: Purpose.Name"></span></td>
                <td><span data-bind="text: Type.Name"></span></td>
                <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
            </tr>
            </tbody>
            <tbody data-bind="visible: Transaction.Documents.length == 0">
            <tr>
                <td colspan="13" class="text-center">
                    No entries available.
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
