﻿<div class="row" data-bind="ifnot: $data == null">
    <!--<div class="row">-->
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">

            <div class="form-group">
                <label class="col-sm-3 no-padding-right" style="margin-left:7%">
                    <b><span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span></b><br />
                    <b>Branch Name</b> : <span data-bind="text: Transaction.Customer.Branch.Name"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="space-4"></div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsCheckerCIF()==true">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-all"></label>

                <label class="col-sm-8 control-label bolder no-padding-right" for="product-code">Check All</label>

                <label id="Checkall" class="col-sm-1">
                    <input name="check-all" id="check-all" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.CheckAll(), click: function(data) { $root.CheckAllData('TransactionCBOMaker'); }" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Customer Name</label>
                <label class="col-sm-8">
                    <input type="text" id="CustomerNameCIF" class="col-sm-6" data-bind="value: Transaction.Customer.Name, enable: !$root.VerifyColumn('Customer Name')().IsVerified" />
                </label>

                <label id="CheckCust" class="col-sm-1" data-bind="with: $root.VerifyColumn('Customer Name'), visible: $root.IsCheckerCIF()==true">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">CIF</label>

                <label class="col-sm-8">
                    <input type="text" id="CIF-Id" class="col-sm-4" data-bind="value: Transaction.Customer.CIF, enable: !$root.VerifyColumn('CIF')().IsVerified" />
                    <!--<span data-bind="text: Transaction.Customer.CIF"></span>-->
                </label>

                <label id="CheckCIF" class="col-sm-1" data-bind="with: $root.VerifyColumn('CIF'), visible: $root.IsCheckerCIF()==true">
                    <input name="check-cif" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">

                <label class="col-sm-3 control-label bolder no-padding-right">Product</label>

                <label class="col-sm-8">
                    <select class="col-sm-4" id="Product" name="Product" class="col-sm-11"
                            data-bind="options: $root.Products,
                                    optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().Product,
                                    optionsCaption: 'Please Select...',disable:true"></select>
                </label>

                <label id="CheckProduct" class="col-sm-1" data-bind="with: $root.VerifyColumn('Product'), visible: $root.IsCheckerCIF()==true">
                    <input name="check-product" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>


            <div class="form-group form-line no-margin-bottom no-padding-bottom">

                <label class="col-sm-3 control-label bolder no-padding-right">Request Type</label>

                <label class="col-sm-8">
                    <select class="col-sm-4" id="RequestType" name="RequestType" class="col-sm-11"
                            data-bind="options: $root.ddlRequestTypes,
                                    optionsText: function(item) { if(item.TransTypeID != null) return item.TransactionTypeName},
                                    optionsValue: 'TransTypeID',
                                    value: $root.Selected().TransactionType,
                                    optionsCaption: 'Please Select...',
                                    enable: !$root.VerifyColumn('Request Type')().IsVerified,disable:true"></select>
                </label>

                <label id="CheckReqType" class="col-sm-1" data-bind="with: $root.VerifyColumn('Request Type'), visible: $root.IsCheckerCIF()==true">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!--Start Enable Visible MaintenanceType-->
            <div data-bind="visible: $root.IsMaintenanceTypeEnable()">
                <div id="lblmaintenanceid" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">Maintenance Type</label>
                    <label class="col-sm-8">
                        <select class="col-sm-4" id="MaintenanceType" name="MaintenanceType" class="col-sm-11"
                                data-bind="options: $root.ddlMaintenanceTypes,
                                    optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().MaintenanceType,
                                    optionsCaption: 'Please Select...',
                                    enable: !$root.VerifyColumn('Maintenance Type')().IsVerified,disable:true"></select>
                    </label>

                    <label id="CheckMaintenanceType" class="col-sm-1" data-bind="with: $root.VerifyColumn('Maintenance Type'), visible: $root.IsCheckerCIF()==true">
                        <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>
            <!--End Enable Visible MaintenanceType-->
            <!--Start Enable Visible ATM Closure-->
            <div data-bind="visible: $root.IsCIFATMClosure() == true">
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">ATM Number</label>
                    <label class="col-sm-8">
                        <input type="text" class="col-sm-4" data-bind="value: Transaction.RetailCIFCBO.AtmNumber,enable: !$root.VerifyColumn('ATM Number')().IsVerified" />
                    </label>

                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('ATM Number'), visible: $root.IsCheckerCIF()==true">
                        <input name="check-atm-number" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>
            <!--End Enable Visible ATM Closure-->
            <!--Start Enable Visible Dispatch Mode-->
            <div data-bind="visible: $root.IsCIFDispatchMode()==true">
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">Dispatch Mode Type</label>
                    <label class="col-sm-8">
                        <select class="col-sm-4" id="DispatchModeType" name="DispatchModeType" class="col-sm-11"
                                data-bind="options: $root.ddlDispatchModeTypes,
                                    optionsText: function(item) { if(item.ID != null) return item.ID + ' - (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().DispatchModeType,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function() { $root.PopulateSelected('TransactionCIFCustomerCenter','DispatchModeType'); } },
                                    enable: !$root.VerifyColumn('Dispatch Mode')().IsVerified"></select>
                    </label>

                    <label id="CheckDispatchModeType" class="col-sm-1" data-bind="with: $root.VerifyColumn('Dispatch Mode'), visible: $root.IsCheckerCIF()==true">
                        <input name="check-dispatch" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>
            <!--End Enable Visible Dispatch Mode-->
            <div class="padding-4">
                <h3 class="header smaller lighter dark">
                    Attachment
                </h3>

                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>File Name</th>
                                <th>Document Type</th>
                                <th>Modified</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <!--<td><span data-bind="text: DocumentPath.name"></span></td>-->
                                <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: Transaction.Documents.length == 0">
                            <tr>
                                <td colspan="6" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>