<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>

                <label class="col-sm-2 control-label bolder no-padding-right" for="normal">Normal</label>

                <label class="col-sm-3">
                    <i class="bigger-170" data-bind="css: Transaction.IsNormal ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <label class="col-sm-9">
                    <span id="customer-name" data-bind="text: Transaction.Customer.Name"></span>
                    <span class="label label-warning arrowed" data-bind="if: Transaction.IsNewCustomer">
                        <i class="icon-warning-sign bigger-120"></i>
                        New Customer
                    </span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <label class="col-sm-9">
                    <span id="cif" data-bind="text: Transaction.Customer.CIF"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>

                <label class="col-sm-9">
                    <span id="product-code" data-bind="text: Transaction.Product.Code"></span>
                    (<span id="product-name" data-bind="text: Transaction.Product.Name"></span>)
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency-code">Currency</label>

                <label class="col-sm-9">
                    <span id="currency-code" data-bind="text: Transaction.Currency.Code"></span>
                    (<span id="currency-desc" data-bind="text: Transaction.Currency.Description"></span>)
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trxn-amount">Trxn Amount</label>

                <label class="col-sm-9">
                    <span name="trxn-amount" id="trxn-amount" data-bind="text: formatNumber(Transaction.Amount)"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="rate">IDR Mid Rate (BI Mid-Rate)</label>

                <label class="col-sm-9">
                    <span id="rate" data-bind="text: formatNumber_r(Transaction.Rate)"></span>
                </label>
            </div>

            <!--Permintaan User
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trxrate">Transaction Rate</label>

                <label class="col-sm-9">
                    <span id="trxrate" data-bind="text: formatNumber_r(Transaction.TrxRate)"></span>
                </label>
            </div>
            -->
            
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="eqv-usd">Eqv. USD</label>

                <label class="col-sm-9">
                    <span id="eqv-usd" data-bind="text: formatNumber_r(Transaction.AmountUSD)"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="eqv-usd">TZ Number</label>

                <label class="col-sm-9">
                    <span id="tznumber" data-bind="text: Transaction.TZNumber"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <label class="col-sm-9">
                    <span id="channel" data-bind="text: Transaction.Channel.Name"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-number">Debit Acc Number</label>
                <label class="col-sm-9">
                    <label data-bind=" visible: viewModel.TransactionChecker().Transaction.IsJointAccount == true">
                        <span data-bind="if: Transaction.IsJointAccount">
                            <span id="book-join-join" data-bind="text: viewModel.CIFJointAccounts()[1].Name"></span>
                        </span>
                    </label>
                    <label data-bind="visible: viewModel.TransactionChecker().Transaction.IsJointAccount == false">
                        <span data-bind="if: !Transaction.IsJointAccount">
                            <span id="book-join-single" data-bind="text: viewModel.CIFJointAccounts()[0].Name"></span>
                        </span>
                    </label>
                    <label data-bind="ifnot:Transaction.Account==null">
                        <span id="debit-acc-number" data-bind="text: ' - ' + Transaction.Account.AccountNumber"></span>
                    </label>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-ccy-code">Debit Acc CCY</label>

                <label class="col-sm-9" data-bind="with: Transaction">
                    <span id="debit-acc-ccy-code" data-bind="text: DebitCurrency.Code"></span>
                    (<span id="debit-acc-ccy-desc" data-bind="text: DebitCurrency.Description"></span>)
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="Debit Sundry">Debit Sundry</label>

                <label class="col-sm-9" data-bind="if: Transaction.Sundry != null">
                    <span id="Debit Sundry" data-bind="text: Transaction.Sundry.OABAccNo"></span>
                </label>
            </div>
            
            <!--Permintaan User
            <div data-bind="visible: Transaction.Product.Name == 'OTT'">
                <div class="form-group form-line no-margin-bottom no-margin-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="Nostro">Nostro</label>

                    <label class="col-sm-9" data-bind="if: Transaction.Nostro != null">
                        <span id="DebitNostro" data-bind="text: Transaction.Nostro.NostroUsed"></span>
                    </label>
                </div>
            </div>
            -->
            
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="application-date">Application Date</label>
                <label class="col-sm-3">
                    <span id="application-date" data-bind="text: $root.LocalDate(Transaction.ApplicationDate, true)"></span>
                </label>

                <label class="col-sm-3 control-label bolder no-padding-right" data-bind="if: Transaction.Product.Name == 'OTT' || Transaction.Product.Code == 'OV'">Credit Value Date</label>
                <label class="col-sm-3" data-bind="visible: Transaction.Product.Name == 'OTT' || Transaction.Product.Code == 'OV'">
                    <span data-bind="text: $root.LocalDate(Transaction.ExecutionDate, true)" id="application-execution"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="biz-segment-code">Biz Segment</label>

                <label class="col-sm-9">
                    <span id="biz-segment-code" data-bind="text: Transaction.BizSegment.Description"></span>
                    (<span id="biz-segment-desc" data-bind="text: Transaction.BizSegment.Name"></span>)
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" >
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-type-name">Product Type</label>

                <label class="col-sm-9" data-bind="ifnot:Transaction.ProductType==null">
                    <span id="product-type-name" data-bind="text: Transaction.ProductType.Code"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-name">Bene Name</label>

                <label class="col-sm-9">
                    <span id="bene-name" data-bind="text: Transaction.BeneName"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-bank">Bene Bank</label>

                <label class="col-sm-9">
                    <span id="bene-bank" data-bind="text: Transaction.Bank.Description"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-code">Swift Code/Bank Code</label>

                <label class="col-sm-2">
                    <span id="bank-code" data-bind="text: Transaction.Bank.SwiftCode"></span>
                </label>

                <label class="col-sm-1 control-label bolder no-padding-right" for="bank-branch-code">Branch Code</label>

                <label class="col-sm-2" data-bind="if: Transaction.Branch != null">
                    <span id="bank-branch-code" data-bind="text: Transaction.Branch.Code"></span>
                    <span id="bank-branch-name" data-bind="text: ' - '+  Transaction.Branch.Name"></span>
                </label>

                <label class="col-sm-1 control-label bolder no-padding-right" for="bank-city-code">City Code</label>

                <label class="col-sm-3" data-bind="if: Transaction.City != null">
                    <span id=" bank-city-code" data-bind="text: Transaction.City.CityCode">
                    </span>
                    <span id="bank-city-description" data-bind="text: ' - '+ Transaction.City.Description"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-acc-number">Bene Acc Number</label>

                <label class="col-sm-9">
                    <span id="bene-acc-number" data-bind="text: formatAccount(Transaction.BeneAccNumber)"></span>
                </label>
            </div>

            <div data-bind="if: Transaction.BankCharges != null, visible: Transaction.Product.Code == 'OT' || Transaction.Product.Code == 'RT' || Transaction.Product.Code == 'SK', attr: { class: 'form-group form-line no-margin-bottom no-padding-bottom' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-charges">Bank Charges</label>

                <label class="col-sm-9">
                    <span id="bank-charges" data-bind="text: Transaction.BankCharges.Code"></span>
                </label>
            </div>

            <div class='form-group form-line no-margin-bottom no-padding-bottom' data-bind="visible: Transaction.Product.Name == 'OTT'">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="agent-charges">
                    Agent Charges
                </label>

                <label class="col-sm-9" data-bind="if: Transaction.AgentCharges != null">
                    <span id="agent-charges" data-bind="text: Transaction.AgentCharges.Code"></span>
                </label>
            </div>

            <div data-bind="if: Transaction.Product.Name == 'SKN', attr: { class: 'form-group form-line no-margin-bottom no-padding-bottom' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="type">Type</label>

                <label class="col-sm-9">
                    <span id="type" data-bind="text: Transaction.Type"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="type">Citizen</label>

                <label class="col-sm-9">
                    <i class="bigger-170" data-bind="css: Transaction.IsCitizen ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="type">Resident</label>

                <label class="col-sm-9">
                    <i class="bigger-170" data-bind="css: Transaction.IsResident ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: Transaction.Product.Code == 'SK' || Transaction.Product.Code == 'OT' || Transaction.Product.Code== 'OV' || Transaction.Product.Code== 'RT'">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="type">
                    Beneficiary Resident
                </label>
                <label class="col-sm-9">
                    <label data-bind=" visible: viewModel.TransactionChecker().Transaction.IsBeneficiaryResident == true">
                        <span id="IsbeneTrue">Resident</span>
                    </label>
                    <label data-bind="visible: viewModel.TransactionChecker().Transaction.IsBeneficiaryResident == false">
                        <span id="IsbeneFalse">Non Resident</span>
                    </label>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="type">
                    Beneficiary Country Code
                </label>
                <label class="col-sm-9" data-bind="if: Transaction.BeneficiaryCountry != null && Transaction.BeneficiaryCountry.ID != 0">
                    <span id="beneficiary-country-code" data-bind="text: Transaction.BeneficiaryCountry.Code"></span>
                    <span id="beneficiary-country-desc" data-bind="text: ' - ' +  Transaction.BeneficiaryCountry.Description"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ChAccName">Charging Account Name</label>
                <label class="col-sm-9">
                    <span id="ChAccName" data-bind="text: Transaction.ChargingAccountName"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ChAccBank">Charging Account Bank</label>
                <label class="col-sm-9">
                    <span id="ChAccBank" data-bind="text: Transaction.ChargingAccountBank"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ChAccount">Charging Account</label>
                <label class="col-sm-2">
                    <span id="ChAccount" data-bind="text: Transaction.ChargingACCNumber "></span>
                </label>
                <label class="col-sm-1 control-label bolder no-padding-right">CCY</label>
                <label data-bind="if: $root.ChargingAccCurrency() != null" class="col-sm-3">
                    <span id="ChAccountCCY" data-bind="text: $root.ChargingAccCurrency().Code"></span>
                </label>
                <label class="col-sm-1 control-label bolder no-padding-right"></label>
            </div>

            <div data-bind="attr: { class: 'form-group form-line no-margin-bottom no-padding-bottom' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="agent-charges">Beneficiary Business Type</label>
                <label class="col-sm-9" data-bind="if:Transaction.BeneficiaryBusines !=null">
                    <span id="agent-charges" data-bind="text: Transaction.BeneficiaryBusines.Code+' ('+ Transaction.BeneficiaryBusines.Name+')'"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="beneficiary-addr">Beneficiary Address</label>
                <label class="col-sm-9">
                    <span id="beneficiary-addr" data-bind="text: Transaction.BeneficiaryAddress"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="type">
                    Transaction Relationship
                </label>
                <label class="col-sm-9" data-bind="if: Transaction.TransactionRelationship != null">
                    <span id="trrelation" data-bind="text: Transaction.TransactionRelationship.Code"></span>
                    <span id="trrelation-desc" data-bind="text: ' - '+  Transaction.TransactionRelationship.Description"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="lld-code">LLD Code</label>
                <label class="col-sm-9" data-bind="if: Transaction.LLD != null">
                    <span id="trrelation" data-bind="text: Transaction.LLD.Code"></span>
                    <span id="trrelation-desc" data-bind="text: '('+  Transaction.LLD.Description + ')'"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsLimit">
                <label class="col-sm-3 control-label bolder no-padding-right" for="llddoc">LLD Document</label>
                <label class="col-sm-9" data-bind="if: Transaction.LLDDocument != null">
                    <span id="txtCodelld" data-bind="text: Transaction.LLDDocument.LLDDocumentCode"></span>
                    <span id="txtDescriptionlld" data-bind="text:'(' + Transaction.LLDDocument.Description + ')'"></span>
                    <span></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsLimit">
                <label class="col-sm-3 control-label bolder no-padding-right" for="lldunderlyingamount">LLD Underlying Amount</label>
                <label class="col-sm-9">
                    <span id="txtlldunderlyingamount" data-bind="text: formatNumber_l(Transaction.LLDUnderlyingAmount)"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-code">Underlying Code</label>

                <label data-bind="if: Transaction.UnderlyingDoc != null" class="col-sm-9">
                    <span id="underlying-code" data-bind="text: Transaction.UnderlyingDoc.Code"></span>
                    (<span id="underlying-name" data-bind="text: Transaction.UnderlyingDoc.Name"></span>)
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: Transaction.OtherUnderlyingDoc != null">
                <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-code">Other Underlying Doc</label>
                <label data-bind="if: Transaction.OtherUnderlyingDoc != null" class="col-sm-9">
                    <span id="othersunderlyingdoc" data-bind="text: Transaction.OtherUnderlyingDoc"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ComCode">Compliance Code</label>
                    
                <label data-bind="if: Transaction.Compliance != null" class="col-sm-9">
                    <span id="ComCode-name" data-bind="text: Transaction.Compliance.Name"></span>
                    <span id="ComCode-description" data-bind="text: ' - ' + Transaction.Compliance.Description"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Payment Details</label>

                <label class="col-sm-9">
                    <span id="purpose-detail" data-bind="text: Transaction.PaymentDetails"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: Transaction.Product.Name == 'SKN' || Transaction.Product.Name == 'RTGS' || Transaction.Product.Name == 'OTT'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Waive Charges Options</label>
                <label class="col-sm-2 control-label bolder no-padding-right" for="purpose-detail">CBG Customer</label>
                <label class="col-sm-2" data-bind="if: Transaction.CBGCustomer !=null">
                    <span id="purpose-detail" data-bind="text: Transaction.CBGCustomer.Code"></span>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right" for="purpose-detail">Transaction Using Debit Sundry</label>
                <label class="col-sm-2" data-bind="if: Transaction.TransactionUsingDebitSundry != null">
                    <span id=" purpose-detail" data-bind="text: Transaction.TransactionUsingDebitSundry.Code">
                    </span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-callback-required">Callback is Required</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsCallbackRequired ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Signature Verification</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsSignatureVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-dormant-account">Dormant Account</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsDormantAccount ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-freeze-account">Freeze Account</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsFreezeAccount ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: Transaction.Channel.Name == 'Fax'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-loi-available">Letter of Indemnity Available</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsLOIAvailable ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-statement-Letter-copy">Statement Letter Copy</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsStatementLetterCopy ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="others">Others Exceptional Handling</label>
                <div class="col-sm-8">
                    <div class="clearfix">
                        <div class="space-4"></div>
                        <textarea class="col-sm-12" name="others" id="others" rows="6" disabled="disabled" data-bind="value: Transaction.Others"></textarea>
                    </div>
                    <div class="space-4"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-completeness">Document Completeness</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsDocumentComplete ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>
        </div>

        <div class="space-16"></div>

        <div>
            <h3 class="header smaller lighter dark">Callback Time</h3>

            <div class="table-responsive">
                <div class="table-responsive" role="grid">
                    <table id="customerContacted-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">Contacted Name</th>
                                <th class="center">Call Back Time</th>
                                <th class="center">Is UTC</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: CallbackTime">
                            <tr>
                                <td><span data-bind="text: Contact.Name"></span></td>
                                <td><span data-bind="text: $root.TimeFormat(Time)"></span></td>
                                <td class="center">
                                    <label>
                                        <input type="checkbox" class="ace ace-switch ace-switch-6" data-bind="checked: IsUTC" disabled="disabled" />
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="space-16"></div>

        <div data-bind="if: (Transaction.Customer.Underlyings != null && ($root.ProductID() == ConsProductID.OTTProductIDCons|| Transaction.Product.Code == 'OV'))">

            <h3 class="header smaller lighter dark">Un-utilize Underlying Documents</h3>

            <div class="table-responsive">
                <div class="dataTables_wrapper" role="grid" data-bind="with: Transaction.Customer">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Statement Letter</th>
                                <th>Underlying</th>
                                <th>Type of Docs</th>
                                <th>Currency</th>
                                <th>Amount</th>
                                <th>Available Amount in USD</th>
                                <th>Date</th>
                                <th>Supllier Name</th>
                                <th>Ref. Number</th>
                                <th style="width:50px">Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Underlyings">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><span data-bind="text: StatementLetter.Name"></span></td>
                                <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                <td><span data-bind="text: DocumentType.Name"></span></td>
                                <td><span data-bind="text: Currency.Code"></span></td>
                                <td align="right"><span data-bind="text: formatNumber_r(Amount)"></span></td>
                                <td align="right"><span data-bind="text: formatNumber_r(AvailableAmount)"></span></td>
                                <td><span data-bind="text: $root.LocalDate(ExpiredDate, true, false)"></span></td>
                                <td><span data-bind="text: SupplierName"></span></td>
                                <td><span data-bind="text: ReferenceNumber"></span></td>
                                <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: $root.GetUnderlyingSelectedEditRow">View</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="space-10"></div>

            <div id="transaction-form1" class="form-horizontal" role="form">
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="total-utilization">Total Utilization</label>
                    <label class="col-sm-8">
                        <span id="total-utilization" data-bind="text:formatNumber_r($root.AmountModel().TotalPPUUtilization())"></span>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="total-utilization">Total IDR->FCY Transaction in USD</label>
                    <label class="col-sm-8">
                        <span id="total-idr-fcy" data-bind="text:formatNumber_r($root.AmountModel().TotalPPUAmountsUSD())"></span>
                    </label>
                </div>
            </div>

        </div>

        <div class="space-16"></div>

        <div class="padding-4">
            <h3 class="header smaller lighter dark">Attachment</h3>

            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: Transaction.Documents.length == 0">
                        <tr>
                            <td colspan="13" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
