﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>
            <div class="space-4"></div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" >Urgency</label>
                <div class="col-sm-9">
                    <label class="col-sm-2 control-label bolder no-padding-right">Top Urgent</label>
                    <label class="col-sm-1">
                        <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                    </label>
                    <label class="col-sm-2 control-label bolder no-padding-right">Urgent</label>
                    <label class="col-sm-1">
                        <i class="bigger-170" data-bind="css: Transaction.IsUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                    </label>
                    <label class="col-sm-2 control-label bolder no-padding-right">Normal</label>
                    <label class="col-sm-1">
                        <i class="bigger-170" data-bind="css: Transaction.IsNormal ? 'icon-check green' : 'icon-check-empty'"></i>
                    </label>
                </div>
            </div>
            
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>

                <label class="col-sm-8">
                    <span id="product-code" data-bind="text: Transaction.Product.Code"></span>
                    (<span id="product-name" data-bind="text: Transaction.Product.Name"></span>)
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="mi-name">Client</label>

                <label class="col-sm-8">
                    <span id="client_" data-bind="text: Transaction.Client, visible: $root.IsCheckerDF() == true"></span>
                    <input type="text" autocomplete="off" class="col-sm-11" name="client" id="client" data-rule-required="true" data-bind="value: Transaction.Client, visible:$root.IsCheckerDF() != true" />                    
                </label>                
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="transaction-type">Type of Transaction</label>

                <label class="col-sm-8">
                    <span id="transaction-type-df" data-bind="text: Transaction.TransactionType.ParameterTypeDisplay, visible:$root.IsCheckerDF() == true"></span>
                    <select id="typeOfTransaction" name="typeOfTransaction" data-rule-required="true" data-rule-value="true"
                            data-bind="options: $root.ParameterDF().TransactionTypes,
                                                optionsText: 'Name',
                                                optionsValue: 'ID',
                                                optionsCaption: 'Please Select...',
                                                value: $root.SelectedDF().TransactionType,
                                       visible:$root.IsCheckerDF() != true, event: { change: $root.OnChangeTransactionTypeDF }"></select>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.OthersForDF() == true">
                <label class="col-sm-3 control-label bolder no-padding-right" for="others">Others</label>

                <label class="col-sm-8">
                    <span id="others" data-bind="text: Transaction.Others, visible:$root.IsCheckerDF() == true"></span>
                    <textarea class="col-sm-11" name="others" id="others" data-rule-required="true" data-bind="value: Transaction.Others, visible: $root.IsCheckerDF() != true" ></textarea>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ref-number">Ref Number</label>

                <label class="col-sm-8">
                    <span id="ref-number" data-bind="text: Transaction.RefNumber, visible:$root.IsCheckerDF() == true"></span>
                    <input type="text" class="col-sm-11" name="refnumber" id="refnumber" data-rule-required="true" data-bind="value: Transaction.RefNumber, visible: $root.IsCheckerDF() != true" />
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="recipient">Recipient</label>

                <label class="col-sm-8">
                    <span id="recipient_" data-bind="text: Transaction.DFRecipient.DFRecipientName, visible:$root.IsCheckerDF() == true"></span>
                    <select id="recipient" name="recipient" data-rule-required="true" data-rule-value="true"
                            data-bind="options: $root.ParameterDF().Recipients,
                                               optionsText: 'DFRecipientName',
                                               optionsValue: 'DFRecipientID',
                                               optionsCaption: 'Please Select...',
                                               value: $root.SelectedDF().Recipient,
                                        visible:$root.IsCheckerDF() != true"></select>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="sheets">Sheets</label>

                <label class="col-sm-8">
                    <span id="sheets" data-bind="text: Transaction.Sheets, visible:$root.IsCheckerDF() == true"></span>
                    <input type="text" class="col-sm-2 align-right" data-rule-number="true" name="sheets" id="sheets" data-bind="value: Transaction.Sheets, visible:$root.IsCheckerDF() != true" />
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="remarks">Remarks</label>

                <label class="col-sm-8">
                    <span id="remarks" data-bind="text: Transaction.Remarks, visible:$root.IsCheckerDF() == true"></span>
                    <textarea class="col-sm-11" name="remarks" id="remarks" rows="6" data-bind="value: Transaction.Remarks, visible:$root.IsCheckerDF() != true"></textarea>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Signature Verification</label>
                <label class="col-sm-1">
                    <input id="signature-verification" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Transaction.IsSignatureVerification, enable: $root.IsCheckerDF() != true" />
                    <span class="lbl"></span>
                </label>
            </div>

        </div>

        <div class="space-16"></div>

        <div class="padding-4">
            <h3 class="header smaller lighter dark">Attachment
                <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocumentDF, visible: $root.IsCheckerDF() == false">
                    <i class="icon-plus"></i>
                    Attach
                </button></h3>

            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Document Type</th>
                            <th>Modified</th>
                            <th data-bind="visible:$root.IsCheckerDF() == false">Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0 && $root.IsCheckerDF() == true">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <!--<td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>-->
                            <td><a data-bind="attr: { href: DocumentPath.DocPath, target: '_blank' }, text: DocumentPath.name"></a></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="foreach: $root.MakerDFDocuments, visible: $root.MakerDFDocuments != null && $root.IsCheckerDF() == false">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td>
                                <div data-bind="if:IsNewDocument">
                                    <span data-bind="text: FileName"></span>
                                </div>
                                <div data-bind="ifnot:IsNewDocument">
                                    <a data-bind="attr: { href: DocumentPath.DocPath, target: '_blank' }, text: DocumentPath.name"></a>
                                </div>
                            </td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            <td><a href="#" data-bind="click: $root.RemoveDocumentDF">Remove</a></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: Transaction.Documents.length == 0 && $root.IsCheckerDF() == true">
                        <tr>
                            <td colspan="4" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: $root.MakerDFDocuments().length == 0 && $root.IsCheckerDF() == false">
                        <tr>
                            <td colspan="5" align="center">No entries available.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
