﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form2" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group no-padding-bottom">
                <label class="col-sm-6 align-center">PPU Maker</label>

                <label class="col-sm-6 align-center">PPU/Branch Caller</label>
            </div>

            <div class="space-4"></div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Customer Name</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Customer.Name"></span>
                </label>

                <label class="col-sm-4">
                    <!--<span data-bind="text: Callback.Customer.Name" ></span>-->
                </label>

                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Customer Name')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">CIF</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Customer.CIF"></span>
                </label>

                <label class="col-sm-4">
                    <!--<span data-bind="text: Callback.Customer.CIF" ></span>-->
                </label>

                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('CIF')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Product</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Product.Code"></span>
                    (<span data-bind="text: Transaction.Product.Name"></span>)
                </label>

                <label class="col-sm-4">
                    <!--<span data-bind="text: Callback.Product.Code" ></span>
                    (<span data-bind="text: Callback.Product.Name" ></span>)-->
                </label>

                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Product')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Channel</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Channel.Name"></span>
                </label>

                <!--<label class="col-sm-4" data-bind="visible: Transaction.Channel.Name == Callback.Channel.Name ? false : true">
                    <span data-bind="text: Callback.Channel.Name"></span>
                </label>-->
                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Channel'), visible: Transaction.Channel.Name == Callback.Channel.Name ? false : true">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.IsChecked($parent.Transaction.Channel.Name, $parent.Callback.Channel.Name, IsVerified, 'Channel'), click: $root.IsVerifiedChecked" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Remarks</label>
                <label class="col-sm-4">
                    <span data-bind="text:Transaction.Remarks"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Signature Verification</label>

                <!--<label class="col-sm-4">
                   <i class="bigger-170" data-bind="css: Callback.IsSignatureVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>-->
                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: Callback.IsSignatureVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Dormant Account</label>
                <!--<label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: Callback.IsDormantAccount ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>-->
                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: Callback.IsDormantAccount ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Freeze Account</label>

                <!--<label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: Callback.IsFreezeAccount ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>-->
                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: Callback.IsFreezeAccount ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: Transaction.Channel.Name == 'Fax'">
                <label class="col-sm-3 control-label bolder no-padding-right">Letter of Indemnity Available</label>

                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: Checker.IsLOIAvailable ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-completeness">Document Completeness</label>

                <!--<label class="col-sm-4" data-bind="with: $root.VerifyColumn('Document Completeness')">
                    <i class="bigger-170" data-bind="css: IsVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>-->
                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: Transaction.IsDocumentComplete ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>

            </div>
        </div>

        <div class="space-16"></div>

        <div class="space-16"></div>

        <div class="padding-4">
            <h3 class="header smaller lighter dark">Attachment</h3>

            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Document Type</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: Transaction.Documents.length == 0">
                        <tr>
                            <td colspan="13" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
    <!--[if gte mso 9]><xml>
    <mso:CustomDocumentProperties>
    <mso:PublishingIsFurlPage msdt:dt="string">0</mso:PublishingIsFurlPage>
    <mso:PublishingContactPicture msdt:dt="string"></mso:PublishingContactPicture>
    <mso:PublishingRollupImage msdt:dt="string"></mso:PublishingRollupImage>
    <mso:Audience msdt:dt="string"></mso:Audience>
    <mso:PublishingContactName msdt:dt="string"></mso:PublishingContactName>
    <mso:Comments msdt:dt="string"></mso:Comments>
    <mso:PublishingContactEmail msdt:dt="string"></mso:PublishingContactEmail>
    </mso:CustomDocumentProperties>
    </xml><![endif]-->
    <title></title>
</head>
