﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">

        <h3 class="header smaller no-margin-top lighter dark">Customer Information</h3>

        <div id="customer-form" class="form-horizontal" role="form">
            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">CIF</label>

                <label class="col-sm-9">
                    <span data-bind="text: Transaction.Customer.CIF"></span>
                </label>
            </div>

            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Customer Name</label>

                <label class="col-sm-9">
                    <span data-bind="text: Transaction.Customer.Name"></span>
                </label>
            </div>

            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Branch</label>

                <label class="col-sm-9">
                    <div data-bind="ifnot: Transaction.Customer.Branch == null">
                        <span data-bind="text: Transaction.Customer.Branch.Name"></span>
                    </div>
                </label>
            </div>

            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Biz Segment</label>

                <label class="col-sm-9">
                    <span data-bind="text: Transaction.Customer.BizSegment.Name"></span>
                    (<span data-bind="text: Transaction.Customer.BizSegment.Description"></span>)
                </label>
            </div>
        </div>

        <div class="space-4"></div>

        <h3 class="header smaller lighter dark">Customer Contacts</h3>

        <div class="table-responsive">
            <div class="table-responsive" role="grid">
                <table id="customerContact-table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Contact Name</th>
                            <th>Phone No</th>
                            <th>Date of Birth</th>
                            <!--<th>Address</th>-->
                            <th>ID Number</th>
                            <th>POA Function</th>
                            <th>OccupationIn ID</th>
                            <th>Place of Birth</th>
                            <th>Effective Date</th>
                            <th>Cancellation Date</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Contacts, visible: (Contacts != null && (Contacts != null ? Contacts.length > 0 : false))">
                        <tr>
                            <td><span data-bind="text: $index() + 1"></span></td>
                            <td><span data-bind="text: Name"></span></td>
                            <td><span data-bind="text: PhoneNumber"></span></td>
                            <td><span data-bind="text: $root.LocalDate(DateOfBirth,true,false)"></span></td>
                            <!--<td><span data-bind="text: moment(DateOfBirth).format('MM-DD-YYYY')"></span></td>-->
                            <!--<td><span data-bind="text: Address"></span></td>-->
                            <td><span data-bind="text: IDNumber"></span></td>
                            <td><span data-bind="text: POAFunction.Name"></span> (<span data-bind="text: POAFunction.Description"></span>)</td>
                            <td><span data-bind="text: OccupationInID"></span></td>
                            <td><span data-bind="text: PlaceOfBirth"></span></td>
                            <td><span data-bind="text: $root.LocalDate(EffectiveDate,true,false)"></span></td>
                            <td><span data-bind="text: $root.LocalDate(CancellationDate,true,false)"></span></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: (Contacts == null || Contacts.length == 0)">
                        <tr>
                            <td colspan="10" style="text-align: center">No contact(s) available</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>