﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form2" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group no-padding-bottom">
                <label class="col-sm-6 align-center">PPU Maker</label>

                <label class="col-sm-6 align-center">PPU/Branch Caller</label>
            </div>

            <div class="space-4"></div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Customer Name</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Customer.Name"></span>
                </label>

                <label class="col-sm-4">
                    <!--<span data-bind="text: Callback.Customer.Name" ></span>-->
                </label>

                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Customer Name')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">CIF</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Customer.CIF"></span>
                </label>

                <label class="col-sm-4">
                    <!--<span data-bind="text: Callback.Customer.CIF" ></span>-->
                </label>

                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('CIF')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Product</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Product.Code"></span>
                    (<span data-bind="text: Transaction.Product.Name"></span>)
                </label>

                <label class="col-sm-4">
                    <!--<span data-bind="text: Callback.Product.Code" ></span>
                    (<span data-bind="text: Callback.Product.Name" ></span>)-->
                </label>

                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Product')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Currency</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Currency.Code"></span>
                    (<span data-bind="text: Transaction.Currency.Description"></span>)
                </label>

                <!--<label class="col-sm-4" data-bind="visible: Transaction.Currency.Code == Callback.Currency.Code ? false : true">
                    <span data-bind="text: Callback.Currency.Code" ></span>
                    (<span data-bind="text: Callback.Currency.Description" ></span>)
                </label>-->
                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Currency'), visible: Transaction.Currency.Code == Callback.Currency.Code ? false : true">
                    <input name="check-currency" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.IsChecked($parent.Transaction.Currency.Code, $parent.Callback.Currency.Code, IsVerified, 'Currency'), click: $root.IsVerifiedChecked" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Trxn Amount</label>

                <label class="col-sm-4">
                    <span data-bind="text: formatNumber_r(Transaction.Amount)"></span>
                </label>
                <div data-bind="ifnot:Callback==null">
                    <label class="col-sm-4" data-bind="visible: Transaction.Amount == Callback.Amount ? false : true">
                        <span data-bind="text: formatNumber_r(Callback.Amount)"></span>
                    </label>
                </div>
                <div data-bind="ifnot:Callback==null">
                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Trxn Amount'), visible: Transaction.Amount == Callback.Amount ? false : true">
                        <!--Verify()[2]-->
                        <input name="check-trx-amount" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.IsChecked($parent.Transaction.Amount, $parent.Callback.Amount, IsVerified, 'Trxn Amount'), click: $root.IsVerifiedChecked" /><!--checked: Verify().IsVerified == 2-->
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Rate</label>

                <label class="col-sm-4">
                    <span data-bind="text: formatNumber_r(Transaction.Rate)"></span>
                </label>
                <div data-bind="ifnot:Callback==null">
                    <label class="col-sm-4" data-bind="visible: Transaction.Amount == Callback.Amount ? false : true">
                        <span data-bind="text: formatNumber_r(Callback.Rate)"></span>
                    </label>
                </div>
                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Rate'), visible: Transaction.Rate == Callback.Rate ? false : true">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.IsChecked($parent.Transaction.Rate, $parent.Callback.Rate, IsVerified, 'Rate'), click: $root.IsVerifiedChecked" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Eqv. USD</label>

                <label class="col-sm-4">
                    <span data-bind="text: formatNumber_r(Transaction.AmountUSD)"></span>
                </label>
                <div data-bind="ifnot:Callback==null">
                    <label class="col-sm-4" data-bind="visible: Transaction.AmountUSD == Callback.AmountUSD ? false : true">
                        <span data-bind="text: formatNumber_r(Callback.AmountUSD)"></span>
                    </label>
                </div>

                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Eqv Usd'), visible: Transaction.AmountUSD == Callback.AmountUSD ? false : true">
                    <input name="check-equiv-usd" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.IsChecked($parent.Transaction.AmountUSD, $parent.Callback.AmountUSD, IsVerified, 'Eqv Usd'), click: $root.IsVerifiedChecked" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Channel</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Channel.Name"></span>
                </label>

                <!--<label class="col-sm-4" data-bind="visible: Transaction.Channel.Name == Callback.Channel.Name ? false : true">
                    <span data-bind="text: Callback.Channel.Name"></span>
                </label>-->
                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Channel'), visible: Transaction.Channel.Name == Callback.Channel.Name ? false : true">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.IsChecked($parent.Transaction.Channel.Name, $parent.Callback.Channel.Name, IsVerified, 'Channel'), click: $root.IsVerifiedChecked" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Debit Acc Number</label>

                <label class="col-sm-4">
                    <span id="debit-acc-number" data-bind="text: Transaction.Account.AccountNumber"></span>
                    <span data-bind="ifnot:Transaction.Account.CustomerName==null">
                        <span id="debit-acc-customer" data-bind="text: ' - ' + Transaction.Account.CustomerName"></span>
                    </span>
                    <!--<span data-bind="text: Transaction.Account.AccountNumber"></span>-->
                </label>
                <div data-bind="ifnot:Callback==null">
                    <label class="col-sm-4" data-bind="visible: Transaction.Account.AccountNumber == Callback.Account.AccountNumber ? false : true">
                        <span id="debit-acc-number" data-bind="text: Callback.Account.AccountNumber"></span>
                        <span data-bind="ifnot:Callback.Account.CustomerName==null">
                            <span id="debit-acc-customer" data-bind="text: ' - ' + Callback.Account.CustomerName"></span>
                        </span>
                        <!--<span data-bind="text: Callback.Account.AccountNumber"></span>-->
                    </label>

                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Debit Acc Number'), visible: Transaction.Account.AccountNumber == Callback.Account.AccountNumber ? false : true">
                        <input name="check-debit-acc-number" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.IsChecked($parent.Transaction.Account.AccountNumber, $parent.Callback.Account.AccountNumber, IsVerified, 'Debit Acc Number'), click: $root.IsVerifiedChecked" />
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Debit Acc CCY</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.DebitCurrency.Code"></span>
                    (<span data-bind="text: Transaction.DebitCurrency.Description"></span>)
                </label>
                <div data-bind="ifnot:Callback==null">
                    <label class="col-sm-4" data-bind="visible: Transaction.Account.AccountNumber == Callback.Account.AccountNumber ? false : true">
                        <span data-bind="text: Callback.DebitCurrency.Code"></span>
                        (<span data-bind="text: Callback.DebitCurrency.Description"></span>)
                    </label>
                </div>
                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Debit Acc CCY'), visible: Transaction.Account.AccountNumber == Callback.Account.AccountNumber ? false : true">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <!--add by henggar detail sundry ppu maker after caller-->
            <div data-bind="if: Transaction.Product.Name == 'OTT' && Transaction.Currency.Code !='IDR'">
                <div class="form-group form-line no-margin-bottom no-margin-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="Debit Sundry">Debit Sundry</label>

                    <label class="col-sm-8" data-bind="if: Transaction.Sundry != null">
                        <span id="Debit Sundry" data-bind="text: Transaction.Sundry.OABAccNo"></span>
                    </label>
                </div>
            </div>
            <!--end-->

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Application Date</label>

                <label class="col-sm-4">
                    <span data-bind="text: $root.LocalDate(Transaction.ApplicationDate, true)"></span>
                </label>

                <!--<label class="col-sm-4" data-bind="visible: Transaction.ApplicationDate == Callback.ApplicationDate ? false : true">
                    <span data-bind="text: $root.LocalDate(Callback.ApplicationDate, true)" ></span>
                </label>-->
                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Application Date'), visible: Transaction.ApplicationDate == Callback.ApplicationDate ? false : true">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.IsChecked($parent.Transaction.ApplicationDate, $parent.Callback.ApplicationDate, IsVerified, 'Application Date'), click: $root.IsVerifiedChecked" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Biz Segment</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.BizSegment.Description"></span>
                    (<span data-bind="text: Transaction.BizSegment.Name"></span>)
                </label>

                <label class="col-sm-4">
                    <!--<span data-bind="text: Callback.BizSegment.Description"></span>
                    (<span data-bind="text: Callback.BizSegment.Name"></span>)-->
                </label>

                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Biz Segment')">
                    <input name="check-biz-segment" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: ($root.t_IsFxTransaction() || $root.t_IsFxTransactionToIDR()) && $root.ProductID() == ConsProductID.OTTProductIDCons">
                <label class="col-sm-3 control-label bolder no-padding-right">Product Type</label>

                <div data-bind="ifnot:Transaction.ProductType==null">
                    <label class="col-sm-4">
                        <span data-bind="text: Transaction.ProductType.Code"></span>
                    </label>
                </div>
                <label class="col-sm-4">
                    <!--<span data-bind="text: Callback.BizSegment.Description"></span>
                    (<span data-bind="text: Callback.BizSegment.Name"></span>)-->
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Bene Name</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.BeneName"></span>
                </label>

                <!--<label class="col-sm-4">
                    <span data-bind="text: Callback.BeneName" ></span>
                </label>-->
                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bene Name')">
                    <input name="check-bene-name" class="ace ace-switch ace-switch-6" type="checkbox"  data-bind="checked: IsVerified"/>
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Bene Bank</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Bank.Description"></span>
                </label>

                <div data-bind="ifnot:Callback==null">
                    <label class="col-sm-4" data-bind="visible: Transaction.Bank.Description == Callback.Bank.Description ? false : true">
                        <span data-bind="text: Callback.Bank.Description"></span>
                    </label>
                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bene Bank'), visible: Transaction.Bank.Description == Callback.Bank.Description ? false : true">
                        <input name="check-bene-bank" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.IsChecked($parent.Transaction.Bank.Description, $parent.Callback.Bank.Description, IsVerified, 'Bene Bank'), click: $root.IsVerifiedChecked" />
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Swift Code/Bank Code</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Bank.SwiftCode"></span>
                </label>
                <div data-bind="ifnot:Callback==null">
                    <label class="col-sm-4" data-bind="visible: Transaction.Bank.SwiftCode == Callback.Bank.SwiftCode ? false : true">
                        <span data-bind="text: Callback.Bank.SwiftCode"></span>
                    </label>
                </div>
                <!--<label class="col-sm-1" data-bind="with: $root.VerifyColumn('Swift Code/Bank Code')">
                    <input name="check-bank-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>-->
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Bene Acc Number</label>

                <label class="col-sm-4">
                    <span data-bind="text: formatAccount(Transaction.BeneAccNumber)"></span>
                </label>
                <div data-bind="ifnot:Callback==null">
                    <label class="col-sm-4" data-bind="visible: Transaction.BeneAccNumber == Callback.BeneAccNumber ? false : true">
                        <span data-bind="text: formatAccount(Callback.BeneAccNumber)"></span>
                    </label>

                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bene Acc Number'), visible: Transaction.BeneAccNumber == Callback.BeneAccNumber ? false : true">
                        <input name="check-bene-acc-number" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.IsChecked($parent.Transaction.BeneAccNumber, $parent.Callback.BeneAccNumber, IsVerified, 'Bene Acc Number'), click: $root.IsVerifiedChecked" />
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>

            <div data-bind="if: Transaction.BankCharges != null, visible: Transaction.Product.Code == 'OT' || Transaction.Product.Code == 'RT' || Transaction.Product.Code == 'SK', attr: { class: 'form-group form-line no-margin-bottom no-padding-bottom' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-charges">Bank Charges</label>

                <label class="col-sm-8">
                    <span id="bank-charges" data-bind="text: Transaction.BankCharges.Code"></span>
                </label>
            </div>

            <div class='form-group form-line no-margin-bottom no-padding-bottom' data-bind="visible: Transaction.Product.Code == 'RT' || Transaction.Product.Code == 'SK' ">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="agent-charges">
                    Agent Charges
                </label>

                <label class="col-sm-9" data-bind="if: Transaction.AgentCharges != null">
                    <span id="agent-charges" data-bind="text: Transaction.AgentCharges.Code"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Resident</label>
                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: Transaction!=null && Transaction.IsResident ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:Transaction.Product.Name == 'SKN'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Beneficiary Resident</label>
                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: Transaction!=null && Transaction.IsBeneficiaryResident ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:Transaction.Product.Name == 'SKN'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="agent-charges">Beneficiary Business Type</label>
                <label class="col-sm-9" data-bind="if:Transaction.BeneficiaryBusines !=null">
                    <span id="agent-charges" data-bind="text: Transaction.BeneficiaryBusines.Code+' ('+ Transaction.BeneficiaryBusines.Name+')'"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">

                <label class="col-sm-3 control-label bolder no-padding-right">LLD Code</label>

                <label class="col-sm-4" data-bind="ifnot:Transaction.LLD==null">
                    <!--<select class="col-sm-11" id="lld-code" name="lld-code" class="col-sm-11" disabled="disabled"
                            data-bind="options: $root.LLDs,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' - (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().LLD,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionCheckerAfterCaller', 'LLD'); } }"></select>-->
                    <span data-bind="text: Transaction.LLD.Code"></span>
                    (<span data-bind="text: Transaction.LLD.Description"></span>)
                </label>
                <div data-bind="ifnot:Callback==null">
                    <div class="col-sm-4" data-bind="ifnot:Callback.LLD==null">
                        <div data-bind="ifnot:Transaction.LLD==null">
                            <label data-bind=" visible: Transaction.LLD.Code == Callback.LLD.Code ? false : true">
                                <span data-bind="text: Callback.LLD.Code"></span>
                                (<span data-bind="text: Callback.LLD.Description"></span>)
                            </label>
                        </div>
                        <div data-bind="if:Transaction.LLD==null">
                            <span data-bind="text: Callback.LLD.Code"></span>
                            (<span data-bind="text: Callback.LLD.Description"></span>)
                        </div>
                    </div>
                </div>
                
                <div data-bind="ifnot:Callback==null">
                    <div data-bind="ifnot:Callback.LLD==null">
                        <div data-bind="ifnot:Transaction.LLD==null">
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('LLD Code'), visible: Transaction.LLD.Code == Callback.LLD.Code ? false : true">
                                <input name="check-lld-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.IsChecked($parent.Transaction.LLD.Code, $parent.Callback.LLD.Code, IsVerified, 'LLD Code'), click: $root.IsVerifiedChecked" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                        <div data-bind="if:Transaction.LLD==null">
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('LLD Code'), visible: true">
                                <input name="check-lld-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.IsChecked('', $parent.Callback.LLD.Code, IsVerified, 'LLD Code'), click: $root.IsVerifiedChecked" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                    </div>
                    
                    <div data-bind="if:Callback.LLD==null">
                        <div data-bind="ifnot:Transaction.LLD==null">
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('LLD Code'), visible: true">
                                <input name="check-lld-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.IsChecked($parent.Transaction.LLD.Code, '', IsVerified, 'LLD Code'), click: $root.IsVerifiedChecked" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                        <div data-bind="if:Transaction.LLD==null">
                            <label class="col-sm-1" data-bind="with: $root.VerifyColumn('LLD Code'), visible: false">
                                <input name="check-lld-code" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.IsChecked('', '', IsVerified, 'LLD Code'), click: $root.IsVerifiedChecked" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Signature Verification</label>

                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: Callback!=null && Callback.IsSignatureVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Dormant Account</label>

                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css:  Callback!=null && Callback.IsDormantAccount ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Freeze Account</label>

                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css:  Callback!=null && Callback.IsFreezeAccount ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: Transaction.Channel.Name == 'Fax'">
                <label class="col-sm-3 control-label bolder no-padding-right">Letter of Indemnity Available</label>

                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: Checker.IsLOIAvailable ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Statement Letter Copy</label>

                <label class="col-sm-4">
                    <i class="bigger-170" data-bind="css: Checker.IsStatementLetterCopy ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Payment Details</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.PaymentDetails"></span>
                </label>
                <div data-bind="ifnot:Callback==null">
                    <label class="col-sm-4" data-bind="visible: Transaction.PaymentDetails == Callback.PaymentDetails ? false : true">
                        <span data-bind="text: Callback.PaymentDetails"></span>
                    </label>

                    <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Payment Detail'), visible: Transaction.PaymentDetails == Callback.PaymentDetails ? false : true">
                        <input name="check-purpose-detail" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.IsChecked($parent.Transaction.PaymentDetails, $parent.Callback.PaymentDetails, IsVerified, 'Payment Detail'), click: $root.IsVerifiedChecked" maxlength="140" size="140" />
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Others</label>

                <label class="col-sm-4">
                    <span data-bind="text: Transaction.Others"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-completeness">Document Completeness</label>

                <label class="col-sm-4" data-bind="with: $root.VerifyColumn('Document Completeness')">
                    <i class="bigger-170" data-bind="css: IsVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>
        </div>

        <div class="space-16"></div>

        <div data-bind="if: (($root.t_IsFxTransaction() ||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue())) && $root.ProductID() == ConsProductID.OTTProductIDCons)">
            <h3 class="header smaller lighter dark">Un-utilize Underlying Documents</h3>

            <div class="table-responsive">
                <div class="dataTables_wrapper" role="grid" data-bind="with: Transaction.Customer">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Statement Letter</th>
                                <th>Underlying</th>
                                <th>Type of Docs</th>
                                <th>Currency</th>
                                <th>Amount</th>
                                <th>Available Amount in USD</th>
                                <th>Date</th>
                                <th>Supllier Name</th>
                                <th>Ref. Number</th>
                                <th style="width:50px">Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Underlyings">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><span data-bind="text: StatementLetter.Name"></span></td>
                                <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                <td><span data-bind="text: DocumentType.Name"></span></td>
                                <td><span data-bind="text: Currency.Code"></span></td>
                                <td align="right"><span data-bind="text: formatNumber_r(Amount)"></span></td>
                                <td align="right"><span data-bind="text: formatNumber_r(AvailableAmount)"></span></td>
                                <!--<td><span data-bind="text: moment(ExpiredDate).format('YYYY/MM/DD')"></span></td>-->
                                <td><span data-bind="text: $root.LocalDate(ExpiredDate, true, false)"></span></td>
                                <td><span data-bind="text: SupplierName"></span></td>
                                <td><span data-bind="text: ReferenceNumber"></span></td>
                                <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: $root.GetUnderlyingSelectedRow">View</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="space-10"></div>

            <div id="transaction-form" class="form-horizontal" role="form">

                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-code">Underlying Code</label>
                    <div data-bind="ifnot:Transaction.UnderlyingDoc==null">
                        <label class="col-sm-8">
                            <span id="underlying-code" name="underlying-code" data-bind="text: Transaction.UnderlyingDoc.Code"></span>
                            (<span id="underlying-code1" name="underlying-code" data-bind="text: Transaction.UnderlyingDoc.Name"></span>)
                        </label>
                    </div>
                </div>

                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="total-utilization">Total Utilization</label>
                    <label class="col-sm-8">
                        <span id="total-utilization" name="total-utilization" data-bind="text:formatNumber_r($root.AmountModel().TotalPPUUtilization())"></span>
                    </label>
                </div>
                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="total-utilization">Total IDR->FCY Transaction in USD</label>
                    <label class="col-sm-8">
                        <span id="total-idr-fcy" name="total-idr-fcy" data-bind="text:formatNumber_r($root.AmountModel().TotalPPUAmountsUSD())"></span>
                    </label>
                </div>

                <div class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="tz-number">TZ Number</label>

                    <label class="col-sm-8">
                        <span id="tz-number" name="tz-number" data-bind="text:  Transaction.TZNumber"></span>
                    </label>
                </div>

                <!--<div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="total-utilization">Total Utilization</label>
                <label class="col-sm-8">
                    <span id="total-utilization" name="total-utilization" data-bind="text:formatNumber_r(AmountModel.TotalUtilization())"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="total-utilization">Total IDR->FCY Transaction in USD</label>
                <label class="col-sm-8">
                    <span id="total-idr-fcy" name="total-idr-fcy" data-bind="text:formatNumber_r(AmountModel.TotalPPUAmountsUSD())"></span>
                </label>
            </div>-->
                <!--<div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Utilization Amount</label>

                <label class="col-sm-8">
                    <span id="utilization-amount" name="utilization-amount" data-bind="text:  formatNumber_r(Transaction.AmountUSD)"></span>
                </label>
            </div>-->

            </div>

        </div>

        <div class="space-16"></div>

        <div class="padding-4">
            <h3 class="header smaller lighter dark">Attachment</h3>
            <!-- add by fadi for exception handler -->
            <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocument, visible: Transaction.IsExceptionHandling || (Callback != null && Callback.DetailCompliance == 'UTC')">
                <i class="icon-plus"></i>
                Attach
            </button>
            <!-- end -->
            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <!-- change by fandi  -->
                    <!--<tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">-->
                    <tbody data-bind="foreach: $root.MakerDocuments, visible: $root.MakerDocuments().length > 0"> 
                        <!-- end by fandi -->
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td>
                                <div data-bind="if:IsNewDocument">
                                    <span data-bind="text: FileName"></span>
                                </div>
                                <div data-bind="ifnot:IsNewDocument">
                                    <a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a>
                                </div>
                            </td>
                            <!--<td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>-->
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            <td><a href="#" data-bind="click: $root.RemoveDocumentData, visible:IsNewDocument">Remove</a></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: $root.MakerDocuments().length == 0">
                        <tr>
                            <td colspan="13" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
