<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 no-padding-right" style="margin-left:7%">
                    <b><span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span></b><br />
                    <b>Branch Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="ht_clone_top handsontable" style="position: static; top: 0px; left: 0px; overflow: hidden; width: 1260px; height: auto;">
                        <div id="dataExcelRol" class="wtHolder" style="position: relative; width: 1260px; height: auto;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="ht_clone_top handsontable" style="position: static; top: 0px; left: 0px; overflow: hidden; width: 1260px; height: auto;">
                        <div id="dataExcelIM" class="wtHolder" style="position: relative; width: 1260px; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="ht_clone_top handsontable" style="position: static; top: 0px; left: 0px; overflow: hidden; width: 1260px; height: auto;">
                        <div id="dataExcelSS" class="wtHolder" style="position: relative; width: 1260px; height: auto;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="padding-4">
                <h3 class="header smaller lighter dark">Attachment</h3>

                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>File Name</th>
                                <th>Document Type</th>
                                <th>Modified</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                                <td><span data-bind="text: Purpose.Name"></span></td>
                                <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: Transaction.Documents.length == 0">
                            <tr>
                                <td colspan="13" class="text-center">
                                    No entries available.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
