﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>
                <div class="col-sm-6">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-12" name="customer-name" disabled="disabled" id="customer-name" data-rule-required="true" data-bind="value: Transaction.Customer.Name" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-3" name="cif" id="cif" disabled="disabled" data-bind="value: Transaction.Customer.CIF" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bookingreference">Booking Reference</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-3" disabled="disabled" name="cif" id="cif" data-bind="value: Transaction.TZNumber" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="tradedate">Trade Date</label>
                <div class="col-sm-9">
                    <div class="clearfix input-group col-sm-3 no-padding">
                        <input class="form-control date-picker" type="text" disabled="disabled" autocomplete="off" data-date-format="dd-M-yyyy" id="application-date" name="application-date" data-rule-required="true" data-rule-date="true" data-bind="datepicker: true, value: $root.LocalDate(Transaction.TradeDate,true,false)">
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="tradedate">Value Date</label>
                <div class="col-sm-9">
                    <div class="clearfix input-group col-sm-3 no-padding">
                        <input class="form-control date-picker" type="text" disabled="disabled" autocomplete="off" data-date-format="dd-M-yyyy" id="application-date" name="application-date" data-rule-required="true" data-rule-date="true" data-bind="datepicker: true, value: $root.LocalDate(Transaction.ValueDate,true,false)">
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-number">Account</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="book-joinAcc" name="book-statement" data-bind="value: Transaction.IsJointAccount,
                                        options:$root.CIFJointAccounts,
                                        optionsText:'Name',
                                        optionsValue: 'ID',
                                        event:{ change: $root.OnChangeJointAcc },disable:!$root.IsJointAccount()" class="col-xs-3"></select>
                        <select id="debit-acc-number" name="debit-acc-number" data-rule-required="true" data-bind="options: $root.DynamicAccounts,optionsText: function(item) { if(item.AccountNumber != '-'  ){ if(item.CustomerName!=null){return item.AccountNumber+' ('+  item.Currency.Code+') - '+ item.CustomerName } return item.AccountNumber+' ('+  item.Currency.Code+')'} return item.AccountNumber}, optionsValue: 'AccountNumber', optionsCaption: 'Please Select...', value: $root.Selected().Account,event:{ change: $root.CheckEmptyAccountNumber }" class="col-xs-5"></select>
                        <label class="control-label bolder text-danger" for="debit-acc-number">*</label>
                        <input type="text" autocomplete="off" name="debit-acc-number-empty" id="debit-acc-number-empty" data-rule-required="true" data-bind="value: Transaction.OtherAccountNumber,visible: $root.IsEmptyAccountNumber()" />
                        <label class="control-label bolder text-danger" for="debit-acc-number" data-bind="visible: $root.IsEmptyAccountNumber()">*</label>
                    </div>
                </div>
                <!--<div class="col-sm-9">
                    <div class="clearfix" style="float:left; margin-right:15px;">
                        <select id="debit-acc-number" name="debit-acc-number" data-rule-required="true"
                                data-bind="options: Transaction.Customer.Accounts,
                                    optionsText: function(item) { if(item.Currency.Code != null && item.Currency.Code != '-') { return item.AccountNumber + ' (' + item.Currency.Code + ')'} else if(item.Currency.Code != null && item.Currency.Code == '-') { return item.AccountNumber }},                                    optionsValue: 'AccountNumber',
                                    optionsValue: 'AccountNumber',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().Account,
                                    event: { change: function() { $root.PopulateSelected('TransactionDeal', 'AccountNumber'); } }"></select>
                    </div>
                    <div class="clearfix" data-bind="if: $root.IsOtherAccountNumber">
                        <input type="text" autocomplete="off" class="col-sm-4" name="other-debit-acc-number" id="other-debit-acc-number" data-rule-required="true" data-bind="value: Transaction.OtherAccountNumber" />
                    </div>
                </div>-->

            </div>

            <div class="form-group" data-bind="visible: $root.IsOtherAccountNumber()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency-empty" data-bind="visible: $root.IsOtherAccountNumber()">
                    Debit Acc CCY
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="currency-empty" name="currency-empty" data-rule-required="true" data-rule-value="true" disabled="disabled"
                                data-bind="options:$root.Currencies,
                                           optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                           optionsValue: 'ID',
                                           optionsCaption: 'Please Select...',
                                           value: $root.Selected().DebitCurrency,
                                           visible: $root.IsOtherAccountNumber(),
                                           event: { change: function() { $root.PopulateSelected('TransactionDeal', 'DebitCurrency'); } }"></select>
                        <label class="control-label bolder text-danger" for="debit-acc-number" data-bind="visible: $root.IsOtherAccountNumber()">*</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="statement-letter">Statement Letter</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="statement-letter" name="statement-letter" data-rule-required="true" disabled="disabled"
                                data-bind="options: $root.StatementLetters,
                                    optionsText: 'Name',
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().StatementLetter,
                                    event: { change: function(){ $root.PopulateSelected('TransactionDeal', 'StatementLetter'); } }"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product Type</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="product-type" name="product-type" data-rule-required="true" class="col-xs-3" disabled="disabled"
                                data-bind="options: $root.ProductTypes,
                                    optionsText: 'Code',
                                    optionsValue: 'ID',
                                    value: $root.Selected().ProductType,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('TransactionDeal', 'ProductType'); } }"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency">Currency</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="currency" name="currency" data-rule-required="true" disabled="disabled"
                                    data-bind="options: $root.Currencies,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().Currency,
                                    event: { change: function(){ $root.PopulateSelected('TransactionDeal', 'Currency'); } }"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trxn-amount">FCY Amount</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="trxn-amount" id="trxn-amount" data-in="" onkeyup="OnKeyUp('TransactionDeal')" data-rule-required="true" data-rule-number="true" data-bind="value: $root.Amount" disabled="disabled" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="rate">Rate (BI Mid-Rate)</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="rate" id="rate" disabled="disabled" data-rule-number="true" data-bind="value: formatNumber_r($root.Rate)" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="eqv-usd">Eqv. USD</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="eqv-usd" id="eqv-usd" disabled="disabled" data-rule-required="true" data-rule-number="true" data-bind="value: $root.AmountUSD_r()" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="total-amount">Total Transaction Amount In USD</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="total-amount" id="total-amount" disabled="disabled" data-rule-required="true" data-rule-number="true" data-bind="value: formatNumber($root.AmountModel().TotalDealAmountsUSD())" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="remaining-underlying">Remaining Underlying Balance</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="remaining-underlying" id="remaining-underlying" disabled="disabled" data-rule-required="true" data-rule-number="true" data-bind="value: formatNumber($root.AmountModel().RemainingBalance())" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="remaining-underlying">Underlying Code</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="underlying-code" name="underlying-code"
                                    data-bind="options: $root.UnderlyingDocs,
                                    optionsText: function(item) { if(item.ID != null) return item.Code + ' (' + item.Name + ')'} ,
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().UnderlyingDoc,
                                    event: { change: function(){ $root.PopulateSelected('TransactionDeal', 'UnderlyingDoc'); } }"></select>
                        </div>
                    </div>
                </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="isresident">Resident</label>

                <div class="col-sm-1">
                    <div class="clearfix">
                        <input class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Transaction.IsResident" disabled="disabled">
                        <span class="lbl"></span>
                    </div>
                </div>
            </div>
                <div class="space-16"></div>

            <div data-bind="if:($root.t_IsFxTransaction()||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue()))">
                <h3 class="header smaller lighter dark">Un-utilize Underlying Documents</h3>

                <div class="table-responsive">
                    <div class="dataTables_wrapper" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Utilize</th>
                                    <th>Statement Letter</th>
                                    <th>Underlying</th>
                                    <th>Type of Docs</th>
                                    <th>Currency</th>
                                    <th>Amount</th>
                                    <th>Available Amount in USD</th>
                                    <th>Date</th>
                                    <th>Supllier Name</th>
                                    <th>Ref. Number</th>
                                    <th style="width:50px">Action</th>
                                </tr>
                            </thead>
                            <!-- <tbody data-bind="foreach: Transaction.Customer.Underlyings"> -->
                            <tbody data-bind="foreach: $root.CustomerUnderlyings">
                                <tr>
                                    <td><span data-bind="text: $index() +1"></span></td>
                                    <td align="center"><input type="checkbox" id="isUtilize" name="isUtilize" data-bind="checked:IsEnable,event: {change:function(data){$root.onSelectionUtilize($index(),$data)}}" /></td>
                                    <td><span data-bind="text: StatementLetter.Name"></span></td>
                                    <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                    <td><span data-bind="text: DocumentType.Name"></span></td>
                                    <td><span data-bind="text: Currency.Code"></span></td>
                                    <td align="right"><span data-bind="text: $root.FormatNumber(Amount)"></span></td>
                                    <td align="right"><span data-bind="text: $root.FormatNumber(AvailableAmount)"></span></td>
                                    <td><span data-bind="text: $root.LocalDate(ExpiredDate, true, false)"></span></td>
                                    <td><span data-bind="text: SupplierName"></span></td>
                                    <td><span data-bind="text: ReferenceNumber"></span></td>
                                    <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: $root.GetUnderlyingSelectedRow,text:IsUtilize?'view':'Update'"></span></td>
                                </tr>
                            </tbody>
                            <tbody data-bind="visible: $root.CustomerUnderlyings().length == 0">
                                <tr>
                                    <td colspan="12" align="center">No entries available.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="space-10"></div>


                <div id="transaction-form1" class="form-horizontal" role="form">


                </div>
            </div>

                <div class="space-16"></div>

                <div class="padding-4">
                    <h3 class="header smaller lighter dark">Instruction Form and Docs</h3>
                    <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocumentUnderlying, visible: ($root.t_IsFxTransaction()||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue()))">
                        <i class="icon-plus"></i>
                        Attach
                    </button>
                    <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocument, visible: !($root.t_IsFxTransaction()||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue()))">
                        <i class="icon-plus"></i>
                        Attach
                    </button>

                    <div id="attachFile" class="padding-4">
                        <!-- <div class="dataTables_wrapper" role="grid" data-bind="if: !(($root.t_IsFxTransaction())||($root.t_IsFxTransactionToIDR() && $root.TransactionDeal().Transaction.ProductType.IsFlowValas==true && $root.TransactionDeal().Transaction.AmountUSD>=1000000))"> -->

                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th style="width:50px">No.</th>
                                    <th>File Name</th>
                                    <th>Purpose of Docs</th>
                                    <th>Type of Docs</th>
                                    <th>Modified</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: $root.MakerDocuments, visible: $root.MakerDocuments().length > 0">
                                <!-- <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">-->
                                <tr>
                                    <!--data-bind="click: $root.EditDocument"-->
                                    <td><span data-bind="text: $index() +1"></span></td>
                                    <td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>
                                    <!-- <td><span data-bind="text: FileName"></span></td>-->
                                    <td><span data-bind="text: Purpose.Name"></span></td>
                                    <td><span data-bind="text: Type.Name"></span></td>
                                    <td><span data-bind="text: moment(DocumentPath.lastModifiedDate).format(config.format.dateTime)"></span></td><!--$root.LocalDate(LastModifiedDate)-->
                                    <td><a href="#" data-bind="click: $root.RemoveDocumentData">Remove</a></td>
                                </tr>
                            </tbody>
                            <tbody data-bind="visible: $root.MakerDocuments().length == 0">
                                <tr>
                                    <td colspan="6" align="center">No entries available.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
    </div>

</div>
