﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <div class="col-sm-6">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-12" name="customer-name" id="customer-name" disabled="disabled" data-rule-required="true" data-bind="value: Transaction.Customer.Name" />
                    </div>
                </div>

                <label class="col-sm-2">
                    <span class="label label-warning arrowed" data-bind="if: Transaction.IsNewCustomer">
                        <i class="icon-warning-sign bigger-120"></i>
                        New Customer
                    </span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-3" name="cif" id="cif" disabled="disabled" data-bind="value: Transaction.Customer.CIF" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="product" name="product" data-rule-required="true" disabled="disabled"
                                data-bind="options: $root.Products,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.Product.ID"></select>
                    </div>
                </div>
            </div>
           
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="channel" name="channel" disabled="disabled" data-rule-required="true" data-bind="options: $root.Channels, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Channel.ID"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="remarks">Remarks</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <span id="remarks" data-bind="text: Transaction.Remarks"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-callback-isrequired">Callback Is Required</label>

                <label class="col-sm-1">
                    <input id="check-callback-isrequired" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsCallbackRequired" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Signature Verification</label>

                <label class="col-sm-1">
                    <input id="check-signature-verification" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsSignatureVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-dormant-account">Dormant Account</label>

                <label class="col-sm-1">
                    <input id="check-dormant-account" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsDormantAccount" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-freeze-account">Freeze Account</label>

                <label class="col-sm-1">
                    <input id="check-freeze-account" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsFreezeAccount" />
                    <span class="lbl"></span>
                </label>
            </div>
            <!--change by adi-->
            <div class="form-group" data-bind="if: $root.IsChannelStatus()">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="check-loi-available">
                Letter of Indemnity Available</label>

                <label class="col-sm-1">
                    <input id="check-letter-of-indemnity" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsLOIAvailable" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-completeness">Document Completeness</label>

                <label class="col-sm-1">
                    <input id="check-document-completeness" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsDocumentComplete" />
                    <span class="lbl"></span>
                </label>
            </div>

        </div>

        <div class="space-4"></div>

        <!-- transaction callbacks start -->
        <div id="transaction-callback">
            <h3 class="header smaller lighter dark">Contact Table</h3>

            <div class="table-responsive">
                <div class="table-responsive" role="grid">
                    <table id="customerContact-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">Contacted Name</th>
                                <th class="center">Phone No</th>
                                <th class="center">DOB</th>
                                <!--<th class="center">Address</th>-->
                                <th class="center">ID Number</th>
                                <th class="center">POA Function</th>
                                <th class="center">Occupation ID</th>
                                <th class="center">Place of Birth</th>
                                <th class="center">Effective Date</th>
                                <th class="center">Cancellation Date</th>
                                <!--<th class="center">Select</th>-->
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Transaction.Customer.Contacts">
                            <tr data-bind="click: $root.SelectedContacts">
                                <td><span data-bind="text: Name"></span></td>
                                <td><span data-bind="text: PhoneNumber"></span></td>
                                <td><span data-bind="text: $root.LocalDate(DateOfBirth, true, false)"></span></td>
                                <!--<td><span data-bind="text: moment(DateOfBirth).format('MM-DD-YYYY')"></span></td>-->
                                <!--<td><span data-bind="text: Address "></span></td>-->
                                <td><span data-bind="text: IDNumber"></span></td>
                                <td><span data-bind="text: POAFunctionVW"></span></td>
                                <td><span data-bind="text: OccupationInID"></span></td>
                                <td><span data-bind="text: PlaceOfBirth"></span></td>
                                <td><span data-bind="text: $root.LocalDate(EffectiveDate, true, false)"></span></td>
                                <td><span data-bind="text: $root.LocalDate(CancellationDate, true, false)"></span></td>
                                <!--<td><span data-bind="text: moment(EffectiveDate).format('MM-DD-YYYY')"></span></td>
                                <td><span data-bind="text: moment(CancellationDate).format('MM-DD-YYYY')"></span></td>-->
                                <!--<td class="center">
                                    <label>
                                        <input type="checkbox" class="ace ace-switch ace-switch-6" data-bind="value:ID, event:{change: $root.SelectedContacts}, attr: { id: 'checkbox'+$index()+'' }"/>
                                        <span class="lbl"></span>
                                    </label>
                                </td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <h3 class="header smaller lighter dark">
                Callback Time
                <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.LoadCustomerCallback">
                    <i class="icon-plus"></i>
                    Load Customer Callback
                </button>
            </h3>

            <div class="table-responsive">
                <div class="table-responsive" role="grid">
                    <table id="customerContacted-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">Contacted Name</th>
                                <th class="center">Call Back Time</th>
                                <th class="center">Remark</th>
                                <th class="center">Is UTC</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Callbacks">
                            <tr>
                                <td><span data-bind="text: Contact.Name"></span></td>
                                <td><span data-bind="text: $root.TimeFormat(Time)"></span></td>
                                <td><span data-bind="text: Remark"></span></td>
                                <td class="center">
                                    <label>
                                        <input type="checkbox" class="ace ace-switch ace-switch-6" data-bind="checked: IsUTC" disabled="disabled" />
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-horizontal" role="form">
                <div class="form-group" data-bind="visible:false">
                    <label class="col-sm-3 control-label">
                        Remarks
                    </label>

                    <div class="col-sm-9">
                        <textarea name="remarks" id="remarks" class="col-sm-12" rows="5" data-bind="event: { change: $root.OnRemarkChanges }"></textarea>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="space-10"></div>

            <div class="space-6"></div>

            <div class="padding-4">
                <h3 class="header smaller lighter dark">Attachment</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>File Name</th>
                                <th>Document Type</th>
                                <th>Modified</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>
                                <!--<td><span data-bind="text: Purpose.Name"></span></td>-->
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: Transaction.Documents.length == 0">
                            <tr>
                                <td colspan="13" class="text-center">
                                    No entries available.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    <html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
    <head>
        <title></title>
    </head>
