﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <!-- Tanggal Pembuatan Transaction -->
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>
                <!-- No Application dan Nama User -->
                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <!-- Urgency -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" id="urgent">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <!-- Customer Name -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>
                <label class="col-sm-8">
                    <span name="customer-name" id="customer-name" data-bind="text: Transaction.Customer.Name"></span>
                    <span class="label label-warning arrowed" data-bind="if: Transaction.IsNewCustomer">
                        <i class="icon-warning-sign bigger-120"></i>
                        New Customer
                    </span>
                </label>
            </div>

            <!-- CIF -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>
                <label class="col-sm-8">
                    <span name="cif" id="cif" data-bind="text: Transaction.Customer.CIF"></span>
                </label>
            </div>

            <!-- Product -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>
                <label class="col-sm-8">
                    <span id="product-code" name="product" data-bind="text: Transaction.Product.Code"></span>
                    (<span id="product-name" name="product" data-bind="text: Transaction.Product.Name"></span>)
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="biz-segment-code">Biz Segment</label>
                <label class="col-sm-8">
                    <span id="biz-segment-code" name="biz-segment" data-bind="text: Transaction.BizSegment.Description"></span>
                    (<span id="biz-segment-desc" name="biz-segment" data-bind="text: Transaction.BizSegment.Name"></span>)
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency-code">Transaction Currency</label>
                <label class="col-sm-8">
                    <span id="currency-code" name="currency" data-bind="text: Transaction.Currency.Code"></span>
                    (<span id="currency-desc" name="currency" data-bind="text: Transaction.Currency.Description"></span>)
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trxn-amount">Transaction Amount</label>
                <label class="col-sm-8">
                    <span name="trxn-amount" id="trxn-amount" data-bind="text: formatNumber(Transaction.Amount)"></span>
                </label>
            </div>

            <!-- Channel -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>
                <label class="col-sm-8">
                    <span id="channel" name="channel" data-bind="text: Transaction.Channel.Name"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsPPURole()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>
                <label class="col-sm-8">
                    <span id="source" name="source" data-bind="text: $root.SourceName()"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" id="CallBackIsRequired" data-bind="visible: $root.IsCallBackVisible()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-callback-required">Callback is Required</label>

                <label class="col-sm-1">
                    <!--<input id="check-callback-required" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsCallbackRequired" />-->
                    <input id="check-callback-required" disabled="disabled" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Transaction.IsCallbackRequired" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" id="Issyndiciation" data-bind="visible: $root.IssyndiciationVisible()">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="check-syndication">
                    Syndication
                </label>

                <label class="col-sm-1">
                    <input id="check-syndication" disabled="disabled" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Transaction.IsSyndication, event: { change: function () { $root.IshiddenBranch() } }" />
                    <span class="lbl"></span>
                </label>
            </div>


            <div id="SignatureVerification" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsSignatureVerification()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">
                    Signature Verification
                </label>

                <label class="col-sm-1">
                    <!--<input id="check-signature-verification" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsSignatureVerified" />-->
                    <input id="check-signature-verification" disabled="disabled" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Transaction.IsSignatureVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" id="DormanAccount" data-bind="visible: $root.IsDormantAccountVisible()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-dormant-account">Dormant Account</label>

                <label class="col-sm-1">
                    <!--<input id="check-dormant-account" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsDormantAccount" />-->
                    <input id="check-dormant-account" disabled="disabled" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Transaction.IsDormantAccount" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" id="FreezeAccount" data-bind="visible:$root.IsFreezeAccountVisible()">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="check-freeze-account">
                    Freeze Account
                </label>

                <label class="col-sm-1">
                    <!--<input id="check-freeze-account" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsFreezeAccount" />-->
                    <input id="check-freeze-account" disabled="disabled" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Transaction.IsFreezeAccount" />

                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" id="LetterOfIndemnityAvailable" data-bind="visible:$root.IsLOIAvailableVisible()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-loi-available">
                    Letter of Indemnity Available
                </label>

                <label class="col-sm-1">
                    <!--<input id="check-loi-available" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsLOIAvailable" />-->
                    <input id="check-loi-available" disabled="disabled" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Transaction.IsLOIAvailable" />

                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" id="DocumentCompleteness">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-statement-Letter-copy">
                    Document Completeness
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Document Completeness')">
                    <!--Verify()[2]-->
                    <input name="check-trx-amount" disabled="disabled" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 2-->
                    <span class="lbl"></span>
                </label>
            </div>
        </div>
        <div class="space-16"></div>
        <!-- Attachment -->
        <div class="padding-4">
            <h3 class="header smaller lighter dark">Attachment</h3>
            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Transaction.Documents,visible: Transaction.Documents.length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: Transaction.Documents.length == 0">
                        <tr>
                            <td colspan="13" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>