﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <!-- Tanggal Pembuatan Transaction -->
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Date.now(), true, true)"></span>
                </label>
                <!-- No Application dan Nama User -->
                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <!-- Checked All -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-all"></label>
                <label class="col-sm-8 control-label bolder no-padding-right" for="product-code">Check All</label>
                <label class="col-sm-1">
                    <input name="check-all" id="check-all" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.CheckAll()" onchange="checkAllPPUCheckerFD(this)" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Urgency -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" id="urgent">
                <label class="col-sm-3 control-label bolder no-padding-right">Urgency</label>
                <div class="col-sm-8">
                    <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>
                    <label class="col-sm-1">
                        <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                    </label>
                    <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent Chain</label>
                    <label class="col-sm-1">
                        <i class="bigger-170" data-bind="css: Transaction.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                    </label>
                </div>

            </div>

            <!-- Customer Name -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>
                <label class="col-sm-8">
                    <span name="customer-name" id="customer-name" data-bind="text: Transaction.Customer.Name"></span>
                    <span class="label label-warning arrowed" data-bind="if: Transaction.IsNewCustomer">
                        <i class="icon-warning-sign bigger-120"></i>
                        New Customer
                    </span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Customer Name')">
                    <!--Verify()[0]-->
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- CIF -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>
                <label class="col-sm-8">
                    <span name="cif" id="cif" data-bind="text: Transaction.Customer.CIF"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('CIF')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Product -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>
                <label class="col-sm-8">
                    <span id="product-code" name="product" data-bind="text: Transaction.Product.Code"></span>
                    (<span id="product-name" name="product" data-bind="text: Transaction.Product.Name"></span>)
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Product')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Channel --> 
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>
                <label class="col-sm-8">
                    <span id="channel" name="channel" data-bind="text: Transaction.Channel.Name"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Channel')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsPPURole()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>
                <label class="col-sm-8">
                    <span id="source" name="source" data-bind="text: $root.SourceName()"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Source')">
                    <input name="check-source" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Transaction Type-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="transaction-type"> Transaction Type</label>
                <label class="col-sm-8">
                    <span id="transaction-type" name="transaction-type" data-bind="text: Transaction.TransactionType.TransactionTypeName"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Transaction Type')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- FD Acc Number-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="fd-acc-number">FD Acc Number</label>
                <label class="col-sm-8">
                    <span id="fd-acc-number" name="fd-acc-number" data-bind="text: Transaction.FDAccNumber"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('FD Acc Number')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Currency-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency-code">Transaction Currency</label>

                <label class="col-sm-8">
                    <span id="currency-code" name="currency" data-bind="text: Transaction.Currency.Code"></span>
                    (<span id="currency-desc" name="currency" data-bind="text: Transaction.Currency.Description"></span>)
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Currency')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Amount-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="amount">Amount</label>
                <label class="col-sm-8">
                    <span name="amount" id="amount" data-bind="text: formatNumber(Transaction.Amount)"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Amount')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Debit Account Number -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsChangeOfInstruction()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-number">Debit Account Number</label>
                <label class="col-sm-8">
                    <span id="debit-acc-number" name="debit-acc-number" data-bind="text: Transaction.DebitAccNumber"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Debit Acc Number')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Credit Acc Number -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="credit-acc-number">Credit Acc Number</label>
                <label class="col-sm-8">
                    <span id="credit-acc-number" for="credit-acc-number" data-bind="text: Transaction.CreditAccNumber"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Credit Acc Number')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Intersert Rate-->
            <!--<div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="interest-rate">Interest Rate</label>
                <label class="col-sm-8">
                    <span id="interest-rate" name="interest-rate" data-bind="text: Transaction.InterestRate"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Interest Rate')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>-->

            <!-- Tenor -->
            <!--<div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsFDMaintenance()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="tenor">Tenor</label>
                <label class="col-sm-8">
                    <span id="tenor" name="tenor" data-bind="text: Transaction.Tenor"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Tenor')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>-->

            <!-- Value Date-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Value Date</label>
                <label class="col-sm-8">
                    <span id="value-date" name="value-date" data-bind="text: $root.LocalDate(Transaction.ValueDate, true, true)"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Value Date')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- maturity date-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="maturity-date">Maturity Date</label>
                <label class="col-sm-8">
                    <span id="maturity-date" name="maturity-date" data-bind="text: $root.LocalDate(Transaction.MaturityDate, true, true)"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Maturity Date')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Transaction Remarks-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="transaction-remarks">Transaction Remarks</label>
                <label class="col-sm-8">
                    <span id="transaction-remarks" name="transaction-remarks" data-bind="text: Transaction.TransactionRemarks"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Transaction Remarks')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Bank Name & Acc No-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-name-acc-no">Bank Name & Acc No</label>
                <label class="col-sm-8">
                    <span id="bank-name-acc-no" name="bank-name-acc-no" data-bind="text: Transaction.BankNameAccNumber"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Bank Name And Acc No')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Attachement Remarks-->
            <!--<div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:($root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak())">-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" >
                <label class="col-sm-3 control-label bolder no-padding-right" for="attachment-remarks">Attachment Remarks</label>
                <label class="col-sm-8">
                    <span id="attachment-remarks" name="attachment-remarks" data-bind="text:Transaction.AttachmentRemarks"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Attachment Remarks')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!--Docs Complete-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="docs-complete-fd">Docs Complete</label>
                <label class="col-sm-8">
                    <input type="checkbox" id="docs-complete-fd" data-bind="checked:Transaction.DocsComplete" disabled="disabled" />
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('DocsCompleteFD')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!--All In Rate-->
            <!--<div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: !$root.IsDocsComplete()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="all-in-rate-fd">All In Rate</label>
                <label class="col-sm-8">
                    <span id="all-in-rate-fd" data-bind="text:Transaction.AllInRate"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('AllInRateFD')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>-->
            <!-- Intersert Rate-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:!$root.IsDocsComplete()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="interest-rate">Interest Rate</label>
                <label class="col-sm-8">
                    <span id="interest-rate" name="interest-rate" data-bind="text: Transaction.InterestRate"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Interest Rate')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="tenor-fd">Tenor</label>
                <label class="col-sm-8">
                    <span id="tenor-fd" data-bind="text:Transaction.Tenor"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Tenor')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ftp-rate-fd">FTP Rate</label>
                <label class="col-sm-8">
                    <span id="ftp-rate-fd" data-bind="text:Transaction.FTPRate"></span>
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('FTPRateFD')">
                    <input name="check-channel" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Callback is requaried -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" id="CallBackIsRequired" data-bind="visible: (($root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak() || $root.IsNewPlacement()) && $root.IsPPUChecker())">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-callback-required">Callback is Required</label>
                <label class="col-sm-8">
                    <input id="check-callback-required" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsCallbackRequired" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Signeture Verification-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" id="SignatureVerification" data-bind="visible:(($root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak() || $root.IsNewPlacement()))">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Signature Verification</label>
                <label class="col-sm-8">
                    <input id="check-signature-verification" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsSignatureVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Dormant Account -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" id="DormanAccount" data-bind="visible:(($root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak() || $root.IsNewPlacement()))">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-dormant-account">Dormant Account</label>
                <label class="col-sm-8">
                    <input id="check-dormant-account" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsDormantAccount" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Freeze Account -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" id="FreezeAccount" data-bind="visible: (($root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak() || $root.IsNewPlacement()))">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="check-freeze-account">Freeze Account</label>
                <label class="col-sm-8">
                    <input id="check-freeze-account" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsFreezeAccount" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Leter of Indemnity Available -->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" id="LoiAvailable" data-bind="visible:(($root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak() || $root.IsNewPlacement())),if: Transaction.Channel.Name == 'Fax'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-loi-available">Letter of Indemnity Available</label>
                <label class="col-sm-8">
                    <input id="check-loi-available" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: Checker.IsLOIAvailable" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!-- Document Completeness-->
            <div class="form-group form-line no-margin-bottom no-padding-bottom" id="DocumentCompletness" data-bind="visible: (($root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak() || $root.IsNewPlacement())) ">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-completeness">Document Completeness</label>
                <label class="col-sm-8" data-bind="with: $root.VerifyColumn('Document Completeness')">
                    <input id="check-document-completeness" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified,click: IsDocumentCompleteCheck()" />
                    <span class="lbl"></span>
                </label>
            </div>
        </div>
        <div class="space-16"></div>
        <!-- Attachment -->
        <div class="padding-4">
            <h3 class="header smaller lighter dark">Attachment</h3>
            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Transaction.Documents,visible: Transaction.Documents.length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: Transaction.Documents.length == 0">
                        <tr>
                            <td colspan="13" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>