﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>
                <label class="col-sm-8">
                    <span name="customer-name" id="customer-name" data-bind="text: Transaction.Customer.Name" disabled="disabled"></span>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>
                <label class="col-sm-8">
                    <span name="cif" id="cif" data-bind="text: Transaction.Customer.CIF" disabled="disabled"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="tzreference">Deal Number</label>
                <label class="col-sm-8">
                    <span name="tzreference" id="tzreference" data-bind="value: Transaction.TZReference" disabled="disabled"></span>
                    <span name="murexnumber" id="murexnumber" data-bind="value: Transaction.MurexNumber" disabled="disabled"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trade-date">Netting Deal Number</label>
                <label class="col-sm-8">
                    <span name="netting-tzreference" id="netting-tzreference" data-bind="text: Transaction.NettingTZReference.TZReference" disabled="disabled"></span>
                    <span name="swap-deal-number" id="swap-deal-number" data-bind="text: Transaction.SwapDealNumber" disabled="disabled"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Expected Submission Date Statement Letter</label>
                <label class="input-group col-sm-2">
                    <span name="expected-statement-letter" id="expected-statement-letter" data-bind="datepicker:true, text: $root.LocalDate(Transaction.ExpectedDateStatementLetter, true),disable:true"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Expected Submission Date Underlying</label>
                <label class="input-group col-sm-2">
                    <span name="expected-statement-letter" id="expected-underlying" data-bind="datepicker:true, text: $root.LocalDate(Transaction.ExpectedDateUnderlying, true),disable:true"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Actual Submission Date Statement Letter</label>
                <label class="input-group col-sm-2">
                    <span name="expected-statement-letter" id="actual-statement-letter" data-bind="datepicker:true, text: $root.LocalDate(Transaction.ActualDateStatementLetter, true),disable:true"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Actual Submission Date Underlying</label>
                <label class="input-group col-sm-2">
                    <span name="expected-statement-letter" id="actual-underlying" data-bind="datepicker:true, text: $root.LocalDate(Transaction.ActualDateUnderlying, true),disable:true"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Netting Purpose</label>
                <label class="input-group col-sm-2">
                    <span name="netting-purpose" id="netting-purpose" data-bind="text: Transaction.NettingPurpose.Name, disable:true"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Remarks</label>
                <label class="input-group col-sm-8">
                    <span class="col-lg-10" id="remarks" data-bind="text: Transaction.Remarks,disable:true"></span>
                </label>
            </div>



            <div class="space-30"></div>
            <div>
                <!--&& ($root.t_IsFxTransaction() || Transaction.ProductType.IsFlowValas) && Transaction.AmountUSD >= $root.FCYIDRTreshold()))">-->
                <h3 class="header smaller lighter dark">Un-Utilize Underlying Documents</h3>

                <div class="table-responsive">
                    <div class="dataTables_wrapper" role="grid" data-bind="with: Transaction.Customer">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Statement Letter</th>
                                    <th>Underlying</th>
                                    <th>Type of Docs</th>
                                    <th>Currency</th>
                                    <th>Amount</th>
                                    <th>Available Amount in USD</th>
                                    <th>Date</th>
                                    <th>Supllier Name</th>
                                    <th>Ref. Number</th>
                                    <th style="width:50px">Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: Underlyings">
                                <tr>
                                    <td><span data-bind="text: $index() +1"></span></td>
                                    <td><span data-bind="text: StatementLetter.Name"></span></td>
                                    <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                    <td><span data-bind="text: DocumentType.Name"></span></td>
                                    <td><span data-bind="text: Currency.Code"></span></td>
                                    <td><span data-bind="text: $root.FormatNumber(Amount)"></span></td>
                                    <td><span data-bind="text: $root.FormatNumber(AvailableAmount)"></span></td>
                                    <td><span data-bind="text: $root.LocalDate(ExpiredDate, true, false)"></span></td>
                                    <td><span data-bind="text: SupplierName"></span></td>
                                    <td><span data-bind="text: ReferenceNumber"></span></td>
                                    <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: $root.GetUnderlyingSelectedRow">View</span></td>
                                </tr>
                            </tbody>
                            <tbody data-bind="visible: Underlyings.length == 0">
                                <tr>
                                    <td colspan="11" align="center">No entries available.</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="space-10"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Total Utilization</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" class="col-sm-4 align-right" name="utilization-amount" id="utilization-amount" data-rule-required="false" disabled="disabled" data-rule-number="true" data-bind="value : formatNumber_r($root.AmountModel().TotalDealUtilization())" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Total IDR->FCY Transaction in USD</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" class="col-sm-4 align-right" name="utilization-amount" id="TotalAmountTrx" data-rule-required="false" disabled="disabled" data-rule-number="true" data-bind="value : formatNumber_r($root.AmountModel().TotalDealAmountsUSD())" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="space-4"></div>

            <h3 class="header smaller lighter dark">
                Instruction Form and Docs
                <!--<button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocumentNetting">
                    <i class="icon-plus"></i>
                    Attach
                </button>-->
            </h3>

            <!--data-bind="visible:!$root.IsUnderlyingMode()" -->
            <div id="attachFile" class="padding-4">
                <!-- <div class="dataTables_wrapper" role="grid" data-bind="if: !(($root.t_IsFxTransaction())||($root.t_IsFxTransactionToIDR() && $root.TransactionDeal().Transaction.ProductType.IsFlowValas==true && $root.TransactionDeal().Transaction.AmountUSD>=1000000))"> -->

                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th style="width:50px">No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <!--<tbody data-bind="foreach: $root.TransactionDeal().Transaction.Documents, visible: $root.TransactionDeal().Transaction.Documents.length > 0">-->
                    <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                        <tr>
                            <!--data-bind="click: $root.EditDocument"-->
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>
                            <!-- <td><span data-bind="text: FileName"></span></td>-->
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: moment(DocumentPath.lastModifiedDate).format(config.format.dateTime)"></span></td><!--$root.LocalDate(LastModifiedDate)-->
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: Transaction.Documents.length == 0">
                        <tr>
                            <td colspan="6" align="center">No entries available.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!--- Grid Underlying Proforma Start -->
            <!-- widget header start -->
            <!--  <div data-bind="if: ($root.t_IsFxTransaction())||($root.t_IsFxTransactionToIDR() && $root.TransactionDeal().Transaction.ProductType.IsFlowValas==true && $root.TransactionDeal().Transaction.AmountUSD>=1000000)">

                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>File Name</th>
                                <th>Document Purpose</th>
                                <th>Update</th>
                                <th>Document Ref Number</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.CustomerUnderlyingFiles">
                            <tr>
                                <td><span data-bind="text: RowID"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath }, text: FileName"></a></td>
                                <td><span data-bind="text: DocumentPurpose.Name"></span></td>
                                <td><span data-bind="text: $root.LocalDate(LastModifiedDate,false,false)"></span></td>
                                <td><span data-bind="text: DocumentRefNumber"></span></td>
                                <td style="width:0px;display: none"><span data-bind="text: DocumentPath"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                &lt;!&ndash; widget header end &ndash;&gt;
            </div>-->

        </div><!-- widget body end -->
        <!--- Grid Underlying Proforma End -->
    </div>

</div>
