﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form2" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 no-padding-right" style="margin-left:7%">
                    <b><span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span></b><br />
                    <b>Branch Name</b> : <span data-bind="text: Transaction.Customer.Branch.Name"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>
            <div class="space-4"></div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Customer Name</label>
                <label class="col-sm-8">
                    <span class="col-sm-6" data-bind="text: Transaction.Customer.Name, visible:$root.IsBranchMakerAfterCBOAccountCIF() == false" disabled="disabled"></span>
                    <input type="text" id="CustomerNameCIF" class="col-sm-6" data-bind="value: Transaction.Customer.Name, visible:$root.IsBranchMakerAfterCBOAccountCIF() == true, disable:$root.IsBranchMakerAfterCBOAccountCIF() == true" />
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">CIF</label>

                <label class="col-sm-8">
                    <span type="text" class="col-sm-4" data-bind="text: Transaction.Customer.CIF,visible:$root.IsBranchMakerAfterCBOAccountCIF() == false" disabled="disable"></span>
                    <input type="text" id="CIF-Id" class="col-sm-4" data-bind="value: Transaction.Customer.CIF,visible:$root.IsBranchMakerAfterCBOAccountCIF() == true, disable:$root.IsBranchMakerAfterCBOAccountCIF() == true" />
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">

                <label class="col-sm-3 control-label bolder no-padding-right">Product</label>

                <label class="col-sm-8">
                    <span class="col-sm-4" class="col-sm-11" disabled="disabled" data-bind="text:Transaction.Product.Name, visible:$root.IsBranchMakerAfterCBOAccountCIF() == false"></span>
                    <select class="col-sm-4" id="Product" name="Product"
                            data-bind="options: $root.Products,
                                    optionsText: function(item) { if(item.ID != null) return item.Code + ' (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().Product,
                                    optionsCaption: 'Please Select...',visible:$root.IsBranchMakerAfterCBOAccountCIF() == true,disable:true"></select>

                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">

                <label class="col-sm-3 control-label bolder no-padding-right">Request Type</label>

                <label class="col-sm-8">
                    <span class="col-sm-4" id="RequestType" name="RequestType" class="col-sm-11" disabled="disabled"
                          data-bind="text: Transaction.RetailCIFCBO.RequestTypes, visible:$root.IsBranchMakerAfterCBOAccountCIF() == false"></span>
                    <select class="col-sm-4" id="RequestType" name="RequestType"
                            data-bind="options: $root.ddlRequestTypes,
                            optionsText: function(item) { if(item.TransTypeID != null) return item.TransactionTypeName },
                            optionsValue: 'TransTypeID',
                            value: $root.Selected().TransactionType,
                            optionsCaption: 'Please Select...',
                            disable:true, visible:$root.IsBranchMakerAfterCBOAccountCIF() == true"></select>
                </label>
            </div>



            <div id="lblmaintenanceid" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsRequestTypeMaintenance()==true">
                <label class="col-sm-3 control-label bolder no-padding-right">Maintenance Type</label>

                <label class="col-sm-8">
                    <span class="col-sm-4" id="MaintenanceType" name="MaintenanceType" class="col-sm-11" disabled="disabled"
                          data-bind="text: Transaction.RetailCIFCBO.MaintenanceTypes, visible:$root.IsBranchMakerAfterCBOAccountCIF() == false"></span>
                    <select class="col-sm-4" id="MaintenanceType" name="MaintenanceType"
                            data-bind="options: $root.ddlMaintenanceTypes,
                            optionsText: function(item) { if(item.ID != null) return item.Name },
                            optionsValue: 'ID',
                            value: $root.Selected().MaintenanceType,
                            optionsCaption: 'Please Select...',
                            visible:$root.IsBranchMakerAfterCBOAccountCIF() == true,
                            disable: true"></select>

                </label>
            </div>



            <!-- Grid Change RM -->
            <div id="lblGridChangeRM" class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible:$root.IsCIFChangeRM()==true">

                <div id="lblChangeRMS" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">Change RM</label>
                    <label class="col-sm-2">
                        <input type="checkbox" class="col-sm-2" id="isChangeRMS" name="isChangeRMS" data-bind="checked: $root.isChangeRMS()" disabled="disabled" />
                    </label>
                </div>

                <div id="lblSegment" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">Segment</label>
                    <label class="col-sm-2">
                        <input type="checkbox" class="col-sm-2" id="isSegment" name="isSegment" data-bind="checked: $root.isSegment()" disabled="disabled" />
                    </label>
                </div>

                <div id="lblSolID" class="form-group form-line no-margin-bottom no-padding-bottom">
                    <label class="col-sm-3 control-label bolder no-padding-right">SOL ID</label>
                    <label class="col-sm-2">
                        <input type="checkbox" class="col-sm-2" id="isSolID" name="isSolID" data-bind="checked: $root.isSolID()" disabled="disabled" />
                    </label>
                </div>
                <div class="padding-4" data-bind="visible:$root.IsBranchMakerAfterCBOAccountCIF() == true">
                    <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadExcel">
                        <i class="icon-plus"></i>
                        Upload
                    </button>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div id="dataExcelChangeRM"></div>
                    </div>
                </div>
                <div class="space-6"></div>



                <!--//attachment-->
                <div class="padding-4">
                    <h3 class="header smaller lighter dark">
                        Attachment
                        <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocumentCIF, visible: $root.IsBranchMakerAfterCBOAccountCIF()==true">
                            <i class="icon-plus"></i>
                            Attach
                        </button>
                    </h3>
                    <div class="dataTables_wrapper" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th style="width:50px">No.</th>
                                    <th>File Name</th>
                                    <th>Document Type</th>
                                    <th>Modified</th>
                                    <th data-bind="visible:$root.IsBranchMakerAfterCBOAccountCIF()==true">Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0 && $root.IsBranchMakerAfterCBOAccountCIF() == false">
                                <tr>
                                    <td><span data-bind="text: $index() + 1"></span></td>
                                    <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                                    <td><span data-bind="text: Type.Name"></span></td>
                                    <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                                </tr>
                            </tbody>
                            <tbody data-bind="foreach: $root.MakerDocuments, visible: $root.MakerDocuments().length > 0 && $root.IsBranchMakerAfterCBOAccountCIF() == true">
                                <tr>
                                    <td><span data-bind="text: $index() +1"></span></td>
                                    <td>
                                        <div data-bind="if:IsNewDocument">
                                            <span data-bind="text: FileName"></span>
                                        </div>
                                        <div data-bind="ifnot:IsNewDocument">
                                            <a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a>
                                        </div>
                                    </td>
                                    <td><span data-bind="text: Type.Name"></span></td>
                                    <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                                    <td><a href="#" data-bind="click: $root.RemoveDocumentDataCIF">Remove</a></td>
                                </tr>
                            </tbody>
                            <tbody data-bind="visible: Transaction.Documents.length == 0 && $root.IsBranchMakerAfterCBOAccountCIF() == false">
                                <tr>
                                    <td colspan="6" align="center">No entries available.</td>
                                </tr>
                            </tbody>
                            <tbody data-bind="visible: $root.MakerDocuments().length == 0 && $root.IsBranchMakerAfterCBOAccountCIF() == true">
                                <tr>
                                    <td colspan="6" align="center">No entries available.</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>

        </div>
        <div class="space-16"></div>
    </div>
