﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>
                <label class="input-group col-sm-8">
                    <input type="text" name="customer-name" class="col-xs-12 col-sm-5" id="customer-name" data-bind="value: Transaction.Customer.Name" disabled="disabled" />
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>
                <label class="col-sm-8">
                    <input type="text" name="cif" id="cif" data-bind="value: Transaction.Customer.CIF" disabled="disabled" />
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="tzreference">Deal Number</label>
                <label class="col-sm-8">
                    <input type="text" name="tzreference" id="tzreference" data-bind="disable:true,value: Transaction.TZReference" />
                    <input type="text" name="murexnumber" id="murexnumber" data-bind="disable:true,value: Transaction.SwapNumber" />
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="netting-tz-reference">
                    Netting Deal Number
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <div class="dataTables_wrapper col-sm-6 no-padding" role="grid">
                            <table class="table table-striped table-bordered dataTable">
                                <thead>
                                    <tr>
                                        <th>DF</th>
                                        <th>SWAP DF</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: Transaction.NettingDealNumber">
                                    <tr>
                                        <td><span data-bind="text: DFNumber"></span></td>
                                        <td><span data-bind="text: SwapDF"></span></td>
                                    </tr>
                                </tbody>
                                <tbody data-bind="visible: Transaction.NettingDealNumber.length == 0">
                                    <tr>
                                        <td colspan="2" class="text-center">
                                            No entries available.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Expected Submission Date Statement Letter</label>
                <label class="input-group col-sm-2">
                    <input type="text" name="expected-statement-letter" id="expected-statement-letter" data-bind="datepicker:true, value: $root.LocalDate(Transaction.ExpectedDateStatementLetter, true),enable: !$root.VerifyColumn('Expected Date Statement Letter')().IsVerified" />
                    <span class="input-group-addon">
                        <i class="icon-calendar bigger-110"></i>
                    </span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Expected Submission Date Underlying</label>
                <label class="input-group col-sm-2">
                    <input type="text" name="expected-statement-letter" id="expected-underlying" data-bind="datepicker:true, value: $root.LocalDate(Transaction.ExpectedDateUnderlying, true),enable: !$root.VerifyColumn('Expected Date Underlying')().IsVerified" />
                    <span class="input-group-addon">
                        <i class="icon-calendar bigger-110"></i>
                    </span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Actual Submission Date Statement Letter</label>
                <label class="input-group col-sm-2">
                    <input type="text" name="expected-statement-letter" id="actual-statement-letter" data-bind="datepicker:true, value: $root.LocalDate(Transaction.ActualDateStatementLetter, true),enable: !$root.VerifyColumn('Actual Date Statement Letter')().IsVerified" />
                    <span class="input-group-addon">
                        <i class="icon-calendar bigger-110"></i>
                    </span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Actual Submission Date Underlying</label>
                <label class="input-group col-sm-2">
                    <input type="text" name="expected-statement-letter" id="actual-underlying" data-bind="datepicker:true, value: $root.LocalDate(Transaction.ActualDateUnderlying, true),enable: !$root.VerifyColumn('Actual Date Underlying')().IsVerified" />
                    <span class="input-group-addon">
                        <i class="icon-calendar bigger-110"></i>
                    </span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Netting Purpose</label>
                <label class="input-group col-sm-2">
                    <select name="netting-purpose" id="netting-purpose" data-bind="options:$root.NettingPurpose,optionsText: 'Name',optionsValue: 'ID',optionsCaption: 'Please Select...', value: $root.Selected().NettingPurpose"></select>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Remarks</label>
                <label class="input-group col-sm-8">
                    <textarea class="col-lg-10" id="remarks" rows="6" data-bind="value: Transaction.Remarks"></textarea>
                </label>
            </div>

            <div class="space-30"></div>
            <div class="col-xs-12" data-bind="with:Transaction">
                <h3 class="header smaller lighter dark">
                    Un-utilize Underlying Documents
                    <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.NewDataUnderlying">
                        <i class="icon-plus"></i>
                        Add Underlying
                    </button>
                </h3>
                <!-- widget box start -->
                <div id="widget-box" class="widget-box">
                    <!-- widget header start -->
                    <div class="widget-header widget-hea1der-small header-color-dark">
                        <h6>Underlying Table</h6>
                        <div class="widget-toolbar">
                            <label class="tooltip-info" data-rel="tooltip" data-placement="top" title="Allow Filter">
                                <i class="blue icon-filter"></i>
                                <input type="checkbox" class="ace ace-switch ace-switch-3" data-bind="checked: $root.UnderlyingGridProperties().AllowFilter" />
                                <span class="lbl"></span>
                            </label>
                            <a href="#" data-bind="click: $root.GetDataUnderlying" class="tooltip-info" data-rel="tooltip" data-placement="top" title="Reload Content">
                                <i class="blue icon-refresh"></i>
                            </a>
                        </div>
                    </div>
                    <!-- widget header end -->
                    <!-- widget body start -->
                    <div class="widget-body">
                        <!-- widget main start -->
                        <div class="widget-main padding-0">
                            <!-- widget slim control start -->
                            <div class="slim-scroll" data-height="200">
                                <!-- widget content start -->
                                <div class="content">

                                    <!-- table responsive start -->
                                    <div class="table-responsive">
                                        <div class="dataTables_wrapper" role="grid">
                                            <table id="Customer Underlying-table" class="table-striped table-bordered table-hover dataTable">
                                                <thead>
                                                    <tr data-bind="with: $root.UnderlyingGridProperties">
                                                        <th style="width:50px">
                                                            No.
                                                        </th>
                                                        <th style="width:50px">
                                                            Utilize
                                                        </th>
                                                        <th data-bind="click: function () { Sorting('StatementLetter'); }, css: GetSortedColumn('StatementLetter')">
                                                            Statement
                                                            Letter
                                                        </th>
                                                        <th data-bind="click: function () { Sorting('UnderlyingDocument'); }, css: GetSortedColumn('UnderlyingDocument')">
                                                            Underlying
                                                            Document
                                                        </th>
                                                        <th data-bind="click: function () { Sorting('DocumentType'); }, css: GetSortedColumn('DocumentType')">
                                                            Type of Doc
                                                        </th>
                                                        <th data-bind="click: function () { Sorting('Currency'); }, css: GetSortedColumn('Currency')">
                                                            Currency
                                                        </th>
                                                        <th data-bind="click: function () { Sorting('Amount'); }, css: GetSortedColumn('Amount')">
                                                            Amount
                                                        </th>
                                                        <th data-bind="click: function () { Sorting('AvailableAmount'); }, css: GetSortedColumn('AvailableAmount')">
                                                            Available
                                                            Amount Underlying in
                                                            USD
                                                        </th>
                                                        <th data-bind="click: function () { Sorting('AvailableAmount'); }, css: GetSortedColumn('AvailableAmount')">
                                                            Utilize Amount Deal
                                                        </th>
                                                        <th data-bind="click: function () { Sorting('DateOfUnderlying'); }, css: GetSortedColumn('DateOfUnderlying')">
                                                            Date
                                                        </th>
                                                        <th data-bind="click: function () { Sorting('SupplierName'); }, css: GetSortedColumn('SupplierName')">
                                                            Supplier
                                                            Name
                                                        </th>
                                                        <th data-bind="click: function () { Sorting('InvoiceNumber'); }, css: GetSortedColumn('InvoiceNumber')">
                                                            Invoice
                                                            Number
                                                        </th>
                                                        <th data-bind="click: function () { Sorting('AttachmentNo'); }, css: GetSortedColumn('AttachmentNo')">
                                                            Attachment
                                                            No
                                                        </th>
                                                        <th data-bind="click: function () { Sorting('AttachmentNo'); }, css: GetSortedColumn('AttachmentNo')">
                                                            Created By
                                                        </th>
                                                        <th data-bind="click: function () { Sorting('AttachmentNo'); }, css: GetSortedColumn('AttachmentNo')">
                                                            Last Modified By
                                                        </th>
                                                        <!--<th data-bind="click: function () { Sorting('ReferenceNumber'); }, css: GetSortedColumn('ReferenceNumber')">Reference Number</th>-->
                                                        <th style="width:50px">
                                                            Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <thead data-bind="visible: $root.UnderlyingGridProperties().AllowFilter" class="table-filter">
                                                    <tr>
                                                        <th class="clear-filter">
                                                            <a href="#" data-bind="click: $root.UnderlyingClearFilters" class="tooltip-info" data-rel="tooltip" data-placement="right" title="Clear Filters">
                                                                <i class="green icon-trash"></i>
                                                            </a>
                                                        </th>
                                                        <th class="clear-filter"></th>
                                                        <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterStatementLetter, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterUnderlyingDocument, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterDocumentType, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterCurrency, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterAmount, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterAvailableAmount, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterAvailableAmount, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <th><input type="text" class="input-sm col-xs-12 date-picker" data-date-format="yyyy/mm/dd" data-bind="value: $root.UnderlyingFilterDateOfUnderlying, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterSupplierName, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterInvoiceNumber, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterAttachmentNo, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterAttachmentNo, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterAttachmentNo, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <!--<th><input type="text" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterReferenceNumber, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>-->
                                                        <th class="clear-filter"></th>
                                                    </tr>
                                                </thead>
                                                <tbody data-bind="foreach: $root.CustomerUnderlyings, visible: $root.CustomerUnderlyings().length > 0">
                                                    <tr>
                                                        <td><span data-bind="text: RowID"></span></td>
                                                        <!--<td><span data-bind="text: $index() +1"></span></td>-->
                                                        <td align="center"><input type="checkbox" id="isUtilize" name="isUtilize" data-bind="checked:IsEnable,event: {change:function(data){$root.onSelectionUtilize($index(),$data)}}" /></td>
                                                        <td><span data-bind="text: StatementLetter.Name"></span></td>
                                                        <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                                        <td><span data-bind="text: DocumentType.Name"></span></td>
                                                        <td><span data-bind="text: Currency.Code"></span></td>
                                                        <td align="right"><span data-bind="text:  $root.FormatNumber(Amount)"></span></td>
                                                        <td align="right"><span data-bind="text:  $root.FormatNumber(AvailableAmount)"></span></td>
                                                        <td align="right"><input type="text" class="input-sm col-xs-15" data-bind="value: UtilizeAmountDeal,attr: { id: 'Position'+$index(), name: 'Position'+$index()}, event:{ 'keyup': $root.onChangeUtilizeAmountDeal }" /></td>
                                                        <td><span data-bind="text: $root.LocalDate(DateOfUnderlying,true,false)"></span></td>
                                                        <td><span data-bind="text: SupplierName"></span></td>
                                                        <td><span data-bind="text: InvoiceNumber"></span></td>
                                                        <td><span data-bind="text: AttachmentNo"></span></td>
                                                        <td><span data-bind="text: LastModifiedBy"></span></td>
                                                        <td><span data-bind="text: LastModifiedBy"></span></td>
                                                        <!--<td><span data-bind="text: ReferenceNumber"></span></td>-->
                                                        <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: $root.GetUnderlyingSelectedRow,text:IsUtilize?'view':'Update'"></span></td>
                                                    </tr>
                                                </tbody>
                                                <tbody data-bind="visible: $root.CustomerUnderlyings().length == 0">
                                                    <tr>
                                                        <td colspan="16" class="text-center">
                                                            No
                                                            entries
                                                            available.
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- table responsive end -->
                                </div>
                                <!-- widget content end -->
                            </div>
                            <!-- widget slim control end -->
                            <!-- widget footer start -->

                            <div class="widget-toolbox padding-8 clearfix">
                                <div class="row" data-bind="with: $root.UnderlyingGridProperties">
                                    <!-- pagination size start -->
                                    <div class="col-sm-6">
                                        <div class="dataTables_paginate paging_bootstrap pull-left">
                                            Showing <select data-bind="options: AvailableSizes, selectedOptions: Size, event: { change: OnPageSizeChange }" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="Showing Page Entries"></select>
                                            rows of <span data-bind="text: Total"></span>
                                            entries
                                        </div>
                                    </div>
                                    <!-- pagination size end -->
                                    <!-- pagination page jump start -->
                                    <div class="col-sm-3">
                                        <div class="dataTables_paginate paging_bootstrap">
                                            Page <input type="text" data-bind="value: Page, event: { change: OnPageChange }" style="width:50px" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="Jump to Page" />
                                            of <span data-bind="text: TotalPages"></span>
                                        </div>
                                    </div>
                                    <!-- pagination page jump end -->
                                    <!-- pagination navigation start -->
                                    <div class="col-sm-3">
                                        <div class="dataTables_paginate paging_bootstrap">
                                            <ul class="pagination">
                                                <li data-bind="click: FirstPage, attr: { class : Page() > 1 ? '' : 'disabled' }">
                                                    <a href="#" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="First Page">
                                                        <i class="icon-double-angle-left"></i>
                                                    </a>
                                                </li>
                                                <li data-bind="click: PreviousPage, attr: { class : Page() > 1 ? '' : 'disabled' }">
                                                    <a href="#" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="Previous Page">
                                                        <i class="icon-angle-left"></i>
                                                    </a>
                                                </li>
                                                <li data-bind="click: NextPage, attr: { class : Page() < TotalPages() ? '' : 'disabled' }">
                                                    <a href="#" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="Next Page">
                                                        <i class="icon-angle-right"></i>
                                                    </a>
                                                </li>
                                                <li data-bind="click: LastPage, attr: { class : Page() < TotalPages() ? '' : 'disabled' }">
                                                    <a href="#" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="Last Page">
                                                        <i class="icon-double-angle-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- pagination navigation end -->
                                </div>
                            </div>
                            <!-- widget footer end -->
                        </div>
                        <!-- widget main end -->
                    </div>
                    <!-- widget body end -->
                </div>
                <div class="space-4"></div>
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label bolder no-padding-right" for="totalutilization">
                            Total Underlying
                        </label>
                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" class="col-sm-4 align-right" name="totalutilization" id="totalunderlying" data-rule-required="true" disabled="disabled" data-rule-number="true" data-bind="value:  $root.FormatNumber($root.utilizationAmount)" />
                                <label class="col-sm-3 control-label bolder align-left" for="total-utilization">
                                    Rounding Amount: <span data-bind="text: formatNumber($root.Rounding())"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label bolder no-padding-right" for="total-utilization">
                            Total Utilization
                        </label>
                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" class="col-sm-4 align-right" name="total-utilization" id="total-utilization" data-rule-required="true" disabled="disabled" data-rule-number="true" data-bind="value:  $root.FormatNumber($root.AmountModel().TotalUtilization)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="padding-4">
                    <h3 class="header smaller lighter dark">
                        Instruction Form and Docs
                        <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocumentUnderlying">
                            <i class="icon-plus"></i>
                            Attach
                        </button>
                    </h3>

                    <div class="dataTables_wrapper" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>File Name</th>
                                    <th>Purpose of Docs</th>
                                    <th>Type of Docs</th>
                                    <th>Modified</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: $root.MakerDocuments, visible: $root.MakerDocuments().length > 0">
                                <tr>
                                    <td><span data-bind="text: $index() +1"></span></td>
                                    <td>
                                        <div data-bind="if:IsNewDocument">
                                            <span data-bind="text: FileName"></span>
                                        </div>
                                        <div data-bind="ifnot:IsNewDocument">
                                            <a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a>
                                        </div>
                                    </td>
                                    <td><span data-bind="text: Purpose.Name"></span></td>
                                    <td><span data-bind="text: Type.Name"></span></td>
                                    <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                                    <td><a href="#" data-bind="click: $root.RemoveDocumentData">Remove</a></td>
                                </tr>
                            </tbody>
                            <tbody data-bind="visible: $root.MakerDocuments().length == 0">
                                <tr>
                                    <td colspan="13" class="text-center">
                                        No entries available.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
