﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>

                <label class="col-sm-1 control-label bolder no-padding-right">Normal</label>
                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Transaction.IsNormal ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <label class="col-sm-8">
                    <span name="customer-name" id="customer-name" data-bind="text: Transaction.Customer.Name"></span>
                    <span class="label label-warning arrowed" data-bind="if: Transaction.IsNewCustomer">
                        <i class="icon-warning-sign bigger-120"></i>
                        New Customer
                    </span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <label class="col-sm-9">
                    <span name="cif" id="cif" data-bind="text: Transaction.Customer.CIF"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>

                <label class="col-sm-9">
                    <span id="product-code" name="product" data-bind="text: Transaction.Product.Code"></span>
                    (<span id="product-name" name="product" data-bind="text: Transaction.Product.Name"></span>)
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <label class="col-sm-8">
                    <span id="channel" name="channel" data-bind="text: Transaction.Channel.Name"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: $root.IsPPURole()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>

                <label class="col-sm-8">
                    <span id="source" name="source" data-bind="text: $root.SourceName()"></span>
                </label>
            </div>

            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="attachment-remarks">Remarks</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <textarea class="col-sm-12" name="attachment-remarks" id="attachment-remarks" rows="6" data-rule-required="false" data-bind="value: Transaction.Remarks , disable:true"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-callback-required">Callback is Required</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Checker.Checker.IsCallbackRequired ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Signature Verification</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Checker.Checker.IsSignatureVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-dormant-account">Dormant Account</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Checker.Checker.IsDormantAccount ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-freeze-account">Freeze Account</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Checker.Checker.IsFreezeAccount ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="if: Transaction.Channel.Name == 'Fax'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-loi-available">Letter of Indemnity Available</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Checker.Checker.IsLOIAvailable ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-statement-Letter-copy">Statement Letter Copy</label>

                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Checker.Checker.IsStatementLetterCopy ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="others">Others</label>

                <div class="col-sm-8">
                    <div class="clearfix">
                        <div class="space-4"></div>
                        <textarea class="col-sm-12" name="others" id="others" rows="6" data-bind="value: Checker.Checker.Others , disable:true"></textarea>
                    </div>
                    <div class="space-4"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-completeness">Document Completeness</label>
                <label class="col-sm-8">
                    <i class="bigger-170" data-bind="css: Transaction.IsDocumentComplete ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
            </div>
        </div>

        <div class="space-4"></div>
        <div data-bind="if: $root.IsTransactionSKNBulks">
            <h3 class="header smaller lighter dark">SKN Bulk Work Sheet</h3>

            <div id="SKNBulkWorksheetTable" style="width: 100%; height: 400px;"></div>
        </div>

        <div class="space-4"></div>

        <div data-bind="if: $root.IsTransactionSKNBulksOriginal">
            <h3 class="header smaller lighter dark">Original</h3>
            <div id="SKNBulkWorksheetTableOriginal" style="width: 100%; height: 400px;"></div>
        </div>

        <div class="space-16"></div>

        <div data-bind="if:callbackDetail.Callbacks!=null">
            <h3 class="header smaller lighter dark">Callback Time</h3>

            <div class="table-responsive">
                <div class="table-responsive" role="grid">
                    <table id="customerContacted-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">Contacted Name</th>
                                <th class="center">Call Back Time</th>
                                <th class="center">Remark</th>
                                <th class="center">Is UTC</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: callbackDetail.Callbacks">
                            <tr>
                                <td><span data-bind="text: Contact.Name"></span></td>
                                <td><span data-bind="text: $root.LocalDate(Time)"></span></td>
                                <td><span data-bind="text: Remark"></span></td>
                                <td class="center">
                                    <label>
                                        <input type="checkbox" class="ace ace-switch ace-switch-6" data-bind="checked: IsUTC" disabled="disabled" />
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="space-16"></div>
        </div>

        <div class="padding-4">
            <h3 class="header smaller lighter dark">
                Attachment
            </h3>

            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            <td align="center">
                                <a href="#" data-bind="visible: ($root.IsDeleteAllowed(ID) || IsDormant), event: { click: $root.RemoveDocumentData }" class="tooltip-info" data-rel="tooltip" data-placement="right" title="Clear Filters">
                                    <i class="green icon-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: Transaction.Documents.length == 0">
                        <tr>
                            <td colspan="6" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>