﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="top-urgent">Top Urgent</label>

                <label class="col-sm-1">
                    <input id="top-urgent" name="top-urgent" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: $root.IsTopUrgent()" />
                    <span class="lbl"></span>
                </label>

                <label class="col-sm-1 control-label bolder no-padding-right" for="top-urgent">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <input id="top-urgent" name="top-urgent" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: $root.IsTopUrgentChain()" />
                    <span class="lbl"></span>
                </label>

                <label class="col-sm-1 control-label bolder no-padding-right" for="isNormal">Normal</label>

                <label class="col-sm-1">
                    <input id="isNormal" name="isNormal" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: $root.IsNormal()" />
                    <span class="lbl"></span>
                </label>

            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <div class="col-sm-6">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-12" name="customer-name" id="customer-name" data-rule-required="true" disabled="disabled" data-bind="value: Transaction.Customer.Name" />
                    </div>
                </div>

                <label class="col-sm-3">
                    <input id="is-new-customer" name="is-new-customer" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsNewCustomer" />
                    <span class="lbl">&nbsp; <b>New Customer</b></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-3" name="cif" id="cif" disabled="disabled" data-bind="value: Transaction.Customer.CIF" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="product" name="product" data-rule-required="true" disabled="disabled" data-bind="options: $root.Products, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Product.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="channel" name="channel" data-rule-required="true" disabled="disabled" data-bind="options: $root.Channels, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Channel.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="if: $root.IsPPURole()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="source" name="source" data-rule-required="true" disabled="disabled" data-bind="options: $root.Sources, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.SourceID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="attachment-remarks">Remarks</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <textarea class="col-sm-12" name="attachment-remarks" id="attachment-remarks" rows="6" data-rule-required="false" disabled="disabled" data-bind="value: Transaction.Remarks"></textarea> <!--, enable: !$root.VerifyColumn('Attachment Remarks')().IsVerified-->
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Signature Verification</label>

                <label class="col-sm-1">
                    <input id="check-signature-verification" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsSignatureVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-dormant-account">Dormant Account</label>

                <label class="col-sm-1">
                    <input id="check-dormant-account" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsDormantAccount" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-freeze-account">Freeze Account</label>

                <label class="col-sm-1">
                    <input id="check-freeze-account" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsFreezeAccount" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Payment Details</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <div data-bind="if: $root.IsPPUHOMaker, visible: $root.IsPPUHOMaker">
                            <textarea class="col-sm-12" name="payment-detail" id="payment-detail" rows="6" data-rule-required="false" data-bind="value: Transaction.PaymentDetails, enable: !$root.VerifyColumn('Payment Detail')().IsVerified"></textarea>
                        </div>
                        <div data-bind="ifnot: $root.IsPPUHOMaker, visible: !$root.IsPPUHOMaker()">
                            <textarea class="col-sm-11" name="payment-detail" id="payment-detail" rows="6" data-rule-required="true" data-bind="value: Transaction.PaymentDetails, enable: !$root.VerifyColumn('Payment Detail')().IsVerified"></textarea>
                            <label class="control-label bolder text-danger" for="payment-detail">*</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="others">Others</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <textarea class="col-sm-12" name="others" id="others" rows="6" data-rule-required="false" disabled="disabled" data-bind="value: Transaction.Others"></textarea>
                    </div>
                </div>
            </div>

        </div>

        <div class="space-4"></div>

        <div class="space-16"></div>

        <div class="padding-4">
            <h3 class="header smaller lighter dark">Instruction Form and Docs</h3>
            <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocument">
                <i class="icon-plus"></i>
                Attach
            </button>
            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: $root.MakerDocuments, visible: $root.MakerDocuments().length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td>
                                <div data-bind="if:IsNewDocument">
                                    <span data-bind="text: FileName"></span>
                                </div>
                                <div data-bind="ifnot:IsNewDocument">
                                    <a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a>
                                </div>
                            </td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            <td><a href="#" data-bind="click: $root.RemoveDocumentData">Remove</a></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: $root.MakerDocuments().length == 0">
                        <tr>
                            <td colspan="6" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>