﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Payment.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Payment.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Payment.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-2 control-label bolder no-padding-right">Top Urgent Chain</label>

                <label class="col-sm-1">
                    <i class="bigger-170" data-bind="css: Payment.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                </label>
                <label class="col-sm-3" />
                <label class="col-sm-2 control-label bolder no-padding-right">Payment Checker tick &nbsp;&nbsp;</label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">Customer Name</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-7" disabled="disabled" data-rule-required="true" data-bind="value: Payment.Customer.Name" />
                        <!--<span class="label label-warning arrowed" data-bind="if: Payment.IsNewCustomer">New Customer</span>-->
                        <label class="col-sm-4" />
                        <label class="col-sm-1">
                            <i class="bigger-170" data-bind="css: $root.VerifyColumn('Customer Name')().IsVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">CIF</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-3" id="cifdata" disabled="disabled" data-rule-required="true" data-bind="value: Payment.Customer.CIF" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">Product</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <!-- <span data-bind="text: Payment.Product.Code"></span>
                        (<span data-bind="text: Payment.Product.Name"></span>) -->
                        <select id="product" name="product" data-rule-required="true" disabled="disabled" data-bind="options: $root.Products, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: Payment.Product.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency">Currency</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="currency" name="currency" class="col-xs-5" data-rule-required="true" disabled="disabled"
                                data-bind="options: $root.Currencies,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().Currency,
                                    event: { change: function(){ $root.PopulateSelected('PaymentMaker', 'Currency'); } }"></select>
                        <label class="col-sm-6" />
                        <label class="col-sm-1">
                            <i class="bigger-170" data-bind="css: $root.VerifyColumn('Currency')().IsVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                        </label>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="trxn-amount">Trxn Amount</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="trxn-amount" id="trxn-amount" data-in="" onkeyup="OnKeyUp('PaymentMaker')" data-rule-required="true" data-rule-number="true" data-bind="value: $root.Amount,enable: !$root.VerifyColumn('Trxn Amount')().IsVerified" />
                        <label class="col-sm-1 control-label bolder text-danger align-left">*</label>
                        <label class="col-sm-6" />
                        <label class="col-sm-1">
                            <i class="bigger-170" data-bind="css: $root.VerifyColumn('Trxn Amount')().IsVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="rate">Rate</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="rate" id="rate" data-in="" disabled="disabled" data-rule-number="true" data-bind="value: $root.Rate" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="eqv-usd">Eqv. USD</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4 align-right" name="eqv-usd" id="eqv-usd" disabled="disabled" data-rule-required="true" data-rule-number="true" data-bind="value: formatNumber_r(Payment.AmountUSD)" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="channel" class="col-xs-3" name=" channel" disabled="disabled" data-rule-required="true" data-bind="options: $root.Channels, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Payment.Channel.ID"></select>
                        <label class="col-sm-8" />
                        <label class="col-sm-1">
                            <i class="bigger-170" data-bind="css: $root.VerifyColumn('Channel')().IsVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-number">Debit Acc Number</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="book-joinAcc" name="book-statement" disabled="disabled" data-bind="value: Payment.IsJointAccount,
                                        options:$root.CIFJointAccounts,
                                        optionsText:'Name',
                                        optionsValue: 'ID',
                                        event:{ change: $root.OnChangeJointAcc }" class="col-xs-3"></select>
                        <select id="debit-acc-number" disabled="disabled" name="debit-acc-number" data-rule-required="true" data-bind="options: $root.DynamicAccounts,optionsText: function(item) { if(item.AccountNumber != '-'  ){ if(item.CustomerName!=null){return item.AccountNumber+' ('+  item.Currency.Code+') - '+ item.CustomerName } return item.AccountNumber+' ('+  item.Currency.Code+')'} return item.AccountNumber}, optionsValue: 'AccountNumber', optionsCaption: 'Please Select...', value: $root.Selected().Account,event:{ change: $root.CheckEmptyAccountNumber }" class="col-xs-5"></select>
                        <!--<label class="control-label bolder text-danger" for="debit-acc-number">*</label>-->
                        <input type="text" class="col-xs-3" disabled="disabled" autocomplete="off" name="debit-acc-number-empty" id="debit-acc-number-empty" data-rule-required="true" data-bind="value: Payment.OtherAccountNumber,visible: $root.IsEmptyAccountNumber()" />
                        <label class="col-sm-3" data-bind="visible :!$root.IsEmptyAccountNumber()" />
                        <!--<label class="control-label bolder text-danger" for="debit-acc-number" data-bind="visible: $root.IsEmptyAccountNumber()">*</label>-->
                        <label class="col-sm-1">
                            <i class="bigger-170" data-bind="css: $root.VerifyColumn('Debit Acc Number')().IsVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                        </label>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-ccy">Debit Acc CCY</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-1" name="debit-acc-ccy" id="debit-acc-ccy" disabled="disabled" data-bind="value: Payment.DebitCurrency.Code" />
                    </div>
                </div>
            </div>

            <!-- add by fandi: Nostro Sundry for OTT and other IDR   -->
            <div class="form-group" data-bind="visible: Payment.Product.Name == 'OTT'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-sundry">Debit Sundry</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="debit-sundry" class="col-sm-3" name="debit-sundry" disabled="disabled"
                                data-bind="options: $root.Sundry,
                                    optionsText: 'OABAccNo',
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().Sundry,
                                    event: { change: function() { $root.PopulateSelected('PaymentMaker', 'Sundry'); } }"></select>
                        <!--enable: !$root.VerifyColumn('Debit Sundry')().IsVerified,-->
                        <label class="col-sm-8" />
                        <label class="col-sm-1">
                            <i class="bigger-170" data-bind="css: $root.VerifyColumn('Debit Sundry')().IsVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                        </label>
                    </div>
                </div>
            </div>

            <div data-bind="visible: Payment.Product.Name == 'OTT', attr: { class: 'form-group' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="Nostro">Nostro</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="nostro" name="nostro" class="col-sm-3" data-rule-required="true"
                                data-bind="options: $root.DynamicNostro,
                                    optionsText: 'NostroUsed',
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    enable: !$root.VerifyColumn('Nostro')().IsVerified,
                                    value: $root.Selected().Nostro,
                                    event: { change: function() { $root.PopulateSelected('PaymentMaker', 'Nostro'); } }"></select>
                        <label class="col-sm-1 control-label bolder text-danger align-left">*</label>
                        <label class="col-sm-7" />
                        <label class="col-sm-1">
                            <i class="bigger-170" data-bind="css: $root.VerifyColumn('Nostro')().IsVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                        </label>
                    </div>
                </div>
            </div>
            <!-- end by  fandi -->

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="application-date">Application Date</label>

                <div class="col-sm-9">
                    <div class="clearfix input-group col-sm-3 no-padding">
                        <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="application-date"
                               name="application-date" disabled="disabled" data-rule-required="true" data-rule-date="true"
                               data-bind="datepicker: true, value: $root.LocalDate(Payment.ApplicationDate, true)" />
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="biz-segment">Biz Segment</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="biz-segment" name="biz-segment" disabled="disabled" data-rule-required="true" 
                                data-bind="options: $root.BizSegments, optionsText: function(item){ if(item.Name != null) return item.Name +' ('+ item.Description +')'; }, 
                                optionsValue: 'ID', 
                                optionsCaption: 'Please Select...', 
                                value: Payment.BizSegment.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="if: ($root.t_IsFxTransaction() || $root.t_IsFxTransactionToIDR()) && $root.ProductID() == ConsProductID.OTTProductIDCons">
                <div data-bind="ifnot: $data == null">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="product-type">Product Type</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="product-type" name="product-type"
                                    data-rule-required="true" disabled="disabled"
                                    data-bind="options: $root.ProductTypes,
                                optionsText: function(item){ if(item.Code != null) return item.Code ; },
                                optionsValue: 'ID',
                        value: $root.Selected().ProductType,
                        optionsCaption: 'Please Select...',
                        event: { change: function(){ $root.PopulateSelected('PaymentMaker', 'ProductType'); } }"></select>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-name">Bene Name</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-6" name="bene-name" id="bene-name" data-rule-required="true" onchange="UpdatePaymentModel(this)"
                               data-bind="event: { keypress: enforceMaxlength }, value: Payment.BeneName,enable: !$root.VerifyColumn('Bene Name')().IsVerified" />
                        <label class="col-sm-1 control-label bolder text-danger align-left">*</label>
                        <label class="col-sm-4" />
                        <label class="col-sm-1">
                            <i class="bigger-170" data-bind="css: $root.VerifyColumn('Bene Name')().IsVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-bank">Bene Bank</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-6" name="bank-bank" id="bank-bank" data-rule-required="true" data-bind="value: Payment.Bank.Description,enable: !$root.VerifyColumn('Bene Bank')().IsVerified && !($root.ProductID() == ConsProductID.OverbookingProductIDCons)" />
                        <label class="col-sm-1 control-label bolder text-danger align-left">*</label>
                        <label class="col-sm-4" />
                        <label class="col-sm-1">
                            <i class="bigger-170" data-bind="css: $root.VerifyColumn('Bene Bank')().IsVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bene-acc-number">Bene Acc Number</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-6" name="bene-acc-number" id="bene-acc-number" data-rule-required="true" onkeyup="formatMakerAccount('PaymentMaker')" data-bind="value: formatAccount($root.BeneAccNumberMask()),enable: !$root.VerifyColumn('Bene Acc Number')().IsVerified" />
                        <label class="col-sm-1 control-label bolder text-danger align-left">*</label>
                        <label class="col-sm-4" />
                        <label class="col-sm-1">
                            <i class="bigger-170" data-bind="css: $root.VerifyColumn('Bene Acc Number')().IsVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-code">Swift Code/Bank Code</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" disabled="disabled" class="col-sm-2" name="bank-code" id="bank-code" data-bind="value: Payment.Bank.SwiftCode"/><!--, enable: !$root.IsOtherBank()-->
                    </div>
                </div>
            </div>

            <div data-bind="if: Payment.BankCharges != null && (Payment.Product.Name == 'OTT' || Payment.Product.Name == 'RTGS' || Payment.Product.Name == 'SKN'), attr: { class: 'form-group' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-charges">Bank Charges</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="bank-charges" class="col-sm-3" name="bank-charges" data-rule-required="true"
                                data-bind="options: $root.BankCharges,
                                    optionsText: 'Code',
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().BankCharges,
                                    enable: !$root.VerifyColumn('Bank Charges')().IsVerified,
                                    event: { change: function() { $root.PopulateSelected('PaymentMaker', 'BankCharges'); } }"></select>
                        <label class="col-sm-1 control-label bolder text-danger align-left">*</label>
                        <label class="col-sm-7" />
                        <label class="col-sm-1">
                            <i class="bigger-170" data-bind="css: $root.VerifyColumn('Bank Charges')().IsVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                        </label>
                    </div>
                </div>
            </div>

            <div data-bind="if: Payment.AgentCharges != null && Payment.Product.Name == 'RTGS', attr: { class: 'form-group' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="agent-charges">Agent Charges</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="agent-charges" class="col-xs-3" name="agent-charges" data-rule-required="true"
                                data-bind="options: $root.AgentCharges,
                                    optionsText: 'Code',
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().AgentCharges,
                                    enable: !$root.VerifyColumn('Agen Charges')().IsVerified,
                                    event: { change: function() { $root.PopulateSelected('PaymentMaker', 'AgentCharges'); } }"></select>
                        <label class="col-sm-1 control-label bolder text-danger align-left">*</label>
                        <label class="col-sm-7" />
                        <label class="col-sm-1">
                            <i class="bigger-170" data-bind="css: $root.VerifyColumn('Agen Charges')().IsVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                        </label>
                    </div>
                </div>
            </div>

            <div data-bind="if: Payment.Product.Name == 'SKN', attr: { class: 'form-group' }">
                <label class="col-sm-3 control-label bolder no-padding-right" for="type">Type</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-4" id="type" name="type" data-rule-required="true" data-rule-number="true" data-bind="value: Payment.Type" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="citizen">Citizen</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <label class="col-sm-1">
                            <input id="citizen" name="citizen" class="ace ace-switch ace-switch-2" type="checkbox" data-bind="checked: Payment.IsCitizen,enable: !$root.VerifyColumn('Citizen')().IsVerified" />
                            <span class="lbl"></span>
                        </label>
                        <label class="col-sm-10" />
                        <label class="col-sm-1">
                            <i class="bigger-170" data-bind="css: $root.VerifyColumn('Citizen')().IsVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Resident</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <label class="col-sm-1">
                            <input id="resident" name="resident" class="ace ace-switch ace-switch-2" type="checkbox" data-bind="checked: Payment.IsResident,enable: !$root.VerifyColumn('Citizen')().IsVerified" />
                            <span class="lbl"></span>
                        </label>
                        <label class="col-sm-10" />
                        <label class="col-sm-1">
                            <i class="bigger-170" data-bind="css: $root.VerifyColumn('Resident')().IsVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group" data-bind="visible:Payment.Product.Name == 'SKN'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Beneficiary Resident</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <label class="col-sm-1">
                            <input id="resident" name="resident" class="ace ace-switch ace-switch-2" disabled="disabled" type="checkbox" data-bind="checked: Payment.IsBeneficiaryResident" />
                            <span class="lbl"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group" data-bind="visible:Payment.Product.Name == 'SKN'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="Beneficiary-type"> Beneficiary Business Type</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="beneficiaryBusiness" name="beneficiaryBusiness" disabled="disabled" class="col-sm-10"
                                data-bind="options: $root.BeneficiaryBusiness,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().BeneficiaryBusines,
                                    optionsCaption: 'Please Select...'"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="lld-code">LLD Code</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <div data-bind="if: Payment.Product.Code != 'OV', visible: Payment.Product.Code != 'OV'">
                            <select id="lld-code" name="lld-code" data-rule-required="true" class="col-sm-10"
                                    data-bind="options: $root.LLDs,
                                    enable: !$root.VerifyColumn('LLD Code')().IsVerified,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().LLD,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('PaymentMaker', 'LLD'); } }"></select>
                            <label class="col-sm-1 control-label bolder text-danger align-left">*</label>
                            <label class="col-sm-1">
                                <i class="bigger-170" data-bind="css: $root.VerifyColumn('LLD Code')().IsVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                            </label>
                        </div>
                        <div data-bind="if: Payment.Product.Code == 'OV', visible: Payment.Product.Code == 'OV'">
                            <select id="lld-code" name="lld-code" class="col-sm-10"
                                    data-bind="options: $root.LLDs,
                                    enable: !$root.VerifyColumn('LLD Code')().IsVerified,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    value: $root.Selected().LLD,
                                    optionsCaption: 'Please Select...',
                                    event: { change: function(){ $root.PopulateSelected('PaymentMaker', 'LLD'); } }"></select>
                            <label class="col-sm-1" />
                            <label class="col-sm-1">
                                <i class="bigger-170" data-bind="css: $root.VerifyColumn('LLD Code')().IsVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Payment Details</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <textarea class="col-sm-10" name="purpose-detail" id="purpose-detail" rows="6" data-rule-required="false" data-bind="value: Payment.PaymentDetails, enable: !$root.VerifyColumn('Payment Detail')().IsVerified"></textarea>
                        <label class="col-sm-1" />
                        <label class="col-sm-1">
                            <i class="bigger-170" data-bind="css: $root.VerifyColumn('Payment Detail')().IsVerified ? 'icon-check green' : 'icon-check-empty'"></i>
                        </label>
                    </div>
                </div>
            </div>

        </div>

        <div class="space-4"></div>
        <!--Curr: <span data-bind="text: JSON.stringify(Payment.Currency)"></span> Acc:<span data-bind="text: Payment.DebitCurrency.Code"></span>-->
        <!-- <div data-bind="if: Payment.Currency.Code == 'USD' && Payment.DebitCurrency.Code != 'USD'"> -->
        <div data-bind="if:(($root.t_IsFxTransaction() ||($root.t_IsFxTransactionToIDR() && !$root.IsNoThresholdValue())) && $root.ProductID() == ConsProductID.OTTProductIDCons)">
            <h3 class="header smaller lighter dark">Un-utilize Underlying Documents</h3>

            <div class="table-responsive">
                <div class="dataTables_wrapper" role="grid" data-bind="with: Payment.Customer">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Statement Letter</th>
                                <th>Underlying</th>
                                <th>Type of Docs</th>
                                <th>Currency</th>
                                <th>Amount</th>
                                <th>Available Amount in USD</th>
                                <th>Date</th>
                                <th>Supllier Name</th>
                                <th>Ref. Number</th>
                                <th style="width:50px">Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Underlyings">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><span data-bind="text: StatementLetter.Name"></span></td>
                                <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                <td><span data-bind="text: DocumentType.Name"></span></td>
                                <td><span data-bind="text: Currency.Code"></span></td>
                                <td><span data-bind="text: Amount"></span></td>
                                <td><span data-bind="text: AvailableAmount"></span></td>
                                <!--<td><span data-bind="text: moment(ExpiredDate).format('YYYY/MM/DD')"></span></td>-->
                                <td><span data-bind="text: $root.LocalDate(ExpiredDate, true, false)"></span></td>
                                <td><span data-bind="text: SupplierName"></span></td>
                                <td><span data-bind="text: ReferenceNumber"></span></td>
                                <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: $root.GetUnderlyingSelectedRow">View</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-code">Underlying Code</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="underlying-code" name="underlying-code" data-rule-required="true"
                                    data-bind="options: $root.UnderlyingDocs,
                                    optionsText: function(item) { if(item.ID != null) return item.Code + ' (' + item.Name + ')'} ,
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().UnderlyingDoc,
                                    event: { change: function(){ $root.PopulateSelected('PaymentMaker', 'UnderlyingDoc'); } }"></select>

                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="visible: $root.isNewUnderlying()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-desc">Other Underlying</label>

                    <div class="col-sm-4 align-left">
                        <div class="clearfix">
                            <textarea class="col-lg-5" id="underlying-desc" rows="4" data-rule-required="true" data-bind="value: Payment.OtherUnderlyingDoc"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Total Utilization</label>

                    <div class="col-sm-4">
                        <div class="clearfix">
                            <input type="text" class="form-control col-sm-4 align-right" name="utilization-amount" id="utilization-amount" data-rule-required="false" disabled="disabled" data-rule-number="true" data-bind="value : formatNumber_r($root.AmountModel().TotalPPUUtilization())" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Total IDR->FCY Transaction in USD</label>

                    <div class="col-sm-4">
                        <div class="clearfix">
                            <input type="text" class="form-control col-sm-4 align-right" name="utilization-amount" id="TotalAmountTrx" data-rule-required="false" disabled="disabled" data-rule-number="true" data-bind="value : formatNumber_r($root.AmountModel().TotalPPUAmountsUSD())" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="input-group col-sm-3 control-label bolder no-padding-right" for="tz-number">TZ Number</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control col-sm-4" autocomplete="off" placeholder="TZ Number" name="tz-number" id="tz-number" data-bind="value: Payment.TZNumber,event:{change:$root.TZ_Changed}" disabled="disabled" data-rule-required=" true">
                    </div>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-purple btn-sm" data-bind="click: $root.btnLookupTz" disabled="disabled"> <!--, disable: $root.IsSearchTZ()-->
                            Lookup TZ
                            <i class="icon-search icon-on-right bigger-110"></i>
                        </button>
                    </span>
                </div>
                <div class="form-group">
                    <label class="input-group col-sm-3 control-label bolder no-padding-right">&nbsp;</label>
                    <div class="col-sm-4">
                        <span id="tz-message" data-bind="attr: { class: $root.TZModel().Class }, text: $root.TZModel().Message">-</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-4"></div>

        <div>
            <h3 class="header smaller lighter dark">Attachment</h3>

            <div class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Payment.Documents, visible: Payment.Documents.length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: Payment.Documents.length == 0">
                        <tr>
                            <td colspan="13" class="text-center">
                                No entries available.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div id="messageApprover" align="center" style="width:90%" class="modal fade" tabindex="-1" data-keyboard="false">
    <!--<div id="messageApprover" align="center" style="display: none">--><br />
    <div class="modal-header no-padding">
        <div class="table-header">
            <span data-bind="html: $root.OriginalValue().PaymentConfirmationTitle"></span>
        </div>
    </div>
    <div class="modal-body no-padding" data-bind="ifnot: $data == null">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Original Value</th>
                    <th>Current Value</th>
                </tr>
            </thead>
            <tbody>
                <tr data-bind="visible:$root.OriginalValue().AmountOri().Status()">
                    <td>Trxn Amount</td>
                    <td><label data-bind="text: formatNumber_r($root.OriginalValue().AmountOri().Value())"></label></td>
                    <td><label data-bind="text: formatNumber_r(Payment.Amount)"></label></td>
                </tr>
                <tr data-bind="visible:$root.OriginalValue().RateOri().Status">
                    <td>Rate</td>
                    <td><label data-bind="text: formatNumber_r($root.OriginalValue().RateOri().Value())"></label></td>
                    <td><label data-bind="text: formatNumber_r(Payment.Rate)" for="rate"></label></td>
                </tr>
                <tr data-bind="visible:$root.OriginalValue().AmountUSDOri().Status()">
                    <td>Eqv. USD</td>
                    <td><label data-bind="text: formatNumber_r($root.OriginalValue().AmountUSDOri().Value())"></label></td>
                    <td><label data-bind="text: formatNumber_r(Payment.AmountUSD)"></label></td>
                </tr>

                <tr data-bind="visible:$root.OriginalValue().BeneNameOri().Status()">
                    <td>Bene Name</td>
                    <td><label data-bind="text: $root.OriginalValue().BeneNameOri().Value"></label></td>
                    <td><label data-bind="text: Payment.BeneName"></label></td>
                </tr>
                <tr data-bind="visible:$root.OriginalValue().BanksOri().Status()">
                    <td>Bene Bank</td>
                    <td><label data-bind="text: $root.OriginalValue().BanksOri().Value"></label></td>
                    <td><label data-bind="text: $root.BeneBanktmp()"></label></td>
                    <!--<td><label data-bind="text: $root.PaymentMaker().Payment.Bank.Description"></label></td>-->
                </tr>
                <tr data-bind="visible:$root.OriginalValue().SwiftCodeOri().Status()">
                    <td>Swift Code/Bank Code</td>
                    <td><label data-bind="text: $root.OriginalValue().SwiftCodeOri().Value"></label></td>
                    <td><label data-bind="text: $root.SwiftCodetmp()"></label></td>
                    <!--<td><label data-bind="text:$root.PaymentMaker().Payment.Bank.SwiftCode"></label></td>-->
                </tr>

                <tr data-bind="visible:$root.OriginalValue().BeneAccNumberOri().Status()">
                    <td>Bene Acc Number</td>
                    <td><label data-bind="text: $root.OriginalValue().BeneAccNumberOri().Value"></label></td>
                    <td><label data-bind="text: $root.AccNumbertmp()"></label></td>
                    <!--<td><label data-bind="text: $root.PaymentMaker().Payment.BeneAccNumber"></label></td-->
                </tr>
                <tr data-bind="visible:$root.OriginalValue().BankChargesOri().Status()">
                    <td>Bank Charges</td>
                    <!-- <td><label data-bind="text: $root.OriginalValue().BankChargesOri().Value"></label></td>-->
                    <!--<td><label data-bind="text: $root.CargerBankOrig"></label></td>
                    <td><label data-bind="text: $root.PaymentMaker().Payment.BankCharges.Code"></label></td>-->

                    <td><label data-bind="text: $root.CargerBankOrig"></label></td>
                    <td><label data-bind="text: $root.bankChargestmp()"></label></td>
                </tr>

                <tr data-bind="visible:$root.OriginalValue().AgentChargesOri().Status() && Payment.Product.Name == 'RTGS'">
                    <td>Agent Charges</td>
                    <!--<td><label data-bind="text: $root.OriginalValue().AgentChargesOri().Value"></label></td>-->
                    <!--
                                                <td><label data-bind="text: $root.AgentChargesOrig"></label></td>
                                                <td><label data-bind="text: $root.PaymentMaker().Payment.AgentCharges.Code"></label></td>
                    -->

                    <td><label data-bind="text: $root.AgentChargesOrig"></label></td>
                    <td><label data-bind="text: $root.agentChargestmp()"></label></td>
                </tr>

                <tr data-bind="visible:$root.OriginalValue().IsCitizenOri().Status()">
                    <td>Citizen</td>
                    <!--
                                                <td><label data-bind="text: $root.ReplaceBoolean($root.OriginalValue().IsCitizenOri().Value())"></label></td>
                                                <td><label data-bind="text: $root.ReplaceBoolean(Payment.IsCitizen)"></label></td>
                    -->

                    <td><label data-bind="text: $root.ReplaceBoolean($root.OriginalValue().IsCitizenOri().Value())"></label></td>
                    <td><label data-bind="text: $root.ReplaceBoolean($root.IsCitizentmp())"></label></td>

                </tr>

                <tr data-bind="visible:$root.OriginalValue().IsResidentOri().Status()">
                    <td>Resident</td>
                    <!--
                                                <td><label data-bind="text: $root.ReplaceBoolean($root.OriginalValue().IsResidentOri().Value())"></label></td>
                                                <td><label data-bind="text: $root.ReplaceBoolean(Payment.IsResident)"></label></td>
                    -->

                    <td><label data-bind="text: $root.ReplaceBoolean($root.OriginalValue().IsResidentOri().Value())"></label></td>
                    <td><label data-bind="text: $root.ReplaceBoolean($root.IsResidenttmp())"></label></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
