﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-all"></label>

                <label class="col-sm-8 control-label bolder no-padding-right" for="product-code">Check All</label>

                <label class="col-sm-1">
                    <input name="check-all" id="check-all" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.CheckAll(), click: function(data) { $root.CheckAllData('TransactionCheckerNetting'); }" />
                    <span class="lbl"></span>
                </label>
            </div>


            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>
                <label class="input-group col-sm-8">
                    <input type="text" name="customer-name" class="col-xs-12 col-sm-5" id="customer-name" data-bind="value: Transaction.Customer.Name,disable:true" />
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Customer Name')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>
                <label class="col-sm-8">
                    <input type="text" name="cif" id="cif" data-bind="value: Transaction.Customer.CIF,disable:true" />
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('CIF')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="tzreference">Deal Number</label>
                <label class="col-sm-8">
                    <input type="text" name="tzreference" id="tzreference" data-bind="disable:true,value: Transaction.TZReference" />
                    <input type="text" name="murexnumber" id="murexnumber" data-bind="disable:true,value: Transaction.SwapNumber" />
                </label>
                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Deal Number')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="netting-tz-reference">
                    Netting Deal Number
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <div class="dataTables_wrapper col-sm-6 no-padding" role="grid">
                            <table class="table table-striped table-bordered dataTable">
                                <thead>
                                    <tr>
                                        <th>DF</th>
                                        <th>SWAP DF</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: Transaction.NettingDealNumber">
                                    <tr>
                                        <td><span data-bind="text: DFNumber"></span></td>
                                        <td><span data-bind="text: SwapDF"></span></td>
                                    </tr>
                                </tbody>
                                <tbody data-bind="visible: Transaction.NettingDealNumber.length == 0">
                                    <tr>
                                        <td colspan="2" class="text-center">
                                            No entries available.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Expected Submission Date Statement Letter</label>
                <label class="input-group col-sm-2">
                    <input type="text" name="expected-statement-letter" id="expected-statement-letter" data-bind="datepicker:true, value: $root.LocalDate(Transaction.ExpectedDateStatementLetter, true),disable:true" />
                    <span class="input-group-addon">
                        <i class="icon-calendar bigger-110"></i>
                    </span>
                </label>
                <label class="col-sm-1 pull-right" data-bind="with: $root.VerifyColumn('Expected Date Statement Letter')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Expected Submission Date Underlying</label>
                <label class="input-group col-sm-2">
                    <input type="text" name="expected-statement-letter" id="expected-underlying" data-bind="datepicker:true, value: $root.LocalDate(Transaction.ExpectedDateUnderlying, true),disable:true" />
                    <span class="input-group-addon">
                        <i class="icon-calendar bigger-110"></i>
                    </span>
                </label>
                <label class="col-sm-1 pull-right" data-bind="with: $root.VerifyColumn('Expected Date Underlying')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Actual Submission Date Statement Letter</label>
                <label class="input-group col-sm-2">
                    <input type="text" name="expected-statement-letter" id="actual-statement-letter" data-bind="datepicker:true, value: $root.LocalDate(Transaction.ActualDateStatementLetter, true),disable:true" />
                    <span class="input-group-addon">
                        <i class="icon-calendar bigger-110"></i>
                    </span>
                </label>
                <label class="col-sm-1 pull-right" data-bind="with: $root.VerifyColumn('Actual Date Statement Letter')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>

            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Actual Submission Date Underlying</label>
                <label class="input-group col-sm-2">
                    <input type="text" name="expected-statement-letter" id="actual-underlying" data-bind="datepicker:true, value: $root.LocalDate(Transaction.ActualDateUnderlying, true),disable:true" />
                    <span class="input-group-addon">
                        <i class="icon-calendar bigger-110"></i>
                    </span>
                </label>
                <label class="col-sm-1 pull-right" data-bind="with: $root.VerifyColumn('Actual Date Underlying')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Netting Purpose</label>
                <label class="input-group col-sm-2">
                    <select name="netting-purpose" id="netting-purpose" data-bind="options:$root.NettingPurpose,optionsText: 'Name',optionsValue: 'ID',optionsCaption: 'Please Select...', value: $root.Selected().NettingPurpose,disable:true"></select>
                </label>
                <label class="col-sm-1 pull-right" data-bind="with: $root.VerifyColumn('Netting Purpose')">
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Remarks</label>
                <label class="input-group col-sm-8">
                    <textarea class="col-lg-10" id="remarks" rows="6" data-bind="value: Transaction.Remarks,disable:true"></textarea>
                </label>
            </div>

            <div class="space-30"></div>
            <div>
                <h3 class="header smaller lighter dark">Un-Utilize Underlying Documents</h3>
                <div class="table-responsive">
                    <div class="dataTables_wrapper" role="grid" data-bind="with: Transaction.Customer">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Statement Letter</th>
                                    <th>Underlying</th>
                                    <th>Type of Docs</th>
                                    <th>Currency</th>
                                    <th>Amount</th>
                                    <th>Available Amount in USD</th>
                                    <th>Date</th>
                                    <th>Supllier Name</th>
                                    <th>Ref. Number</th>
                                    <th style="width:50px">Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: Underlyings">
                                <tr>
                                    <td><span data-bind="text: $index() +1"></span></td>
                                    <td><span data-bind="text: StatementLetter.Name"></span></td>
                                    <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                    <td><span data-bind="text: DocumentType.Name"></span></td>
                                    <td><span data-bind="text: Currency.Code"></span></td>
                                    <td><span data-bind="text: $root.FormatNumber(Amount)"></span></td>
                                    <td><span data-bind="text: $root.FormatNumber(AvailableAmount)"></span></td>
                                    <td><span data-bind="text: $root.LocalDate(ExpiredDate, true, false)"></span></td>
                                    <td><span data-bind="text: SupplierName"></span></td>
                                    <td><span data-bind="text: ReferenceNumber"></span></td>
                                    <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: $root.GetUnderlyingSelectedRow">View</span></td>
                                </tr>
                            </tbody>
                            <tbody data-bind="visible: Underlyings.length == 0">
                                <tr>
                                    <td colspan="11" align="center">No entries available.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="space-10"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Total Utilization</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" class="col-sm-4 align-right" name="utilization-amount" id="utilization-amount" data-rule-required="false" disabled="disabled" data-rule-number="true" data-bind="value : formatNumber_r($root.AmountModel().TotalDealUtilization())" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Total IDR->FCY Transaction in USD</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" class="col-sm-4 align-right" name="utilization-amount" id="TotalAmountTrx" data-rule-required="false" disabled="disabled" data-rule-number="true" data-bind="value : formatNumber_r($root.AmountModel().TotalDealAmountsUSD())" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="space-4"></div>

            <h3 class="header smaller lighter dark">Instruction Form and Docs</h3>

            <div id="attachFile" class="padding-4">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th style="width:50px">No.</th>
                            <th>File Name</th>
                            <th>Purpose of Docs</th>
                            <th>Type of Docs</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                        <tr>
                            <td><span data-bind="text: $index() +1"></span></td>
                            <td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>
                            <td><span data-bind="text: Purpose.Name"></span></td>
                            <td><span data-bind="text: Type.Name"></span></td>
                            <td><span data-bind="text: moment(DocumentPath.lastModifiedDate).format(config.format.dateTime)"></span></td><!--$root.LocalDate(LastModifiedDate)-->
                        </tr>
                    </tbody>
                    <tbody data-bind="visible: Transaction.Documents.length == 0">
                        <tr>
                            <td colspan="6" align="center">No entries available.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
