﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>
            <!-- Urgency -->
            <div class="form-group" id="urgent">
                <label class="col-sm-3 control-label bolder no-padding-right">Urgency</label>
                <div class="col-sm-8">
                    <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent</label>
                    <label class="col-sm-1">
                        <i class="bigger-170" data-bind="css: Transaction.IsTopUrgent ? 'icon-check green' : 'icon-check-empty'"></i>
                    </label>
                    <label class="col-sm-3 control-label bolder no-padding-right">Top Urgent Chain</label>
                    <label class="col-sm-1">
                        <i class="bigger-170" data-bind="css: Transaction.IsTopUrgentChain ? 'icon-check green' : 'icon-check-empty'"></i>
                    </label>
                </div>

            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <div class="col-sm-6">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-12" name="customer-name" id="customer-name" disabled="disabled" data-rule-required="true" data-bind="value: Transaction.Customer.Name" />
                    </div>
                </div>

                <label class="col-sm-2">
                    <span class="label label-warning arrowed" data-bind="if: Transaction.IsNewCustomer">
                        <i class="icon-warning-sign bigger-120"></i>
                        New Customer
                    </span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-3" name="cif" id="cif" disabled="disabled" data-bind="value: Transaction.Customer.CIF" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="product" name="product" data-rule-required="true" disabled="disabled"
                                data-bind="options: $root.Products,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.Product.ID"></select>
                    </div>
                </div>
            </div>



            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="channel" name="channel" disabled="disabled" data-rule-required="true" data-bind="options: $root.Channels, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.Channel.ID"></select>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="if: $root.IsPPURole()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="Source" name="Source" disabled="disabled" data-rule-required="true" data-bind="options: $root.Sources, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Transaction.SourceID"></select>
                    </div>
                </div>
            </div>

            <!-- Transaction Type-->
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="transaction-type"> Transaction Type</label>
                <label class="col-sm-8">
                    <input type="text" id="transaction-type" disabled="disabled" name="transaction-type" data-bind="value: Transaction.TransactionType.TransactionTypeName" />

                </label>
            </div>

            <!-- FD Acc Number -->
            <div class="form-group" data-bind="visible:$root.IsPrematureBreak() || $root.IsBreakAtMaturity() || $root.IsChangeOfInstruction() || $root.IsFDMaintenance()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="fd-acc-number">FD Acc Number</label>
                <div class="col-sm-4">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-11" name="fd-acc-number" id="fd-acc-number" disabled="disabled" data-bind="value: Transaction.FDAccNumber" />
                    </div>
                </div>
            </div>

            <!-- Currency-->
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="currency-code">Currency</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="currency" name="currency" data-rule-required="true" disabled="disabled"
                                data-bind="options: $root.Currencies,
                                    optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: Transaction.Currency.ID"></select>
                    </div>
                </div>


            </div>

            <!-- Amount-->
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="amount">Amount</label>
                <div class="col-sm-8">
                    <input type="text" name="amount" id="amount" class="align-right" disabled="disabled" data-bind="value: formatNumber(Transaction.Amount)" />
                </div>
            </div>

            <!-- Debit Account Number -->
            <div class="form-group" data-bind="visible:$root.IsChangeOfInstruction()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-number">Debit Account Number</label>
                <div class="col-sm-4">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-11" name="debit-acc-number" id="debit-acc-number" disabled="disabled" data-bind="value: Transaction.DebitAccNumber" />
                    </div>
                </div>
            </div>

            <!-- Credit Acc Number -->
            <div class="form-group" data-bind="visible: $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="credit-acc-number">Credit Acc Number</label>
                <label class="col-sm-8">
                    <input type="text" id="credit-acc-number" for="credit-acc-number" data-bind="value: Transaction.CreditAccNumber" disabled="disabled" />
                </label>
            </div>            

            <!-- Tenor -->
            <!--<div class="form-group" data-bind="visible:$root.IsFDMaintenance()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="tenor">Tenor</label>
                <label class="col-sm-8">
                    <input type="text" id="tenor" name="tenor" data-bind="value: Transaction.Tenor" disabled="disabled" />
                </label>
            </div>-->

            <!-- Value Date-->
            <div class="form-group" data-bind="visible:$root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="value-date">Value Date</label>
                <div class="col-sm-9">
                    <div class="clearfix input-group col-sm-3 no-padding">
                        <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="application-date" disabled="disabled" name="application-date" data-rule-required="true" data-rule-date="true" data-bind="datepicker: true, value: $root.LocalDate(Transaction.ValueDate, true)">
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>

            <!-- maturity date-->
            <div class="form-group" data-bind="visible:$root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="maturity-date">Maturity Date</label>
                <div class="col-sm-9">
                    <div class="clearfix input-group col-sm-3 no-padding">
                        <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="application-date" disabled="disabled" name="application-date" data-rule-required="true" data-rule-date="true" data-bind="datepicker: true, value: $root.LocalDate(Transaction.MaturityDate, true)">
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Transaction Remarks-->
            <div class="form-group" data-bind="visible: $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="transaction-remarks">Transaction Remarks</label>
                <div class="col-xs-9 align-left">
                    <div class="clearfix">
                        <textarea class="col-lg-10" id="transaction-remarks" name="transaction-remarks" data-bind="value: Transaction.TransactionRemarks" width="100" rows="4" disabled="disabled" />
                    </div>
                </div>
            </div>

            <!-- Bank Name & Acc No-->
            <div class="form-group" data-bind="visible: $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="bank-name-acc-no">Bank Name & Acc No</label>
                <label class="col-sm-8">
                    <input type="text" id="bank-name-acc-no" name="bank-name-acc-no" data-bind="value: Transaction.BankNameAccNumber" disabled="disabled" />
                </label>
            </div>

            <!-- Attachement Remarks--><!-- New Placement-Branch-->
            <div class="form-group" data-bind="visible:$root.IsFDMaintenance() || $root.IsChangeOfInstruction() || $root.IsBreakAtMaturity() || $root.IsPrematureBreak() || $root.IsNewPlacement()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="attachment-remarks">Attachment Remarks</label>
                <div class="col-xs-9 align-left">
                    <div class="clearfix">
                        <textarea class="col-lg-10" id="attachment-remarks" name="attachment-remarks" data-bind="value:Transaction.AttachmentRemarks" rows="4" disabled="disabled" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="docs-complete-fd">Docs Complete</label>
                <div class="col-xs-9 align-left">
                    <div class="clearfix">
                        <input type="checkbox" class="col-lg-1" id="docs-complete-fd" name="docs-complete-fd" data-bind="checked:Transaction.DocsComplete" disabled="disabled" />
                    </div>
                </div>
            </div>

            <!--<div class="form-group" data-bind="visible:!$root.IsDocsComplete()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="all-in-rate-fd">All In Rate</label>
                <div class="col-xs-9 align-left">
                    <div class="clearfix">
                        <input type="text" class="col-lg-10" id="all-in-rate-fd" name="all-in-rate-fd" data-bind="value:Transaction.AllInRate" disabled="disabled" />
                    </div>
                </div>
            </div>-->
            <!-- Intersert Rate-->
            <div class="form-group" data-bind="visible:!$root.IsDocsComplete()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="interest-rate">Interest Rate</label>
                <label class="col-sm-8">
                    <input type="text" id="interest-rate" class="align-right" name="interest-rate" data-bind="value: formatNumberInterestRateFD(Transaction.InterestRate)" disabled="disabled" />
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="tenor-fd">Tenor</label>
                <div class="col-xs-9 align-left">
                    <div class="clearfix">
                        <input type="text" class="col-lg-10" id="tenor-fd" name="tenor-fd" data-bind="value:Transaction.Tenor" disabled="disabled" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ftp-rate-fd">FTP Rate</label>
                <div class="col-xs-9 align-left">
                    <div class="clearfix">
                        <input type="text" class="col-lg-10" id="ftp-rate-fd" name="ftp-rate-fd" data-bind="value:Transaction.FTPRate" disabled="disabled" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-callback-isrequired">Callback Is Required</label>

                <label class="col-sm-1">
                    <input id="check-callback-isrequired" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsCallbackRequired" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Signature Verification</label>

                <label class="col-sm-1">
                    <input id="check-signature-verification" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsSignatureVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-dormant-account">Dormant Account</label>

                <label class="col-sm-1">
                    <input id="check-dormant-account" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsDormantAccount" />
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-freeze-account">Freeze Account</label>

                <label class="col-sm-1">
                    <input id="check-freeze-account" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsFreezeAccount" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-loi-available">Letter of Indemnity Available</label>

                <label class="col-sm-1">
                    <input id="check-letter-of-indemnity" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsLOIAvailable" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-document-completeness">Document Completeness</label>

                <label class="col-sm-1">
                    <input id="check-document-completeness" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: Transaction.IsDocumentComplete" />
                    <span class="lbl"></span>
                </label>
            </div>

            
        </div>

        <div class="space-4"></div>

        <!-- transaction callbacks start -->
        <div id="transaction-callback">
            <h3 class="header smaller lighter dark">Contact Table</h3>

            <div class="table-responsive">
                <div class="table-responsive" role="grid">
                    <table id="customerContact-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">Contacted Name</th>
                                <th class="center">Phone No</th>
                                <th class="center">DOB</th>
                                <!--<th class="center">Address</th>-->
                                <th class="center">ID Number</th>
                                <th class="center">POA Function</th>
                                <th class="center">Occupation ID</th>
                                <th class="center">Place of Birth</th>
                                <th class="center">Effective Date</th>
                                <th class="center">Cancellation Date</th>
                                <!--<th class="center">Select</th>-->
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Transaction.Customer.Contacts">
                            <tr data-bind="click: $root.SelectedContacts">
                                <td><span data-bind="text: Name"></span></td>
                                <td><span data-bind="text: PhoneNumber"></span></td>
                                <td><span data-bind="text: $root.LocalDate(DateOfBirth, true, false)"></span></td>
                                <!--<td><span data-bind="text: moment(DateOfBirth).format('MM-DD-YYYY')"></span></td>-->
                                <!--<td><span data-bind="text: Address "></span></td>-->
                                <td><span data-bind="text: IDNumber"></span></td>
                                <td><span data-bind="text: POAFunctionVW"></span></td>
                                <td><span data-bind="text: OccupationInID"></span></td>
                                <td><span data-bind="text: PlaceOfBirth"></span></td>
                                <td><span data-bind="text: $root.LocalDate(EffectiveDate, true, false)"></span></td>
                                <td><span data-bind="text: $root.LocalDate(CancellationDate, true, false)"></span></td>
                                <!--<td><span data-bind="text: moment(EffectiveDate).format('MM-DD-YYYY')"></span></td>
                                <td><span data-bind="text: moment(CancellationDate).format('MM-DD-YYYY')"></span></td>-->
                                <!--<td class="center">
                                    <label>
                                        <input type="checkbox" class="ace ace-switch ace-switch-6" data-bind="value:ID, event:{change: $root.SelectedContacts}, attr: { id: 'checkbox'+$index()+'' }"/>
                                        <span class="lbl"></span>
                                    </label>
                                </td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="space-4"></div>
            
            <!-- transaction callbacks end -->

            <div class="space-4"></div>

            <h3 class="header smaller lighter dark">
                Callback Time
                <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.LoadCustomerCallback">
                    <i class="icon-plus"></i>
                    Load Customer Callback
                </button>
            </h3>

            <div class="table-responsive">
                <div class="table-responsive" role="grid">
                    <table id="customerContacted-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">Contacted Name</th>
                                <th class="center">Call Back Time</th>
                                <th class="center">Remark</th>
                                <th class="center">Is UTC</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Callbacks">
                            <tr>
                                <td><span data-bind="text: Contact.Name"></span></td>
                                <td><span data-bind="text: $root.TimeFormat(Time)"></span></td>
                                <!--<td>
                                    <div class="input-group bootstrap-timepicker">
                                        <input type="text" class="form-control time-picker" data-bind="timepicker: true, text: Time" />
                                        <span class="input-group-addon">
                                            <i class="icon-time bigger-110"></i>
                                        </span>
                                    </div>
                                </td>-->
                                <td><span data-bind="text: Remark"></span></td>
                                <td class="center">
                                    <label>
                                        <input type="checkbox" class="ace ace-switch ace-switch-6" data-bind="checked: IsUTC" disabled="disabled" />
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-horizontal" role="form">                
                <div class="form-group" data-bind="visible:false">
                    <label class="col-sm-3 control-label">
                        Remarks
                    </label>

                    <div class="col-sm-9">
                        <textarea name="remarks" id="remarks" class="col-sm-12" rows="5" data-bind="event: { change: $root.OnRemarkChanges }"></textarea>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="padding-4">
                <h3 class="header smaller lighter dark">Attachment</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>File Name</th>
                                <th>Document Type</th>
                                <th>Modified</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath, target:'_blank' }, text: FileName"></a></td>
                                <!--<td><span data-bind="text: Purpose.Name"></span></td>-->
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: $root.LocalDate(LastModifiedDate)"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: Transaction.Documents.length == 0">
                            <tr>
                                <td colspan="13" class="text-center">
                                    No entries available.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    <html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
    <head>
        <!--[if gte mso 9]><xml>
        <mso:CustomDocumentProperties>
        <mso:PublishingIsFurlPage msdt:dt="string">0</mso:PublishingIsFurlPage>
        <mso:PublishingContactPicture msdt:dt="string"></mso:PublishingContactPicture>
        <mso:PublishingRollupImage msdt:dt="string"></mso:PublishingRollupImage>
        <mso:Audience msdt:dt="string"></mso:Audience>
        <mso:PublishingContactName msdt:dt="string"></mso:PublishingContactName>
        <mso:Comments msdt:dt="string"></mso:Comments>
        <mso:PublishingContactEmail msdt:dt="string"></mso:PublishingContactEmail>
        </mso:CustomDocumentProperties>
        </xml><![endif]-->
        <title></title>
    </head>
