

<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-15" data-bind="visible: UserView().IsActive()">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="ID">
                    Employee ID
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="id" name="id" data-bind="value: UserView().EmployeeUsername, enable: false" class="col-xs-10 col-sm-7" data-rule-required="true" data-rule-maxlength="50" style="display:none;" />
                        <input type="text" data-bind="value: UserView().EmployeeViewname, enable: false" class="col-xs-10 col-sm-7" />
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Name">
                    Employee Name
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="Name" name="Name" data-bind="value: UserView().EmployeeName, enable: false" class="col-xs-10 col-sm-7" data-rule-required="true" data-rule-maxlength="50" />
                    </div>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="description">
                    Email
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="Email" name="Email" data-bind="value: UserView().EmployeeEmail, enable: false" class="col-xs-10 col-sm-7" data-rule-maxlength="255" data-rule-email="true" />
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="rank">
                    Rank
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="rank" name="rank" data-bind="value:  UserView().Rank().ID, enable: false, options:  UserView().ddlRank, optionsText: 'Name',optionsValue: 'ID',optionsCaption: 'Choose...'" data-rule-required="true" data-rule-value="true" class="col-xs-10 col-sm-7"></select>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="segment">
                    Segment
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="segment" name="segment" data-bind="value:  UserView().Segment().ID, enable: false, options:  UserView().ddlSegment, optionsText: function(item) { if(item.Name != null) return item.Name + ' (' + item.Description + ')'},optionsValue: 'ID',optionsCaption: 'Choose...'" data-rule-required="true" data-rule-value="true" class="col-xs-10 col-sm-7"></select>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="branch">
                    Branch
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="branch" name="branch" data-bind="value: UserView().Branch().ID, enable: false, options:  UserView().ddlBranch, optionsText: 'Name',optionsValue: 'ID',optionsCaption: 'Choose...'" data-rule-required="true" data-rule-value="true" class="col-xs-10 col-sm-7"></select>
                    </div>
                </div>
            </div>
            <!-- awal -->
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="user-category">
                    User Category
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="user-category" name="user-category" data-bind="value: UserView().UserCategoryCode().UserCategoryCode, enable: false, options:  UserView().ddlUserCategoryCode, optionsText: 'UserCategoryCode',optionsValue: 'UserCategoryCode',optionsCaption: 'Choose...'" data-rule-required="false" data-rule-value="true" class="col-xs-10 col-sm-7"></select>
                    </div>
                </div>
            </div>
            <!--akhir-->

            <div class="space-4"></div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="function-role">
					Function Role
				</label>
				<div class="col-sm-9">
					<div class="clearfix">
						<select id="function-role" name="function-role" data-bind="value: UserView().FunctionRole().ID, enable: false, options: UserView().ddlFunctionRole, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Choose...'" data-rule-required = "true" data-rule-value = "true" class="col-xs-10 col-sm-7"></select>
					</div>
				</div>
			</div>

			<div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="role">
                    Role
                </label>


                <div class="col-sm-9">
                    <div class="clearfix" style="margin-right:20px">

                        <div class="slim-scroll" data-height="400">
                            <!-- widget content start -->
                            <div class="content">

                                <!-- Start Grid Role -->

                                <div class="table-responsive">
                                    <div class="table-responsive" role="grid">
                                        <table id="user-role-table" class="table table-striped table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th class="center">Name</th>
                                                <th class="center">Description</th>
                                                <th class="center">Select</th>
                                            </tr>
                                            </thead>
                                            <tbody data-bind="foreach: UserView().Role">
                                            <tr>
                                                <td><span data-bind="text: Name"></span></td>
                                                <td><span data-bind="text: Description"></span></td>
                                                <td class="center">
                                                    <label>
                                                        <input type="checkbox" data-bind="value: ID, enable: false" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!-- End Grid Role -->

                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>
    <!-- modal body form end -->
</div>
