﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="check-all"></label>

                <label class="col-sm-8 control-label bolder no-padding-right" for="product-code">Check All</label>

                <label class="col-sm-1">
                    <input name="check-all" id="check-all" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: $root.CheckAll(), click: function(data) { $root.CheckAllData('UTBranchChecker'); }" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <label class="col-sm-8">
                    <span name="customer-name" id="customer-name" data-bind="text: Transaction.Customer.Name"></span>
                    <span class="label label-warning arrowed" data-bind="if: Transaction.IsNewCustomer">
                        <i class="icon-warning-sign bigger-120"></i>
                        New Customer
                    </span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Customer Name')">
                    <!--Verify()[0]-->
                    <input name="check-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <label class="col-sm-8">
                    <span name="cif" id="cif" data-bind="text: Transaction.Customer.CIF"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('CIF')">
                    <!--Verify()[0]-->
                    <input name="check-cif" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="Product">Product</label>

                <label class="col-sm-8">
                    <span name="cif" id="cif" data-bind="text: Transaction.Product.Name"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Product')">
                    <!--Verify()[0]-->
                    <input name="check-cif" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsFunctionType()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">Function Type</label>

                <label class="col-sm-8">
                    <span name="cif" id="cif" data-bind="text: Transaction.strfunctionType"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('FunctionType')">
                    <!--Verify()[0]-->
                    <input name="check-cif" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsInvestmentID()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">Investment ID</label>

                <label class="col-sm-8">
                    <span name="investmentid" id="investmentid" data-bind="text: Transaction.InvestmenName"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('InvestmentID')">
                    <!--Verify()[0]-->
                    <input name="check-investmentid" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsAccoutType()">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="cif">
                    Account Type
                </label>

                <label class="col-sm-8">
                    <span name="AccountType" id="AccountType" data-bind="text: Transaction.strAccountType"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('AccountType')">
                    <!--Verify()[0]-->
                    <input name="check-AccountType" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsTransactionType()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">Transaction Type</label>

                <label class="col-sm-8">
                    <span name="Transactiontype" id="Transactiontype" data-bind="text: Transaction.strTransactiontype"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Transaction Type')">
                    <!--Verify()[0]-->
                    <input name="check-AccountType" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsFnaCore()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">FNA Core</label>

                <label class="col-sm-8">
                    <span name="cif" id="cif" data-bind="text: Transaction.strFNACore"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('IsFNACore')">
                    <!--Verify()[0]-->
                    <input name="check-cif" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsSolId()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="SolID">SolID</label>

                <label class="col-sm-8">
                    <span id="SolID" name="SolID" data-bind="text: Transaction.SolID"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('SolID')">
                    <!--Verify()[4]-->
                    <input name="check-SolID" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 4-->
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.csriskefecDate()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="CRiskEfectiveDate">Customer Risk Effective Date</label>

                <label class="col-sm-8">
                    <span id="CRiskEfectiveDate" name="CRiskEfectiveDate" data-bind="text: $root.LocalDate(Transaction.CRiskEfectiveDate, true)"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('CRiskEfectiveDate')">
                    <!--Verify()[4]-->
                    <input name="check-CRiskEfectiveDate" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 4-->
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.ProfileExpDate()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="RiskProfileExpiryDate">Risk Profile Expiry Date</label>

                <label class="col-sm-8">
                    <span id="RiskProfileExpiryDate" name="RiskProfileExpiryDate" data-bind="text: $root.LocalDate(Transaction.RiskProfileExpiryDate, true)"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('RiskProfileExpiryDate')">
                    <!--Verify()[4]-->
                    <input name="check-RiskProfileExpiryDate" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 4-->
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.RiskScore()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="RiskScore">Risk Score</label>

                <label class="col-sm-8">
                    <span id="RiskScore" name="RiskScore" data-bind="text: Transaction.RiskScore"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('RiskScore')">
                    <!--Verify()[4]-->
                    <input name="check-RiskScore" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 4-->
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.Account()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="OperativeAccount">Operative Account</label>

                <label class="col-sm-8">
                    <span id="OperativeAccount" name="OperativeAccount" data-bind="text: Transaction.OperativeAccount"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('OperativeAccount')">
                    <!--Verify()[4]-->
                    <input name="check-OperativeAccount" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" /><!--checked: Verify().IsVerified == 4-->
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsRemarks()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="AttachmentRemarks">Attachment Remarks</label>

                <label class="col-sm-8">
                    <span name="AttachmentRemarks" id="AttachmentRemarks" data-bind="text: Transaction.AttachmentRemarks"></span>
                </label>

                <label class="col-sm-1" data-bind="with: $root.VerifyColumn('Attachment Remarks')">
                    <input name="check-AttachmentRemarks" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsVerified" />
                    <span class="lbl"></span>
                </label>
            </div>

            <!--page attachment-->
            <div class="padding-4" data-bind="visible: $root.IsAccount()">
                <h3 class="header smaller lighter dark">Join Accounts</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>Join</th>
                                <th>Join Type</th>
                                <th>Customer Name</th>
                                <th>CIF</th>
                                <th>Customer Risk Effective Date</th>
                                <th>Risk Score</th>
                                <th>Risk Profile Expiry Date </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: JoinAccount, visible: $root.IsAccount()">
                            <tr>
                                <td><span data-bind="text: JoinOrder"></span></td>
                                <td><span data-bind="text: Join.Name"></span></td>
                                <td><span data-bind="text: CustomerName"></span></td>
                                <td><span data-bind="text: CIF"></span></td>
                                <td><span data-bind="text: $root.LocalDate(CriskEfDate, true)"></span></td>
                                <td><span data-bind="text: RiskScore"></span></td>
                                <td><span data-bind="text: $root.LocalDate(RiskProfexpDate, true)"></span></td>
                                <td align="center">
                                    <label class="col-sm-1">
                                        <input name="check-JoinAccount" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: VerifiedJoinAccount" />
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.IsAccount().length == 0">
                            <tr>
                                <td colspan="16" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End-->
            <!--Join Account FNA NO-->
            <div class="padding-4" data-bind="visible: $root.IsAccountFNANO()">
                <h3 class="header smaller lighter dark">Join Accounts</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>Join</th>
                                <th>Join Type</th>
                                <th>Customer Name</th>
                                <th>CIF</th>
                                <th>SOL ID</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody data-bind="foreach: JoinAccount, visible: $root.IsAccountFNANO()">
                            <tr>
                                <td><span data-bind="text: JoinOrder"></span></td>
                                <td><span data-bind="text: Join.Name"></span></td>
                                <td><span data-bind="text: CustomerName"></span></td>
                                <td><span data-bind="text: CIF"></span></td>
                                <td><span data-bind="text: SolIDJoin"></span></td>
                                <td align="center">
                                    <label class="col-sm-1">
                                        <input name="check-JoinAccount" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: VerifiedJoinAccount" />
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.IsAccountFNANO().length == 0">
                            <tr>
                                <td colspan="16" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--END JOin Account FNA NO Andriyanto-->
            <!--Save Plant-->
            <div data-bind="visible: !$root.IsUTDBNumber()">
                <div class="padding-4" data-bind="visible: $root.MutualFundSavePlan()">
                    <h3 class="header smaller lighter dark">Mutual Funds</h3>
                    <div class="dataTables_wrapper" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <!-- <th style="width:50px">Select</th> -->
                                    <th>No</th>
                                    <th>Mutual Fund Name</th>
                                    <th>Mutual Fund Code</th>
                                    <th>Currency</th>
                                    <th>Amount</th>
                                    <th>Check</th>
                                </tr>
                            </thead>
                            <!-- masih belum bindingnya salah-->
                            <tbody data-bind="foreach: MutualFund, visible: $root.MutualFundSavePlan()">
                                <tr>
                                    <td><span data-bind="text: $index() + 1"></span></td>
                                    <td><span data-bind="text: MutualFundName"></span></td>
                                    <td><span data-bind="text: FromCodeswitchmutualfund"></span></td>
                                    <td><span data-bind="text: Currency"></span></td>
                                    <td><span data-bind="text: formatNumber(Amount)"></span></td>
                                    <td align="center">
                                        <label class="col-sm-1">
                                            <input name="check-MutualFund" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: VerifiedMutualFund" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                            <!--END-->
                            <tbody data-bind="visible: MutualFund.length == 0">
                                <tr>
                                    <td colspan="11" class="text-center">
                                        No entries available.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div data-bind="visible: $root.IsUTDBNumber()">
                <div class="padding-4" data-bind="visible: $root.MutualFundSavePlan()">
                    <h3 class="header smaller lighter dark">Mutual Funds</h3>
                    <div class="dataTables_wrapper" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <!-- <th style="width:50px">Select</th> -->
                                    <th>No</th>
                                    <th>Mutual Fund Name</th>
                                    <th>Mutual Fund Code</th>
                                    <th>Currency</th>
                                    <th>Amount</th>
                                    <th>DB Number</th>
                                    <th>Check</th>
                                </tr>
                            </thead>
                            <!-- masih belum bindingnya salah-->
                            <tbody data-bind="foreach: MutualFund, visible: $root.MutualFundSavePlan()">
                                <tr>
                                    <td><span data-bind="text: $index() + 1"></span></td>
                                    <td><span data-bind="text: MutualFundName"></span></td>
                                    <td><span data-bind="text: FromCodeswitchmutualfund"></span></td>
                                    <td><span data-bind="text: Currency"></span></td>
                                    <td><span data-bind="text: formatNumber(Amount)"></span></td>
                                    <td><span data-bind="text: DBNumber"></span></td>
                                    <td align="center">
                                        <label class="col-sm-1">
                                            <input name="check-MutualFund" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: VerifiedMutualFund" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                            <!--END-->
                            <tbody data-bind="visible: MutualFund.length == 0">
                                <tr>
                                    <td colspan="11" class="text-center">
                                        No entries available.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- End -->
            <!--Mutual Fund Subscrition-->
            <div data-bind="visible: !$root.IsUTDBNumber()">
                <div class="padding-4" data-bind="visible: $root.MutualFundSubcription()">
                    <h3 class="header smaller lighter dark">Mutual Funds</h3>
                    <div class="dataTables_wrapper" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <!-- <th style="width:50px">Select</th> -->
                                    <th>No</th>
                                    <th>Mutual Fund Name</th>
                                    <th>Fund Code</th>
                                    <th>Amount</th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                            <!-- masih belum bindingnya salah-->
                            <tbody data-bind="foreach: MutualFund, visible: $root.MutualFundSubcription()">
                                <tr>
                                    <td><span data-bind="text: $index() + 1"></span></td>
                                    <td><span data-bind="text: MutualFundName"></span></td>
                                    <td><span data-bind="text: FromCodeswitchmutualfund"></span></td>
                                    <td><span data-bind="text: formatNumber(Amount)"></span></td>
                                    <td align="center">
                                        <label class="col-sm-1">
                                            <input name="check-MutualFund" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: VerifiedMutualFund" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                            <!--END-->
                            <tbody data-bind="visible: MutualFund.length == 0">
                                <tr>
                                    <td colspan="11" class="text-center">
                                        No entries available.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div data-bind="visible: $root.IsUTDBNumber()">
                <div class="padding-4" data-bind="visible: $root.MutualFundSubcription()">
                    <h3 class="header smaller lighter dark">Mutual Funds</h3>
                    <div class="dataTables_wrapper" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <!-- <th style="width:50px">Select</th> -->
                                    <th>No</th>
                                    <th>Mutual Fund Name</th>
                                    <th>Fund Code</th>
                                    <th>Amount</th>
                                    <th>UT Number</th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                            <!-- masih belum bindingnya salah-->
                            <tbody data-bind="foreach: MutualFund, visible: $root.MutualFundSubcription()">
                                <tr>
                                    <td><span data-bind="text: $index() + 1"></span></td>
                                    <td><span data-bind="text: MutualFundName"></span></td>
                                    <td><span data-bind="text: FromCodeswitchmutualfund"></span></td>
                                    <td><span data-bind="text: formatNumber(Amount)"></span></td>
                                    <td><span data-bind="text: UTNumber"></span></td>
                                    <td align="center">
                                        <label class="col-sm-1">
                                            <input name="check-MutualFund" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: VerifiedMutualFund" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                            <!--END-->
                            <tbody data-bind="visible: MutualFund.length == 0">
                                <tr>
                                    <td colspan="11" class="text-center">
                                        No entries available.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- End -->
            <!--Mutual FUND REDEMTION-->
            <div data-bind="visible: !$root.IsUTDBNumber()">
                <div class="padding-4" data-bind="visible: $root.MutualFundRedemtion()">
                    <h3 class="header smaller lighter dark">Mutual Funds</h3>
                    <div class="dataTables_wrapper" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <!-- <th style="width:50px">Select</th> -->
                                    <th>No</th>
                                    <th>Mutual Fund Name</th>
                                    <th>Mutual Fund Code</th>
                                    <th>Partial/Full</th>
                                    <th>Number Of Unit</th>
                                    <th>Check</th>
                                </tr>
                            </thead>
                            <!-- masih belum bindingnya salah-->
                            <tbody data-bind="foreach: MutualFund">
                                <tr>
                                    <td><span data-bind="text: $index() + 1"></span></td>
                                    <td><span data-bind="text: MutualFundName"></span></td>
                                    <td><span data-bind="text: FromCodeswitchmutualfund"></span></td>
                                    <td><span data-bind="text: SetPartialFull(partial),visible: $root.IsPartial()"></span></td>
                                    <td><span data-bind="text: CurrencyFormat(NumberofUnit),visible: $root.IsNumberOfUnit()"></span></td>
                                    <td align="center">
                                        <label class="col-sm-1">
                                            <input name="check-MutualFund" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: VerifiedMutualFund" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                            <!--END-->
                            <tbody data-bind="visible: MutualFund.length == 0">
                                <tr>
                                    <td colspan="11" class="text-center">
                                        No entries available.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- End -->
                </div>
            </div>

            <div data-bind="visible: $root.IsUTDBNumber()">
                <div class="padding-4" data-bind="visible: $root.MutualFundRedemtion()">
                    <h3 class="header smaller lighter dark">Mutual Funds</h3>
                    <div class="dataTables_wrapper" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <!-- <th style="width:50px">Select</th> -->
                                    <th>No</th>
                                    <th>Mutual Fund Name</th>
                                    <th>Mutual Fund Code</th>
                                    <th>Partial/Full</th>
                                    <th>Number Of Unit</th>
                                    <th>UT Number</th>
                                    <th>Check</th>
                                </tr>
                            </thead>
                            <!-- masih belum bindingnya salah-->
                            <tbody data-bind="foreach: MutualFund">
                                <tr>
                                    <td><span data-bind="text: $index() + 1"></span></td>
                                    <td><span data-bind="text: MutualFundName"></span></td>
                                    <td><span data-bind="text: FromCodeswitchmutualfund"></span></td>
                                    <td><span data-bind="text: SetPartialFull(partial),visible: $root.IsPartial()"></span></td>
                                    <td><span data-bind="text: CurrencyFormat(NumberofUnit),visible: $root.IsNumberOfUnit()"></span></td>
                                    <td><span data-bind="text: UTNumber"></span></td>
                                    <td align="center">
                                        <label class="col-sm-1">
                                            <input name="check-MutualFund" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: VerifiedMutualFund" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                            <!--END-->
                            <tbody data-bind="visible: MutualFund.length == 0">
                                <tr>
                                    <td colspan="11" class="text-center">
                                        No entries available.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- End -->
                </div>
            </div>
            <!-- End -->
            <!--page Mutual Funds Switching-->
            <div data-bind="visible: !$root.IsUTDBNumber()">
                <div class="padding-4" data-bind="visible: $root.MutualFund()">
                    <h3 class="header smaller lighter dark">Mutual Funds</h3>
                    <div class="dataTables_wrapper" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <!-- <th style="width:50px">Select</th> -->
                                    <th>No</th>
                                    <th>Switch From Mutual Fund</th>
                                    <th>Switch From Mutual Fund Code</th>
                                    <th>Switch To Mutual Fund</th>
                                    <th>Switch To Fund Code</th>
                                    <th>Partial/Full</th>
                                    <th>Number Of Unit</th>
                                    <th>Check</th>
                                </tr>
                            </thead>
                            <!-- masih belum bindingnya salah-->
                            <tbody data-bind="foreach: MutualFund, visible: MutualFund.length > 0">
                                <tr>
                                    <td><span data-bind="text: $index() + 1"></span></td>
                                    <td><span data-bind="text: FromStrswitchmutualFund"></span></td>
                                    <td><span data-bind="text: FromCodeswitchmutualfund"></span></td>
                                    <td><span data-bind="text: TOStrswitchmutualFund"></span></td>
                                    <td><span data-bind="text: TOCodeswitchmutualfund"></span></td>
                                    <td><span data-bind="text: SetPartialFull(partial)"></span></td>
                                    <td><span data-bind="text: CurrencyFormat(NumberofUnit)"></span></td>
                                    <td align="center">
                                        <label class="col-sm-1">
                                            <input name="check-MutualFund" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: VerifiedMutualFund" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                            <!--END-->
                            <tbody data-bind="visible: MutualFund.length == 0">
                                <tr>
                                    <td colspan="11" class="text-center">
                                        No entries available.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--End Andri switching-->
                </div>
            </div>

            <div data-bind="visible: $root.IsUTDBNumber()">
                <div class="padding-4" data-bind="visible: $root.MutualFund()">
                    <h3 class="header smaller lighter dark">Mutual Funds</h3>
                    <div class="dataTables_wrapper" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <!-- <th style="width:50px">Select</th> -->
                                    <th>No</th>
                                    <th>Switch From Mutual Fund</th>
                                    <th>Switch From Mutual Fund Code</th>
                                    <th>Switch To Mutual Fund</th>
                                    <th>Switch To Fund Code</th>
                                    <th>Partial/Full</th>
                                    <th>Number Of Unit</th>
                                    <th>UT NUmber</th>
                                    <th>Check</th>
                                </tr>
                            </thead>
                            <!-- masih belum bindingnya salah-->
                            <tbody data-bind="foreach: MutualFund, visible: MutualFund.length > 0">
                                <tr>
                                    <td><span data-bind="text: $index() + 1"></span></td>
                                    <td><span data-bind="text: FromStrswitchmutualFund"></span></td>
                                    <td><span data-bind="text: FromCodeswitchmutualfund"></span></td>
                                    <td><span data-bind="text: TOStrswitchmutualFund"></span></td>
                                    <td><span data-bind="text: TOCodeswitchmutualfund"></span></td>
                                    <td><span data-bind="text: SetPartialFull(partial)"></span></td>
                                    <td><span data-bind="text: CurrencyFormat(NumberofUnit)"></span></td>
                                    <td><span data-bind="text: UTNumber"></span></td>
                                    <td align="center">
                                        <label class="col-sm-1">
                                            <input name="check-MutualFund" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: VerifiedMutualFund" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                            <!--END-->
                            <tbody data-bind="visible: MutualFund.length == 0">
                                <tr>
                                    <td colspan="11" class="text-center">
                                        No entries available.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--End Andri switching-->
                </div>
            </div>
            <!-- End -->
            <!--page attachment-->
            <div class="padding-4">
                <h3 class="header smaller lighter dark">Attachment</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>File Name</th>
                                <th>Document Type</th>
                                <th>Modified</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: moment(LastModifiedDate).format(config.format.dateTime)"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: Transaction.Documents.length == 0">
                            <tr>
                                <td colspan="6" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>
</div>