﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(Transaction.CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: Transaction.ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                <label class="col-sm-8">
                    <span name="customer-name" id="customer-name" data-bind="text: Transaction.Customer.Name"></span>
                    <span class="label label-warning arrowed" data-bind="if: Transaction.IsNewCustomer">
                        <i class="icon-warning-sign bigger-120"></i>
                        New Customer
                    </span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                <label class="col-sm-8">
                    <span name="cif" id="cif" data-bind="text: Transaction.Customer.CIF"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="Product">Product</label>

                <label class="col-sm-8">
                    <span name="cif" id="cif" data-bind="text: Transaction.Product.Name"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsFunctionType()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">Function Type</label>

                <label class="col-sm-8">
                    <span name="cif" id="cif" data-bind="text: Transaction.strfunctionType"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsInvestmentID()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">Investment ID</label>

                <label class="col-sm-8">
                    <span name="investmentid" id="investmentid" data-bind="text: Transaction.InvestmenName"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsAccoutType()">
                <label class=" col-sm-3 control-label bolder no-padding-right" for="cif">
                    Account Type
                </label>

                <label class="col-sm-8">
                    <span name="AccountType" id="AccountType" data-bind="text: Transaction.strAccountType"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsTransactionType()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">Transaction Type</label>

                <label class="col-sm-8">
                    <span name="Transactiontype" id="Transactiontype" data-bind="text: Transaction.strTransactiontype"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsAttachmentRemarks()">
                <!--data-bind="visible: $root.IsTransactionType()"-->
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">Attachment Remarks</label>

                <label class="col-sm-8">
                    <span name="AttachmentRemarks" id="AttachmentRemarks" data-bind="text: Transaction.AttachmentRemarks"></span>
                </label>
            </div>

            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsFnaCore()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">FNA Core</label>

                <label class="col-sm-8">
                    <span name="cif" id="cif" data-bind="text: Transaction.strFNACore"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.IsSolId()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="SolID">SolID</label>

                <label class="col-sm-8">
                    <span id="SolID" name="SolID" data-bind="text: Transaction.SolID"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.csriskefecDate()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="CRiskEfectiveDate">Customer Risk Effective Date</label>

                <label class="col-sm-8">
                    <span id="CRiskEfectiveDate" name="CRiskEfectiveDate" data-bind="text: $root.LocalDate(Transaction.CRiskEfectiveDate, true)"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.ProfileExpDate()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="RiskProfileExpiryDate">Risk Profile Expiry Date</label>

                <label class="col-sm-8">
                    <span id="RiskProfileExpiryDate" name="RiskProfileExpiryDate" data-bind="text: $root.LocalDate(Transaction.RiskProfileExpiryDate, true)"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.RiskScore()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="RiskScore">Risk Score</label>

                <label class="col-sm-8">
                    <span id="RiskScore" name="RiskScore" data-bind="text: Transaction.RiskScore"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: $root.Account()">
                <label class="col-sm-3 control-label bolder no-padding-right" for="OperativeAccount">Operative Account</label>

                <label class="col-sm-8">
                    <span id="OperativeAccount" name="OperativeAccount" data-bind="text: Transaction.OperativeAccount"></span>
                </label>
            </div>
            <!--page attachment-->
            <div class="padding-4" data-bind="visible: $root.IsAccount()">
                <h3 class="header smaller lighter dark">Join Accounts</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>Join</th>
                                <th>Join Type</th>
                                <th>Customer Name</th>
                                <th>CIF</th>
                                <th>Customer Risk Effective Date</th>
                                <th>Risk Score</th>
                                <th>Risk Profile Expiry Date </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: JoinAccount, visible: $root.IsAccount()">
                            <tr>
                                <td><span data-bind="text: JoinOrder"></span></td>
                                <td><span data-bind="text: Join.Name"></span></td>
                                <td><span data-bind="text: CustomerName"></span></td>
                                <td><span data-bind="text: CIF"></span></td>
                                <td><span data-bind="text: $root.LocalDate(CriskEfDate, true)"></span></td>
                                <td><span data-bind="text: RiskScore"></span></td>
                                <td><span data-bind="text: $root.LocalDate(RiskProfexpDate, true)"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.IsAccount().length == 0">
                            <tr>
                                <td colspan="16" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End-->
            <!--Join Account FNA NO-->
            <div class="padding-4" data-bind="visible: $root.IsAccountFNANO()">
                <h3 class="header smaller lighter dark">Join Accounts</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>Join</th>
                                <th>Join Type</th>
                                <th>Customer Name</th>
                                <th>CIF</th>
                                <th>SOL ID</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: JoinAccount, visible: $root.IsAccountFNANO()">
                            <tr>
                                <td><span data-bind="text: JoinOrder"></span></td>
                                <td><span data-bind="text: Join.Name"></span></td>
                                <td><span data-bind="text: CustomerName"></span></td>
                                <td><span data-bind="text: CIF"></span></td>
                                <td><span data-bind="text: SolIDJoin"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.IsAccountFNANO().length == 0">
                            <tr>
                                <td colspan="16" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--END JOin Account FNA NO Andriyanto-->
            <!--Save Plant-->
            <div class="padding-4" data-bind="visible: $root.MutualFundSavePlan()">
                <h3 class="header smaller lighter dark">Mutual Funds</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <!-- <th style="width:50px">Select</th> -->
                                <th>No</th>
                                <th>Mutual Fund Name</th>
                                <th>Mutual Fund Code</th>
                                <th>Currency</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <!-- masih belum bindingnya salah-->
                        <tbody data-bind="foreach: MutualFund, visible: $root.MutualFundSavePlan()">
                            <tr>
                                <td><span data-bind="text: $index() + 1"></span></td>
                                <td><span data-bind="text: MutualFundName"></span></td>
                                <td><span data-bind="text: FromCodeswitchmutualfund"></span></td>
                                <td><span data-bind="text: Currency"></span></td>
                                <td><span data-bind="text: formatNumber(Amount)"></span></td>
                            </tr>
                        </tbody>
                        <!--END-->
                        <tbody data-bind="visible: MutualFund.length == 0">
                            <tr>
                                <td colspan="11" class="text-center">
                                    No entries available.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End -->
            <!--Mutual Fund Subscrition-->
            <div class="padding-4" data-bind="visible: $root.MutualFundSubcription()">
                <h3 class="header smaller lighter dark">Mutual Funds</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <!-- <th style="width:50px">Select</th> -->
                                <th>No</th>
                                <th>Mutual Fund Name</th>
                                <th>Fund Code</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <!-- masih belum bindingnya salah-->
                        <tbody data-bind="foreach: MutualFund, visible: $root.MutualFundSubcription()">
                            <tr>
                                <td><span data-bind="text: $index() + 1"></span></td>
                                <td><span data-bind="text: MutualFundName"></span></td>
                                <td><span data-bind="text: FromCodeswitchmutualfund"></span></td>
                                <td><span data-bind="text: formatNumber(Amount)"></span></td>
                            </tr>
                        </tbody>
                        <!--END-->
                        <tbody data-bind="visible: MutualFund.length == 0">
                            <tr>
                                <td colspan="11" class="text-center">
                                    No entries available.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End -->
            <!--Mutual FUND REDEMTION-->
            <div class="padding-4" data-bind="visible: $root.MutualFundRedemtion()">
                <h3 class="header smaller lighter dark">Mutual Funds</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <!-- <th style="width:50px">Select</th> -->
                                <th>No</th>
                                <th>Mutual Fund Name</th>
                                <th>Mutual Fund Code</th>
                                <th>Partial/Full</th>
                                <th>Number Of Unit</th>
                            </tr>
                        </thead>
                        <!-- masih belum bindingnya salah-->
                        <tbody data-bind="foreach: MutualFund">
                            <tr>
                                <td><span data-bind="text: $index() + 1"></span></td>
                                <td><span data-bind="text: MutualFundName"></span></td>
                                <td><span data-bind="text: FromCodeswitchmutualfund"></span></td>
                                <td><span data-bind="text: SetPartialFull(partial),visible: $root.IsPartial()"></span></td>
                                <td><span data-bind="text: $root.NumberUnitFormater(NumberofUnit),visible: $root.IsNumberOfUnit()"></span></td>
                            </tr>
                        </tbody>
                        <!--END-->
                        <tbody data-bind="visible: MutualFund.length == 0">
                            <tr>
                                <td colspan="11" class="text-center">
                                    No entries available.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- End -->
            </div>
            <!-- End -->
            <!--page Mutual Funds Switching-->
            <div class="padding-4" data-bind="visible: $root.MutualFund()">
                <h3 class="header smaller lighter dark">Mutual Funds</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <!-- <th style="width:50px">Select</th> -->
                                <th>No</th>
                                <th>Switch From Mutual Fund</th>
                                <th>Switch From Mutual Fund Code</th>
                                <th>Switch To Mutual Fund</th>
                                <th>Switch To Fund Code</th>
                                <th>Partial/Full</th>
                                <th>Number Of Unit</th>
                            </tr>
                        </thead>
                        <!-- masih belum bindingnya salah-->
                        <tbody data-bind="foreach: MutualFund, visible: MutualFund.length > 0">
                            <tr>
                                <td><span data-bind="text: $index() + 1"></span></td>
                                <td><span data-bind="text: FromStrswitchmutualFund"></span></td>
                                <td><span data-bind="text: FromCodeswitchmutualfund"></span></td>
                                <td><span data-bind="text: TOStrswitchmutualFund"></span></td>
                                <td><span data-bind="text: TOCodeswitchmutualfund"></span></td>
                                <td><span data-bind="text: SetPartialFull(partial)"></span></td>
                                <td><span data-bind="text: $root.NumberUnitFormater(NumberofUnit)"></span></td>
                            </tr>
                        </tbody>
                        <!--END-->
                        <tbody data-bind="visible: MutualFund.length == 0">
                            <tr>
                                <td colspan="11" class="text-center">
                                    No entries available.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--End Andri switching-->
            </div>
            <!-- End -->
            <!--page attachment-->
            <div class="padding-4">
                <h3 class="header smaller lighter dark">Attachment</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>File Name</th>
                                <th>Modified</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Transaction.Documents, visible: Transaction.Documents.length > 0">
                            <tr>
                                <td><span data-bind="text: $index() + 1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                                <td><span data-bind="text: moment(DocumentPath.lastModifiedDate).format(config.format.dateTime)"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: Transaction.Documents.length == 0">
                            <tr>
                                <td colspan="6" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>
</div>