﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="transaction-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    <span data-bind="text: $root.LocalDate(CreateDate, true, true)"></span>
                </label>

                <label class="col-sm-4 pull-right">
                    <b>Application ID</b> : <span data-bind="text: ApplicationID"></span><br />
                    <b>User Name</b> : <span data-bind="text: $root.SPUser.DisplayName"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>
                <label class="col-sm-8">
                    <span name="customer-name" id="customer-name" data-bind="text: Customer.Name"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>
                <label class="col-sm-8">
                    <span name="cif" id="cif" data-bind="text: Customer.CIF"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product-code">Product</label>
                <label class="col-sm-8">
                    <span id="product-code" name="product" data-bind="text: Product.Code"></span>
                    (<span id="product-name" name="product" data-bind="text: Product.Name"></span>)
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="functiontype">Function Type</label>
                <label class="col-sm-8">
                    <span id="functiontype" name="functiontype" data-bind="text: ParameterSystemUT.FunctionType.FunctionTypeName"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom" data-bind="visible: ParameterSystemUT.FunctionType.FunctionTypeName == 'Modified'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="investmentid">Investment ID</label>
                <label class="col-sm-8">
                    <span id="investmentid" name="investmentid" data-bind="text: InvestmentID"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="accounttype">Account Type</label>
                <label class="col-sm-8">
                    <span id="accounttype" name="accounttype" data-bind="text: ParameterSystemUT.AccountType.AccountTypeName"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="fnacore">FNA Core</label>
                <label class="col-sm-8">
                    <span id="fnacore" name="fnacore" data-bind="text: ParameterSystemUT.FNACore.FNACoreName"></span>
                </label>
            </div>
            <div class="form-group form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="solidut">SOL ID</label>
                <label class="col-sm-8">
                    <span id="solidut" name="solidut" data-bind="text: SOLID"></span>
                </label>
            </div>
            <div class="form-group  form-line no-margin-bottom no-padding-bottom" data-bind="visible: ParameterSystemUT.FNACore.FNACoreName == 'Yes'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="customerriskeffectivedate">Customer Risk Effective Date</label>
                <label class="col-sm-8">
                    <span id="customerriskeffectivedate" name="customerriskeffectivedate" data-bind="text: $root.LocalDate(CustomerRiskEffectiveDate, true)"></span>
                </label>
            </div>
            <div class="form-group  form-line no-margin-bottom no-padding-bottom" data-bind="visible: ParameterSystemUT.FNACore.FNACoreName == 'Yes'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="riskprofileexpirydate">Risk Profile Expiry Date</label>
                <label class="col-sm-8">
                    <span id="riskprofileexpirydate" name="riskprofileexpirydate" data-bind="text: $root.LocalDate(RiskProfileExpiryDate, true)"></span>
                </label>
            </div>
            <div class="form-group  form-line no-margin-bottom no-padding-bottom" data-bind="visible: ParameterSystemUT.FNACore.FNACoreName == 'Yes'">
                <label class="col-sm-3 control-label bolder no-padding-right" for="riskscore">Risk Score</label>
                <label class="col-sm-8">
                    <span id="customerriskeffectivedate" name="customerriskeffectivedate" data-bind="text: RiskScore"></span>
                </label>
            </div>
            <div class="form-group  form-line no-margin-bottom no-padding-bottom">
                <label class="col-sm-3 control-label bolder no-padding-right" for="riskscore">Operative Account</label>
                <label class="col-sm-8">
                    <span id="OperativeAccounts" name="OperativeAccounts" data-bind="text: OperativeAccount"></span>
                </label>
            </div>
            <!--page attachment-->
            <div class="padding-4" data-bind="visible: $root.IsAccount()">
                <h3 class="header smaller lighter dark">Join Accounts</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>Join</th>
                                <th>Join Type</th>
                                <th>Customer Name</th>
                                <th>CIF</th>
                                <th>Customer Risk Effective Date</th>
                                <th>Risk Score</th>
                                <th>Risk Profile Expiry Date </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: JoinAccounts, visible: $root.IsAccount()">
                            <tr>
                                <td><span data-bind="text: JoinOrder"></span></td>
                                <td><span data-bind="text: Join.Name"></span></td>
                                <td><span data-bind="text: CustomerJoin.Name"></span></td>
                                <td><span data-bind="text: CustomerJoin.CIF"></span></td>
                                <td><span data-bind="text: $root.LocalDate(CustomerRiskEffectiveDateJoin, true)"></span></td>
                                <td><span data-bind="text: RiskScoreJoin"></span></td>
                                <td><span data-bind="text: $root.LocalDate(RiskProfileExpiryDateJoin, true)"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.IsAccount().length == 0">
                            <tr>
                                <td colspan="16" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End-->
            <!--Join Account FNA NO-->
            <div class="padding-4" data-bind="visible: $root.IsAccountFNANO()">
                <h3 class="header smaller lighter dark">Join Accounts</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>Join</th>
                                <th>Join Type</th>
                                <th>Customer Name</th>
                                <th>CIF</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: JoinAccounts, visible: $root.IsAccountFNANO()">
                            <tr>
                                <td><span data-bind="text: JoinOrder"></span></td>
                                <td><span data-bind="text: Join.Name"></span></td>
                                <td><span data-bind="text: CustomerJoin.Name"></span></td>
                                <td><span data-bind="text: CustomerJoin.CIF"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.IsAccountFNANO().length == 0">
                            <tr>
                                <td colspan="16" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--page attachment-->
            <div class="padding-4">
                <h3 class="header smaller lighter dark">Attachment</h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>File Name</th>
                                <th>Document Type</th>
                                <th>Modified</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Documents, visible: Documents.length > 0">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: moment(LastModifiedDate).format(config.format.dateTime)"></span></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: Documents.length == 0">
                            <tr>
                                <td colspan="6" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>
</div>


