﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="row" data-bind="with: TransactionUTModel">
        <div class="col-xs-12">
            <div id="customerut-form" class="form-horizontal" role="form">

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right">
                        <span data-bind="text: $root.LocalDate(CreateDate(), true, true)"></span>
                    </label>

                    <label class="col-sm-4 pull-right">
                        <b>UT</b>
                        <b>Application ID</b> : <span data-bind="text: ApplicationID"></span><br />
                        <b>User Name</b> : <span data-bind="text: $root.SPUser().DisplayName"></span>
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="customerut">Customer Name</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-6 autocomplete" name="customerut" data-bind="value: Customer().Name" id="customerut" data-rule-required="true" />
                            <label class="control-label bolder text-danger" for="customerut">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="cifut">CIF</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-3" name="cifut" id="cifut" data-bind="value: Customer().CIF" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="productut">Product</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="productut" name="productut" data-bind="value: $root.Selected().Product,options:$root.Parameter().Products,optionsText:function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'},optionsValue:'ID',optionsCaption: 'Please Select...', event: { change: $root.OnProductChange },disable: true" class="col-sm-6" data-rule-required="true" />
                            <label class="control-label bolder text-danger" for="productut">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="transtype">Transaction Type</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="transtype" data-bind="options: $root.ParameterUT().TransactionTypes, optionsText: 'TransactionTypeName', optionsValue: 'TransTypeID', optionsCaption: 'Please Select...', value: $root.Selected().Transaction_Type,event: { change: $root.OnTTypeChange }" class="col-sm-6" data-rule-required="true" />
                            <label class="control-label bolder text-danger" for="product">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="investmentid">Investment ID</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <!--<input type="text" autocomplete="off" class="col-sm-6 autocomplete" name="investmentid" data-bind="value: InvestmentList().Investment" id="investmentid" data-rule-required="true" />-->
                            <input type="text" id="investmentid" name="investmentid" data-rule-number="false" data-bind="value: Investment" class="col-sm-3" />
                            <label class="control-label bolder text-danger" for="product">*</label>
                            <button class="btn btn-sm btn-primary" data-bind="click: $root.BindInvestmentSP,visible: $root.IsRedemption() || $root.IsSwitching()">
                                <i class="icon-edit"></i>
                                ...
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="AttachmentRemarks">Attachment Remarks</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <textarea id="AttachmentRemarks" name="AttachmentRemarks" class="form-control" data-bind="value: AttachmentRemarks"></textarea>
                        </div>
                    </div>
                </div>

                <h3 class="header smaller lighter dark">
                    Mutual Fund
                    <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.MutualFundAdd, visible: $root.IsSP() || $root.IsSubscription() || $root.IsRedemption() || $root.IsSwitching()">
                        <i class="icon-plus"></i>
                        Add
                    </button>
                </h3>

                <!-- modal body start -->
                <div id="mutualfund-form" class="modal fade" tabindex="0" data-backdrop="static" data-keyboard="false" role="dialog">
                    <div class="modal-dialog" style="width: 70%">
                        <div class="modal-content">
                            <!-- modal header start Underlying Form -->
                            <div class="modal-header">
                                <h4 class="blue bigger">
                                    <span data-bind="if: $root.IsNewDataUT()">Add Mutual</span>
                                    <span data-bind="if: !$root.IsNewDataUT()">Edit Mutual</span>
                                </h4>
                            </div>
                            <!-- modal header end -->
                            <!-- modal body start -->
                            <div class="modal-body overflow-visible">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <!-- modal body form start -->
                                        <div id="mutualfund2-form" class="form-horizontal" role="form">
                                            <div class="form-group" data-bind="visible : $root.IsSP() ||  $root.IsSubscription() ||  $root.IsRedemption()">
                                                <label class="col-sm-3 control-label bolder no-padding-right" for="mutualfundnamesp">Mutual Fund Name</label>
                                                <div class="col-sm-9">
                                                    <div class="clearfix">
                                                        <input type="text" autocomplete="off" class="col-sm-6 autocomplete" name="MFund" data-bind="value: MutualFundList().FundName" id="MFund" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" data-bind="visible : $root.IsSP() ||  $root.IsSubscription() ||  $root.IsRedemption()">
                                                <label class="col-sm-3 control-label bolder no-padding-right" for="mutualfundnamesp">Mutual Fund Code</label>
                                                <div class="col-sm-9">
                                                    <div class="clearfix">
                                                        <input type="text" autocomplete="off" class="col-sm-3" name="mfundcode" id="mfundcode" data-bind="value: MutualFundList().FundCode" disabled="disabled" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" data-bind="visible : $root.IsSP()">
                                                <label class="col-sm-3 control-label bolder no-padding-right" for="currency">Currency</label>
                                                <div class="col-sm-9">
                                                    <div class="clearfix">
                                                        <select id="currency" name="currency" data-bind="options: $root.Parameter().Currencies, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().Currency" class="col-sm-5" data-rule-required="true" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" data-bind="visible : $root.IsSP() ||  $root.IsSubscription()">
                                                <label class="col-sm-3 control-label bolder no-padding-right" for="amountsp">Amount</label>
                                                <div class="col-sm-9">
                                                    <div class="clearfix">
                                                        <input type="text" id="amountsp" name="amountsp" data-bind="value: MutualAmount" data-rule-number="true" class="col-sm-3" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" data-bind="visible : $root.IsSwitching()">
                                                <label class="col-sm-3 control-label bolder no-padding-right" for="switchmutualfundname">Switch from Mutual Fund</label>
                                                <div class="col-sm-9">
                                                    <div class="clearfix">
                                                        <input type="text" autocomplete="off" class="col-sm-6 autocomplete" name="MFundFrom" data-bind="value: MutualFundSwitchFrom().FundName" id="MFundFrom" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" data-bind="visible : $root.IsSwitching()">
                                                <label class="col-sm-3 control-label bolder no-padding-right" for="switchfromfundcode">Switch From Fund Code</label>
                                                <div class="col-sm-9">
                                                    <div class="clearfix">
                                                        <input type="text" autocomplete="off" class="col-sm-3" name="mfundcodefrom" id="mfundcodefrom" data-bind="value: MutualFundSwitchFrom().FundCode" disabled="disabled" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" data-bind="visible : $root.IsSwitching()">
                                                <label class="col-sm-3 control-label bolder no-padding-right" for="switchtomutualfund">Switch To Mutual Fund</label>
                                                <div class="col-sm-9">
                                                    <div class="clearfix">
                                                        <input type="text" autocomplete="off" class="col-sm-6 autocomplete"  name="MFundTo" data-bind="value: MutualFundSwitchTo().FundName" id="MFundTo" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" data-bind="visible : $root.IsSwitching()">
                                                <label class="col-sm-3 control-label bolder no-padding-right" for="switchtomutualcode">Switch To Mutual Code</label>
                                                <div class="col-sm-9">
                                                    <div class="clearfix">
                                                        <input type="text" autocomplete="off" class="col-sm-3" name="mfundcodeto" id="mfundcodeto" data-bind="value: MutualFundSwitchTo().FundCode" disabled="disabled" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" data-bind="visible : $root.IsRedemption() || $root.IsSwitching()">
                                                <label class="col-sm-3 control-label bolder no-padding-right" for="partialfull">Is Partial</label>
                                                <div class="col-sm-9">
                                                    <div class="clearfix">
                                                        <input type="checkbox" id="partialfull" name="partialfull" data-bind="checked: MutualPartial" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" data-bind="visible : $root.IsRedemption() || $root.IsSwitching()">
                                                <label class="col-sm-3 control-label bolder no-padding-right" for="numberofunit">Number Of Unit</label>
                                                <div class="col-sm-9">
                                                    <div class="clearfix">
                                                        <input type="text" class="col-sm-3" id="numberofunit" name="numberofunit" data-bind="decimalPlacement: MutualUnitNumber, value: MutualUnitNumber" />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- modal body form end -->
                                    </div>
                                </div>
                            </div>
                            <!-- modal body end -->
                            <div class="modal-footer">
                                <button class="btn btn-sm btn-primary" data-bind="click: $root.AddMutualFund, visible: $root.IsNewDataUT()">
                                    Save
                                </button>
                                <button class="btn btn-sm btn-primary" data-bind="click: $root.UpdateMutualFund, visible: !$root.IsNewDataUT()">
                                    <i class="icon-edit"></i>
                                    Update
                                </button>
                                <button class="btn btn-sm btn-primary" data-dismiss="modal">
                                    <i class="icon-remove"></i>
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Save Plane-->
                <div class="dataTables_wrapper" role="grid" data-bind="visible: $root.IsSP()">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>Mutual Fund Name</th>
                                <th>Mutual Fund Code</th>
                                <th>Currency</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.MutualFundColl, visible: $root.MutualFundColl().length > 0">
                            <tr data-bind="event: {click:function(data){$root.GetSelectedRowUTSP($index(),$data)}}" data-toggle="modal">
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><span data-bind="text: MutualFundList.FundName"></span></td>
                                <td><span data-bind="text: MutualFundList.FundCode"></span></td>
                                <td><span data-bind="text: MutualCurrency.Code"></span></td>
                                <td><span data-bind="text: formatNumber(MutualAmount)"></span></td>
                                <td><a href="#" data-bind="click: $root.RemoveMutual">Remove</a></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.MutualFundColl().length == 0">
                            <tr>
                                <td colspan="13" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--Save Plane-->
                <!--Subcriptions-->
                <div class="dataTables_wrapper" role="grid" data-bind="visible: $root.IsSubscription()">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>Mutual Fund Name</th>
                                <th>Fund Code</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.SubcriptionColl, visible: $root.SubcriptionColl().length > 0">
                            <tr data-bind="event: {click:function(data){$root.GetSelectedRowUTSubc($index(),$data)}}" data-toggle="modal">
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><span data-bind="text: MutualFundList.FundName"></span></td>
                                <td><span data-bind="text: MutualFundList.FundCode"></span></td>
                                <td><span data-bind="text: formatNumber(MutualAmount)"></span></td>
                                <td><a href="#" data-bind="click: $root.RemoveSubcription">Remove</a></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.SubcriptionColl().length == 0">
                            <tr>
                                <td colspan="13" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--Save Plane-->
                <!--Redemption-->
                <div class="dataTables_wrapper" role="grid" data-bind="visible: $root.IsRedemption()">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>Select</th>
                                <th>Mutual Fund Name</th>
                                <th>Fund Code</th>
                                <th>Partial/Full</th>
                                <th>NumberOfUnit</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.RedemptionColl, visible: $root.RedemptionColl().length > 0">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><input type="checkbox" id="isSwitch" name="isSwitch" data-bind="checked: MutualSelected" /></td>
                                <td><span data-bind="text: MutualFundList.FundName"></span></td>
                                <td><span data-bind="text: MutualFundList.FundCode"></span></td>
                                <td><span data-bind="text: $root.SetPartial(MutualPartial)"></span></td>
                                <td><span data-bind="text: formatNumber(MutualUnitNumber)"></span></td>
                                <td><a href="#" data-bind="click:function(data){$root.GetSelectedRowUTRedempt($index(),$data)}">Update</a></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.RedemptionColl().length == 0">
                            <tr>
                                <td colspan="13" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Redempion -->
                <!-- Switching -->
                <div class="dataTables_wrapper" role="grid" data-bind="visible: $root.IsSwitching()">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>Select</th>
                                <th>Switch from Mutual Fund</th>
                                <th>Switch from Mutual Code</th>
                                <th>Switch to Mutual Fund</th>
                                <th>Switch to Mutual Code</th>
                                <th>Partial/Full</th>
                                <th>NumberOfUnit</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.SwitchingColl, visible: $root.SwitchingColl().length > 0">
                            <tr>
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><input type="checkbox" id="isSwitch" name="isSwitch" data-bind="checked: MutualSelected" /></td>
                                <td><span data-bind="text: MutualFundSwitchFrom.FundName"></span></td>
                                <td><span data-bind="text: MutualFundSwitchFrom.FundCode"></span></td>
                                <td><span data-bind="text: MutualFundSwitchTo.FundName"></span></td>
                                <td><span data-bind="text: MutualFundSwitchTo.FundCode"></span></td>
                                <td><span data-bind="text: $root.SetPartial(MutualPartial)"></span></td>
                                <td><span data-bind="text: formatNumber(MutualUnitNumber)"></span></td>
                                <td><a href="#" data-bind="click:function(data){$root.GetSelectedRowUTSwitch($index(),$data)}">Update</a></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.SwitchingColl().length == 0">
                            <tr>
                                <td colspan="13" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Switching -->
                <!-- Attachment -->
                <h3 class="header smaller lighter dark">
                    Attachment
                    <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocument">
                        <i class="icon-plus"></i>
                        Attach
                    </button>
                </h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>File Name</th>
                                <th>Purpose of Docs</th>
                                <th>Type of Docs</th>
                                <th>Modified</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.Documents, visible: $root.Documents().length > 0">
                            <tr>

                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath.DocPath, target: '_blank' }, text: DocumentPath.name,disable:(ID>0)"></a></td>
                                <!--<td><span data-bind="text: DocumentPath.name"></span></td>-->
                                <td><span data-bind="text: Purpose.Name"></span></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: moment(DocumentPath.lastModifiedDate).format(config.format.dateTime)"></span></td>
                                <td><a href="#" data-bind="click: $root.RemoveDocument">Remove</a></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.Documents().length == 0">
                            <tr>
                                <td colspan="6" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Attachment -->
                <br />
            </div>
        </div>
    </div>
</div>


