﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="row" data-bind="with: TransactionUTModel">
        <div class="col-xs-12">
            <div id="customerut-form" class="form-horizontal" role="form">

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right">
                        <span data-bind="text: $root.LocalDate(CreateDate(), true, true)"></span>
                    </label>

                    <label class="col-sm-4 pull-right">
                        <b>Application ID</b> : <span data-bind="text: ApplicationID"></span><br />
                        <b>User Name</b> : <span data-bind="text: $root.SPUser().DisplayName"></span>
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="customerut">Customer Name</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-6 autocomplete" name="customerut" data-bind="value: Customer().Name,disable: true" id="customerut" data-rule-required="true" />
                            <label class="control-label bolder text-danger" for="customerut">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="cifut">CIF</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-3" name="cifut" id="cifut" data-bind="value: Customer().CIF" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="productut">Product</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="productut" name="productut" data-bind="value: $root.Selected().Product,options:$root.Parameter().Products,optionsText:function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'},optionsValue:'ID',optionsCaption: 'Please Select...', event: { change: $root.OnProductChange },disable: true" class="col-sm-6" data-rule-required="true" />
                            <label class="control-label bolder text-danger" for="productut">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="functiontype">Function Type</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="functiontype" name="functiontype" data-bind="options: $root.ParameterUT().FunctionTypes, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().FunctionType,event: { change: $root.OnUTChange }" class="col-sm-6" data-rule-required="true" />
                            <label class="control-label bolder text-danger" for="product">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" data-bind="visible: !$root.IsUTNew()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="investmentid">Investment ID</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" id="investmentid" name="investmentid" data-rule-number="false" data-rule-required="true" data-bind="value: Investment" class="col-sm-3" />
                            <button class="btn btn-sm btn-primary" data-bind="click: $root.BindInvestment">
                                <i class="icon-edit"></i>
                                ...
                            </button>
                            <label data-bind="visible: viewModel.IsInvestmentID()" class="control-label bolder text-danger" for="investmentid">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="accounttype">Account Type</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="accounttype" name="accounttype" data-bind="options: $root.ParameterUT().AccountTypes, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().AccountType,event: { change: $root.OnUTChange },disable: $root.IsUTClosed()" class="col-sm-6" data-rule-required="true" />
                            <label class="control-label bolder text-danger" data-bind="visible: $root.IsAccountType()" for="product">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="fnacore">FNA Core</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="fnacore" data-bind="options: $root.ParameterUT().FNACores, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().FNACore,event: { change: $root.OnUTChange },disable: $root.IsUTClosed()" class="col-sm-6" data-rule-required="true" />
                            <label class="control-label bolder text-danger" data-bind="visible: $root.IsFNACore()" for="product">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="solidut">SOL ID</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" id="solidut" name="solidut" data-rule-number="true" data-bind="value: SolID,disable: $root.IsUTClosed()" class="col-sm-3" />
                            <label class="control-label bolder text-danger" data-bind="visible: $root.IsSolID()" for="product">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" data-bind="visible: $root.IsUTFNA()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="customerriskeffectivedate">Customer Risk Effective Date</label>
                    <div class="col-sm-9">
                        <div class="clearfix input-group col-sm-3 no-padding">
                            <input type="text" id="customerriskeffectivedate" name="customerriskeffectivedate" class="form-control date-picker" autocomplete="off" data-bind="value:  CustomerRiskEffectiveDate,disable: $root.IsUTClosed()" data-date-format="dd-M-yyyy" data-rule-value="true" />
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                            <label class="control-label bolder text-danger" for="product">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" data-bind="visible: $root.IsUTFNA()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="riskprofileexpirydate">Risk Profile Expiry Date</label>
                    <div class="col-sm-9">
                        <div class="clearfix input-group col-sm-3 no-padding">
                            <input type="text" id="riskprofileexpirydate" name="riskprofileexpirydate" class="form-control date-picker" autocomplete="off" data-bind="value:  RiskProfileExpiryDate,disable: $root.IsUTClosed()" data-date-format="dd-M-yyyy" data-rule-value="true" />
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                            <label class="control-label bolder text-danger" for="product">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" data-bind="visible: $root.IsUTFNA()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="riskscore">Risk Score</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" id="riskscore" name="riskscore" data-rule-number="true" data-bind="value: RiskScore,disable: $root.IsUTClosed()" class="col-sm-3" />
                            <label class="control-label bolder text-danger" for="product">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="operativeaccount">Operative Account</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" id="operativeaccount" name="operativeaccount" data-rule-required="true" data-rule-number="true" data-bind="value: OperativeAccount,disable: $root.IsUTClosed()" class="col-sm-3" autocomplete="off" />
                            <label class="control-label bolder text-danger" data-bind="visible: $root.IsOperativeAcc()" for="product">*</label>
                        </div>
                    </div>
                </div>
                <!--<div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="remarksut">Remarks</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <textarea id="remarksut" name="remarksut" class="form-control" data-bind="value: Remarks"></textarea>
                        </div>
                    </div>
                </div>-->
                <div class="padding-4" data-bind="visible: $root.IsUTJoin()">
                    <h3 class="header smaller lighter dark">
                        Join
                        <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.AddJoin,visible: $root.IsUTNew() && $root.IsUTJoin()">
                            <i class="icon-plus"></i>
                            Add Join
                        </button>
                    </h3>
                    <div class="dataTables_wrapper" role="grid" data-bind="visible: $root.IsUTFNA()">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>Join</th>
                                    <th>Join Type</th>
                                    <th>Customer Name</th>
                                    <th>CIF</th>
                                    <th>Customer Risk Effective Date</th>
                                    <th>Risk Score</th>
                                    <th>Risk Profile Expiry Date </th>
                                    <th data-bind="visible: !$root.IsUTClosed()">Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: $root.UTJoinFNA, visible: $root.UTJoinFNA().length > 0">
                                <tr data-bind="event: {click:function(data){if(!$root.IsUTClosed()){$root.GetSelectedRowUTFna($index(),$data)}}}" data-toggle="modal">
                                    <td><span data-bind="text: $index()+2"></span></td>
                                    <td><span data-bind="text: Join.Name"></span></td>
                                    <td><span data-bind="text: CustomerJoin.Name"></span></td>
                                    <td><span data-bind="text: CustomerJoin.CIF"></span></td>
                                    <td><span data-bind="text: $root.LocalDate(CustomerRiskEffectiveDateJoin, true, false)"></span></td>
                                    <td><span data-bind="text: RiskScoreJoin"></span></td>
                                    <td><span data-bind="text: $root.LocalDate(RiskProfileExpiryDateJoin, true, false)"></span></td>
                                    <td data-bind="visible: !$root.IsUTClosed()"><a href="#" data-bind="click: $root.RemoveJoinFNA">Remove</a></td>
                                </tr>
                            </tbody>
                            <tbody data-bind="visible: $root.UTJoinFNA().length == 0">
                                <tr>
                                    <td colspan="16" align="center">No entries available.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="dataTables_wrapper" role="grid" data-bind="visible: !$root.IsUTFNA()">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th style="width:50px">No.</th>
                                    <th>Join Type</th>
                                    <th>Customer Name</th>
                                    <th>CIF</th>
                                    <th>Sol ID</th>
                                    <th data-bind="visible: !$root.IsUTClosed()">Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: $root.UTJoinNonFNA, visible: $root.UTJoinNonFNA().length > 0">
                                <tr data-bind="event: {click:function(data){if(!$root.IsUTClosed()){$root.GetSelectedRowUTNonFna($index(),$data)}}}" data-toggle="modal">
                                    <td><span data-bind="text: $index()+2"></span></td>
                                    <td><span data-bind="text: Join.Name"></span></td>
                                    <td><span data-bind="text: CustomerJoin.Name"></span></td>
                                    <td><span data-bind="text: CustomerJoin.CIF"></span></td>
                                    <td><span data-bind="text: SolIDJoin"></span></td>
                                    <td data-bind="visible: !$root.IsUTClosed()"><a href="#" data-bind="click: $root.RemoveJoinNONFNA,visible: !$root.IsUTClosed()">Remove</a></td>
                                </tr>
                            </tbody>
                            <tbody data-bind="visible: $root.UTJoinNonFNA().length == 0">
                                <tr>
                                    <td colspan="16" align="center">No entries available.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <h3 class="header smaller lighter dark">
                    Attachment
                    <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocument">
                        <i class="icon-plus"></i>
                        Attach
                    </button>
                </h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>File Name</th>
                                <th>Purpose of Docs</th>
                                <th>Type of Docs</th>
                                <th>Modified</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.Documents, visible: $root.Documents().length > 0">
                            <tr>

                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath.DocPath, target: '_blank' }, text: DocumentPath.name,disable:(ID>0)"></a></td>
                                <!--<td><span data-bind="text: DocumentPath.name"></span></td>-->
                                <td><span data-bind="text: Purpose.Name"></span></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: moment(DocumentPath.lastModifiedDate).format(config.format.dateTime)"></span></td>
                                <td><a href="#" data-bind="click: $root.RemoveDocument">Remove</a></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.Documents().length == 0">
                            <tr>
                                <td colspan="6" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
            </div>
        </div>

        <div id="modal-form-fdaddjoinfna" class="modal fade" tabindex="0" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog" style="width:900px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="blue bigger">
                            <span data-bind="if: $root.IsNewDataUT()">Add Join</span>
                            <span data-bind="if: !$root.IsNewDataUT()">Edit Join</span>
                        </h4>
                    </div>
                    <div class="modal-body overflow-visible">
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="customer-form" class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                                        <div class="col-sm-6">
                                            <div class="clearfix">
                                                <input type="text" autocomplete="off" class="col-sm-11" name="customer-nameJoinFna" id="customer-nameJoinFna" data-rule-required="true" data-bind="value: CustomerJoin().Name" />
                                                <label class="control-label bolder text-danger" for="customer-nameJoinFna">*</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <input type="text" autocomplete="off" class="col-sm-3" name="cifUTJoinFna" id="cifUTJoinFna" data-bind="value: CustomerJoin().CIF, disable: true" />
                                                <label class="control-label bolder text-danger" for="product">*</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" data-bind="">
                                        <label class="col-sm-3 control-label bolder no-padding-right">Customer Risk Effective Date</label>
                                        <div class="col-sm-9">
                                            <div class="clearfix input-group col-sm-3 no-padding">
                                                <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="value-date" name="value-date" data-rule-required="false" data-rule-value="true" data-bind="value: CustomerRiskEffectiveDateJoin">
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar bigger-110"></i>
                                                </span>
                                                <label class="control-label bolder text-danger" for="product">*</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" data-bind="">
                                        <label class="col-sm-3 control-label bolder no-padding-right">Risk Score</label>
                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <input type="text" autocomplete="off" class="col-sm-4 align-right" name="irate" id="irate" data-in="" data-rule-required="false" data-rule-number="true" data-bind="value: RiskScoreJoin" />
                                                <label class="control-label bolder text-danger" for="product">*</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group" data-bind="">
                                        <label class="col-sm-3 control-label bolder no-padding-right">Risk Profile Expiry Date</label>
                                        <div class="col-sm-9">
                                            <div class="clearfix input-group col-sm-3 no-padding">
                                                <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="maturity-date" name="maturity-date" data-rule-required="false" data-rule-value="true" data-bind="value: RiskProfileExpiryDateJoin">
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar bigger-110"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" data-bind="">
                                        <label class="col-sm-3 control-label bolder no-padding-right">Join</label>
                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <select id="JoinType" name="JoinType" data-bind="options: $root.ParameterUT().Joins, optionsText: 'Name', optionsValue: 'ID', value: $root.Selected().Join" class="col-sm-6" data-rule-required="true" />
                                                <label class="control-label bolder text-danger" for="jointype">*</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-sm btn-primary" data-bind="click: $root.AddJoinFna, visible: $root.IsNewDataUT()">
                            <i class="icon-save"></i>
                            Save
                        </button>
                        <button class="btn btn-sm btn-primary" data-bind="click: $root.UpdateJoinFna, visible: !$root.IsNewDataUT()">
                            <i class="icon-edit"></i>
                            Update
                        </button>
                        <button class="btn btn-sm" data-dismiss="modal">
                            <i class="icon-remove"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-form-fdaddjoinnonfna" class="modal fade" tabindex="0" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog" style="width:900px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="blue bigger">
                            <span data-bind="if: $root.IsNewDataUT()">Add Join</span>
                            <span data-bind="if: !$root.IsNewDataUT()">Edit Join</span>
                        </h4>
                    </div>
                    <div class="modal-body overflow-visible">
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="customer-form" class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                                        <div class="col-sm-6">
                                            <div class="clearfix">
                                                <input type="text" autocomplete="off" class="col-sm-11" name="customer-nameJoinNonFna" id="customer-nameJoinNonFna" data-rule-required="true" data-bind="value: CustomerJoin().Name" />
                                                <label class="control-label bolder text-danger" for="customer-nameJoinFna">*</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <input type="text" autocomplete="off" class="col-sm-3" name="cifUTJoinNonFna" id="cifUTJoinNonFna" data-bind="value: CustomerJoin().CIF, disable: true" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" data-bind="">
                                        <label class="col-sm-3 control-label bolder no-padding-right">SOL ID</label>
                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <input type="text" class="col-sm-3" name="solidjoin" id="solidjoin" data-rule-required="false" data-rule-number="true" data-bind="value: SolIDJoin" />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group" data-bind="">
                                        <label class="col-sm-3 control-label bolder no-padding-right">Join</label>
                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <select id="JoinType" name="JoinType" data-bind="options: $root.ParameterUT().Joins, optionsText: 'Name', optionsValue: 'ID', value: $root.Selected().Join" class="col-sm-6" data-rule-required="true" />
                                                <label class="control-label bolder text-danger" for="jointype">*</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-sm btn-primary" data-bind="click: $root.AddJoinNonFna, visible: $root.IsNewDataUT()">
                            <i class="icon-save"></i>
                            Save
                        </button>
                        <button class="btn btn-sm btn-primary" data-bind="click: $root.UpdateJoinNonFna, visible: !$root.IsNewDataUT()">
                            <i class="icon-edit"></i>
                            Update
                        </button>
                        <button class="btn btn-sm" data-dismiss="modal">
                            <i class="icon-remove"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


