﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="row" data-bind="with: FDModel">
        <div class="col-xs-12">
            <div id="customer-form" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right">
                        <span data-bind="text: $root.LocalDate(CreateDate(), true, true)"></span>
                    </label>

                    <label class="col-sm-4 pull-right">
                        <b>Application ID</b> : <span data-bind="text: ApplicationID"></span><br />
                        <b>User Name</b> : <span data-bind="text: $root.SPUser().DisplayName"></span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="top-urgent">Top Urgent</label>

                    <div class="col-xs-1">
                        <label>
                            <input class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsTopUrgent ">
                            <span class="lbl"></span>
                        </label>
                    </div>

                    <label class="col-sm-2 control-label bolder no-padding-right" for="top-urgent">Top Urgent Chain</label>

                    <div class="col-xs-2">
                        <label>
                            <input class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsTopUrgentChain">
                            <span class="lbl"></span>
                        </label>
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                    <div class="col-sm-6">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-11" name="customer-nameFD" id="customer-nameFD" data-rule-required="true" data-bind="value: Customer().Name, disable: IsDraft" />
                            <label class="control-label bolder text-danger" for="customer-name">*</label>
                        </div>
                    </div>

                    <div class="col-xs-3">
                        <label>
                            <input class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsNewCustomer, event: { click: $root.IsNewCustomerOnChange }, disable: IsDraft">
                            <span class="lbl"></span>
                        </label>
                        <span>&nbsp; <b>New Customer</b></span>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-3" name="cifFD" id="cifFD" data-bind="value: Customer().CIF, disable: !IsNewCustomer()" />
                            <label class="control-label bolder text-danger" for="customer-name" data-bind="visible: IsNewCustomer()">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="product" name="product" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Parameter().Products, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().Product, event: { change: $root.OnProductChange }, disable: true"></select>
                            <label class="control-label bolder text-danger" for="product">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="channel" name="channel" data-rule-required="true" data-rule-value="true" data-bind="options:$root.Parameter().Channels, optionsText:'Name', optionsValue:'ID', optionsCaption:'Please Select...', value:$root.Selected().Channel"></select>
                            <label class="control-label bolder text-danger" for="channel">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" data-bind="if: $root.IsPPURole()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="source" name="source" data-rule-required="true" data-rule-value="true" data-bind="options:$root.Parameter().Sources, optionsText:'Name', optionsValue:'ID', optionsCaption:'Please Select...', value:$root.Selected().Source"></select>
                            <label class="control-label bolder text-danger" for="source">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" data-bind="visible: $root.IsDraftForm()">
                    <label class="col-sm-3 control-label bolder no-padding-right">Transaction Type</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="fdtranstypeDraft" name="fdtranstypeDraft" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Parameter().TransactionType, optionsText: 'TransactionTypeName', optionsValue: 'TransTypeID', optionsCaption: 'Please Select...', value: $root.Selected().TransactionType,event: { change: $root.OnFDTransactionTypeChange }"></select>
                            <label class="control-label bolder text-danger" for="fdtranstypeDraft">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" data-bind="visible: $root.IsDraftForm() && ($root.IsPremature() || $root.IsBreakMaturity() || $root.IsChangeInstruction() || $root.IsFDMaintenance())">
                    <label class="col-sm-3 control-label bolder no-padding-right">FD Acc Number</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" name="fdaccno" id="fdaccno" data-in="" data-rule-required="true" data-rule-number="true" data-bind="value: $root.FDModel().FDAccNumber,disable: !$root.IsEditable()" />
                            <label class="control-label bolder text-danger" for="fdaccno">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" data-bind="visible: $root.IsDraftForm()">
                    <label class="col-sm-3 control-label bolder no-padding-right">Currency</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="currency" name="currency" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Parameter().Currencies, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().Currency, disable: !$root.IsEditable()"></select>
                            <label class="control-label bolder text-danger" for="currency">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" data-bind="visible: $root.IsDraftForm()">
                    <label class="col-sm-3 control-label bolder no-padding-right">Amount</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" name="trxn-amountFD_b" id="trxn-amountFD_b" data-in="" data-rule-required="true" data-rule-number="true" data-bind="value: $root.FDModel().Amount,disable: !$root.IsEditable()" />
                            <label class="control-label bolder text-danger" for="trxn-amount">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" data-bind="visible: $root.IsDraftForm() && ($root.IsPremature() || $root.IsBreakMaturity())">
                    <label class="col-sm-3 control-label bolder no-padding-right">Credit Acc Number</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" name="creditaccno" id="creditaccno" data-in="" data-rule-required="false" data-rule-number="true" data-bind="value: $root.FDModel().CreditAccNumber,disable: !$root.IsEditable()" />
                        </div>
                    </div>
                </div>
                <div class="form-group" data-bind="visible: $root.IsDraftForm() && ($root.IsChangeInstruction())">
                    <label class="col-sm-3 control-label bolder no-padding-right">Debit Acc Number</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" name="debitaccno" id="debitaccno" data-in="" data-rule-required="false" data-rule-number="true" data-bind="value: $root.FDModel().DebitAccNumber,disable: !$root.IsEditable()" />
                        </div>
                    </div>
                </div>                
                <!--<div class="form-group" data-bind="visible: $root.IsDraftForm() && ($root.IsFDMaintenance())">
                    <label class="col-sm-3 control-label bolder no-padding-right">Tenor</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" name="tenor" id="tenor" data-in="" data-rule-required="false" data-rule-number="true" data-bind="value: $root.FDModel().Tenor,disable: !$root.IsEditable()" />
                        </div>
                    </div>
                </div>-->

                <div class="form-group" data-bind="visible: $root.IsDraftForm() && ($root.IsPremature() || $root.IsBreakMaturity() || $root.IsChangeInstruction() || $root.IsFDMaintenance())">
                    <label class="col-sm-3 control-label bolder no-padding-right">Value Date</label>
                    <div class="col-sm-9">
                        <div class="clearfix input-group col-sm-3 no-padding">
                            <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="value-date" name="value-date" data-rule-required="false" data-rule-value="true" data-bind="value: $root.FDModel().ValueDate,disable: !$root.IsEditable()">
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group" data-bind="visible: $root.IsDraftForm() && ($root.IsPremature() || $root.IsBreakMaturity() || $root.IsChangeInstruction() || $root.IsFDMaintenance())">
                    <label class="col-sm-3 control-label bolder no-padding-right">Maturity Date</label>
                    <div class="col-sm-9">
                        <div class="clearfix input-group col-sm-3 no-padding">
                            <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="maturity-date" name="maturity-date" data-rule-required="false" data-rule-value="true" data-bind="value: $root.FDModel().MaturityDate,disable: !$root.IsEditable()">
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group" data-bind="visible: $root.IsDraftForm() && ($root.IsPremature() || $root.IsBreakMaturity() || $root.IsChangeInstruction())">
                    <label class="col-sm-3 control-label bolder no-padding-right">Transaction Remarks</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="fdRemarks" name="fdRemarks" data-rule-required="false" data-rule-value="true" data-bind="options: $root.Parameter().FDRemarks, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().FDRemarks"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group" data-bind="visible: $root.IsDraftForm() && ($root.IsPremature() || $root.IsBreakMaturity() || $root.IsChangeInstruction())">
                    <label class="col-sm-3 control-label bolder no-padding-right">Bank Name &amp; Acc No.</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <textarea class="col-sm-12" name="bankname" id="bankname" rows="6" data-rule-required="false" data-bind="value: $root.FDModel().FDBankName"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group" data-bind="visible: $root.IsDraftForm()">
                    <label class=" col-sm-3 control-label bolder no-padding-right">Docs Complete</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="checkbox" name="docs-complete-fd" class="col-sm-1" id="docs-complete-fd" data-bind="checked:$root.FDModel().DocsComplete" />                            
                        </div>
                    </div>
                </div>
                <!--<div class="form-group" data-bind="visible: !$root.IsDocsComplete() && $root.IsDraftForm()">
                    <label class="col-sm-3 control-label bolder no-padding-right">All In Rate</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" name="all-in-rate-fd" id="all-in-rate-fd" data-in="" data-rule-required="true" data-rule-number="true" data-bind="value:$root.FDModel().AllInRate" />
                            <label class="control-label bolder text-danger" for="all-in-rate-fd">*</label>
                        </div>
                    </div>
                </div>-->
                <div class="form-group" data-bind="visible: !$root.IsDocsComplete() && $root.IsDraftForm()">
                    <label class="col-sm-3 control-label bolder no-padding-right">Interest Rate</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" name="irate" id="irate" data-in="" data-rule-required="false" data-rule-number="true" data-bind="value: $root.FDModel().InterestRate,disable: !$root.IsEditable()" /><b>%</b>
                        </div>
                    </div>

                </div>
                <div class="form-group" data-bind="visible: $root.IsDraftForm()">
                    <label class="col-sm-3 control-label bolder no-padding-right">Tenor</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="tenor-fd" name="tenor-fd" data-bind="options: $root.Parameter().TenorFDs, optionsText: 'Tenor', optionsValue: 'IQuoteID', optionsCaption: 'Please Select...', value: $root.Selected().TenorFD, event: { change: $root.OnChangeTenorDraft }"></select>
                            <label class="control-label bolder text-danger" for="tenor-fd" data-bind="visible: $root.IsDocsComplete()">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" data-bind="visible: $root.IsDraftForm()">
                    <label class="col-sm-3 control-label bolder no-padding-right">FTP Rate</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" name="ftp-rate-fd" id="ftp-rate-fd" data-bind="value: $root.FDModel().FTPRate, disable: true" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right">Attachment Remarks</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <textarea class="col-sm-12" name="attachremarks" id="attachremarks" rows="6" data-rule-required="false" data-bind="value: $root.FDModel().AttachmentRemarks"></textarea>
                        </div>
                    </div>
                </div>
                <h3 class="header smaller lighter dark" data-bind="visible: $root.IsDraftForm()">
                    Attachment
                    <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocument, disable: !$root.IsEditable()">
                        <i class="icon-plus"></i>
                        Attach
                    </button>
                </h3>
                <div class="dataTables_wrapper" role="grid" data-bind="visible: $root.IsDraftForm()">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>File Name</th>
                                <th>Purpose of Docs</th>
                                <th>Type of Docs</th>
                                <th>Modified</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.Documents, visible: $root.Documents().length > 0">
                            <tr>
                                <!--data-bind="click: $root.EditDocument"-->
                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath.DocPath, target: '_blank' }, text: DocumentPath.name,disable:(ID>0)"></a></td>
                                <!--<td><span data-bind="text: DocumentPath.name"></span></td>-->
                                <td><span data-bind="text: Purpose.Name"></span></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: moment(DocumentPath.lastModifiedDate).format(config.format.dateTime)"></span></td><!--$root.LocalDate(LastModifiedDate)-->
                                <td><a href="#" data-bind="click: $root.RemoveDocument">Remove</a></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.Documents().length == 0">
                            <tr>
                                <td colspan="6" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="padding-4" data-bind="visible: !$root.IsDraftForm()">
                <h3 class="header smaller lighter dark">
                    Transaction List
                    <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.AddFDTransaction">
                        <i class="icon-plus"></i>
                        Add Transaction
                    </button>
                </h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>Application ID</th>
                                <th>Transaction Type</th>
                                <th>FD Account No</th>
                                <th>Currency</th>
                                <th>Amount</th>
                                <th>Credit Acc No</th>
                                <th>Debit Acc No</th>
                                <th>Interest Rate</th>
                                <th>Tenor</th>
                                <th>Value Date</th>
                                <th>Maturity Date</th>
                                <th>Remarks</th>
                                <th>Bank Name &amp; Acc No</th>
                                <!--<th>Attachment</th>-->
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.FDTransaction, visible: $root.FDTransaction().length > 0">
                            <tr data-bind="event: {click:function(data){$root.GetSelectedRowFD($index(),$data)}}" data-toggle="modal">
                                <!--data-bind="click: $root.EditDocument"-->
                                <td><span data-bind="text: $index()+1"></span></td>
                                <td><span data-bind="text: ApplicationID"></span></td>
                                <td><span data-bind="text: TransactionType.TransactionTypeName"></span></td>
                                <td><span data-bind="text: FDAccNumber"></span></td>
                                <td><span data-bind="text: Currency.Code"></span></td>
                                <td><span data-bind="text: formatNumber(Amount)"></span></td>
                                <td><span data-bind="text: CreditAccNumber"></span></td>
                                <td><span data-bind="text: DebitAccNumber"></span></td>
                                <td><span data-bind="text: InterestRate"></span></td>
                                <td><span data-bind="text: Tenor"></span></td>
                                <td><span data-bind="text: ValueDate"></span></td>
                                <td><span data-bind="text: MaturityDate"></span></td>
                                <td><span data-bind="text: Remarks.Name"></span></td>
                                <td><span data-bind="text: FDBankName"></span></td>
                                <!--<td><span data-bind=""></span></td>-->
                                <td><a href="#" data-bind="click: $root.RemoveFDTransaction">Remove</a></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.FDTransaction().length == 0">
                            <tr>
                                <td colspan="16" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="modal-form-fdaddtrans" class="modal fade" tabindex="0" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog" style="width:900px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="blue bigger">
                            <span data-bind="if: $root.IsNewDataFD()">Add Transaction</span>
                            <span data-bind="if: !$root.IsNewDataFD()">Edit Transaction</span>
                        </h4>
                    </div>
                    <div class="modal-body overflow-visible">
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="customer-form" class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label bolder no-padding-right">Transaction Type</label>
                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <select id="fdtranstype" name="fdtranstype" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Parameter().TransactionType, optionsText: 'TransactionTypeName', optionsValue: 'TransTypeID', optionsCaption: 'Please Select...', value: $root.Selected().TransactionType,event: { change: $root.OnFDTransactionTypeChange }"></select>
                                                <label class="control-label bolder text-danger" for="fdtranstype">*</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" data-bind="visible: $root.IsPremature() || $root.IsBreakMaturity() || $root.IsChangeInstruction() || $root.IsFDMaintenance()">
                                        <label class="col-sm-3 control-label bolder no-padding-right">FD Acc Number</label>
                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <input type="text" autocomplete="off" class="col-sm-4 align-right" name="fdaccno" id="fdaccno" data-in="" data-rule-required="true" data-rule-number="true" data-bind="value: $root.FDModel().FDAccNumber,disable: !$root.IsEditable()" />
                                                <label class="control-label bolder text-danger" for="fdaccno">*</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label bolder no-padding-right">Currency</label>
                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <select id="currency" name="currency" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Parameter().Currencies, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().Currency, disable: !$root.IsEditable()"></select>
                                                <label class="control-label bolder text-danger" for="currency">*</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label bolder no-padding-right">Amount</label>
                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <input type="text" autocomplete="off" class="col-sm-4 align-right" name="trxn-amountFD_a" id="trxn-amountFD_a" data-in="" data-rule-required="true" data-rule-number="true" data-bind="value: $root.FDModel().Amount,disable: !$root.IsEditable()" />
                                                <label class="control-label bolder text-danger" for="trxn-amount">*</label>
                                            </div>
                                        </div>
                                    </div>                                    
                                    <div class="form-group" data-bind="visible: $root.IsPremature() || $root.IsBreakMaturity()">
                                        <label class="col-sm-3 control-label bolder no-padding-right">Credit Acc Number</label>
                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <input type="text" autocomplete="off" class="col-sm-4 align-right" name="creditaccno" id="creditaccno" data-in="" data-rule-required="false" data-rule-number="true" data-bind="value: $root.FDModel().CreditAccNumber,disable: !$root.IsEditable()" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" data-bind="visible: $root.IsChangeInstruction()">
                                        <label class="col-sm-3 control-label bolder no-padding-right">Debit Acc Number</label>
                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <input type="text" autocomplete="off" class="col-sm-4 align-right" name="debitaccno" id="debitaccno" data-in="" data-rule-required="false" data-rule-number="true" data-bind="value: $root.FDModel().DebitAccNumber,disable: !$root.IsEditable()" />
                                            </div>
                                        </div>
                                    </div>                                    
                                    <!--
                                    <div class="form-group" data-bind="visible: $root.IsFDMaintenance()">
                                        <label class="col-sm-3 control-label bolder no-padding-right">Tenor</label>
                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <input type="text" autocomplete="off" class="col-sm-4 align-right" name="tenor" id="tenor" data-in="" data-rule-required="false" data-rule-number="true" data-bind="value: $root.FDModel().Tenor,disable: !$root.IsEditable()" />
                                            </div>
                                        </div>
                                    </div>
                                        -->
                                    <div class="form-group" data-bind="visible: $root.IsPremature() || $root.IsBreakMaturity() || $root.IsChangeInstruction() || $root.IsFDMaintenance()">
                                        <label class="col-sm-3 control-label bolder no-padding-right">Value Date</label>
                                        <div class="col-sm-9">
                                            <div class="clearfix input-group col-sm-3 no-padding">
                                                <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="value-date" name="value-date" data-rule-required="false" data-rule-value="true" data-bind="value: $root.FDModel().ValueDate,disable: !$root.IsEditable()">
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar bigger-110"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" data-bind="visible: $root.IsPremature() || $root.IsBreakMaturity() || $root.IsChangeInstruction() || $root.IsFDMaintenance()">
                                        <label class="col-sm-3 control-label bolder no-padding-right">Maturity Date</label>
                                        <div class="col-sm-9">
                                            <div class="clearfix input-group col-sm-3 no-padding">
                                                <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="maturity-date" name="maturity-date" data-rule-required="false" data-rule-value="true" data-bind="value: $root.FDModel().MaturityDate,disable: !$root.IsEditable()">
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar bigger-110"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" data-bind="visible: $root.IsPremature() || $root.IsBreakMaturity() || $root.IsChangeInstruction()">
                                        <label class="col-sm-3 control-label bolder no-padding-right">Transaction Remarks</label>
                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <select id="fdRemarks" name="fdRemarks" data-rule-required="false" data-rule-value="true" data-bind="options: $root.Parameter().FDRemarks, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().FDRemarks"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" data-bind="visible: $root.IsPremature() || $root.IsBreakMaturity() || $root.IsChangeInstruction()">
                                        <label class="col-sm-3 control-label bolder no-padding-right">Bank Name &amp; Acc No.</label>
                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <textarea class="col-sm-12" name="bankname" id="bankname" rows="6" data-rule-required="false" data-bind="value: $root.FDModel().FDBankName"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label bolder no-padding-right">Docs Complete</label>
                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <input type="checkbox" name="docs-complete-fd" class="col-sm-1" id="docs-complete-fd" data-bind="checked:$root.FDModel().DocsComplete" />
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="form-group" data-bind="visible: !$root.IsDocsComplete()">
                                        <label class="col-sm-3 control-label bolder no-padding-right">All In Rate</label>
                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <input type="text" autocomplete="off" class="col-sm-4 align-right" name="all-in-rate-fd" id="all-in-rate-fd" data-in="" data-rule-number="true" data-bind="value:$root.FDModel().AllInRate" />
                                                <label class="control-label bolder text-danger" for="all-in-rate-fd">*</label>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="form-group" data-bind="visible: !$root.IsDocsComplete()">
                                        <label class="col-sm-3 control-label bolder no-padding-right">Interest Rate</label>
                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <input type="text" autocomplete="off" class="col-sm-4 align-right" name="intereset-rate" id="intereset-rate" data-in="" data-rule-required="true" data-rule-number="true" data-bind="value: $root.FDModel().InterestRate,disable: !$root.IsEditable()" /><b>%</b>
                                                <label class="control-label bolder text-danger" for="intereset-rate">*</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label bolder no-padding-right">Tenor</label>
                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <select id="tenor-fd" name="tenor-fd" data-bind="options: $root.Parameter().TenorFDs, optionsText: 'Tenor', optionsValue: 'IQuoteID', optionsCaption: 'Please Select...', value: $root.Selected().TenorFD"></select>
                                                <label class="control-label bolder text-danger" for="tenor-fd" data-bind="visible: $root.IsDocsComplete()">*</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label bolder no-padding-right">FTP Rate</label>
                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <input type="text" autocomplete="off" class="col-sm-4 align-right" name="ftp-rate-fd" id="ftp-rate-fd" data-bind="value: $root.FDModel().FTPRate, disable: true" />
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="header smaller lighter dark">
                                        Attachment
                                        <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocumentFD, disable: !$root.IsEditable()">
                                            <i class="icon-plus"></i>
                                            Attach
                                        </button>
                                    </h3>
                                    <div class="dataTables_wrapper" role="grid">
                                        <table class="table table-striped table-bordered table-hover dataTable">
                                            <thead>
                                                <tr>
                                                    <th style="width:50px">No.</th>
                                                    <th>File Name</th>
                                                    <th>Purpose of Docs</th>
                                                    <th>Type of Docs</th>
                                                    <th>Modified</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: $root.FDModel().Documents, visible: $root.FDModel().Documents().length > 0">
                                                <tr>
                                                    <!--data-bind="click: $root.EditDocument"-->
                                                    <td><span data-bind="text: $index() +1"></span></td>
                                                    <td><span data-bind="text: FileName"></span></td>
                                                    <td><span data-bind="text: Purpose.Name"></span></td>
                                                    <td><span data-bind="text: Type.Name"></span></td>
                                                    <td><span data-bind="text: moment(DocumentPath.lastModifiedDate).format(config.format.dateTime)"></span></td><!--$root.LocalDate(LastModifiedDate)-->
                                                    <td><a href="#" data-bind="click: $root.RemoveDocumentFD">Remove</a></td>
                                                </tr>
                                            </tbody>
                                            <tbody data-bind="visible: $root.FDModel().Documents().length == 0">
                                                <tr>
                                                    <td colspan="6" align="center">No entries available.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-sm btn-primary" data-bind="click: $root.AddBulkTransaction, visible: $root.IsNewDataFD()">
                            <i class="icon-save"></i>
                            Save
                        </button>
                        <button class="btn btn-sm btn-primary" data-bind="click: $root.UpdateFDTransaction, visible: !$root.IsNewDataFD()">
                            <i class="icon-edit"></i>
                            Update
                        </button>
                        <button class="btn btn-sm" data-dismiss="modal">
                            <i class="icon-remove"></i>
                            Close
                        </button>
                        <button class="btn btn-sm" data-bind="click: $root.AddTransactionClose, visible: $root.IsNewDataFD()">
                            <i class="icon-remove"></i>
                            Save &amp; Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-form-uploadFD" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body overflow-visible">
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="customer-form" class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="document-type">Document Type</label>

                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <select id="document-type" name="document-type" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Parameter().DocumentTypes, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Options..', value: $root.Selected().DocumentType"></select>
                                                <label class="control-label bolder text-danger">*</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="space-4"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="document-purpose">Purpose of Docs</label>

                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <select id="document-purpose" name="document-purpose" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Parameter().DocumentPurposes, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Options..', value: $root.Selected().DocumentPurpose"></select>
                                                <label class="control-label bolder text-danger">*</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="space-4"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="document-pathFD">Document</label>

                                        <div class="col-sm-8">
                                            <div class="clearfix">
                                                <input type="file" id="document-pathFD" name="document-pathFD" data-bind="file: $root.DocumentPath" />
                                                <!---->
                                                <!--<span data-bind="text: DocumentPath"></span>-->
                                            </div>
                                        </div>
                                        <label class="control-label bolder text-danger">*</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-sm btn-primary" data-bind="click: $root.AddDocumentFD">
                            <i class="icon-save"></i>
                            Save
                        </button>
                        <button class="btn btn-sm" data-dismiss="modal">
                            <i class="icon-remove"></i>
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal upload form end -->
        <div id="modal-form-appID" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="blue bigger">
                            Application ID List
                        </h4>
                    </div>
                    <div class="modal-body overflow-visible">
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="customer-form" class="form-horizontal" role="form">
                                    <div class="dataTables_wrapper" role="grid">
                                        <table class="table table-striped table-bordered table-hover dataTable">
                                            <thead>
                                                <tr>
                                                    <th style="width:50px">No.</th>
                                                    <th>Application ID</th>
                                                    <th>Customer</th>
                                                    <th>Transaction Type</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: $root.ApplicationIDColl, visible: $root.ApplicationIDColl().length > 0">
                                                <tr data-toggle="modal">
                                                    <td><span data-bind="text: $index() +1"></span></td>
                                                    <td><span data-bind="text: ApplicationID"></span></td>
                                                    <td><span data-bind="text: Customer.Name"></span></td>
                                                    <td><span data-bind="text: TransactionType"></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-primary" data-bind="click: $root.FinishBulk">
                            <i class="icon-save"></i>
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
