﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="row" data-bind="with: TransactionModel">
        <div class="col-xs-12">
            <div id="customer-form" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right">
                        <span data-bind="text: $root.LocalDate(CreateDate(), true, true)"></span>
                    </label>

                    <label class="col-sm-4 pull-right">
                        <b>Application ID</b> : <span data-bind="text: ApplicationID"></span><br />
                        <b>User Name</b> : <span data-bind="text: $root.SPUser().DisplayName"></span>
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="top-urgent">Top Urgent</label>

                    <div class="col-xs-1">
                        <label>
                            <input class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsTopUrgent">
                            <span class="lbl"></span>
                        </label>
                    </div>

                    <label class="col-sm-1 control-label bolder no-padding-right" for="top-urgent">Top Urgent Chain</label>

                    <div class="col-xs-1">
                        <label>
                            <input class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsTopUrgentChain">
                            <span class="lbl"></span>
                        </label>
                    </div>

                    <label class="col-sm-1 control-label bolder no-padding-right" for="normal">Normal</label>

                    <div class="col-xs-1">
                        <label>
                            <input class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsNormal" />
                            <span class="lbl"></span>
                        </label>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                    <div class="col-sm-6">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-11" name="customer-name" id="customer-name" disabled="disabled" data-rule-required="true" data-bind="value: Customer().Name" />
                            <label class="control-label bolder text-danger" for="customer-name">*</label>
                        </div>
                    </div>

                    <!--<div  class="col-xs-3"> change by fandi for hide toogle customer -->
                    <div id="IsNewCust" class="col-xs-3">
                        <label>
                            <input id="IsNewCus" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: IsNewCustomer, event: { click: $root.IsNewCustomerOnChange }">
                            <span class="lbl"></span>
                        </label>
                        <span>&nbsp; <b>New Customer</b></span>

                    </div>


                    <!--<label class="col-sm-3">
                        <input id="is-new-customer" name="is-new-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsNewCustomer, event: { click: $root.IsNewCustomerOnChange }, disable: IsDraft" />
                        <span class="lbl">&nbsp; <b>New Customer</b></span>
                    </label>-->
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-3" name="cif" id="cif" data-bind="value: Customer().CIF, disable: !IsNewCustomer()" />
                            <label class="control-label bolder text-danger" for="customer-name" data-bind="visible: IsNewCustomer()">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="product" name="product" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Parameter().Products, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().Product, event: { change: $root.OnProductChange }, disable: true"></select>
                            <label class="control-label bolder text-danger" for="product">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="currency">Transaction Currency</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="currency" name="currency" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Parameter().Currencies, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().Currency, disable: !$root.IsEditable(), event: { change: $root.OnChangeCurrency }"></select>
                            <label class="control-label bolder text-danger" for="currency">*</label>

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="trxn-amount">Trxn Amount</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" name="trxn-amount" id="trxn-amount" data-in="" data-rule-required="true" data-rule-number="true" data-bind="value: formatNumber(Amount()),disable: !$root.IsEditable()" />
                            <label class="control-label bolder text-danger" for="trxn-amount">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="rate">IDR Mid Rate (BI Mid-Rate)</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" data-rule-required="true" name="rate" id="rate" data-in="" disabled="disabled" data-rule-number="true" data-bind="value: $root.Rate" />
                            <label class="control-label bolder text-danger" for="rate">*</label>
                        </div>
                    </div>
                </div>

                <!--Permintaan User
                    <div class="form-group" >
                    <label class="col-sm-3 control-label bolder no-padding-right" for="trxrate">Transaction Rate</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" name="trxrate" id="trxrate" data-in="" data-rule-number="true" data-bind="value: $root.TrxRate" /> <!--, event: { change: $root.OnChangeTrxRate }" />
                            <label class="control-label bolder text-danger" data-bind="if:$root.IsRate" for="rate">*</label>
                        </div>
                    </div>
                </div>
                End-->

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="eqv-usd">Eqv. USD</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" disabled="disabled" name="eqv-usd" id="eqv-usd" data-rule-required="true" data-rule-number="true" data-bind="value: formatNumber(AmountUSD())" />
                            <label class="control-label bolder text-danger" for="eqv-usd">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="eqv-usd">TZ Number</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-3 align-right" name="tznumber" id="tznumber" data-bind="value: TZNumber, event: { change: $root.OnChangeTrxRate }" />
                            <label data-bind="if:$root.IsTZNumber" class="control-label bolder text-danger" for="eqv-usd">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="channel" name="channel" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Parameter().Channels, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().Channel, disable: !$root.IsEditable()"></select>
                            <label class="control-label bolder text-danger" for="channel">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="if: $root.IsPPURole()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="source" name="source" data-rule-required="true" data-bind="options: $root.Parameter().Sources, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().Source, disable: !$root.IsEditable()"></select>
                            <label class="control-label bolder text-danger" for="source">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-number">Debit Acc Number</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="book-joinAcc" name="book-statement" data-bind="value: IsJointAccount,
                                        options:$root.CIFJointAccounts,
                                        optionsText:'Name',
                                        optionsValue: 'ID',
                                        event:{ change: $root.OnChangeJointAcc },disable:!$root.IsJointAccount()" class="col-xs-3"></select>
                            <!-- ko ifnot: IsNewCustomer -->
                            <!--<select id="debit-acc-number" name="debit-acc-number" data-rule-required="true" data-rule-value="true" data-bind="options: Customer().Accounts, optionsText: function(item) { if(item.Currency.Code != null) return item.AccountNumber + ' (' + item.Currency.Code + ')'}, optionsValue: 'AccountNumber', optionsCaption: 'Please Select...', value: $root.Selected().Account,event:{ change:$root.CheckEmptyAccountNumber() }"></select>-->
                            <select id="debit-acc-number" name="debit-acc-number" data-bind="options: $root.DynamicAccounts,optionsText: function(item) { if(item.AccountNumber != '-'  ){ if(item.CustomerName!=null){return item.AccountNumber+' ('+  item.Currency.Code+') - '+ item.CustomerName } return item.AccountNumber+' ('+  item.Currency.Code+')'} return item.AccountNumber}, optionsValue: 'AccountNumber', optionsCaption: 'Please Select...', value: $root.Selected().Account, enable: $root.IsDebit, event:{ change: $root.CheckEmptyAccountNumber }" class="col-xs-5"></select>
                            <!-- /ko -->
                            <!-- ko if: IsNewCustomer -->
                            <input type="text" autocomplete="off" class="col-sm-3" name="debit-acc-number" id="debit-acc-number"  data-bind="value: Account().AccountNumber, enable: $root.IsDebit" />
                            <!-- /ko -->
                            <label data-bind="if: $root.IsDebit" class="control-label bolder text-danger" for="debit-acc-number">*</label>
                            <input type="text" autocomplete="off" name="debit-acc-number-empty" id="debit-acc-number-empty" data-rule-required="true"  data-bind="value: OtherAccountNumber,visible: $root.IsEmptyAccountNumber(), enable: $root.IsDebit, event: { change: $root.OnChangeChargeNumber}" />
                            <label class="control-label bolder text-danger" for="debit-acc-number" data-bind="visible: $root.IsEmptyAccountNumber()">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="debit-acc-ccy">Debit Acc CCY</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <!-- ko ifnot: IsNewCustomer -->
                            <input type="text" autocomplete="off" class="col-sm-1" name="debit-acc-ccy" id="debit-acc-ccy" disabled="disabled" data-bind="visible: !IsNewCustomer() && !$root.IsEmptyAccountNumber(), value: Account().Currency.Code" />
                            <!-- /ko -->
                            <!-- ko if: IsNewCustomer -->
                            <select id="currencyCCY" name="currencyCCY" 
                                    data-rule-required="true" data-rule-value="true"
                                     data-bind="options: $root.Parameter().Currencies,
                                optionsText: function(item) { return item.Code + ' (' + item.Description + ')'}, 
                                optionsValue: 'ID', optionsCaption: 'Please Select...',
                                value: $root.Selected().NewCustomer().Currency,
                                event:{ change:$root.OnChangeNewCustCurrency()}"></select>
                            <label class="control-label bolder text-danger" for="debit-acc-ccy">*</label>
                            <!-- /ko -->
                            <select id="currency-empty" name="currency-empty" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Parameter().Currencies, optionsText: function(item) { return item.Code + ' (' + item.Description + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().DebitCurrency,visible: $root.IsEmptyAccountNumber(),event:{ change:$root.OnChangeAccountCurrency() }"></select>
                            <label class="control-label bolder text-danger" for="debit-acc-number" data-bind="visible: $root.IsEmptyAccountNumber()">*</label>
                        </div>
                    </div>
                </div>
                <!--Payment.Product.Name-->
                <!--add by henggar wicaksana-->
                <div class="form-group">
                    <div>
                        <!--data-bind="visible: $root.IsSundryElseIDR">-->
                        <label class="col-sm-3 control-label bolder no-padding-right" for="debit-sundry">Debit Sundry </label>

                        <div class="col-sm-9">
                            <div class="clearfix">
                                <select id="debit-sundry" name="debit-sundry" data-rule-value="true"
                                        data-bind="options: $root.Parameter().Sundries,
                                    optionsText: 'OABAccNo',
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().Sundry,
                                    event:  { change: $root.OnChangeSundry}" class=" col-xs-3"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Permintaan User
                <div class="form-group" data-bind="visible: Product().Name == 'OTT'">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="nostro">Nostro</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="nostro" name="nostro" data-rule-required="true" data-rule-value="true"
                                    data-bind="options: $root.Parameter().DynamicNostroes,
                                    optionsText: 'NostroUsed',
                                    optionsValue: 'ID',
                                    optionsCaption: 'Please Select...',
                                    value: $root.Selected().Nostro" class=" col-xs-3"></select>
                            <label class="control-label bolder text-danger" for="nostro">*</label>
                        </div>
                    </div>
                </div>
                End-->

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="application-date">Application Date</label>
                    <div class="col-sm-2">
                        <div class="clearfix input-group col-sm-12 no-padding">
                            <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="application-date" name="application-date" data-rule-required="true" data-rule-value="true" data-bind="value: ApplicationDate, datepicker: ApplicationDate">
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                            <label class="control-label bolder text-danger starremove starremovefirefox" style="position:absolute;" for="application-date">*</label>
                        </div>
                    </div>
                    <div data-bind="visible: Product().Name == 'OTT'|| Product().Code == 'OV'">
                        <label class="col-sm-2 control-label bolder no-padding-right" for="application-execution">Credit Value Date</label>
                        <div class="col-sm-2">
                            <div class="clearfix input-group col-sm-12 no-padding">
                                <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="application-execution" name="application-execution" data-rule-required="true" data-rule-value="true" data-bind="value: ExecutionDate, disable: !$root.IsEditable(), datepicker: ApplicationDate">
                                <span class="input-group-addon">
                                    <i class="icon-calendar bigger-110"></i>
                                </span>
                                <label class="control-label bolder text-danger starremove starremovefirefox" style="position:absolute;" for="application-date">*</label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="biz-segment">Biz Segment</label>

                    <div class="col-sm-9" data-bind="if: IsNewCustomer() == true">
                        <div class="clearfix">
                            <select id="biz-segment" name="biz-segment" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Parameter().BizSegments, optionsText: function(item){ if(item.Name != null) return item.Name +' ('+ item.Description +')'; }, optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().BizSegment, event: { change:$root.OnChangeBizSegment() }"></select>
                            <label class="control-label bolder text-danger" for="biz-segment">*</label>
                        </div>
                    </div>
                    <div class="col-sm-9" data-bind="ifnot: IsNewCustomer() == true">
                        <div class="clearfix">
                            <select id="biz-segment" name="biz-segment" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Parameter().BizSegments, optionsText: function(item){ if(item.Name != null) return item.Name +' ('+ item.Description +')'; }, optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().BizSegment, disable: !IsNewCustomer()"></select>
                            <label class="control-label bolder text-danger" for="biz-segment">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="if:($root.IsFxTransactionToIDR()|| $root.IsFxTransaction()) && ($root.ProductID() == ConsProductID.OTTProductIDCons || Product().Code == 'OV')">
                    <!-- ?FXCONDITION YES -->
                    <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product Type</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="book-product-type" name="book-product-type" data-bind="options:$root.Parameter().ProductType,
                            optionsText:'Code',optionsValue: 'ID',
                            optionsCaption: 'Please Select...',
                            value: $root.Selected().ProductType,
                            event:{ change: $root.OnchangeProductType}" class="col-xs-3" data-rule-required="true" data-rule-value="true"></select>
                            <label class="control-label bolder text-danger" for="product-type">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="bene-name">Bene Name</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <!--add by fandi for mandatory field-->
                            <div data-bind="if: $root.IsPPUHeadMaker">
                                <input type="text" autocomplete="off" class="col-sm-6" name="bene-name" data-rule-required="true" data-rule-value="true" id="bene-name" data-bind="value: BeneName, disable: !$root.IsEditable()" /> 
                                <label class="control-label bolder text-danger" for="bene-name">*</label>
                            </div>
                            <div data-bind="ifnot: $root.IsPPUHeadMaker">
                                <input type="text" autocomplete="off" class="col-sm-6" name="bene-name" id="bene-name" data-bind="value: BeneName, disable: !$root.IsEditable()" /> <!--, event: { keypress: enforceMaxlength }-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="bene-bank">Bene Bank</label>

                    <div class="col-sm-9">

                        <!--add by fandi for mandatory field-->
                        <div data-bind="if: $root.IsPPUHeadMaker">
                            <input type="text" autocomplete="off" class="col-sm-6" name="bank-name" id="bank-name" data-rule-required="true" data-rule-value="true" data-bind="value: Bank().Description, disable: $root.IsDraft, event: { change: $root.OnChangeBank, blur: $root.OnBlurBank }" />
                            <label class="control-label bolder text-danger" for="bank-name">*</label>
                        </div>
                        <div data-bind="ifnot: $root.IsPPUHeadMaker">
                            <input type="text" autocomplete="off" class="col-sm-6" name="bank-name" id="bank-name" data-bind="value: Bank().Description, disable: $root.IsDraft, event: { blur: $root.OnBlurBank }" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="bank-code">Swift Code/Bank Code</label>
                    <div class="col-sm-2">
                        <input type="text" autocomplete="off" class="col-sm-9" name="bank-code" id="bank-code" data-bind="value: Bank().SwiftCode, enable: !$root.IsOtherBank()" />
                    </div>
                    <label class="col-sm-1 control-label bolder no-padding-right" for="bank-branch-code">Branch Code</label>
                    <div class="col-sm-2">
                        <input type="text" autocomplete="off" class="col-sm-11" name="bank-branch-code" id="bank-branch-code" data-bind="value: BranchID, valueUpdate: 'afterkeydown', event:{ 'keyup': $root.OnChangeBankBranch }" />
                        <label data-bind="if:$root.IsBranchCode" class="control-label bolder text-danger" for="eqv-usd">*</label>
                    </div>
                    <label class="col-sm-1 control-label bolder no-padding-right" for="bank-city-codelbl">City Code</label>
                    <div class="col-sm-2">
                        <input type="text" autocomplete="off" disabled="disabled" class="col-sm-11" name="bank-city-code" id="bank-city-code" data-bind="value: CityID" />

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="bene-acc-number">Bene Acc Number</label>

                    <div class="col-sm-9">
                        <input type="text" autocomplete="off" class="col-sm-6" name="bene-acc-number" id="bene-acc-number" data-rule-required="true" onkeyup="formatAccount()" data-in="" data-bind="value: $root.BeneAccNumberMask(),  event: { change: $root.OnChangeBene, 'focus': $root.OnFocusBeneAcc } " />
                        <label class="control-label bolder text-danger" for="bene-acc-number">*</label>
                    </div>
                </div>

                <div data-bind="if: Product().Name == 'OTT' || Product().Name == 'RTGS' || Product().Name == 'SKN', visible: Product().Name == 'OTT' || Product().Name == 'RTGS' || Product().Name == 'SKN', attr: { class: 'form-group' }">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="bank-charges">Bank Charges</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="bank-charges" name="bank-charges" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Parameter().BankCharges, optionsText: 'Code', optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().BankCharges"></select>
                            <label class="control-label bolder text-danger" for="biz-segment">*</label>
                        </div>
                    </div>
                </div>

                <div data-bind="if: Product().Name == 'OTT', visible: Product().Name == 'OTT', attr: { class: 'form-group' }">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="agent-charges">Agent Charges</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="agent-charges" name="agent-charges" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Parameter().AgentCharges, optionsText: 'Code', optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().AgentCharges"></select>
                            <label class="control-label bolder text-danger" for="biz-segment">*</label>
                        </div>
                    </div>
                </div>

                <div data-bind="if: Product().Name == 'SKN', attr: { class: 'form-group' }">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="type">Type</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4" id="type" name="type" data-rule-required="true" data-rule-number="true" data-bind="value: Type" />
                            <label class="control-label bolder text-danger" for="biz-segment">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="citizen">Citizen</label>

                    <div class="col-xs-3">
                        <label>
                            <input class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsCitizen">
                            <span class="lbl"></span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Resident</label>

                    <div class="col-xs-3">
                        <label>
                            <input class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsResident, event: { change: $root.IsValidateResidentChange }">
                            <span class="lbl"></span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Beneficiary Resident</label>

                    <div class="col-xs-3">
                        <label>
                            <select id="residentBene" name="residentBene" data-rule-required="true"
                                    data-bind="options: viewModel.options,
                                    optionsText: 'name',
                                    optionsValue: 'id',
                                    optionsCaption: 'Please Select...',
                                    value: viewModel.selectedOptionId() ,
                                    event: { change: $root.OnChangeModeName }"></select>
                            <label data-bind="visible: $root.BeneChargebyProduct" class="control-label bolder text-danger" for="residentBene">*</label>
                            <span class="lbl"></span> 
                        </label>
                    </div>
                </div>
                <div class="form-group" data-bind=" visible: Product().Name == 'SKN' || Product().Name == 'RTGS' || Product().Code == 'OV' || Product().Name == 'OTT'">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Beneficiary Country Code</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="benecountrycode" name="benecountrycode" data-bind="options:$root.Parameter().BeneficiaryCountry,
                            //optionsText:'Code',
                            optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                            optionsValue: 'ID',
                            optionsCaption: 'Please Select...',
                            value: $root.Selected().BeneficiaryCountry" class="col-xs-3" data-rule-required="true" data-rule-value="true"></select>
                            <label data-bind="visible: $root.BeneCountrybyProduct" class="control-label bolder text-danger" for="benecountrycode">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="ChAccName">Charging Account Name</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input class="ace ace-switch ace-switch-6 col-sm-11" name="ChAccName" id="ChAccName"  type="text" data-bind="value: ChargingAccountName">
                            <label data-bind="if:$root.IsChargingMandotary" class="control-label bolder text-danger" for="rate">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="ChAccountBank">Charging Account Bank</label>

                    <div class="col-sm-9">
                        <input type="text" autocomplete="off" class="col-sm-6" name="ChAccBank" id="ChAccBank"  data-rule-value="true" data-bind="value: ChargingAccountBank" />
                        <label data-bind="if:$root.IsChargingMandotary" class="control-label bolder text-danger" for="rate">*</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="ChAccount">Charging Account</label>

                    <div class="col-sm-2">
                        <input type="text" autocomplete="off" class="col-sm-11" name="ChAccount" id="ChAccount"  data-bind="value: ChargingACCNumber" />
                        <label data-bind="if:$root.IsChargingMandotary" class="control-label bolder text-danger" for="rate">*</label>
                    </div>

                    <label class="col-sm-1 control-label bolder no-padding-right" for="ChAccountCCY">CCY  </label>
                    <div class="col-sm-3">
                        <select id="ChAccount-ccy" name="ChAccount-ccy" data-rule-value="true" data-bind="options: $root.Parameter().ChargingAccountCurrencies, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().ChargingAccountCurrency"></select>
                        <label data-bind="if:$root.IsChargingMandotary" class="control-label bolder text-danger" for="rate">*</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="beneficiarybusiness">Beneficiary Business Type</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="beneficiarybusiness" name="beneficiarybusiness" data-rule-required="true"
                                    data-bind="options: $root.Parameter().BeneficiaryBusiness, 
                                    optionsText: function(item){ if(item.Code != null) return item.Code +' ('+ item.Description +')'; }, optionsValue: 'ID', optionsCaption: 'Please Select...', 
                                    value: $root.Selected().BeneficiaryBusines,
                                    disable: !$root.IsEditable(), event:{ change: $root.OnChangeBeneficiary}"></select>
                            <label data-bind="visible: $root.BeneBusinessbyProduct" class="control-label bolder text-danger" for="beneficiarybusiness">*</label>
                        </div>
                    </div>
                </div>               

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="BeneAddrs">Beneficiary Address</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-11" name="BeneAddrs" id="BeneAddrs" data-bind="value: BeneficiaryAddress" />
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind=" visible: Product().Name == 'SKN' || Product().Name == 'RTGS' || Product().Code == 'OV' || Product().Name == 'OTT'">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Transaction Relationship</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="transactionrelationship" name="transactionrelationship" data-bind="options:$root.Parameter().TransactionRelationship,
                            optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                            optionsValue: 'ID',
                            optionsCaption: 'Please Select...',
                            value: $root.Selected().TransactionRelationship" class="col-xs-3" data-rule-required="true" data-rule-value="true"></select>
                            <label data-bind="visible: $root.TrxRelationbyProduct" class="control-label bolder text-danger" for="transactionrelationship">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right">LLD Code</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="lldcode" class="col-sm-11" data-rule-required="true" data-bind="options: $root.Parameter().LLDs,
                                                optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'},
                                                optionsValue: 'ID',
                                                optionsCaption: 'Please Select...',
                                                value: $root.Selected().LLD,
                                                disable: !$root.IsEditable()" />
                            <label data-bind="if: $root.IsLLD" class="control-label bolder text-danger">*</label>
                        </div>
                    </div>
                </div>

                <!--Penambahan CR henggar-->
                <div class="form-group" data-bind="visible: $root.IsLimit">
                    <label class="col-sm-3 control-label bolder no-padding-right">LLD Document</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="llddoc" class="col-sm-4" data-bind="options: $root.Parameter().LLDDocuments,
                                                optionsText: function(item) { if(item.LLDDocumentCode != null) return item.LLDDocumentCode + ' (' + item.Description + ')'},
                                                optionsValue: 'LLDDocumentID',
                                                optionsCaption: 'Please Select...',
                                                value: $root.Selected().LLDDocument,
                                                disable: !$root.IsLLDDoc(),
                                                event: { change: $root.OnChangeLLDDocument }" />
                            <label data-bind="if: $root.IsLLDUndelyingDocument" class="control-label bolder text-danger">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="visible: $root.IsLimit">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="lldunderlying">LLD Underlying Amount</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" name="lldunderlying" id="lldunderlying" data-in="" data-rule-number="true" data-rule-required="true" data-bind="value: $root.LLDUnderlyingAmount" />
                            <label data-bind="if: $root.IsLLDUndelyingAmount" class="control-label bolder text-danger">*</label>
                            <label class="control-label bolder align-left" for="total-utilize" data-bind="if: $root.IsRoundingLLD">
                                Rounding LLD Amount: <span data-bind="text: formatNumber($root.RoundingValue())"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <!--end CR-->

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="underlying-code">Underlying Code</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="underlying-code" class="col-sm-11" data-rule-required="true" name="underlying-code" data-bind="options: $root.Parameter().UnderlyingDocs, optionsText: function(item) { if(item.ID != null) return item.Code + ' (' + item.Name + ')'} , optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().UnderlyingDoc, disable: !$root.IsEditable(), enable: !$root.EnableUnderlying()"></select>
                            <label data-bind="if: $root.IsUnderlying" class="control-label bolder text-danger">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="visible: $root.isNewUnderlying">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="others">Others Underlying Code</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <textarea class="col-sm-11" name="others" id="others" rows="6" data-rule-required="true" data-bind="value: UnderlyingDoc().Description"></textarea>
                            <label class="control-label bolder text-danger">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="ComCode">Compliance Code</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select class="col-sm-11" id="ComCode" name="ComCode" data-rule-required="true"
                                    data-bind="options: $root.Parameter().FXCompliances,
                                           optionsText: function(item){if (item.ID !=null) return item.ID + ' (' + item.Name +'. '+ item.Description+ ')' },
                                           optionsValue: 'ID',
                                           optionsCaption: 'Please Select...',
                                           value: $root.Selected().FXCompliance"></select>
                            <label data-bind="if: $root.IsCompliance" class="control-label bolder text-danger">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="purpose-detail">Payment Details</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <textarea class="col-sm-12" name="purpose-detail" id="purpose-detail" rows="6" data-bind="value: PaymentDetails"></textarea>
                        </div>
                    </div>
                </div>

                <div class="widget-box ui-sortable-handle" data-bind="visible: Product().Name == 'SKN' || Product().Name == 'RTGS' || Product().Name == 'OTT'">
                    <div class="widget-header">
                        <h4 class="widget-title">Waive Charges Options</h4>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">CBG Customer</label>
                                <div class="col-sm-3">
                                    <select id="cbgcustomer" name="cbgcustomer" data-bind="options:$root.Parameter().CBGCustomer,
                            optionsText:'Code',optionsValue: 'ID',
                            optionsCaption: 'Please Select...',
                            enable:$root.IsCBGCustomer,
                            value: $root.Selected().CBGCustomer" class="col-sm-9"></select>
                                </div>

                                <label class="col-sm-3 control-label bolder no-padding-right" for="resident">Transaction Using Debit Sundry</label>
                                <div class="col-sm-3">
                                    <select id="transactionusingdebitsundry" name="transactionusingdebitsundry" data-bind="options:$root.Parameter().TransactionUsingDebitSundry,
                            optionsText:'Code',optionsValue: 'ID',
                            optionsCaption: 'Please Select...',
                            enable:$root.IsTransactionUsingDebitSundry,
                            value: $root.Selected().TransactionUsingDebitSundry" class="col-sm-9"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="form-group" data-bind="if: $root.SPUser().Roles[0].Name != 'DBS PPU HEAD OFFICE Maker'">-->
                <!--<div class="form-group" data-bind="if:false">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="others">Others</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <textarea class="col-sm-12" name="others" id="others" rows="6" data-rule-required="false" data-bind="value: Others, disable: !$root.IsEditable()"></textarea>
                        </div>
                    </div>
                </div>-->
            </div>
            <div class="space-4"></div>

            <!--- Added Customer Underlying Start //chandra -->
            <!--<div class="padding-4" data-bind="if: (Currency().Code != 'IDR' && (Account().Currency.Code == 'IDR' || DebitCurrency().Code == 'IDR'))">--> <!-- ?FXCONDITION YES -->
            <div class="padding-4" data-bind="if: (($root.IsFxTransaction()||($root.IsFxTransactionToIDR() && !$root.IsNoThresholdValue())) && ($root.ProductID() == ConsProductID.OTTProductIDCons || Product().Code == 'OV'))">
                <!-- <div class="padding-4" data-bind="visible: $root.IsFxTransaction() == true || $root.IsFxTransactionToIDR() == true"> -->
                <!--<div class="padding-4" data-bind="if: ($root.IsFxTransaction() || $root.IsFxTransactionToIDR())">-->
                <h3 class="header smaller lighter dark">
                    Un-utilize Underlying Documents
                    <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.NewDataUnderlying, disable: !$root.IsEditable()">
                        <i class="icon-plus"></i>
                        Add Underlying
                    </button>
                </h3>
                <!-- widget box start -->
                <div id="widget-box" class="widget-box">
                    <!-- widget header start -->
                    <div class="widget-header widget-hea1der-small header-color-dark">
                        <h6>Underlying Table</h6>

                        <div class="widget-toolbar">
                            <label class="tooltip-info" data-rel="tooltip" data-placement="top" title="Allow Filter">
                                <i class="blue icon-filter"></i>
                                <input type="checkbox" class="ace ace-switch ace-switch-3" data-bind="checked: $root.UnderlyingGridProperties().AllowFilter" />

                                <span class="lbl"></span>
                            </label>
                            <a href="#" data-bind="click: $root.GetDataUnderlying" class="tooltip-info" data-rel="tooltip" data-placement="top" title="Reload Content">
                                <i class="blue icon-refresh"></i>
                            </a>
                        </div>
                    </div>
                    <!-- widget header end -->
                    <!-- widget body start -->
                    <div class="widget-body">
                        <!-- widget main start -->
                        <div class="widget-main padding-0">
                            <!-- widget slim control start -->
                            <div class="slim-scroll" data-height="200">
                                <!-- widget content start -->
                                <div class="content">

                                    <!-- table responsive start -->
                                    <div class="table-responsive">
                                        <div class="dataTables_wrapper" role="grid">
                                            <table id="Customer Underlying-table" class="table table-striped table-bordered table-hover dataTable">
                                                <thead>
                                                    <tr data-bind="with: $root.UnderlyingGridProperties">
                                                        <th style="width:50px">No.</th>
                                                        <th style="width:50px">Utilize</th>
                                                        <th data-bind="click: function () { Sorting('StatementLetter'); }, css: GetSortedColumn('StatementLetter')">Statement Letter</th>
                                                        <th data-bind="click: function () { Sorting('UnderlyingDocument'); }, css: GetSortedColumn('UnderlyingDocument')">Underlying Document</th>
                                                        <th data-bind="click: function () { Sorting('DocumentType'); }, css: GetSortedColumn('DocumentType')">Type of Doc</th>
                                                        <th data-bind="click: function () { Sorting('Currency'); }, css: GetSortedColumn('Currency')">Currency</th>
                                                        <th data-bind="click: function () { Sorting('Amount'); }, css: GetSortedColumn('Amount')">Amount</th>
                                                        <th data-bind="click: function () { Sorting('AvailableAmount'); }, css: GetSortedColumn('AvailableAmount')">Available Amount in USD</th>
                                                        <th data-bind="click: function () { Sorting('DateOfUnderlying'); }, css: GetSortedColumn('DateOfUnderlying')">Date</th>
                                                        <th data-bind="click: function () { Sorting('SupplierName'); }, css: GetSortedColumn('SupplierName')">Supplier Name</th>
                                                        <th data-bind="click: function () { Sorting('AttachmentNo'); }, css: GetSortedColumn('AttachmentNo')">Attachment No</th>
                                                        <th data-bind="click: function () { Sorting('ReferenceNumber'); }, css: GetSortedColumn('ReferenceNumber')">Reference Number</th>
                                                        <th style="width:50px">Action</th>
                                                    </tr>
                                                </thead>
                                                <thead data-bind="visible: $root.UnderlyingGridProperties().AllowFilter" class="table-filter">
                                                    <tr>
                                                        <th class="clear-filter">
                                                            <a href="#" data-bind="click: $root.UnderlyingClearFilters" class="tooltip-info" data-rel="tooltip" data-placement="right" title="Clear Filters">
                                                                <i class="green icon-trash"></i>
                                                            </a>
                                                        </th>
                                                        <th class="clear-filter"></th>
                                                        <th><input type="text" autocomplete="off" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterStatementLetter, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <th><input type="text" autocomplete="off" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterUnderlyingDocument, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <th><input type="text" autocomplete="off" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterDocumentType, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <th><input type="text" autocomplete="off" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterCurrency, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <th><input type="text" autocomplete="off" class="input-sm col-xs-12 input-numericonly" data-bind="value: $root.UnderlyingFilterAmount, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <th><input type="text" autocomplete="off" class="input-sm col-xs-12 input-numericonly" data-bind="value: $root.UnderlyingFilterAvailableAmount, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <th><input type="text" autocomplete="off" class="input-sm col-xs-12 date-picker" data-date-format="dd-M-yyyy" data-bind="value: $root.UnderlyingFilterDateOfUnderlying, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <th><input type="text" autocomplete="off" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterSupplierName, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <th><input type="text" autocomplete="off" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterAttachmentNo, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <th><input type="text" autocomplete="off" class="input-sm col-xs-12" data-bind="value: $root.UnderlyingFilterReferenceNumber, event: { change: $root.UnderlyingGridProperties().Filter }" /></th>
                                                        <th class="clear-filter"></th>
                                                    </tr>
                                                </thead>
                                                <tbody data-bind="foreach: $root.CustomerUnderlyings, visible: $root.CustomerUnderlyings().length > 0">
                                                    <tr>
                                                        <td><span data-bind="text: RowID"></span></td>
                                                        <td align="center"><input type="checkbox" id="isUtilize" name="isUtilize" data-bind="checked:IsEnable,event: {change:function(data){$root.onSelectionUtilize($index(),$data)}}" /></td>
                                                        <td><span data-bind="text: StatementLetter.Name"></span></td>
                                                        <td><span data-bind="text: UnderlyingDocument.Name"></span></td>
                                                        <td><span data-bind="text: DocumentType.Name"></span></td>
                                                        <td><span data-bind="text: Currency.Code"></span></td>
                                                        <td><span data-bind="text: formatNumber(Amount)"></span></td>
                                                        <td><span data-bind="text: formatNumber(AvailableAmount)"></span></td>
                                                        <td><span data-bind="text: $root.LocalDate(DateOfUnderlying,true,false)"></span></td>
                                                        <td><span data-bind="text: SupplierName"></span></td>
                                                        <td><span data-bind="text: AttachmentNo"></span></td>
                                                        <td><span data-bind="text: ReferenceNumber"></span></td>
                                                        <td><span class="label label-info arrowed-in-right arrowed" data-toggle="modal" data-target="#modal-form-Underlying" data-bind="click: $root.GetUnderlyingSelectedRow,text:IsUtilize?'view':'Update'"></span></td>
                                                    </tr>
                                                </tbody>
                                                <tbody data-bind="visible: $root.CustomerUnderlyings().length == 0">
                                                    <tr>
                                                        <td colspan="13" class="text-center">
                                                            No entries available.
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- table responsive end -->
                                </div>
                                <!-- widget content end -->
                            </div>
                            <!-- widget slim control end -->
                            <!-- widget footer start -->

                            <div class="widget-toolbox padding-8 clearfix">
                                <div class="row" data-bind="with: $root.UnderlyingGridProperties">
                                    <!-- pagination size start -->
                                    <div class="col-sm-6">
                                        <div class="dataTables_paginate paging_bootstrap pull-left">
                                            Showing <select data-bind="options: AvailableSizes, selectedOptions: Size, event: { change: OnPageSizeChange }" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="Showing Page Entries"></select>
                                            rows of <span data-bind="text: Total"></span>
                                            entries
                                        </div>
                                    </div>
                                    <!-- pagination size end -->
                                    <!-- pagination page jump start -->
                                    <div class="col-sm-3">
                                        <div class="dataTables_paginate paging_bootstrap">
                                            Page <input type="text" autocomplete="off" data-bind="value: Page, event: { change: OnPageChange }" style="width:50px" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="Jump to Page" />
                                            of <span data-bind="text: TotalPages"></span>
                                        </div>
                                    </div>
                                    <!-- pagination page jump end -->
                                    <!-- pagination navigation start -->
                                    <div class="col-sm-3">
                                        <div class="dataTables_paginate paging_bootstrap">
                                            <ul class="pagination">
                                                <li data-bind="click: FirstPage, attr: { class : Page() > 1 ? '' : 'disabled' }">
                                                    <a href="#" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="First Page">
                                                        <i class="icon-double-angle-left"></i>
                                                    </a>
                                                </li>
                                                <li data-bind="click: PreviousPage, attr: { class : Page() > 1 ? '' : 'disabled' }">
                                                    <a href="#" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="Previous Page">
                                                        <i class="icon-angle-left"></i>
                                                    </a>
                                                </li>
                                                <li data-bind="click: NextPage, attr: { class : Page() < TotalPages() ? '' : 'disabled' }">
                                                    <a href="#" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="Next Page">
                                                        <i class="icon-angle-right"></i>
                                                    </a>
                                                </li>
                                                <li data-bind="click: LastPage, attr: { class : Page() < TotalPages() ? '' : 'disabled' }">
                                                    <a href="#" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="Last Page">
                                                        <i class="icon-double-angle-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- pagination navigation end -->

                                </div>
                            </div>

                            <!-- widget footer end -->

                        </div>
                        <!-- widget main end -->
                    </div>
                    <!-- widget body end -->
                </div>
                <!-- widget box end -->


            </div>
            <!--- Added form custome Customer Underlying End -->
            <div class="space-10"></div>
            <!--<div data-bind="if: (Currency().Code != 'IDR' && (Account().Currency.Code == 'IDR' || DebitCurrency().Code == 'IDR'))">--> <!-- ?FXCONDITION YES -->
            <div data-bind="if: (($root.IsFxTransaction()||($root.IsFxTransactionToIDR() && !$root.IsNoThresholdValue())) && ($root.ProductID() == ConsProductID.OTTProductIDCons || Product().Code == 'OV'))">
                <div class="form-horizontal" role="form">

                    <div class="form-group">
                        <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Total Underlying</label>

                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" class="col-sm-4 align-right" name="utilization-amount" id="utilization-amount" data-rule-required="true" disabled="disabled" data-rule-number="true" data-bind="value: formatNumber(utilizationAmount())" />
                                <label class="col-sm-5 control-label bolder align-left" for="total-utilization">
                                    Rounding Amount: <span data-bind="text: formatNumber($root.Rounding())"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label bolder no-padding-right" for="utilization-amount">Total Utilization</label>

                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" class="col-sm-4 align-right" name="totalutilization" id="totalutilization" data-rule-required="true" disabled="disabled" data-rule-number="true" data-bind="value: formatNumber(TotalUtilization())" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label bolder no-padding-right" for="totalTrx">Total IDR->FCY Transaction in USD</label>
                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" autocomplete="off" class="col-sm-4 align-right" name="totalTrx" id="totalTrx" disabled="disabled" data-bind="value:formatNumber(TotalTransFX())" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="padding-4">
                <h3 class="header smaller lighter dark">
                    Instruction Form and Docs
                    <!--<button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocumentUnderlying, disable: !$root.IsEditable(), visible: (currency().code !='IDR' && account().currency.code =='IDR')">--> <!-- ?FXCONDITION YES -->
                    <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocumentUnderlying, disable: !$root.IsEditable(), visible: (($root.IsFxTransaction()||($root.IsFxTransactionToIDR() && !$root.IsNoThresholdValue())) && ($root.ProductID() == ConsProductID.OTTProductIDCons || $root.ProductID() == ConsProductID.OverbookingProductIDCons))">
                        <i class="icon-plus"></i>
                        Attach
                    </button>
                    <!--<button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocument, disable: !$root.IsEditable(), visible: !(currency().code !='IDR' && account().currency.code =='IDR')">--> <!-- ?FXCONDITION NO -->
                    <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocument, disable: !$root.IsEditable(), visible: !(($root.IsFxTransaction()||($root.IsFxTransactionToIDR() && !$root.IsNoThresholdValue())) && ($root.ProductID() == ConsProductID.OTTProductIDCons || $root.ProductID() == ConsProductID.OverbookingProductIDCons))">
                        <i class="icon-plus"></i>
                        Attach
                    </button>
                </h3>
                <!--data-bind="visible:!$root.IsUnderlyingMode()" -->
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>File Name</th>
                                <th>Purpose of Docs</th>
                                <th>Type of Docs</th>
                                <th>Modified</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.Documents, visible: $root.Documents().length > 0">
                            <tr>
                                <!--data-bind="click: $root.EditDocument"-->
                                <td><span data-bind="text: $index() +1"></span></td>
                                <!-- Change By fandi for Link Downlaod -->
                                <!--<td><span data-bind="text: DocumentPath.name"></span></td>-->
                                <td>
                                    <div data-bind="ifnot:$root.IsNewDocument">
                                        <span data-bind="text: DocumentPath.name"></span>
                                    </div>
                                    <div data-bind="if:$root.IsNewDocument">
                                        <a data-bind="attr: { href: DocumentPath.DocPath, target:'_blank' }, text: FileName"></a>
                                    </div>

                                </td>
                                <td><span data-bind="text: Purpose.Name"></span></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: moment(DocumentPath.lastModifiedDate).format(config.format.dateTime)"></span></td><!--$root.LocalDate(LastModifiedDate)-->
                                <td><a href="#" data-bind="click: $root.RemoveDocument">Remove</a></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.Documents().length == 0">
                            <tr>
                                <td colspan="6" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!--- Grid Underlying Proforma Start -->
                <!-- widget header start -->
                <div class="space-10"></div>
                <!-- <div data-bind="if: (Currency().Code != 'IDR' && (Account().Currency.Code == 'IDR' || DebitCurrency().Code == 'IDR'))">--> <!-- ?FXCONDITION YES -->

                <div data-bind="if:(($root.IsFxTransaction()||($root.IsFxTransactionToIDR() && !$root.IsNoThresholdValue())) && ($root.ProductID() == ConsProductID.OTTProductIDCons || $root.ProductID() == ConsProductID.OverbookingProductIDCons))">
                    <h3 class="header smaller lighter dark">
                        Underlying Docs
                    </h3>
                    <div class="widget-header widget-hea1der-small header-color-dark">
                        <h6>Attach File Table</h6>

                        <div class="widget-toolbar">
                            <label class="tooltip-info" data-rel="tooltip" data-placement="top" title="Allow Filter">
                                <i class="blue icon-filter"></i>
                                <input type="checkbox" class="ace ace-switch ace-switch-3" data-bind="checked: $root.AttachGridProperties().AllowFilter" />
                                <span class="lbl"></span>
                            </label>
                            <a href="#" data-bind="click: $root.GetDataAttachFile" class="tooltip-info" data-rel="tooltip" data-placement="top" title="Reload Content">
                                <i class="blue icon-refresh"></i>
                            </a>
                        </div>
                    </div>
                    <!-- widget header end -->
                    <div class="widget-body">
                        <!-- widget main start -->
                        <div class="widget-main padding-0">
                            <!-- widget slim control start -->
                            <div class="slim-scroll" data-height="200">
                                <!-- widget content start -->
                                <div class="content">

                                    <!-- table responsive start -->
                                    <div class="table-responsive">
                                        <div class="dataTables_wrapper" role="grid">
                                            <table id="Customer Underlying-table" class="table table-striped table-bordered table-hover dataTable">
                                                <thead>
                                                    <tr data-bind="with: $root.AttachGridProperties">
                                                        <th style="width:50px">No.</th>
                                                        <th data-bind="click: function () { Sorting('FileName'); }, css: GetSortedColumn('FileName')">File Name</th>
                                                        <th data-bind="click: function () { Sorting('DocumentPurpose'); }, css: GetSortedColumn('DocumentPurpose')">Document Purpose</th>
                                                        <th data-bind="click: function () { Sorting('LastModifiedDate'); }, css: GetSortedColumn('LastModifiedDate')">Update</th>
                                                        <th data-bind="click: function () { Sorting('DocumentRefNumber'); }, css: GetSortedColumn('DocumentRefNumber')">Document Ref Number</th>
                                                        <th style="width:0px;display: none"></th>
                                                        <th style="width:50px">Delete</th>
                                                        <!--
                                                                                                        <th style="width:50px">Action</th>
                                            -->
                                                    </tr>
                                                </thead>
                                                <thead data-bind="visible: $root.AttachGridProperties().AllowFilter" class="table-filter">
                                                    <tr>
                                                        <th class="clear-filter">
                                                            <a href="#" data-bind="click: $root.AttachClearFilters" class="tooltip-info" data-rel="tooltip" data-placement="right" title="Clear Filters">
                                                                <i class="green icon-trash"></i>
                                                            </a>
                                                        </th>
                                                        <th><input type="text" autocomplete="off" class="input-sm col-xs-12" data-bind="value: $root.AttachFilterFileName, event: { change: $root.AttachGridProperties().Filter }" /></th>
                                                        <th><input type="text" autocomplete="off" class="input-sm col-xs-12" data-bind="value: $root.AttachFilterDocumentPurpose, event: { change: $root.AttachGridProperties().Filter }" /></th>
                                                        <th><input type="text" autocomplete="off" class="input-sm col-xs-12 date-picker" data-date-format="dd-M-yyyy" data-bind="value: $root.AttachFilterLastModifiedDate, event: { change: $root.AttachGridProperties().Filter }" /></th>
                                                        <th><input type="text" autocomplete="off" class="input-sm col-xs-12" data-bind="value: $root.AttachFilterDocumentRefNumber, event: { change: $root.AttachGridProperties().Filter }" /></th>
                                                        <th class="clear-filter" style="display: none"></th>
                                                        <!--
                                                                                                        <th class="clear-filter"></th>
                                            -->
                                                    </tr>
                                                </thead>
                                                <tbody data-bind="foreach: $root.CustomerUnderlyingFiles, visible: $root.CustomerUnderlyingFiles().length > 0">
                                                    <tr data-bind="click: $root.GetAttachSelectedRow">
                                                        <td><span data-bind="text: RowID"></span></td>
                                                        <td><a data-bind="attr: { href: DocumentPath, target: '_blank' }, text: FileName"></a></td>
                                                        <td><span data-bind="text: DocumentPurpose.Name"></span></td>
                                                        <td><span data-bind="text: $root.LocalDate(LastModifiedDate,false,false)"></span></td>
                                                        <td><span data-bind="text: DocumentRefNumber"></span></td>
                                                        <td style="width:0px;display: none"><span data-bind="text: DocumentPath"></span></td>
                                                        <td align="center">
                                                            <a href="#" data-bind="click:$root.delete_a" class="tooltip-info" data-rel="tooltip" data-placement="right" title="Clear Filters">
                                                                <i class="green icon-trash"></i>
                                                            </a>
                                                        </td>
                                                        <!--
                                                                                                        <td><span class="label label-info arrowed-in-right arrowed" data-bind="click: $root.GetDocument,text:'Update'"></span></td>
                                            -->
                                                    </tr>
                                                </tbody>
                                                <tbody data-bind="visible: $root.CustomerUnderlyingFiles().length == 0">
                                                    <tr>
                                                        <td colspan="10" class="text-center">
                                                            No entries available.
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- table responsive end -->
                                </div>
                                <!-- widget content end -->
                            </div>
                            <!-- widget slim control end -->
                            <!-- widget footer start -->
                            <div class="widget-toolbox padding-8 clearfix">
                                <div class="row" data-bind="with: $root.AttachGridProperties">
                                    <!-- pagination size start -->
                                    <div class="col-sm-6">
                                        <div class="dataTables_paginate paging_bootstrap pull-left">
                                            Showing <select data-bind="options: AvailableSizes, selectedOptions: Size, event: { change: OnPageSizeChange }" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="Showing Page Entries"></select>
                                            rows of <span data-bind="text: Total"></span>
                                            entries
                                        </div>
                                    </div>
                                    <!-- pagination size end -->
                                    <!-- pagination page jump start -->
                                    <div class="col-sm-3">
                                        <div class="dataTables_paginate paging_bootstrap">
                                            Page <input type="text" autocomplete="off" data-bind="value: Page, event: { change: OnPageChange }" style="width:50px" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="Jump to Page" />
                                            of <span data-bind="text: TotalPages"></span>
                                        </div>
                                    </div>
                                    <!-- pagination page jump end -->
                                    <!-- pagination navigation start -->
                                    <div class="col-sm-3">
                                        <div class="dataTables_paginate paging_bootstrap">
                                            <ul class="pagination">
                                                <li data-bind="click: FirstPage, attr: { class : Page() > 1 ? '' : 'disabled' }">
                                                    <a href="#" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="First Page">
                                                        <i class="icon-double-angle-left"></i>
                                                    </a>
                                                </li>
                                                <li data-bind="click: PreviousPage, attr: { class : Page() > 1 ? '' : 'disabled' }">
                                                    <a href="#" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="Previous Page">
                                                        <i class="icon-angle-left"></i>
                                                    </a>
                                                </li>
                                                <li data-bind="click: NextPage, attr: { class : Page() < TotalPages() ? '' : 'disabled' }">
                                                    <a href="#" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="Next Page">
                                                        <i class="icon-angle-right"></i>
                                                    </a>
                                                </li>
                                                <li data-bind="click: LastPage, attr: { class : Page() < TotalPages() ? '' : 'disabled' }">
                                                    <a href="#" class="tooltip-info" data-rel="tooltip" data-placement="bottom" title="Last Page">
                                                        <i class="icon-double-angle-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- pagination navigation end -->

                                </div>
                            </div>
                            <!-- widget footer end -->

                        </div>
                        <!-- widget main end -->
                    </div>
                </div><!-- widget body end -->
                <!--- Grid Underlying Proforma End -->

            </div>
        </div>
    </div>
</div>
<!--<label>henggar</label>-->