﻿<div class="modal-body overflow-visible">
    <div class="row" data-bind="with: TransactionLoanModel">
        <div class="col-xs-12">
            <div id="customer-form" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right">
                        <span data-bind="text: viewModel.LocalDate(CreateDate(), true, true)"></span>
                    </label>

                    <label class="col-sm-4 pull-right">
                        <b>Application ID</b> : <span data-bind="text: ApplicationID"></span><br />
                        <b>User Name</b> : <span data-bind="text: viewModel.SPUser().DisplayName"></span>
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="top-urgent">Top Urgent</label>

                    <div class="col-xs-1">
                        <label>
                            <input class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsTopUrgent">
                            <span class="lbl"></span>
                        </label>
                    </div>

                    <label class="col-sm-2 control-label bolder no-padding-right" for="top-urgent">Top Urgent Chain</label>

                    <div class="col-xs-2">
                        <label>
                            <input class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsTopUrgentChain">
                            <span class="lbl"></span>
                        </label>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                    <div class="col-sm-6">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-11" name="customer-name" id="customer-name" data-rule-required="true" data-bind="value: Customer().Name, disable: true" />
                            <label class="control-label bolder text-danger" for="customer-name">*</label>
                        </div>
                    </div>

                    <!--<div class="col-xs-3">
                        <label>
                            <input class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsNewCustomer, event: { click: $root.IsNewCustomerOnChange }, disable: IsDraft">
                            <span class="lbl"></span>
                        </label>
                        <span>&nbsp; <b>New Customer</b></span>

                    </div>-->

                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-3" name="cif" id="cif" data-bind="value: Customer().CIF, disable: !IsNewCustomer()" />
                            <label class="control-label bolder text-danger" for="customer-name" data-bind="visible: IsNewCustomer()">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="product" name="product" data-rule-required="true" data-rule-value="true" data-bind="options: viewModel.Parameter().Products, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: viewModel.Selected().Product, event: { change: $root.OnProductChange }, disable: true"></select>
                            <label class="control-label bolder text-danger" for="product">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="product">IBG Segment</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-3" name="segment" id="segment" data-bind="value: Customer().BizSegment.Description, disable: true" />
                            <label class="control-label bolder text-danger" for="product">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="currency">Transaction Currency</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="currency" name="currency" data-rule-required="true" data-rule-value="true" data-bind="options: viewModel.Parameter().Currencies, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: viewModel.Selected().Currency, disable: !viewModel.IsEditable()"></select>
                            <label class="control-label bolder text-danger" for="currency">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="trxn-amount">Trxn Amount</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-4 align-right" name="trxn-amount" id="trxn-amount" data-rule-required="true" data-rule-number="true" data-bind="value: Amount,disable: !viewModel.IsEditable()" />
                            <label class="control-label bolder text-danger" for="trxn-amount">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="channel" name="channel" data-rule-required="true" data-rule-value="true" data-bind="options: viewModel.Parameter().Channels, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: viewModel.Selected().Channel, disable: !viewModel.IsEditable()"></select>
                            <label class="control-label bolder text-danger" for="channel">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="if: $root.IsPPURole()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="source" name="source" data-rule-required="true" data-rule-value="true" data-bind="options:$root.Parameter().Sources, optionsText:'Name', optionsValue:'ID', optionsCaption:'Please Select...', value:$root.Selected().Source"></select>
                            <label class="control-label bolder text-danger" for="source">*</label>
                        </div>
                    </div>
                </div>

                <!--<div class="form-group" data-bind="if: $root.SPUser().Roles[0].Name != 'DBS PPU HEAD OFFICE Maker'">-->
                <div class="form-group" data-bind="if:false">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="check-signature-verification">Signature Verification</label>

                    <label class="col-sm-9">
                        <input name="check-signature-verification" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: IsSignatureVerified" /><!--, disable: !viewModel.IsEditable()-->
                        <span class="lbl"></span>
                    </label>
                </div>

                <!--<div class="form-group" data-bind="if: $root.SPUser().Roles[0].Name != 'DBS PPU HEAD OFFICE Maker'">-->
                <div class="form-group" data-bind="if:false">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="check-dormant-account">Dormant Account</label>

                    <label class="col-sm-9">
                        <input name="check-dormant-account" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: IsDormantAccount" /><!--, disable: !viewModel.IsEditable()-->
                        <span class="lbl"></span>
                    </label>
                </div>

                <!--<div class="form-group" data-bind="if: $root.SPUser().Roles[0].Name != 'DBS PPU HEAD OFFICE Maker'">-->
                <div class="form-group" data-bind="if:false">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="check-freeze-account">Freeze Account</label>

                    <label class="col-sm-9">
                        <input name="check-freeze-account" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: IsFreezeAccount" /><!--, disable: !viewModel.IsEditable()-->
                        <span class="lbl"></span>
                    </label>
                </div>
                <div class="space-4"></div>
                <div class="padding-4">
                    <h3 class="header smaller lighter dark">
                        Instruction Form and Docs
                        <!--<button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocument, disable: !viewModel.IsEditable(), visible: !(currency().code !='IDR' && account().currency.code =='IDR')">--> <!-- ?FXCONDITION NO -->
                        <button class="btn btn-sm btn-primary pull-right" data-bind="click: viewModel.UploadDocument, disable: !viewModel.IsEditable()">
                            <i class="icon-plus"></i>
                            Attach
                        </button>
                    </h3>
                    <!--data-bind="visible:!$root.IsUnderlyingMode()" -->
                    <div class="dataTables_wrapper" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th style="width:50px">No.</th>
                                    <th>File Name</th>
                                    <th>Purpose of Docs</th>
                                    <th>Type of Docs</th>
                                    <th>Modified</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: viewModel.Documents, visible: viewModel.Documents().length > 0">
                                <tr>
                                    <!--data-bind="click: $root.EditDocument"-->
                                    <td><span data-bind="text: $index() +1"></span></td>
                                    <td><a data-bind="attr: { href: DocumentPath.DocPath, target: '_blank' }, text: DocumentPath.name,disable:(ID>0)"></a></td>
                                    <!--<td><span data-bind="text: DocumentPath.name"></span></td>-->
                                    <td><span data-bind="text: Purpose.Name"></span></td>
                                    <td><span data-bind="text: Type.Name"></span></td>
                                    <td><span data-bind="text: moment(DocumentPath.lastModifiedDate).format(config.format.dateTime)"></span></td><!--$root.LocalDate(LastModifiedDate)-->
                                    <td><a href="#" data-bind="click: $root.RemoveDocument">Remove</a></td>
                                </tr>
                            </tbody>
                            <tbody data-bind="visible: viewModel.Documents().length == 0">
                                <tr>
                                    <td colspan="6" align="center">No entries available.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
