﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="row" data-bind="with: TransactionTMOModel">
        <div class="col-xs-12">
            <div id="customertmo-form" class="form-horizontal" role="form">

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right">
                        <span data-bind="text: $root.LocalDate(CreateDate(), true, true)"></span>
                    </label>

                    <label class="col-sm-4 pull-right">
                        <b>Application ID</b> : <span data-bind="text: ApplicationID"></span><br />
                        <b>User Name</b> : <span data-bind="text: $root.SPUser().DisplayName"></span>
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>
                    <div class="col-sm-6">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-6 autocomplete" name="customer-name" data-bind="value: Customer().Name, disable: IsDraft" id="customer-name" data-rule-required="true" />
                            <label class="control-label bolder text-danger" for="customer-name">*</label>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <label>
                            <input class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsNewCustomer, event: { click: $root.IsNewCustomerOnChange }, disable: IsDraft">
                            <span class="lbl"></span>
                        </label>
                        <span>&nbsp; <b>New Customer</b></span>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="ciftmo">CIF</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-3" name="ciftmo" id="ciftmo" data-bind="value: Customer().CIF, disable: !IsNewCustomer()" />
                            <label class="control-label bolder text-danger" for="customer-name" data-bind="visible: IsNewCustomer()">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="producttmo">Product</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="producttmo" name="producttmo" data-bind="value: $root.Selected().Product,options:$root.Parameter().Products,optionsText:function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'},optionsValue:'ID',optionsCaption: 'Please Select...', event: { change: $root.OnProductChange },  disable: true" class="col-sm-6" data-rule-required="true" />
                            <label class="control-label bolder text-danger" for="producttmo">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="visible: !$root.IsCSO()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="channeltmo">Channel</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="channeltmo" class="col-sm-6" name="channeltmo" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Parameter().Channels, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().Channel, disable: IsDraft"></select>
                            <label class="control-label bolder text-danger" for="channeltmo">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="if: $root.IsPPURole()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="source" name="source" data-rule-required="true" data-bind="options: $root.Parameter().Sources, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().Source, disable: !$root.IsEditable()"></select>
                            <label class="control-label bolder text-danger" for="source">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="visible: $root.IsCSO()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="currencytmo">Currency</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="currencytmo" name="currencytmo" data-bind="options: $root.Parameter().Currencies, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Description + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().Currency, disable: IsDraft" class="col-sm-6" data-rule-required="false" />
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="visible: $root.IsCSO()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="amounttmo">Amount</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" id="amounttmo" name="amounttmo" data-in="" data-rule-number="true" data-bind="value: Amount, disable: IsDraft" class="col-sm-3 align-right" />
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="visible: $root.IsCSO()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="dealNumbertmo">Deal Number</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" id="dealNumbertmo" name="dealNumbertmo" data-rule-number="false" data-bind="value: DealNumber, disable: IsDraft" class="col-sm-3" />
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="visible: $root.IsCSO()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="valueDatetmo">Value Date</label>
                    <div class="col-sm-9">
                        <div class="clearfix input-group col-sm-3 no-padding">
                            <input type="text" id="valueDatetmo" name="valueDatetmo" class="form-control date-picker" autocomplete="off" data-bind="value:  ValueDate, disable: IsDraft" data-date-format="dd-M-yyyy" data-rule-value="true" />
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="remarkstmo">Remarks</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <textarea id="remarkstmo" name="remarkstmo" class="form-control" data-bind="value: Remarks, disable: IsDraft"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="padding-4">
                <h3 class="header smaller lighter dark">
                    Attachment
                    <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocument">
                        <i class="icon-plus"></i>
                        Attach
                    </button>
                </h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>File Name</th>
                                <th>Purpose of Docs</th>
                                <th>Type of Docs</th>
                                <th>Modified</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.Documents, visible: $root.Documents().length > 0">
                            <tr>

                                <td><span data-bind="text: $index() +1"></span></td>
                                <td><a data-bind="attr: { href: DocumentPath.DocPath, target: '_blank' }, text: DocumentPath.name,disable:(ID>0)"></a></td>
                                <!--<td><span data-bind="text: DocumentPath.name"></span></td>-->
                                <td><span data-bind="text: Purpose.Name"></span></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: moment(DocumentPath.lastModifiedDate).format(config.format.dateTime)"></span></td>
                                <td><a href="#" data-bind="click: $root.RemoveDocument">Remove</a></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.Documents().length == 0">
                            <tr>
                                <td colspan="6" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


