﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="row" data-bind="with: TransactionModel">
        <div class="col-xs-12">
            <div id="customer-form" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right">
                        <span data-bind="text: $root.LocalDate(CreateDate(), true, true)"></span>
                    </label>

                    <label class="col-sm-4 pull-right">
                        <b>Application ID</b> : <span data-bind="text: ApplicationID"></span><br />
                        <b>User Name</b> : <span data-bind="text: $root.SPUser().DisplayName"></span>
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="top-urgent">Top Urgent</label>

                    <div class="col-xs-1">
                        <label>
                            <input class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsTopUrgent">
                            <span class="lbl"></span>
                        </label>
                    </div>

                    <label class="col-sm-1 control-label bolder no-padding-right" for="top-urgent">Top Urgent Chain</label>

                    <div class="col-xs-1">
                        <label>
                            <input class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsTopUrgentChain">
                            <span class="lbl"></span>
                        </label>
                    </div>

                    <label class="col-sm-1 control-label bolder no-padding-right" for="normal">Normal</label>

                    <div class="col-xs-1">
                        <label>
                            <input class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsNormal" />
                            <span class="lbl"></span>
                        </label>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="customer-name">Customer Name</label>

                    <div class="col-sm-6">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-11" name="customer-name" id="customer-name" disabled="disabled" data-rule-required="true" data-bind="value: Customer().Name" />
                            <label class="control-label bolder text-danger" for="customer-name">*</label>
                        </div>
                    </div>

                    <!--<div  class="col-xs-3"> change by fandi for hide toogle customer -->
                    <div id="IsNewCust" class="col-xs-3">
                        <label>
                            <input id="IsNewCus" class="ace ace-switch ace-switch-6" type="checkbox" disabled="disabled" data-bind="checked: IsNewCustomer, event: { click: $root.IsNewCustomerOnChange }">
                            <span class="lbl"></span>
                        </label>
                        <span>&nbsp; <b>New Customer</b></span>

                    </div>


                    <!--<label class="col-sm-3">
                        <input id="is-new-customer" name="is-new-customer" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IsNewCustomer, event: { click: $root.IsNewCustomerOnChange }, disable: IsDraft" />
                        <span class="lbl">&nbsp; <b>New Customer</b></span>
                    </label>-->
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="cif">CIF</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" autocomplete="off" class="col-sm-3" name="cif" id="cif" data-bind="value: Customer().CIF, disable: !IsNewCustomer()" />
                            <label class="control-label bolder text-danger" for="customer-name" data-bind="visible: IsNewCustomer()">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="product">Product</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="product" name="product" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Parameter().Products, optionsText: function(item) { if(item.Code != null) return item.Code + ' (' + item.Name + ')'}, optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().Product, event: { change: $root.OnProductChange }, disable: true"></select>
                            <label class="control-label bolder text-danger" for="product">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="channel">Channel</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="channel" name="channel" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Parameter().Channels, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().Channel, disable: !$root.IsEditable()"></select>
                            <label class="control-label bolder text-danger" for="channel">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="if: $root.IsPPURole()">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="source">Source</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="source" name="source" data-rule-required="true" data-rule-value="true" data-bind="options: $root.Parameter().Sources, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: $root.Selected().Source, disable: !$root.IsEditable()"></select>
                            <label class="control-label bolder text-danger" for="source">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bolder no-padding-right">Remarks</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <textarea class="col-sm-12" name="attachremarks" id="attachremarks" rows="6" data-rule-required="false" data-bind="value: Remarks"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="padding-4">
                <h3 class="header smaller lighter dark">
                    Instruction Form and Docs
                    <button class="btn btn-sm btn-primary pull-right" data-bind="click: $root.UploadDocument, disable: !$root.IsEditable()">
                        <i class=" icon-plus"></i>
                        Attach
                    </button>
                </h3>
                <div class="dataTables_wrapper" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width:50px">No.</th>
                                <th>File Name</th>
                                <th>Purpose of Docs</th>
                                <th>Type of Docs</th>
                                <th>Modified</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.Documents, visible: $root.Documents().length > 0">
                            <tr>
                                <!--data-bind="click: $root.EditDocument"-->
                                <td><span data-bind="text: $index() +1"></span></td>
                                <!-- Change By fandi for Link Downlaod -->
                                <!--<td><span data-bind="text: DocumentPath.name"></span></td>-->
                                <td>
                                    <div data-bind="ifnot:$root.IsNewDocument">
                                        <span data-bind="text: DocumentPath.name"></span>
                                    </div>
                                    <div data-bind="if:$root.IsNewDocument">
                                        <a data-bind="attr: { href: DocumentPath.DocPath, target:'_blank' }, text: FileName"></a>
                                    </div>

                                </td>
                                <td><span data-bind="text: Purpose.Name"></span></td>
                                <td><span data-bind="text: Type.Name"></span></td>
                                <td><span data-bind="text: moment(DocumentPath.lastModifiedDate).format(config.format.dateTime)"></span></td><!--$root.LocalDate(LastModifiedDate)-->
                                <td><a href="#" data-bind="click: $root.RemoveDocument">Remove</a></td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: $root.Documents().length == 0">
                            <tr>
                                <td colspan="6" align="center">No entries available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>