@using System.Net.Http.Headers
@model Dictionary<MediaTypeHeaderValue, object>

@{
    // Group the samples into a single tab if they are the same.
    Dictionary<string, object> samples = Model.GroupBy(pair => pair.Value).ToDictionary(
        pair => String.Join(", ", pair.Select(m => m.Key.ToString()).ToArray()),
        pair => pair.Key);
    var mediaTypes = samples.Keys;
}
<div>
    <h4 class="sample-header">jQuery</h4>
    <div class="sample-content">
        <pre>
$.ajax({
    type: "POST",
    url: "http://servername:port/api/customer",
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    data: @if (samples.ContainsKey("application/json, text/json")) { var sample = samples["application/json, text/json"]; if (sample != null){ @Html.Raw(sample); }}
    
})
.done(function(data){
    alert("Record Added Successfully " + data.status);
})
.fail(function(err){
    alert("Error Occures, Please Reload the Page and Try Again " + err.status);
}); 
    </pre>
    </div>
</div>