﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Customer">
                    Customer Name
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="Customer" name="Customer" data-bind="value: Customer().Name,disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-required="true" data-rule-maxlength="50" />
                        <label class="control-label bolder text-danger" for="Customer">*</label>
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="CIF">
                    CIF
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="CIF" name="CIF" data-bind="value:CIF, disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule- maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Location">
                    Branch Name
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="Location" name="Location" data-bind="value: Location, disable:$root.Readonly" class="col-xs-8" data-rule-
                               maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Code">
                    Code
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="Code" name="Code" data-bind="value: Code, disable:$root.Readonly" class="col-xs-8" data-rule-maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="CompanyName">
                    Company
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="CompanyName" name="CompanyName" data-bind="value: CompanyName, disable:$root.Readonly" class="col-xs-10"
                               data-rule-required="true" data-rule-maxlength="255" />
                        <label class="control-label bolder text-danger" for="Description">*</label>
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="CategoryID">
                    Category
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="CategoryID" name="CategoryID" data-bind="value:CategoryID.ID, options: ddlCategory, optionsValue: 'ID' ,optionsText:'Name', optionsCaption: 'Please Select...', disable:$root.Readonly,event:{change:OnChangeCurrency},visible:$root.Readonly()==false" class="col-xs-8"></select>
                        <select id="Categoryhidden" name="Categoryhidden" data-bind="value:CategoryID.ID, options: ddlCategory, optionsValue: 'ID',optionsText: 'Name', optionsCaption: 'Please Select...', visible:$root.Readonly()==true,disable:$root.Readonly" class="col-xs-8"></select>
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="CreditManager">
                    Credit Manager
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="CreditManager" name="CreditManager" data-bind="value: CreditManager, disable:$root.Readonly" class="col-xs-10col-sm-5" data-rule-maxlength="50" />
                    </div>
                </div>
            </div>
        </div>
        <!-- modal body form end -->
    </div>
</div>