﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="type-of-ageing">Type of Ageing</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="type-of-ageing" name="type-of-ageing" data-rule-required="true" data-bind="value: Name, disable:$root.Readonly" class="col-xs-10 col-sm-11" />
                        <label class="control-label bolder text-danger" for="Name">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="times">Times</label>

                <div class="col-sm-5">
                    <div class="clearfix">
                        <div class="input-group bootstrap-timepicker">
                            <input type="text" id="TimePicker" class="form-control time-picker" data-bind="timepicker: true, value: Times, disable:$root.Readonly" data-rule-required="true" />
                            <span class="input-group-addon">
                                <i class="icon-time bigger-110"></i>
                            </span>
                            <label class="control-label bolder text-danger" style="position:absolute;top:0px;" for="Times">*</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" data>
                <label class="col-sm-3 control-label no-padding-right" for="days-of-ageing">Days</label>

                <div class="col-sm-9">

                    <ul data-bind="foreach: DaysInWeek" style="list-style: none">
                        <li>
                            <div>
                                <input type="checkbox" data-bind="attr: { value: name, id: 'chk_'+id } , checked: $parent.selectedDays, disable:$root.Readonly">
                                <span data-bind="text: name"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="space-4"></div>
        </div>
        <!-- modal body form end -->
    </div>
</div>