﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="code">POA Email</label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" class="col-xs-8" data-bind="value: CustomerPOAEmailView().POAEmailTemp().Email" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="code">POA Email Product</label>
                <div class="col-sm-9">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>POA Email Product Name</th>
                                <th>
                                    <input type="checkbox" value="false" id="POAEmailChkAll" disabled="disabled" />
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:CustomerPOAEmailView().cblPOAEmailProduct()" id="POAEmailTable">
                            <tr>
                                <td data-bind="text: ProductName"></td>
                                <td>
                                    <input type="checkbox" name="POAEmailChkBox" data-bind="attr: { ID: 'POAEmailcheckBox' + POAEmailProductID }" disabled="disabled"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- modal body form end -->
    </div>
</div>

