﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Customer">
                    Customer Name
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="Name" name="Name" data-rule-required="true" data-bind="value: Name, disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-maxlength="50" />
                        <label class="control-label bolder text-danger" for="Name">*</label>
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="CIF">
                    CIF
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="CIF" name="CIF" data-bind="value: CIF, disable:true" class="col-xs-10 col-sm-5" data-rule-maxlength="50" />          
                                        
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="NPWP">
                    NPWP
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="NPWP" name="NPWP" data-bind="value: NPWP, disable:$root.Readonly" class="col-xs-8" data-rule-maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Address">
                    Address
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <textarea id="Address" name="Address" class="col-xs-8" data-bind="value: Address, disable:$root.Readonly"></textarea>
                    </div>
                </div>
            </div>
            <div class="space-4"></div>          
        </div>
        <!-- modal body form end -->
    </div>
</div>