﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="code">
                    Bank Code
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="code" name="code" data-bind="value: Code, disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-required="true" data-rule-maxlength="50" />
                        <label class="control-label bolder text-danger" for="code">*</label>
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="branchcode">
                    Branch  Code
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="branchcode" name="branchcode" data-bind="value: BranchCode, disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-maxlength="50" />

                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="swiftcode">
                    Swift Code
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="swiftCode" name="swiftCode" data-bind="value: SwiftCode, disable:$root.Readonly" class="col-xs-8" data-rule-maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="bankAccount">
                    Bank Account
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="code" name="bankAccount" data-bind="value: BankAccount, disable:$root.Readonly" class="col-xs-8" data-rule-maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="description">
                    Description
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="description" name="description" data-bind="value: Description, disable:$root.Readonly" class="col-xs-10" data-rule-required="true" data-rule-maxlength="255" />
                        <label class="control-label bolder text-danger" for="Description">*</label>
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="commonName">
                    Common Name
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="commonName" name="commonName" data-bind="value: CommonName, disable:$root.Readonly" class="col-xs-10" data-rule-maxlength="255" />
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="currency">
                    Currency
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="currency" name="currency" data-bind="value:Currency, options: ddlCurrency, optionsValue: 'ID' ,optionsText: 'CodeDescription', optionsCaption: 'Please Select...', disable:$root.Readonly,event:{change:OnChangeCurrency},visible:$root.Readonly()==false" class="col-xs-8"></select>
                        <select id="currencyhidden" name="currencyhidden" data-bind="value:Currency, options: ddlCurrency, optionsValue: 'ID' ,optionsText: 'CodeDescription', optionsCaption: 'Please Select...', visible:$root.Readonly()==true,disable:$root.Readonly" class="col-xs-8"></select>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="PGSL">
                    PGSL
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="PGSL" name="PGSL" data-bind="value: PGSL, disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-maxlength="50" />
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="checkbox">
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <div><input class="ace" id="RTGS" name="RTGS" type="checkbox" data-bind="checked: IsRTGS, disable: $root.Readonly" title="IsRTGS" /><span class="lbl">RTGS</span></div>
                        <div><input class="ace" id="SKN" name="SKN" type="checkbox" data-bind="checked: IsSKN, disable: $root.Readonly" title="IsSKN" /><span class="lbl">SKN</span></div>
                        <div><input class="ace" id="OTT" name="OTT" type="checkbox" data-bind="checked: IsOTT, disable: $root.Readonly" title="IsOTT" /><span class="lbl">OTT</span></div>
                        <div><input class="ace" id="OVB" name="OVB" type="checkbox" data-bind="checked: IsOVB, disable: $root.Readonly" title="IsOVB" /><span class="lbl">OVB</span></div>
                    </div>
                </div>
            </div>

        </div>
        <!-- modal body form end -->
    </div>
</div>