﻿<!-- data from beneficiary.js getSelectedRow -->
<div class="row" data-bind="ifnot: $data == null">
    <div class="col=xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Businesscode">
                    Business Code
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="Businesscode" name="Businesscode" data-bind="value: BeneficiaryBusinessTypeCode, disable: $root.Readonly" class="col-xs-10 col-sm-11" data-rule-required="true" data-rule-maxlength="100" />
                        <label class="control-label bolder text-danger" for="Businesscode" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>
                    </div>
                </div>
            </div>
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="BusinessName">
                    Business Name
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="BusinessName" name="BusinessName" data-bind="value: BeneficiaryBusinessTypeName, disable: $root.Readonly" class="col-xs-10 col-sm-11" data-rule-required="true" data-rule-maxlength="100" />
                        <label class="control-label bolder text-danger" for="BusinessName" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>
                    </div>
                </div>
            </div>
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="BusinessDescription">
                    Business Description
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="BusinessDescription" name="BusinessDescription" data-bind="value: BeneficiaryBusinessTypeDescription, disable: $root.Readonly" class="col-xs-10 col-sm-11" data-rule-required="true" data-rule-maxlength="100" />
                        <label class="control-label bolder text-danger" for="BusinessDescription" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Business">
                    Business Ipe Code
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="BusinessIpeCode" name="Businesscode" data-bind="value: BeneficiaryBusinessTypeIpeCode, disable: $root.Readonly" class="col-xs-10 col-sm-11" data-rule-required="true" data-rule-maxlength="100" />
                        <label class="control-label bolder text-danger" for="Fundcode" data-bind="disable: $root.Readonly, visible: $root.Readonly() == false">*</label>
                    </div>
                </div>
            </div>
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="BusinessIpeDescription">
                    Business Ipe Description
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="BusinessIpeDescription" name="BusinessIpeDescription" data-bind="value: BeneficiaryBusinessTypeIpeDescription, disable: $root.Readonly" class="col-xs-10 col-sm-11" data-rule-required="true" data-rule-maxlength="100" />
                        <label class="control-label bolder text-danger" for="Fundcode" data-bind="disable: $root.Readonly, visible: $root.Readonly() == false">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="BusinessIpeDescription">
                    Output File Generation
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="OutputFileGeneration" name="OutputFileGeneration" data-bind="value: OutputFileGeneration, disable: $root.Readonly" class="col-xs-10 col-sm-11" data-rule-required="true" data-rule-maxlength="100" />
                        <label class="control-label bolder text-danger" for="Fundcode" data-bind="disable: $root.Readonly, visible: $root.Readonly() == false">*</label>
                    </div>
                </div>
            </div>
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="OutputFileGenerationDescription">
                    Output File Generation Description
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="OutputFileGenerationDescription" name="OutputFileGenerationDescription" data-bind="value: OutputFileGenerationDescription, disable: $root.Readonly" class="col-xs-10 col-sm-11" data-rule-required="true" data-rule-maxlength="100" />
                        <label class="control-label bolder text-danger" for="OutputFileGenerationDescription" data-bind="disable: $root.Readonly, visible: $root.Readonly() == false">*</label>
                    </div>
                </div>
            </div>
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="OutputFileXml">
                    Output File XML
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="OutputFileXml" name="OutputFileXML" data-bind="value: OutputFileXml, disable: $root.Readonly" class="col-xs-10 col-sm-11" data-rule-required="true" data-rule-maxlength="100" />
                        <label class="control-label bolder text-danger" for="OutputFileXml" data-bind="disable: $root.Readonly, visible: $root.Readonly() == false">*</label>
                    </div>
                </div>
            </div>
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="OutputFileXml">
                    Output File XML Description
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="OutputFileXml" name="OutputFileXMLDescription" data-bind="value: OutputFileXmlDescription, disable: $root.Readonly" class="col-xs-10 col-sm-11" data-rule-required="true" data-rule-maxlength="100" />
                        <label class="control-label bolder text-danger" for="OutputFileXmlDescription" data-bind="disable: $root.Readonly, visible: $root.Readonly() == false">*</label>
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
        </div>
    </div>
</div>