﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="branchcode">
                    Branch Code
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="Branchcode" name="code" data-bind="value: BranchCode, disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-required="true" data-rule-maxlength="50" data-rule-number="true"/>
                        <label class="control-label bolder text-danger" for="code">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Bank">
                    Bank 
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-11 ui-autocomplete-input valid" id="BankDescription" name="BankDescription" data-bind="value: BankDescription, disable:$root.Readonly" data-rule-maxlength="50" /> <!--Bank().BankDescription-->
                        <label class="control-label bolder text-danger" for="code">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="BranchAccount">
                    Bank Account
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="BankAccount" name="BankAccount" data-bind="value: BankAccount, disable:$root.Readonly" class="col-xs-10 col-sm-5"  /><!--data-rule-maxlength="50"-->
                        <!--<label class="control-label bolder text-danger" for="code">*</label>-->
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="CommonName">
                    CommonName
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="CommonName" name="CommonName" data-bind="value:CommonName, disable:$root.Readonly" class="col-xs-8" data-rule-maxlength="50" />
                        <label class="control-label bolder text-danger" for="code">*</label>
                    </div>
                </div>
            </div>
            <!--<div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="currency">
                    Currency
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="currency" name="currency" data-bind="value:Currency, options: ddlCurrency, optionsValue: 'ID' ,optionsText: 'CodeDescription', optionsCaption: 'Please Select...', disable:$root.Readonly,event:{change:OnChangeCurrency},visible:$root.Readonly()==false" class="col-xs-8"></select>
                        <select id="currencyhidden" name="currencyhidden" data-bind="value:Currency, options: ddlCurrency, optionsValue: 'ID' ,optionsText: 'CodeDescription', optionsCaption: 'Please Select...', visible:$root.Readonly()==true,disable:$root.Readonly" class="col-xs-8"></select>
                        <label class="control-label bolder text-danger" for="code">*</label>
                     </div>
                </div>
            </div>-->

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="PGSL">
                    PGSL
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="PGSL" name="PGSL" data-bind="value: PGSL, disable:$root.Readonly" class="col-xs-10 col-sm-5" /><!--data-rule-maxlength="50"--> 
                        <!--<label class="control-label bolder text-danger" for="code">*</label>-->
                     </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="City">
                    City
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <!--<input type="text" id="City" name="City" data-bind="value: City().Description, disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-maxlength="50" />-->
                        <input type="text" autocomplete="off" class="col-sm-11 ui-autocomplete-input valid" id="CityDescription" name="CityDescription" data-bind="value: CityDescription, disable:$root.Readonly" data-rule-maxlength="50" />

                         <label class="control-label bolder text-danger" for="code">*</label>
                     </div>
                </div>
            </div>
        </div>
    </div>
        <!-- modal body form end -->
    </div>
</div>

  