﻿<div class="row" data-bind="ifnot: $data == null">

    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="name">
                    Location ID
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="id" name="locationcode" data-bind="value: $root.Code,disable: !$root.IsNewData(),visible:$root.Readonly()==false" class="col-xs-10 col-sm-5" data-rule-required="true" data-rule-maxlength="50" />
                        <label class="col-xs-1 col-sm-1" data-bind="visible:$root.Readonly()==true">:</label><label class="col-xs-11" data-bind="text:Code ,visible:$root.Readonly()==true"></label>
                        <label class="control-label bolder text-danger" for="Code" data-bind="visible:$root.Readonly()==false">*</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="name">
                    Name
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="name" name="name" data-bind="value: $root.Name,disable:$root.Readonly,visible:$root.Readonly()==false" class="col-xs-10 col-sm-11" data-rule-required="true" data-rule-maxlength="255" />
                        <label class="col-xs-1 col-sm-1" data-bind="visible:$root.Readonly()==true">:</label><label class="col-xs-11" data-bind="text:Name,visible:$root.Readonly()==true"></label>
                        <label class="control-label bolder text-danger" for="Name" data-bind="visible:$root.Readonly()==false">*</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="times">
                    Region
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="region" name="region" class="valid" data-bind="value:Region().ID,options:ddlRegionName,optionsText:'Name',optionsValue:'ID',optionsCaption: 'Please Select...',disable:$root.Readonly,visible:$root.Readonly()==false"></select>
                        <label class="col-xs-1 col-sm-1" data-bind="visible:$root.Readonly()==true">:</label><label class="col-xs-11" data-bind="text:Region().Name,visible:$root.Readonly()==true"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="name">
                    SolID
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="SolID" name="SolID" data-bind="value: $root.SolID,disable:$root.Readonly,visible:$root.Readonly()==false" class="col-xs-10 col-sm-11" data-rule-required="true" data-rule-maxlength="100" />
                        <label class="col-xs-1 col-sm-1" data-bind="visible:$root.Readonly()==true">:</label><label class="col-xs-11" data-bind="text:SolID,visible:$root.Readonly()==true"></label>
                        <label class="control-label bolder text-danger" for="SolID" data-bind="visible:$root.Readonly()==false">*</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="IsUpcountryBranch">
                    Head Office
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input id="IsHO" name="IsHO" data-bind="checked:IsHO, disable:$root.Readonly" class="ace ace-switch ace-switch-6" type="checkbox">
                        <span class="lbl"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="IsUpcountryBranch">
                    Upcountry Branch
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input id="IsUpcountryBranch" name="IsUpcountryBranch" data-bind="checked:IsUpcountryBranch, disable:$root.Readonly" class="ace ace-switch ace-switch-6" type="checkbox">
                        <span class="lbl"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="IsJakartaBranch">
                    Jakarta Branch
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input id="IsJakartaBranch" name="IsJakartaBranch" data-bind="checked:IsJakartaBranch,disable:$root.Readonly" class="ace ace-switch ace-switch-6" type="checkbox">
                        <span class="lbl"></span>
                    </div>
                </div>

            </div>
            <!-- modal body form end -->
        </div>
    </div>
</div>	