﻿
<<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-2" for="ThresholdAmount">
                    Threshold Amount in USD
                </label>
                <div class="col-sm-5">
                    <div class="clearfix">
                        <input class="col-sm-12" type="text" name="ThresholdAmountApproval" id="ThresholdAmountApproval" data-in="" data-bind="value: ThresholdAmountApproval, disable:$root.Readonly" data-rule-required="true" data-rule-value="true" data-rule-number="true">
                        <label class="control-label bolder text-danger" for="ThresholdAmountApproval">*</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-2" for="ThresholdAmount">
                    Threshold Amount in USD
                </label>
                <div class="col-sm-5">
                    <div class="clearfix">
                        <input class="col-sm-12" type="text" name="ThresholdAmount" id="ThresholdAmount" data-in="" data-bind="value: ThresholdAmount, disable:$root.Readonly" data-rule-required="true" data-rule-value="true" data-rule-number="true" />
                    </div>
                </div>
                <div>
                    <button id="btnUpdateCallBackCriteria" class="btn btn-sm btn-primary" data-bind="click: UpdateCallBackCriteria, visible:!$root.Readonly">
                        <i class="icon-save"></i>
                        Save
                    </button>
                </div>
            </div>
            <<div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-2" for="Product">
                    Product
                </label>
                <div class="col-sm-5">
                    <div class="clearfix">
                        <select name="Product" id="Product" data-in="" data-rule-required="true" data-rule-value="true" data-bind="options: Products, optionsText: 'Code', optionsValue: 'ID', optionsCaption: 'Options..', value: Selected().Product, disable:$root.Readonly"></select>
                        <label class="control-label bolder text-danger" for="Product">*</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->