﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="offonshore">
                    Offshore/Onshore
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="offonshore" name="offonshore" data-bind="value:OffOnshore().ID,options:ddlOffOnshore,optionsText:'Description',optionsValue:'ID',optionsCaption: 'Please Select...',disable:$root.Readonly" class="valid col-xs-10 col-sm-11" data-rule-required="true"></select>
                        <label class="control-label bolder text-danger" for="offonshore" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Fundcode">
                    Fund Code
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="Fundcode" name="Fundcode" data-bind="value: FundCode, disable: $root.Readonly" class="col-xs-10 col-sm-11" data-rule-required="true" data-rule-maxlength="100" />
                        <label class="control-label bolder text-danger" for="Fundcode" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>
                    </div>
                </div>
            </div>
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Fundname">
                    Fund Name
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" name="Fundname" id="Fundname" data-bind="value: FundName, disable: $root.Readonly" data-rule-required="true" class="col-xs-10 col-sm-11" data-rule-maxlength="500" />
                        <label class="control-label bolder text-danger" for="Fundname" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>                        
                    </div>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Accountno">
                    Account No
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="Accountno" name="Accountno" data-bind="value: AccountNo, disable: $root.Readonly" class="col-xs-10 col-sm-11" data-rule-maxlength="100" />                        
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="checkbox">
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <div><input class="ace" id="Switching" name="Switching" type="checkbox" data-bind="checked: IsSwitching, disable: $root.Readonly" title="IsSwitching" /><span class="lbl">IsSwitching</span></div>
                        <div><input class="ace" id="SavingPlan" name="SavingPlan" type="checkbox" data-bind="checked: IsSaving, disable: $root.Readonly" title="IsSaving" /><span class="lbl">IsSaving</span></div>
                    </div>
                </div>
            </div>
            
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="SavingPlanDate">
                    Saving Plan Date
                </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="text" id="SavingPlanDate" name="SavingPlanDate" class="form-control input-mask-date" autocomplete="off" data-date-format="dd-M-yyyy" data-rule-value="true" data-bind="value: SavingPlanDate, disable: $root.Readonly, enable: IsSaving" />
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-default" type="button">
                                <i class="icon-calendar bigger-110"></i>                               
                            </button>
                        </span>                        
                    </div>
                </div>
            </div>     
        </div>       
        <!-- modal body form end -->
    </div>
</div>