﻿

<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="form-group" data-bind="visible:false">
                <label class="col-sm-3 control-label no-padding-right" for="id">
                    ID
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="id" name="id" data-bind="value: ID, disable:$root.Readonly" disabled="disabled" class="col-xs-10 col-sm-5" />
                    </div>
                    <div for="id" class="help-block" data-bind="visible: $root.IsNewData">
                        Auto generated ID.
                    </div>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="name">
                    Type Of Email
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="typeofemail" name="typeofemail" data-bind="options:ddlTypeOfEmail, optionsValue:'DropdownItemValue',optionsText:'DropdownItem', optionsCaption: 'Please Select...',value:SelectedTypeOfEmail,disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-required="true"></select>
                        <label class="control-label bolder text-danger">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="description">
                    To
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="to" name="to" data-bind="value: To, disable:$root.Readonly" class="col-xs-10 col-sm-8" data-rule-required="true" />
                        <label class="control-label bolder text-danger">*</label>
                    </div>
                </div>
            </div>
            <div class="space-2"></div>
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="description">
                    Cc
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="cc" name="cc" data-bind="value: Cc, disable:$root.Readonly" class="col-xs-10 col-sm-8" />
                    </div>
                </div>
            </div>
            <div class="space-2"></div>


            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="mailsubject">
                    Mail Subject
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="mailsubject" name="mailsubject" data-bind="value: MailSubject, disable:$root.Readonly" disabled="disabled" class="col-xs-10 col-sm-10" />
                    </div>
                </div>
            </div>

            <div class="space-2"></div>
            <div class="form-group">

                <label class="col-sm-3 control-label no-padding-right" for="MailBody">
                    Email Body
                </label>
                <!--                                <div class="col-sm-9">
                                                    <textarea class="col-sm-10" id="bodyEmail" Name="bodyEmail" data-bind="value: BodyEmail, disable:$root.Readonly" data-rule-required = "true" data-rule-maxlength="200"></textarea>
                                                </div> -->
                <div class="col-sm-9">
                    <div class="clearfix">
                        <div class="wysiwyg-editor" id="editorapproval1" data-bind="disable:$root.Readonly"></div>

                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <textarea class="ckeditor" cols="80" id="editor1" name="editor1" rows="10" data-bind="disable:$root.Readonly"></textarea>
                    </div>
                </div>
                <div class="hr hr-double dotted"></div>

            </div>

        </div>
    </div>
