﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="ColumnName">
                    Column Name
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="ColumnName" name="ColumnName" data-bind="value: ColumnName, disable:$root.Readonly" class="col-xs-11" data-rule-required="true" data-rule-maxlength="50" />
                        <label class="control-label bolder text-danger" for="columnname">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="TableName">
                    Table Name
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="TableName" name="TableName" data-bind="value: TableName, disable:$root.Readonly" class="col-xs-11" data-rule-required="true" data-rule-maxlength="50" />
                        <label class="control-label bolder text-danger" for="description">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="OrdinalPosition">
                    Ordinal Position
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="OrdinalPosition" name="OrdinalPosition" data-bind="value: OrdinalPosition, disable:$root.Readonly" class="col-xs-11" data-rule-required="true" data-rule-maxlength="50" />
                        <label class="control-label bolder text-danger" for="OrdinalPosition">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="IsCompare">
                    Is Compare
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <label class="col-sm-1">
                            <input name="check-all" id="check-all" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: CheckedIsCompare ,  disable: $root.Readonly" />
                            <span class="lbl"></span>
                        </label>


                    </div>
                </div>
            </div>
        

        </div>
    </div>
    <!-- modal body form end -->
</div>
