<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="widget-box">
                <div class="widget-header widget-header-flat widget-header-small">
                    <h5>Customer</h5>
                </div>
                <div class="space-6"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="cif">CIF</label>
                    <div class="col-sm-10">
                        <div class="clearfix">
                            <input type="text" id="cif" name="cif" data-bind="value: CIF, enable: IsNewData()" class="col-xs-10 col-sm-5" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="name"> Name</label>
                    <div class="col-sm-10">
                        <div class="clearfix">
                            <input type="text" id="name" name="name" data-bind="value: Name" class="col-xs-9" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="biz-segment">Biz Segment</label>
                    <div class="col-sm-10">
                        <div class="clearfix">
                            <select type="text" id="biz-segment" name="biz-segment" data-bind="options: BizSegments, optionsText: 'Description', optionsValue: 'ID', optionsCaption: 'Please Select...', value: BizSegment().ID" disabled="disabled"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="branch">Branch</label>

                    <div class="col-sm-10">
                        <div class="clearfix">
                            <select type="text" id="branch1" name="branch" data-bind="options: Branchs, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Branch().ID" disabled="disabled"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="customer-type">Customer Type</label>

                    <div class="col-sm-10">
                        <div class="clearfix">
                            <select type="text" id="customer-type" name="customer-type" data-bind="options: Types, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', value: Type().ID" disabled="disabled"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="rm-code">RM Code</label>
                    <div class="col-sm-10">
                        <div class="clearfix">
                            <select type="text" id="branch2" name="branch" data-bind="options: fixUserApprovals, optionsText: 'FullName', optionsValue: 'ID', optionsCaption: 'Please Select...', value: UserApproval().ID" disabled="disabled"></select>
                        </div>
                    </div>
                </div>
                <div class="hr hr8 hr-double"></div>
                <div class="widget-header widget-header-flat widget-header-small">
                    <h5>Customer Contact</h5>
                </div>
                <div class="space-6"></div>
                <div class="form-group" data-bind="visible:false">
                    <label class="col-sm-3 control-label bolder no-padding-right" for="id">
                        ID
                    </label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" id="id" name="id" data-bind="value: ID_c, enable: NewData_c(), disable:$root.Readonly" class="col-xs-10 col-sm-5" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="contactname">
                        Contact Name
                    </label>
                    <div class="col-sm-10">
                        <div class="clearfix">
                            <input type="text" id="Namecontact" name="NameContact" autocomplete="off" data-bind="value: Name_c, disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-required="true" />
                            <label class="control-label bolder text-danger" for="Name_c">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="phn-number">
                        Phone Number
                    </label>
                    <div class="col-sm-10">
                        <div>
                            <input type="text" id="areacode" name="PhoneNumber" autocomplete="off" data-bind="value: Area_c, disable:$root.Readonly" class="col-sm-1" />
                            <label class="col-sm-1" for="phn-number"></label>
                            <input type="text" id="Phone" name="PhoneNumber" autocomplete="off" data-bind="value: Phone_c, disable:$root.Readonly" class="col-sm-2" />
                        </div>
                        <label class="col-sm-1 control-label" for="phn-number">Ext</label>
                        <div>
                            <input type="text" id="Ext" name="Ext" autocomplete="off" data-bind="value: Ext_c, disable:$root.Readonly" class="col-sm-1" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="dateofBirth">Date of Birth</label>
                    <div class="col-sm-10">
                        <div class="clearfix input-group col-sm-3 no-padding">
                            <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="dateOfBirth" name="dateOfBirth" data-bind="value: DateOfBirth_c, disable:$root.Readonly">
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                            <label class="control-label bolder text-danger starremove" style="position:absolute;"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="IDNumber">
                        ID Number
                    </label>
                    <div class="col-sm-10">
                        <div class="clearfix">
                            <input type="text" id="IDNumber" name="IDNumber" autocomplete="off" data-bind="value: IDNumber_c, disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-required="true" />
                            <label class="control-label bolder text-danger" for="IDNumber_c">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">Account Number</label>
                    <div class="col-sm-8">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>Account Number</th>
                                    <th width="105px" data-bind="visible:!$root.Readonly(), attr:{id:'th-Action-AccountNumber'}">Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach:AccountNumbers_c" id="AccountNumberTabel">
                                <tr>
                                    <td data-bind="text:$data, attr:{id:'AccNum'+$index()}"></td>
                                    <td data-bind="visible:!$root.Readonly(), attr:{id:'td-Action-AccountNumber'+$index()}">
                                        <button class="btn btn-sm" id="AccountNumber_c" data-toggle="modal" href="#AccountNumber-modal-form" data-bind="click:$root.UpdateAccountNumber_c.bind($data,$index())">
                                            <i class="icon-edit"></i>
                                        </button>
                                        <button class="btn btn-sm" data-bind="click:$root.RemoveAccountNumber_c.bind($data,$index())">
                                            <i class="icon-remove"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-2">
                        <button data-toggle="modal" id="btn-Add-AccountNumber" href="#AccountNumber-modal-form" data-bind="click:$root.AddAccountNumber_c,visible:!$root.Readonly()"> Add </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 no-padding-right" align="right">
                        <label class="control-label no-padding-right" for="POAFunction">POA Function</label>
                        <label class="control-label bolder text-danger no-padding-right">*</label>
                    </div>

                    <div class="col-sm-8">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>POA Function Name</th>
                                    <th width="105px" data-bind="visible:!$root.Readonly(), attr:{id:'th-Action-POAFunction'}">Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach:POAFunctions_c" id="POAFunctionTabel">
                                <tr>
                                    <td data-bind="text:$data.Description, attr:{ID:'POAF'+$index()}"></td>
                                    <td data-bind="visible:!$root.Readonly(), attr:{id:'td-Action-POAFunction'+$index()}">
                                        <button class=" btn btn-sm" data-toggle="modal" href="#POAFunction-modal-form" data-bind="click:$root.UpdatePOAFunction_c.bind($data,$index())">
                                            <i class="icon-edit"></i>
                                        </button>
                                        <button class="btn btn-sm" data-bind="click:$root.RemovePOAFunction_c.bind($data,$index())">
                                            <i class="icon-remove"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-2">
                        <button data-toggle="modal" id="btn-Add-POAFunction" href="#POAFunction-modal-form" data-bind="click:$root.AddPOAFunction_c,visible:!$root.Readonly()"> Add </button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="OccupationInID">
                        OccupationIn ID
                    </label>
                    <div class="col-sm-10">
                        <div class="clearfix">
                            <input type="text" id="OccupationInID" name="OccupationInID" autocomplete="off" data-bind="value: OccupationInID_c, disable:$root.Readonly" class="col-xs-10 col-sm-5" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="PlaceOfBirth">
                        Place of Birth
                    </label>
                    <div class="col-sm-10">
                        <div class="clearfix">
                            <input type="text" id="PlaceOfBirth" name="PlaceOfBirth" autocomplete="off" data-bind="value: PlaceOfBirth_c, disable:$root.Readonly" class="col-xs-10 col-sm-5" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="EffectiveDate">Effective Date</label>

                    <div class="col-sm-10">
                        <div class="clearfix input-group col-sm-3 no-padding">
                            <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="EffectiveDate" name="EffectiveDate" data-bind="value: EffectiveDate_c, disable:$root.Readonly">
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="cancellationDate">Cancellation Date</label>

                    <div class="col-sm-10">
                        <div class="clearfix input-group col-sm-3 no-padding">
                            <input class="form-control date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="cancellationDate" name="cancellationDate" data-bind="value: CancellationDate_c, disable:$root.Readonly">
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal body form end -->
    </div>
</div>

