﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="CallbackCIF">
                    CIF
                </label>
                <div class="col-sm-4">
                    <div class="clearfix">
                        <input type="text" id="CallbackCIF" name="CallbackCIF" data-bind="value: CustomerCallbackView().CIF()" class="col-xs-12 col-sm-12" disabled="disabled" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="CustomerName">
                    Customer Name
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="CustomerName" name="CustomerName" data-bind="value: CustomerCallbackView().CustomerName()" class="col-xs-12 col-sm-12" disabled="disabled" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="CallbackContactName">
                    Contact Name
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="CallbackContactName" name="CallbackContactName" data-bind="value: CustomerCallbackView().ContactName()" class="col-xs-12 col-sm-12" disabled="disabled" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="CallbackProductName">
                    Product
                </label>
                <div class="col-sm-4">
                    <div class="clearfix">
                        <input type="text" id="CallbackProductName" name="CallbackProductName" data-bind="value: CustomerCallbackView().ProductName()" class="col-xs-12 col-sm-12" disabled="disabled" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="CallbackTimePicker">
                    Call Back Time
                </label>
                <div class="col-sm-4">
                    <div class="clearfix">
                        <input type="text" id="CallbackProductName" name="CallbackTimePicker" data-bind="value: CustomerCallbackView().TimeLocal()" class="col-xs-12 col-sm-12" disabled="disabled" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="IsUtc">
                    Is UTC
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input id="CallbackIsUTC" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: CustomerCallbackView().IsUTC()" disabled="disabled" />
                        <span class="lbl"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right">
                    Remark
                </label>

                <div class="col-sm-9">
                    <textarea name="CallbackRemark" id="remarks" class="col-sm-12" rows="5" data-bind="value: CustomerCallbackView().Remark()" disabled="disabled"></textarea>
                </div>
            </div> 
        </div>
    </div>
    <!-- modal body form end -->
</div>
