﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="employeecso">
                    Employee
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="employeecso" name="employeecso" data-bind=" value: CustomerCsoView().Employee().EmployeeName()" disabled="disabled" class="col-xs-11" data-rule-required="true" data-rule-maxlength="50" />
                        <label class="control-label bolder text-danger" for="employeecso">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="employeeemailcso">
                    Email
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="employeeemailcso" name="employeeemailcso" data-bind="value: CustomerCsoView().Employee().EmployeeEmail()" disabled="disabled" class="col-xs-11" data-rule-required="true" data-rule-maxlength="50" />
                        <label class="control-label bolder text-danger" for="employeeemailcso">*</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal body form end -->
</div>
