<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="customer-form" class="form-horizontal" role="form">

            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-2" for="IsCutOffApplied">
                    Apply Cut Off Time
                </label>

                <label class="col-sm-2">
                    <input id="IsCutOffApproval" name="IsCutOffApproval" data-bind="disable:$root.Readonly" class="ace ace-switch ace-switch-6" type="checkbox">
                    <span class="lbl"></span>
                </label>
            </div>

            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-2" for="CutOffTime">
                    Cut Off Time (hh:mm)
                </label>

                <div class="col-sm-2">
                    <div class="input-group bootstrap-timepicker">
                        <input type="text" id="timepickerapproval" class="form-control time-picker valid" data-bind="disable:$root.Readonly">
                        <span class="input-group-addon">
                            <i class="icon-time bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>