<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-2" for="DoubleTransaction">
                    Double Transaction Check/Days
                </label>
                <div class="col-sm-5">
                    <div class="clearfix">
                        <input class="col-sm-12" type="text" name="DoubleTransactionApproval" id="DoubleTransactionApproval" data-in="" data-bind="value: DoubleTransactionApproval, disable:$root.Readonly" data-rule-required="true" data-rule-value="true" data-rule-number="true">
                        <label class="control-label bolder text-danger" for="DoubleTransactionApproval">*</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>