﻿

<div class="row" data-bind="ifnot: $data == null">
    <div class="col-sm-12">
        <div id="escalatedcustomer" class="widget-box">
            <!-- widget header start -->
            <div class="widget-header widget-hea1der-small header-color-dark">
                <h6>Escalated Customer</h6>

                <div class="widget-toolbar">
                    <label class="tooltip-info" data-rel="tooltip" data-placement="top" title="Allow Filter">
                        <i class="blue icon-filter"></i>
                        <input type="checkbox" class="ace ace-switch ace-switch-3" disable="disable" />
                        <span class="lbl"></span>
                    </label>
                    <a href="#" class="tooltip-info" data-rel="tooltip" data-placement="top" title="Reload Content">
                        <i class="blue icon-refresh"></i>
                    </a>
                </div>
            </div>
            <!-- widget header end -->
            <!-- widget body start -->
            <div class="widget-body">
                <!-- widget main start -->
                <div class="widget-main padding-0">
                    <!-- widget slim control start -->
                    <div class="slim-scroll" data-height="400">
                        <!-- widget content start -->
                        <div class="content">

                            <!-- table responsive start -->
                            <div class="table-responsive">
                                <div class="dataTables_wrapper" role="grid">
                                    <table id="Matrix Approval-table" class="table table-striped table-bordered table-hover dataTable">
                                        <thead>
                                            <tr data-bind="with: GridPropertiesEscalatedCustomerApproval">
                                                <th style="width:50px">No.</th>
                                                <th style="width:50px">Select</th>
                                                <th>CIF</th>
                                                <th>Customer Name</th>
                                            </tr>
                                        </thead>
                                        <thead data-bind="visible: GridPropertiesEscalatedCustomerApproval().AllowFilter" class="table-filter">
                                            <tr>
                                                <th class="clear-filter">
                                                    <a href="#" data-bind="click: ClearFiltersEscalatedCustomerApproval" class="tooltip-info" data-rel="tooltip" data-placement="right" title="Clear Filters">
                                                        <i class="green icon-trash"></i>
                                                    </a>
                                                </th>
                                                <th></th>

                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: EscalatedCustomersApproval, visible: EscalatedCustomersApproval().length > 0">
                                            <tr>
                                                <td><span data-bind="attr: { id: 'EscalatedCustomerRowID' + $index() },text: RowID"></span></td>
                                                <td class="center">
                                                    <label>
                                                        <input type="checkbox" data-bind="attr: { id: 'chkboxescalated' + $index() },disable:$root.Readonly()==true,checked:$root.Readonly()==true" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td><span data-bind="text: CIF"></span></td>
                                                <td><span data-bind="text: Name"></span></td>
                                            </tr>
                                        </tbody>
                                        <tbody data-bind="visible: EscalatedCustomersApproval().length == 0">
                                            <tr>
                                                <td colspan="6" class="text-center">
                                                    No entries available.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- table responsive end -->
                        </div>
                        <!-- widget content end -->
                    </div>
                    <!-- widget slim control end -->

                </div>
                <!-- widget main end -->
            </div>
            <!-- widget body end -->
        </div>
        <!-- widget box end -->

    </div>

</div>