﻿<div class="row" data-bind="ifnot: $data == null">
	<div class="col-xs-12">
		<!-- modal body form start -->
		<div id="customer-form" class="form-horizontal" role="form">
			<div class="space-2"></div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="Name">
				Case Name</label>
				<div class="col-sm-9">
					<div class="clearfix">
						<input type="text" id="caseName" name="caseName" data-bind="value: CaseName, disable:$root.Readonly" class="col-xs-12 col-sm-11" data-rule-required = "true" data-rule-maxlength="255"/>
                        <label class="control-label bolder text-danger">*</label>
					</div>
				</div>
			</div>

			<div class="space-2"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="description">
				Using Matrix</label>
				<div class="col-sm-9">
					<div class="clearfix">
						<select id="matrix" name="matrix" data-bind="value:Matrix().ID, options: ddlMatrix, optionsText: 'Name',optionsValue: 'ID',optionsCaption: 'Choose...', disable:$root.Readonly" data-rule-required = "true" data-rule-value = "true" class="col-xs-7"></select>									
                        <label class="control-label bolder text-danger" data-bind="visible:$root.Readonly()==false">*</label>
					</div>
				</div>
			</div>						

            <div class="space-2"></div>
			<div data-bind="foreach: {data: Details, as: 'detail'} ">
				<div class="widget-box">
                        <div class="widget-header">
                    	    <h5>Group Condition <span data-bind="text:$index()+1"></span></h5>
                    	</div>
						<div class="widget-body">
							<div class="space-2"></div>

					        <div class="form-group">
					            <label data-bind=" text: 'Internal Condition'" class="col-sm-3 control-label no-padding-right" for="ddlFields">
					            Internal Condition </label>
					            <div class="col-sm-9">
					            	<div class="clearfix">
					  	            	<select data-bind="value: detail.selectInternalCondition, options: detail.ddlInternalCondition, optionsText: 'Name',optionsValue: 'Name', optionsCaption: 'Choose...',disable:$root.Readonly" class="col-xs-5"  data-rule-required = "true" ></select>
                                        <label class="control-label bolder text-danger" data-bind="visible:$root.Readonly()==false">*</label>
					  	            </div>
					            </div>
						    </div>							

							<div data-bind="foreach: {data: Subdetails, as: 'subdetail'} ">
						     	<!-- BEGIN template -->
							 	<div class="widget-box"  style="width:94%;margin-left:20px;margin-left:20px;border-bottom:0px;">
                                    <div class="widget-header">
                                	    <h5>Condition <span data-bind="text:$index()+1"></span></h5>
                                	</div>
                                	<div class="widget-body">
                                	    <div class="space-2"></div>
							 	        <div class="form-group">
									        <label data-bind=" text: 'Parameter Field'" class="col-sm-3 control-label no-padding-right" for="DdlFields">
									        Parameter Field </label>
									        <div class="col-sm-6">
                                                <div class="clearfix">
                                                    <select data-bind="value: subdetail.selectParameter, options: $root.ddlSubParameters, optionsText: 'Name',optionsValue: 'ID', attr: { id: 'Parameter'+$parentContext.$index()+$index(), name: 'Parameter'+$parentContext.$index()+$index()},optionsCaption: 'Choose...',disable:$root.Readonly,visible:$root.Readonly()==false" class="col-xs-8" data-rule-required="true" data-rule-value="true"></select>
                                                    <label class="control-label bolder text-danger" data-bind="visible:$root.Readonly()==false">*</label>
                                                    <label class="col-xs-12" data-bind="text:subdetail.selectParameterName,visible:$root.Readonly()==true,attr:{id : 'lblParameter'+$parentContext.$index()+$index()}" style="margin-top:4px;"></label>
                                                    <button type="button" class="btn btn-sm" data-bind="click: $parent.RemoveSubdetail,visible:$index()!=0 && $root.Readonly()==false"><i></i>Remove</button>
                                                </div>
								 	        </div>
						      	        </div>

								        <div class="space-2"></div>

								        <div class="form-group">
								            <label data-bind=" text: 'Condition'" class="col-sm-3 control-label no-padding-right" for="ddlFields">
								            Condition </label>
								            <div class="col-sm-6">
                                                <div class="clearfix">
                                                    <select data-bind="value: subdetail.selectCondition, options: $root.ddlSubConditions, optionsText: 'Name',optionsValue: 'ID', attr: { id: 'ConditionOpr'+$parentContext.$index()+$index(), name: 'ConditionOpr'+$parentContext.$index()+$index()},event:{change:function(data){$root.onChangeCondition($parentContext.$index(),$index())}},optionsCaption: 'Choose...',disable:$root.Readonly,visible:$root.Readonly()==false" class="col-xs-8" data-rule-required="true" data-rule-value="true"></select>
                                                    <label class="control-label bolder text-danger" data-bind="visible:$root.Readonly()==false">*</label>
                                                    <label class="col-xs-12" data-bind="text:subdetail.selectConditionName,visible:$root.Readonly()==true" style="margin-top:4px;"></label>
                                                </div>
                                           </div>
						      	        </div>

										<div class="space-2"></div>

								        <div class="form-group">
									        <label data-bind=" text: 'Value Type',attr:{ id: 'lblvaluetype'+$parentContext.$index()+$index(),name: 'lblvaluetype'+$parentContext.$index()+$index()},visible:subdetail.IsVisible()" class="col-sm-3 control-label no-padding-right" for="ddlFields">
									        Value Type</label>
										    <div class="col-sm-6">
                                                <div class="clearfix">
                                                    <select data-bind="value: subdetail.selectValueType, options: subdetail.ddlValueType, optionsText: 'Name',optionsValue: 'ID', attr: { id: 'ValueType'+$parentContext.$index()+$index(), name: 'ValueType'+$parentContext.$index()+$index()},optionsCaption: 'Choose...',disable:$root.Readonly,visible:subdetail.IsVisible() && $root.Readonly()==false,event:{ change:function(data){$root.onChangeValueType($parentContext.$index(),$index())}}" class="col-xs-5" data-rule-required="true" data-rule-value="true"></select>
                                                    <label class="control-label bolder text-danger" data-bind="attr:{ id: 'lblstarvaluetypename'+$parentContext.$index()+$index()},visible:$root.Readonly()==false">*</label>
                                                    <label class="col-xs-12 lblforhidden" data-bind="text:subdetail.selectValueTypeName,visible:$root.Readonly()==true,attr:{id : 'lblValueType'+$parentContext.$index()+$index()}" style="margin-top:4px;"></label>
                                                </div>
                                            </div>	    							        
						      	        </div>

								        <div class="space-2"></div>

								        <div class="form-group">
									        <label data-bind=" text: 'Value',attr:{ id: 'lblvalue'+$parentContext.$index()+$index(),name:'lblvalue'+$parentContext.$index()+$index()},visible:subdetail.IsVisible()" class="col-sm-3 control-label no-padding-right" for="ddlFields">
									        Value </label>
										    <div class="col-sm-6">
                                                <div class="clearfix">
                                                    <input type="text" data-bind="value: subdetail.selectValue,visible: subdetail.IsddlValue()==false,attr: { id: 'Value'+$parentContext.$index()+$index(), name: 'Value'+$parentContext.$index()+$index()},disable:$root.Readonly,visible:subdetail.IsVisible() && $root.Readonly()==false && $root.IsValueTypeParameter()==false" class="col-xs-10 col-sm-5" data-rule-required="true" />
                                                    <select data-bind="value: subdetail.selectValueParameter, options: $root.ddlSubParameters, optionsText: 'Name',optionsValue: 'Code', attr: { id: 'ValueTypeParameter'+$parentContext.$index()+$index(), name: 'ValueTypeParameter'+$parentContext.$index()+$index()},optionsCaption: 'Choose...',disable:$root.Readonly, visible:$root.Readonly()==false && $root.IsValueTypeParameter()==true" class="col-xs-8" data-rule-required="true" data-rule-value="true"></select>
                                                    <label class="control-label bolder text-danger" data-bind="attr:{ id: 'lblstarvalueparameter'+$parentContext.$index()+$index()},visible:$root.Readonly()==false">*</label>
                                                    <label class="col-xs-12 lblforhidden" data-bind="text:subdetail.selectValueName,visible:$root.Readonly()==true,attr:{id : 'lblValue'+$parentContext.$index()+$index()}" style="margin-top:4px;"></label>
                                                </div>
                                            </div>
								 		</div>
								 		
								 		<div class="space-2"></div>
								 		<div class="form-group">
								 			<div class="col-sm-9"></div>
	    							        <button class="btn btn-sm btn-primary col-xs-5 col-sm-2" data-bind="click: $parent.AddSubdetail,visible:$index()+1 >= detail.Subdetails().length && $root.Readonly()==false"><i class="icon-update"></i>Add Field</button>
						      	        </div>
						      	    </div>
								<div class="space-2"></div>

						        </div>
                            </div>
                            <div class="space-2"></div>

					        <div class="form-group">
					            <label data-bind=" text: 'External Condition'" class="col-sm-3 control-label no-padding-right" for="ddlFields">
					            External Condition </label>
					            <div class="col-sm-9">
					            	<select data-bind="value: detail.selectExternalCondition, options: detail.ddlExternalCondition, optionsText: 'Name',optionsValue: 'Name',optionsCaption: 'Choose...', disable:$root.Readonly" class="col-xs-5" ></select>
					  	        </div>
			      	        </div>
            				<div class="form-group">
                     	 		<div class="col-xs-8"></div> 
                     	 		<button id="btnAddGroup" type="button" class="btn btn-sm btn-primary col-xs-5 col-sm-3" style="margin-left:-20px;margin-top:10px;" data-bind="click: $parent.AddGroup,visible:($index()+1==$parent.Details().length && $parent.Readonly)"><i class="icon-update"></i>Add Group Condition</button>
                     	 		<button id="btnRemvoeGroup" class="btn btn-sm btn-primary col-xs-5 col-sm-3" style="margin-left:-20px;margin-top:10px;" data-bind="click: $parent.RemoveGroup,visible:$index()+2 ==$parent.Details().length && $parent.Readonly" ><i class="icon-update"></i>Remove Group</button>
                     	 	</div>

            			</div>
            		</div>
           		 </div>
            <!-- END template -->
            
        </div>
		<!-- modal body form end -->
	</div>
</div>
