﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="EmailTime">
                   Email Time
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="time" id="EmailTime" name="EmailTime"  data-bind="value: EmailTime, disable:$root.Readonly" class="col-xs-11" data-rule-required="true" data-rule-maxlength="50" />
                        <label class="control-label bolder text-danger" for="EmailTime" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Status">
                    Status
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="radio" data-bind="checked: FindingEmailTime.Status, disable:$root.Readonly, checkedValue: 1" id="actStatus" name="actStatus" />Active
                        <input type="radio" data-bind="checked: FindingEmailTime.Status, disable:$root.Readonly, checkedValue: 0" id="decStatus" name="decStatus" />Non Active
                        <label class="control-label bolder text-danger" for="Status" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>
                    </div>
                    <!--<div class="clearfix">
                        <select id="Status" name="Status" data-bind="options: options, optionsText: 'name', optionsValue: 'id', value: selectedOptionId, disable: $root.Readonly"></select>

                        <div style="display:none">
                            Selection Option Object : <span data-bind="text: selectedOption"></span><br />
                            Selection Option name : <span data-bind="text: selectedOption().Status"></span><br />
                            Selection Option id : <span data-bind="text: selectedOption().id"></span><br />
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- modal body form end -->
    </div>
</div>