﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="UsercategoryCode">
                    UserCategoryCode
                </label>
                <div class="col-sm-13">
                    <div class="clearfix">
                        <select id="UsercategoryCode" name="UsercategoryCode" data-bind="options: ddlUserCategory, optionsText: 'UserCategoryCode', optionsValue: 'UserCategoryCode', optionsCaption: 'Please Select...',value: UserCategoryCode,disable: $root.Readonly, event: { change: OnChangeMode }" data-rule-required="true" data-rule-value="true" class="col-xs-6"></select>

                        <label class="control-label bolder text-danger" for="UsercategoryCode" data-bind="disable: $root.Readonly, visible: $root.Readonly() == false">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Group">
                    Group
                </label>

                <div class="col-sm-13">
                    <div class="clearfix">
                        <select id="Group" name="Group" data-bind="options: ddlGroup, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...',value: Group().ID,  disable: $root.Readonly, event: { change: OnChangeModeGroup }" data-rule-required="true" data-rule-value="true" class="col-xs-6"></select>
                        <label class="control-label bolder text-danger" for="Group" data-bind="disable: $root.Readonly, visible: $root.Readonly() == false">*</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal body form end -->
    </div>
</div>