﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Customer">
                    Customer Name
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <input type="text" id="Customer" name="Customer" data-bind="value: Customer().Name,disable:$root.Readonly" class="col-sm-15" data-rule-required="true" data-rule-maxlength="50" />
                    </div>
                </div>
                <label class="col-sm-3 control-label no-padding-right" for="SolID">
                    SolID
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <input type="text" id="SolID" name="SolID" data-bind="value: SolID, disable:$root.Readonly" class="col-sm-10"
                               data-rule-required="true" data-rule-maxlength="255" />
                    </div>
                </div>
            </div>
            <div class="form-group">

                <label class="col-sm-3 control-label no-padding-right" for="CIF">
                    Customer ID
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <input type="text" id="CIF" name="CIF" data-bind="value:CIF, disable:$root.Readonly" class="col-sm-15" data-rule- maxlength="50" />
                    </div>
                </div>
                <label class="col-sm-3 control-label no-padding-right" for="BizSegment">
                    Segment
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <input type="text" id="BizSegment" name="BizSegment" data-bind="value: BizSegment().Description, disable:$root.Readonly" class="col-sm-15"
                               data-rule-required="true" data-rule-maxlength="255" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="CustomerCategoryID">
                    Customer Category
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <input type="text" id="CustomerCategoryID" name="CustomerCategoryID" data-bind="value: CustomerCategoryID, disable:$root.Readonly" class="col-sm-15" data-rule-
                               maxlength="50" />
                    </div>
                </div>
                <label class="col-sm-3 control-label no-padding-right" for="ProgramType">
                    ProgType
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <!--<select id="ProgramType" name="ProgramType" data-bind="value:ProgramType.ProgramTypeID, options: ddlProgramType, optionsValue: 'ProgramTypeID' ,optionsText:'ProgramTypeName', optionsCaption: 'Please Select...', disable:$root.Readonly,event:{change:OnChangeProgramType},visible:$root.Readonly()==false" class="col-sm-10"></select>
                        <select id="ProgramTypehidden" name="ProgramTypehidden" data-bind="value:ProgramType.ProgramTypeID, options: ddlProgramType, optionsValue: 'ProgramTypeID',optionsText: 'ProgramTypeName', optionsCaption: 'Please Select...', visible:$root.Readonly()==true,disable:$root.Readonly" class="col-sm-10"></select>-->
                        <select id="ProgramType" name="ProgramType" data-bind="value:ProgramType().ProgramTypeID,options:ddlProgramType,optionsText:'ProgramTypeName',optionsValue:'ProgramTypeID',optionsCaption: 'Please Select...',disable:$root.Readonly" class="valid col-xs-10 col-sm-11" data-rule-required="true"></select>
                        <label class="control-label bolder text-danger" for="ProgramType" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="LoanID">
                    Loan Type
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <!--<select id="LoanID" name="LoanID" data-bind="value:LoanID.LoanTypeID, options: ddlLoanID, optionsValue: 'LoanTypeID' ,optionsText:'LoanTypeName', optionsCaption: 'Please Select...', disable:$root.Readonly,event:{change:OnChangeLoan},visible:$root.Readonly()==false" class="col-xs-8"></select>
                        <select id="Loanhidden" name="Loanhidden" data-bind="value:LoanID.LoanTypeID, options: ddlLoanID, optionsValue: 'LoanTypeID',optionsText: 'LoanTypeName', optionsCaption: 'Please Select...', visible:$root.Readonly()==true,disable:$root.Readonly" class="col-xs-8"></select>-->
                        <select id="LoanID" name="LoanID" data-bind="value:LoanID().LoanTypeID,options:ddlLoanID,optionsText:'LoanTypeName',optionsValue:'LoanTypeID',optionsCaption: 'Please Select...',disable:$root.Readonly" class="valid col-xs-10 col-sm-11" data-rule-required="true"></select>
                        <label class="control-label bolder text-danger" for="LoanID" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>
                    </div>
                </div>
                <label class="col-sm-3 control-label no-padding-right" for="FinacleScheme">
                    Scheme Code:Finacle
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <!--<select id="FinacleScheme" name="FinacleScheme" data-bind="value:FinacleScheme.FinacleSchemeCodeID, options: ddlFinacleScheme, optionsValue: 'FinacleSchemeCodeID' ,optionsText:'FinacleSchemeCodeName', optionsCaption: 'Please Select...', disable:$root.Readonly,event:{change:OnChangeFinacleScheme},visible:$root.Readonly()==false" class="col-xs-8"></select>
                        <select id="FinacleSchemeTypehidden" name="FinacleSchemeTypehidden" data-bind="value:FinacleScheme.FinacleSchemeCodeID, options: ddlFinacleScheme, optionsValue: 'FinacleSchemeCodeID',optionsText: 'FinacleSchemeCodeName', optionsCaption: 'Please Select...', visible:$root.Readonly()==true,disable:$root.Readonly" class="col-xs-8"></select>-->
                        <select id="FinacleScheme" name="FinacleScheme" data-bind="value:FinacleScheme().FinacleSchemeCodeID,options:ddlFinacleScheme,optionsText:'FinacleSchemeCodeName',optionsValue:'FinacleSchemeCodeID',optionsCaption: 'Please Select...',disable:$root.Readonly" class="valid col-xs-10 col-sm-11" data-rule-required="true"></select>
                        <label class="control-label bolder text-danger" for="FinacleScheme" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="IsAdhoc">
                    IsAdhoc
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <input type="checkbox" id="IsAdhoc" name="IsAdhoc" data-bind="value: IsAdhoc, disable:$root.Readonly" class="col-xs-10"
                               data-rule-required="true" data-rule-maxlength="255" />
                    </div>
                </div>
            </div>
            <div class="form-group">

                <label class="col-sm-3 control-label no-padding-right" for="AmountDisburse">
                    AmountDisburse
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <!--<select id="AmountDisburseID" name="AmountDisburseID" data-bind="value:AmountDisburseID.Code, options: ddlCurrency, optionsValue: 'Code' ,optionsText: 'CodeDescription', optionsCaption: 'Please Select...', disable:$root.Readonly,event:{change:OnChangeAmountDisburseID},visible:$root.Readonly()==false" class="col-xs-8"></select>
                        <select id="AmountDisburseIDhidden" name="AmountDisburseIDhidden" data-bind="value:AmountDisburseID.ID, options: ddlCurrency, optionsValue: 'ID' ,optionsText: 'CodeDescription', optionsCaption: 'Please Select...', visible:$root.Readonly()==true,disable:$root.Readonly" class="col-xs-8"></select>-->
                        <select id="AmountDisburseID" name="AmountDisburseID" data-bind="value:AmountDisburseID().Code,options:ddlAmountDisburseID,optionsText:'CodeDescription',optionsValue:'ID',optionsCaption: 'Please Select...',disable:$root.Readonly" class="valid col-xs-10 col-sm-11" data-rule-required="true"></select>
                        <label class="control-label bolder text-danger" for="AmountDisburseID" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>
                    </div>
                </div>
                <label class="col-sm-3 control-label no-padding-right" for="AmountDisburse">
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <input type="text" id="AmountDisburse" name="AmountDisburse" data-bind="value: AmountDisburse, disable:$root.Readonly" class="col-sm-15" data-rule-
                               maxlength="50" />
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="ValueDate">
                    Value Date
                </label>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="ValueDate" name="ValueDate" data-rule-required="true" data-rule-value="true" data-bind="value: ValueDate" />
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                        <label class="control-label bolder text-danger starremove starremovefirefox" style="position:absolute;" for="ValueDate">*</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="MaturityDate">
                    Maturity Date
                </label>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="MaturityDate" name="MaturityDate" data-rule-required="true" data-rule-value="true" data-bind="value: MaturityDate" />
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                        <label class="control-label bolder text-danger starremove starremovefirefox" style="position:absolute;" for="MaturityDate">*</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="CreditingOperative">
                    Crediting Operative/office A/C ID
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <input type="text" id="CreditingOperative" name="CreditingOperative" data-bind="value: CreditingOperative, disable:$root.Readonly" class="col-sm-15"
                               data-rule-required="true" data-rule-maxlength="255" />
                    </div>
                </div>
                <label class="col-sm-3 control-label no-padding-right" for="DebitingOperative">
                    Debiting Operative/office A/C(settlement)
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <input type="text" id="DebitingOperative" name="DebitingOperative" data-bind="value: DebitingOperative, disable:$root.Readonly" class="col-sm-15"
                               data-rule-required="true" data-rule-maxlength="255" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Interest">
                    Interest Rest Code
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <!--<select id="Interest" name="Interest" data-bind="value:Interest.InterestCodeID, options: ddlInterest, optionsValue: 'InterestCodeID' ,optionsText: 'InterestCodeName', optionsCaption: 'Please Select...', disable:$root.Readonly,event:{change:OnChangeInterest},visible:$root.Readonly()==false" class="col-xs-8"></select>
                        <select id="Interesthidden" name="Interesthidden" data-bind="value:Interest.InterestCodeID, options: ddlInterest, optionsValue: 'InterestCodeID' ,optionsText: 'InterestCodeName', optionsCaption: 'Please Select...', visible:$root.Readonly()==true,disable:$root.Readonly" class="col-xs-8"></select>-->
                        <select id="Interest" name="Interest" data-bind="value:Interest().InterestCodeID,options:ddlInterest,optionsText:'InterestCodeName',optionsValue:'InterestCodeID',optionsCaption: 'Please Select...',disable:$root.Readonly" class="valid col-xs-10 col-sm-11" data-rule-required="true"></select>
                        <label class="control-label bolder text-danger" for="Interest" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>
                    </div>
                </div>
                <label class="col-sm-3 control-label no-padding-right" for="ApprovedMarginAsPerCM">
                    Approve Margin AS Per Credit Memo
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <input type="text" id="ApprovedMarginAsPerCM" name="ApprovedMarginAsPerCM" data-bind="value: ApprovedMarginAsPerCM, disable:$root.Readonly" class="col-sm-15"
                               data-rule-required="true" data-rule-maxlength="255" />
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">

                <label class="col-sm-3 control-label no-padding-right" for="BaseRate">
                    Base Rate
                </label>
                <div class="col-sm-3">
                    <div class="clearfix">
                        <input type="text" id="BaseRate" name="BaseRate" data-bind="value: BaseRate, disable:$root.Readonly" class="col-sm-12"
                               data-rule-required="true" data-rule-maxlength="255" />
                    </div>
                </div>
                <label class="col-sm-2 control-label no-padding-right" for="SpecialFTP">
                    Specila FTP
                </label>
                <div class="col-sm-1">
                    <div class="clearfix">
                        <input type="text" id="SpecialFTP" name="SpecialFTP" data-bind="value: SpecialFTP, disable:$root.Readonly" class="col-sm-15"
                               data-rule-required="true" data-rule-maxlength="255" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="AccountPreferencial">
                    ACC Prefencial/Margin
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <input type="text" id="AccountPreferencial" name="AccountPreferencial" data-bind="value: AccountPreferencial, disable:$root.Readonly" class="col-sm-15"
                               data-rule-required="true" data-rule-maxlength="255" />
                    </div>
                </div>
                <label class="col-sm-3 control-label no-padding-right" for="Margin">
                    Margin
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <input type="text" id="Margin" name="Margin" data-bind="value: Margin, disable:$root.Readonly" class="col-sm-15"
                               data-rule-required="true" data-rule-maxlength="255" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="AllInRate">
                    ALL IN Rate
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <input type="text" id="AllInRate" name="AllInRate" data-bind="value: AllInRate, disable:$root.Readonly" class="col-sm-12"
                               data-rule-required="true" data-rule-maxlength="255" />
                    </div>
                </div>
                <label class="col-sm-3 control-label no-padding-right" for="AllInSpecialRate">
                    ALL IN Special Rate
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <input type="text" id="AllInSpecialRate" name="AllInSpecialRate" data-bind="value: AllInSpecialRate, disable:$root.Readonly" class="col-sm-12"
                               data-rule-required="true" data-rule-maxlength="255" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="RepricingPlan">
                    Repricing Plan
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <!--<select id="RepricingPlan" name="RepricingPlan" data-bind="value:RepricingPlan.RepricingPlanID, options: ddlRepricing, optionsValue: 'RepricingPlanID' ,optionsText:'RepricingPlanName', optionsCaption: 'Please Select...', disable:$root.Readonly,event:{change:OnChangeRepricing},visible:$root.Readonly()==false" class="col-xs-8"></select>
                        <select id="Repricinghidden" name="Repricinghidden" data-bind="value:RepricingPlan.RepricingPlanID, options: ddlRepricing, optionsValue: 'RepricingPlanID',optionsText: 'RepricingPlanName', optionsCaption: 'Please Select...', visible:$root.Readonly()==true,disable:$root.Readonly" class="col-xs-8"></select>-->
                        <select id="RepricingPlan" name="RepricingPlan" data-bind="value:RepricingPlan().RepricingPlanID,options:ddlRepricing,optionsText:'RepricingPlanName',optionsValue:'RepricingPlanID',optionsCaption: 'Please Select...',disable:$root.Readonly" class="valid col-xs-10 col-sm-11" data-rule-required="true"></select>
                        <label class="control-label bolder text-danger" for="RepricingPlan" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>
                    </div>
                </div>
                <label class="col-sm-3 control-label no-padding-right" for="PeggingFrequency">
                    Pegging Frequency
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <!--<select id="PeggingFrequency" name="PeggingFrequency" data-bind="value:PeggingFrequency.PeggingFrequencyID, options: ddlRepricing, optionsValue: 'PeggingFrequencyID' ,optionsText:'PeggingFrequencyName', optionsCaption: 'Please Select...', disable:$root.Readonly,event:{change:OnChangePeggingFrequency},visible:$root.Readonly()==false" class="col-xs-8"></select>
                        <select id="PeggingFrequencythidden" name="PeggingFrequencythidden" data-bind="value:PeggingFrequency.PeggingFrequencyID, options: ddlRepricing, optionsValue: 'PeggingFrequencyID',optionsText: 'PeggingFrequencyName', optionsCaption: 'Please Select...', visible:$root.Readonly()==true,disable:$root.Readonly" class="col-xs-8"></select>-->
                        <select id="PeggingFrequency" name="PeggingFrequency" data-bind="value:PeggingFrequency().PeggingFrequencyID,options:ddlRepricing,optionsText:'PeggingFrequencyName',optionsValue:'PeggingFrequencyID',optionsCaption: 'Please Select...',disable:$root.Readonly" class="valid col-xs-10 col-sm-11" data-rule-required="true"></select>
                        <label class="control-label bolder text-danger" for="PeggingFrequency" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="PeggingDate">
                    Pegging Date
                </label>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="PeggingDate" name="PeggingDate" data-rule-required="true" data-rule-value="true" data-bind="value: MaturityDate" />
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                        <label class="control-label bolder text-danger starremove starremovefirefox" style="position:absolute;" for="PeggingDate">*</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="PrincipalStartDate">
                    Principal Start Date
                </label>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="PrincipalStartDate" name="PrincipalStartDate" data-rule-required="true" data-rule-value="true" data-bind="value: PrincipalStartDate" />
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                        <label class="control-label bolder text-danger starremove starremovefirefox" style="position:absolute;" for="PrincipalStartDate">*</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="InterestStartDate">
                    interest star Date
                </label>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="InterestStartDate" name="InterestStartDate" data-rule-required="true" data-rule-value="true" data-bind="value: InterestStartDate" />
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                        <label class="control-label bolder text-danger starremove starremovefirefox" style="position:absolute;" for="InterestStartDate">*</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="PrincipalFrequency">
                    Principal Frequency
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <!--<select id="InterestFrequency" name="InterestFrequency" data-bind="value:InterestFrequency.InterestFrequencyID, options: ddlRepricing, optionsValue: 'InterestFrequencyID' ,optionsText:'InterestFrequencyName', optionsCaption: 'Please Select...', disable:$root.Readonly,event:{change:OnChangeInterestFrequency},visible:$root.Readonly()==false" class="col-xs-8"></select>
                        <select id="InterestFrequencyhidden" name="InterestFrequencyhidden" data-bind="value:InterestFrequency.InterestFrequencyID, options: ddlRepricing, optionsValue: 'InterestFrequencyID',optionsText: 'InterestFrequencyName', optionsCaption: 'Please Select...', visible:$root.Readonly()==true,disable:$root.Readonly" class="col-xs-8"></select>-->
                        <select id="PrincipalFrequency" name="PrincipalFrequency" data-bind="value:InterestFrequency().InterestFrequencyID,options:ddlRepricing,optionsText:'InterestFrequencyName',optionsValue:'PeggingFrequencyID',optionsCaption: 'Please Select...',disable:$root.Readonly" class="valid col-xs-10 col-sm-11" data-rule-required="true"></select>
                        <label class="control-label bolder text-danger" for="PrincipalFrequency" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>

                    </div>
                </div>
                <label class="col-sm-3 control-label no-padding-right" for="InterestFrequency">
                    Interest Frequency
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <!--<select id="InterestFrequency" name="InterestFrequency" data-bind="value:InterestFrequency.InterestFrequencyID, options: ddlRepricing, optionsValue: 'InterestFrequencyID' ,optionsText:'InterestFrequencyName', optionsCaption: 'Please Select...', disable:$root.Readonly,event:{change:OnChangeInterestFrequency},visible:$root.Readonly()==false" class="col-xs-8"></select>
                        <select id="InterestFrequencyhidden" name="InterestFrequencyhidden" data-bind="value:InterestFrequency.InterestFrequencyID, options: ddlRepricing, optionsValue: 'InterestFrequencyID',optionsText: 'InterestFrequencyName', optionsCaption: 'Please Select...', visible:$root.Readonly()==true,disable:$root.Readonly" class="col-xs-8"></select>-->
                        <select id="InterestFrequency" name="InterestFrequency" data-bind="value:InterestFrequency().InterestFrequencyID,options:ddlRepricing,optionsText:'InterestFrequencyName',optionsValue:'PeggingFrequencyID',optionsCaption: 'Please Select...',disable:$root.Readonly" class="valid col-xs-10 col-sm-11" data-rule-required="true"></select>
                        <label class="control-label bolder text-danger" for="InterestFrequency" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="NoOfInstallment">
                    No OF Installment
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <input type="text" id="NoOfInstallment" name="NoOfInstallment" data-bind="value: NoOfInstallment, disable:$root.Readonly" class="col-xs-10"
                               data-rule-required="true" data-rule-maxlength="255" />
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="LimitIDinFin10">
                    Limited ID fin 10
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <input type="text" id="LimitIDinFin10" name="LimitIDinFin10" data-bind="value: LimitIDinFin10, disable:$root.Readonly" class="col-sm-12"
                               data-rule-required="true" data-rule-maxlength="255" />

                    </div>
                </div>
                <label class="col-sm-3 control-label no-padding-right" for="LimitExpiryDate">
                    Limit Expired Date
                </label>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input class="col-xs-15 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="LimitExpiryDate" name="LimitExpiryDate" data-rule-required="true" data-rule-value="true" data-bind="value: LimitExpiryDate" />
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                        <label class="control-label bolder text-danger starremove starremovefirefox" style="position:absolute;" for="LimitExpiryDate">*</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="SanctionLimitCurrID">
                    Saction Limit
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <!--<select id="SanctionLimitCurrID" name="SanctionLimitCurrID" data-bind="value:SanctionLimitCurrID.Code, options: ddlSanctionLimitCurrID, optionsValue: 'Code' ,optionsText: 'CodeDescriptionCodeDescription', optionsCaption: 'Please Select...', disable:$root.Readonly,event:{change:OnChangeSanctionLimit},visible:$root.Readonly()==false" class="col-xs-8"></select>
                        <select id="SanctionLimitCurrIDhidden" name="SanctionLimitCurrIDhidden" data-bind="value:SanctionLimitCurrID.ID, options: ddlSanctionLimitCurrID, optionsValue: 'ID' ,optionsText: 'CodeDescription', optionsCaption: 'Please Select...', visible:$root.Readonly()==true,disable:$root.Readonly" class="col-xs-8"></select>-->
                        <select id="SanctionLimitCurrID" name="SanctionLimitCurrID" data-bind="value:SanctionLimitCurrID().Code,options:ddlSanctionLimitCurrID,optionsText:'CodeDescription',optionsValue:'ID',optionsCaption: 'Please Select...',disable:$root.Readonly" class="valid col-xs-10 col-sm-11" data-rule-required="true"></select>
                        <label class="control-label bolder text-danger" for="SanctionLimitCurrID" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <input type="text" id="SanctionLimitAmount" name="SanctionLimitAmount" data-bind="value: SanctionLimitAmount, disable:$root.Readonly" class="col-xs-10"
                               data-rule-required="true" data-rule-maxlength="255" />

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="utilization">
                    Utilation
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <!--<select id="utilization" name="utilization" data-bind="value:utilization.Code, options: ddlUtilizationCurrID, optionsValue: 'Code' ,optionsText: 'CodeDescriptionCodeDescription', optionsCaption: 'Please Select...', disable:$root.Readonly,event:{change:OnChangeutilization},visible:$root.Readonly()==false" class="col-xs-8"></select>
                        <select id="utilizationhidden" name="utilizationhidden" data-bind="value:utilization.ID, options: ddlUtilizationCurrID, optionsValue: 'ID' ,optionsText: 'CodeDescription', optionsCaption: 'Please Select...', visible:$root.Readonly()==true,disable:$root.Readonly" class="col-xs-8"></select>-->
                        <select id="utilization" name="utilization" data-bind="value:utilization().Code,options:ddlUtilizationCurrID,optionsText:'CodeDescription',optionsValue:'ID',optionsCaption: 'Please Select...',disable:$root.Readonly" class="valid col-xs-10 col-sm-11" data-rule-required="true"></select>
                        <label class="control-label bolder text-danger" for="utilization" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>

                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <input type="text" id="utilizationAmount" name="utilizationAmount" data-bind="value: utilizationAmount, disable:$root.Readonly" class="col-sm-15"
                               data-rule-required="true" data-rule-maxlength="255" />

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Outstanding">
                    Outstanding
                </label>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <!--<select id="Outstanding" name="Outstanding" data-bind="value:Outstanding.Code, options: ddlOutstandingCurrID, optionsValue: 'Code' ,optionsText: 'CodeDescriptionCodeDescription', optionsCaption: 'Please Select...', disable:$root.Readonly,event:{change:OnChangeOutstanding},visible:$root.Readonly()==false" class="col-xs-8"></select>
                        <select id="Outstandinghidden" name="Outstandinghidden" data-bind="value:Outstanding.ID, options: ddlOutstandingCurrID, optionsValue: 'ID' ,optionsText: 'CodeDescription', optionsCaption: 'Please Select...', visible:$root.Readonly()==true,disable:$root.Readonly" class="col-xs-8"></select>-->
                        <select id="Outstanding" name="Outstanding" data-bind="value:utilization().Code,options:ddlOutstandingCurrID,optionsText:'CodeDescription',optionsValue:'ID',optionsCaption: 'Please Select...',disable:$root.Readonly" class="valid col-xs-10 col-sm-11" data-rule-required="true"></select>
                        <label class="control-label bolder text-danger" for="Outstanding" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>

                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="clearfix">
                        <input type="text" id="OutstandingAmount" name="OutstandingAmount" data-bind="value: OutstandingAmount, disable:$root.Readonly" class="col-sm-15"
                               data-rule-required="true" data-rule-maxlength="255" />

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="CSOName">
                    CSO Name
                </label>

                <div class="col-sm-2">
                    <div class="clearfix">
                        <input type="text" id="CSOName" name="CSOName" data-bind="value: CSOName, disable:$root.Readonly" class="col-sm-15"
                               data-rule-required="true" data-rule-maxlength="255" />

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Remarks">
                    Remark
                </label>

                <div class="col-sm-2">
                    <div class="clearfix">
                        <textarea ="Remarks" id="Remarks" name="Remarks" col="40" rows="5" data-bind="value: Remarks, disable:$root.Readonly"
                                  data-rule-required="true" data-rule-maxlength="255" />

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal body form end -->
</div>