<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-2" for="SingleValue">
                    FX Transaction Threshold
                </label>
                <div class="col-sm-5">
                    <div class="clearfix">
                        <input class="col-sm-11" type="text" name="SingleValue" id="Value" data-in="" data-bind="value: SingleValueApproval, disable:$root.Readonly" data-rule-required="true" data-rule-value="true" data-rule-number="true" />
                        <label class="control-label bolder text-danger" for="Value">*</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>