				<div class="row" data-bind="ifnot: $data == null">
					<div class="col-xs-12">
						<!-- modal body form start -->
						<div id="customer-form" class="form-horizontal" role="form">
							<div class="space-4"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="thresholdamount">
								Threshold Amount</label>
								<div class="col-sm-9">
									<div class="clearfix">
										<input type="text" id="thresholdamount" name="thresholdamount" data-bind="value: ThresholdAmount, disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-required = "true" data-rule-number="true"/>
                                        <label class="control-label bolder text-danger" for="ThresholdAmount">*</label>
                                    </div>
								</div>
							</div>

							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="dayoftrx">
								DayOfTrx</label>

								<div class="col-sm-9">
									<div class="clearfix">
										<input type="text" id="dayoftrx" name="dayoftrx" data-bind="value: DayOfTrx, disable:$root.Readonly" class="col-xs-12" data-rule-required = "true" data-rule-number="true"/>
                                        <label class="control-label bolder text-danger" for="DayOfTrx">*</label>
                                    </div>
								</div>
							</div>
                        </div>
						<!-- modal body form end -->
					</div>
				</div>