﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="HolidayDate">
                    Holiday Date
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input class="col-xs-8 date-picker" type="text" autocomplete="off" data-date-format="dd-M-yyyy" id="HolidayDate" name="HolidayDate" data-rule-required="true" data-rule-value="true" data-bind="value: HolidayDate" />
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                        <label class="control-label bolder text-danger starremove starremovefirefox" style="position:absolute;" for="HolidayDate">*</label>
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="HolidayName">
                    Holiday Name
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="HolidayName" name="HolidayName" data-bind="value: HolidayName, disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-maxlength="50" />

                    </div>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Description">
                    Description
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="Description" name="Description" data-bind="value: Description, disable:$root.Readonly" class="col-xs-8" data-rule-maxlength="50" />
                    </div>
                </div>
            </div>
        </div>
        <!-- modal body form end -->
    </div>
</div>