				<div class="row" data-bind="ifnot: $data == null">
					<div class="col-xs-12">
						<!-- modal body form start -->
						<div id="customer-form" class="form-horizontal" role="form">
							<div class="space-4"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="code">
								Code</label>
								<div class="col-sm-9">
									<div class="clearfix">
										<input type="text" id="code" name="code" data-bind="value: Code, disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-required = "true" data-rule-maxlength="25"/>
                                        <label class="control-label bolder text-danger" for="Code">*</label>
                                    </div>
								</div>
							</div>
							<div class="space-4"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="description">
								Description</label>
								<div class="col-sm-9">
									<div class="clearfix">
										<input type="text" id="description" name="description" data-bind="value: Description, disable:$root.Readonly" class="col-xs-11" data-rule-required = "true" data-rule-maxlength="255"/>
                                        <label class="control-label bolder text-danger" for="Description">*</label>
                                    </div>
								</div>
							</div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="checkbox">
                                </label>
                                <div class="col-sm-9">
                                    <div>
                                        <div><input class="ace" id="RTGS" name="RTGS" type="checkbox" data-bind="checked: IsRTGS, disable: $root.Readonly" title="IsRTGS" /><span class="lbl">RTGS</span></div>
                                        <div><input class="ace" id="SKN" name="SKN" type="checkbox" data-bind="checked: IsSKN, disable: $root.Readonly" title="IsSKN" /><span class="lbl">SKN</span></div>
                                        <div><input class="ace" id="OTT" name="OTT" type="checkbox" data-bind="checked: IsOTT, disable: $root.Readonly" title="IsOTT" /><span class="lbl">OTT</span></div>
                                        <div><input class="ace" id="OVB" name="OVB" type="checkbox" data-bind="checked: IsOVB, disable: $root.Readonly" title="IsOVB" /><span class="lbl">OVB</span></div>
                                    </div>
                                </div>
                            </div>

                        </div>
						<!-- modal body form end -->
					</div>
				</div>