﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="LLDDocumentCode">
                    LLD Document Code
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="LLDDocumentCode" name="LLDDocumentCode" data-bind="value: LLDDocumentCode, disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-required="true" data-rule-maxlength="25" />
                        <label class="control-label bolder text-danger" for="Code">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Description">
                    Description
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="Description" name="Description" data-bind="value: Description, disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-required="true" data-rule-maxlength="25" />
                        <label class="control-label bolder text-danger" for="Code">*</label>
                    </div>
                </div>
            </div>

        </div>
        <!--end body from-->    
    </div>
</div>