﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-sm-5">

        <label class="col-sm-8" for="SingleValue">
            Maintenance Type Name Priority
        </label>
        <div class="col-sm-9">
            <div class="clearfix">
                <select class="col-xs-12" id="MainDataCustomerApproval" name="MainDataCustomerApproval" data-bind="options: MainDataCustomerApproval, optionsText: function (item) { if (item.CBOMaintainSubID != null) return item.SubTypeName + ' (' + item.CBOMaintainSubID + ')' }, optionsValue: 'CBOMaintainSubID', selectedOptions: SelectedMaintenanceCC,visible:$root.Readonly()==true" size="10" multiple="multiple"></select>
            </div>
        </div>
    </div>

</div>

