<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12" data-bind="visible: UnderlyingView().IsActive()==true">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="widget-box">
                <div class="widget-header widget-header-flat widget-header-small">
                    <h5>Customer Underlying</h5>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="cif">CIF</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" id="cif" name="cif" data-bind="value: UnderlyingView().CIF_u" class="col-xs-10 col-sm-5" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="JointAccountID">
                        Joint Account
                    </label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="book-joinAcc" name="book-statement" data-bind="value: UnderlyingView().IsJointAccount_u,
                                            options: UnderlyingView().CIFJointAccounts,
                                            optionsText: 'Name',
                                            optionsValue: 'ID',
                                            event: { change: UnderlyingView().OnChangeJointAcc }, enable: UnderlyingView().IsJointAccount_u() == true && UnderlyingView().IsRoleMaker()==true" class="col-xs-3"></select>&nbsp;
                            <!--<input type="text" class="col-sm-4" id="accountnumber_u" disabled="disabled" data-bind="value: UnderlyingView().AccountNumber_u,visible:UnderlyingView().IsJointAccount_u" />-->
                            <select id="debit-acc-number" name="debit-acc-number" data-rule-required="true" data-bind="options: UnderlyingView().JointAccountNumbers,
										    optionsText: function (item) {
										        if (item.CustomerName != null) {
										            return item.AccountNumber + ' (' + item.Currency.Code + ') - ' + item.CustomerName
										        } return item.AccountNumber + ' (' + item.Currency.Code + ')'
										    },
										    optionsValue: 'AccountNumber',
										    optionsCaption: 'Please Select...',
										    value: UnderlyingView().AccountNumber_u,
										    event: { change: UnderlyingView().CheckEmptyAccountNumber }, visible: UnderlyingView().IsJointAccount_u,
										    enable: UnderlyingView().IsRoleMaker()==true"
                                    class="col-xs-5"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="StatementLetterID">
                        Statement Letter
                    </label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="statementLetter" name="statementLetter" data-bind="value: UnderlyingView().StatementLetter_u().ID(), options: UnderlyingView().DynamicStatementLetter_u, optionsText: 'Name', optionsValue: 'ID', disable: UnderlyingView().IsRoleMaker()==false, event: { change: UnderlyingView().OnChangeStatementLetterUnderlying }" class="col-xs-7 statement-letter-id"></select>
                            <label class="control-label bolder text-danger" for="StatementLetter_u">*</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" data-bind="visible:!(UnderlyingView().StatementLetter_u().ID()==4)">
                    <label class="col-sm-3 control-label no-padding-right" for="UnderlyingDocument">
                        Underlying Document
                    </label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="underlyingDocument" name="underlyingDocument" data-bind="value: UnderlyingView().UnderlyingDocument_u().ID(), options: UnderlyingView().ddlUnderlyingDocument_u, optionsText: 'CodeName', optionsValue: 'ID', disable: UnderlyingView().IsRoleMaker()==false, event: { change: UnderlyingView().OnUnderlyingDocChange }" data-rule-required="true" data-rule-value="true" class="col-xs-7 underlying-document-id"></select>
                            <label class="control-label bolder text-danger" for="UnderlyingDocument_u">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="visible:!(UnderlyingView().StatementLetter_u().ID()==4)">
                    <label class="col-sm-3 control-label no-padding-right" for="DocumentType">
                        Type of Document
                    </label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="documentType" name="documentType" data-bind="value: UnderlyingView().DocumentType_u().ID(), options: UnderlyingView().ddlDocumentType_u, optionsText: 'Name', optionsValue: 'ID', disable: UnderlyingView().IsRoleMaker()==false, event: { change: UnderlyingView().OnTypeOfDocChange }" data-rule-required="true" data-rule-value="true" class="col-xs-7 document-type-id"></select>
                            <label class="control-label bolder text-danger" for="DocumentType_u">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="visible:!(UnderlyingView().StatementLetter_u().ID()==4)">
                    <label class="col-sm-3 control-label no-padding-right" for="Currency">
                        Transaction Currency
                    </label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select id="currency" name="currency" data-bind="value: UnderlyingView().Currency_u().ID(), options: UnderlyingView().ddlCurrency_u, optionsText: 'Name', optionsValue: 'ID', disable: UnderlyingView().StatementLetter_u().ID() == 1 || UnderlyingView().IsRoleMaker()==false, event: { change: UnderlyingView().OnCurrencyChange }" data-rule-required="true" data-rule-value="true" class="col-xs-2 currency-id"></select>
                            <label class="control-label bolder text-danger" for="Currency_u">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="visible:!(UnderlyingView().StatementLetter_u().ID()==4)">
                    <label class="col-sm-3 control-label no-padding-right" for="Amount">
                        Invoice Amount
                    </label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" id="Amount_u" name="Amount_u" autocomplete="off" data-bind="value: UnderlyingView().Amount_u, disable: UnderlyingView().StatementLetter_u().ID() == 1 || UnderlyingView().IsRoleMaker()==false, valueUpdate: ['afterkeydown', 'propertychange', 'input'], event: { 'keyup': UnderlyingView().Read_u }" data-rule-required="true" data-rule-number="true" class="col-xs-4 align-right" />
                            <label class="control-label bolder text-danger" for="Amount_u">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="visible:!(UnderlyingView().StatementLetter_u().ID()==4)">
                    <label class="col-sm-3 control-label no-padding-right" for="rate">Rate</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" class="col-sm-4 align-right" name="rate_u" id="rate_u" disabled="disabled" data-rule-required="true" data-rule-number="true" data-bind="value: UnderlyingView().FormatNumber(UnderlyingView().Rate_u)" />
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="visible:!(UnderlyingView().StatementLetter_u().ID()==4)">
                    <label class="col-sm-3 control-label no-padding-right" for="eqv-usd">Eqv. USD</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" class="col-sm-4 align-right" disabled="disabled" name="eqv-usd_u" id="eqv-usd_u" data-rule-required="true" data-rule-number="true" data-bind="value: UnderlyingView().FormatNumber(UnderlyingView().AmountUSD_u)" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="DateOfUnderlying">
                        Date of Underlying
                    </label>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" id="DateOfUnderlying" autocomplete="off" name="DateOfUnderlying_u" data-date-format="dd-M-yyyy" data-bind="datepicker: true, value: UnderlyingView().DateOfUnderlying_u, disable: UnderlyingView().IsRoleMaker()==false, event: { change: UnderlyingView().onChangeDateOfUnderlying }" class="form-control date-picker col-xs-6" />
                            <span class="input-group-addon"><i class="icon-calendar bigger-110"></i></span>
                        </div>
                    </div>
                    <label class="col-sm-2 control-label no-padding-right" for="ExpiredDate">
                        Expiry Date
                    </label>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" id="ExpiredDate" autocomplete="off" name="ExpiredDate" data-bind="datepicker: true, value: UnderlyingView().ExpiredDate_u, disable: UnderlyingView().IsRoleMaker()==false || UnderlyingView().StatementLetter_u().ID() == 1" data-date-format="dd-M-yyyy" class="form-control date-picker col-xs-6" />
                            <span class="input-group-addon"><i class="icon-calendar bigger-110"></i></span>
                        </div>
                    </div>
                </div>

                <!--<div class="form-group" data-bind="visible: false">
                    <label class="col-sm-3 control-label no-padding-right" for="IsDeclarationOfException">
                        Declaration of Exception
                    </label>
                    <div class="col-sm-9">
                        <label>
                            <input name="switch-field-1" id="IsDeclarationOfException" data-bind="checked: $root.IsDeclarationOfException_u" class="ace ace-switch ace-switch-6" type="checkbox" />
                            <span class="lbl"></span>
                        </label>
                    </div>
                </div>-->
                <div class="space-2" data-bind="visible: false"></div>
                <!--<div class="form-group" data-bind="visible: false">
                    <label class="col-sm-3 control-label no-padding-right" for="StartDate">
                        Start Date
                    </label>
                    <div class="col-sm-2">
                        <div class="clearfix">
                            <div class="input-group">
                                <input id="StartDate" name="StartDate" data-bind="value: StartDate_u" data-date-format="dd-M-yyyy" class="form-control date-picker col-xs-6" type="text" />
                                <span class="input-group-addon"><i class="icon-calendar bigger-110"></i></span>
                            </div>
                        </div>
                    </div>
                    <label class="col-sm-2 control-label no-padding-right" for="EndDate">
                        End Date
                    </label>
                    <div class="col-sm-2">
                        <div class="clearfix">
                            <div class="input-group">
                                <input type="text" id="EndDate" name="EndDate" data-bind="value: EndDate_u" data-date-format="dd-M-yyyy" class="form-control date-picker col-xs-6" />
                                <span class="input-group-addon"><i class="icon-calendar bigger-110"></i></span>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="form-group" data-bind="visible:!(UnderlyingView().StatementLetter_u().ID()==4)">
                    <label class="col-sm-3 control-label no-padding-right" for="ReferenceNumber">
                        Reference Number
                    </label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" id="ReferenceNumber" name="ReferenceNumber" data-bind="value: UnderlyingView().ReferenceNumber_u" disabled="disabled" class="col-xs-9" />
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="visible:!(UnderlyingView().StatementLetter_u().ID()==4)">
                    <label class="col-sm-3 control-label no-padding-right" for="SupplierName">
                        Supplier Name
                    </label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" id="SupplierName" autocomplete="off" name="SupplierName" data-bind="value: UnderlyingView().SupplierName_u, disable: UnderlyingView().IsRoleMaker()==false" class="col-xs-8" data-rule-required="true" />
                            <label class="control-label bolder text-danger" for="SupplierName_u">*</label>
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="visible:!(UnderlyingView().StatementLetter_u().ID()==4)">
                    <label class="col-sm-3 control-label no-padding-right" for="InvoiceNumber">
                        Invoice Number
                    </label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" id="InvoiceNumber" autocomplete="off" name="InvoiceNumber" data-bind="value: UnderlyingView().InvoiceNumber_u, disable: UnderlyingView().IsRoleMaker()==false" class="col-xs-8" data-rule-required="true" />
                            <label class="control-label bolder text-danger" for="InvoiceNumber_u">*</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>