﻿

				<div class="row" data-bind="ifnot: $data == null">
					<div class="col-xs-12">
						<!-- modal body form start -->
						<div id="customer-form" class="form-horizontal" role="form">
							<div class="form-group" data-bind="visible:false">
								<label class="col-sm-3 control-label no-padding-right" for="id">
								ID</label>
								<div class="col-sm-9">
									<div class="clearfix">
										<input type="text" id="id" name="id" data-bind="value: ID, disable:$root.Readonly" disabled="disabled" class="col-xs-10 col-sm-5"/>
									</div>
									<div for="id" class="help-block" data-bind="visible: $root.IsNewData">
										Auto generated ID.</div>
								</div>
							</div>

							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="name">
								Name</label>

								<div class="col-sm-9">
									<div class="clearfix">
										<input type="text" id="name" name="name" data-bind="value: Name, disable:$root.Readonly" class="col-xs-10 col-sm-5"  data-rule-required = "true" data-rule-maxlength="50"/>
                                        <label class="control-label bolder text-danger">*</label>
									</div>
								</div>
							</div>

							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="description">
								Description</label>

								<div class="col-sm-9">
									<div class="clearfix">
										<input type="text" id="description" name="description" data-bind="value: Description, disable:$root.Readonly" class="col-xs-11" data-rule-required = "true" data-rule-maxlength="255"/>
                                        <label class="control-label bolder text-danger">*</label>
									</div>
								</div>
							</div>
							<div class="space-2"></div>

							<div>
						     	   <!-- BEGIN template -->
							 		<div class="form-group">
										<label data-bind=" text: 'Field '" class="col-sm-3 control-label no-padding-right" for="DdlFields">
										Field </label>

										<div class="col-sm-9">
											<div class="clearfix">
								  				<select data-bind="value:FieldDetails().ID,options:ddlField,optionsText:'Name',optionsValue:'ID',optionsCaption: 'Please Select...',disable:$root.Readonly,event:{ change:OnGridShow([],false)}, visible:IsApprovalPage()==false" id ="ddlField" class="col-xs-5" data-rule-required = "true"></select>		                                                						  				
								  				<select data-bind="options:ddlField,optionsText:'Name',optionsValue:'ID',optionsCaption: 'Please Select...',disable:$root.Readonly,visible: $root.Readonly" id ="ddlFieldApproval" class="col-xs-5"></select>								  				
                                                <label class="control-label bolder text-danger">*</label>
								  			</div>	
								 		</div>
						      		</div>
									<div class="space-2"></div>
									<div>
										<div class="form-group" data-bind="visible:IsGridShow">
										
												<label class="col-sm-3 control-label no-padding-right" for="role" data-bind="text:FieldText">
                            	</label>
                            	<div class="col-sm-9">
                            		<div class="clearfix" style="margin-right:20px">
										
										<!-- Start Grid For Role Or Rank-->
										<div class="slim-scroll" data-height="400">
                                                                                 <!-- widget content start -->
                                                                                 <div class="content">
										
										<div class="table-responsive">
											<div class="table-responsive" role="grid">
												<table id="role-table" class="table table-striped table-bordered table-hover">
													<thead>
													<tr>
														<th class="center">Name</th>
														<th class="center">Description</th>
														<th class="center">Select</th>
													</tr>
													</thead>
													<tbody data-bind="foreach: FieldSubDetails()">
													<tr>
														<td><span data-bind="text: Name"></span></td>
														<td><span data-bind="text: Description"></span></td>
														<td class="center">
															<label>
																<input type="checkbox" data-bind="value:ID,event:{ change: $root.selectedChkbox }, attr: { id:'checkbox' + $index()},disable:$root.Readonly"/>
																<span class="lbl"></span>
															</label>
														</td>
													</tr>
													</tbody>
												</table>
											</div>
										</div>

										</div>
										</div>
										
										<!-- End Grid For Role Or Rank -->

										</div>
									</div>
							 <!-- END template -->
							 </div>
						<!-- modal body form end -->
							<div class="space-4"></div>
								<div class="form-group">										
									<label class="col-sm-3 control-label no-padding-right" for="mailsubject">
										Mail Subject</label>
									<div class="col-sm-9">
										<div class="clearfix">
											<input type="text" id="mailsubject" name="mailsubject" data-bind="value: MailSubject, disable:$root.Readonly" disabled="disabled" class="col-xs-10 col-sm-10"/>
										</div>
									</div>
								</div>
							
							<div class="space-2"></div>
                            <div class="form-group">
                            	
	                                <label class="col-sm-3 control-label no-padding-right" for="MailBody">
	                                Email Body</label>
	<!--                                <div class="col-sm-9">
	                                    <textarea class="col-sm-10" id="bodyEmail" Name="bodyEmail" data-bind="value: BodyEmail, disable:$root.Readonly" data-rule-required = "true" data-rule-maxlength="200"></textarea>
	                                </div> -->
	                                <div class="col-sm-9">
										<div class="clearfix">
	                                		<div class="wysiwyg-editor" id="editorapproval1" data-bind="disable:$root.Readonly"></div>                              		
	                                			
	                                	</div>
	                                </div>
	                                <div class="col-sm-9">
										<div class="clearfix">
											<textarea class="ckeditor" cols="80" id="editor1" name="editor1" rows="10" data-bind="disable:$root.Readonly">
											</textarea>
										</div>
									</div>
	                                <div class="hr hr-double dotted"></div>
								
                            </div>

					</div>
				</div>