﻿<div class="row" data-bind="ifnot: $data == null">
	<div class="col-xs-12">
		<!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-2"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="product">
                    Product
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="product" name="product" data-bind="value:ProductID, options: ddlProduct, optionsText: 'Name',optionsValue: 'ID',optionsCaption: 'Choose...', disable:$root.Readonly" data-rule-required="true" data-rule-value="true" class="col-xs-7"></select>
                        <label class="control-label bolder text-danger" data-bind="visible:$root.Readonly()==false">*</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Name">
                    DOA Name
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="caseName" name="doaName" data-bind="value: DOAName, disable:$root.Readonly" class="col-xs-12 col-sm-11" data-rule-required="true" data-rule-maxlength="255" />
                        <label class="control-label bolder text-danger">*</label>
                    </div>
                </div>
            </div>

            <div class="space-2"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Name">
                    Approval DOA
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="caseName" name="approvalDOA" data-bind="value: ApprovalDOAHeader, disable:$root.Readonly" class="col-xs-12 col-sm-11" data-rule-required="true" data-rule-maxlength="255" />
                        <label class="control-label bolder text-danger">*</label>
                    </div>
                </div>
            </div>

            <div class="space-2"></div>
            <div>
                <div class="widget-box">
                    <div class="widget-header">
                        <h5>Approver </h5>
                    </div>
                    <div class="widget-body" data-bind="foreach: {data: Approvers, as: 'approver'} ">
                        <div class="space-2"></div>
                        <div class="form-group">
                            <label data-bind=" text: 'Approver Position'" class="col-sm-3 control-label no-padding-right" for="DdlFields">
                                Approver Position <span data-bind="text:$index()+1"></span>
                            </label>
                            <div class="col-sm-6">
                                <div class="clearfix">
                                    <input type="text" data-bind="value: approver.ApproverPosition,attr: { id: 'Position'+$index(), name: 'Position'+$index()},disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-required="true" />
                                    <label class="control-label bolder text-danger" data-bind="visible:$root.Readonly()==false">*</label>
                                    <!--<label class="col-xs-12" data-bind="value: approver.ApproverPosition,visible:$root.Readonly()==true,attr:{id : 'lblPosition'+$index()}" style="margin-top:4px;"></label>-->
                                    <button type="button" class="btn btn-sm" data-bind="click: $parent.RemoveApprover,visible:$index()!=0 && $root.Readonly()==false"><i></i>Remove</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"> 
                            <!--<span data-bind="text:$index()"></span>-->
                            <label data-bind=" text: 'Approver Count'" class="col-sm-3 control-label no-padding-right" for="DdlFields">
                                Approver Count
                            </label>
                            <div class="col-sm-6">
                                <div class="clearfix">
                                    <input type="text" data-bind="value: approver.ApproverCount,attr: { id: 'Count'+$index(), name: 'Count'+$index()},disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-required="true" />
                                    <label class="control-label bolder text-danger" data-bind="visible:$root.Readonly()==false">*</label>
                                    <!--<label class="col-xs-12" data-bind="text:approver.ApproverCount,visible:$root.Readonly()==true,attr:{id : 'lblParameter'+$index()}" style="margin-top:4px;"></label>-->
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label data-bind=" text: 'Relation'" class="col-sm-3 control-label no-padding-right" for="ddlFields">
                                Relation
                            </label>
                            <div class="col-sm-9">
                                <div class="clearfix">
                                    <select data-bind="value: approver.ApproverRelation, options: approver.ddlInternalCondition, optionsText: 'Name',optionsValue: 'Name', optionsCaption: 'Choose...',disable:$index()+1==$parent.Approvers().length" class="col-xs-5" data-rule-required="true"></select>
                                    <label class="control-label bolder text-danger" data-bind="visible:$root.Readonly()==false">*</label>
                                </div>
                            </div>
                        </div>	
                        <div class="form-group">
                            <div class="col-xs-8"></div>
                            <button id="btnAddApprover" type="button" class="btn btn-sm btn-primary col-xs-5 col-sm-3" style="margin-left:-260px;margin-top:10px;" data-bind="click: $parent.AddApprover,visible:($index()+1==$parent.Approvers().length && $parent.Readonly)"><i class="icon-update"></i>Add Approver</button>
                        </div>
                    </div>
                </div>
            </div>       			

            <div class="space-2"></div>
			<div data-bind="foreach: {data: Details, as: 'detail'} ">
				<div class="widget-box">
                        <div class="widget-header">
                    	    <h5>Parameter <span data-bind="text:$index()+1"></span> (Level <span data-bind="text:detail.LevelRelation"></span>)</h5>
                    	</div>
						<div class="widget-body">
							<div class="space-2"></div>
                            <div class="form-group">
                                <label data-bind=" text: 'Parameter Field'" class="col-sm-3 control-label no-padding-right" for="DdlFields">
                                    Parameter Field
                                </label>
                                <div class="col-sm-6">
                                    <div class="clearfix">
                                        <select data-bind="value: detail.MatrixFieldID, options: detail.ddlSubParameter, optionsText: 'Name',optionsValue: 'ID', attr: { id: 'Parameter'+$index(), name: 'Parameter'+$index()},optionsCaption: 'Choose...',disable:$root.Readonly" class="col-xs-8" data-rule-required="true" data-rule-value="true"></select>
                                        <label class="control-label bolder text-danger" data-bind="visible:$root.Readonly()==false">*</label>
                                        <!--<label class="col-xs-12" data-bind="text:detail.MatrixFieldID,visible:$root.Readonly()==true,attr:{id : 'lblParameter'+$index()}" style="margin-top:4px;"></label>-->
                                        <button type="button" class="btn btn-sm" data-bind="click: $parent.RemoveGroup,visible:$index()!=0 && $root.Readonly()==false"><i></i>Remove</button>
                                    </div>
                                </div>
                            </div>

                            <div class="space-2"></div>

                            <div class="form-group">
                                <label data-bind=" text: 'Condition'" class="col-sm-3 control-label no-padding-right" for="ddlFields">
                                    Operand
                                </label>
                                <div class="col-sm-6">
                                    <div class="clearfix">
                                        <select data-bind="value: detail.OperatorID, options: detail.ddlSubCondition, optionsText: 'Name',optionsValue: 'ID', attr: { id: 'ConditionOpr'+$index(), name: 'ConditionOpr'+$index()},event:{change:function(data){$root.onChangeCondition($index())}},optionsCaption: 'Choose...',disable:$root.Readonly" class="col-xs-8" data-rule-required="true" data-rule-value="true"></select>
                                        <label class="control-label bolder text-danger" data-bind="visible:$root.Readonly()==false">*</label>
                                        <!--<label class="col-xs-12" data-bind="text:detail.OperatorID,visible:$root.Readonly()==true" style="margin-top:4px;"></label>-->
                                    </div>
                                </div>
                            </div>

                            <div class="space-2"></div>

                            <div class="form-group">
                                <label data-bind=" text: 'Value Type',attr:{ id: 'lblvaluetype'+$index(),name: 'lblvaluetype'+$index()},visible:detail.IsVisible()" class="col-sm-3 control-label no-padding-right" for="ddlFields">
                                    Value Type
                                </label>
                                <div class="col-sm-6">
                                    <div class="clearfix">
                                        <select data-bind="value: detail.ValueType, options: detail.ddlValueType, optionsText: 'Name',optionsValue: 'ID', attr: { id: 'ValueType'+$index(), name: 'ValueType'+$index()},optionsCaption: 'Choose...',disable:$root.Readonly,visible:detail.IsVisible(),event:{ change:function(data){$root.onChangeValueType($index())}}" class="col-xs-5" data-rule-required="true" data-rule-value="true"></select>
                                        <label class="control-label bolder text-danger" data-bind="attr:{ id: 'lblstarvaluetypename'+$index()},visible:$root.Readonly()==false">*</label>
                                        <!--<label class="col-xs-12 lblforhidden" data-bind="text:detail.ValueType,visible:$root.Readonly()==true,attr:{id : 'lblValueType'+$index()}" style="margin-top:4px;"></label>-->
                                    </div>
                                </div>
                            </div>

                            <div class="space-2"></div>

                            <div class="form-group">
                                <label data-bind=" text: 'Value',attr:{ id: 'lblvalue'+$index(),name:'lblvalue'+$index()},visible:detail.IsVisible()" class="col-sm-3 control-label no-padding-right" for="ddlFields">
                                    Value
                                </label>
                                <div class="col-sm-6">
                                    <div class="clearfix">
                                        <input type="text" data-bind="value: detail.ValueText,visible: detail.IsValue,attr: { id: 'Value'+$index(), name: 'Value'+$index()}" class="col-xs-10 col-sm-5" data-rule-required="true" />
                                        <select data-bind="value: detail.ValueText,visible: detail.IsValueParameter, options: detail.ddlSubParameter, optionsText: 'Name',optionsValue: 'ID', attr: { id: 'ValueTypeParameter'+$index(), name: 'ValueTypeParameter'+$index()},optionsCaption: 'Choose...',disable:$root.Readonly" class="col-xs-8" data-rule-required="true" data-rule-value="true"></select>
                                        <label class="control-label bolder text-danger" data-bind="attr:{ id: 'lblstarvalueparameter'+$index()},visible:$root.Readonly()==false">*</label>
                                    </div>
                                </div>
                            </div>

					        <div class="form-group">
                                <label data-bind=" text: 'Relation'" class="col-sm-3 control-label no-padding-right" for="ddlFields">
                                    Relation
                                </label>
					            <div class="col-sm-9">
					            	<div class="clearfix">
                                        <select data-bind="value: detail.Relation, options: detail.ddlInternalCondition, optionsText: 'Name',optionsValue: 'Name', optionsCaption: 'Choose...',disable:$index()+1==$parent.Details().length" class="col-xs-5" data-rule-required="true"></select>
                                        <label class="control-label bolder text-danger" data-bind="visible:$root.Readonly()==false">*</label>
					  	            </div>
					            </div>
						    </div>	
            				<div class="form-group">
                     	 		<div class="col-xs-8"></div> 
                     	 		<button id="btnAddGroup" type="button" class="btn btn-sm btn-primary col-xs-5 col-sm-3" style="margin-left:-260px;margin-top:10px;" data-bind="click: $parent.AddGroup,visible:($index()+1==$parent.Details().length && $parent.Readonly)"><i class="icon-update"></i>Add Parameter</button>
                                <button id="btnAddLevel" type="button" class="btn btn-sm btn-primary col-xs-5 col-sm-3" style="margin-left:-60px;margin-top:10px;" data-bind="click: $parent.AddLevel,visible:($index()+1==$parent.Details().length && $parent.Readonly)"><i class="icon-update"></i>Add Level</button>
                     	 		<!--<button id="btnRemoveGroup" class="btn btn-sm btn-primary col-xs-5 col-sm-3" style="margin-left:-20px;margin-top:10px;" data-bind="click: $parent.RemoveGroup,visible:$index()+2 ==$parent.Details().length && $parent.Readonly" ><i class="icon-update"></i>Remove Group</button>-->
                     	 	</div>

            			</div>
            		</div>
           		 </div>
            <!-- END template -->
            
        </div>
		<!-- modal body form end -->
	</div>
</div>
