﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">Name</label>

                <label class="col-sm-9">
                    <span id="Name" data-bind="text: ParameterName"></span>
                </label>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">Description</label>

                <label class="col-sm-9">
                    <span id="Description" data-bind="text: Description"></span>
                </label>
            </div>


            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="cif">Value</label>

                <div class="col-sm-6" data-bind="visible: IsValue">
                    <div class="clearfix">
                        <!--<input type="text" class="col-sm-11" autocomplete="off" name="ParameterContents" id="ParameterContents" data-bind="value: ParameterContents1, disable:$root.Readonly" />--><!--autocomplete="off", -->
                        <input type="text" id="ParameterContents" name="ParameterContents" data-bind="value: ParameterContents1, disable:$root.Readonly"/>
                        <!--<label class="control-label bolder text-danger" for="customer-name">*</label>-->
                    </div>
                </div>

                <div class="col-xs-1" data-bind="visible: IsSenderStatus">
                    <label>
                        <input class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IstempSenderStatus, disable:$root.Readonly">
                        <span class="lbl"></span>
                    </label>
                </div>

                <div class="col-xs-1" data-bind="visible: IsListenerStatus">
                    <label>
                        <input class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: IstempListenerStatus, disable:$root.Readonly">
                        <span class="lbl"></span>
                    </label>


                </div>

            </div>


        </div>
        <!--end body from-->
    </div>
</div>