﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="murex-name">
                    Murex Name
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="murex-name" name="murex-name" data-bind="value: MurexName, disable: $root.Readonly" class="col-xs-10 col-sm-5" data-rule-required="true" data-rule-maxlength="255" />
                        <label class="control-label bolder text-danger" for="murex-name" data-bind="disable: $root.Readonly, visible: $root.Readonly() == false">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="customer-name">
                    Customer Name
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-sm-11" name="customer-name" id="customer-name" data-rule-required="true" data-bind="value: Customer().Name" />
                        <label class="control-label bolder text-danger" for="customer-name" data-bind="disable: $root.Readonly, visible: $root.Readonly() == false">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="CIF">
                    CIF
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="CIF" name="CIF" data-bind="value: Customer().CIF, disable: true" class="col-xs-10 col-sm-5" />
                    </div>
                </div>
            </div>
        </div>
        <!-- modal body form end -->
    </div>
</div>