﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="currency">
                    Currency
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="currency" name="currency" data-bind="value:Currency().ID,options:ddlCurrency,optionsText:'CodeDescription',optionsValue:'ID',optionsCaption: 'Please Select...',disable:$root.Readonly" class="valid col-xs-10 col-sm-11" data-rule-required="true"></select>
                        <label class="control-label bolder text-danger" for="currency" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>                                                
                    </div>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Amount">
                    Amount
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="Amount" name="Amount" data-bind="value: Amount, disable: $root.Readonly" class="col-xs-10 col-sm-11 align-right" data-rule-number="true" data-rule-required="false" data-rule-maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="bank-name">
                    Bene Bank
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" name="bank-name" id="bank-name" data-bind="value: Bank().Description, disable: $root.Readonly" data-rule-required="false" class="col-xs-10 col-sm-11" />
                        <div id="load-bar" data-bind="visible: $root.BarLoad"><i style="margin-left:5px;" class="icon-spinner icon-spin red bigger-200"></i></div>
                        <input type="hidden" data-bind="value: Bank().ID, visible:false" />
                    </div>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="NostroBank">
                    Nostro Bank
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="NostroBank" name="NostroBank" data-bind="value: NostroUsed, disable: $root.Readonly" class="col-xs-10 col-sm-11" data-rule-required="true" data-rule-maxlength="255" />
                        <label class="control-label bolder text-danger" for="NostroUsed" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>                        
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Code">
                    Code
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" class="col-xs-10 col-sm-11" id="code" name="code" data-bind="value: Code().SwiftCode, disable: $root.Readonly" data-rule-required="true" />
                        <div id="load-bar" data-bind="visible: $root.BarLoad"><i style="margin-left:5px;" class="icon-spinner icon-spin red bigger-200"></i></div>
                        <label class="control-label bolder text-danger" for="code" data-bind="disable: $root.Readonly, visible: $root.Readonly() == false">*</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal body form end -->
    </div>
</div>