﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="parametertype">
                    Parameter Type
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="parametertype" name="parametertype" data-bind="value: ParameterType, options: ddlStaticDropdown, optionsText: 'DropdownItem', optionsValue: 'DropdownItemValue', optionsCaption: 'Please Select...', disable: $root.Readonly" class="valid col-xs-10 col-sm-11" data-rule-required="true"></select>
                        <label class="control-label bolder text-danger" for="offonshore" data-bind="disable: $root.Readonly, visible: $root.Readonly() == false">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="parametervalue">
                    Value
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="parametervalue" name="parametervalue" data-bind="value: ParameterValue, disable: $root.Readonly" class="col-xs-10 col-sm-11" data-rule-required="true" data-rule-maxlength="100" />
                        <label class="control-label bolder text-danger" for="parametervalue" data-bind="disable: $root.Readonly, visible: $root.Readonly() == false">*</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>