﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="modeName" style="margin-top:-6px;">
                    Payment Mode Name  :
                </label>
                <div class="col-sm-3">
                    <div class="clearfix">
                        <!--<select id="modeName" name="modeName" data-bind="options: options, optionsText: 'name', optionsValue: 'id', value: SingleValue, event: { change: $root.OnChangeModeName }, disable: $root.Readonly"></select>-->
                        <label class="col-xs-1 col-sm-1" data-bind="visible:$root.Readonly()==true"</label><label class="col-xs-11" data-bind="text:SingleValueLabel,visible:$root.Readonly()==true"></label>
                     </div>
                </div>
                <div class="space-4"></div>
            </div>
            <!-- modal body form end -->
        </div>
    </div>
</div>