﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="ProductName">
                    Product
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="ProductName" name="ProductName" data-bind="value: ProductName, disable:$root.Readonly" class="col-xs-11" data-rule-required="true" data-rule-maxlength="100" />
                        <label class="control-label bolder text-danger" for="ProductName">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Description">
                    Description
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="Description" name="Description" data-bind="value: Description, disable:$root.Readonly" class="col-xs-11" data-rule-required="false" data-rule-maxlength="100" />
                        <label class="control-label bolder text-danger" for="Description"></label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="IsDeleted">
                    SHOW
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="checkbox" data-bind="checked : Show, disable:$root.Readonly">
                        <label class="control-label bolder text-danger" for="SHOW"></label>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- modal body form end -->
</div>
