﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="TypeLocation" data-bind="disable: $root.Readonly, visible: $root.IsNewData()== true">
                    Type Location
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="TypeLocation" name="TypeLocation" data-bind="value: $root.Location, visible: $root.IsNewData, enable: true" class="col-xs-10 col-sm-7" data-rule-required="true" data-rule-maxlength="50" />
                    </div>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Product">
                    Product
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="Product" name="Product" data-bind="value: Product().ID, options: dllProduct, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...', disable: $root.Readonly, event: { change: OnChangeProduct }" class="col-xs-10 col-sm-7" data-rule-required="true" data-rule-maxlength="50"></select>
                        <label class="control-label bolder text-danger" for="Product" data-bind="disable: $root.Readonly, visible: $root.Readonly() == false">*</label>
                    </div>
                </div>
            </div>
            <div class="space-4"></div>
        </div>
        <!-- modal body form end -->
    </div>
</div>