<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="code">
                    Code
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="code" name="code" data-bind="value: Code, disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-required="true" data-rule-maxlength="10" />
                        <label class="control-label bolder text-danger" for="Code">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="description">
                    Name
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="description" name="description" data-bind="value: Name, disable:$root.Readonly" class="col-xs-11" data-rule-required="true" data-rule-maxlength="50" />
                        <label class="control-label bolder text-danger" for="description">*</label>
                    </div>
                </div>
            </div>


            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="ipeProductCode">
                    IPE Product Code
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="ipeProductCode" name="ipeProductCode" data-bind="value: IPEProductCode, disable:$root.Readonly" class="col-xs-11" data-rule-required="true" data-rule-maxlength="50" />
                        <label class="control-label bolder text-danger" for="ipeProductCode">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="description">
                    Workflow
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="workflow" name="workflow" data-bind="options: options, optionsText: 'name', optionsValue: 'id', value: selectedOptionId, disable:$root.Readonly"></select>

                        <div style="display:none">
                            Selection Option Object : <span data-bind="text: selectedOption"></span><br />
                            Selection Option name : <span data-bind="text: selectedOption().name"></span><br />
                            Selection Option id : <span data-bind="text: selectedOption().id"></span><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal body form end -->
    </div>
</div>