﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="GroupName">
                    <!--<label class="col-sm-3 control-label no-padding-right" for="GroupName" data-bind="disable: $root.Readonly, visible: $root.IsNewData() == true">-->
                    Group Name
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <!--<input type="text" id="code" name="code" data-bind="value: Code, disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-required="true" data-rule-maxlength="10" />-->
                        <input type="text" id="GroupName" name="GroupName" data-bind="value: GroupName, disable:$root.Readonly" class="col-xs-10 col-sm-7" data-rule-required="true" data-rule-maxlength="50" />
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="ProductTypeCode">
                    Product Type Code
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="ProductTypeCode" name="ProductTypeCode" data-bind="options: ddlProductTypeCode, optionsText: 'Code', optionsValue: 'ID', optionsCaption: 'Please Select...',value: ProductType().ID,  disable: $root.Readonly, event: { change: OnChangeProductType }"></select>
                        <label class="control-label bolder text-danger" for="Product" data-bind="disable: $root.Readonly, visible: $root.Readonly() == false">*</label></select>
                        <!-- <input type="text" id="ProductTypeCode" name="ProductTypeCode" data-bind="value: $root.ProductTypeCode, visible: $root.IsNewData, enable: false" class="col-xs-10 col-sm-7" data-rule-required="true" data-rule-maxlength="50" />-->
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="TransactionType">
                    Transaction Type
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="TransactionType" name="TransactionType" data-bind="options:SelectedTransactionType, value:TransactionType, optionsText:'Name', optionsValue:'ID', optionsCaption:'Chose Tranasaction Type' "></select>
                        <!--<input type="text" id="TransactionType" name="TransactionType" data-bind="value: $root.TransactionType, visible: $root.IsNewData, enable: false" class="col-xs-10 col-sm-7" data-rule-required="true" data-rule-maxlength="50" />-->
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="ResidentName">
                    Resident Type
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="ResidentType" name="ResidentType" data-bind="options:SelectedResidentType, value:ResidentType, optionsText:'Name', optionsValue:'ID', optionsCaption:'Chose Resident Type' "></select>
                        <!-- <input type="text" id="ResidentName" name="ResidentName" data-bind="value: $root.ResidentName, visible: $root.IsNewData, enable: false" class="col-xs-10 col-sm-7" data-rule-required="true" data-rule-maxlength="50" />-->
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="ThresholdName">
                    Threshold Type
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="ThresholdType" name="ThresholdType" data-bind="options:SelectedThresholdType, value:ThresholdType, optionsText:'Name', optionsValue:'ID', optionsCaption:'Chose Threshold Type' "></select>

                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="ThresholdValue">
                    Threshold Value
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="ThresholdValue" name="ThresholdValue" style="text-align:right" data-bind="value:FormatNumber(ThresholdValue()), disable:$root.Readonly" class="col-xs-10 col-sm-7" data-rule-required="true" data-rule-maxlength="50" />
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="RoundingValue">
                    Rounding Value
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="RoundingValue" name="RoundingValue" style="text-align:right" data-bind="value:FormatNumber(RoundingValue()), disable:$root.Readonly" class="col-xs-10 col-sm-7" data-rule-required="true" data-rule-maxlength="50" />
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
        </div>
        <!-- modal body form end -->
    </div>
</div>