				<div class="row" data-bind="ifnot: $data == null">
					<div class="col-xs-12">
						<!-- modal body form start -->
						<div id="customer-form" class="form-horizontal" role="form">
							<div class="space-4"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="code">
								Code</label>
								<div class="col-sm-9">
									<div class="clearfix">
										<input type="text" id="code" name="code" data-bind="value: Code, disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-required = "true" data-rule-maxlength="25"/>
                                        <label class="control-label bolder text-danger" for="Code">*</label>
                                    </div>
								</div>
							</div>

							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="description">
								Description</label>

								<div class="col-sm-9">
									<div class="clearfix">
										<input type="text" id="description" name="description" data-bind="value: Description, disable:$root.Readonly" class="col-xs-11" data-rule-required = "true" data-rule-maxlength="255"/>
                                        <label class="control-label bolder text-danger" for="description">*</label>
                                    </div>
								</div>
							</div>
                        </div>
						<!-- modal body form end -->
					</div>
				</div>