﻿                <div class="row" data-bind="ifnot: $data == null">
                    <div class="col-xs-12">
                        <div id="customer-form" class="form-horizontal" role="form">

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="Product">
                                    Product
                                </label>

                                <div class="col-sm-9">
                                    <div class="clearfix">
                                        <select name="Product" id="Product" data-in="" data-rule-required = "true" data-rule-value = "true"
                                         data-bind="options: Products, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Options..', value: Selected().ProductID, disable:$root.Readonly">
                                        </select>
                                        <label class="control-label bolder text-danger" for="Name">*</label>
                                    </div>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="SLATime">
                                SLA (hours)</label>
                                    <div class="col-sm-9">
                                    <div class="clearfix">
                                        <input type="text" id="SLATime" name="SLATime" data-bind="value: SLATime, disable:$root.Readonly" class="col-xs-5" data-rule-required = "true" data-rule-value = "true" data-rule-required = "true" data-rule-number = "true"/>
                                        <label class="control-label bolder text-danger" for="Name">*</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>