﻿				<div class="row" data-bind="ifnot: $data == null">
					<div class="col-xs-12">
						<!-- modal body form start -->
						<div id="customer-form" class="form-horizontal" role="form">
                            <div class="form-group no-margin-bottom no-padding-bottom">
                                <label class="col-sm-2" for="SingleValue">
                                    SMS Body
                                </label>
                                <div class="col-sm-10">
                                    <div class="clearfix">
                                        <!--<input class="col-sm-12" type="text" name="SingleValue" id="SingleValue" data-in="" value="0" data-bind="value: SingleValue" data-rule-required = "true" data-rule-value = "true" data-rule-number="true" />-->
                                        <div class="col-sm-9">
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <div class="wysiwyg-editor" id="editorapproval1" data-bind="disable:$root.Readonly()==true"></div>                                                
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>

                            </div>
								
                        </div>

					</div>
				</div>