﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="unit">
                    Unit
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="unit" name="unit" data-bind="value:UnitName, disable:$root.Readonly" class="valid col-xs-10 col-sm-11" data-rule-required="true" data-rule-maxlength="100" />
                        <label class="control-label bolder text-danger" for="unit" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="oabaccno">
                    OAB A/C No.
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="oabaccno" name="oabaccno" data-bind="value:OABAccNo,disable: $root.Readonly" class="col-xs-10 col-sm-11" data-rule-required="true" data-rule-maxlength="100" />
                        <label class="control-label bolder text-danger" for="oabaccno" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>
                    </div>
                </div>
            </div>
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="oabaccname">
                    OAB A/C Name
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="oabaccname" name="oabaccname" data-bind="value:OABAccName,disable: $root.Readonly" class="col-xs-10 col-sm-11" data-rule-required="true" data-rule-maxlength="100" />
                        <!--<label class="control-label bolder text-danger" for="oabaccname" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>-->
                    </div>
                </div>
            </div>       
        </div>
        <!-- modal body form end -->
    </div>
</div>