﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Days">
                    Days
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="Days" name="Days" data-bind="value: Days, disable:$root.Readonly" class="col-xs-11" data-rule-number="true" data-rule-maxlength="50" data-rule-required="true" />
                        <label class="control-label bolder text-danger" for="description">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Description">
                    Description
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="description" name="description" data-bind="value: Description, disable:$root.Readonly" class="col-xs-11" data-rule-required="true" data-rule-maxlength="50" />
                        <label class="control-label bolder text-danger" for="description">*</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal body form end -->
</div>
