﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">

            <!--<input hidden="hidden" type="text" autocomplete="off" id="ProductID" name="ProductID" data-bind="value: ProductID, disable:$root.Readonly" class="col-xs-10 col-sm-5" />
            <label hidden="hidden" class="control-label bolder text-danger" for="ProductID">*</label>-->

            
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Product">
                    Product
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="Product" name="Product" data-bind="value:Product().ID,options:ddlProduct,optionsText:'Name',optionsValue:'ID',optionsCaption: 'Please Select...',disable:$root.Readonly" class="valid col-xs-10 col-sm-10" data-rule-required="true"></select>
                        <label class="control-label bolder text-danger" for="Product" data-bind="disable:$root.Readonly,visible:$root.Readonly()==false">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Name">
                    Transaction Type
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="Name" name="Name" data-bind="value: Name, disable:$root.Readonly" class="col-xs-10 col-sm-10" data-rule-maxlength="50" />

                    </div>
                </div>
            </div>

            <!--<div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="ProductName">
                    Product
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" autocomplete="off" id="ProductName" name="ProductName" data-bind="value: ProductName, disable:$root.Readonly" class="col-xs-10 col-sm-10" />
                        <label class="control-label bolder text-danger" for="ProductName">*</label>

                    </div>
                </div>
            </div>-->

            <!--<div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="TransactionType1">
                    Transaction Type
                </label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="TransactionType1" name="TransactionType1" data-bind="value: TransactionType1, disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-maxlength="50" />

                    </div>
                </div>
            </div>-->
        </div>
        <!-- modal body form end -->
    </div>
</div>