﻿
<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="name">
                    Product
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="Product" name="Product" data-bind="options: ddlProduct, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...',value: Product().ID,  disable: $root.Readonly, event: { change: OnChangeProduct }" data-rule-required="true" data-rule-value="true" class="col-xs-6"></select>
                        <label class="control-label bolder text-danger" for="Product" data-bind="disable: $root.Readonly, visible: $root.Readonly() == false">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="MinAmount">
                    Min Amount
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="MinAmount" name="MinAmount" onkeyup="javascript:this.value=Comma(this.value);" data-bind="value:MinAmount, disable:$root.Readonly" class="col-xs-11" data-rule-required="true" />
                        <label class="control-label bolder text-danger" for="MinAmount">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="MaxAmount">
                    MaxAmount
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">

                        <input type="text" id="MaxAmount" name="MaxAmount" onkeyup="javascript:this.value=Comma(this.value);" data-bind="value:MaxAmount,attr:{'disabled':CheckedMaxAmaount}, disable:$root.Readonly" class="col-xs-11" data-rule-required="true" />

                        <label class="control-label bolder text-danger" for="MaxAmount">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Currency">
                    Currency
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="Currency" name="Currency" data-bind="options: ddlCurrency, optionsText: 'Code', optionsValue: 'ID', optionsCaption: 'Please Select...',value: Currency().ID, disable: $root.Readonly , event: { change: OnChangeCurrency }" data-rule-required="true" data-rule-value="true" class="col-xs-6"></select>
                        <label class="control-label bolder text-danger" for="Currency" data-bind="disable: $root.Readonly, visible: $root.Readonly() == false">*</label>
                    </div>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Unlimited">
                    Unlimited
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">                       
                        <label class="col-sm-1">
                            <input name="check-all" id="check-all" class="ace ace-switch ace-switch-6" type="checkbox" data-bind="checked: CheckedMaxAmaount ,  disable: $root.Readonly" />
                            <span class="lbl"></span>
                        </label>


                    </div>
                </div>
            </div>



        </div>
        <!-- modal body form end -->
    </div>
</div>