﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="TransactionType">
                    Transaction Type
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="TransactionType" name="TransactionType" data-bind="value: TransactionType, disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-required="true" data-rule-maxlength="50" />
                        <label class="control-label bolder text-danger" for="TransactionType">*</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="ParameterTypeDisplay">
                    Parameter Type Display
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="ParameterTypeDisplay" name="ParameterTypeDisplay" data-bind="value: ParameterTypeDisplay, disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-required="true" data-rule-maxlength="50" />
                        <label class="control-label bolder text-danger" for="ParameterTypeDisplay">*</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal body form end -->
    </div>
</div>