				<div class="row" data-bind="ifnot: $data == null">
					<div class="col-xs-12">
						<!-- modal body form start -->
						<div id="customer-form" class="form-horizontal" role="form">
							<div class="space-4"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="Name">
								Code</label>
								<div class="col-sm-9">
									<div class="clearfix">
										<input type="text" id="code" name="code" data-bind="value: Code, disable:$root.Readonly" class="col-xs-10 col-sm-5" data-rule-required = "true" data-rule-maxlength="10"/>
                                        <label class="control-label bolder text-danger" for="Name">*</label>
									</div>
								</div>
							</div>
							<div class="space-4"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="Name">
								Name</label>
								<div class="col-sm-9">
                                    <div class="clearfix">
                                        <textarea style="position:static;" class="col-sm-10" id="name" name="name" data-bind="value: Name, disable:$root.Readonly" data-rule-required="true" data-rule-maxlength="200"></textarea>
                                        <label class="control-label bolder text-danger" for="Name">*</label>
                                    </div>
								</div>
							</div>
                        </div>
						<!-- modal body form end -->
					</div>
				</div>