<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="form-group no-margin-bottom no-padding-bottom">
                <label class="col-sm-2" for="Expiry">
                    Underlying Documents Expiry (Months)
                </label>
                <div class="col-sm-5">
                    <div class="clearfix">
                        <input class="col-sm-11" type="text" name="ExpiryApproval" id="ExpiryApproval" data-in="" data-bind="value: ExpiryApproval, disable:$root.Readonly" data-rule-required="true" data-rule-value="true" data-rule-number="true">
                        <label class="control-label bolder text-danger" style="position:absolute;" for="Name">*</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>