﻿<div class="row" data-bind="ifnot: $data == null">
    <div class="col-xs-12">
        <!-- modal body form start -->
        <div id="customer-form" class="form-horizontal" role="form">
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="UserCategory">
                    User category code
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="UserCategoryCode" name="UserCategoryCode" data-bind="value: UserCategoryCode, disable: !$root.IsNewData()" class="col-xs-10 col-sm-5" data-rule-required="true" data-rule-maxlength="5" />
                        <label class="control-label bolder text-danger" for="UserCategoryCode">*</label>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="maxTrx">Max Transaction</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="maxTrx" name="maxTrx" onkeyup="javascript:this.value=Comma(this.value);" data-bind="value: MaxTransaction,attr:{'disabled':Unlimited},disable: !$root.IsNewData(), disable: $root.Readonly" class="col-xs-5 col-sm-11 align-right valid" data-rule-required="true" data-rule-number="true" data-rule-maxlength="15" />

                        <!--<input type="text" autocomplete="off" class="col-sm-4 align-right" name="maxTrx" id="maxTrx" data-in="" data-rule-required="true" data-rule-number="true" data-bind="disable: !$root.IsEditable()" />-->

                        <label class="control-label bolder text-danger" for="maxTrx">*</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="minTrx">Min Transaction</label>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="text" id="minTrx" name="maxTrx" onkeyup="javascript:this.value=Comma(this.value);" data-bind="value: MinTransaction, disable: !$root.IsNewData(), disable: $root.Readonly" class="col-xs-5 col-sm-11 align-right valid" data-rule-required="true" data-rule-number="true" data-rule-maxlength="15" />
                        <label class="control-label bolder text-danger" for="minTrx">*</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="ccy">
                    CCY
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="ccy" name="ccy" data-bind=" options: ddlCCYName, optionsText:'Code', optionsValue: 'ID', optionsCaption: 'Please Select...',value:Currency().ID, disable:$root.Readonly" data-rule-required="true" data-rule-value="true"></select>
                        <label class="control-label bolder text-danger" for="ccy">*</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="product">
                    Product
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="product" name="product" data-rule-required="true" data-rule-value="true" data-bind="value:Product().ID, options: ddlProductName, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Please Select...',event:{change: $root.OnChangeModeProduct }, disable:$root.Readonly"></select>
                        <label class="control-label bolder text-danger" for="product">*</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="UserGroup">
                    User Group
                </label>
                <div class="col-sm-9">
                    <div class="clearfix">
                        <select id="UserGroup" name="UserGroup" data-rule-required="true" data-rule-value="true" data-bind="options: ddlUserGroup, optionsText: 'name', optionsValue: 'id', value: UserGroup,optionsCaption: 'Please Select...', event: { change: $root.OnChangeMode },disable:$root.Readonly "></select>
                        <label class="control-label bolder text-danger" for="UserGroup">*</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label bolder no-padding-right" for="Unlimited">
                    Unlimited
                </label>
                <label class="col-sm-2">
                    <input name="Unlimited" data-bind="checked: Unlimited,disable:$root.Readonly,visible:$root.Readonly()==false" class=" ace ace-switch ace-switch-6" type="checkbox">
                    <span class="lbl"></span>
                </label>
            </div>

        </div>
        <!-- modal body form end -->
    </div>
    <!-- modal body form end -->
</div>